{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/adexchange.buyer": {
                    "description": "Manage your Ad Exchange buyer account configuration"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://adexchangebuyer.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "AdExchangeBuyerII",
    "description": "Accesses the latest features for managing Ad Exchange accounts and Real-Time Bidding configurations and auction metrics.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/ad-exchange/buyer-rest/guides/client-access/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "adexchangebuyer2:v2beta1",
    "kind": "discovery#restDescription",
    "name": "adexchangebuyer2",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "resources": {
                "filterSets": {
                    "methods": {
                        "getBidMetrics": {
                            "description": "Gets all metrics that are measured in terms of number of bids.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.filterSets.getBidMetrics",
                            "parameterOrder": [
                                "accountId",
                                "filterSetId"
                            ],
                            "parameters": {
                                "filterSetId": {
                                    "description": "The ID of the filter set to apply.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/bidMetrics",
                            "response": {
                                "$ref": "BidMetrics"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "description": "Lists all filter sets for the account with the given account ID.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.filterSets.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "Requested page size. The server may return fewer than requested.\nIf unspecified, the server will pick an appropriate default.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilterSetsResponse.nextPageToken\nreturned from the previous call to the\naccounts.rtbBreakout.filterSets.list method.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets",
                            "response": {
                                "$ref": "ListFilterSetsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "description": "Retrieves the requested filter set for the account with the given account\nID.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.filterSets.get",
                            "parameterOrder": [
                                "accountId",
                                "filterSetId"
                            ],
                            "parameters": {
                                "filterSetId": {
                                    "description": "The ID of the filter set to get.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}",
                            "response": {
                                "$ref": "FilterSet"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "create": {
                            "description": "Creates the specified filter set for the account with the given account ID.",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.filterSets.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "isTransient": {
                                    "description": "Whether the filter set is transient, or should be persisted indefinitely.\nBy default, filter sets are not transient.\nIf transient, it will be available for at least 1 hour after creation.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets",
                            "request": {
                                "$ref": "FilterSet"
                            },
                            "response": {
                                "$ref": "FilterSet"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "getImpressionMetrics": {
                            "description": "Gets all metrics that are measured in terms of number of impressions.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.filterSets.getImpressionMetrics",
                            "parameterOrder": [
                                "accountId",
                                "filterSetId"
                            ],
                            "parameters": {
                                "filterSetId": {
                                    "description": "The ID of the filter set to apply.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/impressionMetrics",
                            "response": {
                                "$ref": "ImpressionMetrics"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "delete": {
                            "description": "Deletes the requested filter set from the account with the given account\nID.",
                            "httpMethod": "DELETE",
                            "id": "adexchangebuyer2.accounts.filterSets.delete",
                            "parameterOrder": [
                                "accountId",
                                "filterSetId"
                            ],
                            "parameters": {
                                "filterSetId": {
                                    "description": "The ID of the filter set to delete.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Account ID of the buyer.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    },
                    "resources": {
                        "responsesWithoutBids": {
                            "methods": {
                                "list": {
                                    "description": "List all reasons for which bid responses were considered to have no\napplicable bids, with the number of bid responses affected for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.responsesWithoutBids.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/responsesWithoutBids",
                                    "response": {
                                        "$ref": "ListResponsesWithoutBidsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "responseErrors": {
                            "methods": {
                                "list": {
                                    "description": "List all errors that occurred in bid responses, with the number of bid\nresponses affected for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.responseErrors.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/responseErrors",
                                    "response": {
                                        "$ref": "ListResponseErrorsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "losingBids": {
                            "methods": {
                                "list": {
                                    "description": "List all reasons for which bids lost in the auction, with the number of\nbids that lost for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.losingBids.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/losingBids",
                                    "response": {
                                        "$ref": "ListLosingBidsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "filteredBids": {
                            "methods": {
                                "list": {
                                    "description": "List all reasons for which bids were filtered, with the number of bids\nfiltered for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.filteredBids.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids",
                                    "response": {
                                        "$ref": "ListFilteredBidsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            },
                            "resources": {
                                "creatives": {
                                    "methods": {
                                        "list": {
                                            "description": "List all creatives associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each creative.",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.accounts.filterSets.filteredBids.creatives.list",
                                            "parameterOrder": [
                                                "accountId",
                                                "filterSetId",
                                                "creativeStatusId"
                                            ],
                                            "parameters": {
                                                "filterSetId": {
                                                    "description": "The ID of the filter set to apply.",
                                                    "format": "int32",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "integer"
                                                },
                                                "creativeStatusId": {
                                                    "description": "The ID of the creative status for which to retrieve a breakdown by\ncreative.\nSee creative-status-codes.",
                                                    "format": "int32",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "integer"
                                                },
                                                "pageSize": {
                                                    "description": "Requested page size. The server may return fewer than requested.\nIf unspecified, the server will pick an appropriate default.",
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "accountId": {
                                                    "description": "Account ID of the buyer.",
                                                    "format": "int64",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageToken": {
                                                    "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativeStatusBreakdownByCreativeResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.filteredBids.creatives.list method.",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/creatives",
                                            "response": {
                                                "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "details": {
                                            "methods": {
                                                "list": {
                                                    "description": "List all details associated with a specific reason for which bids were\nfiltered and a specific creative that was filtered for that reason, with\nthe number of bids filtered for each detail.",
                                                    "httpMethod": "GET",
                                                    "id": "adexchangebuyer2.accounts.filterSets.filteredBids.creatives.details.list",
                                                    "parameterOrder": [
                                                        "accountId",
                                                        "filterSetId",
                                                        "creativeStatusId",
                                                        "creativeId"
                                                    ],
                                                    "parameters": {
                                                        "filterSetId": {
                                                            "description": "The ID of the filter set to apply.",
                                                            "format": "int32",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "integer"
                                                        },
                                                        "creativeStatusId": {
                                                            "description": "The ID of the creative status for which to retrieve a breakdown by detail.\nSee creative-status-codes.",
                                                            "format": "int32",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "integer"
                                                        },
                                                        "creativeId": {
                                                            "description": "The creative ID for which to retrieve a breakdown by detail.",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "accountId": {
                                                            "description": "Account ID of the buyer.",
                                                            "format": "int64",
                                                            "location": "path",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/creatives/{creativeId}/details",
                                                    "response": {
                                                        "$ref": "ListCreativeStatusAndCreativeBreakdownByDetailResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "details": {
                                    "methods": {
                                        "list": {
                                            "description": "List all details associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each detail.",
                                            "httpMethod": "GET",
                                            "id": "adexchangebuyer2.accounts.filterSets.filteredBids.details.list",
                                            "parameterOrder": [
                                                "accountId",
                                                "filterSetId",
                                                "creativeStatusId"
                                            ],
                                            "parameters": {
                                                "filterSetId": {
                                                    "description": "The ID of the filter set to apply.",
                                                    "format": "int32",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "integer"
                                                },
                                                "creativeStatusId": {
                                                    "description": "The ID of the creative status for which to retrieve a breakdown by detail.\nSee creative-status-codes.",
                                                    "format": "int32",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "integer"
                                                },
                                                "accountId": {
                                                    "description": "Account ID of the buyer.",
                                                    "format": "int64",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/details",
                                            "response": {
                                                "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/adexchange.buyer"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "filteredImpressions": {
                            "methods": {
                                "list": {
                                    "description": "List all reasons that caused an impression to be filtered (i.e. not\nconsidered as an inventory match), with the number of impressions that were\nfiltered for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.filteredImpressions.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredImpressions",
                                    "response": {
                                        "$ref": "ListFilteredImpressionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "filteredRequests": {
                            "methods": {
                                "list": {
                                    "description": "List all reasons that caused a bid request not to be sent for an\nimpression, with the number of bid requests not sent for each reason.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.filterSets.filteredRequests.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "filterSetId"
                                    ],
                                    "parameters": {
                                        "filterSetId": {
                                            "description": "The ID of the filter set to apply.",
                                            "format": "int32",
                                            "location": "path",
                                            "required": true,
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Account ID of the buyer.",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredRequests",
                                    "response": {
                                        "$ref": "ListFilteredRequestsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        }
                    }
                },
                "clients": {
                    "methods": {
                        "update": {
                            "description": "Updates an existing client buyer.",
                            "httpMethod": "PUT",
                            "id": "adexchangebuyer2.accounts.clients.update",
                            "parameterOrder": [
                                "accountId",
                                "clientAccountId"
                            ],
                            "parameters": {
                                "clientAccountId": {
                                    "description": "Unique numerical account ID of the client to update. (required)",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "accountId": {
                                    "description": "Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to update a client for. (required)",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "request": {
                                "$ref": "Client"
                            },
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "get": {
                            "description": "Gets a client buyer with a given client account ID.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.clients.get",
                            "parameterOrder": [
                                "accountId",
                                "clientAccountId"
                            ],
                            "parameters": {
                                "clientAccountId": {
                                    "description": "Numerical account ID of the client buyer to retrieve. (required)",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "accountId": {
                                    "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "create": {
                            "description": "Creates a new client buyer.",
                            "httpMethod": "POST",
                            "id": "adexchangebuyer2.accounts.clients.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to create a client for. (required)",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients",
                            "request": {
                                "$ref": "Client"
                            },
                            "response": {
                                "$ref": "Client"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        },
                        "list": {
                            "description": "Lists all the clients for the current sponsor buyer.",
                            "httpMethod": "GET",
                            "id": "adexchangebuyer2.accounts.clients.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "accountId": {
                                    "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                                    "format": "int64",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientsResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.list method.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/accounts/{accountId}/clients",
                            "response": {
                                "$ref": "ListClientsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/adexchange.buyer"
                            ]
                        }
                    },
                    "resources": {
                        "users": {
                            "methods": {
                                "update": {
                                    "description": "Updates an existing client user.\nOnly the user status can be changed on update.",
                                    "httpMethod": "PUT",
                                    "id": "adexchangebuyer2.accounts.clients.users.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "userId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "Numerical account ID of the client buyer that the user to be retrieved\nis associated with. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "description": "Numerical identifier of the user to retrieve. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "request": {
                                        "$ref": "ClientUser"
                                    },
                                    "response": {
                                        "$ref": "ClientUser"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "get": {
                                    "description": "Retrieves an existing client user.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.users.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "userId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "Numerical account ID of the client buyer\nthat the user to be retrieved is associated with. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "description": "Numerical identifier of the user to retrieve. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                                    "response": {
                                        "$ref": "ClientUser"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all the known client users for a specified\nsponsor buyer account ID.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.users.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "The account ID of the client buyer to list users for. (required)\nYou must specify either a string representation of a\nnumerical account identifier or the `-` character\nto list all the client users for all the clients\nof a given sponsor buyer.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the sponsor buyer of the client to list users for.\n(required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUsersResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.users.list method.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                                    "response": {
                                        "$ref": "ListClientUsersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        },
                        "invitations": {
                            "methods": {
                                "create": {
                                    "description": "Creates and sends out an email invitation to access\nan Ad Exchange client buyer account.",
                                    "httpMethod": "POST",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "Numerical account ID of the client buyer that the user\nshould be associated with. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "request": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "response": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "get": {
                                    "description": "Retrieves an existing client user invitation.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId",
                                        "invitationId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "Numerical account ID of the client buyer that the user invitation\nto be retrieved is associated with. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "invitationId": {
                                            "description": "Numerical identifier of the user invitation to retrieve. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                                    "response": {
                                        "$ref": "ClientUserInvitation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all the client users invitations for a client\nwith a given account ID.",
                                    "httpMethod": "GET",
                                    "id": "adexchangebuyer2.accounts.clients.invitations.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "clientAccountId"
                                    ],
                                    "parameters": {
                                        "clientAccountId": {
                                            "description": "Numerical account ID of the client buyer to list invitations for.\n(required)\nYou must either specify a string representation of a\nnumerical account identifier or the `-` character\nto list all the invitations for all the clients\nof a given sponsor buyer.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Requested page size. Server may return fewer clients than requested.\nIf unspecified, server will pick an appropriate default.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "accountId": {
                                            "description": "Numerical account ID of the client's sponsor buyer. (required)",
                                            "format": "int64",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUserInvitationsResponse.nextPageToken\nreturned from the previous call to the\nclients.invitations.list\nmethod.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                                    "response": {
                                        "$ref": "ListClientUserInvitationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/adexchange.buyer"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20160714",
    "rootUrl": "https://adexchangebuyer.googleapis.com/",
    "schemas": {
        "BidMetrics": {
            "description": "The set of metrics that are measured in numbers of bids, representing how\nmany bids were considered eligible at each stage of the bidding funnel.",
            "id": "BidMetrics",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "bids": {
                    "description": "The number of bids that Ad Exchange received from the buyer.",
                    "format": "int64",
                    "type": "string"
                },
                "bidsInAuction": {
                    "description": "The number of bids that were permitted to compete in the auction.",
                    "format": "int64",
                    "type": "string"
                },
                "impressionsWon": {
                    "description": "The number of bids that won an impression.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListResponseErrorsResponse": {
            "description": "Response message for listing all reasons that bid responses resulted in an\nerror.",
            "id": "ListResponseErrorsResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all callout status IDs, identifying the error in the bid responses,\nwith their associated impression counts.\nSee callout-status-codes.\nThere is a fixed set of statuses, hence results are not paged.",
                    "items": {
                        "$ref": "CalloutStatusFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClientUser": {
            "description": "A client user is created under a client buyer and has restricted access to\nthe Ad Exchange Marketplace and certain other sections\nof the Ad Exchange Buyer UI based on the role\ngranted to the associated client buyer.\n\nThe only way a new client user can be created is via accepting an\nemail invitation\n(see the\naccounts.clients.invitations.create\nmethod).\n\nAll fields are required unless otherwise specified.",
            "id": "ClientUser",
            "properties": {
                "email": {
                    "description": "User's email address. The value of this field\nis ignored in an update operation.",
                    "type": "string"
                },
                "clientAccountId": {
                    "description": "Numerical account ID of the client buyer\nwith which the user is associated; the\nbuyer must be a client of the current sponsor buyer.\nThe value of this field is ignored in an update operation.",
                    "format": "int64",
                    "type": "string"
                },
                "status": {
                    "description": "The status of the client user.",
                    "enum": [
                        "USER_STATUS_UNSPECIFIED",
                        "PENDING",
                        "ACTIVE",
                        "DISABLED"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined user status.",
                        "A user who was already created but hasn't accepted the invitation yet.",
                        "A user that is currently active.",
                        "A user that is currently disabled."
                    ],
                    "type": "string"
                },
                "userId": {
                    "description": "The unique numerical ID of the client user\nthat has accepted an invitation.\nThe value of this field is ignored in an update operation.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreativeFrequency": {
            "description": "The number of bids for a given creative.",
            "id": "CreativeFrequency",
            "properties": {
                "creativeId": {
                    "description": "The ID of the creative.",
                    "type": "string"
                },
                "bidCount": {
                    "description": "The number of bids associated with the specified creative.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreativeStatusFrequency": {
            "description": "The number of bids with the specified creative status.",
            "id": "CreativeStatusFrequency",
            "properties": {
                "creativeStatusId": {
                    "description": "The ID of the creative status.\nSee creative-status-codes.",
                    "format": "int32",
                    "type": "integer"
                },
                "bidCount": {
                    "description": "The number of bids associated with the specified status.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FilterSet": {
            "description": "A set of filters that is applied to a request for data from the\nRtbTroubleshootingService. Within a filter set, an AND operation is performed\nacross the filters represented by each field. An OR operation is performed\nacross the filters represented by the multiple values of a repeated field.\nE.g.\n\"format=VIDEO AND deal_id=12 AND (web_property_id=34 OR web_property_id=56)\"",
            "id": "FilterSet",
            "properties": {
                "format": {
                    "description": "The format on which to filter; optional.",
                    "enum": [
                        "FORMAT_UNSPECIFIED",
                        "DISPLAY",
                        "VIDEO"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined format; indicates that no format filter\nwill be applied.",
                        "The ad impression is display format (i.e. an image).",
                        "The ad impression is video format."
                    ],
                    "type": "string"
                },
                "relativeDateRange": {
                    "$ref": "RelativeDateRange",
                    "description": "A relative date range, defined by an offset from today and a duration."
                },
                "creativeId": {
                    "description": "The ID of the creative on which to filter; optional.",
                    "type": "string"
                },
                "dealId": {
                    "description": "The ID of the deal on which to filter; optional.",
                    "format": "int64",
                    "type": "string"
                },
                "buyerAccountId": {
                    "description": "The ID of the buyer account on which to filter; optional.",
                    "format": "int64",
                    "type": "string"
                },
                "filterSetOwnerAccountId": {
                    "description": "The account ID of the buyer who owns this filter set.\nThe value of this field is ignored in create operations.",
                    "format": "int64",
                    "type": "string"
                },
                "absoluteDateRange": {
                    "$ref": "AbsoluteDateRange",
                    "description": "An absolute date range, defined by a start date and an end date."
                },
                "webPropertyIds": {
                    "description": "The list of IDs of web properties on which to filter; may be empty.\nThe filters represented by multiple web property IDs are ORed together\n(i.e. if non-empty, results must match any one of the web properties).",
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "platform": {
                    "description": "The platform on which to filter; optional.",
                    "enum": [
                        "PLATFORM_UNSPECIFIED",
                        "DESKTOP",
                        "TABLET_WEB",
                        "TABLET_APP",
                        "MOBILE_WEB",
                        "MOBILE_APP"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined platform; indicates that no platform\nfilter will be applied.",
                        "The ad impression appears on a desktop.",
                        "The ad impression appears on a tablet, on the web.",
                        "The ad impression appears on a tablet, in an app.",
                        "The ad impression appears on a mobile device, on the web.",
                        "The ad impression appears on a mobile device, in an app."
                    ],
                    "type": "string"
                },
                "filterSetId": {
                    "description": "The ID of the filter set; unique within the account of the filter set\nowner.\nThe value of this field is ignored in create operations.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "RelativeDateRange": {
            "description": "A relative date range, specified by an offset and a duration.\nThe supported range of dates begins 30 days before today and ends today.\nI.e. the limits for these values are:\noffset_days >= 0\nduration_days >= 1\noffset_days + duration_days <= 30",
            "id": "RelativeDateRange",
            "properties": {
                "offsetDays": {
                    "description": "The end date of the filter set, specified as the number of days before\ntoday. E.g. for a range where the last date is today, 0.",
                    "format": "int32",
                    "type": "integer"
                },
                "durationDays": {
                    "description": "The number of days in the requested date range. E.g. for a range spanning\ntoday, 1. For a range spanning the last 7 days, 7.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListResponsesWithoutBidsResponse": {
            "description": "Response message for listing all reasons that bid responses were considered\nto have no applicable bids.",
            "id": "ListResponsesWithoutBidsResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all statuses with their associated impression counts.\nThere is a fixed set of statuses, hence results are not paged.",
                    "items": {
                        "$ref": "ResponsesWithoutBidsStatusFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResponsesWithoutBidsStatusFrequency": {
            "description": "The number of impressions for which the corresponding response had no\napplicable bids, as described by the specified status.",
            "id": "ResponsesWithoutBidsStatusFrequency",
            "properties": {
                "impressionCount": {
                    "description": "The number of impressions associated with the specified status.",
                    "format": "int64",
                    "type": "string"
                },
                "status": {
                    "description": "The status that caused the bid response to be considered to have no\napplicable bids.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "RESPONSES_WITHOUT_BIDS",
                        "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
                        "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined status.\nThis value will never be returned in responses.",
                        "The response had no bids.",
                        "The response had no bids for the specified account, though it may have\nincluded bids on behalf of other accounts.",
                        "The response had no bids for the specified deal, though it may have\nincluded bids on other deals on behalf of the account to which the deal\nbelongs."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FilteredImpressionStatusFrequency": {
            "description": "The number of impressions filtered due to the specified status.",
            "id": "FilteredImpressionStatusFrequency",
            "properties": {
                "impressionCount": {
                    "description": "The number of impressions associated with the specified status.",
                    "format": "int64",
                    "type": "string"
                },
                "status": {
                    "description": "The status for which impressions were filtered.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PRETARGETING_CONFIGURATIONS"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined status.\nThis value will never be returned in responses.",
                        "The impression was filtered because it did not match the buyer's\npretargeting configurations."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClientUserInvitation": {
            "description": "An invitation for a new client user to get access to the AdExchange Buyer UI.\n\nAll fields are required unless otherwise specified.",
            "id": "ClientUserInvitation",
            "properties": {
                "email": {
                    "description": "The email address to which the invitation is sent. Email\naddresses should be unique among all client users under each sponsor\nbuyer.",
                    "type": "string"
                },
                "clientAccountId": {
                    "description": "Numerical account ID of the client buyer\nthat the invited user is associated with.\nThe value of this field is ignored in create operations.",
                    "format": "int64",
                    "type": "string"
                },
                "invitationId": {
                    "description": "The unique numerical ID of the invitation that is sent to the user.\nThe value of this field is ignored in create operations.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCreativeStatusBreakdownByCreativeResponse": {
            "description": "Response message for listing all creatives associated with a given filtered\nbid reason.",
            "id": "ListCreativeStatusBreakdownByCreativeResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "creativeStatusId": {
                    "description": "The ID of the creative status that identifies the reason the bid was\nfiltered before the auction.\nSee creative-status-codes.",
                    "format": "int32",
                    "type": "integer"
                },
                "frequencies": {
                    "description": "List of creative IDs with their associated bid counts.",
                    "items": {
                        "$ref": "CreativeFrequency"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results.\nPass this value in the\nListCreativeStatusBreakdownByCreativeRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.filteredBids.creatives.list\nmethod to retrieve the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImpressionMetrics": {
            "description": "The set of metrics that are measured in numbers of impressions, representing\nhow many impressions were considered eligible at each stage of the bidding\nfunnel.",
            "id": "ImpressionMetrics",
            "properties": {
                "responsesWithBids": {
                    "description": "The number of impressions for which Ad Exchange received a response from\nthe buyer that contained at least one applicable bid.",
                    "format": "int64",
                    "type": "string"
                },
                "inventoryMatches": {
                    "description": "The number of impressions that match the buyer's inventory pretargeting.",
                    "format": "int64",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "successfulResponses": {
                    "description": "The number of impressions for which the buyer successfully sent a response\nto Ad Exchange.",
                    "format": "int64",
                    "type": "string"
                },
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "bidRequests": {
                    "description": "The number of impressions for which Ad Exchange sent the buyer a bid\nrequest.",
                    "format": "int64",
                    "type": "string"
                },
                "availableImpressions": {
                    "description": "The number of impressions available to the buyer on Ad Exchange.\nIn some cases this value may be unavailable.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLosingBidsResponse": {
            "description": "Response message for listing all reasons that bids lost in the auction.",
            "id": "ListLosingBidsResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all creative status IDs with their associated bid counts.\nSee creative-status-codes.\nThere is a fixed set of statuses, hence results are not paged.",
                    "items": {
                        "$ref": "CreativeStatusFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListFilteredImpressionsResponse": {
            "description": "Response message for listing all reasons that impressions were filtered (i.e.\nnot considered as an inventory match) for the buyer.",
            "id": "ListFilteredImpressionsResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all statuses identifying the reason the bid request was filtered,\nwith their associated impression counts.\nThere is a fixed set of statuses, hence results are not paged.",
                    "items": {
                        "$ref": "FilteredImpressionStatusFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AbsoluteDateRange": {
            "description": "An absolute date range, specified by its start date and end date.\nThe supported range of dates begins 30 days before today and ends today.\nValidity checked upon filter set creation. If a filter set with an absolute\ndate range is run at a later date more than 30 days after start_date, it will\nfail.",
            "id": "AbsoluteDateRange",
            "properties": {
                "startDate": {
                    "$ref": "Date",
                    "description": "The start date of the range (inclusive).\nMust be within the 30 days leading up to current date, and must be equal to\nor before end_date."
                },
                "endDate": {
                    "$ref": "Date",
                    "description": "The end date of the range (inclusive).\nMust be within the 30 days leading up to current date, and must be equal to\nor after start_date."
                }
            },
            "type": "object"
        },
        "ListFilteredRequestsResponse": {
            "description": "Response message for listing all reasons that bid requests were filtered and\nnot sent to the buyer.",
            "id": "ListFilteredRequestsResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all callout status IDs, identifying the reason the bid request was\nfiltered, with their associated impression counts.\nSee callout-status-codes.\nThere is a fixed set of statuses, hence results are not paged.",
                    "items": {
                        "$ref": "CalloutStatusFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListFilterSetsResponse": {
            "description": "Response message for listing filter sets.",
            "id": "ListFilterSetsResponse",
            "properties": {
                "filterSets": {
                    "description": "The filter sets belonging to the buyer.",
                    "items": {
                        "$ref": "FilterSet"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results.\nPass this value in the\nListFilterSetsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.list\nmethod to retrieve the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListClientUserInvitationsResponse": {
            "id": "ListClientUserInvitationsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results.\nPass this value in the\nListClientUserInvitationsRequest.pageToken\nfield in the subsequent call to the\nclients.invitations.list\nmethod to retrieve the next\npage of results.",
                    "type": "string"
                },
                "invitations": {
                    "description": "The returned list of client users.",
                    "items": {
                        "$ref": "ClientUserInvitation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CalloutStatusFrequency": {
            "description": "The number of impressions for which the corresponding callouts had the\nspecified status.",
            "id": "CalloutStatusFrequency",
            "properties": {
                "impressionCount": {
                    "description": "The number of impressions associated with the specified status.",
                    "format": "int64",
                    "type": "string"
                },
                "calloutStatusId": {
                    "description": "The ID of the callout status.\nSee callout-status-codes.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DetailFrequency": {
            "description": "The number of bids, among those with a given creative status, that had the\nspecified detail.",
            "id": "DetailFrequency",
            "properties": {
                "detailId": {
                    "description": "The ID of the detail. The associated value can be looked up in the\ndictionary file corresponding to the DetailType in the response message.",
                    "format": "int32",
                    "type": "integer"
                },
                "bidCount": {
                    "description": "The number of bids associated with the specified detail.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCreativeStatusAndCreativeBreakdownByDetailResponse": {
            "description": "Response message for listing all details associated with a given filtered bid\nreason and a given creative.",
            "id": "ListCreativeStatusAndCreativeBreakdownByDetailResponse",
            "properties": {
                "creativeId": {
                    "description": "The ID of the creative associated with a bid filtered from the auction.",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "detailType": {
                    "description": "The type of detail that the detail IDs represent.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CREATIVE_ATTRIBUTE",
                        "VENDOR",
                        "SENSITIVE_CATEGORY",
                        "PRODUCT_CATEGORY"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined status.\nThis value will never be returned in responses.",
                        "Indicates that the detail ID refers to a creative attribute; see\npublisher-excludable-creative-attributes.",
                        "Indicates that the detail ID refers to a vendor; see\nvendors.",
                        "Indicates that the detail ID refers to a sensitive category; see\nad-sensitive-categories.",
                        "Indicates that the detail ID refers to a product category; see\nad-product-categories."
                    ],
                    "type": "string"
                },
                "frequencies": {
                    "description": "List of all detail IDs with their associated bid counts.\nThere is a fixed set of details, hence results are not paged.",
                    "items": {
                        "$ref": "DetailFrequency"
                    },
                    "type": "array"
                },
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "creativeStatusId": {
                    "description": "The ID of the creative status that identifies the reason the bid was\nfiltered before the auction.\nSee creative-status-codes.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "ListClientUsersResponse": {
            "id": "ListClientUsersResponse",
            "properties": {
                "users": {
                    "description": "The returned list of client users.",
                    "items": {
                        "$ref": "ClientUser"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results.\nPass this value in the\nListClientUsersRequest.pageToken\nfield in the subsequent call to the\nclients.invitations.list\nmethod to retrieve the next\npage of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCreativeStatusBreakdownByDetailResponse": {
            "description": "Response message for listing all details associated with a given filtered bid\nreason.",
            "id": "ListCreativeStatusBreakdownByDetailResponse",
            "properties": {
                "startTime": {
                    "description": "The timestamp marking the start of the range (inclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "The timestamp marking the end of the range (exclusive) for which data is\nincluded.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "creativeStatusId": {
                    "description": "The ID of the creative status that identifies the reason the bid was\nfiltered before the auction.\nSee creative-status-codes.",
                    "format": "int32",
                    "type": "integer"
                },
                "frequencies": {
                    "description": "List of all detail IDs with their associated bid counts.\nThere is a fixed set of details, hence results are not paged.",
                    "items": {
                        "$ref": "DetailFrequency"
                    },
                    "type": "array"
                },
                "detailType": {
                    "description": "The type of detail that the detail IDs represent.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CREATIVE_ATTRIBUTE",
                        "VENDOR",
                        "SENSITIVE_CATEGORY",
                        "PRODUCT_CATEGORY"
                    ],
                    "enumDescriptions": [
                        "A placeholder for an undefined status.\nThis value will never be returned in responses.",
                        "Indicates that the detail ID refers to a creative attribute; see\npublisher-excludable-creative-attributes.",
                        "Indicates that the detail ID refers to a vendor; see\nvendors.",
                        "Indicates that the detail ID refers to a sensitive category; see\nad-sensitive-categories.",
                        "Indicates that the detail ID refers to a product category; see\nad-product-categories."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Client": {
[...]
