{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://clouderrorreporting.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Clouderrorreporting",
    "description": "Stackdriver Error Reporting groups and counts similar errors from cloud services. The Stackdriver Error Reporting API provides a way to report new errors and read access to error groups and their associated errors.\n",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/error-reporting/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "clouderrorreporting:v1beta1",
    "kind": "discovery#restDescription",
    "name": "clouderrorreporting",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "deleteEvents": {
                    "description": "Deletes all error events of a given project.",
                    "httpMethod": "DELETE",
                    "id": "clouderrorreporting.projects.deleteEvents",
                    "parameterOrder": [
                        "projectName"
                    ],
                    "parameters": {
                        "projectName": {
                            "description": "[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.",
                            "location": "path",
                            "pattern": "^projects/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+projectName}/events",
                    "response": {
                        "$ref": "DeleteEventsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "events": {
                    "methods": {
                        "list": {
                            "description": "Lists the specified events.",
                            "httpMethod": "GET",
                            "id": "clouderrorreporting.projects.events.list",
                            "parameterOrder": [
                                "projectName"
                            ],
                            "parameters": {
                                "timeRange.period": {
                                    "description": "Restricts the query to the specified time range.",
                                    "enum": [
                                        "PERIOD_UNSPECIFIED",
                                        "PERIOD_1_HOUR",
                                        "PERIOD_6_HOURS",
                                        "PERIOD_1_DAY",
                                        "PERIOD_1_WEEK",
                                        "PERIOD_30_DAYS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectName": {
                                    "description": "[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "serviceFilter.service": {
                                    "description": "[Optional] The exact value to match against\n[`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "groupId": {
                                    "description": "[Required] The group for which events shall be returned.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "serviceFilter.version": {
                                    "description": "[Optional] The exact value to match against\n[`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "[Optional] The maximum number of results to return per response.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "[Optional] A `next_page_token` provided by a previous response.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+projectName}/events",
                            "response": {
                                "$ref": "ListEventsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "report": {
                            "description": "Report an individual error event.\n\nThis endpoint accepts <strong>either</strong> an OAuth token,\n<strong>or</strong> an\n<a href=\"https://support.google.com/cloud/answer/6158862\">API key</a>\nfor authentication. To use an API key, append it to the URL as the value of\na `key` parameter. For example:\n<pre>POST https://clouderrorreporting.googleapis.com/v1beta1/projects/example-project/events:report?key=123ABC456</pre>",
                            "httpMethod": "POST",
                            "id": "clouderrorreporting.projects.events.report",
                            "parameterOrder": [
                                "projectName"
                            ],
                            "parameters": {
                                "projectName": {
                                    "description": "[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+projectName}/events:report",
                            "request": {
                                "$ref": "ReportedErrorEvent"
                            },
                            "response": {
                                "$ref": "ReportErrorEventResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "groups": {
                    "methods": {
                        "update": {
                            "description": "Replace the data for the specified group.\nFails if the group does not exist.",
                            "httpMethod": "PUT",
                            "id": "clouderrorreporting.projects.groups.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The group resource name.\nExample: <code>projects/my-project-123/groups/my-groupid</code>",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*/groups/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "ErrorGroup"
                            },
                            "response": {
                                "$ref": "ErrorGroup"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Get the specified group.",
                            "httpMethod": "GET",
                            "id": "clouderrorreporting.projects.groups.get",
                            "parameterOrder": [
                                "groupName"
                            ],
                            "parameters": {
                                "groupName": {
                                    "description": "[Required] The group resource name. Written as\n<code>projects/<var>projectID</var>/groups/<var>group_name</var></code>.\nCall\n<a href=\"/error-reporting/reference/rest/v1beta1/projects.groupStats/list\">\n<code>groupStats.list</code></a> to return a list of groups belonging to\nthis project.\n\nExample: <code>projects/my-project-123/groups/my-group</code>",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*/groups/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+groupName}",
                            "response": {
                                "$ref": "ErrorGroup"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                },
                "groupStats": {
                    "methods": {
                        "list": {
                            "description": "Lists the specified groups.",
                            "httpMethod": "GET",
                            "id": "clouderrorreporting.projects.groupStats.list",
                            "parameterOrder": [
                                "projectName"
                            ],
                            "parameters": {
                                "alignment": {
                                    "description": "[Optional] The alignment of the timed counts to be returned.\nDefault is `ALIGNMENT_EQUAL_AT_END`.",
                                    "enum": [
                                        "ERROR_COUNT_ALIGNMENT_UNSPECIFIED",
                                        "ALIGNMENT_EQUAL_ROUNDED",
                                        "ALIGNMENT_EQUAL_AT_END"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "timeRange.period": {
                                    "description": "Restricts the query to the specified time range.",
                                    "enum": [
                                        "PERIOD_UNSPECIFIED",
                                        "PERIOD_1_HOUR",
                                        "PERIOD_6_HOURS",
                                        "PERIOD_1_DAY",
                                        "PERIOD_1_WEEK",
                                        "PERIOD_30_DAYS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectName": {
                                    "description": "[Required] The resource name of the Google Cloud Platform project. Written\nas <code>projects/</code> plus the\n<a href=\"https://support.google.com/cloud/answer/6158840\">Google Cloud\nPlatform project ID</a>.\n\nExample: <code>projects/my-project-123</code>.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "order": {
                                    "description": "[Optional] The sort order in which the results are returned.\nDefault is `COUNT_DESC`.",
                                    "enum": [
                                        "GROUP_ORDER_UNSPECIFIED",
                                        "COUNT_DESC",
                                        "LAST_SEEN_DESC",
                                        "CREATED_DESC",
                                        "AFFECTED_USERS_DESC"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "groupId": {
                                    "description": "[Optional] List all <code>ErrorGroupStats</code> with these IDs.\nIf not specified, all error group stats with a non-zero error count\nfor the given selection criteria are returned.",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "serviceFilter.service": {
                                    "description": "[Optional] The exact value to match against\n[`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "alignmentTime": {
                                    "description": "[Optional] Time where the timed counts shall be aligned if rounded\nalignment is chosen. Default is 00:00 UTC.",
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "serviceFilter.version": {
                                    "description": "[Optional] The exact value to match against\n[`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "[Optional] The maximum number of results to return per response.\nDefault is 20.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "timedCountDuration": {
                                    "description": "[Optional] The preferred duration for a single returned `TimedCount`.\nIf not set, no timed counts are returned.",
                                    "format": "google-duration",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "[Optional] A `next_page_token` provided by a previous response. To view\nadditional results, pass this token along with the identical query\nparameters as the first request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+projectName}/groupStats",
                            "response": {
                                "$ref": "ListGroupStatsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "revision": "20160720",
    "rootUrl": "https://clouderrorreporting.googleapis.com/",
    "schemas": {
        "ReportedErrorEvent": {
            "description": "An error event which is reported to the Error Reporting system.",
            "id": "ReportedErrorEvent",
            "properties": {
                "serviceContext": {
                    "$ref": "ServiceContext",
                    "description": "[Required] The service context in which this error has occurred."
                },
                "context": {
                    "$ref": "ErrorContext",
                    "description": "[Optional] A description of the context in which the error occurred."
                },
                "eventTime": {
                    "description": "[Optional] Time when the event occurred.\nIf not provided, the time when the event was received by the\nError Reporting system will be used.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "message": {
                    "description": "[Required] A message describing the error. The message can contain an\nexception stack in one of the supported programming languages and formats.\nIn that case, the message is parsed and detailed exception information\nis returned when retrieving the error event again.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceLocation": {
            "description": "Indicates a location in the source code of the service for which\nerrors are reported.\nThis data should be provided by the application when reporting an error,\nunless the error report has been generated automatically from Google App\nEngine logs. All fields are optional.",
            "id": "SourceLocation",
            "properties": {
                "filePath": {
                    "description": "The source code filename, which can include a truncated relative\npath, or a full path from a production machine.",
                    "type": "string"
                },
                "functionName": {
                    "description": "Human-readable name of a function or method.\nThe value can include optional context like the class or package name.\nFor example, `my.package.MyClass.method` in case of Java.",
                    "type": "string"
                },
                "lineNumber": {
                    "description": "1-based. 0 indicates that the line number is unknown.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ErrorGroupStats": {
            "description": "Data extracted for a specific group based on certain selection criteria,\nsuch as a given time period and/or service filter.",
            "id": "ErrorGroupStats",
            "properties": {
                "representative": {
                    "$ref": "ErrorEvent",
                    "description": "An arbitrary event that is chosen as representative for the whole group.\nThe representative event is intended to be used as a quick preview for\nthe whole group. Events in the group are usually sufficiently similar\nto each other such that showing an arbitrary representative provides\ninsight into the characteristics of the group as a whole."
                },
                "numAffectedServices": {
                    "description": "The total number of services with a non-zero error count for the given\nselection criteria.",
                    "format": "int32",
                    "type": "integer"
                },
                "affectedUsersCount": {
                    "description": "Approximate number of affected users in the given group that\nmatch the selection criteria.\nUsers are distinguished by data in the `ErrorContext` of the\nindividual error events, such as their login name or their remote\nIP address in case of HTTP requests.\nThe number of affected users can be zero even if the number of\nerrors is non-zero if no data was provided from which the\naffected user could be deduced.\nUsers are counted based on data in the request\ncontext that was provided in the error report. If more users are\nimplicitly affected, such as due to a crash of the whole service,\nthis is not reflected here.",
                    "format": "int64",
                    "type": "string"
                },
                "count": {
                    "description": "Approximate total number of events in the given group that match\nthe selection criteria.",
                    "format": "int64",
                    "type": "string"
                },
                "firstSeenTime": {
                    "description": "Approximate first occurrence that was seen for this group and\nwhich matches the given selection criteria.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "lastSeenTime": {
                    "description": "Approximate last occurrence that was seen for this group\nand which matches the given selection criteria.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "group": {
                    "$ref": "ErrorGroup",
                    "description": "Group data that is independent of the selection criteria."
                },
                "affectedServices": {
                    "description": "Service contexts with a non-zero error count for the given selection\ncriteria. This list can be truncated if multiple services are affected.\nRefer to `num_affected_services` for the total count.",
                    "items": {
                        "$ref": "ServiceContext"
                    },
                    "type": "array"
                },
                "timedCounts": {
                    "description": "Approximate number of occurrences over time.\nTimed counts returned by ListGroups are guaranteed to be:\n\n- Inside the requested time interval\n- Non-overlapping, and\n- Ordered by ascending time.",
                    "items": {
                        "$ref": "TimedCount"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ErrorContext": {
            "description": "A description of the context in which an error occurred.\nThis data should be provided by the application when reporting an error,\nunless the\nerror report has been generated automatically from Google App Engine logs.",
            "id": "ErrorContext",
            "properties": {
                "httpRequest": {
                    "$ref": "HttpRequestContext",
                    "description": "The HTTP request which was processed when the error was\ntriggered."
                },
                "reportLocation": {
                    "$ref": "SourceLocation",
                    "description": "The location in the source code where the decision was made to\nreport the error, usually the place where it was logged.\nFor a logged exception this would be the source line where the\nexception is logged, usually close to the place where it was\ncaught. This value is in contrast to `Exception.cause_location`,\nwhich describes the source line where the exception was thrown."
                },
                "user": {
                    "description": "The user who caused or was affected by the crash.\nThis can be a user ID, an email address, or an arbitrary token that\nuniquely identifies the user.\nWhen sending an error report, leave this field empty if the user was not\nlogged in. In this case the\nError Reporting system will use other data, such as remote IP address, to\ndistinguish affected users. See `affected_users_count` in\n`ErrorGroupStats`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceContext": {
            "description": "Describes a running service that sends errors.\nIts version changes over time and multiple versions can run in parallel.",
            "id": "ServiceContext",
            "properties": {
                "service": {
                    "description": "An identifier of the service, such as the name of the\nexecutable, job, or Google App Engine service name. This field is expected\nto have a low number of values that are relatively stable over time, as\nopposed to `version`, which can be changed whenever new code is deployed.\n\nContains the service name for error reports extracted from Google\nApp Engine logs or `default` if the App Engine default service is used.",
                    "type": "string"
                },
                "version": {
                    "description": "Represents the source code version that the developer provided,\nwhich could represent a version label or a Git SHA-1 hash, for example.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ErrorGroup": {
            "description": "Description of a group of similar error events.",
            "id": "ErrorGroup",
            "properties": {
                "groupId": {
                    "description": "Group IDs are unique for a given project. If the same kind of error\noccurs in different service contexts, it will receive the same group ID.",
                    "type": "string"
                },
                "name": {
                    "description": "The group resource name.\nExample: <code>projects/my-project-123/groups/my-groupid</code>",
                    "type": "string"
                },
                "trackingIssues": {
                    "description": "Associated tracking issues.",
                    "items": {
                        "$ref": "TrackingIssue"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ReportErrorEventResponse": {
            "description": "Response for reporting an individual error event.\nData may be added to this message in the future.",
            "id": "ReportErrorEventResponse",
            "properties": {},
            "type": "object"
        },
        "TrackingIssue": {
            "description": "Information related to tracking the progress on resolving the error.",
            "id": "TrackingIssue",
            "properties": {
                "url": {
                    "description": "A URL pointing to a related entry in an issue tracking system.\nExample: https://github.com/user/project/issues/4",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteEventsResponse": {
            "description": "Response message for deleting error events.",
            "id": "DeleteEventsResponse",
            "properties": {},
            "type": "object"
        },
        "ErrorEvent": {
            "description": "An error event which is returned by the Error Reporting system.",
            "id": "ErrorEvent",
            "properties": {
                "serviceContext": {
                    "$ref": "ServiceContext",
                    "description": "The `ServiceContext` for which this error was reported."
                },
                "context": {
                    "$ref": "ErrorContext",
                    "description": "Data about the context in which the error occurred."
                },
                "eventTime": {
                    "description": "Time when the event occurred as provided in the error report.\nIf the report did not contain a timestamp, the time the error was received\nby the Error Reporting system is used.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "message": {
                    "description": "The stack trace that was reported or logged by the service.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListEventsResponse": {
            "description": "Contains a set of requested error events.",
            "id": "ListEventsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If non-empty, more results are available.\nPass this token, along with the same query parameters as the first\nrequest, to view the next page of results.",
                    "type": "string"
                },
                "errorEvents": {
                    "description": "The error events which match the given request.",
                    "items": {
                        "$ref": "ErrorEvent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TimedCount": {
            "description": "The number of errors in a given time period.\nAll numbers are approximate since the error events are sampled\nbefore counting them.",
            "id": "TimedCount",
            "properties": {
                "startTime": {
                    "description": "Start of the time period to which `count` refers (included).",
                    "format": "google-datetime",
                    "type": "string"
                },
                "endTime": {
                    "description": "End of the time period to which `count` refers (excluded).",
                    "format": "google-datetime",
                    "type": "string"
                },
                "count": {
                    "description": "Approximate number of occurrences in the given time period.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HttpRequestContext": {
            "description": "HTTP request data that is related to a reported error.\nThis data should be provided by the application when reporting an error,\nunless the\nerror report has been generated automatically from Google App Engine logs.",
            "id": "HttpRequestContext",
            "properties": {
                "method": {
                    "description": "The type of HTTP request, such as `GET`, `POST`, etc.",
                    "type": "string"
                },
                "responseStatusCode": {
                    "description": "The HTTP response status code for the request.",
                    "format": "int32",
                    "type": "integer"
                },
                "remoteIp": {
                    "description": "The IP address from which the request originated.\nThis can be IPv4, IPv6, or a token which is derived from the\nIP address, depending on the data that has been provided\nin the error report.",
                    "type": "string"
                },
                "url": {
                    "description": "The URL of the request.",
                    "type": "string"
                },
                "referrer": {
                    "description": "The referrer information that is provided with the request.",
                    "type": "string"
                },
                "userAgent": {
                    "description": "The user agent information that is provided with the request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListGroupStatsResponse": {
            "description": "Contains a set of requested error group stats.",
            "id": "ListGroupStatsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If non-empty, more results are available.\nPass this token, along with the same query parameters as the first\nrequest, to view the next page of results.",
                    "type": "string"
                },
                "errorGroupStats": {
                    "description": "The error group stats which match the given request.",
                    "items": {
                        "$ref": "ErrorGroupStats"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Stackdriver Error Reporting API",
    "version": "v1beta1"
}