{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/userinfo.email": {
                    "description": "View your email address"
                }
            }
        }
    },
    "basePath": "/dataflow/v1b3/projects/",
    "baseUrl": "https://www.googleapis.com/dataflow/v1b3/projects/",
    "batchPath": "batch",
    "description": "Google Dataflow API.",
    "discoveryVersion": "v1",
    "documentationLink": "",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/p23x-gNsMm8R6x-RDoeYGjGvTE0\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dataflow:v1beta3",
    "kind": "discovery#restDescription",
    "name": "dataflow",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "v1b3": {
            "resources": {
                "projects": {
                    "resources": {
                        "jobs": {
                            "methods": {
                                "create": {
                                    "description": "Creates a dataflow job.",
                                    "httpMethod": "POST",
                                    "id": "dataflow.v1b3.projects.jobs.create",
                                    "parameterOrder": [
                                        "projectId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_UNKNOWN"
                                            ],
                                            "enumDescriptions": [
                                                "",
                                                "",
                                                ""
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the state of the specified dataflow job.",
                                    "httpMethod": "GET",
                                    "id": "dataflow.v1b3.projects.jobs.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_UNKNOWN"
                                            ],
                                            "enumDescriptions": [
                                                "",
                                                "",
                                                ""
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs/{jobId}",
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "getMetrics": {
                                    "description": "Request the job status.",
                                    "httpMethod": "GET",
                                    "id": "dataflow.v1b3.projects.jobs.getMetrics",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs/{jobId}/metrics",
                                    "response": {
                                        "$ref": "JobMetrics"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "list": {
                                    "description": "List the jobs of a project",
                                    "httpMethod": "GET",
                                    "id": "dataflow.v1b3.projects.jobs.list",
                                    "parameterOrder": [
                                        "projectId"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "enum": [
                                                "JOB_VIEW_ALL",
                                                "JOB_VIEW_SUMMARY",
                                                "JOB_VIEW_UNKNOWN"
                                            ],
                                            "enumDescriptions": [
                                                "",
                                                "",
                                                ""
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs",
                                    "response": {
                                        "$ref": "ListJobsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the state of an existing dataflow job. This method supports patch semantics.",
                                    "httpMethod": "PATCH",
                                    "id": "dataflow.v1b3.projects.jobs.patch",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs/{jobId}",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "update": {
                                    "description": "Updates the state of an existing dataflow job.",
                                    "httpMethod": "PUT",
                                    "id": "dataflow.v1b3.projects.jobs.update",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "jobId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "projectId": {
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "{projectId}/jobs/{jobId}",
                                    "request": {
                                        "$ref": "Job"
                                    },
                                    "response": {
                                        "$ref": "Job"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            },
                            "resources": {
                                "messages": {
                                    "methods": {
                                        "list": {
                                            "description": "Request the job status.",
                                            "httpMethod": "GET",
                                            "id": "dataflow.v1b3.projects.jobs.messages.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "endTime": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "minimumImportance": {
                                                    "enum": [
                                                        "JOB_MESSAGE_DEBUG",
                                                        "JOB_MESSAGE_DETAILED",
                                                        "JOB_MESSAGE_ERROR",
                                                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                                                        "JOB_MESSAGE_WARNING"
                                                    ],
                                                    "enumDescriptions": [
                                                        "",
                                                        "",
                                                        "",
                                                        "",
                                                        ""
                                                    ],
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "pageToken": {
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/jobs/{jobId}/messages",
                                            "response": {
                                                "$ref": "ListJobMessagesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                },
                                "workItems": {
                                    "methods": {
                                        "lease": {
                                            "description": "Leases a dataflow WorkItem to run.",
                                            "httpMethod": "POST",
                                            "id": "dataflow.v1b3.projects.jobs.workItems.lease",
                                            "parameterOrder": [
                                                "projectId",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/jobs/{jobId}/workItems:lease",
                                            "request": {
                                                "$ref": "LeaseWorkItemRequest"
                                            },
                                            "response": {
                                                "$ref": "LeaseWorkItemResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        },
                                        "reportStatus": {
                                            "description": "Reports the status of dataflow WorkItems leased by a worker.",
                                            "httpMethod": "POST",
                                            "id": "dataflow.v1b3.projects.jobs.workItems.reportStatus",
                                            "parameterOrder": [
                                                "projectId",
                                                "jobId"
                                            ],
                                            "parameters": {
                                                "jobId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "projectId": {
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "{projectId}/jobs/{jobId}/workItems:reportStatus",
                                            "request": {
                                                "$ref": "ReportWorkItemStatusRequest"
                                            },
                                            "response": {
                                                "$ref": "ReportWorkItemStatusResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/userinfo.email"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20150130",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "ApproximateProgress": {
            "id": "ApproximateProgress",
            "properties": {
                "percentComplete": {
                    "format": "float",
                    "type": "number"
                },
                "position": {
                    "$ref": "Position"
                },
                "remainingTime": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoscalingSettings": {
            "id": "AutoscalingSettings",
            "properties": {
                "algorithm": {
                    "enum": [
                        "AUTOSCALING_ALGORITHM_BASIC",
                        "AUTOSCALING_ALGORITHM_NONE",
                        "AUTOSCALING_ALGORITHM_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "maxNumWorkers": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ComputationTopology": {
            "id": "ComputationTopology",
            "properties": {
                "computationId": {
                    "type": "string"
                },
                "inputs": {
                    "items": {
                        "$ref": "StreamLocation"
                    },
                    "type": "array"
                },
                "keyRanges": {
                    "items": {
                        "$ref": "KeyRangeLocation"
                    },
                    "type": "array"
                },
                "outputs": {
                    "items": {
                        "$ref": "StreamLocation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DataDiskAssignment": {
            "id": "DataDiskAssignment",
            "properties": {
                "dataDisks": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "vmInstance": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Disk": {
            "id": "Disk",
            "properties": {
                "diskType": {
                    "type": "string"
                },
                "mountPoint": {
                    "type": "string"
                },
                "sizeGb": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Environment": {
            "id": "Environment",
            "properties": {
                "clusterManagerApiService": {
                    "type": "string"
                },
                "dataset": {
                    "type": "string"
                },
                "experiments": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "sdkPipelineOptions": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "tempStoragePrefix": {
                    "type": "string"
                },
                "userAgent": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "version": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "workerPools": {
                    "items": {
                        "$ref": "WorkerPool"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FlattenInstruction": {
            "id": "FlattenInstruction",
            "properties": {
                "inputs": {
                    "items": {
                        "$ref": "InstructionInput"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleprotobufValue": {
            "id": "GoogleprotobufValue",
            "type": "any"
        },
        "InstructionInput": {
            "id": "InstructionInput",
            "properties": {
                "outputNum": {
                    "format": "int32",
                    "type": "integer"
                },
                "producerInstructionIndex": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "InstructionOutput": {
            "id": "InstructionOutput",
            "properties": {
                "codec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Job": {
            "id": "Job",
            "properties": {
                "createTime": {
                    "type": "string"
                },
                "currentState": {
                    "enum": [
                        "JOB_STATE_CANCELLED",
                        "JOB_STATE_DONE",
                        "JOB_STATE_FAILED",
                        "JOB_STATE_RUNNING",
                        "JOB_STATE_STOPPED",
                        "JOB_STATE_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "currentStateTime": {
                    "type": "string"
                },
                "environment": {
                    "$ref": "Environment"
                },
                "executionInfo": {
                    "$ref": "JobExecutionInfo"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "projectId": {
                    "type": "string"
                },
                "requestedState": {
                    "enum": [
                        "JOB_STATE_CANCELLED",
                        "JOB_STATE_DONE",
                        "JOB_STATE_FAILED",
                        "JOB_STATE_RUNNING",
                        "JOB_STATE_STOPPED",
                        "JOB_STATE_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "steps": {
                    "items": {
                        "$ref": "Step"
                    },
                    "type": "array"
                },
                "type": {
                    "enum": [
                        "JOB_TYPE_BATCH",
                        "JOB_TYPE_STREAMING",
                        "JOB_TYPE_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobExecutionInfo": {
            "id": "JobExecutionInfo",
            "properties": {
                "stages": {
                    "additionalProperties": {
                        "$ref": "JobExecutionStageInfo"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "JobExecutionStageInfo": {
            "id": "JobExecutionStageInfo",
            "properties": {
                "stepName": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "JobMessage": {
            "id": "JobMessage",
            "properties": {
                "id": {
                    "type": "string"
                },
                "messageImportance": {
                    "enum": [
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_ERROR",
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_WARNING"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "messageText": {
                    "type": "string"
                },
                "time": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobMetrics": {
            "id": "JobMetrics",
            "properties": {
                "metricTime": {
                    "type": "string"
                },
                "metrics": {
                    "items": {
                        "$ref": "MetricUpdate"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "KeyRangeLocation": {
            "id": "KeyRangeLocation",
            "properties": {
                "dataDisk": {
                    "type": "string"
                },
                "deliveryEndpoint": {
                    "type": "string"
                },
                "end": {
                    "type": "string"
                },
                "persistentDirectory": {
                    "type": "string"
                },
                "start": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaseWorkItemRequest": {
            "id": "LeaseWorkItemRequest",
            "properties": {
                "currentWorkerTime": {
                    "type": "string"
                },
                "requestedLeaseDuration": {
                    "type": "string"
                },
                "workItemTypes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "workerCapabilities": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "workerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LeaseWorkItemResponse": {
            "id": "LeaseWorkItemResponse",
            "properties": {
                "workItems": {
                    "items": {
                        "$ref": "WorkItem"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListJobMessagesResponse": {
            "id": "ListJobMessagesResponse",
            "properties": {
                "jobMessages": {
                    "items": {
                        "$ref": "JobMessage"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListJobsResponse": {
            "id": "ListJobsResponse",
            "properties": {
                "jobs": {
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MapTask": {
            "id": "MapTask",
            "properties": {
                "instructions": {
                    "items": {
                        "$ref": "ParallelInstruction"
                    },
                    "type": "array"
                },
                "stageName": {
                    "type": "string"
                },
                "systemName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricStructuredName": {
            "id": "MetricStructuredName",
            "properties": {
                "context": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "name": {
                    "type": "string"
                },
                "origin": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricUpdate": {
            "id": "MetricUpdate",
            "properties": {
                "cumulative": {
                    "type": "boolean"
                },
                "internal": {
                    "$ref": "GoogleprotobufValue"
                },
                "kind": {
                    "type": "string"
                },
                "meanCount": {
                    "$ref": "GoogleprotobufValue"
                },
                "meanSum": {
                    "$ref": "GoogleprotobufValue"
                },
                "name": {
                    "$ref": "MetricStructuredName"
                },
                "scalar": {
                    "$ref": "GoogleprotobufValue"
                },
                "set": {
                    "$ref": "GoogleprotobufValue"
                },
                "updateTime": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MultiOutputInfo": {
            "id": "MultiOutputInfo",
            "properties": {
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Package": {
            "id": "Package",
            "properties": {
                "location": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ParDoInstruction": {
            "id": "ParDoInstruction",
            "properties": {
                "input": {
                    "$ref": "InstructionInput"
                },
                "multiOutputInfos": {
                    "items": {
                        "$ref": "MultiOutputInfo"
                    },
                    "type": "array"
                },
                "numOutputs": {
                    "format": "int32",
                    "type": "integer"
                },
                "sideInputs": {
                    "items": {
                        "$ref": "SideInputInfo"
                    },
                    "type": "array"
                },
                "userFn": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ParallelInstruction": {
            "id": "ParallelInstruction",
            "properties": {
                "flatten": {
                    "$ref": "FlattenInstruction"
                },
                "name": {
                    "type": "string"
                },
                "outputs": {
                    "items": {
                        "$ref": "InstructionOutput"
                    },
                    "type": "array"
                },
                "parDo": {
                    "$ref": "ParDoInstruction"
                },
                "partialGroupByKey": {
                    "$ref": "PartialGroupByKeyInstruction"
                },
                "read": {
                    "$ref": "ReadInstruction"
                },
                "systemName": {
                    "type": "string"
                },
                "write": {
                    "$ref": "WriteInstruction"
                }
            },
            "type": "object"
        },
        "PartialGroupByKeyInstruction": {
            "id": "PartialGroupByKeyInstruction",
            "properties": {
                "input": {
                    "$ref": "InstructionInput"
                },
                "inputElementCodec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Position": {
            "id": "Position",
            "properties": {
                "byteOffset": {
                    "format": "int64",
                    "type": "string"
                },
                "end": {
                    "type": "boolean"
                },
                "key": {
                    "type": "string"
                },
                "recordIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "shufflePosition": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PubsubLocation": {
            "id": "PubsubLocation",
            "properties": {
                "dropLateData": {
                    "type": "boolean"
                },
                "idLabel": {
                    "type": "string"
                },
                "subscription": {
                    "type": "string"
                },
                "timestampLabel": {
                    "type": "string"
                },
                "topic": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReadInstruction": {
            "id": "ReadInstruction",
            "properties": {
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "ReportWorkItemStatusRequest": {
            "id": "ReportWorkItemStatusRequest",
            "properties": {
                "currentWorkerTime": {
                    "type": "string"
                },
                "workItemStatuses": {
                    "items": {
                        "$ref": "WorkItemStatus"
                    },
                    "type": "array"
                },
                "workerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReportWorkItemStatusResponse": {
            "id": "ReportWorkItemStatusResponse",
            "properties": {
                "workItemServiceStates": {
                    "items": {
                        "$ref": "WorkItemServiceState"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SeqMapTask": {
            "id": "SeqMapTask",
            "properties": {
                "inputs": {
                    "items": {
                        "$ref": "SideInputInfo"
                    },
                    "type": "array"
                },
                "name": {
                    "type": "string"
                },
                "outputInfos": {
                    "items": {
                        "$ref": "SeqMapTaskOutputInfo"
                    },
                    "type": "array"
                },
                "stageName": {
                    "type": "string"
                },
                "systemName": {
                    "type": "string"
                },
                "userFn": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SeqMapTaskOutputInfo": {
            "id": "SeqMapTaskOutputInfo",
            "properties": {
                "sink": {
                    "$ref": "Sink"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ShellTask": {
            "id": "ShellTask",
            "properties": {
                "command": {
                    "type": "string"
                },
                "exitCode": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SideInputInfo": {
            "id": "SideInputInfo",
            "properties": {
                "kind": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "sources": {
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                },
                "tag": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Sink": {
            "id": "Sink",
            "properties": {
                "codec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "spec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Source": {
            "id": "Source",
            "properties": {
                "baseSpecs": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "codec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "doesNotNeedSplitting": {
                    "type": "boolean"
                },
                "metadata": {
                    "$ref": "SourceMetadata"
                },
                "spec": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "SourceFork": {
            "id": "SourceFork",
            "properties": {
                "primary": {
                    "$ref": "SourceSplitShard"
                },
                "residual": {
                    "$ref": "SourceSplitShard"
                }
            },
            "type": "object"
        },
        "SourceGetMetadataRequest": {
            "id": "SourceGetMetadataRequest",
            "properties": {
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "SourceGetMetadataResponse": {
            "id": "SourceGetMetadataResponse",
            "properties": {
                "metadata": {
                    "$ref": "SourceMetadata"
                }
            },
            "type": "object"
        },
        "SourceMetadata": {
            "id": "SourceMetadata",
            "properties": {
                "estimatedSizeBytes": {
                    "format": "int64",
                    "type": "string"
                },
                "infinite": {
                    "type": "boolean"
                },
                "producesSortedKeys": {
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SourceOperationRequest": {
            "id": "SourceOperationRequest",
            "properties": {
                "getMetadata": {
                    "$ref": "SourceGetMetadataRequest"
                },
                "split": {
                    "$ref": "SourceSplitRequest"
                }
            },
            "type": "object"
        },
        "SourceOperationResponse": {
            "id": "SourceOperationResponse",
            "properties": {
                "getMetadata": {
                    "$ref": "SourceGetMetadataResponse"
                },
                "split": {
                    "$ref": "SourceSplitResponse"
                }
            },
            "type": "object"
        },
        "SourceSplitOptions": {
            "id": "SourceSplitOptions",
            "properties": {
                "desiredShardSizeBytes": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceSplitRequest": {
            "id": "SourceSplitRequest",
            "properties": {
                "options": {
                    "$ref": "SourceSplitOptions"
                },
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "SourceSplitResponse": {
            "id": "SourceSplitResponse",
            "properties": {
                "outcome": {
                    "enum": [
                        "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED",
                        "SOURCE_SPLIT_OUTCOME_UNKNOWN",
                        "SOURCE_SPLIT_OUTCOME_USE_CURRENT"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "shards": {
                    "items": {
                        "$ref": "SourceSplitShard"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SourceSplitShard": {
            "id": "SourceSplitShard",
            "properties": {
                "derivationMode": {
                    "enum": [
                        "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
                        "SOURCE_DERIVATION_MODE_INDEPENDENT",
                        "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT",
                        "SOURCE_DERIVATION_MODE_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "source": {
                    "$ref": "Source"
                }
            },
            "type": "object"
        },
        "Status": {
            "id": "Status",
            "properties": {
                "code": {
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "items": {
                        "additionalProperties": {
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Step": {
            "id": "Step",
            "properties": {
                "kind": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "StreamLocation": {
            "id": "StreamLocation",
            "properties": {
                "pubsubLocation": {
                    "$ref": "PubsubLocation"
                },
                "streamingStageLocation": {
                    "$ref": "StreamingStageLocation"
                }
            },
            "type": "object"
        },
        "StreamingSetupTask": {
            "id": "StreamingSetupTask",
            "properties": {
                "receiveWorkPort": {
                    "format": "int32",
                    "type": "integer"
                },
                "streamingComputationTopology": {
                    "$ref": "TopologyConfig"
                },
                "workerHarnessPort": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "StreamingStageLocation": {
            "id": "StreamingStageLocation",
            "properties": {
                "streamId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskRunnerSettings": {
            "id": "TaskRunnerSettings",
            "properties": {
                "alsologtostderr": {
                    "type": "boolean"
                },
                "baseTaskDir": {
                    "type": "string"
                },
                "baseUrl": {
                    "type": "string"
                },
                "commandlinesFileName": {
                    "type": "string"
                },
                "continueOnException": {
                    "type": "boolean"
                },
                "dataflowApiVersion": {
                    "type": "string"
                },
                "harnessCommand": {
                    "type": "string"
                },
                "languageHint": {
                    "type": "string"
                },
                "logDir": {
                    "type": "string"
                },
                "logToSerialconsole": {
                    "type": "boolean"
                },
                "logUploadLocation": {
                    "type": "string"
                },
                "oauthScopes": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "parallelWorkerSettings": {
                    "$ref": "WorkerSettings"
                },
                "streamingWorkerMainClass": {
                    "type": "string"
                },
                "taskGroup": {
                    "type": "string"
                },
                "taskUser": {
                    "type": "string"
                },
                "tempStoragePrefix": {
                    "type": "string"
                },
                "vmId": {
                    "type": "string"
                },
                "workflowFileName": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TopologyConfig": {
            "id": "TopologyConfig",
            "properties": {
                "computations": {
                    "items": {
                        "$ref": "ComputationTopology"
                    },
                    "type": "array"
                },
                "dataDiskAssignments": {
                    "items": {
                        "$ref": "DataDiskAssignment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "WorkItem": {
            "id": "WorkItem",
            "properties": {
                "configuration": {
                    "type": "string"
                },
                "id": {
                    "format": "int64",
                    "type": "string"
                },
                "jobId": {
                    "type": "string"
                },
                "leaseExpireTime": {
                    "type": "string"
                },
                "mapTask": {
                    "$ref": "MapTask"
                },
                "packages": {
                    "items": {
                        "$ref": "Package"
                    },
                    "type": "array"
                },
                "projectId": {
                    "type": "string"
                },
                "reportStatusInterval": {
                    "type": "string"
                },
                "seqMapTask": {
                    "$ref": "SeqMapTask"
                },
                "shellTask": {
                    "$ref": "ShellTask"
                },
                "sourceOperationTask": {
                    "$ref": "SourceOperationRequest"
                },
                "streamingSetupTask": {
                    "$ref": "StreamingSetupTask"
                }
            },
            "type": "object"
        },
        "WorkItemServiceState": {
            "id": "WorkItemServiceState",
            "properties": {
                "harnessData": {
                    "additionalProperties": {
                        "type": "any"
                    },
                    "type": "object"
                },
                "leaseExpireTime": {
                    "type": "string"
                },
                "reportStatusInterval": {
                    "type": "string"
                },
                "suggestedStopPoint": {
                    "$ref": "ApproximateProgress"
                },
                "suggestedStopPosition": {
                    "$ref": "Position"
                }
            },
            "type": "object"
        },
        "WorkItemStatus": {
            "id": "WorkItemStatus",
            "properties": {
                "completed": {
                    "type": "boolean"
                },
                "errors": {
                    "items": {
                        "$ref": "Status"
                    },
                    "type": "array"
                },
                "metricUpdates": {
                    "items": {
                        "$ref": "MetricUpdate"
                    },
                    "type": "array"
                },
                "progress": {
                    "$ref": "ApproximateProgress"
                },
                "reportIndex": {
                    "format": "int64",
                    "type": "string"
                },
                "requestedLeaseDuration": {
                    "type": "string"
                },
                "sourceFork": {
                    "$ref": "SourceFork"
                },
                "sourceOperationResponse": {
                    "$ref": "SourceOperationResponse"
                },
                "stopPosition": {
                    "$ref": "Position"
                },
                "workItemId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerPool": {
            "id": "WorkerPool",
            "properties": {
                "autoscalingSettings": {
                    "$ref": "AutoscalingSettings"
                },
                "dataDisks": {
                    "items": {
                        "$ref": "Disk"
                    },
                    "type": "array"
                },
                "defaultPackageSet": {
                    "enum": [
                        "DEFAULT_PACKAGE_SET_JAVA",
                        "DEFAULT_PACKAGE_SET_NONE",
                        "DEFAULT_PACKAGE_SET_PYTHON",
                        "DEFAULT_PACKAGE_SET_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "diskSizeGb": {
                    "format": "int32",
                    "type": "integer"
                },
                "diskSourceImage": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "machineType": {
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "type": "object"
                },
                "numWorkers": {
                    "format": "int32",
                    "type": "integer"
                },
                "onHostMaintenance": {
                    "type": "string"
                },
                "packages": {
                    "items": {
                        "$ref": "Package"
                    },
                    "type": "array"
                },
                "taskrunnerSettings": {
                    "$ref": "TaskRunnerSettings"
                },
                "teardownPolicy": {
                    "enum": [
                        "TEARDOWN_ALWAYS",
                        "TEARDOWN_NEVER",
                        "TEARDOWN_ON_SUCCESS",
                        "TEARDOWN_POLICY_UNKNOWN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "zone": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerSettings": {
            "id": "WorkerSettings",
            "properties": {
                "baseUrl": {
                    "type": "string"
                },
                "reportingEnabled": {
                    "type": "boolean"
                },
                "servicePath": {
                    "type": "string"
                },
                "shuffleServicePath": {
                    "type": "string"
                },
                "tempStoragePrefix": {
                    "type": "string"
                },
                "workerId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WriteInstruction": {
            "id": "WriteInstruction",
            "properties": {
                "input": {
                    "$ref": "InstructionInput"
                },
                "sink": {
                    "$ref": "Sink"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "dataflow/v1b3/projects/",
    "title": "Google Dataflow API",
    "version": "v1beta3"
}