{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/userinfo.email": {
                    "description": "View your email address"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dataflow.googleapis.com/",
    "batchPath": "batch",
    "description": "Develops and executes data processing patterns like ETL, batch computation, and continuous computation.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dataflow",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/DQTAijQbFPyNgytDhH5yACXDF5M\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dataflow:v1b3",
    "kind": "discovery#restDescription",
    "name": "dataflow",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "workerMessages": {
                    "description": "Send a worker_message to the service.",
                    "httpMethod": "POST",
                    "id": "dataflow.projects.workerMessages",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "The project to send the WorkerMessages to.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1b3/projects/{projectId}/WorkerMessages",
                    "request": {
                        "$ref": "SendWorkerMessagesRequest"
                    },
                    "response": {
                        "$ref": "SendWorkerMessagesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            },
            "resources": {
                "jobs": {
                    "methods": {
                        "create": {
                            "description": "Creates a dataflow job.",
                            "httpMethod": "POST",
                            "id": "dataflow.projects.jobs.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The project which owns the job.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "description": "Level of information requested in response.",
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "replaceJobId": {
                                    "description": "DEPRECATED. This field is now on the Job message.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs",
                            "request": {
                                "$ref": "Job"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "get": {
                            "description": "Gets the state of the specified dataflow job.",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.get",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The project which owns the job.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "jobId": {
                                    "description": "Identifies a single job.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "description": "Level of information requested in response.",
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "update": {
                            "description": "Updates the state of an existing dataflow job.",
                            "httpMethod": "PUT",
                            "id": "dataflow.projects.jobs.update",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The project which owns the job.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "jobId": {
                                    "description": "Identifies a single job.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}",
                            "request": {
                                "$ref": "Job"
                            },
                            "response": {
                                "$ref": "Job"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "list": {
                            "description": "List the jobs of a project",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The project which owns the jobs.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "filter": {
                                    "description": "The kind of filter to use.",
                                    "enum": [
                                        "UNKNOWN",
                                        "ALL",
                                        "TERMINATED",
                                        "ACTIVE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "view": {
                                    "description": "Level of information requested in response. Default is SUMMARY.",
                                    "enum": [
                                        "JOB_VIEW_UNKNOWN",
                                        "JOB_VIEW_SUMMARY",
                                        "JOB_VIEW_ALL"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs",
                            "response": {
                                "$ref": "ListJobsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        },
                        "getMetrics": {
                            "description": "Request the job status.",
                            "httpMethod": "GET",
                            "id": "dataflow.projects.jobs.getMetrics",
                            "parameterOrder": [
                                "projectId",
                                "jobId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "A project id.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "jobId": {
                                    "description": "The job to get messages for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "startTime": {
                                    "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
                            "response": {
                                "$ref": "JobMetrics"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/userinfo.email"
                            ]
                        }
                    },
                    "resources": {
                        "messages": {
                            "methods": {
                                "list": {
                                    "description": "Request the job status.",
                                    "httpMethod": "GET",
                                    "id": "dataflow.projects.jobs.messages.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "A project id.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "jobId": {
                                            "description": "The job to get messages about.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "minimumImportance": {
                                            "description": "Filter to only get messages with importance >= level",
                                            "enum": [
                                                "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                                                "JOB_MESSAGE_DEBUG",
                                                "JOB_MESSAGE_DETAILED",
                                                "JOB_MESSAGE_BASIC",
                                                "JOB_MESSAGE_WARNING",
                                                "JOB_MESSAGE_ERROR"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "endTime": {
                                            "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                                    "response": {
                                        "$ref": "ListJobMessagesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        },
                        "workItems": {
                            "methods": {
                                "reportStatus": {
                                    "description": "Reports the status of dataflow WorkItems leased by a worker.",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.workItems.reportStatus",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The project which owns the WorkItem's job.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "jobId": {
                                            "description": "The job which the WorkItem is part of.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                                    "request": {
                                        "$ref": "ReportWorkItemStatusRequest"
                                    },
                                    "response": {
                                        "$ref": "ReportWorkItemStatusResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                },
                                "lease": {
                                    "description": "Leases a dataflow WorkItem to run.",
                                    "httpMethod": "POST",
                                    "id": "dataflow.projects.jobs.workItems.lease",
                                    "parameterOrder": [
                                        "projectId",
                                        "jobId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "Identifies the project this worker belongs to.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "jobId": {
                                            "description": "Identifies the workflow job this worker belongs to.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                                    "request": {
                                        "$ref": "LeaseWorkItemRequest"
                                    },
                                    "response": {
                                        "$ref": "LeaseWorkItemResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/userinfo.email"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20160715",
    "rootUrl": "https://dataflow.googleapis.com/",
    "schemas": {
        "Job": {
            "description": "Defines a job to be run by the Dataflow service.",
            "id": "Job",
            "properties": {
                "id": {
                    "description": "The unique ID of this job. This field is set by the Dataflow service when the Job is created, and is immutable for the life of the Job.",
                    "type": "string"
                },
                "projectId": {
                    "description": "The project which owns the job.",
                    "type": "string"
                },
                "name": {
                    "description": "The user-specified Dataflow job name. Only one Job with a given name may exist in a project at any given time. If a caller attempts to create a Job with the same name as an already-existing Job, the attempt will return the existing Job. The name must match the regular expression [a-z]([-a-z0-9]{0,38}[a-z0-9])?",
                    "type": "string"
                },
                "type": {
                    "description": "The type of dataflow job.",
                    "enum": [
                        "JOB_TYPE_UNKNOWN",
                        "JOB_TYPE_BATCH",
                        "JOB_TYPE_STREAMING"
                    ],
                    "type": "string"
                },
                "environment": {
                    "$ref": "Environment",
                    "description": "Environment for the job."
                },
                "steps": {
                    "description": "The top-level steps that constitute the entire job.",
                    "items": {
                        "$ref": "Step"
                    },
                    "type": "array"
                },
                "currentState": {
                    "description": "The current state of the job. Jobs are created in the JOB_STATE_STOPPED state unless otherwise specified. A job in the JOB_STATE_RUNNING state may asynchronously enter a terminal state. Once a job has reached a terminal state, no further state updates may be made. This field may be mutated by the Dataflow service; callers cannot mutate it.",
                    "enum": [
                        "JOB_STATE_UNKNOWN",
                        "JOB_STATE_STOPPED",
                        "JOB_STATE_RUNNING",
                        "JOB_STATE_DONE",
                        "JOB_STATE_FAILED",
                        "JOB_STATE_CANCELLED",
                        "JOB_STATE_UPDATED",
                        "JOB_STATE_DRAINING",
                        "JOB_STATE_DRAINED"
                    ],
                    "type": "string"
                },
                "currentStateTime": {
                    "description": "The timestamp associated with the current state.",
                    "type": "string"
                },
                "requestedState": {
                    "description": "The job's requested state. UpdateJob may be used to switch between the JOB_STATE_STOPPED and JOB_STATE_RUNNING states, by setting requested_state. UpdateJob may also be used to directly set a job's requested state to JOB_STATE_CANCELLED or JOB_STATE_DONE, irrevocably terminating the job if it has not already reached a terminal state.",
                    "enum": [
                        "JOB_STATE_UNKNOWN",
                        "JOB_STATE_STOPPED",
                        "JOB_STATE_RUNNING",
                        "JOB_STATE_DONE",
                        "JOB_STATE_FAILED",
                        "JOB_STATE_CANCELLED",
                        "JOB_STATE_UPDATED",
                        "JOB_STATE_DRAINING",
                        "JOB_STATE_DRAINED"
                    ],
                    "type": "string"
                },
                "executionInfo": {
                    "$ref": "JobExecutionInfo",
                    "description": "Information about how the Dataflow service will actually run the job."
                },
                "createTime": {
                    "description": "Timestamp when job was initially created. Immutable, set by the Dataflow service.",
                    "type": "string"
                },
                "replaceJobId": {
                    "description": "If this job is an update of an existing job, this field will be the ID of the job it replaced. When sending a CreateJobRequest, you can update a job by specifying it here. The job named here will be stopped, and its intermediate state transferred to this job.",
                    "type": "string"
                },
                "transformNameMapping": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
                    "type": "object"
                },
                "clientRequestId": {
                    "description": "Client's unique identifier of the job, re-used by SDK across retried attempts. If this field is set, the service will ensure its uniqueness. That is, the request to create a job will fail if the service has knowledge of a previously submitted job with the same client's id and job name. The caller may, for example, use this field to ensure idempotence of job creation across retried attempts to create a job. By default, the field is empty and, in that case, the service ignores it.",
                    "type": "string"
                },
                "replacedByJobId": {
                    "description": "If another job is an update of this job (and thus, this job is in JOB_STATE_UPDATED), this field will contain the ID of that job.",
                    "type": "string"
                },
                "tempFiles": {
                    "description": "A set of files the system should be aware of that are used for temporary storage. These temporary files will be removed on job completion. No duplicates are allowed. No file patterns are supported. The supported files are: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "User-defined labels for this job. The labels map can contain no more than 64 entries. Entries of the labels map are UTF8 strings that comply with the following restrictions: * Keys must conform to regexp: \\p{Ll}\\p{Lo}{0,62} * Values must conform to regexp: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} * Both keys and values are additionally constrained to be <= 128 bytes in size.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Environment": {
            "description": "Describes the environment in which a Dataflow Job runs.",
            "id": "Environment",
            "properties": {
                "tempStoragePrefix": {
                    "description": "The prefix of the resources the system should use for temporary storage. The system will append the suffix \"/temp-{JOBNAME} to this resource prefix, where {JOBNAME} is the value of the job_name field. The resulting bucket and object prefix is used as the prefix of the resources used to store temporary data needed during the job execution. NOTE: This will override the value in taskrunner_settings. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                "clusterManagerApiService": {
                    "description": "The type of cluster manager API to use. If unknown or unspecified, the service will attempt to choose a reasonable default. This should be in the form of the API service name, e.g. \"compute.googleapis.com\".",
                    "type": "string"
                },
                "experiments": {
                    "description": "The list of experiments to enable.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "workerPools": {
                    "description": "Worker pools. At least one \"harness\" worker pool must be specified in order for the job to have workers.",
                    "items": {
                        "$ref": "WorkerPool"
                    },
                    "type": "array"
                },
                "userAgent": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "A description of the process that generated the request.",
                    "type": "object"
                },
                "version": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "A structure describing which components and their versions of the service are required in order to run the job.",
                    "type": "object"
                },
                "dataset": {
                    "description": "The dataset for the current project where various workflow related tables are stored. The supported resource type is: Google BigQuery: bigquery.googleapis.com/{dataset}",
                    "type": "string"
                },
                "sdkPipelineOptions": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "The Dataflow SDK pipeline options specified by the user. These options are passed through the service and are used to recreate the SDK pipeline options on the worker in a language agnostic and platform independent way.",
                    "type": "object"
                },
                "internalExperiments": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Experimental settings.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "WorkerPool": {
            "description": "Describes one particular pool of Dataflow workers to be instantiated by the Dataflow service in order to perform the computations required by a job. Note that a workflow job may use multiple pools, in order to match the various computational requirements of the various stages of the job.",
            "id": "WorkerPool",
            "properties": {
                "kind": {
                    "description": "The kind of the worker pool; currently only 'harness' and 'shuffle' are supported.",
                    "type": "string"
                },
                "numWorkers": {
                    "description": "Number of Google Compute Engine workers in this pool needed to execute the job. If zero or unspecified, the service will attempt to choose a reasonable default.",
                    "format": "int32",
                    "type": "integer"
                },
                "packages": {
                    "description": "Packages to be installed on workers.",
                    "items": {
                        "$ref": "Package"
                    },
                    "type": "array"
                },
                "defaultPackageSet": {
                    "description": "The default package set to install. This allows the service to select a default set of packages which are useful to worker harnesses written in a particular language.",
                    "enum": [
                        "DEFAULT_PACKAGE_SET_UNKNOWN",
                        "DEFAULT_PACKAGE_SET_NONE",
                        "DEFAULT_PACKAGE_SET_JAVA",
                        "DEFAULT_PACKAGE_SET_PYTHON"
                    ],
                    "type": "string"
                },
                "machineType": {
                    "description": "Machine type (e.g. \"n1-standard-1\"). If empty or unspecified, the service will attempt to choose a reasonable default.",
                    "type": "string"
                },
                "teardownPolicy": {
                    "description": "Sets the policy for determining when to turndown worker pool. Allowed values are: TEARDOWN_ALWAYS, TEARDOWN_ON_SUCCESS, and TEARDOWN_NEVER. TEARDOWN_ALWAYS means workers are always torn down regardless of whether the job succeeds. TEARDOWN_ON_SUCCESS means workers are torn down if the job succeeds. TEARDOWN_NEVER means the workers are never torn down. If the workers are not torn down by the service, they will continue to run and use Google Compute Engine VM resources in the user's project until they are explicitly terminated by the user. Because of this, Google recommends using the TEARDOWN_ALWAYS policy except for small, manually supervised test jobs. If unknown or unspecified, the service will attempt to choose a reasonable default.",
                    "enum": [
                        "TEARDOWN_POLICY_UNKNOWN",
                        "TEARDOWN_ALWAYS",
                        "TEARDOWN_ON_SUCCESS",
                        "TEARDOWN_NEVER"
                    ],
                    "type": "string"
                },
                "diskSizeGb": {
                    "description": "Size of root disk for VMs, in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
                    "format": "int32",
                    "type": "integer"
                },
                "diskType": {
                    "description": "Type of root disk for VMs. If empty or unspecified, the service will attempt to choose a reasonable default.",
                    "type": "string"
                },
                "diskSourceImage": {
                    "description": "Fully qualified source image for disks.",
                    "type": "string"
                },
                "zone": {
                    "description": "Zone to run the worker pools in. If empty or unspecified, the service will attempt to choose a reasonable default.",
                    "type": "string"
                },
                "taskrunnerSettings": {
                    "$ref": "TaskRunnerSettings",
                    "description": "Settings passed through to Google Compute Engine workers when using the standard Dataflow task runner. Users should ignore this field."
                },
                "onHostMaintenance": {
                    "description": "The action to take on host maintenance, as defined by the Google Compute Engine API.",
                    "type": "string"
                },
                "dataDisks": {
                    "description": "Data disks that are used by a VM in this workflow.",
                    "items": {
                        "$ref": "Disk"
                    },
                    "type": "array"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Metadata to set on the Google Compute Engine VMs.",
                    "type": "object"
                },
                "autoscalingSettings": {
                    "$ref": "AutoscalingSettings",
                    "description": "Settings for autoscaling of this WorkerPool."
                },
                "poolArgs": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Extra arguments for this worker pool.",
                    "type": "object"
                },
                "network": {
                    "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
                    "type": "string"
                },
                "subnetwork": {
                    "description": "Subnetwork to which VMs will be assigned, if desired. Expected to be of the form \"regions/REGION/subnetworks/SUBNETWORK\".",
                    "type": "string"
                },
                "workerHarnessContainerImage": {
                    "description": "Docker container image that executes Dataflow worker harness, residing in Google Container Registry. Required.",
                    "type": "string"
                },
                "numThreadsPerWorker": {
                    "description": "The number of threads per worker harness. If empty or unspecified, the service will choose a number of threads (according to the number of cores on the selected machine type for batch, or 1 by convention for streaming).",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Package": {
            "description": "Packages that need to be installed in order for a worker to run the steps of the Dataflow job which will be assigned to its worker pool. This is the mechanism by which the SDK causes code to be loaded onto the workers. For example, the Dataflow Java SDK might use this to install jars containing the user's code and all of the various dependencies (libraries, data files, etc) required in order for that code to run.",
            "id": "Package",
            "properties": {
                "name": {
                    "description": "The name of the package.",
                    "type": "string"
                },
                "location": {
                    "description": "The resource to read the package from. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket} bucket.storage.googleapis.com/",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TaskRunnerSettings": {
            "description": "Taskrunner configuration settings.",
            "id": "TaskRunnerSettings",
            "properties": {
                "taskUser": {
                    "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
                    "type": "string"
                },
                "taskGroup": {
                    "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\".",
                    "type": "string"
                },
                "oauthScopes": {
                    "description": "OAuth2 scopes to be requested by the taskrunner in order to access the dataflow API.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "baseUrl": {
                    "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
                    "type": "string"
                },
                "dataflowApiVersion": {
                    "description": "API version of endpoint, e.g. \"v1b3\"",
                    "type": "string"
                },
                "parallelWorkerSettings": {
                    "$ref": "WorkerSettings",
                    "description": "Settings to pass to the parallel worker harness."
                },
                "baseTaskDir": {
                    "description": "Location on the worker for task-specific subdirectories.",
                    "type": "string"
                },
                "continueOnException": {
                    "description": "Do we continue taskrunner if an exception is hit?",
                    "type": "boolean"
                },
                "logToSerialconsole": {
                    "description": "Send taskrunner log into to Google Compute Engine VM serial console?",
                    "type": "boolean"
                },
                "alsologtostderr": {
                    "description": "Also send taskrunner log info to stderr?",
                    "type": "boolean"
                },
                "logUploadLocation": {
                    "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                "logDir": {
                    "description": "Directory on the VM to store logs.",
                    "type": "string"
                },
                "tempStoragePrefix": {
                    "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
                    "type": "string"
                },
                "harnessCommand": {
                    "description": "Command to launch the worker harness.",
                    "type": "string"
                },
                "workflowFileName": {
                    "description": "Store the workflow in this file.",
                    "type": "string"
                },
                "commandlinesFileName": {
                    "description": "Store preprocessing commands in this file.",
                    "type": "string"
                },
                "vmId": {
                    "description": "ID string of VM.",
                    "type": "string"
                },
                "languageHint": {
                    "description": "Suggested backend language.",
                    "type": "string"
                },
                "streamingWorkerMainClass": {
                    "description": "Streaming worker main class name.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerSettings": {
            "description": "Provides data to pass through to the worker harness.",
            "id": "WorkerSettings",
            "properties": {
                "baseUrl": {
                    "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\"",
                    "type": "string"
                },
                "reportingEnabled": {
                    "description": "Send work progress updates to service.",
                    "type": "boolean"
                },
                "servicePath": {
                    "description": "The Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\".",
                    "type": "string"
                },
                "shuffleServicePath": {
                    "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
                    "type": "string"
                },
                "workerId": {
                    "description": "ID of the worker running this pipeline.",
                    "type": "string"
                },
                "tempStoragePrefix": {
                    "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Disk": {
            "description": "Describes the data disk used by a workflow job.",
            "id": "Disk",
            "properties": {
                "sizeGb": {
                    "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
                    "format": "int32",
                    "type": "integer"
                },
                "diskType": {
                    "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/\n/zones//diskTypes/pd-standard",
                    "type": "string"
                },
                "mountPoint": {
                    "description": "Directory in a VM where disk is mounted.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoscalingSettings": {
            "description": "Settings for WorkerPool autoscaling.",
            "id": "AutoscalingSettings",
            "properties": {
                "algorithm": {
                    "description": "The algorithm to use for autoscaling.",
                    "enum": [
                        "AUTOSCALING_ALGORITHM_UNKNOWN",
                        "AUTOSCALING_ALGORITHM_NONE",
                        "AUTOSCALING_ALGORITHM_BASIC"
                    ],
                    "type": "string"
                },
                "maxNumWorkers": {
                    "description": "The maximum number of workers to cap scaling at.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Step": {
            "description": "Defines a particular step within a Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. (Note that the Dataflow service may be used to run many different types of jobs, not just Map-Reduce).",
            "id": "Step",
            "properties": {
                "kind": {
                    "description": "The kind of step in the dataflow Job.",
                    "type": "string"
                },
                "name": {
                    "description": "Name identifying the step. This must be unique for each step with respect to all other steps in the dataflow Job.",
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "Named properties associated with the step. Each kind of predefined step has its own required set of properties.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "JobExecutionInfo": {
            "description": "Additional information about how a Dataflow job will be executed which isn’t contained in the submitted job.",
            "id": "JobExecutionInfo",
            "properties": {
                "stages": {
                    "additionalProperties": {
                        "$ref": "JobExecutionStageInfo"
                    },
                    "description": "A mapping from each stage to the information about that stage.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "JobExecutionStageInfo": {
            "description": "Contains information about how a particular google.dataflow.v1beta3.Step will be executed.",
            "id": "JobExecutionStageInfo",
            "properties": {
                "stepName": {
                    "description": "The steps associated with the execution stage. Note that stages may have several steps, and that a given step might be run by more than one stage.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListJobsResponse": {
            "description": "Response to a request to list Dataflow jobs. This may be a partial response, depending on the page size in the ListJobsRequest.",
            "id": "ListJobsResponse",
            "properties": {
                "jobs": {
                    "description": "A subset of the requested job information.",
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Set if there may be more results than fit in this response.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListJobMessagesResponse": {
            "description": "Response to a request to list job messages.",
            "id": "ListJobMessagesResponse",
            "properties": {
                "jobMessages": {
                    "description": "Messages in ascending timestamp order.",
                    "items": {
                        "$ref": "JobMessage"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "The token to obtain the next page of results if there are more.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobMessage": {
            "description": "A particular message pertaining to a Dataflow job.",
            "id": "JobMessage",
            "properties": {
                "id": {
                    "description": "Identifies the message. This is automatically generated by the service; the caller should treat it as an opaque string.",
                    "type": "string"
                },
                "time": {
                    "description": "The timestamp of the message.",
                    "type": "string"
                },
                "messageText": {
                    "description": "The text of the message.",
                    "type": "string"
                },
                "messageImportance": {
                    "description": "Importance level of the message.",
                    "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobMetrics": {
            "description": "JobMetrics contains a collection of metrics descibing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
            "id": "JobMetrics",
            "properties": {
                "metricTime": {
                    "description": "Timestamp as of which metric values are current.",
                    "type": "string"
                },
                "metrics": {
                    "description": "All metrics for this job.",
                    "items": {
                        "$ref": "MetricUpdate"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MetricUpdate": {
            "description": "Describes the state of a metric.",
            "id": "MetricUpdate",
            "properties": {
                "name": {
                    "$ref": "MetricStructuredName",
                    "description": "Name of the metric."
                },
                "kind": {
                    "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", and \"Or\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value.",
                    "type": "string"
                },
                "cumulative": {
                    "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
                    "type": "boolean"
                },
                "scalar": {
                    "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean.",
                    "type": "any"
                },
                "meanSum": {
                    "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double.",
                    "type": "any"
                },
                "meanCount": {
                    "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
                    "type": "any"
                },
                "set": {
                    "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, or String, according to the metric's type. All Values in the list must be of the same type.",
                    "type": "any"
                },
                "internal": {
                    "description": "Worker-computed aggregate value for internal use by the Dataflow service.",
                    "type": "any"
                },
                "updateTime": {
                    "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MetricStructuredName": {
            "description": "Identifies a metric, by describing the source which generated the metric.",
            "id": "MetricStructuredName",
            "properties": {
                "origin": {
                    "description": "Origin (namespace) of metric name. May be blank for user-define metrics; will be \"dataflow\" for metrics defined by the Dataflow service or SDK.",
                    "type": "string"
                },
                "name": {
                    "description": "Worker-defined metric name.",
                    "type": "string"
                },
                "context": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Zero or more labeled fields which identify the part of the job this metric is associated with, such as the name of a step or collection. For example, built-in counters associated with steps will have context['step'] = . Counters associated with PCollections in the SDK will have context['pcollection'] =\n.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ReportWorkItemStatusRequest": {
            "description": "Request to report the status of WorkItems.",
            "id": "ReportWorkItemStatusRequest",
            "properties": {
                "workerId": {
                    "description": "The ID of the worker reporting the WorkItem status. If this does not match the ID of the worker which the Dataflow service believes currently has the lease on the WorkItem, the report will be dropped (with an error response).",
                    "type": "string"
                },
                "workItemStatuses": {
                    "description": "The order is unimportant, except that the order of the WorkItemServiceState messages in the ReportWorkItemStatusResponse corresponds to the order of WorkItemStatus messages here.",
                    "items": {
                        "$ref": "WorkItemStatus"
                    },
                    "type": "array"
                },
                "currentWorkerTime": {
                    "description": "The current timestamp at the worker.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkItemStatus": {
            "description": "Conveys a worker's progress through the work described by a WorkItem.",
            "id": "WorkItemStatus",
            "properties": {
                "workItemId": {
                    "description": "Identifies the WorkItem.",
                    "type": "string"
                },
                "reportIndex": {
                    "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
                    "format": "int64",
                    "type": "string"
                },
                "requestedLeaseDuration": {
                    "description": "Amount of time the worker requests for its lease.",
                    "type": "string"
                },
                "completed": {
                    "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
                    "type": "boolean"
                },
                "errors": {
                    "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
                    "items": {
                        "$ref": "Status"
                    },
                    "type": "array"
                },
                "counterUpdates": {
                    "description": "Worker output counters for this WorkItem.",
                    "items": {
                        "$ref": "CounterUpdate"
                    },
                    "type": "array"
                },
                "metricUpdates": {
                    "description": "DEPRECATED in favor of counter_updates.",
                    "items": {
                        "$ref": "MetricUpdate"
                    },
                    "type": "array"
                },
                "reportedProgress": {
                    "$ref": "ApproximateReportedProgress",
                    "description": "The worker's progress through this WorkItem."
                },
                "stopPosition": {
                    "$ref": "Position",
                    "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc."
                },
                "dynamicSourceSplit": {
                    "$ref": "DynamicSourceSplit",
                    "description": "See documentation of stop_position."
                },
                "sourceOperationResponse": {
                    "$ref": "SourceOperationResponse",
                    "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation."
                },
                "sourceFork": {
                    "$ref": "SourceFork",
                    "description": "DEPRECATED in favor of dynamic_source_split."
                },
                "progress": {
                    "$ref": "ApproximateProgress",
                    "description": "DEPRECATED in favor of reported_progress."
                }
            },
            "type": "object"
        },
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). The error model is designed to be: - Simple to use and understand for most users - Flexible enough to meet unexpected needs # Overview The `Status` message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers *understand* and *resolve* the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package `google.rpc` which can be used for common error conditions. # Language mapping The `Status` message is the logical representation of the error model, but it is not necessarily the actual wire format. When the `Status` message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C. # Other uses The error model and the `Status` message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments. Example uses of this error model include: - Partial errors. If a service needs to return partial errors to the client, it may embed the `Status` in the normal response to indicate the partial errors. - Workflow errors. A typical workflow has multiple steps. Each step may have a `Status` message for error reporting purpose. - Batch operations. If a client uses batch request and batch response, the `Status` message should be used directly inside batch response, one for each error sub-response. - Asynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the `Status` message. - Logging. If some API errors are stored in logs, the message `Status` could be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                "details": {
                    "description": "A list of messages that carry the error details. There will be a common set of message types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CounterUpdate": {
            "description": "An update to a Counter sent from a worker.",
            "id": "CounterUpdate",
            "properties": {
                "nameAndKind": {
                    "$ref": "NameAndKind",
                    "description": "Counter name and aggregation type."
                },
                "shortId": {
                    "description": "The service-generated short identifier for this counter. The short_id -> (name, metadata) mapping is constant for the lifetime of a job.",
                    "format": "int64",
                    "type": "string"
                },
                "structuredNameAndMetadata": {
                    "$ref": "CounterStructuredNameAndMetadata",
                    "description": "Counter structured name and metadata."
                },
                "cumulative": {
                    "description": "True if this counter is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this counter is reported as a delta.",
                    "type": "boolean"
                },
                "integer": {
                    "$ref": "SplitInt64",
                    "description": "Integer value for Sum, Max, Min."
                },
                "floatingPoint": {
                    "description": "Floating point value for Sum, Max, Min.",
                    "format": "double",
                    "type": "number"
                },
                "boolean": {
                    "description": "Boolean value for And, Or.",
                    "type": "boolean"
                },
                "integerMean": {
                    "$ref": "IntegerMean",
                    "description": "Integer mean aggregation value for Mean."
                },
                "floatingPointMean": {
                    "$ref": "FloatingPointMean",
                    "description": "Floating point mean aggregation value for Mean."
                },
                "integerList": {
                    "$ref": "IntegerList",
                    "description": "List of integers, for Set."
                },
                "floatingPointList": {
                    "$ref": "FloatingPointList",
                    "description": "List of floating point numbers, for Set."
                },
                "stringList": {
                    "$ref": "StringList",
                    "description": "List of strings, for Set."
                },
                "internal": {
                    "description": "Value for internally-defined counters used by the Dataflow service.",
                    "type": "any"
                }
            },
            "type": "object"
        },
        "NameAndKind": {
            "description": "Basic metadata about a counter.",
            "id": "NameAndKind",
            "properties": {
                "name": {
                    "description": "Name of the counter.",
                    "type": "string"
                },
                "kind": {
                    "description": "Counter aggregation kind.",
                    "enum": [
                        "INVALID",
                        "SUM",
                        "MAX",
                        "MIN",
                        "MEAN",
                        "OR",
                        "AND",
                        "SET"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CounterStructuredNameAndMetadata": {
            "description": "A single message which encapsulates structured name and metadata for a given counter.",
            "id": "CounterStructuredNameAndMetadata",
            "properties": {
                "name": {
                    "$ref": "CounterStructuredName",
                    "description": "Structured name of the counter."
                },
                "metadata": {
                    "$ref": "CounterMetadata",
                    "description": "Metadata associated with a counter"
                }
            },
            "type": "object"
        },
        "CounterStructuredName": {
            "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
            "id": "CounterStructuredName",
            "properties": {
                "name": {
                    "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
                    "type": "string"
                },
                "standardOrigin": {
                    "description": "One of the standard Origins defined above.",
                    "enum": [
                        "DATAFLOW",
                        "USER"
                    ],
                    "type": "string"
                },
                "otherOrigin": {
                    "description": "A string containing the origin of the counter.",
                    "type": "string"
                },
                "originalStepName": {
                    "description": "System generated name of the original step in the user's graph, before optimization.",
                    "type": "string"
                },
                "componentStepName": {
                    "description": "Name of the optimized step being executed by the workers.",
                    "type": "string"
                },
                "executionStepName": {
                    "description": "Name of the stage. An execution step contains multiple component steps.",
                    "type": "string"
                },
                "workerId": {
                    "description": "ID of a particular worker.",
                    "type": "string"
                },
                "portion": {
                    "description": "Portion of this counter, either key or value.",
                    "enum": [
                        "ALL",
                        "KEY",
                        "VALUE"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CounterMetadata": {
            "description": "CounterMetadata includes all static non-name non-value counter attributes.",
            "id": "CounterMetadata",
            "properties": {
                "kind": {
                    "description": "Counter aggregation kind.",
                    "enum": [
                        "INVALID",
                        "SUM",
                        "MAX",
                        "MIN",
                        "MEAN",
                        "OR",
                        "AND",
                        "SET"
                    ],
                    "type": "string"
                },
                "description": {
                    "description": "Human-readable description of the counter semantics.",
                    "type": "string"
                },
                "standardUnits": {
                    "description": "System defined Units, see above enum.",
                    "enum": [
                        "BYTES",
                        "BYTES_PER_SEC",
                        "MILLISECONDS",
                        "MICROSECONDS",
                        "NANOSECONDS",
                        "TIMESTAMP_MSEC",
                        "TIMESTAMP_USEC",
                        "TIMESTAMP_NSEC"
                    ],
                    "type": "string"
                },
                "otherUnits": {
                    "description": "A string referring to the unit type.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SplitInt64": {
            "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
            "id": "SplitInt64",
            "properties": {
                "lowBits": {
                    "description": "The low order bits: n & 0xffffffff.",
                    "format": "uint32",
                    "type": "integer"
                },
                "highBits": {
                    "description": "The high order bits, including the sign: n >> 32.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "IntegerMean": {
            "description": "A representation of an integer mean metric contribution.",
            "id": "IntegerMean",
            "properties": {
                "sum": {
                    "$ref": "SplitInt64",
                    "description": "The sum of all values being aggregated."
                },
                "count": {
                    "$ref": "SplitInt64",
                    "description": "The number of values being aggregated."
                }
            },
            "type": "object"
        },
        "FloatingPointMean": {
            "description": "A representation of a floating point mean metric contribution.",
            "id": "FloatingPointMean",
            "properties": {
                "sum": {
                    "description": "The sum of all values being aggregated.",
                    "format": "double",
                    "type": "number"
                },
                "count": {
                    "$ref": "SplitInt64",
                    "description": "The number of values being aggregated."
                }
            },
            "type": "object"
        },
        "IntegerList": {
            "description": "A metric value representing a list of integers.",
            "id": "IntegerList",
            "properties": {
                "elements": {
                    "description": "Elements of the list.",
                    "items": {
                        "$ref": "SplitInt64"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FloatingPointList": {
            "description": "A metric value representing a list of floating point numbers.",
            "id": "FloatingPointList",
            "properties": {
                "elements": {
                    "description": "Elements of the list.",
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "StringList": {
            "description": "A metric value representing a list of strings.",
            "id": "StringList",
            "properties": {
                "elements": {
                    "description": "Elements of the list.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ApproximateReportedProgress": {
            "description": "A progress measurement of a WorkItem by a worker.",
            "id": "ApproximateReportedProgress",
            "properties": {
                "position": {
                    "$ref": "Position",
                    "description": "A Position within the work to represent a progress."
                },
                "fractionConsumed": {
                    "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed).",
                    "format": "double",
                    "type": "number"
                },
                "remainingParallelism": {
                    "$ref": "ReportedParallelism",
                    "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off."
                },
                "consumedParallelism": {
                    "$ref": "ReportedParallelism",
                    "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite."
                }
            },
            "type": "object"
        },
        "Position": {
            "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
            "id": "Position",
            "properties": {
                "end": {
                    "description": "Position is past all other positions. Also useful for the end position of an unbounded range.",
                    "type": "boolean"
                },
                "key": {
                    "description": "Position is a string key, ordered lexicographically.",
                    "type": "string"
                },
                "byteOffset": {
                    "description": "Position is a byte offset.",
                    "format": "int64",
                    "type": "string"
                },
                "recordIndex": {
                    "description": "Position is a record index.",
                    "format": "int64",
                    "type": "string"
                },
                "shufflePosition": {
                    "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
                    "type": "string"
                },
                "concatPosition": {
                    "$ref": "ConcatPosition",
                    "description": "CloudPosition is a concat position."
                }
            },
            "type": "object"
        },
        "ConcatPosition": {
            "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
            "id": "ConcatPosition",
            "properties": {
                "index": {
                    "description": "Index of the inner source.",
                    "format": "int32",
                    "type": "integer"
                },
                "position": {
                    "$ref": "Position",
                    "description": "Position within the inner source."
                }
            },
            "type": "object"
        },
        "ReportedParallelism": {
            "description": "Represents the level of parallelism in a WorkItem's input, reported by the worker.",
            "id": "ReportedParallelism",
            "properties": {
                "isInfinite": {
                    "description": "Specifies whether the parallelism is infinite. If true, \"value\" is ignored. Infinite parallelism means the service will assume that the work item can always be split into more non-empty work items by dynamic splitting. This is a work-around for lack of support for infinity by the current JSON-based Java RPC stack.",
                    "type": "boolean"
                },
                "value": {
                    "description": "Specifies the level of parallelism in case it is finite.",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "DynamicSourceSplit": {
            "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input.",
            "id": "DynamicSourceSplit",
            "properties": {
                "primary": {
                    "$ref": "DerivedSource",
                    "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current."
                },
                "residual": {
                    "$ref": "DerivedSource",
                    "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source."
                }
            },
            "type": "object"
        },
        "DerivedSource": {
            "description": "Specification of one of the bundles produced as a result of splitting a Source (e.g. when executing a SourceSplitRequest, or when splitting an active task using WorkItemStatus.dynamic_source_split), relative to the source being split.",
            "id": "DerivedSource",
            "properties": {
                "source": {
                    "$ref": "Source",
                    "description": "Specification of the source."
                },
                "derivationMode": {
                    "description": "What source to base the produced source on (if any).",
                    "enum": [
                        "SOURCE_DERIVATION_MODE_UNKNOWN",
                        "SOURCE_DERIVATION_MODE_INDEPENDENT",
                        "SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT",
                        "SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "description": "A source that records can be read and decoded from.",
            "id": "Source",
            "properties": {
                "spec": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "The source to read from, plus its parameters.",
                    "type": "object"
                },
                "codec": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "The codec to use to decode data read from the source.",
                    "type": "object"
                },
                "baseSpecs": {
                    "description": "While splitting, sources may specify the produced bundles as differences against another source, in order to save backend-side memory and allow bigger jobs. For details, see SourceSplitRequest. To support this use case, the full set of parameters of the source is logically obtained by taking the latest explicitly specified value of each parameter in the order: base_specs (later items win), spec (overrides anything in base_specs).",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "SourceMetadata",
                    "description": "Optionally, metadata for this source can be supplied right away, avoiding a SourceGetMetadataOperation roundtrip (see SourceOperationRequest). This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated."
                },
                "doesNotNeedSplitting": {
                    "description": "Setting this value to true hints to the framework that the source doesn't need splitting, and using SourceSplitRequest on it would yield SOURCE_SPLIT_OUTCOME_USE_CURRENT. E.g. a file splitter may set this to true when splitting a single file into a set of byte ranges of appropriate size, and set this to false when splitting a filepattern into individual files. However, for efficiency, a file splitter may decide to produce file subranges directly from the filepattern to avoid a splitting round-trip. See SourceSplitRequest for an overview of the splitting process. This field is meaningful only in the Source objects populated by the user (e.g. when filling in a DerivedSource). Source objects supplied by the framework to the user don't have this field populated.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "SourceMetadata": {
            "description": "Metadata about a Source useful for automatically optimizing and tuning the pipeline, etc.",
            "id": "SourceMetadata",
            "properties": {
                "producesSortedKeys": {
                    "description": "Whether this source is known to produce key/value pairs with the (encoded) keys in lexicographically sorted order.",
                    "type": "boolean"
                },
                "infinite": {
                    "description": "Specifies that the size of this source is known to be infinite (this is a streaming source).",
                    "type": "boolean"
                },
                "estimatedSizeBytes": {
                    "description": "An estimate of the total size (in bytes) of the data that would be read from this source. This estimate is in terms of external storage size, before any decompression or other processing done by the reader.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceOperationResponse": {
            "description": "The result of a SourceOperationRequest, specified in ReportWorkItemStatusRequest.source_operation when the work item is completed.",
            "id": "SourceOperationResponse",
            "properties": {
                "split": {
                    "$ref": "SourceSplitResponse",
                    "description": "A response to a request to split a source."
                },
                "getMetadata": {
                    "$ref": "SourceGetMetadataResponse",
                    "description": "A response to a request to get metadata about a source."
                }
            },
            "type": "object"
        },
        "SourceSplitResponse": {
            "description": "The response to a SourceSplitRequest.",
            "id": "SourceSplitResponse",
            "properties": {
                "outcome": {
                    "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
                    "enum": [
                        "SOURCE_SPLIT_OUTCOME_UNKNOWN",
                        "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
                        "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
                    ],
                    "type": "string"
                },
                "bundles": {
                    "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input.",
                    "items": {
                        "$ref": "DerivedSource"
                    },
                    "type": "array"
                },
                "shards": {
                    "description": "DEPRECATED in favor of bundles.",
                    "items": {
                        "$ref": "SourceSplitShard"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SourceSplitShard": {
            "description": "DEPRECATED in favor of DerivedSource.",
            "id": "SourceSplitShard",
            "properties": {
                "source": {
                    "$ref": "Source",
                    "description": "DEPRECATED"
                },
                "derivationMode": {
                    "description": "DEPRECATED",
                    "enum": [
                        "SOURCE_DERIVATION_MODE_UNKNOWN",
                        "SOURCE_DERIVATION_MODE_INDEPENDENT",
[...]
