{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/cloud-platform.read-only": {
                    "description": "View your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/ndev.cloudman": {
                    "description": "View and manage your Google Cloud Platform management resources and deployment status information"
                },
                "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
                    "description": "View your Google Cloud Platform management resources and deployment status information"
                }
            }
        }
    },
    "basePath": "/deploymentmanager/v2beta1/projects/",
    "baseUrl": "https://www.googleapis.com/deploymentmanager/v2beta1/projects/",
    "batchPath": "batch",
    "description": "The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/deployment-manager/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/J4m4LPhh-wztx8R_-mw7BRxMsAU\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "deploymentmanager:v2beta1",
    "kind": "discovery#restDescription",
    "labels": [
        "limited_availability"
    ],
    "name": "deploymentmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "deployments": {
            "methods": {
                "delete": {
                    "description": "! Deletes a deployment and all of the resources in the deployment.",
                    "httpMethod": "DELETE",
                    "id": "deploymentmanager.deployments.delete",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "get": {
                    "description": "! Gets information about a specific deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.get",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Deployment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "insert": {
                    "description": "! Creates a deployment and all of the resources described by the ! deployment manifest.",
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "list": {
                    "description": "! Lists all deployments for a given project.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "50",
                            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "response": {
                        "$ref": "DeploymentsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "manifests": {
            "methods": {
                "get": {
                    "description": "! Gets information about a specific manifest.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "manifest"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "manifest": {
                            "description": "! The name of the manifest for this request.",
                            "location": "path",
                            "pattern": "[-a-z0-9]{1,61}",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests/{manifest}",
                    "response": {
                        "$ref": "Manifest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "! Lists all manifests for a given deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "50",
                            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests",
                    "response": {
                        "$ref": "ManifestsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "description": "! Gets information about a specific Operation.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "description": "! The name of the operation for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "! Lists all Operations for a project.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "50",
                            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations",
                    "response": {
                        "$ref": "OperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "resources": {
            "methods": {
                "get": {
                    "description": "! Gets information about a single resource.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "resource"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "description": "! The name of the resource for this request.",
                            "location": "path",
                            "pattern": "[-a-z0-9]{1,61}",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources/{resource}",
                    "response": {
                        "$ref": "Resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "! Lists all resources in a given deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "! The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "50",
                            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources",
                    "response": {
                        "$ref": "ResourcesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "types": {
            "methods": {
                "list": {
                    "description": "! Lists all Types for Deployment Manager.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.types.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "50",
                            "description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "! The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/types",
                    "response": {
                        "$ref": "TypesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20151207",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Deployment": {
            "description": "Next available tag: 8",
            "id": "Deployment",
            "properties": {
                "description": {
                    "description": "! An optional user-provided description of the deployment.",
                    "type": "string"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "manifest": {
                    "description": "! [Output Only] URL of the manifest representing the full configuration ! of this deployment.",
                    "type": "string"
                },
                "name": {
                    "description": "! The name of the deployment, which must be unique within the project.",
                    "type": "string"
                },
                "targetConfig": {
                    "description": "! [Input Only] The YAML configuration to use in processing this deployment. ! ! When you create a deployment, the server creates a new manifest with the ! given YAML configuration and sets the `manifest` property to the URL of ! the manifest resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsListResponse": {
            "description": "! A response containing a partial list of deployments and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
            "id": "DeploymentsListResponse",
            "properties": {
                "deployments": {
                    "description": "! The deployments contained in this response.",
                    "items": {
                        "$ref": "Deployment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "! A token used to continue a truncated list request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Manifest": {
            "description": "Next available tag: 10",
            "id": "Manifest",
            "properties": {
                "config": {
                    "description": "v2beta1: YAML with config - described above v2beta2: YAML + templates. ! The YAML configuration for this manifest.",
                    "type": "string"
                },
                "evaluatedConfig": {
                    "description": "! [Output Only] The fully-expanded configuration file, including any ! templates and references.",
                    "type": "string"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "name": {
                    "description": "! [Output Only] The name of the manifest.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "[Output Only] Self link for the manifest.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManifestsListResponse": {
            "description": "! A response containing a partial list of manifests and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
            "id": "ManifestsListResponse",
            "properties": {
                "manifests": {
                    "description": "! Manifests contained in this list response.",
                    "items": {
                        "$ref": "Manifest"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "! A token used to continue a truncated list request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "! An operation resource, used to manage asynchronous API requests. Next available tag: 24",
            "id": "Operation",
            "properties": {
                "creationTimestamp": {
                    "description": "! [Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                "endTime": {
                    "description": "! [Output Only] The time that this operation was completed. This is in ! RFC3339 format.",
                    "type": "string"
                },
                "error": {
                    "description": "! [Output Only] If errors occurred during processing of this operation, ! this field will be populated.",
                    "properties": {
                        "errors": {
                            "description": "! The array of errors encountered while processing this operation.",
                            "items": {
                                "properties": {
                                    "code": {
                                        "description": "! The error type identifier for this error.",
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "! Indicates the field in the request which caused the error. ! This property is optional.",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "! An optional, human-readable error message.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "httpErrorMessage": {
                    "description": "! [Output Only] If operation fails, the HTTP error message returned, ! e.g. NOT FOUND.",
                    "type": "string"
                },
                "httpErrorStatusCode": {
                    "description": "! [Output Only] If operation fails, the HTTP error status code returned, ! e.g. 404.",
                    "format": "int32",
                    "type": "integer"
                },
                "id": {
                    "description": "! [Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "description": "! [Output Only] The time that this operation was requested. ! This is in RFC 3339 format.",
                    "type": "string"
                },
                "name": {
                    "description": "! [Output Only] Name of the operation.",
                    "type": "string"
                },
                "operationType": {
                    "description": "! [Output Only] Type of the operation. Examples include \"insert\", or ! \"delete\"",
                    "type": "string"
                },
                "progress": {
                    "description": "! [Output Only] An optional progress indicator that ranges from 0 to 100. ! There is no requirement that this be linear or support any granularity ! of operations. This should not be used to guess at when the operation will ! be complete. This number should be monotonically increasing as the ! operation progresses.",
                    "format": "int32",
                    "type": "integer"
                },
                "selfLink": {
                    "description": "[Output Only] Self link for the manifest.",
                    "type": "string"
                },
                "startTime": {
                    "description": "! [Output Only] The time that this operation was started by the server. ! This is in RFC 3339 format.",
                    "type": "string"
                },
                "status": {
                    "description": "! [Output Only] Status of the operation. Can be one of the following: ! \"PENDING\", \"RUNNING\", or \"DONE\".",
                    "type": "string"
                },
                "statusMessage": {
                    "description": "! [Output Only] An optional textual description of the current status of ! the operation.",
                    "type": "string"
                },
                "targetId": {
                    "description": "! [Output Only] Unique target id which identifies a particular ! incarnation of the target.",
                    "format": "uint64",
                    "type": "string"
                },
                "targetLink": {
                    "description": "! [Output Only] URL of the resource the operation is mutating.",
                    "type": "string"
                },
                "user": {
                    "description": "! [Output Only] User who requested the operation, for example ! \"user@example.com\"",
                    "type": "string"
                },
                "warnings": {
                    "description": "! [Output Only] If warning messages generated during processing of this ! operation, this field will be populated.",
                    "items": {
                        "properties": {
                            "code": {
                                "description": "! The warning type identifier for this warning.",
                                "type": "any"
                            },
                            "data": {
                                "description": "! Metadata for this warning in 'key: value' format.",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "description": "! A key for the warning data.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "! A warning data value corresponding to the key.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "description": "! Optional human-readable details for this warning.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OperationsListResponse": {
            "description": "! A response containing a partial list of operations and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
            "id": "OperationsListResponse",
            "properties": {
                "nextPageToken": {
                    "description": "! A token used to continue a truncated list request.",
                    "type": "string"
                },
                "operations": {
                    "description": "! Operations contained in this list response.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Resource": {
            "description": "Next available tag: 12",
            "id": "Resource",
            "properties": {
                "errors": {
                    "description": "! [Output Only] A list of any errors that occurred during deployment.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "intent": {
                    "description": "! [Output Only] The intended state of the resource.",
                    "type": "string"
                },
                "manifest": {
                    "description": "! [Output Only] URL of the manifest representing the current configuration ! of this resource.",
                    "type": "string"
                },
                "name": {
                    "description": "! [Output Only] The name of the resource as it appears in the YAML config.",
                    "type": "string"
                },
                "state": {
                    "description": "! [Output Only] The state of the resource.",
                    "type": "string"
                },
                "type": {
                    "description": "! [Output Only] The type of the resource, for example ! ?compute.v1.instance?, or ?replicaPools.v1beta2.instanceGroupManager?",
                    "type": "string"
                },
                "url": {
                    "description": "! [Output Only] The URL of the actual resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResourcesListResponse": {
            "description": "! A response containing a partial list of resources and a page token used ! to build the next request if the request has been truncated. Next available tag: 4",
            "id": "ResourcesListResponse",
            "properties": {
                "nextPageToken": {
                    "description": "! A token used to continue a truncated list request.",
                    "type": "string"
                },
                "resources": {
                    "description": "! Resources contained in this list response.",
                    "items": {
                        "$ref": "Resource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Type": {
            "description": "! A type supported by Deployment Manager. Next available tag: 4",
            "id": "Type",
            "properties": {
                "name": {
                    "description": "! Name of the type.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TypesListResponse": {
            "description": "! A response that returns all Types supported by Deployment Manager Next available tag: 3",
            "id": "TypesListResponse",
            "properties": {
                "types": {
                    "description": "! Types supported by Deployment Manager",
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "deploymentmanager/v2beta1/projects/",
    "title": "Google Cloud Deployment Manager API",
    "version": "v2beta1"
}