{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dialogflow.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Dialogflow",
    "description": "An end-to-end development suite for conversational interfaces (e.g., chatbots, voice-powered apps and devices).",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dialogflow-enterprise/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dialogflow:v2beta1",
    "kind": "discovery#restDescription",
    "name": "dialogflow",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "getAgent": {
                    "description": "Retrieves the specified agent.",
                    "httpMethod": "GET",
                    "id": "dialogflow.projects.getAgent",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "description": "Required. The project that the agent to fetch is associated with.\nFormat: `projects/<Project ID>`.",
                            "location": "path",
                            "pattern": "^projects/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v2beta1/{+parent}/agent",
                    "response": {
                        "$ref": "Agent"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "agent": {
                    "methods": {
                        "export": {
                            "description": "Exports the specified agent to a ZIP file.\n\n\nOperation <response: ExportAgentResponse,\n           metadata: google.protobuf.Struct>",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.export",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. The project that the agent to export is associated with.\nFormat: `projects/<Project ID>`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+parent}/agent:export",
                            "request": {
                                "$ref": "ExportAgentRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "restore": {
                            "description": "Restores the specified agent from a ZIP file.\n\nReplaces the current agent version with a new one. All the intents and\nentity types in the older version are deleted.\n\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.restore",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. The project that the agent to restore is associated with.\nFormat: `projects/<Project ID>`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+parent}/agent:restore",
                            "request": {
                                "$ref": "RestoreAgentRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "import": {
                            "description": "Imports the specified agent from a ZIP file.\n\nUploads new intents and entity types without deleting the existing ones.\nIntents and entity types with the same name are replaced with the new\nversions from ImportAgentRequest.\n\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.import",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. The project that the agent to import is associated with.\nFormat: `projects/<Project ID>`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+parent}/agent:import",
                            "request": {
                                "$ref": "ImportAgentRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "search": {
                            "description": "Returns the list of agents.\n\nSince there is at most one conversational agent per project, this method is\nuseful primarily for listing all agents across projects the caller has\naccess to. One can achieve that with a wildcard project collection id \"-\".\nRefer to [List\nSub-Collections](https://cloud.google.com/apis/design/design_patterns#list_sub-collections).",
                            "httpMethod": "GET",
                            "id": "dialogflow.projects.agent.search",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageToken": {
                                    "description": "Optional. The next_page_token value returned from a previous list request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "description": "Required. The project to list agents from.\nFormat: `projects/<Project ID or '-'>`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+parent}/agent:search",
                            "response": {
                                "$ref": "SearchAgentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "train": {
                            "description": "Trains the specified agent.\n\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                            "httpMethod": "POST",
                            "id": "dialogflow.projects.agent.train",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. The project that the agent to train is associated with.\nFormat: `projects/<Project ID>`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+parent}/agent:train",
                            "request": {
                                "$ref": "TrainAgentRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "entityTypes": {
                            "methods": {
                                "delete": {
                                    "description": "Deletes the specified entity type.",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.entityTypes.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the entity type to delete.\nFormat: `projects/<Project ID>/agent/entityTypes/<EntityType ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Returns the list of all entity types in the specified agent.",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.entityTypes.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageToken": {
                                            "description": "Optional. The next_page_token value returned from a previous list request.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "description": "Required. The agent to list all entity types from.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language to list entity synonyms for. If not specified,\nthe agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/entityTypes",
                                    "response": {
                                        "$ref": "ListEntityTypesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates an entity type in the specified agent.",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The agent to create a entity type for.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language of entity synonyms defined in `entity_type`. If not\nspecified, the agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/entityTypes",
                                    "request": {
                                        "$ref": "EntityType"
                                    },
                                    "response": {
                                        "$ref": "EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "batchDelete": {
                                    "description": "Deletes entity types in the specified agent.\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the agent to delete all entities types for. Format:\n`projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/entityTypes:batchDelete",
                                    "request": {
                                        "$ref": "BatchDeleteEntityTypesRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Retrieves the specified entity type.",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.entityTypes.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "description": "Optional. The language to retrieve entity synonyms for. If not specified,\nthe agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. The name of the entity type.\nFormat: `projects/<Project ID>/agent/entityTypes/<EntityType ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the specified entity type.",
                                    "httpMethod": "PATCH",
                                    "id": "dialogflow.projects.agent.entityTypes.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "languageCode": {
                                            "description": "Optional. The language of entity synonyms defined in `entity_type`. If not\nspecified, the agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "Optional. The mask to control which fields get updated.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required for all methods except `create` (`create` populates the name\nautomatically.\nThe unique identifier of the entity type. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "request": {
                                        "$ref": "EntityType"
                                    },
                                    "response": {
                                        "$ref": "EntityType"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "batchUpdate": {
                                    "description": "Updates/Creates multiple entity types in the specified agent.\n\nOperation <response: BatchUpdateEntityTypesResponse,\n           metadata: google.protobuf.Struct>",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the agent to update or create entity types in.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/entityTypes:batchUpdate",
                                    "request": {
                                        "$ref": "BatchUpdateEntityTypesRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "entities": {
                                    "methods": {
                                        "batchUpdate": {
                                            "description": "Updates entities in the specified entity type (replaces the existing\ncollection of entries).\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The name of the entity type to update the entities in. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/entities:batchUpdate",
                                            "request": {
                                                "$ref": "BatchUpdateEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "batchDelete": {
                                            "description": "Deletes entities in the specified entity type.\n\nOperation <response: google.protobuf.Empty,\n           metadata: google.protobuf.Struct>",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The name of the entity type to delete entries for. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/entities:batchDelete",
                                            "request": {
                                                "$ref": "BatchDeleteEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "batchCreate": {
                                            "description": "Creates multiple new entities in the specified entity type (extends the\nexisting collection of entries).\n\nOperation <response: google.protobuf.Empty>",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The name of the entity type to create entities in. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/entities:batchCreate",
                                            "request": {
                                                "$ref": "BatchCreateEntitiesRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "intents": {
                            "methods": {
                                "delete": {
                                    "description": "Deletes the specified intent.",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.intents.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the intent to delete.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Returns the list of all intents in the specified agent.",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.intents.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "description": "Optional. The resource view to apply to the returned intent.",
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The agent to list all intents from.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language to list training phrases, parameters and rich\nmessages for. If not specified, the agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "Optional. The next_page_token value returned from a previous list request.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/intents",
                                    "response": {
                                        "$ref": "ListIntentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "batchDelete": {
                                    "description": "Deletes intents in the specified agent.\n\nOperation <response: google.protobuf.Empty>",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.batchDelete",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the agent to delete all entities types for. Format:\n`projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/intents:batchDelete",
                                    "request": {
                                        "$ref": "BatchDeleteIntentsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates an intent in the specified agent.",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "intentView": {
                                            "description": "Optional. The resource view to apply to the returned intent.",
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The agent to create a intent for.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language of training phrases, parameters and rich messages\ndefined in `intent`. If not specified, the agent's default language is\nused. [More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/intents",
                                    "request": {
                                        "$ref": "Intent"
                                    },
                                    "response": {
                                        "$ref": "Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Retrieves the specified intent.",
                                    "httpMethod": "GET",
                                    "id": "dialogflow.projects.agent.intents.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "intentView": {
                                            "description": "Optional. The resource view to apply to the returned intent.",
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language to retrieve training phrases, parameters and rich\nmessages for. If not specified, the agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "response": {
                                        "$ref": "Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the specified intent.",
                                    "httpMethod": "PATCH",
                                    "id": "dialogflow.projects.agent.intents.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required for all methods except `create` (`create` populates the name\nautomatically.\nThe unique identifier of this intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "intentView": {
                                            "description": "Optional. The resource view to apply to the returned intent.",
                                            "enum": [
                                                "INTENT_VIEW_UNSPECIFIED",
                                                "INTENT_VIEW_FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "languageCode": {
                                            "description": "Optional. The language of training phrases, parameters and rich messages\ndefined in `intent`. If not specified, the agent's default language is\nused. [More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "Optional. The mask to control which fields get updated.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+name}",
                                    "request": {
                                        "$ref": "Intent"
                                    },
                                    "response": {
                                        "$ref": "Intent"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "batchUpdate": {
                                    "description": "Updates/Creates multiple intents in the specified agent.\n\nOperation <response: BatchUpdateIntentsResponse>",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.intents.batchUpdate",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the agent to update or create intents in.\nFormat: `projects/<Project ID>/agent`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/intents:batchUpdate",
                                    "request": {
                                        "$ref": "BatchUpdateIntentsRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "sessions": {
                            "methods": {
                                "deleteContexts": {
                                    "description": "Deletes all active contexts in the specified session.",
                                    "httpMethod": "DELETE",
                                    "id": "dialogflow.projects.agent.sessions.deleteContexts",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the session to delete all contexts from. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+parent}/contexts",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "detectIntent": {
                                    "description": "Processes a natural language query and returns structured, actionable data\nas a result. This method is not idempotent, because it may cause contexts\nand session entity types to be updated, which in turn might affect\nresults of future queries.",
                                    "httpMethod": "POST",
                                    "id": "dialogflow.projects.agent.sessions.detectIntent",
                                    "parameterOrder": [
                                        "session"
                                    ],
                                    "parameters": {
                                        "session": {
                                            "description": "Required. The name of the session this query is sent to. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>`.\nIt's up to the API caller to choose an appropriate session ID. It can be\na random number or some type of user identifier (preferably hashed).\nThe length of the session ID must not exceed 36 bytes.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2beta1/{+session}:detectIntent",
                                    "request": {
                                        "$ref": "DetectIntentRequest"
                                    },
                                    "response": {
                                        "$ref": "DetectIntentResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "contexts": {
                                    "methods": {
                                        "delete": {
                                            "description": "Deletes the specified context.",
                                            "httpMethod": "DELETE",
                                            "id": "dialogflow.projects.agent.sessions.contexts.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. The name of the context to delete. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "description": "Returns the list of all contexts in the specified session.",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.contexts.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The session to list all contexts from.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageToken": {
                                                    "description": "Optional. The next_page_token value returned from a previous list request.",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.",
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/contexts",
                                            "response": {
                                                "$ref": "ListContextsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "description": "Retrieves the specified context.",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.contexts.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. The name of the context. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "response": {
                                                "$ref": "Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "description": "Updates the specified context.",
                                            "httpMethod": "PATCH",
                                            "id": "dialogflow.projects.agent.sessions.contexts.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "updateMask": {
                                                    "description": "Optional. The mask to control which fields get updated.",
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Required. The unique identifier of the context. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/contexts/<Context ID>`.\nNote: The Context ID is always converted to lowercase.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "request": {
                                                "$ref": "Context"
                                            },
                                            "response": {
                                                "$ref": "Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "description": "Creates a context.",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.sessions.contexts.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The session to create a context for.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/contexts",
                                            "request": {
                                                "$ref": "Context"
                                            },
                                            "response": {
                                                "$ref": "Context"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "entityTypes": {
                                    "methods": {
                                        "delete": {
                                            "description": "Deletes the specified session entity type.",
                                            "httpMethod": "DELETE",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. The name of the entity type to delete. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/entityTypes/<Entity Type\nDisplay Name>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "response": {
                                                "$ref": "Empty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "list": {
                                            "description": "Returns the list of all session entity types in the specified session.",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "pageToken": {
                                                    "description": "Optional. The next_page_token value returned from a previous list request.",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "pageSize": {
                                                    "description": "Optional. The maximum number of items to return in a single page. By\ndefault 100 and at most 1000.",
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "parent": {
                                                    "description": "Required. The session to list all session entity types from.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/entityTypes",
                                            "response": {
                                                "$ref": "ListSessionEntityTypesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "description": "Retrieves the specified session entity type.",
                                            "httpMethod": "GET",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. The name of the session entity type. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/entityTypes/<Entity Type\nDisplay Name>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "response": {
                                                "$ref": "SessionEntityType"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "patch": {
                                            "description": "Updates the specified session entity type.",
                                            "httpMethod": "PATCH",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "updateMask": {
                                                    "description": "Optional. The mask to control which fields get updated.",
                                                    "format": "google-fieldmask",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Required. The unique identifier of this session entity type. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/entityTypes/<Entity Type\nDisplay Name>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+name}",
                                            "request": {
                                                "$ref": "SessionEntityType"
                                            },
                                            "response": {
                                                "$ref": "SessionEntityType"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "description": "Creates a session entity type.",
                                            "httpMethod": "POST",
                                            "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. The session to create a session entity type for.\nFormat: `projects/<Project ID>/agent/sessions/<Session ID>`.",
                                                    "location": "path",
                                                    "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v2beta1/{+parent}/entityTypes",
                                            "request": {
                                                "$ref": "SessionEntityType"
                                            },
                                            "response": {
                                                "$ref": "SessionEntityType"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "get": {
                            "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                            "httpMethod": "GET",
                            "id": "dialogflow.projects.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        }
    },
    "revision": "20180123",
    "rootUrl": "https://dialogflow.googleapis.com/",
    "schemas": {
        "TrainAgentRequest": {
            "description": "The request message for Agents.TrainAgent.",
            "id": "TrainAgentRequest",
            "properties": {},
            "type": "object"
        },
        "SessionEntityType": {
            "description": "Represents a session entity type.\n\nExtends or replaces a developer entity type at the user session level (we\nrefer to the entity types defined at the agent level as \"developer entity\ntypes\").\n\nNote: session entity types apply to all queries, regardless of the language.",
            "id": "SessionEntityType",
            "properties": {
                "entities": {
                    "description": "Required. The collection of entities associated with this session entity\ntype.",
                    "items": {
                        "$ref": "EntityTypeEntity"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Required. The unique identifier of this session entity type. Format:\n`projects/<Project ID>/agent/sessions/<Session ID>/entityTypes/<Entity Type\nDisplay Name>`.",
                    "type": "string"
                },
                "entityOverrideMode": {
                    "description": "Required. Indicates whether the additional data should override or\nsupplement the developer entity type definition.",
                    "enum": [
                        "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
                        "ENTITY_OVERRIDE_MODE_OVERRIDE",
                        "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
                    ],
                    "enumDescriptions": [
                        "Not specified. This value should be never used.",
                        "The collection of session entities overrides the collection of entities\nin the corresponding developer entity type.",
                        "The collection of session entities extends the collection of entities in\nthe corresponding developer entity type.\nCalls to `ListSessionEntityTypes`, `GetSessionEntityType`,\n`CreateSessionEntityType` and `UpdateSessionEntityType` return the full\ncollection of entities from the developer entity type in the agent's\ndefault language and the session entity type."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "BatchUpdateEntitiesRequest": {
            "description": "The response message for EntityTypes.BatchCreateEntities.",
            "id": "BatchUpdateEntitiesRequest",
            "properties": {
                "entities": {
                    "description": "Required. The collection of new entities to replace the existing entities.",
                    "items": {
                        "$ref": "EntityTypeEntity"
                    },
                    "type": "array"
                },
                "languageCode": {
                    "description": "Optional. The language of entity synonyms defined in `entities`. If not\nspecified, the agent's default language is used.\n[More than a dozen\nlanguages](https://dialogflow.com/docs/reference/language) are supported.\nNote: languages must be enabled in the agent, before they can be used.",
                    "type": "string"
                },
                "updateMask": {
                    "description": "Optional. The mask to control which fields get updated.",
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentMessageText": {
            "description": "The text response message.",
            "id": "IntentMessageText",
            "properties": {
                "text": {
                    "description": "Optional. The collection of the agent's responses.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "WebhookResponse": {
            "description": "The response message for a webhook call.",
            "id": "WebhookResponse",
            "properties": {
                "followupEventInput": {
                    "$ref": "EventInput",
                    "description": "Optional. Makes the platform immediately invoke another `DetectIntent` call\ninternally with the specified event as input."
                },
                "outputContexts": {
                    "description": "Optional. The collection of output contexts. This value is passed directly\nto `QueryResult.output_contexts`.",
                    "items": {
                        "$ref": "Context"
                    },
                    "type": "array"
                },
                "fulfillmentText": {
                    "description": "Optional. The text to be shown on the screen. This value is passed directly\nto `QueryResult.fulfillment_text`.",
                    "type": "string"
                },
                "fulfillmentMessages": {
                    "description": "Optional. The collection of rich messages to present to the user. This\nvalue is passed directly to `QueryResult.fulfillment_messages`.",
                    "items": {
                        "$ref": "IntentMessage"
                    },
                    "type": "array"
                },
                "payload": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "Optional. This value is passed directly to `QueryResult.webhook_payload`.",
                    "type": "object"
                },
                "source": {
                    "description": "Optional. This value is passed directly to `QueryResult.webhook_source`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchDeleteIntentsRequest": {
            "description": "The request message for Intents.BatchDeleteIntents.",
            "id": "BatchDeleteIntentsRequest",
            "properties": {
                "intents": {
                    "description": "Required. The collection of intents to delete. Only intent `name` must be\nfilled in.",
                    "items": {
                        "$ref": "Intent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "QueryInput": {
            "description": "Represents the query input. It can contain either:\n\n1.  An audio config which\n    instructs the speech recognizer how to process the speech audio.\n\n2.  A conversational query in the form of text,.\n\n3.  An event that specifies which intent to trigger.",
            "id": "QueryInput",
            "properties": {
                "audioConfig": {
                    "$ref": "InputAudioConfig",
                    "description": "Instructs the speech recognizer how to process the speech audio."
                },
                "event": {
                    "$ref": "EventInput",
                    "description": "The event to be processed."
                },
                "text": {
                    "$ref": "TextInput",
                    "description": "The natural language text to be processed."
                }
            },
            "type": "object"
        },
        "DetectIntentResponse": {
            "description": "The message returned from the DetectIntent method.",
            "id": "DetectIntentResponse",
            "properties": {
                "queryResult": {
                    "$ref": "QueryResult",
                    "description": "The results of the conversational query or event processing."
                },
                "webhookStatus": {
                    "$ref": "Status",
                    "description": "Specifies the status of the webhook request. `webhook_status`\nis never populated in webhook requests."
                },
                "responseId": {
                    "description": "The unique identifier of the response. It can be used to\nlocate a response in the training example set or for reporting issues.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentFollowupIntentInfo": {
            "description": "Represents a single followup intent in the chain.",
            "id": "IntentFollowupIntentInfo",
            "properties": {
                "followupIntentName": {
                    "description": "The unique identifier of the followup intent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
                    "type": "string"
                },
                "parentFollowupIntentName": {
                    "description": "The unique identifier of the followup intent parent.\nFormat: `projects/<Project ID>/agent/intents/<Intent ID>`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportAgentRequest": {
            "description": "The request message for Agents.ExportAgent.",
            "id": "ExportAgentRequest",
            "properties": {
                "agentUri": {
                    "description": "Warning: Exporting agents to a URI is not implemented yet.\nThis feature is coming soon.\n\nOptional. The Google Cloud Storage URI to export the agent to.\nNote: The URI must start with\n\"gs://\". If left unspecified, the serialized agent is returned inline.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentMessageLinkOutSuggestion": {
            "description": "The suggestion chip message that allows the user to jump out to the app\nor website associated with this agent.",
            "id": "IntentMessageLinkOutSuggestion",
            "properties": {
                "uri": {
                    "description": "Required. The URI of the app or site to open when the user taps the\nsuggestion chip.",
                    "type": "string"
                },
                "destinationName": {
                    "description": "Required. The name of the app or site this chip is linking to.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentMessageSelectItemInfo": {
            "description": "Additional info about the select item for when it is triggered in a\ndialog.",
            "id": "IntentMessageSelectItemInfo",
            "properties": {
                "synonyms": {
                    "description": "Optional. A list of synonyms that can also be used to trigger this\nitem in dialog.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "key": {
                    "description": "Required. A unique key that will be sent back to the agent if this\nresponse is given.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "Operation",
            "properties": {
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                },
                "error": {
                    "$ref": "Status",
                    "description": "The error result of the operation in case of failure or cancellation."
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "type": "object"
                },
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EventInput": {
            "description": "Events allow for matching intents by event name instead of the natural\nlanguage input. For instance, input `<event: { name: “welcome_event”,\nparameters: { name: “Sam” } }>` can trigger a personalized welcome response.\nThe parameter `name` may be used by the agent in the response:\n`“Hello #welcome_event.name! What can I do for you today?”`.",
            "id": "EventInput",
            "properties": {
                "name": {
                    "description": "Required. The unique identifier of the event.",
                    "type": "string"
                },
                "parameters": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "Optional. The collection of parameters associated with the event.",
                    "type": "object"
                },
                "languageCode": {
                    "description": "Required. The language of this query. See [Language\nSupport](https://dialogflow.com/docs/languages) for a list of the\ncurrently supported language codes. Note that queries in the same session\ndo not necessarily need to specify the same language.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IntentMessageSuggestions": {
            "description": "The collection of suggestions.",
            "id": "IntentMessageSuggestions",
            "properties": {
                "suggestions": {
                    "description": "Required. The list of suggested replies.",
                    "items": {
                        "$ref": "IntentMessageSuggestion"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EntityType": {
            "description": "Represents an entity type.\nEntity types serve as a tool for extracting parameter values from natural\nlanguage queries.",
            "id": "EntityType",
            "properties": {
                "entities": {
                    "description": "Optional. The collection of entities associated with the entity type.",
                    "items": {
                        "$ref": "EntityTypeEntity"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Required for all methods except `create` (`create` populates the name\nautomatically.\nThe unique identifier of the entity type. Format:\n`projects/<Project ID>/agent/entityTypes/<Entity Type ID>`.",
                    "type": "string"
                },
                "displayName": {
                    "description": "Required. The name of the entity.",
                    "type": "string"
                },
                "kind": {
                    "description": "Required. Indicates the kind of entity type.",
                    "enum": [
                        "KIND_UNSPECIFIED",
                        "KIND_MAP",
                        "KIND_LIST"
                    ],
                    "enumDescriptions": [
                        "Not specified. This value should be never used.",
                        "Map entity types allow mapping of a group of synonyms to a canonical\nvalue.",
                        "List entity types contain a set of entries that do not map to canonical\nvalues. However, list entity types can contain references to other entity\ntypes (with or without aliases)."
                    ],
                    "type": "string"
                },
                "autoExpansionMode": {
                    "description": "Optional. Indicates whether the entity type can be automatically\nexpanded.",
                    "enum": [
                        "AUTO_EXPANSION_MODE_UNSPECIFIED",
                        "AUTO_EXPANSION_MODE_DEFAULT"
                    ],
                    "enumDescriptions": [
                        "Auto expansion disabled for the entity.",
                        "Allows an agent to recognize values that have not been explicitly\nlisted in the entity."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
[...]
