{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dlp.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "DLP",
    "description": "The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dlp/docs/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dlp:v2beta1",
    "kind": "discovery#restDescription",
    "name": "dlp",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "inspect": {
            "resources": {
                "results": {
                    "resources": {
                        "findings": {
                            "methods": {
                                "list": {
                                    "description": "Returns list of results for given inspect operation result set id.",
                                    "httpMethod": "GET",
                                    "id": "dlp.inspect.results.findings.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "description": "Restricts findings to items that match. Supports info_type and likelihood.\n\nExamples:\n\n- info_type=EMAIL_ADDRESS\n- info_type=PHONE_NUMBER,EMAIL_ADDRESS\n- likelihood=VERY_LIKELY\n- likelihood=VERY_LIKELY,LIKELY\n- info_type=EMAIL_ADDRESS,likelihood=VERY_LIKELY,LIKELY",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Identifier of the results set returned as metadata of\nthe longrunning operation created by a call to InspectDataSource.\nShould be in the format of `inspect/results/{id}`.",
                                            "location": "path",
                                            "pattern": "^inspect/results/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "The value returned by the last `ListInspectFindingsResponse`; indicates\nthat this is a continuation of a prior `ListInspectFindings` call, and that\nthe system should return the next page of data.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Maximum number of results to return.\nIf 0, the implementation selects a reasonable value.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "v2beta1/{+name}/findings",
                                    "response": {
                                        "$ref": "GooglePrivacyDlpV2beta1ListInspectFindingsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                },
                "operations": {
                    "methods": {
                        "cancel": {
                            "description": "Cancels an operation. Use the `inspect.operations.get` to check whether the cancellation succeeded or the operation completed despite cancellation.",
                            "httpMethod": "POST",
                            "id": "dlp.inspect.operations.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource to be cancelled.",
                                    "location": "path",
                                    "pattern": "^inspect/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}:cancel",
                            "request": {
                                "$ref": "GoogleLongrunningCancelOperationRequest"
                            },
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "description": "This method is not supported and the server returns `UNIMPLEMENTED`.",
                            "httpMethod": "DELETE",
                            "id": "dlp.inspect.operations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource to be deleted.",
                                    "location": "path",
                                    "pattern": "^inspect/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "description": "Fetches the list of long running operations.",
                            "httpMethod": "GET",
                            "id": "dlp.inspect.operations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "description": "Filters by `done`. That is, `done=true` or `done=false`.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the operation's parent resource.",
                                    "location": "path",
                                    "pattern": "^inspect/operations$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The standard list page token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "The list page size. The maximum allowed value is 256 and the default is 100.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                            "httpMethod": "GET",
                            "id": "dlp.inspect.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource.",
                                    "location": "path",
                                    "pattern": "^inspect/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "description": "Schedules a job scanning content in a Google Cloud Platform data\nrepository.",
                            "httpMethod": "POST",
                            "id": "dlp.inspect.operations.create",
                            "parameterOrder": [],
                            "parameters": {},
                            "path": "v2beta1/inspect/operations",
                            "request": {
                                "$ref": "GooglePrivacyDlpV2beta1CreateInspectOperationRequest"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "content": {
            "methods": {
                "inspect": {
                    "description": "Finds potentially sensitive info in a list of strings.\nThis method has limits on input size, processing time, and output size.",
                    "httpMethod": "POST",
                    "id": "dlp.content.inspect",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2beta1/content:inspect",
                    "request": {
                        "$ref": "GooglePrivacyDlpV2beta1InspectContentRequest"
                    },
                    "response": {
                        "$ref": "GooglePrivacyDlpV2beta1InspectContentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "redact": {
                    "description": "Redacts potentially sensitive info from a list of strings.\nThis method has limits on input size, processing time, and output size.",
                    "httpMethod": "POST",
                    "id": "dlp.content.redact",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2beta1/content:redact",
                    "request": {
                        "$ref": "GooglePrivacyDlpV2beta1RedactContentRequest"
                    },
                    "response": {
                        "$ref": "GooglePrivacyDlpV2beta1RedactContentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "deidentify": {
                    "description": "De-identifies potentially sensitive info from a list of strings.\nThis method has limits on input size and output size.",
                    "httpMethod": "POST",
                    "id": "dlp.content.deidentify",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2beta1/content:deidentify",
                    "request": {
                        "$ref": "GooglePrivacyDlpV2beta1DeidentifyContentRequest"
                    },
                    "response": {
                        "$ref": "GooglePrivacyDlpV2beta1DeidentifyContentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "rootCategories": {
            "methods": {
                "list": {
                    "description": "Returns the list of root categories of sensitive information.",
                    "httpMethod": "GET",
                    "id": "dlp.rootCategories.list",
                    "parameterOrder": [],
                    "parameters": {
                        "languageCode": {
                            "description": "Optional language code for localized friendly category names.\nIf omitted or if localized strings are not available,\nen-US strings will be returned.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v2beta1/rootCategories",
                    "response": {
                        "$ref": "GooglePrivacyDlpV2beta1ListRootCategoriesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "infoTypes": {
                    "methods": {
                        "list": {
                            "description": "Returns sensitive information types for given category.",
                            "httpMethod": "GET",
                            "id": "dlp.rootCategories.infoTypes.list",
                            "parameterOrder": [
                                "category"
                            ],
                            "parameters": {
                                "category": {
                                    "description": "Category name as returned by ListRootCategories.",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "languageCode": {
                                    "description": "Optional BCP-47 language code for localized info type friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/rootCategories/{+category}/infoTypes",
                            "response": {
                                "$ref": "GooglePrivacyDlpV2beta1ListInfoTypesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "riskAnalysis": {
            "resources": {
                "operations": {
                    "methods": {
                        "cancel": {
                            "description": "Cancels an operation. Use the `inspect.operations.get` to check whether the cancellation succeeded or the operation completed despite cancellation.",
                            "httpMethod": "POST",
                            "id": "dlp.riskAnalysis.operations.cancel",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource to be cancelled.",
                                    "location": "path",
                                    "pattern": "^riskAnalysis/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}:cancel",
                            "request": {
                                "$ref": "GoogleLongrunningCancelOperationRequest"
                            },
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "description": "This method is not supported and the server returns `UNIMPLEMENTED`.",
                            "httpMethod": "DELETE",
                            "id": "dlp.riskAnalysis.operations.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource to be deleted.",
                                    "location": "path",
                                    "pattern": "^riskAnalysis/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "description": "Fetches the list of long running operations.",
                            "httpMethod": "GET",
                            "id": "dlp.riskAnalysis.operations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "description": "Filters by `done`. That is, `done=true` or `done=false`.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the operation's parent resource.",
                                    "location": "path",
                                    "pattern": "^riskAnalysis/operations$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The standard list page token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "The list page size. The maximum allowed value is 256 and the default is 100.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                            "httpMethod": "GET",
                            "id": "dlp.riskAnalysis.operations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the operation resource.",
                                    "location": "path",
                                    "pattern": "^riskAnalysis/operations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2beta1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "dataSource": {
            "methods": {
                "analyze": {
                    "description": "Schedules a job to compute risk analysis metrics over content in a Google\nCloud Platform repository.",
                    "httpMethod": "POST",
                    "id": "dlp.dataSource.analyze",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v2beta1/dataSource:analyze",
                    "request": {
                        "$ref": "GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "revision": "20171031",
    "rootUrl": "https://dlp.googleapis.com/",
    "schemas": {
        "GooglePrivacyDlpV2beta1FieldTransformation": {
            "description": "The transformation to apply to the field.",
            "id": "GooglePrivacyDlpV2beta1FieldTransformation",
            "properties": {
                "condition": {
                    "$ref": "GooglePrivacyDlpV2beta1RecordCondition",
                    "description": "Only apply the transformation if the condition evaluates to true for the\ngiven `RecordCondition`. The conditions are allowed to reference fields\nthat are not used in the actual transformation. [optional]\n\nExample Use Cases:\n\n- Apply a different bucket transformation to an age column if the zip code\ncolumn for the same record is within a specific range.\n- Redact a field if the date of birth field is greater than 85."
                },
                "infoTypeTransformations": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoTypeTransformations",
                    "description": "Treat the contents of the field as free text, and selectively\ntransform content that matches an `InfoType`."
                },
                "fields": {
                    "description": "Input field(s) to apply the transformation to. [required]",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1FieldId"
                    },
                    "type": "array"
                },
                "primitiveTransformation": {
                    "$ref": "GooglePrivacyDlpV2beta1PrimitiveTransformation",
                    "description": "Apply the transformation to the entire field."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1OutputStorageConfig": {
            "description": "Cloud repository for storing output.",
            "id": "GooglePrivacyDlpV2beta1OutputStorageConfig",
            "properties": {
                "storagePath": {
                    "$ref": "GooglePrivacyDlpV2beta1CloudStoragePath",
                    "description": "The path to a Google Cloud Storage location to store output.\nThe bucket must already exist and\nthe Google APIs service account for DLP must have write permission to\nwrite to the given bucket.\nResults are split over multiple csv files with each file name matching\nthe pattern \"[operation_id]_[count].csv\", for example\n`3094877188788974909_1.csv`. The `operation_id` matches the\nidentifier for the Operation, and the `count` is a counter used for\ntracking the number of files written.\n\nThe CSV file(s) contain the following columns regardless of storage type\nscanned:\n- id\n- info_type\n- likelihood\n- byte size of finding\n- quote\n- timestamp\n\nFor Cloud Storage the next columns are:\n\n- file_path\n- start_offset\n\nFor Cloud Datastore the next columns are:\n\n- project_id\n- namespace_id\n- path\n- column_name\n- offset\n\nFor BigQuery the next columns are:\n\n- row_number\n- project_id\n- dataset_id\n- table_id"
                },
                "table": {
                    "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
                    "description": "Store findings in a new table in the dataset."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1BucketingConfig": {
            "description": "Generalization function that buckets values based on ranges. The ranges and\nreplacement values are dynamically provided by the user for custom behavior,\nsuch as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH\nThis can be used on\ndata of type: number, long, string, timestamp.\nIf the bound `Value` type differs from the type of data being transformed, we\nwill first attempt converting the type of the data to be transformed to match\nthe type of the bound before comparing.",
            "id": "GooglePrivacyDlpV2beta1BucketingConfig",
            "properties": {
                "buckets": {
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Bucket"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1DeidentifyContentResponse": {
            "description": "Results of de-identifying a list of items.",
            "id": "GooglePrivacyDlpV2beta1DeidentifyContentResponse",
            "properties": {
                "items": {
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1ContentItem"
                    },
                    "type": "array"
                },
                "summaries": {
                    "description": "A review of the transformations that took place for each item.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1DeidentificationSummary"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass": {
            "description": "The set of columns' values that share the same k-anonymity value.",
            "id": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass",
            "properties": {
                "quasiIdsValues": {
                    "description": "Set of values defining the equivalence class. One value per\nquasi-identifier column in the original KAnonymity metric message.\nThe order is always the same as the original request.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Value"
                    },
                    "type": "array"
                },
                "equivalenceClassSize": {
                    "description": "Size of the equivalence class, for example number of rows with the\nabove set of values.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GoogleLongrunningOperation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "GoogleLongrunningOperation",
            "properties": {
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                },
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "This field will contain an InspectOperationResult object for `inspect.operations.create` or a RiskAnalysisOperationResult object for `dataSource.analyze`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name. The `name` should have the format of `inspect/operations/<identifier>`.",
                    "type": "string"
                },
                "error": {
                    "$ref": "GoogleRpcStatus",
                    "description": "The error result of the operation in case of failure or cancellation."
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "This field will contain an InspectOperationMetadata object for `inspect.operations.create` or a RiskAnalysisOperationMetadata object for `dataSource.analyze`.  This will always be returned with the Operation.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1KmsWrappedCryptoKey": {
            "description": "Include to use an existing data crypto key wrapped by KMS.\nAuthorization requires the following IAM permissions when sending a request\nto perform a crypto transformation using a kms-wrapped crypto key:\ndlp.kms.encrypt",
            "id": "GooglePrivacyDlpV2beta1KmsWrappedCryptoKey",
            "properties": {
                "wrappedKey": {
                    "description": "The wrapped data crypto key. [required]",
                    "format": "byte",
                    "type": "string"
                },
                "cryptoKeyName": {
                    "description": "The resource name of the KMS CryptoKey to use for unwrapping. [required]",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InspectOperationMetadata": {
            "description": "Metadata returned within GetOperation for an inspect request.",
            "id": "GooglePrivacyDlpV2beta1InspectOperationMetadata",
            "properties": {
                "totalEstimatedBytes": {
                    "description": "Estimate of the number of bytes to process.",
                    "format": "int64",
                    "type": "string"
                },
                "infoTypeStats": {
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoTypeStatistics"
                    },
                    "type": "array"
                },
                "requestInspectConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1InspectConfig",
                    "description": "The inspect config used to create the Operation."
                },
                "requestOutputConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1OutputStorageConfig",
                    "description": "Optional location to store findings."
                },
                "createTime": {
                    "description": "The time which this request was started.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestStorageConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1StorageConfig",
                    "description": "The storage config used to create the Operation."
                },
                "processedBytes": {
                    "description": "Total size in bytes that were processed.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InfoType": {
            "description": "Type of information detected by the API.",
            "id": "GooglePrivacyDlpV2beta1InfoType",
            "properties": {
                "name": {
                    "description": "Name of the information type.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CharsToIgnore": {
            "description": "Characters to skip when doing deidentification of a value. These will be left\nalone and skipped.",
            "id": "GooglePrivacyDlpV2beta1CharsToIgnore",
            "properties": {
                "charactersToSkip": {
                    "type": "string"
                },
                "commonCharactersToIgnore": {
                    "enum": [
                        "CHARACTER_GROUP_UNSPECIFIED",
                        "NUMERIC",
                        "ALPHA_UPPER_CASE",
                        "ALPHA_LOWER_CASE",
                        "PUNCTUATION",
                        "WHITESPACE"
                    ],
                    "enumDescriptions": [
                        "",
                        "0-9",
                        "A-Z",
                        "a-z",
                        "US Punctuation, one of !\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~",
                        "Whitespace character, one of [ \\t\\n\\x0B\\f\\r]"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1FixedSizeBucketingConfig": {
            "description": "Buckets values based on fixed size ranges. The\nBucketing transformation can provide all of this functionality,\nbut requires more configuration. This message is provided as a convenience to\nthe user for simple bucketing strategies.\nThe resulting value will be a hyphenated string of\nlower_bound-upper_bound.\nThis can be used on data of type: double, long.\nIf the bound Value type differs from the type of data\nbeing transformed, we will first attempt converting the type of the data to\nbe transformed to match the type of the bound before comparing.",
            "id": "GooglePrivacyDlpV2beta1FixedSizeBucketingConfig",
            "properties": {
                "lowerBound": {
                    "$ref": "GooglePrivacyDlpV2beta1Value",
                    "description": "Lower bound value of buckets. All values less than `lower_bound` are\ngrouped together into a single bucket; for example if `lower_bound` = 10,\nthen all values less than 10 are replaced with the value “-10”. [Required]."
                },
                "bucketSize": {
                    "description": "Size of each bucket (except for minimum and maximum buckets). So if\n`lower_bound` = 10, `upper_bound` = 89, and `bucket_size` = 10, then the\nfollowing buckets would be used: -10, 10-20, 20-30, 30-40, 40-50, 50-60,\n60-70, 70-80, 80-89, 89+. Precision up to 2 decimals works. [Required].",
                    "format": "double",
                    "type": "number"
                },
                "upperBound": {
                    "$ref": "GooglePrivacyDlpV2beta1Value",
                    "description": "Upper bound value of buckets. All values greater than upper_bound are\ngrouped together into a single bucket; for example if `upper_bound` = 89,\nthen all values greater than 89 are replaced with the value “89+”.\n[Required]."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult": {
            "description": "Result of a risk analysis\n[`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)\nrequest.",
            "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationResult",
            "properties": {
                "categoricalStatsResult": {
                    "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsResult"
                },
                "numericalStatsResult": {
                    "$ref": "GooglePrivacyDlpV2beta1NumericalStatsResult"
                },
                "kAnonymityResult": {
                    "$ref": "GooglePrivacyDlpV2beta1KAnonymityResult"
                },
                "lDiversityResult": {
                    "$ref": "GooglePrivacyDlpV2beta1LDiversityResult"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Conditions": {
            "id": "GooglePrivacyDlpV2beta1Conditions",
            "properties": {
                "conditions": {
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Condition"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CategoryDescription": {
            "description": "Info Type Category description.",
            "id": "GooglePrivacyDlpV2beta1CategoryDescription",
            "properties": {
                "displayName": {
                    "description": "Human readable form of the category name.",
                    "type": "string"
                },
                "name": {
                    "description": "Internal name of the category.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1PrimitiveTransformation": {
            "description": "A rule for transforming a value.",
            "id": "GooglePrivacyDlpV2beta1PrimitiveTransformation",
            "properties": {
                "characterMaskConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1CharacterMaskConfig"
                },
                "redactConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1RedactConfig"
                },
                "bucketingConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1BucketingConfig"
                },
                "replaceWithInfoTypeConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1ReplaceWithInfoTypeConfig"
                },
                "cryptoHashConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1CryptoHashConfig"
                },
                "cryptoReplaceFfxFpeConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1CryptoReplaceFfxFpeConfig"
                },
                "replaceConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1ReplaceValueConfig"
                },
                "fixedSizeBucketingConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1FixedSizeBucketingConfig"
                },
                "timePartConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1TimePartConfig"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CategoricalStatsConfig": {
            "description": "Compute numerical stats over an individual column, including\nnumber of distinct values and value count distribution.",
            "id": "GooglePrivacyDlpV2beta1CategoricalStatsConfig",
            "properties": {
                "field": {
                    "$ref": "GooglePrivacyDlpV2beta1FieldId",
                    "description": "Field to compute categorical stats on. All column types are\nsupported except for arrays and structs. However, it may be more\ninformative to use NumericalStats when the field type is supported,\ndepending on the data."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Finding": {
            "description": "Container structure describing a single finding within a string or image.",
            "id": "GooglePrivacyDlpV2beta1Finding",
            "properties": {
                "likelihood": {
                    "description": "Estimate of how likely it is that the info_type is correct.",
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "enumDescriptions": [
                        "Default value; information with all likelihoods is included.",
                        "Few matching elements.",
                        "",
                        "Some matching elements.",
                        "",
                        "Many matching elements."
                    ],
                    "type": "string"
                },
                "infoType": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoType",
                    "description": "The specific type of info the string might be."
                },
                "createTime": {
                    "description": "Timestamp when finding was detected.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "quote": {
                    "description": "The specific string that may be potentially sensitive info.",
                    "type": "string"
                },
                "location": {
                    "$ref": "GooglePrivacyDlpV2beta1Location",
                    "description": "Location of the info found."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata": {
            "description": "Metadata returned within the\n[`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)\nfor risk analysis.",
            "id": "GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata",
            "properties": {
                "createTime": {
                    "description": "The time which this request was started.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "requestedSourceTable": {
                    "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
                    "description": "Input dataset to compute metrics over."
                },
                "requestedPrivacyMetric": {
                    "$ref": "GooglePrivacyDlpV2beta1PrivacyMetric",
                    "description": "Privacy metric to compute."
                }
            },
            "type": "object"
        },
        "GoogleLongrunningListOperationsResponse": {
            "description": "The response message for Operations.ListOperations.",
            "id": "GoogleLongrunningListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "The standard List next-page token.",
                    "type": "string"
                },
                "operations": {
                    "description": "A list of operations that matches the specified filter in the request.",
                    "items": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Row": {
            "id": "GooglePrivacyDlpV2beta1Row",
            "properties": {
                "values": {
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Value"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleProtobufEmpty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "GoogleProtobufEmpty",
            "properties": {},
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ListInspectFindingsResponse": {
            "description": "Response to the ListInspectFindings request.",
            "id": "GooglePrivacyDlpV2beta1ListInspectFindingsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If not empty, indicates that there may be more results that match the\nrequest; this value should be passed in a new `ListInspectFindingsRequest`.",
                    "type": "string"
                },
                "result": {
                    "$ref": "GooglePrivacyDlpV2beta1InspectResult",
                    "description": "The results."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Expressions": {
            "description": "A collection of expressions",
            "id": "GooglePrivacyDlpV2beta1Expressions",
            "properties": {
                "logicalOperator": {
                    "description": "The operator to apply to the result of conditions. Default and currently\nonly supported value is `AND`.",
                    "enum": [
                        "LOGICAL_OPERATOR_UNSPECIFIED",
                        "AND"
                    ],
                    "enumDescriptions": [
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "conditions": {
                    "$ref": "GooglePrivacyDlpV2beta1Conditions"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CloudStorageOptions": {
            "description": "Options defining a file or a set of files (path ending with *) within\na Google Cloud Storage bucket.",
            "id": "GooglePrivacyDlpV2beta1CloudStorageOptions",
            "properties": {
                "fileSet": {
                    "$ref": "GooglePrivacyDlpV2beta1FileSet"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CloudStoragePath": {
            "description": "A location in Cloud Storage.",
            "id": "GooglePrivacyDlpV2beta1CloudStoragePath",
            "properties": {
                "path": {
                    "description": "The url, in the format of `gs://bucket/<path>`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InspectOperationResult": {
            "description": "The operational data.",
            "id": "GooglePrivacyDlpV2beta1InspectOperationResult",
            "properties": {
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `inspect/results/{id}`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket": {
            "description": "Histogram bucket of equivalence class sizes in the table.",
            "id": "GooglePrivacyDlpV2beta1KAnonymityHistogramBucket",
            "properties": {
                "equivalenceClassSizeLowerBound": {
                    "description": "Lower bound on the size of the equivalence classes in this bucket.",
                    "format": "int64",
                    "type": "string"
                },
                "equivalenceClassSizeUpperBound": {
                    "description": "Upper bound on the size of the equivalence classes in this bucket.",
                    "format": "int64",
                    "type": "string"
                },
                "bucketSize": {
                    "description": "Total number of records in this bucket.",
                    "format": "int64",
                    "type": "string"
                },
                "bucketValues": {
                    "description": "Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Range": {
            "description": "Generic half-open interval [start, end)",
            "id": "GooglePrivacyDlpV2beta1Range",
            "properties": {
                "end": {
                    "description": "Index of the last character of the range (exclusive).",
                    "format": "int64",
                    "type": "string"
                },
                "start": {
                    "description": "Index of the first character of the range (inclusive).",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CategoricalStatsResult": {
            "description": "Result of the categorical stats computation.",
            "id": "GooglePrivacyDlpV2beta1CategoricalStatsResult",
            "properties": {
                "valueFrequencyHistogramBuckets": {
                    "description": "Histogram of value frequencies in the column.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1LDiversityResult": {
            "description": "Result of the l-diversity computation.",
            "id": "GooglePrivacyDlpV2beta1LDiversityResult",
            "properties": {
                "sensitiveValueFrequencyHistogramBuckets": {
                    "description": "Histogram of l-diversity equivalence class sensitive value frequencies.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1LDiversityHistogramBucket"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GoogleTypeTimeOfDay": {
            "description": "Represents a time of day. The date and time zone are either not significant\nor are specified elsewhere. An API may choose to allow leap seconds. Related\ntypes are google.type.Date and `google.protobuf.Timestamp`.",
            "id": "GoogleTypeTimeOfDay",
            "properties": {
                "hours": {
                    "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose\nto allow the value \"24:00:00\" for scenarios like business closing time.",
                    "format": "int32",
                    "type": "integer"
                },
                "nanos": {
                    "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999.",
                    "format": "int32",
                    "type": "integer"
                },
                "seconds": {
                    "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may\nallow the value 60 if it allows leap-seconds.",
                    "format": "int32",
                    "type": "integer"
                },
                "minutes": {
                    "description": "Minutes of hour of day. Must be from 0 to 59.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1DeidentifyConfig": {
            "description": "The configuration that controls how the data will change.",
            "id": "GooglePrivacyDlpV2beta1DeidentifyConfig",
            "properties": {
                "recordTransformations": {
                    "$ref": "GooglePrivacyDlpV2beta1RecordTransformations",
                    "description": "Treat the dataset as structured. Transformations can be applied to\nspecific locations within structured datasets, such as transforming\na column within a table."
                },
                "infoTypeTransformations": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoTypeTransformations",
                    "description": "Treat the dataset as free-form text and apply the same free text\ntransformation everywhere."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1LDiversityConfig": {
            "description": "l-diversity metric, used for analysis of reidentification risk.",
            "id": "GooglePrivacyDlpV2beta1LDiversityConfig",
            "properties": {
                "sensitiveAttribute": {
                    "$ref": "GooglePrivacyDlpV2beta1FieldId",
                    "description": "Sensitive field for computing the l-value."
                },
                "quasiIds": {
                    "description": "Set of quasi-identifiers indicating how equivalence classes are\ndefined for the l-diversity computation. When multiple fields are\nspecified, they are considered a single composite key.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1FieldId"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1StorageConfig": {
            "description": "Shared message indicating Cloud storage type.",
            "id": "GooglePrivacyDlpV2beta1StorageConfig",
            "properties": {
                "cloudStorageOptions": {
                    "$ref": "GooglePrivacyDlpV2beta1CloudStorageOptions",
                    "description": "Google Cloud Storage options specification."
                },
                "datastoreOptions": {
                    "$ref": "GooglePrivacyDlpV2beta1DatastoreOptions",
                    "description": "Google Cloud Datastore options specification."
                },
                "bigQueryOptions": {
                    "$ref": "GooglePrivacyDlpV2beta1BigQueryOptions",
                    "description": "BigQuery options specification."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1OperationConfig": {
            "description": "Additional configuration for inspect long running operations.",
            "id": "GooglePrivacyDlpV2beta1OperationConfig",
            "properties": {
                "maxItemFindings": {
                    "description": "Max number of findings per file, Datastore entity, or database row.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1BigQueryOptions": {
            "description": "Options defining BigQuery table and row identifiers.",
            "id": "GooglePrivacyDlpV2beta1BigQueryOptions",
            "properties": {
                "tableReference": {
                    "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
                    "description": "Complete BigQuery table reference."
                },
                "identifyingFields": {
                    "description": "References to fields uniquely identifying rows within the table.\nNested fields in the format, like `person.birthdate.year`, are allowed.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1FieldId"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1PrivacyMetric": {
            "description": "Privacy metric to compute for reidentification risk analysis.",
            "id": "GooglePrivacyDlpV2beta1PrivacyMetric",
            "properties": {
                "numericalStatsConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1NumericalStatsConfig"
                },
                "kAnonymityConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1KAnonymityConfig"
                },
                "categoricalStatsConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1CategoricalStatsConfig"
                },
                "lDiversityConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1LDiversityConfig"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ReplaceConfig": {
            "id": "GooglePrivacyDlpV2beta1ReplaceConfig",
            "properties": {
                "infoType": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoType",
                    "description": "Type of information to replace. Only one ReplaceConfig per info_type\nshould be provided. If ReplaceConfig does not have an info_type, the DLP\nAPI matches it against all info_types that are found but not specified in\nanother ReplaceConfig."
                },
                "replaceWith": {
                    "description": "Content replacing sensitive information of given type. Max 256 chars.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass": {
            "description": "The set of columns' values that share the same l-diversity value.",
            "id": "GooglePrivacyDlpV2beta1LDiversityEquivalenceClass",
            "properties": {
                "equivalenceClassSize": {
                    "description": "Size of the k-anonymity equivalence class.",
                    "format": "int64",
                    "type": "string"
                },
                "quasiIdsValues": {
                    "description": "Quasi-identifier values defining the k-anonymity equivalence\nclass. The order is always the same as the original request.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Value"
                    },
                    "type": "array"
                },
                "numDistinctSensitiveValues": {
                    "description": "Number of distinct sensitive values in this equivalence class.",
                    "format": "int64",
                    "type": "string"
                },
                "topSensitiveValues": {
                    "description": "Estimated frequencies of top sensitive values.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1ValueFrequency"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1NumericalStatsConfig": {
            "description": "Compute numerical stats over an individual column, including\nmin, max, and quantiles.",
            "id": "GooglePrivacyDlpV2beta1NumericalStatsConfig",
            "properties": {
                "field": {
                    "$ref": "GooglePrivacyDlpV2beta1FieldId",
                    "description": "Field to compute numerical stats on. Supported types are\ninteger, float, date, datetime, timestamp, time."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1DeidentificationSummary": {
            "description": "High level summary of deidentification.",
            "id": "GooglePrivacyDlpV2beta1DeidentificationSummary",
            "properties": {
                "transformedBytes": {
                    "description": "Total size in bytes that were transformed in some way.",
                    "format": "int64",
                    "type": "string"
                },
                "transformationSummaries": {
                    "description": "Transformations applied to the dataset.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1TransformationSummary"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1TimePartConfig": {
            "description": "For use with `Date`, `Timestamp`, and `TimeOfDay`, extract or preserve a\nportion of the value.",
            "id": "GooglePrivacyDlpV2beta1TimePartConfig",
            "properties": {
                "partToExtract": {
                    "enum": [
                        "TIME_PART_UNSPECIFIED",
                        "YEAR",
                        "MONTH",
                        "DAY_OF_MONTH",
                        "DAY_OF_WEEK",
                        "WEEK_OF_YEAR",
                        "HOUR_OF_DAY"
                    ],
                    "enumDescriptions": [
                        "",
                        "[000-9999]",
                        "[1-12]",
                        "[1-31]",
                        "[1-7]",
                        "[1-52]",
                        "[0-24]"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RecordCondition": {
            "description": "A condition for determining whether a transformation should be applied to\na field.",
            "id": "GooglePrivacyDlpV2beta1RecordCondition",
            "properties": {
                "expressions": {
                    "$ref": "GooglePrivacyDlpV2beta1Expressions"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ListInfoTypesResponse": {
            "description": "Response to the ListInfoTypes request.",
            "id": "GooglePrivacyDlpV2beta1ListInfoTypesResponse",
            "properties": {
                "infoTypes": {
                    "description": "Set of sensitive info types belonging to a category.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoTypeDescription"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CloudStorageKey": {
            "description": "Record key for a finding in a Cloud Storage file.",
            "id": "GooglePrivacyDlpV2beta1CloudStorageKey",
            "properties": {
                "startOffset": {
                    "description": "Byte offset of the referenced data in the file.",
                    "format": "int64",
                    "type": "string"
                },
                "filePath": {
                    "description": "Path to the file.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1NumericalStatsResult": {
            "description": "Result of the numerical stats computation.",
            "id": "GooglePrivacyDlpV2beta1NumericalStatsResult",
            "properties": {
                "maxValue": {
                    "$ref": "GooglePrivacyDlpV2beta1Value",
                    "description": "Maximum value appearing in the column."
                },
                "quantileValues": {
                    "description": "List of 99 values that partition the set of field values into 100 equal\nsized buckets.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Value"
                    },
                    "type": "array"
                },
                "minValue": {
                    "$ref": "GooglePrivacyDlpV2beta1Value",
                    "description": "Minimum value appearing in the column."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Dictionary": {
            "description": "Custom information type based on a dictionary of words or phrases. This can\nbe used to match sensitive information specific to the data, such as a list\nof employee IDs or job titles.\n\nDictionary words are case-insensitive and all characters other than letters\nand digits in the unicode [Basic Multilingual\nPlane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)\nwill be replaced with whitespace when scanning for matches, so the\ndictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\",\n\"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters\nsurrounding any match must be of a different type than the adjacent\ncharacters within the word, so letters must be next to non-letters and\ndigits next to non-digits. For example, the dictionary word \"jen\" will\nmatch the first three letters of the text \"jen123\" but will return no\nmatches for \"jennifer\".\n\nDictionary words containing a large number of characters that are not\nletters or digits may result in unexpected findings because such characters\nare treated as whitespace.",
            "id": "GooglePrivacyDlpV2beta1Dictionary",
            "properties": {
                "wordList": {
                    "$ref": "GooglePrivacyDlpV2beta1WordList",
                    "description": "List of words or phrases to search for."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1DatastoreOptions": {
            "description": "Options defining a data set within Google Cloud Datastore.",
            "id": "GooglePrivacyDlpV2beta1DatastoreOptions",
            "properties": {
                "partitionId": {
                    "$ref": "GooglePrivacyDlpV2beta1PartitionId",
                    "description": "A partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty."
                },
                "kind": {
                    "$ref": "GooglePrivacyDlpV2beta1KindExpression",
                    "description": "The kind to process."
                },
                "projection": {
                    "description": "Properties to scan. If none are specified, all properties will be scanned\nby default.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1Projection"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RecordTransformations": {
            "description": "A type of transformation that is applied over structured data such as a\ntable.",
            "id": "GooglePrivacyDlpV2beta1RecordTransformations",
            "properties": {
                "recordSuppressions": {
                    "description": "Configuration defining which records get suppressed entirely. Records that\nmatch any suppression rule are omitted from the output [optional].",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1RecordSuppression"
                    },
                    "type": "array"
                },
                "fieldTransformations": {
                    "description": "Transform the record by applying various field transformations.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1FieldTransformation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InspectConfig": {
            "description": "Configuration description of the scanning process.\nWhen used with redactContent only info_types and min_likelihood are currently\nused.",
            "id": "GooglePrivacyDlpV2beta1InspectConfig",
            "properties": {
                "infoTypeLimits": {
                    "description": "Configuration of findings limit given for specified info types.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoTypeLimit"
                    },
                    "type": "array"
                },
                "maxFindings": {
                    "description": "Limits the number of findings per content item or long running operation.",
                    "format": "int32",
                    "type": "integer"
                },
                "infoTypes": {
                    "description": "Restricts what info_types to look for. The values must correspond to\nInfoType values returned by ListInfoTypes or found in documentation.\nEmpty info_types runs all enabled detectors.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoType"
                    },
                    "type": "array"
                },
                "includeQuote": {
                    "description": "When true, a contextual quote from the data that triggered a finding is\nincluded in the response; see Finding.quote.",
                    "type": "boolean"
                },
                "customInfoTypes": {
                    "description": "Custom info types provided by the user.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1CustomInfoType"
                    },
                    "type": "array"
                },
                "excludeTypes": {
                    "description": "When true, excludes type information of the findings.",
                    "type": "boolean"
                },
                "minLikelihood": {
                    "description": "Only returns findings equal or above this threshold.",
                    "enum": [
                        "LIKELIHOOD_UNSPECIFIED",
                        "VERY_UNLIKELY",
                        "UNLIKELY",
                        "POSSIBLE",
                        "LIKELY",
                        "VERY_LIKELY"
                    ],
                    "enumDescriptions": [
                        "Default value; information with all likelihoods is included.",
                        "Few matching elements.",
                        "",
                        "Some matching elements.",
                        "",
                        "Many matching elements."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Projection": {
            "description": "A representation of a Datastore property in a projection.",
            "id": "GooglePrivacyDlpV2beta1Projection",
            "properties": {
                "property": {
                    "$ref": "GooglePrivacyDlpV2beta1PropertyReference",
                    "description": "The property to project."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RedactConfig": {
            "description": "Redact a given value. For example, if used with an `InfoTypeTransformation`\ntransforming PHONE_NUMBER, and input 'My phone number is 206-555-0123', the\noutput would be 'My phone number is '.",
            "id": "GooglePrivacyDlpV2beta1RedactConfig",
            "properties": {},
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Key": {
            "description": "A unique identifier for a Datastore entity.\nIf a key's partition ID or any of its path kinds or names are\nreserved/read-only, the key is reserved/read-only.\nA reserved/read-only key is forbidden in certain documented contexts.",
            "id": "GooglePrivacyDlpV2beta1Key",
            "properties": {
                "path": {
                    "description": "The entity path.\nAn entity path consists of one or more elements composed of a kind and a\nstring or numerical identifier, which identify entities. The first\nelement identifies a _root entity_, the second element identifies\na _child_ of the root entity, the third element identifies a child of the\nsecond entity, and so forth. The entities identified by all prefixes of\nthe path are called the element's _ancestors_.\n\nA path can never be empty, and a path can have at most 100 elements.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1PathElement"
                    },
                    "type": "array"
                },
                "partitionId": {
                    "$ref": "GooglePrivacyDlpV2beta1PartitionId",
                    "description": "Entities are partitioned into subsets, currently identified by a project\nID and namespace ID.\nQueries are scoped to a single partition."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CryptoHashConfig": {
            "description": "Pseudonymization method that generates surrogates via cryptographic hashing.\nUses SHA-256.\nOutputs a 32 byte digest as an uppercase hex string\n(for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).\nCurrently, only string and integer values can be hashed.",
            "id": "GooglePrivacyDlpV2beta1CryptoHashConfig",
            "properties": {
                "cryptoKey": {
                    "$ref": "GooglePrivacyDlpV2beta1CryptoKey",
                    "description": "The key used by the hash function."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InspectContentRequest": {
            "description": "Request to search for potentially sensitive info in a list of items.",
            "id": "GooglePrivacyDlpV2beta1InspectContentRequest",
            "properties": {
                "items": {
                    "description": "The list of items to inspect. Items in a single request are\nconsidered \"related\" unless inspect_config.independent_inputs is true.\nUp to 100 are allowed per request.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1ContentItem"
                    },
                    "type": "array"
                },
                "inspectConfig": {
                    "$ref": "GooglePrivacyDlpV2beta1InspectConfig",
                    "description": "Configuration for the inspector."
                }
            },
            "type": "object"
        },
        "GoogleTypeDate": {
            "description": "Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.",
            "id": "GoogleTypeDate",
            "properties": {
                "year": {
                    "description": "Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.",
                    "format": "int32",
                    "type": "integer"
                },
                "day": {
                    "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.",
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "description": "Month of year. Must be from 1 to 12.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ImageRedactionConfig": {
            "description": "Configuration for determining how redaction of images should occur.",
            "id": "GooglePrivacyDlpV2beta1ImageRedactionConfig",
            "properties": {
                "redactionColor": {
                    "$ref": "GooglePrivacyDlpV2beta1Color",
                    "description": "The color to use when redacting content from an image. If not specified,\nthe default is black."
                },
                "redactAllText": {
                    "description": "If true, all text found in the image, regardless whether it matches an\ninfo_type, is redacted.",
                    "type": "boolean"
                },
                "infoType": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoType",
                    "description": "Only one per info_type should be provided per request. If not\nspecified, and redact_all_text is false, the DLP API will redact all\ntext that it matches against all info_types that are found, but not\nspecified in another ImageRedactionConfig."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ReplaceWithInfoTypeConfig": {
            "description": "Replace each matching finding with the name of the info_type.",
            "id": "GooglePrivacyDlpV2beta1ReplaceWithInfoTypeConfig",
            "properties": {},
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Location": {
            "description": "Specifies the location of a finding within its source item.",
            "id": "GooglePrivacyDlpV2beta1Location",
            "properties": {
                "tableLocation": {
                    "$ref": "GooglePrivacyDlpV2beta1TableLocation",
                    "description": "Location within a `ContentItem.Table`."
                },
                "codepointRange": {
                    "$ref": "GooglePrivacyDlpV2beta1Range",
                    "description": "Character offsets within a content item, included when content type\nis a text. Default charset assumed to be UTF-8."
                },
                "fieldId": {
                    "$ref": "GooglePrivacyDlpV2beta1FieldId",
                    "description": "Field id of the field containing the finding."
                },
                "imageBoxes": {
                    "description": "Location within an image's pixels.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1ImageLocation"
                    },
                    "type": "array"
                },
                "byteRange": {
                    "$ref": "GooglePrivacyDlpV2beta1Range",
                    "description": "Zero-based byte offsets within a content item."
                },
                "recordKey": {
                    "$ref": "GooglePrivacyDlpV2beta1RecordKey",
                    "description": "Key of the finding."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1RecordSuppression": {
            "description": "Configuration to suppress records whose suppression conditions evaluate to\ntrue.",
            "id": "GooglePrivacyDlpV2beta1RecordSuppression",
            "properties": {
                "condition": {
                    "$ref": "GooglePrivacyDlpV2beta1RecordCondition"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InfoTypeDescription": {
            "description": "Description of the information type (infoType).",
            "id": "GooglePrivacyDlpV2beta1InfoTypeDescription",
            "properties": {
                "name": {
                    "description": "Internal name of the infoType.",
                    "type": "string"
                },
                "displayName": {
                    "description": "Human readable form of the infoType name.",
                    "type": "string"
                },
                "categories": {
                    "description": "List of categories this infoType belongs to.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1CategoryDescription"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1EntityId": {
            "description": "An entity in a dataset is a field or set of fields that correspond to a\nsingle person. For example, in medical records the `EntityId` might be\na patient identifier, or for financial records it might be an account\nidentifier. This message is used when generalizations or analysis must be\nconsistent across multiple rows pertaining to the same entity.",
            "id": "GooglePrivacyDlpV2beta1EntityId",
            "properties": {
                "field": {
                    "$ref": "GooglePrivacyDlpV2beta1FieldId",
                    "description": "Composite key indicating which field contains the entity identifier."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1UnwrappedCryptoKey": {
            "description": "Using raw keys is prone to security risks due to accidentally\nleaking the key. Choose another type of key if possible.",
            "id": "GooglePrivacyDlpV2beta1UnwrappedCryptoKey",
            "properties": {
                "key": {
                    "description": "The AES 128/192/256 bit key. [required]",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1CustomInfoType": {
            "description": "Custom information type provided by the user. Used to find domain-specific\nsensitive information configurable to the data in question.",
            "id": "GooglePrivacyDlpV2beta1CustomInfoType",
            "properties": {
                "infoType": {
                    "$ref": "GooglePrivacyDlpV2beta1InfoType",
                    "description": "Info type configuration. All custom info types must have configurations\nthat do not conflict with built-in info types or other custom info types."
                },
                "dictionary": {
                    "$ref": "GooglePrivacyDlpV2beta1Dictionary",
                    "description": "Dictionary-based custom info type."
                }
            },
            "type": "object"
        },
        "GoogleRpcStatus": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "GoogleRpcStatus",
            "properties": {
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                "details": {
                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1PathElement": {
            "description": "A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.",
            "id": "GooglePrivacyDlpV2beta1PathElement",
            "properties": {
                "kind": {
                    "description": "The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
                    "type": "string"
                },
                "id": {
                    "description": "The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.",
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1BigQueryTable": {
            "description": "Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.",
            "id": "GooglePrivacyDlpV2beta1BigQueryTable",
            "properties": {
                "tableId": {
                    "description": "Name of the table.",
                    "type": "string"
                },
                "projectId": {
                    "description": "The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.",
                    "type": "string"
                },
                "datasetId": {
                    "description": "Dataset ID of the table.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1SummaryResult": {
            "description": "A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.",
            "id": "GooglePrivacyDlpV2beta1SummaryResult",
            "properties": {
                "details": {
                    "description": "A place for warnings or errors to show up if a transformation didn't\nwork as expected.",
                    "type": "string"
                },
                "count": {
                    "format": "int64",
                    "type": "string"
                },
                "code": {
                    "enum": [
                        "TRANSFORMATION_RESULT_CODE_UNSPECIFIED",
                        "SUCCESS",
                        "ERROR"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1ListRootCategoriesResponse": {
            "description": "Response for ListRootCategories request.",
            "id": "GooglePrivacyDlpV2beta1ListRootCategoriesResponse",
            "properties": {
                "categories": {
                    "description": "List of all into type categories supported by the API.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1CategoryDescription"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InfoTypeTransformations": {
            "description": "A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.",
            "id": "GooglePrivacyDlpV2beta1InfoTypeTransformations",
            "properties": {
                "transformations": {
                    "description": "Transformation for each info type. Cannot specify more than one\nfor a given info type. [required]",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoTypeTransformation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1KindExpression": {
            "description": "A representation of a Datastore kind.",
            "id": "GooglePrivacyDlpV2beta1KindExpression",
            "properties": {
                "name": {
                    "description": "The name of the kind.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1FileSet": {
            "description": "Set of files to scan.",
            "id": "GooglePrivacyDlpV2beta1FileSet",
            "properties": {
                "url": {
                    "description": "The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the\npath is allowed.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest": {
            "description": "Request for creating a risk analysis operation.",
            "id": "GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest",
            "properties": {
                "privacyMetric": {
                    "$ref": "GooglePrivacyDlpV2beta1PrivacyMetric",
                    "description": "Privacy metric to compute."
                },
                "sourceTable": {
                    "$ref": "GooglePrivacyDlpV2beta1BigQueryTable",
                    "description": "Input dataset to compute metrics over."
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1InfoTypeTransformation": {
            "description": "A transformation to apply to text that is identified as a specific\ninfo_type.",
            "id": "GooglePrivacyDlpV2beta1InfoTypeTransformation",
            "properties": {
                "primitiveTransformation": {
                    "$ref": "GooglePrivacyDlpV2beta1PrimitiveTransformation",
                    "description": "Primitive transformation to apply to the info type. [required]"
                },
                "infoTypes": {
                    "description": "Info types to apply the transformation to. Empty list will match all\navailable info types for this transformation.",
                    "items": {
                        "$ref": "GooglePrivacyDlpV2beta1InfoType"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "GooglePrivacyDlpV2beta1Bucket": {
            "description": "Buckets represented as ranges, along with replacement values. Ranges must\nbe non-overlapping.",
[...]
