{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/bigquery": {
                    "description": "View and manage your data in Google BigQuery"
                },
                "https://www.googleapis.com/auth/devstorage.read_write": {
                    "description": "Manage your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/genomics": {
                    "description": "View and manage Genomics data"
                },
                "https://www.googleapis.com/auth/genomics.readonly": {
                    "description": "View Genomics data"
                }
            }
        }
    },
    "basePath": "/genomics/v1beta2/",
    "baseUrl": "https://www.googleapis.com/genomics/v1beta2/",
    "batchPath": "batch",
    "description": "Provides access to Genomics data.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/genomics/v1beta2/reference",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/GQ8G6h803bhAihV7tJKOVvj6RSc\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "genomics:v1beta2",
    "kind": "discovery#restDescription",
    "name": "genomics",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "callsets": {
            "methods": {
                "create": {
                    "description": "Creates a new call set.",
                    "httpMethod": "POST",
                    "id": "genomics.callsets.create",
                    "path": "callsets",
                    "request": {
                        "$ref": "CallSet"
                    },
                    "response": {
                        "$ref": "CallSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "delete": {
                    "description": "Deletes a call set.",
                    "httpMethod": "DELETE",
                    "id": "genomics.callsets.delete",
                    "parameterOrder": [
                        "callSetId"
                    ],
                    "parameters": {
                        "callSetId": {
                            "description": "The ID of the call set to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "callsets/{callSetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a call set by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.callsets.get",
                    "parameterOrder": [
                        "callSetId"
                    ],
                    "parameters": {
                        "callSetId": {
                            "description": "The ID of the call set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "callsets/{callSetId}",
                    "response": {
                        "$ref": "CallSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates a call set. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "genomics.callsets.patch",
                    "parameterOrder": [
                        "callSetId"
                    ],
                    "parameters": {
                        "callSetId": {
                            "description": "The ID of the call set to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "callsets/{callSetId}",
                    "request": {
                        "$ref": "CallSet"
                    },
                    "response": {
                        "$ref": "CallSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "search": {
                    "description": "Gets a list of call sets matching the criteria.\n\nImplements GlobalAllianceApi.searchCallSets.",
                    "httpMethod": "POST",
                    "id": "genomics.callsets.search",
                    "path": "callsets/search",
                    "request": {
                        "$ref": "SearchCallSetsRequest"
                    },
                    "response": {
                        "$ref": "SearchCallSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a call set.",
                    "httpMethod": "PUT",
                    "id": "genomics.callsets.update",
                    "parameterOrder": [
                        "callSetId"
                    ],
                    "parameters": {
                        "callSetId": {
                            "description": "The ID of the call set to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "callsets/{callSetId}",
                    "request": {
                        "$ref": "CallSet"
                    },
                    "response": {
                        "$ref": "CallSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            }
        },
        "datasets": {
            "methods": {
                "create": {
                    "description": "Creates a new dataset.",
                    "httpMethod": "POST",
                    "id": "genomics.datasets.create",
                    "path": "datasets",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "delete": {
                    "description": "Deletes a dataset.",
                    "httpMethod": "DELETE",
                    "id": "genomics.datasets.delete",
                    "parameterOrder": [
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "The ID of the dataset to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "datasets/{datasetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a dataset by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.datasets.get",
                    "parameterOrder": [
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "The ID of the dataset.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "datasets/{datasetId}",
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "list": {
                    "description": "Lists all datasets.",
                    "httpMethod": "GET",
                    "id": "genomics.datasets.list",
                    "parameters": {
                        "pageSize": {
                            "default": "50",
                            "description": "The maximum number of results returned by this request.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectNumber": {
                            "description": "Only return datasets which belong to this Google Developers Console project. Only accepts project numbers. Returns all public projects if no project number is specified.",
                            "format": "int64",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "datasets",
                    "response": {
                        "$ref": "ListDatasetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates a dataset. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "genomics.datasets.patch",
                    "parameterOrder": [
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "The ID of the dataset to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "undelete": {
                    "description": "Undeletes a dataset by restoring a dataset which was deleted via this API. This operation is only possible for a week after the deletion occurred.",
                    "httpMethod": "POST",
                    "id": "genomics.datasets.undelete",
                    "parameterOrder": [
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "The ID of the dataset to be undeleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "datasets/{datasetId}/undelete",
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "update": {
                    "description": "Updates a dataset.",
                    "httpMethod": "PUT",
                    "id": "genomics.datasets.update",
                    "parameterOrder": [
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "The ID of the dataset to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            }
        },
        "experimental": {
            "resources": {
                "jobs": {
                    "methods": {
                        "create": {
                            "description": "Creates and asynchronously runs an ad-hoc job. This is an experimental call and may be removed or changed at any time.",
                            "httpMethod": "POST",
                            "id": "genomics.experimental.jobs.create",
                            "path": "experimental/jobs/create",
                            "request": {
                                "$ref": "ExperimentalCreateJobRequest"
                            },
                            "response": {
                                "$ref": "ExperimentalCreateJobResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/devstorage.read_write",
                                "https://www.googleapis.com/auth/genomics"
                            ]
                        }
                    }
                }
            }
        },
        "jobs": {
            "methods": {
                "cancel": {
                    "description": "Cancels a job by ID. Note that it is possible for partial results to be generated and stored for cancelled jobs.",
                    "httpMethod": "POST",
                    "id": "genomics.jobs.cancel",
                    "parameterOrder": [
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "description": "Required. The ID of the job.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "jobs/{jobId}/cancel",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a job by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.jobs.get",
                    "parameterOrder": [
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "description": "Required. The ID of the job.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "jobs/{jobId}",
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "search": {
                    "description": "Gets a list of jobs matching the criteria.",
                    "httpMethod": "POST",
                    "id": "genomics.jobs.search",
                    "path": "jobs/search",
                    "request": {
                        "$ref": "SearchJobsRequest"
                    },
                    "response": {
                        "$ref": "SearchJobsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                }
            }
        },
        "readgroupsets": {
            "methods": {
                "align": {
                    "description": "Aligns read data from existing read group sets or files from Google Cloud Storage. See the  alignment and variant calling documentation for more details.",
                    "httpMethod": "POST",
                    "id": "genomics.readgroupsets.align",
                    "path": "readgroupsets/align",
                    "request": {
                        "$ref": "AlignReadGroupSetsRequest"
                    },
                    "response": {
                        "$ref": "AlignReadGroupSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "call": {
                    "description": "Calls variants on read data from existing read group sets or files from Google Cloud Storage. See the  alignment and variant calling documentation for more details.",
                    "httpMethod": "POST",
                    "id": "genomics.readgroupsets.call",
                    "path": "readgroupsets/call",
                    "request": {
                        "$ref": "CallReadGroupSetsRequest"
                    },
                    "response": {
                        "$ref": "CallReadGroupSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "delete": {
                    "description": "Deletes a read group set.",
                    "httpMethod": "DELETE",
                    "id": "genomics.readgroupsets.delete",
                    "parameterOrder": [
                        "readGroupSetId"
                    ],
                    "parameters": {
                        "readGroupSetId": {
                            "description": "The ID of the read group set to be deleted. The caller must have WRITE permissions to the dataset associated with this read group set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "readgroupsets/{readGroupSetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "export": {
                    "description": "Exports read group sets to a BAM file in Google Cloud Storage.\n\nNote that currently there may be some differences between exported BAM files and the original BAM file at the time of import. In particular, comments in the input file header will not be preserved, some custom tags will be converted to strings, and original reference sequence order is not necessarily preserved.",
                    "httpMethod": "POST",
                    "id": "genomics.readgroupsets.export",
                    "path": "readgroupsets/export",
                    "request": {
                        "$ref": "ExportReadGroupSetsRequest"
                    },
                    "response": {
                        "$ref": "ExportReadGroupSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a read group set by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.readgroupsets.get",
                    "parameterOrder": [
                        "readGroupSetId"
                    ],
                    "parameters": {
                        "readGroupSetId": {
                            "description": "The ID of the read group set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "readgroupsets/{readGroupSetId}",
                    "response": {
                        "$ref": "ReadGroupSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "import": {
                    "description": "Creates read group sets by asynchronously importing the provided information.\n\nNote that currently comments in the input file header are not imported and some custom tags will be converted to strings, rather than preserving tag types. The caller must have WRITE permissions to the dataset.",
                    "httpMethod": "POST",
                    "id": "genomics.readgroupsets.import",
                    "path": "readgroupsets/import",
                    "request": {
                        "$ref": "ImportReadGroupSetsRequest"
                    },
                    "response": {
                        "$ref": "ImportReadGroupSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "patch": {
                    "description": "Updates a read group set. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "genomics.readgroupsets.patch",
                    "parameterOrder": [
                        "readGroupSetId"
                    ],
                    "parameters": {
                        "readGroupSetId": {
                            "description": "The ID of the read group set to be updated. The caller must have WRITE permissions to the dataset associated with this read group set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "readgroupsets/{readGroupSetId}",
                    "request": {
                        "$ref": "ReadGroupSet"
                    },
                    "response": {
                        "$ref": "ReadGroupSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "search": {
                    "description": "Searches for read group sets matching the criteria.\n\nImplements GlobalAllianceApi.searchReadGroupSets.",
                    "httpMethod": "POST",
                    "id": "genomics.readgroupsets.search",
                    "path": "readgroupsets/search",
                    "request": {
                        "$ref": "SearchReadGroupSetsRequest"
                    },
                    "response": {
                        "$ref": "SearchReadGroupSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a read group set.",
                    "httpMethod": "PUT",
                    "id": "genomics.readgroupsets.update",
                    "parameterOrder": [
                        "readGroupSetId"
                    ],
                    "parameters": {
                        "readGroupSetId": {
                            "description": "The ID of the read group set to be updated. The caller must have WRITE permissions to the dataset associated with this read group set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "readgroupsets/{readGroupSetId}",
                    "request": {
                        "$ref": "ReadGroupSet"
                    },
                    "response": {
                        "$ref": "ReadGroupSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            },
            "resources": {
                "coveragebuckets": {
                    "methods": {
                        "list": {
                            "description": "Lists fixed width coverage buckets for a read group set, each of which correspond to a range of a reference sequence. Each bucket summarizes coverage information across its corresponding genomic range.\n\nCoverage is defined as the number of reads which are aligned to a given base in the reference sequence. Coverage buckets are available at several precomputed bucket widths, enabling retrieval of various coverage 'zoom levels'. The caller must have READ permissions for the target read group set.",
                            "httpMethod": "GET",
                            "id": "genomics.readgroupsets.coveragebuckets.list",
                            "parameterOrder": [
                                "readGroupSetId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "default": "1024",
                                    "description": "The maximum number of results to return in a single page. If unspecified, defaults to 1024. The maximum value is 2048.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "range.end": {
                                    "description": "The end position of the range on the reference, 0-based exclusive. If specified, referenceName must also be specified.",
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "range.referenceName": {
                                    "description": "The reference sequence name, for example chr1, 1, or chrX.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "range.start": {
                                    "description": "The start position of the range on the reference, 0-based inclusive. If specified, referenceName must also be specified.",
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "readGroupSetId": {
                                    "description": "Required. The ID of the read group set over which coverage is requested.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "targetBucketWidth": {
                                    "description": "The desired width of each reported coverage bucket in base pairs. This will be rounded down to the nearest precomputed bucket width; the value of which is returned as bucketWidth in the response. Defaults to infinity (each bucket spans an entire reference sequence) or the length of the target range, if specified. The smallest precomputed bucketWidth is currently 2048 base pairs; this is subject to change.",
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "readgroupsets/{readGroupSetId}/coveragebuckets",
                            "response": {
                                "$ref": "ListCoverageBucketsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/genomics",
                                "https://www.googleapis.com/auth/genomics.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "reads": {
            "methods": {
                "search": {
                    "description": "Gets a list of reads for one or more read group sets. Reads search operates over a genomic coordinate space of reference sequence & position defined over the reference sequences to which the requested read group sets are aligned.\n\nIf a target positional range is specified, search returns all reads whose alignment to the reference genome overlap the range. A query which specifies only read group set IDs yields all reads in those read group sets, including unmapped reads.\n\nAll reads returned (including reads on subsequent pages) are ordered by genomic coordinate (reference sequence & position). Reads with equivalent genomic coordinates are returned in a deterministic order.\n\nImplements GlobalAllianceApi.searchReads.",
                    "httpMethod": "POST",
                    "id": "genomics.reads.search",
                    "path": "reads/search",
                    "request": {
                        "$ref": "SearchReadsRequest"
                    },
                    "response": {
                        "$ref": "SearchReadsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                }
            }
        },
        "references": {
            "methods": {
                "get": {
                    "description": "Gets a reference.\n\nImplements GlobalAllianceApi.getReference.",
                    "httpMethod": "GET",
                    "id": "genomics.references.get",
                    "parameterOrder": [
                        "referenceId"
                    ],
                    "parameters": {
                        "referenceId": {
                            "description": "The ID of the reference.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "references/{referenceId}",
                    "response": {
                        "$ref": "Reference"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "search": {
                    "description": "Searches for references which match the given criteria.\n\nImplements GlobalAllianceApi.searchReferences.",
                    "httpMethod": "POST",
                    "id": "genomics.references.search",
                    "path": "references/search",
                    "request": {
                        "$ref": "SearchReferencesRequest"
                    },
                    "response": {
                        "$ref": "SearchReferencesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                }
            },
            "resources": {
                "bases": {
                    "methods": {
                        "list": {
                            "description": "Lists the bases in a reference, optionally restricted to a range.\n\nImplements GlobalAllianceApi.getReferenceBases.",
                            "httpMethod": "GET",
                            "id": "genomics.references.bases.list",
                            "parameterOrder": [
                                "referenceId"
                            ],
                            "parameters": {
                                "end": {
                                    "description": "The end position (0-based, exclusive) of this query. Defaults to the length of this reference.",
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "default": "200000",
                                    "description": "Specifies the maximum number of bases to return in a single page.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "referenceId": {
                                    "description": "The ID of the reference.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "start": {
                                    "description": "The start position (0-based) of this query. Defaults to 0.",
                                    "format": "int64",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "references/{referenceId}/bases",
                            "response": {
                                "$ref": "ListBasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/genomics",
                                "https://www.googleapis.com/auth/genomics.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "referencesets": {
            "methods": {
                "get": {
                    "description": "Gets a reference set.\n\nImplements GlobalAllianceApi.getReferenceSet.",
                    "httpMethod": "GET",
                    "id": "genomics.referencesets.get",
                    "parameterOrder": [
                        "referenceSetId"
                    ],
                    "parameters": {
                        "referenceSetId": {
                            "description": "The ID of the reference set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "referencesets/{referenceSetId}",
                    "response": {
                        "$ref": "ReferenceSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "search": {
                    "description": "Searches for reference sets which match the given criteria.\n\nImplements GlobalAllianceApi.searchReferenceSets.",
                    "httpMethod": "POST",
                    "id": "genomics.referencesets.search",
                    "path": "referencesets/search",
                    "request": {
                        "$ref": "SearchReferenceSetsRequest"
                    },
                    "response": {
                        "$ref": "SearchReferenceSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                }
            }
        },
        "variants": {
            "methods": {
                "create": {
                    "description": "Creates a new variant.",
                    "httpMethod": "POST",
                    "id": "genomics.variants.create",
                    "path": "variants",
                    "request": {
                        "$ref": "Variant"
                    },
                    "response": {
                        "$ref": "Variant"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "delete": {
                    "description": "Deletes a variant.",
                    "httpMethod": "DELETE",
                    "id": "genomics.variants.delete",
                    "parameterOrder": [
                        "variantId"
                    ],
                    "parameters": {
                        "variantId": {
                            "description": "The ID of the variant to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variants/{variantId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a variant by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.variants.get",
                    "parameterOrder": [
                        "variantId"
                    ],
                    "parameters": {
                        "variantId": {
                            "description": "The ID of the variant.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variants/{variantId}",
                    "response": {
                        "$ref": "Variant"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "search": {
                    "description": "Gets a list of variants matching the criteria.\n\nImplements GlobalAllianceApi.searchVariants.",
                    "httpMethod": "POST",
                    "id": "genomics.variants.search",
                    "path": "variants/search",
                    "request": {
                        "$ref": "SearchVariantsRequest"
                    },
                    "response": {
                        "$ref": "SearchVariantsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a variant's names and info fields. All other modifications are silently ignored. Returns the modified variant without its calls.",
                    "httpMethod": "PUT",
                    "id": "genomics.variants.update",
                    "parameterOrder": [
                        "variantId"
                    ],
                    "parameters": {
                        "variantId": {
                            "description": "The ID of the variant to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variants/{variantId}",
                    "request": {
                        "$ref": "Variant"
                    },
                    "response": {
                        "$ref": "Variant"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            }
        },
        "variantsets": {
            "methods": {
                "delete": {
                    "description": "Deletes the contents of a variant set. The variant set object is not deleted.",
                    "httpMethod": "DELETE",
                    "id": "genomics.variantsets.delete",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "The ID of the variant set to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "export": {
                    "description": "Exports variant set data to an external destination.",
                    "httpMethod": "POST",
                    "id": "genomics.variantsets.export",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "Required. The ID of the variant set that contains variant data which should be exported. The caller must have READ access to this variant set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}/export",
                    "request": {
                        "$ref": "ExportVariantSetRequest"
                    },
                    "response": {
                        "$ref": "ExportVariantSetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "get": {
                    "description": "Gets a variant set by ID.",
                    "httpMethod": "GET",
                    "id": "genomics.variantsets.get",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "Required. The ID of the variant set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}",
                    "response": {
                        "$ref": "VariantSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "importVariants": {
                    "description": "Creates variant data by asynchronously importing the provided information.\n\nThe variants for import will be merged with any existing data and each other according to the behavior of mergeVariants. In particular, this means for merged VCF variants that have conflicting INFO fields, some data will be arbitrarily discarded. As a special case, for single-sample VCF files, QUAL and FILTER fields will be moved to the call level; these are sometimes interpreted in a call-specific context. Imported VCF headers are appended to the metadata already in a variant set.",
                    "httpMethod": "POST",
                    "id": "genomics.variantsets.importVariants",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "Required. The variant set to which variant data should be imported.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}/importVariants",
                    "request": {
                        "$ref": "ImportVariantsRequest"
                    },
                    "response": {
                        "$ref": "ImportVariantsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "mergeVariants": {
                    "description": "Merges the given variants with existing variants. Each variant will be merged with an existing variant that matches its reference sequence, start, end, reference bases, and alternative bases. If no such variant exists, a new one will be created.\n\nWhen variants are merged, the call information from the new variant is added to the existing variant, and other fields (such as key/value pairs) are discarded.",
                    "httpMethod": "POST",
                    "id": "genomics.variantsets.mergeVariants",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "The destination variant set.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}/mergeVariants",
                    "request": {
                        "$ref": "MergeVariantsRequest"
                    }
                },
                "patch": {
                    "description": "Updates a variant set's metadata. All other modifications are silently ignored. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "genomics.variantsets.patch",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "The ID of the variant to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}",
                    "request": {
                        "$ref": "VariantSet"
                    },
                    "response": {
                        "$ref": "VariantSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                },
                "search": {
                    "description": "Returns a list of all variant sets matching search criteria.\n\nImplements GlobalAllianceApi.searchVariantSets.",
                    "httpMethod": "POST",
                    "id": "genomics.variantsets.search",
                    "path": "variantsets/search",
                    "request": {
                        "$ref": "SearchVariantSetsRequest"
                    },
                    "response": {
                        "$ref": "SearchVariantSetsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics",
                        "https://www.googleapis.com/auth/genomics.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a variant set's metadata. All other modifications are silently ignored.",
                    "httpMethod": "PUT",
                    "id": "genomics.variantsets.update",
                    "parameterOrder": [
                        "variantSetId"
                    ],
                    "parameters": {
                        "variantSetId": {
                            "description": "The ID of the variant to be updated.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "variantsets/{variantSetId}",
                    "request": {
                        "$ref": "VariantSet"
                    },
                    "response": {
                        "$ref": "VariantSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/genomics"
                    ]
                }
            }
        }
    },
    "revision": "20150106",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AlignReadGroupSetsRequest": {
            "description": "The read group set align request.",
            "id": "AlignReadGroupSetsRequest",
            "properties": {
                "bamSourceUris": {
                    "description": "The BAM source files for alignment. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided. The caller must have READ permissions for these files.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "datasetId": {
                    "description": "Required. The ID of the dataset the newly aligned read group sets will belong to. The caller must have WRITE permissions to this dataset.",
                    "type": "string"
                },
                "interleavedFastqSource": {
                    "$ref": "InterleavedFastqSource",
                    "description": "The interleaved FASTQ source files for alignment, where both members of each pair of reads are found on consecutive records within the same FASTQ file. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided."
                },
                "pairedFastqSource": {
                    "$ref": "PairedFastqSource",
                    "description": "The paired end FASTQ source files for alignment, where each member of a pair of reads are found in separate files. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided."
                },
                "readGroupSetId": {
                    "description": "The ID of the read group set which will be aligned. A new read group set will be generated to hold the aligned data, the originals will not be modified. The caller must have READ permissions for this read group set. Exactly one of readGroupSetId, bamSourceUris, interleavedFastqSource or pairedFastqSource must be provided.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AlignReadGroupSetsResponse": {
            "description": "The read group set align response.",
            "id": "AlignReadGroupSetsResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Call": {
            "description": "A call represents the determination of genotype with respect to a particular variant. It may include associated information such as quality and phasing. For example, a call might assign a probability of 0.32 to the occurrence of a SNP named rs1234 in a call set with the name NA12345.",
            "id": "Call",
            "properties": {
                "callSetId": {
                    "description": "The ID of the call set this variant call belongs to.",
                    "type": "string"
                },
                "callSetName": {
                    "description": "The name of the call set this variant call belongs to.",
                    "type": "string"
                },
                "genotype": {
                    "description": "The genotype of this variant call. Each value represents either the value of the referenceBases field or a 1-based index into alternateBases. If a variant had a referenceBases value of T and an alternateBases value of [\"A\", \"C\"], and the genotype was [2, 1], that would mean the call represented the heterozygous value CA for this variant. If the genotype was instead [0, 1], the represented value would be TA. Ordering of the genotype values is important if the phaseset is present. If a genotype is not called (that is, a . is present in the GT string) -1 is returned.",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "genotypeLikelihood": {
                    "description": "The genotype likelihoods for this variant call. Each array entry represents how likely a specific genotype is for this call. The value ordering is defined by the GL tag in the VCF spec. If Phred-scaled genotype likelihood scores (PL) are available and log10(P) genotype likelihood scores (GL) are not, PL scores are converted to GL scores. If both are available, PL scores are stored in info.",
                    "items": {
                        "format": "double",
                        "type": "number"
                    },
                    "type": "array"
                },
                "info": {
                    "additionalProperties": {
                        "description": "A string which maps to an array of values.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "description": "A map of additional variant call information.",
                    "type": "object"
                },
                "phaseset": {
                    "description": "If this field is present, this variant call's genotype ordering implies the phase of the bases and is consistent with any other variant calls in the same reference sequence which have the same phaseset value. When importing data from VCF, if the genotype data was phased but no phase set was specified this field will be set to *.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CallReadGroupSetsRequest": {
            "description": "The read group set call request.",
            "id": "CallReadGroupSetsRequest",
            "properties": {
                "datasetId": {
                    "description": "Required. The ID of the dataset the called variants will belong to. The caller must have WRITE permissions to this dataset.",
                    "type": "string"
                },
                "readGroupSetId": {
                    "description": "The IDs of the read group sets which will be called. The caller must have READ permissions for these read group sets. One of readGroupSetId or sourceUris must be provided.",
                    "type": "string"
                },
                "sourceUris": {
                    "description": "A list of URIs pointing at BAM files in Google Cloud Storage which will be called. FASTQ files are not allowed. The caller must have READ permissions for these files. One of readGroupSetId or sourceUris must be provided.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CallReadGroupSetsResponse": {
            "description": "The read group set call response.",
            "id": "CallReadGroupSetsResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CallSet": {
            "description": "A call set is a collection of variant calls, typically for one sample. It belongs to a variant set.",
            "id": "CallSet",
            "properties": {
                "created": {
                    "description": "The date this call set was created in milliseconds from the epoch.",
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "description": "The Google generated ID of the call set, immutable.",
                    "type": "string"
                },
                "info": {
                    "additionalProperties": {
                        "description": "A string which maps to an array of values.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "description": "A map of additional call set information.",
                    "type": "object"
                },
                "name": {
                    "description": "The call set name.",
                    "type": "string"
                },
                "sampleId": {
                    "description": "The sample ID this call set corresponds to.",
                    "type": "string"
                },
                "variantSetIds": {
                    "description": "The IDs of the variant sets this call set belongs to.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CigarUnit": {
            "description": "A single CIGAR operation.",
            "id": "CigarUnit",
            "properties": {
                "operation": {
                    "enum": [
                        "ALIGNMENT_MATCH",
                        "CLIP_HARD",
                        "CLIP_SOFT",
                        "DELETE",
                        "INSERT",
                        "PAD",
                        "SEQUENCE_MATCH",
                        "SEQUENCE_MISMATCH",
                        "SKIP"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "operationLength": {
                    "description": "The number of bases that the operation runs for. Required.",
                    "format": "int64",
                    "type": "string"
                },
                "referenceSequence": {
                    "description": "referenceSequence is only used at mismatches (SEQUENCE_MISMATCH) and deletions (DELETE). Filling this field replaces SAM's MD tag. If the relevant information is not available, this field is unset.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CoverageBucket": {
            "description": "A bucket over which read coverage has been precomputed. A bucket corresponds to a specific range of the reference sequence.",
            "id": "CoverageBucket",
            "properties": {
                "meanCoverage": {
                    "description": "The average number of reads which are aligned to each individual reference base in this bucket.",
                    "format": "float",
                    "type": "number"
                },
                "range": {
                    "$ref": "Range",
                    "description": "The genomic coordinate range spanned by this bucket."
                }
            },
            "type": "object"
        },
        "Dataset": {
            "description": "A Dataset is a collection of genomic data.",
            "id": "Dataset",
            "properties": {
                "id": {
                    "description": "The Google generated ID of the dataset, immutable.",
                    "type": "string"
                },
                "isPublic": {
                    "description": "Flag indicating whether or not a dataset is publicly viewable. If a dataset is not public, it inherits viewing permissions from its project.",
                    "type": "boolean"
                },
                "name": {
                    "description": "The dataset name.",
                    "type": "string"
                },
                "projectNumber": {
                    "description": "The Google Developers Console project number that this dataset belongs to.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExperimentalCreateJobRequest": {
            "description": "The job creation request.",
            "id": "ExperimentalCreateJobRequest",
            "properties": {
                "align": {
                    "description": "Specifies whether or not to run the alignment pipeline. Either align or callVariants must be set.",
                    "type": "boolean"
                },
                "callVariants": {
                    "description": "Specifies whether or not to run the variant calling pipeline. Either align or callVariants must be set.",
                    "type": "boolean"
                },
                "gcsOutputPath": {
                    "description": "Specifies where to copy the results of certain pipelines. This should be in the form of gs://bucket/path.",
                    "type": "string"
                },
                "pairedSourceUris": {
                    "description": "A list of Google Cloud Storage URIs of paired end .fastq files to operate upon. If specified, this represents the second file of each paired .fastq file. The first file of each pair should be specified in sourceUris.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "projectNumber": {
                    "description": "Required. The Google Cloud Project ID with which to associate the request.",
                    "format": "int64",
                    "type": "string"
                },
                "sourceUris": {
                    "description": "A list of Google Cloud Storage URIs of data files to operate upon. These can be .bam, interleaved .fastq, or paired .fastq. If specifying paired .fastq files, the first of each pair of files should be listed here, and the second of each pair should be listed in pairedSourceUris.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExperimentalCreateJobResponse": {
            "description": "The job creation response.",
            "id": "ExperimentalCreateJobResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportReadGroupSetsRequest": {
            "description": "The read group set export request.",
            "id": "ExportReadGroupSetsRequest",
            "properties": {
                "exportUri": {
                    "description": "A Google Cloud Storage URI where the exported BAM file will be created. The currently authenticated user must have write access to the new file location. An error will be returned if the URI already contains data.",
                    "type": "string"
                },
                "projectNumber": {
                    "description": "The Google Developers Console project number that owns this export.",
                    "format": "int64",
                    "type": "string"
                },
                "readGroupSetIds": {
                    "description": "The IDs of the read group sets to export.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "referenceNames": {
                    "description": "The reference names to export. If this is not specified, all reference sequences, including unmapped reads, are exported. Use * to export only unmapped reads.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ExportReadGroupSetsResponse": {
            "description": "The read group set export response.",
            "id": "ExportReadGroupSetsResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportVariantSetRequest": {
            "description": "The variant data export request.",
            "id": "ExportVariantSetRequest",
            "properties": {
                "bigqueryDataset": {
                    "description": "The BigQuery dataset to export data to. Note that this is distinct from the Genomics concept of \"dataset\".",
                    "type": "string"
                },
                "bigqueryTable": {
                    "description": "The BigQuery table to export data to. If the table doesn't exist, it will be created. If it already exists, it will be overwritten.",
                    "type": "string"
                },
                "callSetIds": {
                    "description": "If provided, only variant call information from the specified call sets will be exported. By default all variant calls are exported.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "format": {
                    "description": "The format for the exported data.",
                    "enum": [
                        "BIGQUERY"
                    ],
                    "enumDescriptions": [
                        ""
                    ],
                    "type": "string"
                },
                "projectNumber": {
                    "description": "The Google Cloud project number that owns the destination BigQuery dataset. The caller must have WRITE access to this project. This project will also own the resulting export job.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportVariantSetResponse": {
            "description": "The variant data export response.",
            "id": "ExportVariantSetResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FastqMetadata": {
            "id": "FastqMetadata",
            "properties": {
                "libraryName": {
                    "description": "Optionally specifies the library name for alignment from FASTQ.",
                    "type": "string"
                },
                "platformName": {
                    "description": "Optionally specifies the platform name for alignment from FASTQ. For example: CAPILLARY, LS454, ILLUMINA, SOLID, HELICOS, IONTORRENT, PACBIO.",
                    "type": "string"
                },
                "platformUnit": {
                    "description": "Optionally specifies the platform unit for alignment from FASTQ. For example: flowcell-barcode.lane for Illumina or slide for SOLID.",
                    "type": "string"
                },
                "readGroupName": {
                    "description": "Optionally specifies the read group name for alignment from FASTQ.",
                    "type": "string"
                },
                "sampleName": {
                    "description": "Optionally specifies the sample name for alignment from FASTQ.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportReadGroupSetsRequest": {
            "description": "The read group set import request.",
            "id": "ImportReadGroupSetsRequest",
            "properties": {
                "datasetId": {
                    "description": "Required. The ID of the dataset these read group sets will belong to. The caller must have WRITE permissions to this dataset.",
                    "type": "string"
                },
                "partitionStrategy": {
                    "description": "The partition strategy describes how read groups are partitioned into read group sets.",
                    "enum": [
                        "MERGE_ALL",
                        "PER_FILE_PER_SAMPLE"
                    ],
                    "enumDescriptions": [
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "referenceSetId": {
                    "description": "The reference set to which the imported read group sets are aligned to, if any. The reference names of this reference set must be a superset of those found in the imported file headers. If no reference set id is provided, a best effort is made to associate with a matching reference set.",
                    "type": "string"
                },
                "sourceUris": {
                    "description": "A list of URIs pointing at BAM files in Google Cloud Storage.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ImportReadGroupSetsResponse": {
            "description": "The read group set import response.",
            "id": "ImportReadGroupSetsResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportVariantsRequest": {
            "description": "The variant data import request.",
            "id": "ImportVariantsRequest",
            "properties": {
                "format": {
                    "description": "The format of the variant data being imported.",
                    "enum": [
                        "COMPLETE_GENOMICS",
                        "VCF"
                    ],
                    "enumDescriptions": [
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "sourceUris": {
                    "description": "A list of URIs pointing at VCF files in Google Cloud Storage. See the VCF Specification for more details on the input format.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ImportVariantsResponse": {
            "description": "The variant data import response.",
            "id": "ImportVariantsResponse",
            "properties": {
                "jobId": {
                    "description": "A job ID that can be used to get status information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InterleavedFastqSource": {
            "description": "Describes an interleaved FASTQ file source for alignment.",
            "id": "InterleavedFastqSource",
            "properties": {
                "metadata": {
                    "$ref": "FastqMetadata",
                    "description": "Optionally specifies the metadata to be associated with the final aligned read group set."
                },
                "sourceUris": {
                    "description": "A list of URIs pointing at interleaved FASTQ files in Google Cloud Storage which will be aligned. The caller must have READ permissions for these files.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Job": {
            "description": "A Job represents an ongoing process that can be monitored for status information.",
            "id": "Job",
            "properties": {
                "created": {
                    "description": "The date this job was created, in milliseconds from the epoch.",
                    "format": "int64",
                    "type": "string"
                },
                "detailedStatus": {
                    "description": "A more detailed description of this job's current status.",
                    "type": "string"
                },
                "errors": {
                    "description": "Any errors that occurred during processing.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "id": {
                    "description": "The job ID.",
                    "type": "string"
                },
                "importedIds": {
                    "description": "If this Job represents an import, this field will contain the IDs of the objects that were successfully imported.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "projectNumber": {
                    "description": "The Google Developers Console project number to which this job belongs.",
                    "format": "int64",
                    "type": "string"
                },
                "request": {
                    "$ref": "JobRequest",
                    "description": "A summarized representation of the original service request."
                },
                "status": {
                    "description": "The status of this job.",
                    "enum": [
                        "CANCELED",
                        "FAILURE",
                        "NEW",
                        "PENDING",
                        "RUNNING",
                        "SUCCESS",
                        "UNKNOWN_STATUS"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "warnings": {
                    "description": "Any warnings that occurred during processing.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "JobRequest": {
            "description": "A summary representation of the service request that spawned the job.",
            "id": "JobRequest",
            "properties": {
                "destination": {
                    "description": "The data destination of the request, for example, a Google BigQuery Table or Dataset ID.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "source": {
                    "description": "The data source of the request, for example, a Google Cloud Storage object path or Readset ID.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "description": "The original request type.",
                    "enum": [
                        "ALIGN_READSETS",
                        "CALL_READSETS",
                        "EXPERIMENTAL_CREATE_JOB",
                        "EXPORT_READSETS",
                        "EXPORT_VARIANTS",
                        "IMPORT_READSETS",
                        "IMPORT_VARIANTS",
                        "UNKNOWN_TYPE"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LinearAlignment": {
            "description": "A linear alignment can be represented by one CIGAR string. Describes the mapped position and local alignment of the read to the reference.",
            "id": "LinearAlignment",
            "properties": {
                "cigar": {
                    "description": "Represents the local alignment of this sequence (alignment matches, indels, etc) against the reference.",
                    "items": {
                        "$ref": "CigarUnit"
                    },
                    "type": "array"
                },
                "mappingQuality": {
                    "description": "The mapping quality of this alignment. Represents how likely the read maps to this position as opposed to other locations.",
                    "format": "int32",
                    "type": "integer"
                },
                "position": {
                    "$ref": "Position",
                    "description": "The position of this alignment."
                }
            },
            "type": "object"
        },
        "ListBasesResponse": {
            "id": "ListBasesResponse",
            "properties": {
                "nextPageToken": {
                    "description": "The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren't any additional results.",
                    "type": "string"
                },
                "offset": {
                    "description": "The offset position (0-based) of the given sequence from the start of this Reference. This value will differ for each page in a paginated request.",
                    "format": "int64",
                    "type": "string"
                },
                "sequence": {
                    "description": "A substring of the bases that make up this reference.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCoverageBucketsResponse": {
            "id": "ListCoverageBucketsResponse",
            "properties": {
                "bucketWidth": {
                    "description": "The length of each coverage bucket in base pairs. Note that buckets at the end of a reference sequence may be shorter. This value is omitted if the bucket width is infinity (the default behaviour, with no range or targetBucketWidth).",
                    "format": "int64",
                    "type": "string"
                },
                "coverageBuckets": {
                    "description": "The coverage buckets. The list of buckets is sparse; a bucket with 0 overlapping reads is not returned. A bucket never crosses more than one reference sequence. Each bucket has width bucketWidth, unless its end is the end of the reference sequence.",
                    "items": {
                        "$ref": "CoverageBucket"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren't any additional results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDatasetsResponse": {
            "description": "The dataset list response.",
            "id": "ListDatasetsResponse",
            "properties": {
                "datasets": {
                    "description": "The list of matching Datasets.",
                    "items": {
                        "$ref": "Dataset"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results. This field will be empty if there aren't any additional results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MergeVariantsRequest": {
            "id": "MergeVariantsRequest",
            "properties": {
                "variants": {
                    "description": "The variants to be merged with existing variants.",
                    "items": {
                        "$ref": "Variant"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Metadata": {
            "description": "Metadata describes a single piece of variant call metadata. These data include a top level key and either a single value string (value) or a list of key-value pairs (info.) Value and info are mutually exclusive.",
            "id": "Metadata",
            "properties": {
                "description": {
                    "description": "A textual description of this metadata.",
                    "type": "string"
                },
                "id": {
                    "description": "User-provided ID field, not enforced by this API. Two or more pieces of structured metadata with identical id and key fields are considered equivalent.",
                    "type": "string"
                },
                "info": {
                    "additionalProperties": {
                        "description": "A string which maps to an array of values.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "description": "Remaining structured metadata key-value pairs.",
                    "type": "object"
                },
                "key": {
                    "description": "The top-level key.",
                    "type": "string"
                },
                "number": {
                    "description": "The number of values that can be included in a field described by this metadata.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of data. Possible types include: Integer, Float, Flag, Character, and String.",
                    "enum": [
                        "CHARACTER",
                        "FLAG",
                        "FLOAT",
                        "INTEGER",
                        "STRING",
                        "UNKNOWN_TYPE"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "value": {
                    "description": "The value field for simple metadata",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PairedFastqSource": {
            "description": "Describes a paired-end FASTQ file source for alignment.",
            "id": "PairedFastqSource",
            "properties": {
                "firstSourceUris": {
                    "description": "A list of URIs pointing at paired end FASTQ files in Google Cloud Storage which will be aligned. The first of each paired file should be specified here, in an order that matches the second of each paired file specified in secondSourceUris. For example: firstSourceUris: [file1_1.fq, file2_1.fq], secondSourceUris: [file1_2.fq, file2_2.fq]. The caller must have READ permissions for these files.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "metadata": {
                    "$ref": "FastqMetadata",
                    "description": "Optionally specifies the metadata to be associated with the final aligned read group set."
                },
                "secondSourceUris": {
                    "description": "A list of URIs pointing at paired end FASTQ files in Google Cloud Storage which will be aligned. The second of each paired file should be specified here, in an order that matches the first of each paired file specified in firstSourceUris. For example: firstSourceUris: [file1_1.fq, file2_1.fq], secondSourceUris: [file1_2.fq, file2_2.fq]. The caller must have READ permissions for these files.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Position": {
            "description": "An abstraction for referring to a genomic position, in relation to some already known reference. For now, represents a genomic position as a reference name, a base number on that reference (0-based), and a determination of forward or reverse strand.",
            "id": "Position",
            "properties": {
                "position": {
                    "description": "The 0-based offset from the start of the forward strand for that reference.",
                    "format": "int64",
                    "type": "string"
                },
                "referenceName": {
                    "description": "The name of the reference in whatever reference set is being used.",
                    "type": "string"
                },
                "reverseStrand": {
                    "description": "Whether this position is on the reverse strand, as opposed to the forward strand.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Range": {
            "description": "A 0-based half-open genomic coordinate range over a reference sequence.",
            "id": "Range",
            "properties": {
                "end": {
                    "description": "The end position of the range on the reference, 0-based exclusive. If specified, referenceName must also be specified.",
                    "format": "int64",
                    "type": "string"
                },
                "referenceName": {
                    "description": "The reference sequence name, for example chr1, 1, or chrX.",
                    "type": "string"
                },
                "start": {
                    "description": "The start position of the range on the reference, 0-based inclusive. If specified, referenceName must also be specified.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Read": {
            "description": "A read alignment describes a linear alignment of a string of DNA to a reference sequence, in addition to metadata about the fragment (the molecule of DNA sequenced) and the read (the bases which were read by the sequencer). A read is equivalent to a line in a SAM file. A read belongs to exactly one read group and exactly one read group set. Generating a reference-aligned sequence string When interacting with mapped reads, it's often useful to produce a string representing the local alignment of the read to reference. The following pseudocode demonstrates one way of doing this:\nout = \"\" offset = 0 for c in read.alignment.cigar { switch c.operation { case \"ALIGNMENT_MATCH\", \"SEQUENCE_MATCH\", \"SEQUENCE_MISMATCH\": out += read.alignedSequence[offset:offset+c.operationLength] offset += c.operationLength break case \"CLIP_SOFT\", \"INSERT\": offset += c.operationLength break case \"PAD\": out += repeat(\"*\", c.operationLength) break case \"DELETE\": out += repeat(\"-\", c.operationLength) break case \"SKIP\": out += repeat(\" \", c.operationLength) break case \"CLIP_HARD\": break } } return out\nConverting to SAM's CIGAR string The following pseudocode generates a SAM CIGAR string from the cigar field. Note that this is a lossy conversion (cigar.referenceSequence is lost).\ncigarMap = { \"ALIGNMENT_MATCH\": \"M\", \"INSERT\": \"I\", \"DELETE\": \"D\", \"SKIP\": \"N\", \"CLIP_SOFT\": \"S\", \"CLIP_HARD\": \"H\", \"PAD\": \"P\", \"SEQUENCE_MATCH\": \"=\", \"SEQUENCE_MISMATCH\": \"X\", } cigarStr = \"\" for c in read.alignment.cigar { cigarStr += c.operationLength + cigarMap[c.operation] } return cigarStr",
            "id": "Read",
            "properties": {
                "alignedQuality": {
                    "description": "The quality of the read sequence contained in this alignment record. alignedSequence and alignedQuality may be shorter than the full read sequence and quality. This will occur if the alignment is part of a chimeric alignment, or if the read was trimmed. When this occurs, the CIGAR for this read will begin/end with a hard clip operator that will indicate the length of the excised sequence.",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "type": "array"
                },
                "alignedSequence": {
                    "description": "The bases of the read sequence contained in this alignment record, without CIGAR operations applied. alignedSequence and alignedQuality may be shorter than the full read sequence and quality. This will occur if the alignment is part of a chimeric alignment, or if the read was trimmed. When this occurs, the CIGAR for this read will begin/end with a hard clip operator that will indicate the length of the excised sequence.",
                    "type": "string"
                },
                "alignment": {
                    "$ref": "LinearAlignment",
                    "description": "The linear alignment for this alignment record. This field will be null if the read is unmapped."
                },
                "duplicateFragment": {
                    "description": "The fragment is a PCR or optical duplicate (SAM flag 0x400)",
                    "type": "boolean"
                },
                "failedVendorQualityChecks": {
                    "description": "SAM flag 0x200",
                    "type": "boolean"
                },
                "fragmentLength": {
                    "description": "The observed length of the fragment, equivalent to TLEN in SAM.",
                    "format": "int32",
                    "type": "integer"
                },
                "fragmentName": {
                    "description": "The fragment name. Equivalent to QNAME (query template name) in SAM.",
                    "type": "string"
                },
                "id": {
                    "description": "The unique ID for this read. This is a generated unique ID, not to be confused with fragmentName.",
                    "type": "string"
                },
                "info": {
                    "additionalProperties": {
                        "description": "A string which maps to an array of values.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "description": "A map of additional read alignment information.",
                    "type": "object"
                },
                "nextMatePosition": {
                    "$ref": "Position",
                    "description": "The mapping of the primary alignment of the (readNumber+1)%numberReads read in the fragment. It replaces mate position and mate strand in SAM."
                },
                "numberReads": {
                    "description": "The number of reads in the fragment (extension to SAM flag 0x1).",
[...]
