{
    "basePath": "/",
    "baseUrl": "https://logging.googleapis.com/",
    "batchPath": "batch",
    "description": "Google Cloud Logging API lets you create logs, ingest log entries, and manage log sinks.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/logging/docs/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/Dl8jzEbCLfW8aU_OmsbXBqEUy5Y\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "logging:v2beta1",
    "kind": "discovery#restDescription",
    "name": "logging",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "revision": "20151007",
    "rootUrl": "https://logging.googleapis.com/",
    "schemas": {
        "RequestLog": {
            "description": "Complete log information about a single request to an application.",
            "id": "RequestLog",
            "properties": {
                "appId": {
                    "description": "Identifies the application that handled this request.",
                    "type": "string"
                },
                "moduleId": {
                    "description": "Identifies the module of the application that handled this request.",
                    "type": "string"
                },
                "versionId": {
                    "description": "Version of the application that handled this request.",
                    "type": "string"
                },
                "requestId": {
                    "description": "Globally unique identifier for a request, based on request start time. Request IDs for requests which started later will compare greater as binary strings than those for requests which started earlier.",
                    "format": "byte",
                    "type": "string"
                },
                "ip": {
                    "description": "Origin IP address.",
                    "type": "string"
                },
                "startTime": {
                    "description": "Time at which request was known to have begun processing.",
                    "type": "string"
                },
                "endTime": {
                    "description": "Time at which request was known to end processing.",
                    "type": "string"
                },
                "latency": {
                    "description": "Latency of the request.",
                    "type": "string"
                },
                "megaCycles": {
                    "description": "Number of CPU megacycles used to process request.",
                    "format": "int64",
                    "type": "string"
                },
                "method": {
                    "description": "Request method, such as `GET`, `HEAD`, `PUT`, `POST`, or `DELETE`.",
                    "type": "string"
                },
                "resource": {
                    "description": "Contains the path and query portion of the URL that was requested. For example, if the URL was \"http://example.com/app?name=val\", the resource would be \"/app?name=val\". Any trailing fragment (separated by a '#' character) will not be included.",
                    "type": "string"
                },
                "httpVersion": {
                    "description": "HTTP version of request.",
                    "type": "string"
                },
                "status": {
                    "description": "Response status of request.",
                    "format": "int32",
                    "type": "integer"
                },
                "responseSize": {
                    "description": "Size in bytes sent back to client by request.",
                    "format": "int64",
                    "type": "string"
                },
                "referrer": {
                    "description": "Referrer URL of request.",
                    "type": "string"
                },
                "userAgent": {
                    "description": "User agent used for making request.",
                    "type": "string"
                },
                "nickname": {
                    "description": "A string that identifies a logged-in user who made this request, or empty if the user is not logged in. Most likely, this is the part of the user's email before the '@' sign. The field value is the same for different requests from the same user, but different users may have a similar name. This information is also available to the application via Users API. This field will be populated starting with App Engine 1.9.21.",
                    "type": "string"
                },
                "urlMapEntry": {
                    "description": "File or class within URL mapping used for request. Useful for tracking down the source code which was responsible for managing request. Especially for multiply mapped handlers.",
                    "type": "string"
                },
                "host": {
                    "description": "The Internet host and port number of the resource being requested.",
                    "type": "string"
                },
                "cost": {
                    "description": "An indication of the relative cost of serving this request.",
                    "format": "double",
                    "type": "number"
                },
                "taskQueueName": {
                    "description": "Queue name of the request (for an offline request).",
                    "type": "string"
                },
                "taskName": {
                    "description": "Task name of the request (for an offline request).",
                    "type": "string"
                },
                "wasLoadingRequest": {
                    "description": "Was this request a loading request for this instance?",
                    "type": "boolean"
                },
                "pendingTime": {
                    "description": "Time this request spent in the pending request queue, if it was pending at all.",
                    "type": "string"
                },
                "instanceIndex": {
                    "description": "If the instance that processed this request was individually addressable (i.e. belongs to a manually scaled module), this is the index of the instance.",
                    "format": "int32",
                    "type": "integer"
                },
                "finished": {
                    "description": "If true, represents a finished request. Otherwise, the request is active.",
                    "type": "boolean"
                },
                "instanceId": {
                    "description": "An opaque identifier for the instance that handled the request.",
                    "format": "byte",
                    "type": "string"
                },
                "line": {
                    "description": "List of log lines emitted by the application while serving this request, if requested.",
                    "items": {
                        "$ref": "LogLine"
                    },
                    "type": "array"
                },
                "appEngineRelease": {
                    "description": "App Engine release version string.",
                    "type": "string"
                },
                "traceId": {
                    "description": "Cloud Trace identifier of the trace for this request.",
                    "type": "string"
                },
                "sourceReference": {
                    "description": "Source code for the application that handled this request. There can be more than one source reference per deployed application if source code is distributed among multiple repositories.",
                    "items": {
                        "$ref": "SourceReference"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LogLine": {
            "description": "Application log line emitted while processing a request.",
            "id": "LogLine",
            "properties": {
                "time": {
                    "description": "Time when log entry was made. May be inaccurate.",
                    "type": "string"
                },
                "severity": {
                    "description": "Severity of log.",
                    "enum": [
                        "DEFAULT",
                        "DEBUG",
                        "INFO",
                        "NOTICE",
                        "WARNING",
                        "ERROR",
                        "CRITICAL",
                        "ALERT",
                        "EMERGENCY"
                    ],
                    "type": "string"
                },
                "logMessage": {
                    "description": "App provided log message.",
                    "type": "string"
                },
                "sourceLocation": {
                    "$ref": "SourceLocation",
                    "description": "Line of code that generated this log message."
                }
            },
            "type": "object"
        },
        "SourceLocation": {
            "description": "Specifies a location in a source file.",
            "id": "SourceLocation",
            "properties": {
                "file": {
                    "description": "Source file name. May or may not be a fully qualified name, depending on the runtime environment.",
                    "type": "string"
                },
                "line": {
                    "description": "Line within the source file.",
                    "format": "int64",
                    "type": "string"
                },
                "functionName": {
                    "description": "Human-readable name of the function or method being invoked, with optional context such as the class or package name, for use in contexts such as the logs viewer where file:line number is less meaningful. This may vary by language, for example: in Java: qual.if.ied.Class.method in Go: dir/package.func in Python: function ...",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SourceReference": {
            "description": "A reference to a particular snapshot of the source tree used to build and deploy an application.",
            "id": "SourceReference",
            "properties": {
                "repository": {
                    "description": "Optional. A URI string identifying the repository. Example: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"",
                    "type": "string"
                },
                "revisionId": {
                    "description": "The canonical (and persistent) identifier of the deployed revision. Example (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Logging API",
    "version": "v2beta1"
}