{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/appengine.admin": {
                    "description": "View and manage your applications deployed on Google App Engine"
                },
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/compute": {
                    "description": "View and manage your Google Compute Engine resources"
                },
                "https://www.googleapis.com/auth/devstorage.read_write": {
                    "description": "Manage your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/ndev.cloudman": {
                    "description": "View and manage your Google Cloud Platform management resources and deployment status information"
                },
                "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
                    "description": "View your Google Cloud Platform management resources and deployment status information"
                }
            }
        }
    },
    "basePath": "/manager/v1beta2/projects/",
    "baseUrl": "https://www.googleapis.com/manager/v1beta2/projects/",
    "batchPath": "batch",
    "description": "The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/deployment-manager/",
    "etag": "\"8MqRhZzx1kw0pwpjahVJEB3eI6w/iGUA1MFJvjag5CPQwb2aT371UTs\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "manager:v1beta2",
    "kind": "discovery#restDescription",
    "labels": [
        "limited_availability"
    ],
    "name": "manager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "deployments": {
            "methods": {
                "delete": {
                    "description": "",
                    "httpMethod": "DELETE",
                    "id": "manager.deployments.delete",
                    "parameterOrder": [
                        "projectId",
                        "region",
                        "deploymentName"
                    ],
                    "parameters": {
                        "deploymentName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/regions/{region}/deployments/{deploymentName}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "get": {
                    "description": "",
                    "httpMethod": "GET",
                    "id": "manager.deployments.get",
                    "parameterOrder": [
                        "projectId",
                        "region",
                        "deploymentName"
                    ],
                    "parameters": {
                        "deploymentName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/regions/{region}/deployments/{deploymentName}",
                    "response": {
                        "$ref": "Deployment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "insert": {
                    "description": "",
                    "httpMethod": "POST",
                    "id": "manager.deployments.insert",
                    "parameterOrder": [
                        "projectId",
                        "region"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/regions/{region}/deployments",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Deployment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/devstorage.read_write",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "list": {
                    "description": "",
                    "httpMethod": "GET",
                    "id": "manager.deployments.list",
                    "parameterOrder": [
                        "projectId",
                        "region"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "50",
                            "description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/regions/{region}/deployments",
                    "response": {
                        "$ref": "DeploymentsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "templates": {
            "methods": {
                "delete": {
                    "description": "",
                    "httpMethod": "DELETE",
                    "id": "manager.templates.delete",
                    "parameterOrder": [
                        "projectId",
                        "templateName"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "templateName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/templates/{templateName}",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "get": {
                    "description": "",
                    "httpMethod": "GET",
                    "id": "manager.templates.get",
                    "parameterOrder": [
                        "projectId",
                        "templateName"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "templateName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/templates/{templateName}",
                    "response": {
                        "$ref": "Template"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "insert": {
                    "description": "",
                    "httpMethod": "POST",
                    "id": "manager.templates.insert",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/templates",
                    "request": {
                        "$ref": "Template"
                    },
                    "response": {
                        "$ref": "Template"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "list": {
                    "description": "",
                    "httpMethod": "GET",
                    "id": "manager.templates.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "default": "50",
                            "description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{projectId}/templates",
                    "response": {
                        "$ref": "TemplatesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20140915",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AccessConfig": {
            "description": "A Compute Engine network accessConfig. Identical to the accessConfig on corresponding Compute Engine resource.",
            "id": "AccessConfig",
            "properties": {
                "name": {
                    "description": "Name of this access configuration.",
                    "type": "string"
                },
                "natIp": {
                    "description": "An external IP address associated with this instance.",
                    "type": "string"
                },
                "type": {
                    "description": "Type of this access configuration file. (Currently only ONE_TO_ONE_NAT is legal.)",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Action": {
            "description": "An Action encapsulates a set of commands as a single runnable module with additional information needed during run-time.",
            "id": "Action",
            "properties": {
                "commands": {
                    "description": "A list of commands to run sequentially for this action.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "timeoutMs": {
                    "description": "The timeout in milliseconds for this action to run.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "AllowedRule": {
            "description": "An allowed port resource.",
            "id": "AllowedRule",
            "properties": {
                "IPProtocol": {
                    "description": "?tcp?, ?udp? or ?icmp?",
                    "type": "string"
                },
                "ports": {
                    "description": "List of ports or port ranges (Example inputs include: [\"22\"], [?33?, \"12345-12349\"].",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AutoscalingModule": {
            "id": "AutoscalingModule",
            "properties": {
                "coolDownPeriodSec": {
                    "format": "int32",
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "maxNumReplicas": {
                    "format": "int32",
                    "type": "integer"
                },
                "minNumReplicas": {
                    "format": "int32",
                    "type": "integer"
                },
                "signalType": {
                    "type": "string"
                },
                "targetModule": {
                    "type": "string"
                },
                "targetUtilization": {
                    "description": "target_utilization should be in range [0,1].",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "AutoscalingModuleStatus": {
            "id": "AutoscalingModuleStatus",
            "properties": {
                "autoscalingConfigUrl": {
                    "description": "[Output Only] The URL of the corresponding Autoscaling configuration.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeployState": {
            "description": "[Output Only] The current state of a replica or module.",
            "id": "DeployState",
            "properties": {
                "details": {
                    "description": "[Output Only] Human readable details about the current state.",
                    "type": "string"
                },
                "status": {
                    "description": "[Output Only] The status of the deployment. Possible values include: \n- UNKNOWN\n- DEPLOYING\n- DEPLOYED\n- DEPLOYMENT_FAILED\n- DELETING\n- DELETED\n- DELETE_FAILED",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "description": "A deployment represents a physical instantiation of a Template.",
            "id": "Deployment",
            "properties": {
                "creationDate": {
                    "description": "[Output Only] The time when this deployment was created.",
                    "type": "string"
                },
                "description": {
                    "description": "A user-supplied description of this Deployment.",
                    "type": "string"
                },
                "modules": {
                    "additionalProperties": {
                        "$ref": "ModuleStatus",
                        "description": "Name of the module."
                    },
                    "description": "[Output Only] List of status for the modules in this deployment.",
                    "type": "object"
                },
                "name": {
                    "description": "Name of this deployment. The name must conform to the following regular expression: [a-zA-Z0-9-_]{1,64}",
                    "type": "string"
                },
                "overrides": {
                    "description": "The set of parameter overrides to apply to the corresponding Template before deploying.",
                    "items": {
                        "$ref": "ParamOverride"
                    },
                    "type": "array"
                },
                "state": {
                    "$ref": "DeployState",
                    "description": "[Output Only] Current status of this deployment."
                },
                "templateName": {
                    "description": "The name of the Template on which this deployment is based.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsListResponse": {
            "id": "DeploymentsListResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "Deployment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DiskAttachment": {
            "description": "How to attach a disk to a Replica.",
            "id": "DiskAttachment",
            "properties": {
                "deviceName": {
                    "description": "The device name of this disk.",
                    "type": "string"
                },
                "index": {
                    "description": "A zero-based index to assign to this disk, where 0 is reserved for the boot disk. If not specified, this is assigned by the server.",
                    "format": "uint32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "EnvVariable": {
            "description": "An environment variable.",
            "id": "EnvVariable",
            "properties": {
                "hidden": {
                    "description": "Whether this variable is hidden or visible.",
                    "type": "boolean"
                },
                "value": {
                    "description": "Value of the environment variable.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExistingDisk": {
            "description": "A pre-existing persistent disk that will be attached to every Replica in the Pool.",
            "id": "ExistingDisk",
            "properties": {
                "attachment": {
                    "$ref": "DiskAttachment",
                    "description": "Optional. How the disk will be attached to the Replica."
                },
                "source": {
                    "description": "The fully-qualified URL of the Persistent Disk resource. It must be in the same zone as the Pool.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FirewallModule": {
            "description": "A Firewall resource",
            "id": "FirewallModule",
            "properties": {
                "allowed": {
                    "description": "The allowed ports or port ranges.",
                    "items": {
                        "$ref": "AllowedRule"
                    },
                    "type": "array"
                },
                "description": {
                    "description": "The description of the firewall (optional)",
                    "type": "string"
                },
                "network": {
                    "description": "The NetworkModule to which this firewall should apply. If not specified, or if specified as 'default', this firewall will be applied to the 'default' network.",
                    "type": "string"
                },
                "sourceRanges": {
                    "description": "Source IP ranges to apply this firewall to, see the GCE Spec for details on syntax",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "sourceTags": {
                    "description": "Source Tags to apply this firewall to, see the GCE Spec for details on syntax",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "targetTags": {
                    "description": "Target Tags to apply this firewall to, see the GCE Spec for details on syntax",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FirewallModuleStatus": {
            "id": "FirewallModuleStatus",
            "properties": {
                "firewallUrl": {
                    "description": "[Output Only] The URL of the corresponding Firewall resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "HealthCheckModule": {
            "id": "HealthCheckModule",
            "properties": {
                "checkIntervalSec": {
                    "format": "int32",
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "healthyThreshold": {
                    "format": "int32",
                    "type": "integer"
                },
                "host": {
                    "type": "string"
                },
                "path": {
                    "type": "string"
                },
                "port": {
                    "format": "int32",
                    "type": "integer"
                },
                "timeoutSec": {
                    "format": "int32",
                    "type": "integer"
                },
                "unhealthyThreshold": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "HealthCheckModuleStatus": {
            "id": "HealthCheckModuleStatus",
            "properties": {
                "healthCheckUrl": {
                    "description": "[Output Only] The HealthCheck URL.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LbModule": {
            "id": "LbModule",
            "properties": {
                "description": {
                    "type": "string"
                },
                "healthChecks": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "ipAddress": {
                    "type": "string"
                },
                "ipProtocol": {
                    "type": "string"
                },
                "portRange": {
                    "type": "string"
                },
                "sessionAffinity": {
                    "type": "string"
                },
                "targetModules": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "LbModuleStatus": {
            "id": "LbModuleStatus",
            "properties": {
                "forwardingRuleUrl": {
                    "description": "[Output Only] The URL of the corresponding ForwardingRule in GCE.",
                    "type": "string"
                },
                "targetPoolUrl": {
                    "description": "[Output Only] The URL of the corresponding TargetPool resource in GCE.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Metadata": {
            "description": "A Compute Engine metadata entry. Identical to the metadata on the corresponding Compute Engine resource.",
            "id": "Metadata",
            "properties": {
                "fingerPrint": {
                    "description": "The fingerprint of the metadata.",
                    "type": "string"
                },
                "items": {
                    "description": "A list of metadata items.",
                    "items": {
                        "$ref": "MetadataItem"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MetadataItem": {
            "description": "A Compute Engine metadata item, defined as a key:value pair. Identical to the metadata on the corresponding Compute Engine resource.",
            "id": "MetadataItem",
            "properties": {
                "key": {
                    "description": "A metadata key.",
                    "type": "string"
                },
                "value": {
                    "description": "A metadata value.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Module": {
            "description": "A module in a configuration. A module represents a single homogeneous, possibly replicated task.",
            "id": "Module",
            "properties": {
                "autoscalingModule": {
                    "$ref": "AutoscalingModule"
                },
                "firewallModule": {
                    "$ref": "FirewallModule"
                },
                "healthCheckModule": {
                    "$ref": "HealthCheckModule"
                },
                "lbModule": {
                    "$ref": "LbModule"
                },
                "networkModule": {
                    "$ref": "NetworkModule"
                },
                "replicaPoolModule": {
                    "$ref": "ReplicaPoolModule"
                },
                "type": {
                    "description": "The type of this module. Valid values (\"AUTOSCALING\", \"FIREWALL\", \"HEALTH_CHECK\", \"LOAD_BALANCING\", \"NETWORK\", \"REPLICA_POOL\")",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ModuleStatus": {
            "description": "[Output Only] Aggregate status for a module.",
            "id": "ModuleStatus",
            "properties": {
                "autoscalingModuleStatus": {
                    "$ref": "AutoscalingModuleStatus",
                    "description": "[Output Only] The status of the AutoscalingModule, set for type AUTOSCALING."
                },
                "firewallModuleStatus": {
                    "$ref": "FirewallModuleStatus",
                    "description": "[Output Only] The status of the FirewallModule, set for type FIREWALL."
                },
                "healthCheckModuleStatus": {
                    "$ref": "HealthCheckModuleStatus",
                    "description": "[Output Only] The status of the HealthCheckModule, set for type HEALTH_CHECK."
                },
                "lbModuleStatus": {
                    "$ref": "LbModuleStatus",
                    "description": "[Output Only] The status of the LbModule, set for type LOAD_BALANCING."
                },
                "networkModuleStatus": {
                    "$ref": "NetworkModuleStatus",
                    "description": "[Output Only] The status of the NetworkModule, set for type NETWORK."
                },
                "replicaPoolModuleStatus": {
                    "$ref": "ReplicaPoolModuleStatus",
                    "description": "[Output Only] The status of the ReplicaPoolModule, set for type VM."
                },
                "state": {
                    "$ref": "DeployState",
                    "description": "[Output Only] The current state of the module."
                },
                "type": {
                    "description": "[Output Only] The type of the module.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkInterface": {
            "description": "A Compute Engine NetworkInterface resource. Identical to the NetworkInterface on the corresponding Compute Engine resource.",
            "id": "NetworkInterface",
            "properties": {
                "accessConfigs": {
                    "description": "An array of configurations for this interface. This specifies how this interface is configured to interact with other network services",
                    "items": {
                        "$ref": "AccessConfig"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Name of the interface.",
                    "type": "string"
                },
                "network": {
                    "description": "The name of the NetworkModule to which this interface applies. If not specified, or specified as 'default', this will use the 'default' network.",
                    "type": "string"
                },
                "networkIp": {
                    "description": "An optional IPV4 internal network address to assign to the instance for this network interface.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkModule": {
            "id": "NetworkModule",
            "properties": {
                "IPv4Range": {
                    "description": "Required; The range of internal addresses that are legal on this network. This range is a CIDR specification, for example: 192.168.0.0/16.",
                    "type": "string"
                },
                "description": {
                    "description": "The description of the network.",
                    "type": "string"
                },
                "gatewayIPv4": {
                    "description": "An optional address that is used for default routing to other networks. This must be within the range specified by IPv4Range, and is typicall the first usable address in that range. If not specified, the default value is the first usable address in IPv4Range.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NetworkModuleStatus": {
            "id": "NetworkModuleStatus",
            "properties": {
                "networkUrl": {
                    "description": "[Output Only] The URL of the corresponding Network resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NewDisk": {
            "description": "A Persistent Disk resource that will be created and attached to each Replica in the Pool. Each Replica will have a unique persistent disk that is created and attached to that Replica.",
            "id": "NewDisk",
            "properties": {
                "attachment": {
                    "$ref": "DiskAttachment",
                    "description": "How the disk will be attached to the Replica."
                },
                "autoDelete": {
                    "description": "If true, then this disk will be deleted when the instance is deleted.",
                    "type": "boolean"
                },
                "boot": {
                    "description": "If true, indicates that this is the root persistent disk.",
                    "type": "boolean"
                },
                "initializeParams": {
                    "$ref": "NewDiskInitializeParams",
                    "description": "Create the new disk using these parameters. The name of the disk will be <instance_name>-<five_random_charactersgt;."
                }
            },
            "type": "object"
        },
        "NewDiskInitializeParams": {
            "description": "Initialization parameters for creating a new disk.",
            "id": "NewDiskInitializeParams",
            "properties": {
                "diskSizeGb": {
                    "description": "The size of the created disk in gigabytes.",
                    "format": "int64",
                    "type": "string"
                },
                "diskType": {
                    "description": "Name of the disk type resource describing which disk type to use to create the disk. For example 'pd-ssd' or 'pd-standard'. Default is 'pd-standard'",
                    "type": "string"
                },
                "sourceImage": {
                    "description": "The fully-qualified URL of a source image to use to create this disk.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ParamOverride": {
            "description": "A specification for overriding parameters in a Template that corresponds to the Deployment.",
            "id": "ParamOverride",
            "properties": {
                "path": {
                    "description": "A JSON Path expression that specifies which parameter should be overridden.",
                    "type": "string"
                },
                "value": {
                    "description": "The new value to assign to the overridden parameter.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplicaPoolModule": {
            "id": "ReplicaPoolModule",
            "properties": {
                "envVariables": {
                    "additionalProperties": {
                        "$ref": "EnvVariable",
                        "description": "Name of the environment variable. The name must conform to the following regular expression: [a-zA-Z_]+[a-zA-Z0-9_]+."
                    },
                    "description": "A list of environment variables.",
                    "type": "object"
                },
                "healthChecks": {
                    "description": "The Health Checks to configure for the ReplicaPoolModule",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "numReplicas": {
                    "description": "Number of replicas in this module.",
                    "format": "int32",
                    "type": "integer"
                },
                "replicaPoolParams": {
                    "$ref": "ReplicaPoolParams",
                    "description": "Information for a ReplicaPoolModule."
                },
                "resourceView": {
                    "description": "[Output Only] The name of the Resource View associated with a ReplicaPoolModule. This field will be generated by the service.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplicaPoolModuleStatus": {
            "id": "ReplicaPoolModuleStatus",
            "properties": {
                "replicaPoolUrl": {
                    "description": "[Output Only] The URL of the associated ReplicaPool resource.",
                    "type": "string"
                },
                "resourceViewUrl": {
                    "description": "[Output Only] The URL of the Resource Group associated with this ReplicaPool.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ReplicaPoolParams": {
            "description": "Configuration information for a ReplicaPools resource. Specifying an item within will determine the ReplicaPools API version used for a ReplicaPoolModule. Only one may be specified.",
            "id": "ReplicaPoolParams",
            "properties": {
                "v1beta1": {
                    "$ref": "ReplicaPoolParamsV1Beta1",
                    "description": "ReplicaPoolParams specifications for use with ReplicaPools v1beta1."
                }
            },
            "type": "object"
        },
        "ReplicaPoolParamsV1Beta1": {
            "description": "Configuration information for a ReplicaPools v1beta1 API resource. Directly maps to ReplicaPool InitTemplate.",
            "id": "ReplicaPoolParamsV1Beta1",
            "properties": {
                "autoRestart": {
                    "description": "Whether these replicas should be restarted if they experience a failure. The default value is true.",
                    "type": "boolean"
                },
                "baseInstanceName": {
                    "description": "The base name for instances within this ReplicaPool.",
                    "type": "string"
                },
                "canIpForward": {
                    "description": "Enables IP Forwarding",
                    "type": "boolean"
                },
                "description": {
                    "description": "An optional textual description of the resource.",
                    "type": "string"
                },
                "disksToAttach": {
                    "description": "A list of existing Persistent Disk resources to attach to each replica in the pool. Each disk will be attached in read-only mode to every replica.",
                    "items": {
                        "$ref": "ExistingDisk"
                    },
                    "type": "array"
                },
                "disksToCreate": {
                    "description": "A list of Disk resources to create and attach to each Replica in the Pool. Currently, you can only define one disk and it must be a root persistent disk. Note that Replica Pool will create a root persistent disk for each replica.",
                    "items": {
                        "$ref": "NewDisk"
                    },
                    "type": "array"
                },
                "initAction": {
                    "description": "Name of the Action to be run during initialization of a ReplicaPoolModule.",
                    "type": "string"
                },
                "machineType": {
                    "description": "The machine type for this instance. Either a complete URL, or the resource name (e.g. n1-standard-1).",
                    "type": "string"
                },
                "metadata": {
                    "$ref": "Metadata",
                    "description": "The metadata key/value pairs assigned to this instance."
                },
                "networkInterfaces": {
                    "description": "A list of network interfaces for the instance. Currently only one interface is supported by Google Compute Engine.",
                    "items": {
                        "$ref": "NetworkInterface"
                    },
                    "type": "array"
                },
                "onHostMaintenance": {
                    "type": "string"
                },
                "serviceAccounts": {
                    "description": "A list of Service Accounts to enable for this instance.",
                    "items": {
                        "$ref": "ServiceAccount"
                    },
                    "type": "array"
                },
                "tags": {
                    "$ref": "Tag",
                    "description": "A list of tags to apply to the Google Compute Engine instance to identify resources."
                },
                "zone": {
                    "description": "The zone for this ReplicaPool.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ServiceAccount": {
            "description": "A Compute Engine service account, identical to the Compute Engine resource.",
            "id": "ServiceAccount",
            "properties": {
                "email": {
                    "description": "Service account email address.",
                    "type": "string"
                },
                "scopes": {
                    "description": "List of OAuth2 scopes to obtain for the service account.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Tag": {
            "description": "A Compute Engine Instance tag, identical to the tags on the corresponding Compute Engine Instance resource.",
            "id": "Tag",
            "properties": {
                "fingerPrint": {
                    "description": "The fingerprint of the tag.",
                    "type": "string"
                },
                "items": {
                    "description": "Items contained in this tag.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Template": {
            "description": "A Template represents a complete configuration for a Deployment.",
            "id": "Template",
            "properties": {
                "actions": {
                    "additionalProperties": {
                        "$ref": "Action",
                        "description": "The name of this action, used when specifying Actions in Module definitions."
                    },
                    "description": "Action definitions for use in Module intents in this Template.",
                    "type": "object"
                },
                "description": {
                    "description": "A user-supplied description of this Template.",
                    "type": "string"
                },
                "modules": {
                    "additionalProperties": {
                        "$ref": "Module",
                        "description": "Name of the module. The name must conform to the following regular expression: [a-zA-Z0-9-_]{1,64}"
                    },
                    "description": "A list of modules for this Template.",
                    "type": "object"
                },
                "name": {
                    "description": "Name of this Template. The name must conform to the expression: [a-zA-Z0-9-_]{1,64}",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TemplatesListResponse": {
            "id": "TemplatesListResponse",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "Template"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "manager/v1beta2/projects/",
    "title": "Deployment Manager API",
    "version": "v1beta2"
}