{
    "basePath": "/",
    "baseUrl": "https://proximitybeacon.googleapis.com/",
    "batchPath": "batch",
    "description": "This API provides services to register, manage, index, and search beacons.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/beacons/proximity/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/qiwkKULZKsE5qLcb8g90X8kbnl8\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "proximitybeacon:v1beta1",
    "kind": "discovery#restDescription",
    "name": "proximitybeacon",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "beacons": {
            "methods": {
                "register": {
                    "description": "Registers a previously unregistered beacon given its `advertisedId`. These IDs are unique within the system. An ID can be registered only once.",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.register",
                    "path": "v1beta1/beacons:register",
                    "request": {
                        "$ref": "Beacon"
                    },
                    "response": {
                        "$ref": "Beacon"
                    }
                },
                "decommission": {
                    "description": "Decommissions the specified beacon in the service. This beacon will no longer be returned from `beaconinfo.getforobserved`. This operation is permanent -- you will not be able to re-register a beacon with this ID again.",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.decommission",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "description": "Beacon that should be decommissioned. Required.",
                            "location": "path",
                            "pattern": "^beacons/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:decommission",
                    "response": {
                        "$ref": "Empty"
                    }
                },
                "get": {
                    "description": "Returns detailed information about the specified beacon.",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.beacons.get",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "description": "Beacon that is requested.",
                            "location": "path",
                            "pattern": "^beacons/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}",
                    "response": {
                        "$ref": "Beacon"
                    }
                },
                "list": {
                    "description": "Searches the beacon registry for beacons that match the given search criteria. Only those beacons that the client has permission to list will be returned.",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.beacons.list",
                    "parameters": {
                        "q": {
                            "description": "Filter query string that supports the following field filters: * `description:\"\"` For example: `description:\"Room 3\"` Returns beacons whose description matches tokens in the string \"Room 3\" (not necessarily that exact string). The string must be double-quoted. * `status:` For example: `status:active` Returns beacons whose status matches the given value. Values must be one of the Beacon.Status enum values (case insensitive). Accepts multiple filters which will be combined with OR logic. * `stability:` For example: `stability:mobile` Returns beacons whose expected stability matches the given value. Values must be one of the Beacon.Stability enum values (case insensitive). Accepts multiple filters which will be combined with OR logic. * `place_id:\"\"` For example: `place_id:\"ChIJVSZzVR8FdkgRXGmmm6SslKw=\"` Returns beacons explicitly registered at the given place, expressed as a Place ID obtained from [Google Places API](/places/place-id). Does not match places inside the given place. Does not consider the beacon's actual location (which may be different from its registered place). Accepts multiple filters that will be combined with OR logic. The place ID must be double-quoted. * `registration_time[|=]` For example: `registration_time>=1433116800` Returns beacons whose registration time matches the given filter. Supports the operators: , =. Timestamp must be expressed as an integer number of seconds since midnight January 1, 1970 UTC. Accepts at most two filters that will be combined with AND logic, to support \"between\" semantics. If more than two are supplied, the latter ones are ignored. * `lat: lng: radius:` For example: `lat:51.1232343 lng:-1.093852 radius:1000` Returns beacons whose registered location is within the given circle. When any of these fields are given, all are required. Latitude and longitude must be decimal degrees between -90.0 and 90.0 and between -180.0 and 180.0 respectively. Radius must be an integer number of meters less than 1,000,000 (1000 km). * `property:\"=\"` For example: `property:\"battery-type=CR2032\"` Returns beacons which have a property of the given name and value. Supports multiple filters which will be combined with OR logic. The entire name=value string must be double-quoted as one string. * `attachment_type:\"\"` For example: `attachment_type:\"my-namespace/my-type\"` Returns beacons having at least one attachment of the given namespaced type. Supports \"any within this namespace\" via the partial wildcard syntax: \"my-namespace/*\". Supports multiple filters which will be combined with OR logic. The string must be double-quoted. Multiple filters on the same field are combined with OR logic (except registration_time which is combined with AND logic). Multiple filters on different fields are combined with AND logic. Filters should be separated by spaces. As with any HTTP query string parameter, the whole filter expression must be URL-encoded. Example REST request: `GET /v1beta1/beacons?q=status:active%20lat:51.123%20lng:-1.095%20radius:1000`",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "A pagination token obtained from a previous request to list beacons.",
                            "location": "query",
                            "type": "string"
                        },
                        "pageSize": {
                            "description": "The maximum number of records to return for this request, up to a server-defined upper limit.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v1beta1/beacons",
                    "response": {
                        "$ref": "ListBeaconsResponse"
                    }
                },
                "update": {
                    "description": "Updates the information about the specified beacon. **Any field that you do not populate in the submitted beacon will be permanently erased**, so you should follow the \"read, modify, write\" pattern to avoid inadvertently destroying data. Changes to the beacon status via this method will be silently ignored. To update beacon status, use the separate methods on this API for (de)activation and decommissioning.",
                    "httpMethod": "PUT",
                    "id": "proximitybeacon.beacons.update",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "description": "Resource name of this beacon. A beacon name has the format \"beacons/N!beaconId\" where the beaconId is the base16 ID broadcast by the beacon and N is a code for the beacon's type. Possible values are `3` for Eddystone, `1` for iBeacon, or `5` for AltBeacon. This field must be left empty when registering. After reading a beacon, clients can use the name for future operations.",
                            "location": "path",
                            "pattern": "^beacons/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}",
                    "request": {
                        "$ref": "Beacon"
                    },
                    "response": {
                        "$ref": "Beacon"
                    }
                },
                "activate": {
                    "description": "(Re)activates a beacon. A beacon that is active will return information and attachment data when queried via `beaconinfo.getforobserved`. Calling this method on an already active beacon will do nothing (but will return a successful response code).",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.activate",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "description": "The beacon to activate. Required.",
                            "location": "path",
                            "pattern": "^beacons/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:activate",
                    "response": {
                        "$ref": "Empty"
                    }
                },
                "deactivate": {
                    "description": "Deactivates a beacon. Once deactivated, the API will not return information nor attachment data for the beacon when queried via `beaconinfo.getforobserved`. Calling this method on an already inactive beacon will do nothing (but will return a successful response code).",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beacons.deactivate",
                    "parameterOrder": [
                        "beaconName"
                    ],
                    "parameters": {
                        "beaconName": {
                            "description": "The beacon name of this beacon.",
                            "location": "path",
                            "pattern": "^beacons/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1beta1/{+beaconName}:deactivate",
                    "response": {
                        "$ref": "Empty"
                    }
                }
            },
            "resources": {
                "attachments": {
                    "methods": {
                        "create": {
                            "description": "Associates the given data with the specified beacon. Attachment data must contain two parts:  \n- A namespaced type. \n- The actual attachment data itself.  The namespaced type consists of two parts, the namespace and the type. The namespace must be one of the values returned by the `namespaces` endpoint, while the type can be a string of any characters except for the forward slash (`/`) up to 100 characters in length. Attachment data can be up to 1024 bytes long.",
                            "httpMethod": "POST",
                            "id": "proximitybeacon.beacons.attachments.create",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "description": "The beacon on which the attachment should be created. Required.",
                                    "location": "path",
                                    "pattern": "^beacons/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments",
                            "request": {
                                "$ref": "BeaconAttachment"
                            },
                            "response": {
                                "$ref": "BeaconAttachment"
                            }
                        },
                        "list": {
                            "description": "Returns the attachments for the specified beacon that match the specified namespaced-type pattern. To control which namespaced types are returned, you add the `namespacedType` query parameter to the request. You must either use `*/*`, to return all attachments, or the namespace must be one of the ones returned from the `namespaces` endpoint.",
                            "httpMethod": "GET",
                            "id": "proximitybeacon.beacons.attachments.list",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "description": "The beacon whose attachments are to be fetched. Required.",
                                    "location": "path",
                                    "pattern": "^beacons/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "namespacedType": {
                                    "description": "Specifies the namespace and type of attachment to include in response in namespace/type format. Accepts `*/*` to specify \"all types in all namespaces\".",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments",
                            "response": {
                                "$ref": "ListBeaconAttachmentsResponse"
                            }
                        },
                        "delete": {
                            "description": "Deletes the specified attachment for the given beacon. Each attachment has a unique attachment name (`attachmentName`) which is returned when you fetch the attachment data via this API. You specify this with the delete request to control which attachment is removed. This operation cannot be undone.",
                            "httpMethod": "DELETE",
                            "id": "proximitybeacon.beacons.attachments.delete",
                            "parameterOrder": [
                                "attachmentName"
                            ],
                            "parameters": {
                                "attachmentName": {
                                    "description": "The attachment name (`attachmentName`) of the attachment to remove. For example: `beacons/3!893737abc9/attachments/c5e937-af0-494-959-ec49d12738` Required.",
                                    "location": "path",
                                    "pattern": "^beacons/[^/]*/attachments/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+attachmentName}",
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "batchDelete": {
                            "description": "Deletes multiple attachments on a given beacon. This operation is permanent and cannot be undone. You can optionally specify `namespacedType` to choose which attachments should be deleted. If you do not specify `namespacedType`, all your attachments on the given beacon will be deleted. You also may explicitly specify `*/*` to delete all.",
                            "httpMethod": "POST",
                            "id": "proximitybeacon.beacons.attachments.batchDelete",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "description": "The beacon whose attachments are to be deleted. Required.",
                                    "location": "path",
                                    "pattern": "^beacons/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "namespacedType": {
                                    "description": "Specifies the namespace and type of attachments to delete in `namespace/type` format. Accepts `*/*` to specify \"all types in all namespaces\". Optional.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/attachments:batchDelete",
                            "response": {
                                "$ref": "DeleteAttachmentsResponse"
                            }
                        }
                    }
                },
                "diagnostics": {
                    "methods": {
                        "list": {
                            "description": "List the diagnostics for a single beacon. You can also list diagnostics for all the beacons owned by your Google Developers Console project by using the beacon name `beacons/-`.",
                            "httpMethod": "GET",
                            "id": "proximitybeacon.beacons.diagnostics.list",
                            "parameterOrder": [
                                "beaconName"
                            ],
                            "parameters": {
                                "beaconName": {
                                    "description": "Beacon that the diagnostics are for.",
                                    "location": "path",
                                    "pattern": "^beacons/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Specifies the maximum number of results to return. Defaults to 10. Maximum 1000. Optional.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "Requests results that occur after the `page_token`, obtained from the response to a previous request. Optional.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "alertFilter": {
                                    "description": "Requests only beacons that have the given alert. For example, to find beacons that have low batteries use `alert_filter=LOW_BATTERY`.",
                                    "enum": [
                                        "ALERT_UNSPECIFIED",
                                        "WRONG_LOCATION",
                                        "LOW_BATTERY"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+beaconName}/diagnostics",
                            "response": {
                                "$ref": "ListDiagnosticsResponse"
                            }
                        }
                    }
                }
            }
        },
        "namespaces": {
            "methods": {
                "list": {
                    "description": "Lists all attachment namespaces owned by your Google Developers Console project. Attachment data associated with a beacon must include a namespaced type, and the namespace must be owned by your project.",
                    "httpMethod": "GET",
                    "id": "proximitybeacon.namespaces.list",
                    "path": "v1beta1/namespaces",
                    "response": {
                        "$ref": "ListNamespacesResponse"
                    }
                }
            }
        },
        "beaconinfo": {
            "methods": {
                "getforobserved": {
                    "description": "Given one or more beacon observations, returns any beacon information and attachments accessible to your application.",
                    "httpMethod": "POST",
                    "id": "proximitybeacon.beaconinfo.getforobserved",
                    "path": "v1beta1/beaconinfo:getforobserved",
                    "request": {
                        "$ref": "GetInfoForObservedBeaconsRequest"
                    },
                    "response": {
                        "$ref": "GetInfoForObservedBeaconsResponse"
                    }
                }
            }
        }
    },
    "revision": "20150729",
    "rootUrl": "https://proximitybeacon.googleapis.com/",
    "schemas": {
        "Beacon": {
            "description": "Details of a beacon device.",
            "id": "Beacon",
            "properties": {
                "beaconName": {
                    "description": "Resource name of this beacon. A beacon name has the format \"beacons/N!beaconId\" where the beaconId is the base16 ID broadcast by the beacon and N is a code for the beacon's type. Possible values are `3` for Eddystone, `1` for iBeacon, or `5` for AltBeacon. This field must be left empty when registering. After reading a beacon, clients can use the name for future operations.",
                    "type": "string"
                },
                "advertisedId": {
                    "$ref": "AdvertisedId",
                    "description": "The identifier of a beacon as advertised by it. This field must be populated when registering. It may be empty when updating a beacon record because it is ignored in updates."
                },
                "status": {
                    "description": "Current status of the beacon. Required.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "ACTIVE",
                        "DECOMMISSIONED",
                        "INACTIVE"
                    ],
                    "type": "string"
                },
                "placeId": {
                    "description": "The [Google Places API](/places/place-id) Place ID of the place where the beacon is deployed. This is given when the beacon is registered or updated, not automatically detected in any way. Optional.",
                    "type": "string"
                },
                "latLng": {
                    "$ref": "LatLng",
                    "description": "The location of the beacon, expressed as a latitude and longitude pair. This location is given when the beacon is registered or updated. It does not necessarily indicate the actual current location of the beacon. Optional."
                },
                "indoorLevel": {
                    "$ref": "IndoorLevel",
                    "description": "The indoor level information for this beacon, if known. As returned by the Google Maps API. Optional."
                },
                "expectedStability": {
                    "description": "Expected location stability. This is set when the beacon is registered or updated, not automatically detected in any way. Optional.",
                    "enum": [
                        "STABILITY_UNSPECIFIED",
                        "STABLE",
                        "PORTABLE",
                        "MOBILE",
                        "ROVING"
                    ],
                    "type": "string"
                },
                "description": {
                    "description": "Free text used to identify and describe the beacon. Maximum length 140 characters. Optional.",
                    "type": "string"
                },
                "properties": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Properties of the beacon device, for example battery type or firmware version. Optional.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "AdvertisedId": {
            "description": "Defines a unique identifier of a beacon as broadcast by the device.",
            "id": "AdvertisedId",
            "properties": {
                "type": {
                    "description": "Specifies the identifier type. Required.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "EDDYSTONE",
                        "IBEACON",
                        "ALTBEACON"
                    ],
                    "type": "string"
                },
                "id": {
                    "description": "The actual beacon identifier, as broadcast by the beacon hardware. Must be [base64](http://tools.ietf.org/html/rfc4648#section-4) encoded in HTTP requests, and will be so encoded (with padding) in responses. The base64 encoding should be of the binary byte-stream and not any textual (such as hex) representation thereof. Required.",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LatLng": {
            "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges. Example of normalization code in Python: def NormalizeLongitude(longitude): \"\"\"Wrapsdecimal degrees longitude to [-180.0, 180.0].\"\"\" q, r = divmod(longitude, 360.0) if r > 180.0 or (r == 180.0 and q <= -1.0): return r - 360.0 return r def NormalizeLatLng(latitude, longitude): \"\"\"Wraps decimal degrees latitude and longitude to [-180.0, 180.0] and [-90.0, 90.0], respectively.\"\"\" r = latitude % 360.0 if r = 270.0: return r - 360, NormalizeLongitude(longitude) else: return 180 - r, NormalizeLongitude(longitude + 180.0) assert 180.0 == NormalizeLongitude(180.0) assert -180.0 == NormalizeLongitude(-180.0) assert -179.0 == NormalizeLongitude(181.0) assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0) assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0) assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0) assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0) assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0) assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0) assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0) assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0) assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0) assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)",
            "id": "LatLng",
            "properties": {
                "latitude": {
                    "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "IndoorLevel": {
            "description": "Indoor level, a human-readable string as returned by Google Maps APIs, useful to indicate which floor of a building a beacon is located on.",
            "id": "IndoorLevel",
            "properties": {
                "name": {
                    "description": "The name of this level.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "type": "object"
        },
        "ListBeaconsResponse": {
            "description": "Response that contains list beacon results and pagination help.",
            "id": "ListBeaconsResponse",
            "properties": {
                "beacons": {
                    "description": "The beacons that matched the search criteria.",
                    "items": {
                        "$ref": "Beacon"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "An opaque pagination token that the client may provide in their next request to retrieve the next page of results.",
                    "type": "string"
                },
                "totalCount": {
                    "description": "Estimate of the total number of beacons matched by the query. Higher values may be less accurate.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BeaconAttachment": {
            "description": "Project-specific data associated with a beacon.",
            "id": "BeaconAttachment",
            "properties": {
                "attachmentName": {
                    "description": "Resource name of this attachment. Attachment names have the format: beacons/beacon_id/attachments/attachment_id. Leave this empty on creation.",
                    "type": "string"
                },
                "namespacedType": {
                    "description": "Specifies what kind of attachment this is. Tells a client how to interpret the `data` field. Format is namespace/type. Namespace provides type separation between clients. Type describes the type of `data`, for use by the client when parsing the `data` field. Required.",
                    "type": "string"
                },
                "data": {
                    "description": "An opaque data container for client-provided data. Must be [base64](http://tools.ietf.org/html/rfc4648#section-4) encoded in HTTP requests, and will be so encoded (with padding) in responses. Required.",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBeaconAttachmentsResponse": {
            "description": "Response to ListBeaconAttachments that contains the requested attachments.",
            "id": "ListBeaconAttachmentsResponse",
            "properties": {
                "attachments": {
                    "description": "The attachments that corresponded to the request params.",
                    "items": {
                        "$ref": "BeaconAttachment"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeleteAttachmentsResponse": {
            "description": "Response for a request to delete attachments.",
            "id": "DeleteAttachmentsResponse",
            "properties": {
                "numDeleted": {
                    "description": "The number of attachments that were deleted.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ListNamespacesResponse": {
            "description": "Response to ListNamespacesRequest that contains all the project's namespaces.",
            "id": "ListNamespacesResponse",
            "properties": {
                "namespaces": {
                    "description": "The attachments that corresponded to the request params.",
                    "items": {
                        "$ref": "Namespace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Namespace": {
            "description": "An attachment namespace defines read and write access for all the attachments created under it. Each namespace is globally unique, and owned by one project which is the only project that can create attachments under it.",
            "id": "Namespace",
            "properties": {
                "namespaceName": {
                    "description": "Resource name of this namespace. Namespaces names have the format: namespaces/namespace.",
                    "type": "string"
                },
                "servingVisibility": {
                    "description": "Specifies what clients may receive attachments under this namespace via `beaconinfo.getforobserved`.",
                    "enum": [
                        "VISIBILITY_UNSPECIFIED",
                        "UNLISTED",
                        "PUBLIC"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDiagnosticsResponse": {
            "description": "Response that contains the requested diagnostics.",
            "id": "ListDiagnosticsResponse",
            "properties": {
                "diagnostics": {
                    "description": "The diagnostics matching the given request.",
                    "items": {
                        "$ref": "Diagnostics"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Token that can be used for pagination. Returned only if the request matches more beacons than can be returned in this response.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Diagnostics": {
            "description": "Diagnostics for a single beacon.",
            "id": "Diagnostics",
            "properties": {
                "beaconName": {
                    "description": "Resource name of the beacon.",
                    "type": "string"
                },
                "estimatedLowBatteryDate": {
                    "$ref": "Date",
                    "description": "The date when the battery is expected to be low. If the value is missing then there is no estimate for when the battery will be low. This value is only an estimate, not an exact date."
                },
                "alerts": {
                    "description": "An unordered list of Alerts that the beacon has.",
                    "enumDescriptions": [
                        "Invalid value. Should never appear.",
                        "The beacon has been reported in a location different than its registered location. This may indicate that the beacon has been moved. This signal is not 100% accurate, but indicates that further investigation is worth while.",
                        "The battery level for the beacon is low enough that, given the beacon's current use, its battery will run out with in the next 60 days. This indicates that the battery should be replaced soon."
                    ],
                    "items": {
                        "enum": [
                            "ALERT_UNSPECIFIED",
                            "WRONG_LOCATION",
                            "LOW_BATTERY"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Date": {
            "description": "Represents a whole calendar date, e.g. date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the Proleptic Gregorian Calendar. The day may be 0 to represent a year and month where the day is not significant, e.g. credit card expiration date. The year may be 0 to represent a month and day independent of year, e.g. anniversary date. Related types are [google.type.TimeOfDay][] and `google.protobuf.Timestamp`.",
            "id": "Date",
            "properties": {
                "year": {
                    "description": "Year of date. Must be from 1 to 9,999, or 0 if specifying a date without a year.",
                    "format": "int32",
                    "type": "integer"
                },
                "month": {
                    "description": "Month of year of date. Must be from 1 to 12.",
                    "format": "int32",
                    "type": "integer"
                },
                "day": {
                    "description": "Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a year/month where the day is not sigificant.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GetInfoForObservedBeaconsRequest": {
            "description": "Request for beacon and attachment information about beacons that a mobile client has encountered \"in the wild\".",
            "id": "GetInfoForObservedBeaconsRequest",
            "properties": {
                "observations": {
                    "description": "The beacons that the client has encountered. At least one must be given.",
                    "items": {
                        "$ref": "Observation"
                    },
                    "type": "array"
                },
                "namespacedTypes": {
                    "description": "Specifies what kind of attachments to include in the response. When given, the response will include only attachments of the given types. When empty, no attachments will be returned. Must be in the format namespace/type. Accepts `*` to specify all types in all namespaces. Optional.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Observation": {
            "description": "Represents one beacon observed once.",
            "id": "Observation",
            "properties": {
                "advertisedId": {
                    "$ref": "AdvertisedId",
                    "description": "The ID advertised by the beacon the client has encountered. Required."
                },
                "telemetry": {
                    "description": "The array of telemetry bytes received from the beacon. The server is responsible for parsing it. This field may frequently be empty, as with a beacon that transmits telemetry only occasionally.",
                    "format": "byte",
                    "type": "string"
                },
                "timestampMs": {
                    "description": "Time when the beacon was observed. Being sourced from a mobile device, this time may be suspect.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GetInfoForObservedBeaconsResponse": {
            "description": "Information about the requested beacons, optionally including attachment data.",
            "id": "GetInfoForObservedBeaconsResponse",
            "properties": {
                "beacons": {
                    "description": "Public information about beacons. May be empty if the request matched no beacons.",
                    "items": {
                        "$ref": "BeaconInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BeaconInfo": {
            "description": "A subset of beacon information served via the `beaconinfo.getforobserved` method, which you call when users of your app encounter your beacons.",
            "id": "BeaconInfo",
            "properties": {
                "advertisedId": {
                    "$ref": "AdvertisedId",
                    "description": "The ID advertised by the beacon."
                },
                "beaconName": {
                    "description": "The name under which the beacon is registered.",
                    "type": "string"
                },
                "description": {
                    "description": "Free text used to identify or describe the beacon in a registered establishment. For example: \"entrance\", \"room 101\", etc. May be empty.",
                    "type": "string"
                },
                "attachments": {
                    "description": "Attachments matching the type(s) requested. May be empty if no attachment types were requested, or if none matched.",
                    "items": {
                        "$ref": "AttachmentInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AttachmentInfo": {
            "description": "A subset of attachment information served via the `beaconinfo.getforobserved` method, used when your users encounter your beacons.",
            "id": "AttachmentInfo",
            "properties": {
                "namespacedType": {
                    "description": "Specifies what kind of attachment this is. Tells a client how to interpret the `data` field. Format is namespace/type, for example scrupulous-wombat-12345/welcome-message",
                    "type": "string"
                },
                "data": {
                    "description": "An opaque data container for client-provided data.",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Proximity Beacon API",
    "version": "v1beta1"
}