{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/replicapool": {
                    "description": "View and manage replica pools"
                },
                "https://www.googleapis.com/auth/replicapool.readonly": {
                    "description": "View replica pools"
                }
            }
        }
    },
    "basePath": "/replicapoolupdater/v1beta1/projects/",
    "baseUrl": "https://www.googleapis.com/replicapoolupdater/v1beta1/projects/",
    "batchPath": "batch",
    "description": "The Google Compute Engine Instance Group Updater API provides services for updating groups of Compute Engine Instances.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/p4N2iDg-K9khNxP-otwGtbGFX0M\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "replicapoolupdater:v1beta1",
    "kind": "discovery#restDescription",
    "labels": [
        "limited_availability"
    ],
    "name": "replicapoolupdater",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "updates": {
            "methods": {
                "cancel": {
                    "description": "Called on the particular Update endpoint. Cancels the update in state PAUSED. No-op if invoked in state CANCELLED.",
                    "httpMethod": "POST",
                    "id": "replicapoolupdater.updates.cancel",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager",
                        "update"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "update": {
                            "description": "Unique (in the context of a group) handle of an update.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates/{update}/cancel",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool"
                    ]
                },
                "get": {
                    "description": "Called on the particular Update endpoint. Returns the Update resource.",
                    "httpMethod": "GET",
                    "id": "replicapoolupdater.updates.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager",
                        "update"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "update": {
                            "description": "Unique (in the context of a group) handle of an update.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates/{update}",
                    "response": {
                        "$ref": "Update"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ]
                },
                "insert": {
                    "description": "Called on the collection endpoint. Inserts the new Update resource and starts the update.",
                    "httpMethod": "POST",
                    "id": "replicapoolupdater.updates.insert",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates",
                    "request": {
                        "$ref": "Update"
                    },
                    "response": {
                        "$ref": "InsertResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool"
                    ]
                },
                "list": {
                    "description": "Called on the collection endpoint. Lists updates for a given instance group, in reverse chronological order. Pagination is supported, see ListRequestHeader.",
                    "httpMethod": "GET",
                    "id": "replicapoolupdater.updates.list",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "50",
                            "description": "Maximum count of results to be returned. Acceptable values are 1 to 100, inclusive. (Default: 50)",
                            "format": "int32",
                            "location": "query",
                            "maximum": "100",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Set this to the nextPageToken value returned by a previous list request to obtain the next page of results from the previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates",
                    "response": {
                        "$ref": "UpdateList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool",
                        "https://www.googleapis.com/auth/replicapool.readonly"
                    ]
                },
                "pause": {
                    "description": "Called on the particular Update endpoint. Pauses the update in state ROLLING_FORWARD or ROLLING_BACK. No-op if invoked in state PAUSED.",
                    "httpMethod": "POST",
                    "id": "replicapoolupdater.updates.pause",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager",
                        "update"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "update": {
                            "description": "Unique (in the context of a group) handle of an update.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates/{update}/pause",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool"
                    ]
                },
                "rollback": {
                    "description": "Called on the particular Update endpoint. Rolls back the update in state ROLLING_FORWARD or PAUSED. No-op if invoked in state ROLLED_BACK or ROLLING_BACK.",
                    "httpMethod": "POST",
                    "id": "replicapoolupdater.updates.rollback",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager",
                        "update"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "update": {
                            "description": "Unique (in the context of a group) handle of an update.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates/{update}/rollback",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool"
                    ]
                },
                "rollforward": {
                    "description": "Called on the particular Update endpoint. Rolls forward the update in state ROLLING_BACK or PAUSED. No-op if invoked in state ROLLED_OUT or ROLLING_FORWARD.",
                    "httpMethod": "POST",
                    "id": "replicapoolupdater.updates.rollforward",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "instanceGroupManager",
                        "update"
                    ],
                    "parameters": {
                        "instanceGroupManager": {
                            "description": "Name of the instance group manager for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "update": {
                            "description": "Unique (in the context of a group) handle of an update.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Zone for the instance group manager.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/updates/{update}/rollforward",
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/replicapool"
                    ]
                }
            }
        }
    },
    "revision": "20141117",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "InsertResponse": {
            "description": "Response returned by Insert method.",
            "id": "InsertResponse",
            "properties": {
                "update": {
                    "description": "Unique (in the context of a group) handle of an update.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstanceUpdate": {
            "description": "Update of a single instance.",
            "id": "InstanceUpdate",
            "properties": {
                "instanceName": {
                    "description": "Name of an instance.",
                    "type": "string"
                },
                "state": {
                    "description": "State of an instance update. Possible values are:  \n- \"PENDING/code>\": The instance update is pending execution. \n- \"ROLLING_FORWARD\": The instance update is going forward. \n- \"ROLLING_BACK\": The instance update being rolled back. \n- \"PAUSED\": The instance update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The instance update is finished, the instance is running the new template. \n- \"ROLLED_BACK\": The instance update is finished, the instance has been reverted to the previous template. \n- \"CANCELLED\": The instance update is paused and no longer can be resumed, undefined in which template the instance is running.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Update": {
            "description": "Resource describing a single update (rollout) of an instance group to the given template.",
            "id": "Update",
            "properties": {
                "creationTimestamp": {
                    "description": "[Output only] The time the update was created, in RFC3339 text format.",
                    "type": "string"
                },
                "details": {
                    "description": "[Output only] Human-readable description of an update progress.",
                    "type": "string"
                },
                "handle": {
                    "description": "[Output only] Unique (in the context of a group) handle assigned to this update.",
                    "type": "string"
                },
                "instanceTemplate": {
                    "description": "Url of an instance template to be applied.",
                    "type": "string"
                },
                "instanceUpdates": {
                    "description": "[Output only] Collection of instance updates.",
                    "items": {
                        "$ref": "InstanceUpdate"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "replicapoolupdater#update",
                    "description": "[Output only] The resource type. Always replicapoolupdater#update.",
                    "type": "string"
                },
                "policy": {
                    "$ref": "UpdatePolicy",
                    "description": "Parameters of an update process."
                },
                "selfLink": {
                    "description": "[Output only] The fully qualified URL for this resource.",
                    "type": "string"
                },
                "state": {
                    "description": "[Output only] Current state of an update. Possible values are:  \n- \"ROLLING_FORWARD\": The update is going forward. \n- \"ROLLING_BACK\": The update is being rolled back. \n- \"PAUSED\": The update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The update is finished, all instances have been updated successfully. \n- \"ROLLED_BACK\": The update is finished, all instances have been reverted to the previous template. \n- \"CANCELLED\": The update is paused and no longer can be resumed, undefined how many instances are running in which template.",
                    "type": "string"
                },
                "targetState": {
                    "description": "[Output only] Requested state of an update. This is the state that the updater is moving towards. Acceptable values are:  \n- \"ROLLED_OUT\": The user has requested the update to go forward. \n- \"ROLLED_BACK\": The user has requested the update to be rolled back. \n- \"PAUSED\": The user has requested the update to be paused.\n \n- \"CANCELLED\": The user has requested the update to be cancelled. The updater service is in the process of canceling the update.",
                    "type": "string"
                },
                "user": {
                    "description": "[Output only] User who requested the update, for example: user@example.com.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateList": {
            "description": "Response returned by List method.",
            "id": "UpdateList",
            "properties": {
                "items": {
                    "description": "Collection of requested updates.",
                    "items": {
                        "$ref": "Update"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token used to continue a truncated list request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdatePolicy": {
            "description": "Parameters of an update process.",
            "id": "UpdatePolicy",
            "properties": {
                "canary": {
                    "$ref": "UpdatePolicyCanary",
                    "description": "Parameters of a canary phase. If absent, canary will NOT be performed."
                },
                "maxNumConcurrentInstances": {
                    "description": "Maximum number of instances that can be updated simultaneously (concurrently). An update of an instance starts when the instance is about to be restarted and finishes after the instance has been restarted and the sleep period (defined by sleep_after_instance_restart_sec) has passed.",
                    "format": "int32",
                    "type": "integer"
                },
                "sleepAfterInstanceRestartSec": {
                    "description": "Time period after the instance has been restarted but before marking the update of this instance as done.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "UpdatePolicyCanary": {
            "description": "Parameters of a canary phase.",
            "id": "UpdatePolicyCanary",
            "properties": {
                "numInstances": {
                    "description": "Number of instances updated as a part of canary phase. If absent, the default number of instances will be used.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "replicapoolupdater/v1beta1/projects/",
    "title": "Google Compute Engine Instance Group Updater API",
    "version": "v1beta1"
}