{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/cloudruntimeconfig": {
                    "description": "Manage your Google Cloud Platform services' runtime configuration"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://runtimeconfig.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud RuntimeConfig",
    "description": "Provides capabilities for dynamic configuration and coordination for applications running on Google Cloud Platform.\n",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/deployment-manager/docs/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "runtimeconfig:v1beta1",
    "kind": "discovery#restDescription",
    "name": "runtimeconfig",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "configs": {
                    "methods": {
                        "update": {
                            "description": "Updates the config resource object.\nRuntimeConfig object must already exist.",
                            "httpMethod": "PUT",
                            "id": "runtimeconfig.projects.configs.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the config resource to update.\nRequired. Must be a valid config resource.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*/configs/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "request": {
                                "$ref": "RuntimeConfig"
                            },
                            "response": {
                                "$ref": "RuntimeConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudruntimeconfig"
                            ]
                        },
                        "get": {
                            "description": "Gets the config resource object.",
                            "httpMethod": "GET",
                            "id": "runtimeconfig.projects.configs.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the RuntimeConfig resource object to retrieve.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*/configs/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "RuntimeConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudruntimeconfig"
                            ]
                        },
                        "create": {
                            "description": "CreateConfig creates a new config resource object.\nThe configuration name must be unique within project.",
                            "httpMethod": "POST",
                            "id": "runtimeconfig.projects.configs.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "The cloud project to which configuration belongs.\nRequired. Must be a valid GCP project.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/configs",
                            "request": {
                                "$ref": "RuntimeConfig"
                            },
                            "response": {
                                "$ref": "RuntimeConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudruntimeconfig"
                            ]
                        },
                        "list": {
                            "description": "Lists all the config objects within project.",
                            "httpMethod": "GET",
                            "id": "runtimeconfig.projects.configs.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "List pagination support.\nThe size of the page to return. We may return fewer elements.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "description": "The cloud project, whose configuration resources we want to list.\nRequired. Must be a valid GCP project.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The token for pagination.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+parent}/configs",
                            "response": {
                                "$ref": "ListConfigsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudruntimeconfig"
                            ]
                        },
                        "delete": {
                            "description": "Deletes the config object.",
                            "httpMethod": "DELETE",
                            "id": "runtimeconfig.projects.configs.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The configuration resource object to delete.\nRequired. Must be a valid GCP project.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]*/configs/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1beta1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloudruntimeconfig"
                            ]
                        }
                    },
                    "resources": {
                        "variables": {
                            "methods": {
                                "watch": {
                                    "description": "WatchVariable watches for a variable to change and then returns the new\nvalue or times out.\nIf variable is deleted while being watched, VariableState will be DELETED\nand the Value will contain the last known value.\nIf the operation deadline is set to a larger value than internal timeout\nexisting, current variable value will be returned and Variable state will\nbe VARIABLE_STATE_UNSPECIFIED.",
                                    "httpMethod": "POST",
                                    "id": "runtimeconfig.projects.configs.variables.watch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the variable to retrieve.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/variables/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}:watch",
                                    "request": {
                                        "$ref": "WatchVariableRequest"
                                    },
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "list": {
                                    "description": "Lists variables within given RuntimeConfig object, matching optionally\nprovided filter.\nList contains only variable metadata, but not values.",
                                    "httpMethod": "GET",
                                    "id": "runtimeconfig.projects.configs.variables.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "List pagination support.\nThe size of the page to return. We may return fewer elements.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "filter": {
                                            "description": "List only variables matching filter prefix exactly.\ne.g. `projects/{project_id}/config/{config_id}/variables/{variable/id}`.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Which RuntimeConfig object to list for variables.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "The token for pagination.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/variables",
                                    "response": {
                                        "$ref": "ListVariablesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the variable resource object.",
                                    "httpMethod": "GET",
                                    "id": "runtimeconfig.projects.configs.variables.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "What variable to return.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/variables/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a variable within the given configuration.\nCreate variable will create all required intermediate path elements.\nIt is a FAILED_PRECONDITION error to create a variable with a name that is\na prefix of an existing variable name, or that has an existing variable\nname as a prefix.",
                                    "httpMethod": "POST",
                                    "id": "runtimeconfig.projects.configs.variables.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "The configuration parent, that will own the variable.\nRequired, must a valid configuration name within project_id.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/variables",
                                    "request": {
                                        "$ref": "Variable"
                                    },
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "update": {
                                    "description": "Updates an existing variable with a new value.",
                                    "httpMethod": "PUT",
                                    "id": "runtimeconfig.projects.configs.variables.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the variable to update.\nIn the format of:\n\"projects/{project_id}/configs/{config_id}/variables/{variable_id}\"",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/variables/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "request": {
                                        "$ref": "Variable"
                                    },
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes variable or variables.\nIf name denotes a variable, that variable is deleted. If name is a prefix\nand recursive is true, then all variables with that prefix are deleted,\nit's a FAILED_PRECONDITION to delete a prefix without recursive being true.",
                                    "httpMethod": "DELETE",
                                    "id": "runtimeconfig.projects.configs.variables.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "recursive": {
                                            "description": "If recursive is false and name is a prefix of other variables, then\nthe request will fail.",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "The name of the variable to delete.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/variables/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                }
                            }
                        },
                        "waiters": {
                            "methods": {
                                "get": {
                                    "description": "Gets the Waiter resource with the specified name.",
                                    "httpMethod": "GET",
                                    "id": "runtimeconfig.projects.configs.waiters.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The fully-qualified name of the Waiter resource object to retrieve.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/waiters/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Waiter"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a Waiter resource. This operation returns a long-running Operation\nresource which can be polled for completion. However, a Waiter with the\ngiven name will exist (and can be retrieved) prior to the resultant\nOperation completing. If the resultant Operation indicates a failure, the\nfailed Waiter resource will still exist and must be deleted prior to\nsubsequent creation attempts.",
                                    "httpMethod": "POST",
                                    "id": "runtimeconfig.projects.configs.waiters.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "The fully-qualified name of the configuration that will own the waiter.\nRequired. Must be a valid configuration name.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/waiters",
                                    "request": {
                                        "$ref": "Waiter"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "list": {
                                    "description": "List Waiters within the given RuntimeConfig resource.",
                                    "httpMethod": "GET",
                                    "id": "runtimeconfig.projects.configs.waiters.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "List pagination support.\nThe size of the page to return. We may return fewer elements.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "parent": {
                                            "description": "The fully-qualified name of the configuration to list.\nRequired. Must be a valid configuration name.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "The token for pagination.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+parent}/waiters",
                                    "response": {
                                        "$ref": "ListWaitersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the Waiter with the specified name.",
                                    "httpMethod": "DELETE",
                                    "id": "runtimeconfig.projects.configs.waiters.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The Waiter resource to delete.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/waiters/[^/]*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "get": {
                                    "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                                    "httpMethod": "GET",
                                    "id": "runtimeconfig.projects.configs.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the operation resource.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]*/configs/[^/]*/operations/.*$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1beta1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloudruntimeconfig"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20160518",
    "rootUrl": "https://runtimeconfig.googleapis.com/",
    "schemas": {
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @ype with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListConfigsResponse": {
            "description": "Response for the `ListConfigs()` method.\nOrder of returned configuration objects is arbitrary.",
            "id": "ListConfigsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "Pagination support.",
                    "type": "string"
                },
                "configs": {
                    "description": "Found configurations in the project.",
                    "items": {
                        "$ref": "RuntimeConfig"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Variable": {
            "description": "Variable message describes a single variable within a Configuration object.\nname denotes the hierarchical variable name, e.g.\nports/serving_port within flags configuration object.\nValue is an opaque string and only leaf variables can have values.",
            "id": "Variable",
            "properties": {
                "value": {
                    "description": "`len(value)` must be less than 4096 bytes. Empty values are also accepted.\nvalue must be Base64 encoded.",
                    "format": "byte",
                    "type": "string"
                },
                "updateTime": {
                    "description": "[Output Only] The time of the last variable update.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "state": {
                    "description": "[Ouput only] The current state of the variable.\nState denotes the outcome of the Watch call and is unset by the Get/List\ncalls.",
                    "enum": [
                        "VARIABLE_STATE_UNSPECIFIED",
                        "UPDATED",
                        "DELETED"
                    ],
                    "enumDescriptions": [
                        "Default variable state.",
                        "Variable had been updated, while watch was executing.",
                        "Variable had been deleted, while watch was executing."
                    ],
                    "type": "string"
                },
                "name": {
                    "description": "Name of the variable resource.\nIt has format of\n\"projects/{project_id}/configs/{config_id}/variables/{variable_id}\",\nWhere `project_id` must be a valid Google Cloud project ID, `config_id`\nmust be a valid RuntimeConfig object and `variable_id` follows Unix\nfile system file path naming.\n`variable_id` can contain ASCII letters, numbers, slashes and dashes.\nSlashes are used as path element separators and are not part of the\n`variable_id` itself, so `variable_id` must contain at least one non-slash\ncharacter. Multiple slashes are coalesced into single slash character.\nEach path segment should follow RFC 1035 segment specification.\n`len(variable_id)` must be less than 256 bytes.\nThe name is assigned by the client, but will be validated on the server\nside to adhere to the format.\nName is immutable and cannot be changed.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "Operation",
            "properties": {
                "error": {
                    "$ref": "Status",
                    "description": "The error result of the operation in case of failure."
                },
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @ype with type URL.",
                        "type": "any"
                    },
                    "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "type": "object"
                },
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @ype with type URL.",
                        "type": "any"
                    },
                    "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Waiter": {
            "description": "A Waiter resource waits for some condition within a RuntimeConfig resource\nto be met. For example: each node in a distributed system startup process\nwrites a value to a Variable resource indicating its readiness. A Waiter\nconfigured with the proper `success` condition can be used to wait until\nsome number of nodes have checked in.\nOnce created, a Waiter resource is immutable.",
            "id": "Waiter",
            "properties": {
                "timeout": {
                    "description": "The timeout, beginning from the instant that CreateWaiter is called. If\nthis timeout elapses prior to the success or failure conditions being met,\nthe Waiter will fail and the `error` code will be set to DEADLINE_EXCEEDED.\nRequired.",
                    "format": "google-duration",
                    "type": "string"
                },
                "success": {
                    "$ref": "EndCondition",
                    "description": "The success condition. If this condition is met, `done` will be set to\n`true` and the `error` value will remain unset. The failure condition\ntakes precedence over the success condition. If both conditions are met, a\nfailure will be indicated. Required."
                },
                "failure": {
                    "$ref": "EndCondition",
                    "description": "The failure condition. If this condition is met, `done` will be set to\n`true` and the `error` code will be set to ABORTED. The failure condition\ntakes precedence over the success condition. If both conditions are met, a\nfailure will be indicated. This value is optional; if no failure condition\nis set, the only failure scenario will be a timeout. Optional."
                },
                "createTime": {
                    "description": "The instant at which this Waiter was created. Adding the value of `timeout`\nto this instant yields the timeout deadline for this Waiter. Output only.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the variable resource.\nIt has format of\n\"projects/{project_id}/configs/{config_id}/waiters/{waiter_id}\",\nWhere `project_id` must be a valid Google Cloud project ID, `config_id`\nmust be a valid RuntimeConfig object and the `waiter_id` must match\nRFC 1035 segment specification, and `len(waiter_id)` must be less than\n64 bytes.\nThe name is assigned by the client, but will be validated on the server\nside to adhere to the format.\nName is immutable and cannot be changed. Required.",
                    "type": "string"
                },
                "error": {
                    "$ref": "Status",
                    "description": "If the Waiter ended due to a failure or timeout, this value will be set.\nOutput only.\n"
                },
                "done": {
                    "description": "If the value is `false`, it means the Waiter is still waiting for one of\nits conditions to be met.\nIf true, the Waiter has finished. If the Waiter finished due to a timeout\nor failure, `error` will be set. Output only.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "RuntimeConfig": {
            "description": "RuntimeConfig is the primary resource in the Configuration service.\nIt consists of metadata and a hierarchy of variables.",
            "id": "RuntimeConfig",
            "properties": {
                "description": {
                    "description": "Description of the configuration object.\n`len(description)` must be less than 256.",
                    "type": "string"
                },
                "name": {
                    "description": "The resource name of a runtime config.\nIt has the format of \"projects/{project_id}/configs/{config_id}\",\nwhere `project_id` is a valid Google cloud project ID, and the\n`config_id` must match RFC 1035 segment specification, and\n`len(config_id)` must be less than 64 bytes.\nThe name is assigned by the client, but will be validated on the server\nside to adhere to the format.\nName is immutable and cannot be changed.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListWaitersResponse": {
            "description": "Response for the `ListWaiters()` method.\nOrder of returned waiter objects is arbitrary.",
            "id": "ListWaitersResponse",
            "properties": {
                "nextPageToken": {
                    "description": "Pagination support.",
                    "type": "string"
                },
                "waiters": {
                    "description": "Found waiters in the project.",
                    "items": {
                        "$ref": "Waiter"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "EndCondition": {
            "description": "A condition that a Waiter resource is waiting for. The set of possible\nconditions may expand over time.",
            "id": "EndCondition",
            "properties": {
                "cardinality": {
                    "$ref": "Cardinality",
                    "description": "The Cardinality condition type configuration."
                }
            },
            "type": "object"
        },
        "Cardinality": {
            "description": "The Cardinality condition is met when the count of `Variable` resources\nunder the specified path prefix reaches the specified number.\nFor example, take the following variables in a RuntimeConfig object:\n  /foo/variable1 = \"value1\"\n  /foo/variable2 = \"value2\"\n  /bar/variable3 = \"value3\"\n\nThese variables would satisfy a Cardinality condition with `path` set to\n\"/foo\" and `number` set to 2, but would not satisify the same condition\nwith `number` set to 3.",
            "id": "Cardinality",
            "properties": {
                "path": {
                    "description": "The root of the variable subtree to monitor. Required.",
                    "type": "string"
                },
                "number": {
                    "description": "The number of decendents of `path` that must exist before this condition\nis met. Optional; defaults to 1 if not specified.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "WatchVariableRequest": {
            "description": "Request for the `WatchVariable()` method.",
            "id": "WatchVariableRequest",
            "properties": {
                "newerThan": {
                    "description": "If backend has a variable that has a newer value than this timestamp, then\nrequest will return immediately with current value.\nIf not specified or variable has an older timestamp, will wait for the new\nvalue.",
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListVariablesResponse": {
            "description": "Response for the `ListVariables()` method.\nOrder of returned variable objects is arbitrary.",
            "id": "ListVariablesResponse",
            "properties": {
                "variables": {
                    "description": "Matched variables and their values.",
                    "items": {
                        "$ref": "Variable"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Pagination support.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud RuntimeConfig API",
    "version": "v1beta1"
}