{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/sqlservice.admin": {
                    "description": "Manage your Google SQL Service instances"
                }
            }
        }
    },
    "basePath": "/sql/v1beta4/",
    "baseUrl": "https://www.googleapis.com/sql/v1beta4/",
    "batchPath": "batch",
    "canonicalName": "SQL Admin",
    "description": "API for Cloud SQL database instance management.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/sql/docs/reference/latest",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/CdVfU5tbn5VgAny3uzYYuohH1xY\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sqladmin:v1beta4",
    "kind": "discovery#restDescription",
    "name": "sqladmin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "backupRuns": {
            "methods": {
                "delete": {
                    "description": "Deletes the backup taken by a backup run.",
                    "httpMethod": "DELETE",
                    "id": "sql.backupRuns.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the Backup Run to delete.",
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/backupRuns/{id}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "description": "Retrieves a resource containing information about a backup run.",
                    "httpMethod": "GET",
                    "id": "sql.backupRuns.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of this Backup Run.",
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/backupRuns/{id}",
                    "response": {
                        "$ref": "BackupRun"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the enqueued time.",
                    "httpMethod": "GET",
                    "id": "sql.backupRuns.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of backup runs per response.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "A previously-returned page token representing part of the larger set of results to view.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/backupRuns",
                    "response": {
                        "$ref": "BackupRunsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "databases": {
            "methods": {
                "delete": {
                    "description": "Deletes a resource containing information about a database inside a Cloud SQL instance.",
                    "httpMethod": "DELETE",
                    "id": "sql.databases.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "description": "Name of the database to be deleted in the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
                    "httpMethod": "GET",
                    "id": "sql.databases.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "description": "Name of the database in the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "response": {
                        "$ref": "Database"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "description": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.databases.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists databases in the specified Cloud SQL instance.",
                    "httpMethod": "GET",
                    "id": "sql.databases.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project for which to list Cloud SQL instances.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases",
                    "response": {
                        "$ref": "DatabasesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "patch": {
                    "description": "Updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "sql.databases.patch",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "description": "Name of the database to be updated in the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
                    "httpMethod": "PUT",
                    "id": "sql.databases.update",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "database"
                    ],
                    "parameters": {
                        "database": {
                            "description": "Name of the database to be updated in the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/databases/{database}",
                    "request": {
                        "$ref": "Database"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "flags": {
            "methods": {
                "list": {
                    "description": "List all available database flags for Google Cloud SQL instances.",
                    "httpMethod": "GET",
                    "id": "sql.flags.list",
                    "path": "flags",
                    "response": {
                        "$ref": "FlagsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "instances": {
            "methods": {
                "clone": {
                    "description": "Creates a Cloud SQL instance as a clone of the source instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.clone",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the source as well as the clone Cloud SQL instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/clone",
                    "request": {
                        "$ref": "InstancesCloneRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "delete": {
                    "description": "Deletes a Cloud SQL instance.",
                    "httpMethod": "DELETE",
                    "id": "sql.instances.delete",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "export": {
                    "description": "Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.",
                    "httpMethod": "POST",
                    "id": "sql.instances.export",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance to be exported.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/export",
                    "request": {
                        "$ref": "InstancesExportRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Retrieves a resource containing information about a Cloud SQL instance.",
                    "httpMethod": "GET",
                    "id": "sql.instances.get",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}",
                    "response": {
                        "$ref": "DatabaseInstance"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "import": {
                    "description": "Imports data into a Cloud SQL instance from a MySQL dump file in Google Cloud Storage.",
                    "httpMethod": "POST",
                    "id": "sql.instances.import",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/import",
                    "request": {
                        "$ref": "InstancesImportRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "insert": {
                    "description": "Creates a new Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists instances under a given project in the alphabetical order of the instance name.",
                    "httpMethod": "GET",
                    "id": "sql.instances.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of results to return per response.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "A previously-returned page token representing part of the larger set of results to view.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project for which to list Cloud SQL instances.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances",
                    "response": {
                        "$ref": "InstancesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "patch": {
                    "description": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "sql.instances.patch",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "promoteReplica": {
                    "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.promoteReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL read replica instance name.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "ID of the project that contains the read replica.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/promoteReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "resetSslConfig": {
                    "description": "Deletes all client certificates and generates a new server SSL certificate for the instance. The changes will not take effect until the instance is restarted. Existing instances without a server certificate will need to call this once to set a server certificate.",
                    "httpMethod": "POST",
                    "id": "sql.instances.resetSslConfig",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/resetSslConfig",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "restart": {
                    "description": "Restarts a Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.restart",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance to be restarted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/restart",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "restoreBackup": {
                    "description": "Restores a backup of a Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.restoreBackup",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/restoreBackup",
                    "request": {
                        "$ref": "InstancesRestoreBackupRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "startReplica": {
                    "description": "Starts the replication in the read replica instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.startReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL read replica instance name.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "ID of the project that contains the read replica.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/startReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "stopReplica": {
                    "description": "Stops the replication in the read replica instance.",
                    "httpMethod": "POST",
                    "id": "sql.instances.stopReplica",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL read replica instance name.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "ID of the project that contains the read replica.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/stopReplica",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "description": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.",
                    "etagRequired": true,
                    "httpMethod": "PUT",
                    "id": "sql.instances.update",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}",
                    "request": {
                        "$ref": "DatabaseInstance"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "description": "Retrieves an instance operation that has been performed on an instance.",
                    "httpMethod": "GET",
                    "id": "sql.operations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "description": "Instance operation ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
                    "httpMethod": "GET",
                    "id": "sql.operations.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of operations per response.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "A previously-returned page token representing part of the larger set of results to view.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/operations",
                    "response": {
                        "$ref": "OperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "sslCerts": {
            "methods": {
                "createEphemeral": {
                    "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
                    "httpMethod": "POST",
                    "id": "sql.sslCerts.createEphemeral",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the Cloud SQL project.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/createEphemeral",
                    "request": {
                        "$ref": "SslCertsCreateEphemeralRequest"
                    },
                    "response": {
                        "$ref": "SslCert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "delete": {
                    "description": "Deletes the SSL certificate. The change will not take effect until the instance is restarted.",
                    "httpMethod": "DELETE",
                    "id": "sql.sslCerts.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "sha1Fingerprint"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance to be deleted.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sha1Fingerprint": {
                            "description": "Sha1 FingerPrint.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "get": {
                    "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
                    "httpMethod": "GET",
                    "id": "sql.sslCerts.get",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "sha1Fingerprint"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sha1Fingerprint": {
                            "description": "Sha1 FingerPrint.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
                    "response": {
                        "$ref": "SslCert"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
                    "httpMethod": "POST",
                    "id": "sql.sslCerts.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/sslCerts",
                    "request": {
                        "$ref": "SslCertsInsertRequest"
                    },
                    "response": {
                        "$ref": "SslCertsInsertResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists all of the current SSL certificates for the instance.",
                    "httpMethod": "GET",
                    "id": "sql.sslCerts.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Cloud SQL instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project for which to list Cloud SQL instances.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/sslCerts",
                    "response": {
                        "$ref": "SslCertsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "tiers": {
            "methods": {
                "list": {
                    "description": "Lists all available service tiers for Google Cloud SQL, for example D1, D2. For related information, see Pricing.",
                    "httpMethod": "GET",
                    "id": "sql.tiers.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID of the project for which to list tiers.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/tiers",
                    "response": {
                        "$ref": "TiersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "delete": {
                    "description": "Deletes a user from a Cloud SQL instance.",
                    "httpMethod": "DELETE",
                    "id": "sql.users.delete",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "host",
                        "name"
                    ],
                    "parameters": {
                        "host": {
                            "description": "Host of the user in the instance.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "name": {
                            "description": "Name of the user in the instance.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/users",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "insert": {
                    "description": "Creates a new user in a Cloud SQL instance.",
                    "httpMethod": "POST",
                    "id": "sql.users.insert",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "list": {
                    "description": "Lists users in the specified Cloud SQL instance.",
                    "httpMethod": "GET",
                    "id": "sql.users.list",
                    "parameterOrder": [
                        "project",
                        "instance"
                    ],
                    "parameters": {
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/users",
                    "response": {
                        "$ref": "UsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                },
                "update": {
                    "description": "Updates an existing user in a Cloud SQL instance.",
                    "httpMethod": "PUT",
                    "id": "sql.users.update",
                    "parameterOrder": [
                        "project",
                        "instance",
                        "host",
                        "name"
                    ],
                    "parameters": {
                        "host": {
                            "description": "Host of the user in the instance.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "instance": {
                            "description": "Database instance ID. This does not include the project ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "name": {
                            "description": "Name of the user in the instance.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID of the project that contains the instance.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{project}/instances/{instance}/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/sqlservice.admin"
                    ]
                }
            }
        }
    },
    "revision": "20150825",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AclEntry": {
            "description": "An entry for an Access Control list.",
            "id": "AclEntry",
            "properties": {
                "expirationTime": {
                    "description": "The time when this access control entry expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#aclEntry",
                    "description": "This is always sql#aclEntry.",
                    "type": "string"
                },
                "name": {
                    "description": "An optional label to identify this entry.",
                    "type": "string"
                },
                "value": {
                    "description": "The whitelisted value for the access control list.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupConfiguration": {
            "description": "Database instance backup configuration.",
            "id": "BackupConfiguration",
            "properties": {
                "binaryLogEnabled": {
                    "description": "Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.",
                    "type": "boolean"
                },
                "enabled": {
                    "description": "Whether this configuration is enabled.",
                    "type": "boolean"
                },
                "kind": {
                    "default": "sql#backupConfiguration",
                    "description": "This is always sql#backupConfiguration.",
                    "type": "string"
                },
                "startTime": {
                    "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupRun": {
            "description": "A database instance backup run resource.",
            "id": "BackupRun",
            "properties": {
                "endTime": {
                    "description": "The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "enqueuedTime": {
                    "description": "The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "error": {
                    "$ref": "OperationError",
                    "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
                },
                "id": {
                    "description": "A unique identifier for this backup run. Note that this is unique only within the scope of a particular Cloud SQL instance.",
                    "format": "int64",
                    "type": "string"
                },
                "instance": {
                    "description": "Name of the database instance.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#backupRun",
                    "description": "This is always sql#backupRun.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "The URI of this resource.",
                    "type": "string"
                },
                "startTime": {
                    "description": "The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "status": {
                    "description": "The status of this run.",
                    "type": "string"
                },
                "windowStartTime": {
                    "description": "The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BackupRunsListResponse": {
            "description": "Backup run list results.",
            "id": "BackupRunsListResponse",
            "properties": {
                "items": {
                    "description": "A list of backup runs in reverse chronological order of the enqueued time.",
                    "items": {
                        "$ref": "BackupRun"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "sql#backupRunsList",
                    "description": "This is always sql#backupRunsList.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BinLogCoordinates": {
            "description": "Binary log coordinates.",
            "id": "BinLogCoordinates",
            "properties": {
                "binLogFileName": {
                    "description": "Name of the binary log file for a Cloud SQL instance.",
                    "type": "string"
                },
                "binLogPosition": {
                    "description": "Position (offset) within the binary log file.",
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#binLogCoordinates",
                    "description": "This is always sql#binLogCoordinates.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloneContext": {
            "description": "Database instance clone context.",
            "id": "CloneContext",
            "properties": {
                "binLogCoordinates": {
                    "$ref": "BinLogCoordinates",
                    "description": "Binary log coordinates, if specified, indentify the the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordintes."
                },
                "destinationInstanceName": {
                    "description": "Name of the Cloud SQL instance to be created as a clone.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#cloneContext",
                    "description": "This is always sql#cloneContext.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Database": {
            "description": "A database resource inside a Cloud SQL instance.",
            "id": "Database",
            "properties": {
                "charset": {
                    "description": "The MySQL charset value.",
                    "type": "string"
                },
                "collation": {
                    "description": "The MySQL collation value.",
                    "type": "string"
                },
                "etag": {
                    "description": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                "instance": {
                    "annotations": {
                        "required": [
                            "sql.databases.insert"
                        ]
                    },
                    "description": "The name of the Cloud SQL instance. This does not include the project ID.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#database",
                    "description": "This is always sql#database.",
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "sql.databases.insert"
                        ]
                    },
                    "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
                    "type": "string"
                },
                "project": {
                    "annotations": {
                        "required": [
                            "sql.databases.insert"
                        ]
                    },
                    "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "The URI of this resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatabaseFlags": {
            "description": "MySQL flags for Cloud SQL instances.",
            "id": "DatabaseFlags",
            "properties": {
                "name": {
                    "description": "The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.",
                    "type": "string"
                },
                "value": {
                    "description": "The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatabaseInstance": {
            "description": "A Cloud SQL instance resource.",
            "id": "DatabaseInstance",
            "properties": {
                "currentDiskSize": {
                    "description": "The current disk usage of the instance in bytes.",
                    "format": "int64",
                    "type": "string"
                },
                "databaseVersion": {
                    "description": "The database engine type and version. Can be MYSQL_5_5 or MYSQL_5_6. Defaults to MYSQL_5_5. The databaseVersion can not be changed after instance creation.",
                    "type": "string"
                },
                "etag": {
                    "description": "HTTP 1.1 Entity tag for the resource.",
                    "type": "string"
                },
                "instanceType": {
                    "description": "The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: A Cloud SQL instance that is not replicating from a master.\nON_PREMISES_INSTANCE: An instance running on the customer's premises.\nREAD_REPLICA_INSTANCE: A Cloud SQL instance configured as a read-replica.",
                    "type": "string"
                },
                "ipAddresses": {
                    "description": "The assigned IP addresses for the instance.",
                    "items": {
                        "$ref": "IpMapping"
                    },
                    "type": "array"
                },
                "ipv6Address": {
                    "description": "The IPv6 address assigned to the instance.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#instance",
                    "description": "This is always sql#instance.",
                    "type": "string"
                },
                "masterInstanceName": {
                    "description": "The name of the instance which will act as master in the replication setup.",
                    "type": "string"
                },
                "maxDiskSize": {
                    "description": "The maximum disk size of the instance in bytes.",
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "sql.instances.insert"
                        ]
                    },
                    "description": "Name of the Cloud SQL instance. This does not include the project ID.",
                    "type": "string"
                },
                "onPremisesConfiguration": {
                    "$ref": "OnPremisesConfiguration",
                    "description": "Configuration specific to on-premises instances."
                },
                "project": {
                    "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
                    "type": "string"
                },
                "region": {
                    "description": "The geographical region. Can be us-central, asia-east1 or europe-west1. Defaults to us-central. The region can not be changed after instance creation.",
                    "type": "string"
                },
                "replicaConfiguration": {
                    "$ref": "ReplicaConfiguration",
                    "description": "Configuration specific to read-replicas replicating from on-premises masters."
                },
                "replicaNames": {
                    "description": "The replicas of the instance.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "selfLink": {
                    "description": "The URI of this resource.",
                    "type": "string"
                },
                "serverCaCert": {
                    "$ref": "SslCert",
                    "description": "SSL configuration."
                },
                "serviceAccountEmailAddress": {
                    "description": "The service account email address assigned to the instance.",
                    "type": "string"
                },
                "settings": {
                    "$ref": "Settings",
                    "annotations": {
                        "required": [
                            "sql.instances.insert",
                            "sql.instances.update"
                        ]
                    },
                    "description": "The user settings."
                },
                "state": {
                    "description": "The current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE: The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance is not available, for example due to problems with billing.\nPENDING_CREATE: The instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nFAILED: The instance creation failed.\nUNKNOWN_STATE: The state of the instance is unknown.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DatabasesListResponse": {
            "description": "Database list response.",
            "id": "DatabasesListResponse",
            "properties": {
                "items": {
                    "description": "List of database resources in the instance.",
                    "items": {
                        "$ref": "Database"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "sql#databasesList",
                    "description": "This is always sql#databasesList.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExportContext": {
            "description": "Database instance export context.",
            "id": "ExportContext",
            "properties": {
                "csvExportOptions": {
                    "description": "Options for exporting data as CSV.",
                    "properties": {
                        "selectQuery": {
                            "description": "The select query used to extract the data.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "databases": {
                    "description": "Databases (for example, guestbook) from which the export is made. If fileType is SQL and no database is specified, all databases are exported. If fileType is CSV, you can optionally specify at most one database to export. If csvExportOptions.selectQuery also specifies the database, this field will be ignored.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "fileType": {
                    "description": "The file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The file contains CSV data.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#exportContext",
                    "description": "This is always sql#exportContext.",
                    "type": "string"
                },
                "sqlExportOptions": {
                    "description": "Options for exporting data as SQL statements.",
                    "properties": {
                        "schemaOnly": {
                            "description": "Export only schema.",
                            "type": "boolean"
                        },
                        "tables": {
                            "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.",
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "uri": {
                    "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If fileType is SQL and the filename ends with .gz, the contents are compressed.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Flag": {
            "description": "A Google Cloud SQL service flag resource.",
            "id": "Flag",
            "properties": {
                "allowedStringValues": {
                    "description": "For STRING flags, a list of strings that the value can be set to.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "appliesTo": {
                    "description": "The database version this flag applies to. Currently this can only be [MYSQL_5_5].",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "sql#flag",
                    "description": "This is always sql#flag.",
                    "type": "string"
                },
                "maxValue": {
                    "description": "For INTEGER flags, the maximum allowed value.",
                    "format": "int64",
                    "type": "string"
                },
                "minValue": {
                    "description": "For INTEGER flags, the minimum allowed value.",
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "description": "This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FlagsListResponse": {
            "description": "Flags list response.",
            "id": "FlagsListResponse",
            "properties": {
                "items": {
                    "description": "List of flags.",
                    "items": {
                        "$ref": "Flag"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "sql#flagsList",
                    "description": "This is always sql#flagsList.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportContext": {
            "description": "Database instance import context.",
            "id": "ImportContext",
            "properties": {
                "csvImportOptions": {
                    "description": "Options for importing data as CSV.",
                    "properties": {
                        "columns": {
                            "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "table": {
                            "description": "The table to which CSV data is imported.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "database": {
                    "description": "The database (for example, guestbook) to which the import is made. If fileType is SQL and no database is specified, it is assumed that the database is specified in the file to be imported. If fileType is CSV, it must be specified.",
                    "type": "string"
                },
                "fileType": {
                    "description": "The file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The file contains CSV data.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#importContext",
                    "description": "This is always sql#importContext.",
                    "type": "string"
                },
                "uri": {
                    "description": "A path to the file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are supported when fileType is SQL.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstancesCloneRequest": {
            "description": "Database instance clone request.",
            "id": "InstancesCloneRequest",
            "properties": {
                "cloneContext": {
                    "$ref": "CloneContext",
                    "description": "Contains details about the clone operation."
                }
            },
            "type": "object"
        },
        "InstancesExportRequest": {
            "description": "Database instance export request.",
            "id": "InstancesExportRequest",
            "properties": {
                "exportContext": {
                    "$ref": "ExportContext",
                    "description": "Contains details about the export operation."
                }
            },
            "type": "object"
        },
        "InstancesImportRequest": {
            "description": "Database instance import request.",
            "id": "InstancesImportRequest",
            "properties": {
                "importContext": {
                    "$ref": "ImportContext",
                    "description": "Contains details about the import operation."
                }
            },
            "type": "object"
        },
        "InstancesListResponse": {
            "description": "Database instances list response.",
            "id": "InstancesListResponse",
            "properties": {
                "items": {
                    "description": "List of database instance resources.",
                    "items": {
                        "$ref": "DatabaseInstance"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "sql#instancesList",
                    "description": "This is always sql#instancesList.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InstancesRestoreBackupRequest": {
            "description": "Database instance restore backup request.",
            "id": "InstancesRestoreBackupRequest",
            "properties": {
                "restoreBackupContext": {
                    "$ref": "RestoreBackupContext",
                    "description": "Parameters required to perform the restore backup operation."
                }
            },
            "type": "object"
        },
        "IpConfiguration": {
            "description": "IP Management configuration.",
            "id": "IpConfiguration",
            "properties": {
                "authorizedNetworks": {
                    "description": "The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as 'slash' notation (e.g. 192.168.100.0/24).",
                    "items": {
                        "$ref": "AclEntry"
                    },
                    "type": "array"
                },
                "ipv4Enabled": {
                    "description": "Whether the instance should be assigned an IP address or not.",
                    "type": "boolean"
                },
                "requireSsl": {
                    "description": "Whether the mysqld should default to 'REQUIRE X509' for users connecting over IP.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "IpMapping": {
            "description": "Database instance IP Mapping.",
            "id": "IpMapping",
            "properties": {
                "ipAddress": {
                    "description": "The IP address assigned.",
                    "type": "string"
                },
                "timeToRetire": {
                    "description": "The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.",
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationPreference": {
            "description": "Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
            "id": "LocationPreference",
            "properties": {
                "followGaeApplication": {
                    "description": "The AppEngine application to follow, it must be in the same region as the Cloud SQL instance.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#locationPreference",
                    "description": "This is always sql#locationPreference.",
                    "type": "string"
                },
                "zone": {
                    "description": "The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MySqlReplicaConfiguration": {
            "description": "Read-replica configuration specific to MySQL databases.",
            "id": "MySqlReplicaConfiguration",
            "properties": {
                "caCertificate": {
                    "description": "PEM representation of the trusted CA's x509 certificate.",
                    "type": "string"
                },
                "clientCertificate": {
                    "description": "PEM representation of the slave's x509 certificate.",
                    "type": "string"
                },
                "clientKey": {
                    "description": "PEM representation of the slave's private key. The corresponsing public key is encoded in the client's certificate.",
                    "type": "string"
                },
                "connectRetryInterval": {
                    "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
                    "format": "int32",
                    "type": "integer"
                },
                "dumpFilePath": {
                    "description": "Path to a SQL dump file in Google Cloud Storage from which the slave instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps should have the binlog co-ordinates from which replication should begin. This can be accomplished by setting --master-data to 1 when using mysqldump.",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#mysqlReplicaConfiguration",
                    "description": "This is always sql#mysqlReplicaConfiguration.",
                    "type": "string"
                },
                "masterHeartbeatPeriod": {
                    "description": "Interval in milliseconds between replication heartbeats.",
                    "format": "int64",
                    "type": "string"
                },
                "password": {
                    "description": "The password for the replication connection.",
                    "type": "string"
                },
                "sslCipher": {
                    "description": "A list of permissible ciphers to use for SSL encryption.",
                    "type": "string"
                },
                "username": {
                    "description": "The username for the replication connection.",
                    "type": "string"
                },
                "verifyServerCertificate": {
                    "description": "Whether or not to check the master's Common Name value in the certificate that it sends during the SSL handshake.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "OnPremisesConfiguration": {
            "description": "On-premises instance configuration.",
            "id": "OnPremisesConfiguration",
            "properties": {
                "hostPort": {
                    "description": "The host and port of the on-premises instance in host:port format",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#onPremisesConfiguration",
                    "description": "This is always sql#onPremisesConfiguration.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.",
            "id": "Operation",
            "properties": {
                "endTime": {
                    "description": "The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "error": {
                    "$ref": "OperationErrors",
                    "description": "If errors occurred during processing of this operation, this field will be populated."
                },
                "exportContext": {
                    "$ref": "ExportContext",
                    "description": "The context for export operation, if applicable."
                },
                "importContext": {
                    "$ref": "ImportContext",
                    "description": "The context for import operation, if applicable."
                },
                "insertTime": {
                    "description": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "kind": {
                    "default": "sql#operation",
                    "description": "This is always sql#operation.",
                    "type": "string"
                },
                "name": {
                    "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
                    "type": "string"
                },
                "operationType": {
                    "description": "The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME, CREATE_USER, DELETE_USER, CREATE_DATABASE, DELETE_DATABASE .",
                    "type": "string"
                },
                "selfLink": {
                    "description": "The URI of this resource.",
                    "type": "string"
                },
                "startTime": {
                    "description": "The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
                    "format": "date-time",
                    "type": "string"
                },
                "status": {
                    "description": "The status of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.",
                    "type": "string"
                },
                "targetId": {
                    "description": "Name of the database instance related to this operation.",
                    "type": "string"
                },
                "targetLink": {
                    "description": "The URI of the instance related to the operation.",
                    "type": "string"
                },
                "targetProject": {
                    "description": "The project ID of the target instance related to this operation.",
                    "type": "string"
                },
                "user": {
                    "description": "The email address of the user who initiated this operation.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationError": {
            "description": "Database instance operation error.",
            "id": "OperationError",
            "properties": {
                "code": {
                    "description": "Identifies the specific error that occurred.",
                    "type": "string"
                },
                "kind": {
[...]
