{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
                    "description": "View and manage your Chrome OS devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
                    "description": "View your Chrome OS devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile": {
                    "description": "View and manage your mobile devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
                    "description": "Manage your mobile devices by performing administrative tasks"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
                    "description": "View your mobile devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.group": {
                    "description": "View and manage the provisioning of groups on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.group.member": {
                    "description": "View and manage group subscriptions on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
                    "description": "View group subscriptions on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.group.readonly": {
                    "description": "View groups on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.notifications": {
                    "description": "View and manage notifications received on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.orgunit": {
                    "description": "View and manage organization units on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
                    "description": "View organization units on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user": {
                    "description": "View and manage the provisioning of users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.alias": {
                    "description": "View and manage user aliases on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
                    "description": "View user aliases on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.readonly": {
                    "description": "View users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.security": {
                    "description": "Manage data access permissions for users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.userschema": {
                    "description": "View and manage the provisioning of user schemas on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
                    "description": "View user schemas on your domain"
                }
            }
        }
    },
    "basePath": "/admin/directory/v1/",
    "baseUrl": "https://www.googleapis.com/admin/directory/v1/",
    "batchPath": "batch",
    "canonicalName": "directory",
    "description": "The Admin SDK Directory API lets you view and manage enterprise resources such as users and groups, administrative notifications, security features, and more.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/admin-sdk/directory/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/FINMPppbAsSW7hhRV2k9bEsVkrk\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "admin:directory_v1",
    "kind": "discovery#restDescription",
    "name": "admin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "packagePath": "admin",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "asps": {
            "methods": {
                "delete": {
                    "description": "Delete an ASP issued by a user.",
                    "httpMethod": "DELETE",
                    "id": "directory.asps.delete",
                    "parameterOrder": [
                        "userKey",
                        "codeId"
                    ],
                    "parameters": {
                        "codeId": {
                            "description": "The unique ID of the ASP to be deleted.",
                            "format": "int32",
                            "location": "path",
                            "required": true,
                            "type": "integer"
                        },
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/asps/{codeId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                },
                "get": {
                    "description": "Get information about an ASP issued by a user.",
                    "httpMethod": "GET",
                    "id": "directory.asps.get",
                    "parameterOrder": [
                        "userKey",
                        "codeId"
                    ],
                    "parameters": {
                        "codeId": {
                            "description": "The unique ID of the ASP.",
                            "format": "int32",
                            "location": "path",
                            "required": true,
                            "type": "integer"
                        },
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/asps/{codeId}",
                    "response": {
                        "$ref": "Asp"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                },
                "list": {
                    "description": "List the ASPs issued by a user.",
                    "httpMethod": "GET",
                    "id": "directory.asps.list",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/asps",
                    "response": {
                        "$ref": "Asps"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "description": "Stop watching resources through this channel",
                    "httpMethod": "POST",
                    "id": "admin.channels.stop",
                    "path": "/admin/directory_v1/channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.alias",
                        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly"
                    ]
                }
            }
        },
        "chromeosdevices": {
            "methods": {
                "get": {
                    "description": "Retrieve Chrome OS Device",
                    "httpMethod": "GET",
                    "id": "directory.chromeosdevices.get",
                    "parameterOrder": [
                        "customerId",
                        "deviceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deviceId": {
                            "description": "Immutable id of Chrome OS Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/chromeos/{deviceId}",
                    "response": {
                        "$ref": "ChromeOsDevice"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                    ]
                },
                "list": {
                    "description": "Retrieve all Chrome OS Devices of a customer (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.chromeosdevices.list",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 100",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "annotatedLocation",
                                "annotatedUser",
                                "lastSync",
                                "notes",
                                "serialNumber",
                                "status",
                                "supportEndDate"
                            ],
                            "enumDescriptions": [
                                "Chromebook location as annotated by the administrator.",
                                "Chromebook user as annotated by administrator.",
                                "Chromebook last sync.",
                                "Chromebook notes as annotated by the administrator.",
                                "Chromebook Serial Number.",
                                "Chromebook status.",
                                "Chromebook support end date."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?hl=en&answer=1698333",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/chromeos",
                    "response": {
                        "$ref": "ChromeOsDevices"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos",
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
                    ]
                },
                "patch": {
                    "description": "Update Chrome OS Device. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.chromeosdevices.patch",
                    "parameterOrder": [
                        "customerId",
                        "deviceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deviceId": {
                            "description": "Immutable id of Chrome OS Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/chromeos/{deviceId}",
                    "request": {
                        "$ref": "ChromeOsDevice"
                    },
                    "response": {
                        "$ref": "ChromeOsDevice"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                    ]
                },
                "update": {
                    "description": "Update Chrome OS Device",
                    "httpMethod": "PUT",
                    "id": "directory.chromeosdevices.update",
                    "parameterOrder": [
                        "customerId",
                        "deviceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deviceId": {
                            "description": "Immutable id of Chrome OS Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/chromeos/{deviceId}",
                    "request": {
                        "$ref": "ChromeOsDevice"
                    },
                    "response": {
                        "$ref": "ChromeOsDevice"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.chromeos"
                    ]
                }
            }
        },
        "groups": {
            "methods": {
                "delete": {
                    "description": "Delete Group",
                    "httpMethod": "DELETE",
                    "id": "directory.groups.delete",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group"
                    ]
                },
                "get": {
                    "description": "Retrieve Group",
                    "httpMethod": "GET",
                    "id": "directory.groups.get",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}",
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.readonly"
                    ]
                },
                "insert": {
                    "description": "Create Group",
                    "httpMethod": "POST",
                    "id": "directory.groups.insert",
                    "path": "groups",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group"
                    ]
                },
                "list": {
                    "description": "Retrieve all groups in a domain (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.groups.list",
                    "parameters": {
                        "customer": {
                            "description": "Immutable id of the Google Apps account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.",
                            "location": "query",
                            "type": "string"
                        },
                        "domain": {
                            "description": "Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 200",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Email or immutable Id of the user if only those groups are to be listed, the given user is a member of. If Id, it should match with id of user object",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "groups",
                    "response": {
                        "$ref": "Groups"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.readonly"
                    ]
                },
                "patch": {
                    "description": "Update Group. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.groups.patch",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group. If Id, it should match with id of group object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group"
                    ]
                },
                "update": {
                    "description": "Update Group",
                    "httpMethod": "PUT",
                    "id": "directory.groups.update",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group. If Id, it should match with id of group object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}",
                    "request": {
                        "$ref": "Group"
                    },
                    "response": {
                        "$ref": "Group"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group"
                    ]
                }
            },
            "resources": {
                "aliases": {
                    "methods": {
                        "delete": {
                            "description": "Remove a alias for the group",
                            "httpMethod": "DELETE",
                            "id": "directory.groups.aliases.delete",
                            "parameterOrder": [
                                "groupKey",
                                "alias"
                            ],
                            "parameters": {
                                "alias": {
                                    "description": "The alias to be removed",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "groupKey": {
                                    "description": "Email or immutable Id of the group",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "groups/{groupKey}/aliases/{alias}",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.group"
                            ]
                        },
                        "insert": {
                            "description": "Add a alias for the group",
                            "httpMethod": "POST",
                            "id": "directory.groups.aliases.insert",
                            "parameterOrder": [
                                "groupKey"
                            ],
                            "parameters": {
                                "groupKey": {
                                    "description": "Email or immutable Id of the group",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "groups/{groupKey}/aliases",
                            "request": {
                                "$ref": "Alias"
                            },
                            "response": {
                                "$ref": "Alias"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.group"
                            ]
                        },
                        "list": {
                            "description": "List all aliases for a group",
                            "httpMethod": "GET",
                            "id": "directory.groups.aliases.list",
                            "parameterOrder": [
                                "groupKey"
                            ],
                            "parameters": {
                                "groupKey": {
                                    "description": "Email or immutable Id of the group",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "groups/{groupKey}/aliases",
                            "response": {
                                "$ref": "Aliases"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.group",
                                "https://www.googleapis.com/auth/admin.directory.group.readonly"
                            ],
                            "supportsSubscription": true
                        }
                    }
                }
            }
        },
        "members": {
            "methods": {
                "delete": {
                    "description": "Remove membership.",
                    "httpMethod": "DELETE",
                    "id": "directory.members.delete",
                    "parameterOrder": [
                        "groupKey",
                        "memberKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "memberKey": {
                            "description": "Email or immutable Id of the member",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members/{memberKey}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member"
                    ]
                },
                "get": {
                    "description": "Retrieve Group Member",
                    "httpMethod": "GET",
                    "id": "directory.members.get",
                    "parameterOrder": [
                        "groupKey",
                        "memberKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "memberKey": {
                            "description": "Email or immutable Id of the member",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members/{memberKey}",
                    "response": {
                        "$ref": "Member"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member",
                        "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
                        "https://www.googleapis.com/auth/admin.directory.group.readonly"
                    ]
                },
                "insert": {
                    "description": "Add user to the specified group.",
                    "httpMethod": "POST",
                    "id": "directory.members.insert",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members",
                    "request": {
                        "$ref": "Member"
                    },
                    "response": {
                        "$ref": "Member"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member"
                    ]
                },
                "list": {
                    "description": "Retrieve all members in a group (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.members.list",
                    "parameterOrder": [
                        "groupKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 200",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "roles": {
                            "description": "Comma separated role values to filter list results on.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members",
                    "response": {
                        "$ref": "Members"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member",
                        "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
                        "https://www.googleapis.com/auth/admin.directory.group.readonly"
                    ]
                },
                "patch": {
                    "description": "Update membership of a user in the specified group. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.members.patch",
                    "parameterOrder": [
                        "groupKey",
                        "memberKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group. If Id, it should match with id of group object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "memberKey": {
                            "description": "Email or immutable Id of the user. If Id, it should match with id of member object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members/{memberKey}",
                    "request": {
                        "$ref": "Member"
                    },
                    "response": {
                        "$ref": "Member"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member"
                    ]
                },
                "update": {
                    "description": "Update membership of a user in the specified group.",
                    "httpMethod": "PUT",
                    "id": "directory.members.update",
                    "parameterOrder": [
                        "groupKey",
                        "memberKey"
                    ],
                    "parameters": {
                        "groupKey": {
                            "description": "Email or immutable Id of the group. If Id, it should match with id of group object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "memberKey": {
                            "description": "Email or immutable Id of the user. If Id, it should match with id of member object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "groups/{groupKey}/members/{memberKey}",
                    "request": {
                        "$ref": "Member"
                    },
                    "response": {
                        "$ref": "Member"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.group",
                        "https://www.googleapis.com/auth/admin.directory.group.member"
                    ]
                }
            }
        },
        "mobiledevices": {
            "methods": {
                "action": {
                    "description": "Take action on Mobile Device",
                    "httpMethod": "POST",
                    "id": "directory.mobiledevices.action",
                    "parameterOrder": [
                        "customerId",
                        "resourceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "resourceId": {
                            "description": "Immutable id of Mobile Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/mobile/{resourceId}/action",
                    "request": {
                        "$ref": "MobileDeviceAction"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.mobile",
                        "https://www.googleapis.com/auth/admin.directory.device.mobile.action"
                    ]
                },
                "delete": {
                    "description": "Delete Mobile Device",
                    "httpMethod": "DELETE",
                    "id": "directory.mobiledevices.delete",
                    "parameterOrder": [
                        "customerId",
                        "resourceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "resourceId": {
                            "description": "Immutable id of Mobile Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/mobile/{resourceId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.mobile"
                    ]
                },
                "get": {
                    "description": "Retrieve Mobile Device",
                    "httpMethod": "GET",
                    "id": "directory.mobiledevices.get",
                    "parameterOrder": [
                        "customerId",
                        "resourceId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "resourceId": {
                            "description": "Immutable id of Mobile Device",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/mobile/{resourceId}",
                    "response": {
                        "$ref": "MobileDevice"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.mobile",
                        "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
                        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
                    ]
                },
                "list": {
                    "description": "Retrieve all Mobile Devices of a customer (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.mobiledevices.list",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 100",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "deviceId",
                                "email",
                                "lastSync",
                                "model",
                                "name",
                                "os",
                                "status",
                                "type"
                            ],
                            "enumDescriptions": [
                                "Mobile Device serial number.",
                                "Owner user email.",
                                "Last policy settings sync date time of the device.",
                                "Mobile Device model.",
                                "Owner user name.",
                                "Mobile operating system.",
                                "Status of the device.",
                                "Type of the device."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "BASIC",
                                "FULL"
                            ],
                            "enumDescriptions": [
                                "Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)",
                                "Includes all metadata fields"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Search string in the format given at http://support.google.com/a/bin/answer.py?hl=en&answer=1408863#search",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/devices/mobile",
                    "response": {
                        "$ref": "MobileDevices"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.device.mobile",
                        "https://www.googleapis.com/auth/admin.directory.device.mobile.action",
                        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"
                    ]
                }
            }
        },
        "notifications": {
            "methods": {
                "delete": {
                    "description": "Deletes a notification",
                    "httpMethod": "DELETE",
                    "id": "directory.notifications.delete",
                    "parameterOrder": [
                        "customer",
                        "notificationId"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "The unique ID for the customer's Google account. The customerId is also returned as part of the Users resource.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notificationId": {
                            "description": "The unique ID of the notification.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customer}/notifications/{notificationId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.notifications"
                    ]
                },
                "get": {
                    "description": "Retrieves a notification.",
                    "httpMethod": "GET",
                    "id": "directory.notifications.get",
                    "parameterOrder": [
                        "customer",
                        "notificationId"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "The unique ID for the customer's Google account. The customerId is also returned as part of the Users resource.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notificationId": {
                            "description": "The unique ID of the notification.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customer}/notifications/{notificationId}",
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.notifications"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of notifications.",
                    "httpMethod": "GET",
                    "id": "directory.notifications.list",
                    "parameterOrder": [
                        "customer"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "The unique ID for the customer's Google account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The ISO 639-1 code of the language notifications are returned in. The default is English (en).",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of notifications to return per page. The default is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "The token to specify the page of results to retrieve.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customer}/notifications",
                    "response": {
                        "$ref": "Notifications"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.notifications"
                    ]
                },
                "patch": {
                    "description": "Updates a notification. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.notifications.patch",
                    "parameterOrder": [
                        "customer",
                        "notificationId"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "The unique ID for the customer's Google account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notificationId": {
                            "description": "The unique ID of the notification.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customer}/notifications/{notificationId}",
                    "request": {
                        "$ref": "Notification"
                    },
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.notifications"
                    ]
                },
                "update": {
                    "description": "Updates a notification.",
                    "httpMethod": "PUT",
                    "id": "directory.notifications.update",
                    "parameterOrder": [
                        "customer",
                        "notificationId"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "The unique ID for the customer's Google account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "notificationId": {
                            "description": "The unique ID of the notification.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customer}/notifications/{notificationId}",
                    "request": {
                        "$ref": "Notification"
                    },
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.notifications"
                    ]
                }
            }
        },
        "orgunits": {
            "methods": {
                "delete": {
                    "description": "Remove Organization Unit",
                    "httpMethod": "DELETE",
                    "id": "directory.orgunits.delete",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "description": "Full path of the organization unit or its Id",
                            "location": "path",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "get": {
                    "description": "Retrieve Organization Unit",
                    "httpMethod": "GET",
                    "id": "directory.orgunits.get",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "description": "Full path of the organization unit or its Id",
                            "location": "path",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit",
                        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
                    ]
                },
                "insert": {
                    "description": "Add Organization Unit",
                    "httpMethod": "POST",
                    "id": "directory.orgunits.insert",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "list": {
                    "description": "Retrieve all Organization Units",
                    "httpMethod": "GET",
                    "id": "directory.orgunits.list",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "default": "",
                            "description": "the URL-encoded organization unit's path or its Id",
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "description": "Whether to return all sub-organizations or just immediate children",
                            "enum": [
                                "all",
                                "children"
                            ],
                            "enumDescriptions": [
                                "All sub-organization units.",
                                "Immediate children only (default)."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits",
                    "response": {
                        "$ref": "OrgUnits"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit",
                        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
                    ]
                },
                "patch": {
                    "description": "Update Organization Unit. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.orgunits.patch",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "description": "Full path of the organization unit or its Id",
                            "location": "path",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "update": {
                    "description": "Update Organization Unit",
                    "httpMethod": "PUT",
                    "id": "directory.orgunits.update",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "description": "Full path of the organization unit or its Id",
                            "location": "path",
                            "repeated": true,
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/orgunits{/orgUnitPath*}",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                }
            }
        },
        "schemas": {
            "methods": {
                "delete": {
                    "description": "Delete schema",
                    "httpMethod": "DELETE",
                    "id": "directory.schemas.delete",
                    "parameterOrder": [
                        "customerId",
                        "schemaKey"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "schemaKey": {
                            "description": "Name or immutable Id of the schema",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas/{schemaKey}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema"
                    ]
                },
                "get": {
                    "description": "Retrieve schema",
                    "httpMethod": "GET",
                    "id": "directory.schemas.get",
                    "parameterOrder": [
                        "customerId",
                        "schemaKey"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "schemaKey": {
                            "description": "Name or immutable Id of the schema",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas/{schemaKey}",
                    "response": {
                        "$ref": "Schema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema",
                        "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
                    ]
                },
                "insert": {
                    "description": "Create schema.",
                    "httpMethod": "POST",
                    "id": "directory.schemas.insert",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas",
                    "request": {
                        "$ref": "Schema"
                    },
                    "response": {
                        "$ref": "Schema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema"
                    ]
                },
                "list": {
                    "description": "Retrieve all schemas for a customer",
                    "httpMethod": "GET",
                    "id": "directory.schemas.list",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas",
                    "response": {
                        "$ref": "Schemas"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema",
                        "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
                    ]
                },
                "patch": {
                    "description": "Update schema. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.schemas.patch",
                    "parameterOrder": [
                        "customerId",
                        "schemaKey"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "schemaKey": {
                            "description": "Name or immutable Id of the schema.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas/{schemaKey}",
                    "request": {
                        "$ref": "Schema"
                    },
                    "response": {
                        "$ref": "Schema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema"
                    ]
                },
                "update": {
                    "description": "Update schema",
                    "httpMethod": "PUT",
                    "id": "directory.schemas.update",
                    "parameterOrder": [
                        "customerId",
                        "schemaKey"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable id of the Google Apps account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "schemaKey": {
                            "description": "Name or immutable Id of the schema.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "customer/{customerId}/schemas/{schemaKey}",
                    "request": {
                        "$ref": "Schema"
                    },
                    "response": {
                        "$ref": "Schema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.userschema"
                    ]
                }
            }
        },
        "tokens": {
            "methods": {
                "delete": {
                    "description": "Delete all access tokens issued by a user for an application.",
                    "httpMethod": "DELETE",
                    "id": "directory.tokens.delete",
                    "parameterOrder": [
                        "userKey",
                        "clientId"
                    ],
                    "parameters": {
                        "clientId": {
                            "description": "The Client ID of the application the token is issued to.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/tokens/{clientId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                },
                "get": {
                    "description": "Get information about an access token issued by a user.",
                    "httpMethod": "GET",
                    "id": "directory.tokens.get",
                    "parameterOrder": [
                        "userKey",
                        "clientId"
                    ],
                    "parameters": {
                        "clientId": {
                            "description": "The Client ID of the application the token is issued to.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/tokens/{clientId}",
                    "response": {
                        "$ref": "Token"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                },
                "list": {
                    "description": "Returns the set of tokens specified user has issued to 3rd party applications.",
                    "httpMethod": "GET",
                    "id": "directory.tokens.list",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/tokens",
                    "response": {
                        "$ref": "Tokens"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "delete": {
                    "description": "Delete user",
                    "httpMethod": "DELETE",
                    "id": "directory.users.delete",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable Id of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "get": {
                    "description": "retrieve user",
                    "httpMethod": "GET",
                    "id": "directory.users.get",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Email or immutable Id of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "viewType": {
                            "default": "admin_view",
                            "description": "Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.",
                            "enum": [
                                "admin_view",
                                "domain_public"
                            ],
                            "enumDescriptions": [
                                "Fetches the ADMIN_VIEW of the user.",
                                "Fetches the DOMAIN_PUBLIC view of the user."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly"
                    ]
                },
                "insert": {
                    "description": "create user.",
                    "httpMethod": "POST",
                    "id": "directory.users.insert",
                    "path": "users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "list": {
                    "description": "Retrieve either deleted users or all users in a domain (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.users.list",
                    "parameters": {
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
                            "location": "query",
                            "type": "string"
                        },
                        "domain": {
                            "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.",
                            "location": "query",
                            "type": "string"
                        },
                        "event": {
                            "description": "Event on which subscription is intended (if subscribing)",
                            "enum": [
                                "add",
                                "delete",
                                "makeAdmin",
                                "undelete",
                                "update"
                            ],
                            "enumDescriptions": [
                                "User Created Event",
                                "User Deleted Event",
                                "User Admin Status Change Event",
                                "User Undeleted Event",
                                "User Updated Event"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 100. Max allowed is 500",
                            "format": "int32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "email",
                                "familyName",
                                "givenName"
                            ],
                            "enumDescriptions": [
                                "Primary email of the user.",
                                "User's family name.",
                                "User's given name."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Query string search. Should be of the form \"\". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "If set to true retrieves the list of deleted users. Default is false",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order.",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "viewType": {
                            "default": "admin_view",
                            "description": "Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.",
                            "enum": [
                                "admin_view",
                                "domain_public"
                            ],
                            "enumDescriptions": [
                                "Fetches the ADMIN_VIEW of the user.",
                                "Fetches the DOMAIN_PUBLIC view of the user."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users",
                    "response": {
                        "$ref": "Users"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly"
                    ],
                    "supportsSubscription": true
                },
                "makeAdmin": {
                    "description": "change admin status of a user",
                    "httpMethod": "POST",
                    "id": "directory.users.makeAdmin",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable Id of the user as admin",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/makeAdmin",
                    "request": {
                        "$ref": "UserMakeAdmin"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "patch": {
                    "description": "update user. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "directory.users.patch",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable Id of the user. If Id, it should match with id of user object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "undelete": {
                    "description": "Undelete a deleted user",
                    "httpMethod": "POST",
                    "id": "directory.users.undelete",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "The immutable id of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}/undelete",
                    "request": {
                        "$ref": "UserUndelete"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "update": {
                    "description": "update user",
                    "httpMethod": "PUT",
                    "id": "directory.users.update",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable Id of the user. If Id, it should match with id of user object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/{userKey}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "watch": {
                    "description": "Watch for changes in users list",
                    "httpMethod": "POST",
                    "id": "directory.users.watch",
                    "parameters": {
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable id of the Google Apps account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
                            "location": "query",
                            "type": "string"
                        },
                        "domain": {
                            "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.",
                            "location": "query",
                            "type": "string"
                        },
                        "event": {
                            "description": "Event on which subscription is intended (if subscribing)",
                            "enum": [
                                "add",
                                "delete",
                                "makeAdmin",
                                "undelete",
                                "update"
                            ],
                            "enumDescriptions": [
                                "User Created Event",
                                "User Deleted Event",
                                "User Admin Status Change Event",
                                "User Undeleted Event",
                                "User Updated Event"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return. Default is 100. Max allowed is 500",
                            "format": "int32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "email",
                                "familyName",
                                "givenName"
                            ],
                            "enumDescriptions": [
                                "Primary email of the user.",
                                "User's family name.",
                                "User's given name."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Query string search. Should be of the form \"\". Complete documentation is at https://developers.google.com/admin-sdk/directory/v1/guides/search-users",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "If set to true retrieves the list of deleted users. Default is false",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order.",
                            "enum": [
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
[...]
