{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/admin.directory.user.alias": {
                    "description": "View and manage user aliases on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.orgunit": {
                    "description": "View and manage organization units on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile": {
                    "description": "View and manage your mobile devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.user": {
                    "description": "View and manage the provisioning of users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
                    "description": "Manage delegated admin roles for your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
                    "description": "View group subscriptions on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.readonly": {
                    "description": "View users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.userschema": {
                    "description": "View and manage the provisioning of user schemas on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
                    "description": "View domains related to your customers"
                },
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
                    "description": "View customer related information"
                },
                "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
                    "description": "View user schemas on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
                    "description": "View your mobile devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.group.member": {
                    "description": "View and manage group subscriptions on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
                    "description": "View organization units on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
                    "description": "View calendar resources on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
                    "description": "View and manage your Chrome OS devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
                    "description": "View and manage the provisioning of calendar resources on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.group": {
                    "description": "View and manage the provisioning of groups on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.customer": {
                    "description": "View and manage customer related information"
                },
                "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
                    "description": "Manage your mobile devices by performing administrative tasks"
                },
                "https://www.googleapis.com/auth/admin.directory.domain": {
                    "description": "View and manage the provisioning of domains for your customers"
                },
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
                    "description": "View user aliases on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.user.security": {
                    "description": "Manage data access permissions for users on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
                    "description": "View your Chrome OS devices' metadata"
                },
                "https://www.googleapis.com/auth/admin.directory.group.readonly": {
                    "description": "View groups on your domain"
                },
                "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
                    "description": "View delegated admin roles for your domain"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://www.googleapis.com/",
    "batchPath": "batch/admin/directory_v1",
    "canonicalName": "directory",
    "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
    "discoveryVersion": "v1",
    "documentationLink": "http://developers.google.com/admin-sdk/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "admin:directory_v1",
    "kind": "discovery#restDescription",
    "name": "admin",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "packagePath": "admin",
    "parameters": {
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "domainAliases": {
            "methods": {
                "insert": {
                    "description": "Inserts a domain alias of the customer.",
                    "httpMethod": "POST",
                    "id": "directory.domainAliases.insert",
                    "parameterOrder": [
                        "customer"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "Immutable ID of the G Suite account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customer}/domainaliases",
                    "request": {
                        "$ref": "DomainAlias"
                    },
                    "response": {
                        "$ref": "DomainAlias"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.domain"
                    ]
                },
                "get": {
                    "description": "Retrieves a domain alias of the customer.",
                    "httpMethod": "GET",
                    "id": "directory.domainAliases.get",
                    "parameterOrder": [
                        "customer",
                        "domainAliasName"
                    ],
                    "parameters": {
                        "customer": {
                            "description": "Immutable ID of the G Suite account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "domainAliasName": {
                            "description": "Name of domain alias to be retrieved.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
                    "response": {
                        "$ref": "DomainAlias"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.domain",
                        "https://www.googleapis.com/auth/admin.directory.domain.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes a domain Alias of the customer.",
                    "httpMethod": "DELETE",
                    "id": "directory.domainAliases.delete",
                    "parameterOrder": [
                        "customer",
                        "domainAliasName"
                    ],
                    "parameters": {
                        "domainAliasName": {
                            "description": "Name of domain alias to be retrieved.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable ID of the G Suite account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.domain"
                    ]
                },
                "list": {
                    "description": "Lists the domain aliases of the customer.",
                    "httpMethod": "GET",
                    "id": "directory.domainAliases.list",
                    "parameterOrder": [
                        "customer"
                    ],
                    "parameters": {
                        "parentDomainName": {
                            "description": "Name of the parent domain for which domain aliases are to be fetched.",
                            "location": "query",
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable ID of the G Suite account.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customer}/domainaliases",
                    "response": {
                        "$ref": "DomainAliases"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.domain",
                        "https://www.googleapis.com/auth/admin.directory.domain.readonly"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "undelete": {
                    "description": "Undelete a deleted user",
                    "httpMethod": "POST",
                    "id": "directory.users.undelete",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "The immutable id of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}/undelete",
                    "request": {
                        "$ref": "UserUndelete"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "watch": {
                    "description": "Watch for changes in users list",
                    "httpMethod": "POST",
                    "id": "directory.users.watch",
                    "parameterOrder": [],
                    "parameters": {
                        "viewType": {
                            "default": "admin_view",
                            "description": "Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.",
                            "enum": [
                                "admin_view",
                                "domain_public"
                            ],
                            "enumDescriptions": [
                                "Fetches the ADMIN_VIEW of the user.",
                                "Fetches the DOMAIN_PUBLIC view of the user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-users",
                            "location": "query",
                            "type": "string"
                        },
                        "domain": {
                            "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.\"",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order.",
                            "enum": [
                                "sortOrderUnspecified",
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "",
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "event": {
                            "description": "Event on which subscription is intended",
                            "enum": [
                                "eventTypeUnspecified",
                                "add",
                                "delete",
                                "makeAdmin",
                                "undelete",
                                "update"
                            ],
                            "enumDescriptions": [
                                "",
                                "User Created Event",
                                "User Deleted Event",
                                "User Admin Status Change Event",
                                "User Undeleted Event",
                                "User Updated Event"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable ID of the G Suite account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "orderByUnspecified",
                                "email",
                                "familyName",
                                "givenName"
                            ],
                            "enumDescriptions": [
                                "",
                                "Primary email of the user.",
                                "User's family name.",
                                "User's given name."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "100",
                            "description": "Maximum number of results to return.",
                            "format": "int32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "If set to true, retrieves the list of deleted users. (Default: false)",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "projectionUnspecified",
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "",
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/watch",
                    "request": {
                        "$ref": "Channel"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "retrieve user",
                    "httpMethod": "GET",
                    "id": "directory.users.get",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "viewType": {
                            "default": "admin_view",
                            "description": "Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.",
                            "enum": [
                                "view_type_undefined",
                                "admin_view",
                                "domain_public"
                            ],
                            "enumDescriptions": [
                                "",
                                "Fetches the ADMIN_VIEW of the user.",
                                "Fetches the DOMAIN_PUBLIC view of the user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "projectionUndefined",
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "",
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Email or immutable ID of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly"
                    ]
                },
                "insert": {
                    "description": "create user.",
                    "httpMethod": "POST",
                    "id": "directory.users.insert",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "admin/directory/v1/users",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "makeAdmin": {
                    "description": "change admin status of a user",
                    "httpMethod": "POST",
                    "id": "directory.users.makeAdmin",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable ID of the user as admin",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}/makeAdmin",
                    "request": {
                        "$ref": "UserMakeAdmin"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "delete": {
                    "description": "Delete user",
                    "httpMethod": "DELETE",
                    "id": "directory.users.delete",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable ID of the user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "patch": {
                    "description": "Patch Users via Apiary Patch Orchestration",
                    "httpMethod": "PATCH",
                    "id": "directory.users.patch",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable ID of the user. If ID, it should match with id of user object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "update": {
                    "description": "update user",
                    "httpMethod": "PUT",
                    "id": "directory.users.update",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Email or immutable ID of the user. If ID, it should match with id of user object",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user"
                    ]
                },
                "list": {
                    "description": "Retrieve either deleted users or all users in a domain (paginated)",
                    "httpMethod": "GET",
                    "id": "directory.users.list",
                    "parameterOrder": [],
                    "parameters": {
                        "maxResults": {
                            "default": "100",
                            "description": "Maximum number of results to return.",
                            "format": "int32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "domain": {
                            "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token to specify next page in the list",
                            "location": "query",
                            "type": "string"
                        },
                        "sortOrder": {
                            "description": "Whether to return results in ascending or descending order.",
                            "enum": [
                                "SORT_ORDER_UNDEFINED",
                                "ASCENDING",
                                "DESCENDING"
                            ],
                            "enumDescriptions": [
                                "",
                                "Ascending order.",
                                "Descending order."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "viewType": {
                            "default": "admin_view",
                            "description": "Whether to fetch the ADMIN_VIEW or DOMAIN_PUBLIC view of the user.",
                            "enum": [
                                "view_type_undefined",
                                "admin_view",
                                "domain_public"
                            ],
                            "enumDescriptions": [
                                "",
                                "Fetches the ADMIN_VIEW of the user.",
                                "Fetches the DOMAIN_PUBLIC view of the user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "description": "Column to use for sorting results",
                            "enum": [
                                "orderByUndefined",
                                "email",
                                "familyName",
                                "givenName"
                            ],
                            "enumDescriptions": [
                                "",
                                "Primary email of the user.",
                                "User's family name.",
                                "User's given name."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "If set to true, retrieves the list of deleted users. (Default: false)",
                            "location": "query",
                            "type": "string"
                        },
                        "query": {
                            "description": "Query string search. Should be of the form \"\". Complete documentation is at https: //developers.google.com/admin-sdk/directory/v1/guides/search-users",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "default": "basic",
                            "description": "What subset of fields to fetch for this user.",
                            "enum": [
                                "projectionUndefined",
                                "basic",
                                "custom",
                                "full"
                            ],
                            "enumDescriptions": [
                                "",
                                "Do not include any custom fields for the user.",
                                "Include custom fields from schemas mentioned in customFieldMask.",
                                "Include all fields associated with this user."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "customer": {
                            "description": "Immutable ID of the G Suite account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
                            "location": "query",
                            "type": "string"
                        },
                        "customFieldMask": {
                            "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users",
                    "response": {
                        "$ref": "Users"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user",
                        "https://www.googleapis.com/auth/admin.directory.user.readonly",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "signOut": {
                    "description": "Sign a user out of all web and device sessions and reset their sign-in cookies. User will have to sign in by authenticating again.",
                    "httpMethod": "POST",
                    "id": "directory.users.signOut",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Identifies the target user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}/signOut",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                }
            },
            "resources": {
                "aliases": {
                    "methods": {
                        "list": {
                            "description": "List all aliases for a user",
                            "httpMethod": "GET",
                            "id": "directory.users.aliases.list",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/aliases",
                            "response": {
                                "$ref": "Aliases"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user",
                                "https://www.googleapis.com/auth/admin.directory.user.alias",
                                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                                "https://www.googleapis.com/auth/admin.directory.user.readonly"
                            ]
                        },
                        "insert": {
                            "description": "Add a alias for the user",
                            "httpMethod": "POST",
                            "id": "directory.users.aliases.insert",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/aliases",
                            "request": {
                                "$ref": "Alias"
                            },
                            "response": {
                                "$ref": "Alias"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user",
                                "https://www.googleapis.com/auth/admin.directory.user.alias"
                            ]
                        },
                        "delete": {
                            "description": "Remove a alias for the user",
                            "httpMethod": "DELETE",
                            "id": "directory.users.aliases.delete",
                            "parameterOrder": [
                                "userKey",
                                "alias"
                            ],
                            "parameters": {
                                "alias": {
                                    "description": "The alias to be removed",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/aliases/{alias}",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user",
                                "https://www.googleapis.com/auth/admin.directory.user.alias"
                            ]
                        },
                        "watch": {
                            "description": "Watch for changes in users list",
                            "httpMethod": "POST",
                            "id": "directory.users.aliases.watch",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "event": {
                                    "description": "Event on which subscription is intended (if subscribing)",
                                    "enum": [
                                        "eventUndefined",
                                        "add",
                                        "delete"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Alias Created Event",
                                        "Alias Deleted Event"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/aliases/watch",
                            "request": {
                                "$ref": "Channel"
                            },
                            "response": {
                                "$ref": "Channel"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user",
                                "https://www.googleapis.com/auth/admin.directory.user.alias",
                                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                                "https://www.googleapis.com/auth/admin.directory.user.readonly"
                            ]
                        }
                    }
                },
                "photos": {
                    "methods": {
                        "patch": {
                            "description": "Patch Photo via Apiary Patch Orchestration",
                            "httpMethod": "PATCH",
                            "id": "directory.users.photos.patch",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
                            "request": {
                                "$ref": "UserPhoto"
                            },
                            "response": {
                                "$ref": "UserPhoto"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user"
                            ]
                        },
                        "update": {
                            "description": "Add a photo for the user",
                            "httpMethod": "PUT",
                            "id": "directory.users.photos.update",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
                            "request": {
                                "$ref": "UserPhoto"
                            },
                            "response": {
                                "$ref": "UserPhoto"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user"
                            ]
                        },
                        "delete": {
                            "description": "Remove photos for the user",
                            "httpMethod": "DELETE",
                            "id": "directory.users.photos.delete",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user"
                            ]
                        },
                        "get": {
                            "description": "Retrieve photo of a user",
                            "httpMethod": "GET",
                            "id": "directory.users.photos.get",
                            "parameterOrder": [
                                "userKey"
                            ],
                            "parameters": {
                                "userKey": {
                                    "description": "Email or immutable ID of the user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
                            "response": {
                                "$ref": "UserPhoto"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.user",
                                "https://www.googleapis.com/auth/admin.directory.user.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "orgunits": {
            "methods": {
                "patch": {
                    "description": "Patch organization unit via Apiary Patch Orchestration",
                    "httpMethod": "PATCH",
                    "id": "directory.orgunits.patch",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "description": "Full path of the organizational unit or its ID",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "insert": {
                    "description": "Add organizational unit",
                    "httpMethod": "POST",
                    "id": "directory.orgunits.insert",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "update": {
                    "description": "Update organizational unit",
                    "httpMethod": "PUT",
                    "id": "directory.orgunits.update",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "orgUnitPath": {
                            "description": "Full path of the organizational unit or its ID",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
                    "request": {
                        "$ref": "OrgUnit"
                    },
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "delete": {
                    "description": "Remove organizational unit",
                    "httpMethod": "DELETE",
                    "id": "directory.orgunits.delete",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "orgUnitPath": {
                            "description": "Full path of the organizational unit or its ID",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit"
                    ]
                },
                "list": {
                    "description": "Retrieve all organizational units",
                    "httpMethod": "GET",
                    "id": "directory.orgunits.list",
                    "parameterOrder": [
                        "customerId"
                    ],
                    "parameters": {
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orgUnitPath": {
                            "default": "",
                            "description": "the URL-encoded organizational unit's path or its ID",
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "description": "Whether to return all sub-organizations or just immediate children",
                            "enum": [
                                "typeUndefined",
                                "all",
                                "children"
                            ],
                            "enumDescriptions": [
                                "",
                                "All sub-organizational units.",
                                "Immediate children only (default)."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits",
                    "response": {
                        "$ref": "OrgUnits"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit",
                        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
                    ]
                },
                "get": {
                    "description": "Retrieve organizational unit",
                    "httpMethod": "GET",
                    "id": "directory.orgunits.get",
                    "parameterOrder": [
                        "customerId",
                        "orgUnitPath"
                    ],
                    "parameters": {
                        "orgUnitPath": {
                            "description": "Full path of the organizational unit or its ID",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        },
                        "customerId": {
                            "description": "Immutable ID of the G Suite account",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/customer/{customerId}/orgunits/{+orgUnitPath}",
                    "response": {
                        "$ref": "OrgUnit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.orgunit",
                        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly"
                    ]
                }
            }
        },
        "resources": {
            "resources": {
                "calendars": {
                    "methods": {
                        "get": {
                            "description": "Retrieves a calendar resource.",
                            "httpMethod": "GET",
                            "id": "directory.resources.calendars.get",
                            "parameterOrder": [
                                "customer",
                                "calendarResourceId"
                            ],
                            "parameters": {
                                "calendarResourceId": {
                                    "description": "The unique ID of the calendar resource to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
                            "response": {
                                "$ref": "CalendarResource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        },
                        "update": {
                            "description": "Updates a calendar resource. This method supports patch semantics, meaning you only need to include the fields you wish to update. Fields that are not present in the request will be preserved.",
                            "httpMethod": "PUT",
                            "id": "directory.resources.calendars.update",
                            "parameterOrder": [
                                "customer",
                                "calendarResourceId"
                            ],
                            "parameters": {
                                "calendarResourceId": {
                                    "description": "The unique ID of the calendar resource to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
                            "request": {
                                "$ref": "CalendarResource"
                            },
                            "response": {
                                "$ref": "CalendarResource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "patch": {
                            "description": "Patches a calendar resource via Apiary Patch Orchestration.",
                            "httpMethod": "PATCH",
                            "id": "directory.resources.calendars.patch",
                            "parameterOrder": [
                                "customer",
                                "calendarResourceId"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "calendarResourceId": {
                                    "description": "The unique ID of the calendar resource to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
                            "request": {
                                "$ref": "CalendarResource"
                            },
                            "response": {
                                "$ref": "CalendarResource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "delete": {
                            "description": "Deletes a calendar resource.",
                            "httpMethod": "DELETE",
                            "id": "directory.resources.calendars.delete",
                            "parameterOrder": [
                                "customer",
                                "calendarResourceId"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "calendarResourceId": {
                                    "description": "The unique ID of the calendar resource to delete.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars/{calendarResourceId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "list": {
                            "description": "Retrieves a list of calendar resources for an account.",
                            "httpMethod": "GET",
                            "id": "directory.resources.calendars.list",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "orderBy": {
                                    "description": "Field(s) to sort results by in either ascending or descending order. Supported fields include resourceId, resourceName, capacity, buildingId, and floorName. If no order is specified, defaults to ascending. Should be of the form \"field [asc|desc], field [asc|desc], ...\". For example buildingId, capacity desc would return results sorted first by buildingId in ascending order then by capacity in descending order.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "query": {
                                    "description": "String query used to filter results. Should be of the form \"field operator value\" where field can be any of supported fields and operators can be any of supported operations. Operators include '=' for exact match, '!=' for mismatch and ':' for prefix match or HAS match where applicable. For prefix match, the value should always be followed by a *. Logical operators NOT and AND are supported (in this order of precedence). Supported fields include generatedResourceName, name, buildingId, floor_name, capacity, featureInstances.feature.name. For example buildingId=US-NYC-9TH AND featureInstances.feature.name:Phone.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "Token to specify the next page in the list.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "Maximum number of results to return.",
                                    "format": "int32",
                                    "location": "query",
                                    "maximum": "500",
                                    "minimum": "1",
                                    "type": "integer"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars",
                            "response": {
                                "$ref": "CalendarResources"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        },
                        "insert": {
                            "description": "Inserts a calendar resource.",
                            "httpMethod": "POST",
                            "id": "directory.resources.calendars.insert",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/calendars",
                            "request": {
                                "$ref": "CalendarResource"
                            },
                            "response": {
                                "$ref": "CalendarResource"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        }
                    }
                },
                "buildings": {
                    "methods": {
                        "update": {
                            "description": "Updates a building.",
                            "httpMethod": "PUT",
                            "id": "directory.resources.buildings.update",
                            "parameterOrder": [
                                "customer",
                                "buildingId"
                            ],
                            "parameters": {
                                "coordinatesSource": {
                                    "default": "SOURCE_UNSPECIFIED",
                                    "description": "Source from which Building.coordinates are derived.",
                                    "enum": [
                                        "COORDINATES_SOURCE_UNDEFINED",
                                        "CLIENT_SPECIFIED",
                                        "RESOLVED_FROM_ADDRESS",
                                        "SOURCE_UNSPECIFIED"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Building.coordinates are set to the coordinates included in the request.",
                                        "Building.coordinates are automatically populated based on the postal address.",
                                        "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "buildingId": {
                                    "description": "The id of the building to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
                            "request": {
                                "$ref": "Building"
                            },
                            "response": {
                                "$ref": "Building"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "patch": {
                            "description": "Patches a building via Apiary Patch Orchestration.",
                            "httpMethod": "PATCH",
                            "id": "directory.resources.buildings.patch",
                            "parameterOrder": [
                                "customer",
                                "buildingId"
                            ],
                            "parameters": {
                                "coordinatesSource": {
                                    "default": "SOURCE_UNSPECIFIED",
                                    "description": "Source from which Building.coordinates are derived.",
                                    "enum": [
                                        "COORDINATES_SOURCE_UNDEFINED",
                                        "CLIENT_SPECIFIED",
                                        "RESOLVED_FROM_ADDRESS",
                                        "SOURCE_UNSPECIFIED"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Building.coordinates are set to the coordinates included in the request.",
                                        "Building.coordinates are automatically populated based on the postal address.",
                                        "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "buildingId": {
                                    "description": "The id of the building to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
                            "request": {
                                "$ref": "Building"
                            },
                            "response": {
                                "$ref": "Building"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "insert": {
                            "description": "Inserts a building.",
                            "httpMethod": "POST",
                            "id": "directory.resources.buildings.insert",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "coordinatesSource": {
                                    "default": "SOURCE_UNSPECIFIED",
                                    "description": "Source from which Building.coordinates are derived.",
                                    "enum": [
                                        "COORDINATES_SOURCE_UNDEFINED",
                                        "CLIENT_SPECIFIED",
                                        "RESOLVED_FROM_ADDRESS",
                                        "SOURCE_UNSPECIFIED"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Building.coordinates are set to the coordinates included in the request.",
                                        "Building.coordinates are automatically populated based on the postal address.",
                                        "Defaults to RESOLVED_FROM_ADDRESS if postal address is provided. Otherwise, defaults to CLIENT_SPECIFIED if coordinates are provided."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings",
                            "request": {
                                "$ref": "Building"
                            },
                            "response": {
                                "$ref": "Building"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "get": {
                            "description": "Retrieves a building.",
                            "httpMethod": "GET",
                            "id": "directory.resources.buildings.get",
                            "parameterOrder": [
                                "customer",
                                "buildingId"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "buildingId": {
                                    "description": "The unique ID of the building to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
                            "response": {
                                "$ref": "Building"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        },
                        "delete": {
                            "description": "Deletes a building.",
                            "httpMethod": "DELETE",
                            "id": "directory.resources.buildings.delete",
                            "parameterOrder": [
                                "customer",
                                "buildingId"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "buildingId": {
                                    "description": "The id of the building to delete.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings/{buildingId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "list": {
                            "description": "Retrieves a list of buildings for an account.",
                            "httpMethod": "GET",
                            "id": "directory.resources.buildings.list",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "maxResults": {
                                    "description": "Maximum number of results to return.",
                                    "format": "int32",
                                    "location": "query",
                                    "maximum": "500",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "Token to specify the next page in the list.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/buildings",
                            "response": {
                                "$ref": "Buildings"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        }
                    }
                },
                "features": {
                    "methods": {
                        "delete": {
                            "description": "Deletes a feature.",
                            "httpMethod": "DELETE",
                            "id": "directory.resources.features.delete",
                            "parameterOrder": [
                                "customer",
                                "featureKey"
                            ],
                            "parameters": {
                                "featureKey": {
                                    "description": "The unique ID of the feature to delete.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "list": {
                            "description": "Retrieves a list of features for an account.",
                            "httpMethod": "GET",
                            "id": "directory.resources.features.list",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "maxResults": {
                                    "description": "Maximum number of results to return.",
                                    "format": "int32",
                                    "location": "query",
                                    "maximum": "500",
                                    "minimum": "1",
                                    "type": "integer"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "Token to specify the next page in the list.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features",
                            "response": {
                                "$ref": "Features"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        },
                        "rename": {
                            "description": "Renames a feature.",
                            "httpMethod": "POST",
                            "id": "directory.resources.features.rename",
                            "parameterOrder": [
                                "customer",
                                "oldName"
                            ],
                            "parameters": {
                                "oldName": {
                                    "description": "The unique ID of the feature to rename.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features/{oldName}/rename",
                            "request": {
                                "$ref": "FeatureRename"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "update": {
                            "description": "Updates a feature.",
                            "httpMethod": "PUT",
                            "id": "directory.resources.features.update",
                            "parameterOrder": [
                                "customer",
                                "featureKey"
                            ],
                            "parameters": {
                                "featureKey": {
                                    "description": "The unique ID of the feature to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
                            "request": {
                                "$ref": "Feature"
                            },
                            "response": {
                                "$ref": "Feature"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "insert": {
                            "description": "Inserts a feature.",
                            "httpMethod": "POST",
                            "id": "directory.resources.features.insert",
                            "parameterOrder": [
                                "customer"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features",
                            "request": {
                                "$ref": "Feature"
                            },
                            "response": {
                                "$ref": "Feature"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "patch": {
                            "description": "Patches a feature via Apiary Patch Orchestration.",
                            "httpMethod": "PATCH",
                            "id": "directory.resources.features.patch",
                            "parameterOrder": [
                                "customer",
                                "featureKey"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "featureKey": {
                                    "description": "The unique ID of the feature to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
                            "request": {
                                "$ref": "Feature"
                            },
                            "response": {
                                "$ref": "Feature"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar"
                            ]
                        },
                        "get": {
                            "description": "Retrieves a feature.",
                            "httpMethod": "GET",
                            "id": "directory.resources.features.get",
                            "parameterOrder": [
                                "customer",
                                "featureKey"
                            ],
                            "parameters": {
                                "customer": {
                                    "description": "The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "featureKey": {
                                    "description": "The unique ID of the feature to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "admin/directory/v1/customer/{customer}/resources/features/{featureKey}",
                            "response": {
                                "$ref": "Feature"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar",
                                "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "twoStepVerification": {
            "methods": {
                "turnOff": {
                    "description": "Turn off 2-Step Verification for user.",
                    "httpMethod": "POST",
                    "id": "directory.twoStepVerification.turnOff",
                    "parameterOrder": [
                        "userKey"
                    ],
                    "parameters": {
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
                    "scopes": [
                        "https://www.googleapis.com/auth/admin.directory.user.security"
                    ]
                }
            }
        },
        "tokens": {
            "methods": {
                "get": {
                    "description": "Get information about an access token issued by a user.",
                    "httpMethod": "GET",
                    "id": "directory.tokens.get",
                    "parameterOrder": [
                        "userKey",
                        "clientId"
                    ],
                    "parameters": {
                        "clientId": {
                            "description": "The Client ID of the application the token is issued to.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userKey": {
                            "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "admin/directory/v1/users/{userKey}/tokens/{clientId}",
                    "response": {
                        "$ref": "Token"
                    },
[...]
