{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidpublisher": {
                    "description": "View and manage your Google Play Android Developer account"
                }
            }
        }
    },
    "basePath": "/androidpublisher/v2/applications/",
    "baseUrl": "https://www.googleapis.com/androidpublisher/v2/applications/",
    "batchPath": "batch",
    "canonicalName": "Android Publisher",
    "description": "Lets Android application developers access their Google Play accounts.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android-publisher",
    "etag": "\"l66ggWbucbkBw9Lpos72oziyefE/rvEzY_KAgBOlUM1lQqukKQLrl6Y\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/android-16.png",
        "x32": "https://www.google.com/images/icons/product/android-32.png"
    },
    "id": "androidpublisher:v2",
    "kind": "discovery#restDescription",
    "name": "androidpublisher",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "edits": {
            "methods": {
                "commit": {
                    "description": "Commits/applies the changes made in this edit back to the app.",
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.commit",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "description": "Unique identifier for this edit.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}:commit",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "delete": {
                    "description": "Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.",
                    "httpMethod": "DELETE",
                    "id": "androidpublisher.edits.delete",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "description": "Unique identifier for this edit.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "description": "Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).",
                    "httpMethod": "GET",
                    "id": "androidpublisher.edits.get",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "description": "Unique identifier for this edit.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "description": "Creates a new edit for an app, populated with the app's current state.",
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.insert",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "packageName": {
                            "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits",
                    "request": {
                        "$ref": "AppEdit"
                    },
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "validate": {
                    "description": "Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.",
                    "httpMethod": "POST",
                    "id": "androidpublisher.edits.validate",
                    "parameterOrder": [
                        "packageName",
                        "editId"
                    ],
                    "parameters": {
                        "editId": {
                            "description": "Unique identifier for this edit.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/edits/{editId}:validate",
                    "response": {
                        "$ref": "AppEdit"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                }
            },
            "resources": {
                "apklistings": {
                    "methods": {
                        "delete": {
                            "description": "Deletes the APK-specific localized listing for a specified APK and language code.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.apklistings.delete",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "language"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "deleteall": {
                            "description": "Deletes all the APK-specific localized listings for a specified APK.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.apklistings.deleteall",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "get": {
                            "description": "Fetches the APK-specific localized listing for a specified APK and language code.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.apklistings.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "language"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "response": {
                                "$ref": "ApkListing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "description": "Lists all the APK-specific localized listings for a specified APK.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.apklistings.list",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings",
                            "response": {
                                "$ref": "ApkListingsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "description": "Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.",
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.apklistings.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "language"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "request": {
                                "$ref": "ApkListing"
                            },
                            "response": {
                                "$ref": "ApkListing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "description": "Updates or creates the APK-specific localized listing for a specified APK and language code.",
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.apklistings.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "language"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The APK version code whose APK-specific listings should be read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}",
                            "request": {
                                "$ref": "ApkListing"
                            },
                            "response": {
                                "$ref": "ApkListing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "apks": {
                    "methods": {
                        "list": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.apks.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks",
                            "response": {
                                "$ref": "ApksListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.apks.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream",
                                    "application/vnd.android.package-archive"
                                ],
                                "maxSize": "50MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks",
                            "response": {
                                "$ref": "Apk"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "details": {
                    "methods": {
                        "get": {
                            "description": "Fetches app details for this edit. This includes the default language and developer support contact information.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.details.get",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "description": "Updates app details for this edit. This method supports patch semantics.",
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.details.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "request": {
                                "$ref": "AppDetails"
                            },
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "description": "Updates app details for this edit.",
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.details.update",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/details",
                            "request": {
                                "$ref": "AppDetails"
                            },
                            "response": {
                                "$ref": "AppDetails"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "expansionfiles": {
                    "methods": {
                        "get": {
                            "description": "Fetches the Expansion File configuration for the APK specified.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.expansionfiles.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "description": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.",
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.expansionfiles.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "request": {
                                "$ref": "ExpansionFile"
                            },
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "description": "Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.",
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.expansionfiles.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "request": {
                                "$ref": "ExpansionFile"
                            },
                            "response": {
                                "$ref": "ExpansionFile"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "description": "Uploads and attaches a new Expansion File to the APK specified.",
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.expansionfiles.upload",
                            "mediaUpload": {
                                "accept": [
                                    "application/octet-stream"
                                ],
                                "maxSize": "2048MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "apkVersionCode",
                                "expansionFileType"
                            ],
                            "parameters": {
                                "apkVersionCode": {
                                    "description": "The version code of the APK whose Expansion File configuration is being read or modified.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "expansionFileType": {
                                    "enum": [
                                        "main",
                                        "patch"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                            "response": {
                                "$ref": "ExpansionFilesUploadResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "images": {
                    "methods": {
                        "delete": {
                            "description": "Deletes the image (specified by id) from the edit.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.images.delete",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType",
                                "imageId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageId": {
                                    "description": "Unique identifier an image within the set of images attached to this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "deleteall": {
                            "description": "Deletes all images for the specified language and image type.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.images.deleteall",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesDeleteAllResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "description": "Lists all images for the specified language and image type.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.images.list",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "upload": {
                            "description": "Uploads a new image and adds it to the list of images for the specified language and image type.",
                            "httpMethod": "POST",
                            "id": "androidpublisher.edits.images.upload",
                            "mediaUpload": {
                                "accept": [
                                    "image/*"
                                ],
                                "maxSize": "15MB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language",
                                "imageType"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "imageType": {
                                    "enum": [
                                        "featureGraphic",
                                        "icon",
                                        "phoneScreenshots",
                                        "promoGraphic",
                                        "sevenInchScreenshots",
                                        "tenInchScreenshots"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}/{imageType}",
                            "response": {
                                "$ref": "ImagesUploadResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ],
                            "supportsMediaUpload": true
                        }
                    }
                },
                "listings": {
                    "methods": {
                        "delete": {
                            "description": "Deletes the specified localized store listing from an edit.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.listings.delete",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "deleteall": {
                            "description": "Deletes all localized listings from an edit.",
                            "httpMethod": "DELETE",
                            "id": "androidpublisher.edits.listings.deleteall",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings",
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "get": {
                            "description": "Fetches information about a localized store listing.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.listings.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "description": "Returns all of the localized store listings attached to this edit.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.listings.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings",
                            "response": {
                                "$ref": "ListingsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "description": "Creates or updates a localized store listing. This method supports patch semantics.",
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.listings.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "request": {
                                "$ref": "Listing"
                            },
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "description": "Creates or updates a localized store listing.",
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.listings.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "language"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "language": {
                                    "description": "The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/listings/{language}",
                            "request": {
                                "$ref": "Listing"
                            },
                            "response": {
                                "$ref": "Listing"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "testers": {
                    "methods": {
                        "get": {
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.testers.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.testers.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "request": {
                                "$ref": "Testers"
                            },
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.testers.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/testers/{track}",
                            "request": {
                                "$ref": "Testers"
                            },
                            "response": {
                                "$ref": "Testers"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                },
                "tracks": {
                    "methods": {
                        "get": {
                            "description": "Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.tracks.get",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "description": "The track type to read or modify.",
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "list": {
                            "description": "Lists all the track configurations for this edit.",
                            "httpMethod": "GET",
                            "id": "androidpublisher.edits.tracks.list",
                            "parameterOrder": [
                                "packageName",
                                "editId"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks",
                            "response": {
                                "$ref": "TracksListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "patch": {
                            "description": "Updates the track configuration for the specified track type. This method supports patch semantics.",
                            "httpMethod": "PATCH",
                            "id": "androidpublisher.edits.tracks.patch",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "description": "The track type to read or modify.",
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "request": {
                                "$ref": "Track"
                            },
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        },
                        "update": {
                            "description": "Updates the track configuration for the specified track type.",
                            "httpMethod": "PUT",
                            "id": "androidpublisher.edits.tracks.update",
                            "parameterOrder": [
                                "packageName",
                                "editId",
                                "track"
                            ],
                            "parameters": {
                                "editId": {
                                    "description": "Unique identifier for this edit.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "packageName": {
                                    "description": "Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "track": {
                                    "description": "The track type to read or modify.",
                                    "enum": [
                                        "alpha",
                                        "beta",
                                        "production",
                                        "rollout"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "",
                                        "",
                                        ""
                                    ],
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "{packageName}/edits/{editId}/tracks/{track}",
                            "request": {
                                "$ref": "Track"
                            },
                            "response": {
                                "$ref": "Track"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/androidpublisher"
                            ]
                        }
                    }
                }
            }
        },
        "inappproducts": {
            "methods": {
                "batch": {
                    "httpMethod": "POST",
                    "id": "androidpublisher.inappproducts.batch",
                    "path": "inappproducts/batch",
                    "request": {
                        "$ref": "InappproductsBatchRequest"
                    },
                    "response": {
                        "$ref": "InappproductsBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "delete": {
                    "description": "Delete an in-app product for an app.",
                    "httpMethod": "DELETE",
                    "id": "androidpublisher.inappproducts.delete",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "packageName": {
                            "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "description": "Unique identifier for the in-app product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "get": {
                    "description": "Returns information about the in-app product specified.",
                    "httpMethod": "GET",
                    "id": "androidpublisher.inappproducts.get",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "packageName": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "description": "Unique identifier for the in-app product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "insert": {
                    "description": "Creates a new in-app product for an app.",
                    "httpMethod": "POST",
                    "id": "androidpublisher.inappproducts.insert",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts",
                    "request": {
                        "$ref": "InAppProduct"
                    },
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "list": {
                    "description": "List all the in-app products for an Android app, both subscriptions and managed in-app products..",
                    "httpMethod": "GET",
                    "id": "androidpublisher.inappproducts.list",
                    "parameterOrder": [
                        "packageName"
                    ],
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app with in-app products; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts",
                    "response": {
                        "$ref": "InappproductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "patch": {
                    "description": "Updates the details of an in-app product. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidpublisher.inappproducts.patch",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "description": "Unique identifier for the in-app product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{packageName}/inappproducts/{sku}",
                    "request": {
                        "$ref": "InAppProduct"
                    },
                    "response": {
                        "$ref": "InAppProduct"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                    ]
                },
                "update": {
                    "description": "Updates the details of an in-app product.",
                    "httpMethod": "PUT",
                    "id": "androidpublisher.inappproducts.update",
                    "parameterOrder": [
                        "packageName",
                        "sku"
                    ],
                    "parameters": {
                        "autoConvertMissingPrices": {
                            "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "packageName": {
                            "description": "Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sku": {
                            "description": "Unique identifier for the in-app product.",
                            "location": "path",
[...]
