{
    "basePath": "",
    "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Android Provisioning Partner",
    "description": "Android Device Provisioning Partner API",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/zero-touch/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androiddeviceprovisioning:v1",
    "kind": "discovery#restDescription",
    "name": "androiddeviceprovisioning",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "partners": {
            "resources": {
                "devices": {
                    "methods": {
                        "unclaim": {
                            "description": "Unclaim the device identified by device_id or identifier.",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.unclaim",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "Id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:unclaim",
                            "request": {
                                "$ref": "UnclaimDeviceRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            }
                        },
                        "findByOwner": {
                            "description": "Find devices by ownership.",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.findByOwner",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:findByOwner",
                            "request": {
                                "$ref": "FindDevicesByOwnerRequest"
                            },
                            "response": {
                                "$ref": "FindDevicesByOwnerResponse"
                            }
                        },
                        "claim": {
                            "description": "Claim the device identified by device identifier.",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.claim",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "Id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:claim",
                            "request": {
                                "$ref": "ClaimDeviceRequest"
                            },
                            "response": {
                                "$ref": "ClaimDeviceResponse"
                            }
                        },
                        "claimAsync": {
                            "description": "Claim devices asynchronously",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.claimAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "partner id.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:claimAsync",
                            "request": {
                                "$ref": "ClaimDevicesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "findByIdentifier": {
                            "description": "Find devices by device identifier.",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
                            "request": {
                                "$ref": "FindDevicesByDeviceIdentifierRequest"
                            },
                            "response": {
                                "$ref": "FindDevicesByDeviceIdentifierResponse"
                            }
                        },
                        "unclaimAsync": {
                            "description": "Unclaim devices asynchronously",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "partner id.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
                            "request": {
                                "$ref": "UnclaimDevicesRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "metadata": {
                            "description": "Update the metadata",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.metadata",
                            "parameterOrder": [
                                "metadataOwnerId",
                                "deviceId"
                            ],
                            "parameters": {
                                "metadataOwnerId": {
                                    "description": "The owner of the newly set metadata. Should be partner id itself.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "deviceId": {
                                    "description": "id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
                            "request": {
                                "$ref": "UpdateDeviceMetadataRequest"
                            },
                            "response": {
                                "$ref": "DeviceMetadata"
                            }
                        },
                        "updateMetadataAsync": {
                            "description": "Set metadata in batch asynchronously.",
                            "httpMethod": "POST",
                            "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "partner id.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
                            "request": {
                                "$ref": "UpdateDeviceMetadataInBatchRequest"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "get": {
                            "description": "Get a device",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.partners.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "resource name in 'partners/[PARTNER_ID]/devices/[DEVICE_ID]'.",
                                    "location": "path",
                                    "pattern": "^partners/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            }
                        }
                    }
                },
                "customers": {
                    "methods": {
                        "list": {
                            "description": "List all the customers that has delegates some role to this customer.",
                            "httpMethod": "GET",
                            "id": "androiddeviceprovisioning.partners.customers.list",
                            "parameterOrder": [
                                "partnerId"
                            ],
                            "parameters": {
                                "partnerId": {
                                    "description": "the id of the partner.",
                                    "format": "int64",
                                    "location": "path",
                                    "pattern": "^[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/partners/{+partnerId}/customers",
                            "response": {
                                "$ref": "ListCustomersResponse"
                            }
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                    "httpMethod": "GET",
                    "id": "androiddeviceprovisioning.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The name of the operation resource.",
                            "location": "path",
                            "pattern": "^operations/.+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    }
                }
            }
        }
    },
    "revision": "20170722",
    "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
    "schemas": {
        "Company": {
            "description": "Company",
            "id": "Company",
            "properties": {
                "companyId": {
                    "description": "company id",
                    "format": "int64",
                    "type": "string"
                },
                "companyName": {
                    "description": "company name",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateDeviceMetadataRequest": {
            "description": "Request to set metadata for a device.",
            "id": "UpdateDeviceMetadataRequest",
            "properties": {
                "deviceMetadata": {
                    "$ref": "DeviceMetadata",
                    "description": "The metdata to set."
                }
            },
            "type": "object"
        },
        "PartnerUnclaim": {
            "description": "Identifies one unclaim request.",
            "id": "PartnerUnclaim",
            "properties": {
                "sectionType": {
                    "description": "section type to unclaim.",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                },
                "deviceId": {
                    "description": "device id of the device.",
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "device identifier of the device."
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "FindDevicesByDeviceIdentifierResponse": {
            "description": "Response containing found devices.",
            "id": "FindDevicesByDeviceIdentifierResponse",
            "properties": {
                "nextPageToken": {
                    "description": "Page token of next page",
                    "type": "string"
                },
                "devices": {
                    "description": "Found devices.",
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PartnerClaim": {
            "description": "Identifies one claim request.",
            "id": "PartnerClaim",
            "properties": {
                "deviceMetadata": {
                    "$ref": "DeviceMetadata",
                    "description": "metadata to set at claim."
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "Device identifier of the device."
                },
                "sectionType": {
                    "description": "section type to claim.",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                },
                "customerId": {
                    "description": "customer id to claim for.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnclaimDeviceRequest": {
            "description": "Request message to unclaim a device.",
            "id": "UnclaimDeviceRequest",
            "properties": {
                "deviceId": {
                    "description": "The device id returned by ClaimDevice.",
                    "format": "int64",
                    "type": "string"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "The device identifier you use when you claimed this device."
                },
                "sectionType": {
                    "description": "The section type to unclaim for.",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeviceMetadata": {
            "description": "metadata",
            "id": "DeviceMetadata",
            "properties": {
                "entries": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Metadata entries",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DeviceClaim": {
            "description": "containing the necessary info about a claim for a partner.",
            "id": "DeviceClaim",
            "properties": {
                "ownerCompanyId": {
                    "description": "owner id",
                    "format": "int64",
                    "type": "string"
                },
                "sectionType": {
                    "description": "section type.",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DevicesLongRunningOperationResponse": {
            "description": "Long running operation response.",
            "id": "DevicesLongRunningOperationResponse",
            "properties": {
                "successCount": {
                    "description": "Number of succeesfully processed ones.",
                    "format": "int32",
                    "type": "integer"
                },
                "perDeviceStatus": {
                    "description": "processing status for each device.\nOne PerDeviceStatus per device. The order is the same as in your requests.",
                    "items": {
                        "$ref": "OperationPerDevice"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PerDeviceStatusInBatch": {
            "description": "Stores the processing result for each device.",
            "id": "PerDeviceStatusInBatch",
            "properties": {
                "errorMessage": {
                    "description": "Error message",
                    "type": "string"
                },
                "deviceId": {
                    "description": "device id of the device if process succeeds.",
                    "format": "int64",
                    "type": "string"
                },
                "status": {
                    "description": "Process result.",
                    "enum": [
                        "SINGLE_DEVICE_STATUS_UNSPECIFIED",
                        "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
                        "SINGLE_DEVICE_STATUS_OTHER_ERROR",
                        "SINGLE_DEVICE_STATUS_SUCCESS",
                        "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
                        "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
                        "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
                        "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"
                    ],
                    "enumDescriptions": [
                        "Invalid code. Shouldn' be used.",
                        "Unknown error.\nUnknown error is we don't expect it here.",
                        "Other error.\nOther error is we know/expect this error, but not having proper error\ncode yet.",
                        "Success.",
                        "Permission denied",
                        "Invalid device identifier.",
                        "Invalid section type.",
                        "This section is claimed by other company."
                    ],
                    "type": "string"
                },
                "errorIdentifier": {
                    "description": "Error identifier.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindDevicesByOwnerRequest": {
            "description": "Request to find devices by customers.",
            "id": "FindDevicesByOwnerRequest",
            "properties": {
                "limit": {
                    "description": "The number of devices to show in the result.",
                    "format": "int64",
                    "type": "string"
                },
                "sectionType": {
                    "description": "The section type.",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                },
                "pageToken": {
                    "description": "Page token",
                    "type": "string"
                },
                "customerId": {
                    "description": "List of customer ids to search for.",
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClaimDevicesRequest": {
            "description": "Request to claim devices asynchronously in batch.",
            "id": "ClaimDevicesRequest",
            "properties": {
                "claims": {
                    "description": "list of claims.",
                    "items": {
                        "$ref": "PartnerClaim"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "Operation",
            "properties": {
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                },
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                },
                "error": {
                    "$ref": "Status",
                    "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DeviceIdentifier": {
            "description": "DeviceIdentifiers identifies an unique device.",
            "id": "DeviceIdentifier",
            "properties": {
                "model": {
                    "description": "Model to match android.os.Build.MODEL (required).",
                    "type": "string"
                },
                "imei": {
                    "description": "IMEI (either IMEI or MEID is required).",
                    "type": "string"
                },
                "manufacturer": {
                    "description": "Manufacturer to match android.os.Build.MANUFACTURER (required).",
                    "type": "string"
                },
                "meid": {
                    "description": "MEID",
                    "type": "string"
                },
                "serialNumber": {
                    "description": "Serial number (optional)",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UnclaimDevicesRequest": {
            "description": "Request to unclaim devices asynchronously in batch.",
            "id": "UnclaimDevicesRequest",
            "properties": {
                "unclaims": {
                    "description": "list of unclaims.",
                    "items": {
                        "$ref": "PartnerUnclaim"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "FindDevicesByDeviceIdentifierRequest": {
            "description": "Request to find devices.",
            "id": "FindDevicesByDeviceIdentifierRequest",
            "properties": {
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "The device identifier to search"
                },
                "pageToken": {
                    "description": "Page token",
                    "type": "string"
                },
                "limit": {
                    "description": "Number of devices to show.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "details": {
                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationPerDevice": {
            "description": "Operation the server received for every device.",
            "id": "OperationPerDevice",
            "properties": {
                "result": {
                    "$ref": "PerDeviceStatusInBatch",
                    "description": "Processing result for every device."
                },
                "unclaim": {
                    "$ref": "PartnerUnclaim",
                    "description": "Request to unclaim a device."
                },
                "claim": {
                    "$ref": "PartnerClaim",
                    "description": "Request to claim a device."
                },
                "updateMetadata": {
                    "$ref": "UpdateMetadataArguments",
                    "description": "Request to set metadata for a device."
                }
            },
            "type": "object"
        },
        "FindDevicesByOwnerResponse": {
            "description": "Response containing found devices.",
            "id": "FindDevicesByOwnerResponse",
            "properties": {
                "devices": {
                    "description": "Devices found.",
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Page token of next page",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClaimDeviceRequest": {
            "description": "Request message to claim a device on behalf of a customer.",
            "id": "ClaimDeviceRequest",
            "properties": {
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "The device identifier of the device to claim."
                },
                "sectionType": {
                    "description": "Section to claim",
                    "enum": [
                        "SECTION_TYPE_UNSPECIFIED",
                        "SECTION_TYPE_ZERO_TOUCH"
                    ],
                    "enumDescriptions": [
                        "Unspecified",
                        "Zero touch"
                    ],
                    "type": "string"
                },
                "customerId": {
                    "description": "The customer to claim for.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DevicesLongRunningOperationMetadata": {
            "description": "Long running operation metadata.",
            "id": "DevicesLongRunningOperationMetadata",
            "properties": {
                "devicesCount": {
                    "description": "Number of devices parsed in your requests.",
                    "format": "int32",
                    "type": "integer"
                },
                "processingStatus": {
                    "description": "The overall processing status.",
                    "enum": [
                        "BATCH_PROCESS_STATUS_UNSPECIFIED",
                        "BATCH_PROCESS_PENDING",
                        "BATCH_PROCESS_IN_PROGRESS",
                        "BATCH_PROCESS_PROCESSED"
                    ],
                    "enumDescriptions": [
                        "Invalid code. Shouldn't be used.",
                        "Pending",
                        "In progress",
                        "Processed.\nThis doesn't mean all items were processed sucessfully, you should\ncheck the `response` field for the result of every item."
                    ],
                    "type": "string"
                },
                "progress": {
                    "description": "Processing progress from 0 to 100.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "UpdateDeviceMetadataInBatchRequest": {
            "description": "Request to update device metadata in batch.",
            "id": "UpdateDeviceMetadataInBatchRequest",
            "properties": {
                "updates": {
                    "description": "list of metadata updates.",
                    "items": {
                        "$ref": "UpdateMetadataArguments"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClaimDeviceResponse": {
            "description": "Response message containing device id of the claim.",
            "id": "ClaimDeviceResponse",
            "properties": {
                "deviceId": {
                    "description": "the device id of the claimed device.",
                    "format": "int64",
                    "type": "string"
                },
                "deviceName": {
                    "description": "the resource name of the device in\n'partners/[PARTNER_ID]/devices/[DEVICE_ID]'.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListCustomersResponse": {
            "description": "Response message of all customers related to this partner.",
            "id": "ListCustomersResponse",
            "properties": {
                "customers": {
                    "description": "List of customers related to this partner.",
                    "items": {
                        "$ref": "Company"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateMetadataArguments": {
            "description": "Identifies metdata updates to one device.",
            "id": "UpdateMetadataArguments",
            "properties": {
                "deviceMetadata": {
                    "$ref": "DeviceMetadata",
                    "description": "The metadata to update."
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "device identifier."
                },
                "deviceId": {
                    "description": "device id of the device.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Device": {
            "description": "Device",
            "id": "Device",
            "properties": {
                "claims": {
                    "description": "claims",
                    "items": {
                        "$ref": "DeviceClaim"
                    },
                    "type": "array"
                },
                "deviceId": {
                    "description": "Device id",
                    "format": "int64",
                    "type": "string"
                },
                "deviceMetadata": {
                    "$ref": "DeviceMetadata",
                    "description": "Device metadata"
                },
                "deviceIdentifier": {
                    "$ref": "DeviceIdentifier",
                    "description": "Device identifier"
                },
                "name": {
                    "description": "Resource name in 'partners/[PARTNER_ID]/devices/[DEVICE_ID]'.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Android Device Provisioning Partner API",
    "version": "v1"
}