{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidenterprise": {
                    "description": "Manage corporate Android devices"
                }
            }
        }
    },
    "basePath": "/androidenterprise/v1/",
    "baseUrl": "https://www.googleapis.com/androidenterprise/v1/",
    "batchPath": "batch",
    "canonicalName": "Android Enterprise",
    "description": "Manages the deployment of apps to Android for Work users.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/work/play/emm-api",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/uiNJ6ExiEEycTZwke1yNGg1_Vg8\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/android-16.png",
        "x32": "https://www.google.com/images/icons/product/android-32.png"
    },
    "id": "androidenterprise:v1",
    "kind": "discovery#restDescription",
    "name": "androidenterprise",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "collections": {
            "methods": {
                "delete": {
                    "description": "Deletes a collection.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.collections.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the details of a collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collections.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Creates a new collection.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.collections.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of all the collections for an enterprise.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collections.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections",
                    "response": {
                        "$ref": "CollectionsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Updates a collection. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.collections.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Updates a collection.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.collections.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "collectionviewers": {
            "methods": {
                "delete": {
                    "description": "Removes the user from the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.collectionviewers.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the ID of the user if they have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collectionviewers.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of the users who have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collectionviewers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users",
                    "response": {
                        "$ref": "CollectionViewersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.collectionviewers.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.collectionviewers.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "devices": {
            "methods": {
                "get": {
                    "description": "Retrieves the details of a device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getState": {
                    "description": "Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.getState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of all of a user's devices.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices",
                    "response": {
                        "$ref": "DevicesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setState": {
                    "description": "Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.setState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "request": {
                        "$ref": "DeviceState"
                    },
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "enterprises": {
            "methods": {
                "acknowledgeNotificationSet": {
                    "description": "Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
                    "parameters": {
                        "notificationSetId": {
                            "description": "The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/acknowledgeNotificationSet",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "completeSignup": {
                    "description": "Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.completeSignup",
                    "parameters": {
                        "completionToken": {
                            "description": "The Completion token initially returned by GenerateSignupUrl.",
                            "location": "query",
                            "type": "string"
                        },
                        "enterpriseToken": {
                            "description": "The Enterprise token appended to the Callback URL.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/completeSignup",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "delete": {
                    "description": "Deletes the binding between the EMM and enterprise. This is now deprecated; use this to unenroll customers that were previously enrolled with the 'insert' call, then enroll them again with the 'enroll' call.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.enterprises.delete",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "enroll": {
                    "description": "Enrolls an enterprise with the calling EMM.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.enroll",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "description": "The token provided by the enterprise to register the EMM.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/enroll",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateSignupUrl": {
                    "description": "Generates a sign-up URL.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.generateSignupUrl",
                    "parameters": {
                        "callbackUrl": {
                            "description": "The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named \"enterpriseToken\" which will contain an opaque token to be used for the CompleteSignup request.\nBeware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/signupUrl",
                    "response": {
                        "$ref": "SignupInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the name and domain of an enterprise.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.get",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getServiceAccount": {
                    "description": "Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.\n\nThis method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.\n\nSubsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.\n\nOnce the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getServiceAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "keyType": {
                            "description": "The type of credential to return with the service account. Required.",
                            "enum": [
                                "googleCredentials",
                                "pkcs12"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/serviceAccount",
                    "response": {
                        "$ref": "ServiceAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getStoreLayout": {
                    "description": "Returns the store layout for the enterprise. If the store layout has not been set, or if the store layout has no homepageId set, returns a NOT_FOUND error.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Establishes the binding between the EMM and an enterprise. This is now deprecated; use enroll instead.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.insert",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "description": "The token provided by the enterprise to register the EMM.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.list",
                    "parameterOrder": [
                        "domain"
                    ],
                    "parameters": {
                        "domain": {
                            "description": "The exact primary domain name of the enterprise to look up.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises",
                    "response": {
                        "$ref": "EnterprisesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "pullNotificationSet": {
                    "description": "Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.\nA notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty.\nNotifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.\nMultiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.pullNotificationSet",
                    "parameters": {
                        "requestMode": {
                            "description": "The request mode for pulling notifications. If omitted, defaults to WAIT_FOR_NOTIFCATIONS.\nIf this is set to WAIT_FOR_NOTIFCATIONS, the request will eventually timeout, in which case it should be retried.",
                            "enum": [
                                "returnImmediately",
                                "waitForNotifications"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "enterprises/pullNotificationSet",
                    "response": {
                        "$ref": "NotificationSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "sendTestPushNotification": {
                    "description": "Sends a test push notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.sendTestPushNotification",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/sendTestPushNotification",
                    "response": {
                        "$ref": "EnterprisesSendTestPushNotificationResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAccount": {
                    "description": "Set the account that will be used to authenticate to the API as the enterprise.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/account",
                    "request": {
                        "$ref": "EnterpriseAccount"
                    },
                    "response": {
                        "$ref": "EnterpriseAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setStoreLayout": {
                    "description": "Sets the store layout for the enterprise.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "request": {
                        "$ref": "StoreLayout"
                    },
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unenroll": {
                    "description": "Unenrolls an enterprise from the calling EMM.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.unenroll",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/unenroll",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "entitlements": {
            "methods": {
                "delete": {
                    "description": "Removes an entitlement to an app for a user and uninstalls it.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.entitlements.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of an entitlement.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "List of all entitlements for the specified user. Only the ID is set.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements",
                    "response": {
                        "$ref": "EntitlementsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds or updates an entitlement to an app for a user. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.entitlements.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds or updates an entitlement to an app for a user.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.entitlements.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenses": {
            "methods": {
                "get": {
                    "description": "Retrieves details of an enterprise's group license for a product.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
                    "response": {
                        "$ref": "GroupLicense"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves IDs of all products for which the enterprise has a group license.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses",
                    "response": {
                        "$ref": "GroupLicensesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenseusers": {
            "methods": {
                "list": {
                    "description": "Retrieves the IDs of the users who have been granted entitlements under the license.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenseusers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
                    "response": {
                        "$ref": "GroupLicenseUsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "installs": {
            "methods": {
                "delete": {
                    "description": "Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.installs.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of an installation of an app on a device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the details of all apps installed on the specified device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
                    "response": {
                        "$ref": "InstallsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.installs.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.installs.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsfordevice": {
            "methods": {
                "delete": {
                    "description": "Removes a per-device managed configuration for an app for the specified device.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsfordevice.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a per-device managed configuration.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Lists all the per-device managed configurations for the specified device. Only the ID is set.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsfordevice.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
                    "response": {
                        "$ref": "ManagedConfigurationsForDeviceListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds or updates a per-device managed configuration for an app for the specified device. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.managedconfigurationsfordevice.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds or updates a per-device managed configuration for an app for the specified device.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsfordevice.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "managedConfigurationForDeviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForDeviceId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "managedconfigurationsforuser": {
            "methods": {
                "delete": {
                    "description": "Removes a per-user managed configuration for an app for the specified user.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.managedconfigurationsforuser.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a per-user managed configuration for an app for the specified user.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Lists all the per-user managed configurations for the specified user. Only the ID is set.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.managedconfigurationsforuser.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
                    "response": {
                        "$ref": "ManagedConfigurationsForUserListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds or updates a per-user managed configuration for an app for the specified user. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.managedconfigurationsforuser.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds or updates a per-user managed configuration for an app for the specified user.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.managedconfigurationsforuser.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "managedConfigurationForUserId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "managedConfigurationForUserId": {
                            "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
                    "request": {
                        "$ref": "ManagedConfiguration"
                    },
                    "response": {
                        "$ref": "ManagedConfiguration"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "permissions": {
            "methods": {
                "get": {
                    "description": "Retrieves details of an Android app permission for display to an enterprise admin.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.permissions.get",
                    "parameterOrder": [
                        "permissionId"
                    ],
                    "parameters": {
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
                            "location": "query",
                            "type": "string"
                        },
                        "permissionId": {
                            "description": "The ID of the permission.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "permissions/{permissionId}",
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "approve": {
                    "description": "Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000.\n\nTo learn how to use Google Play for Work to design and create a store layout to display approved products to your users, see Store Layout Design.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.approve",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/approve",
                    "request": {
                        "$ref": "ProductsApproveRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateApprovalUrl": {
                    "description": "Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.\n\nAdmins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.generateApprovalUrl",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "languageCode": {
                            "description": "The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance \"en-US\".",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
                    "response": {
                        "$ref": "ProductsGenerateApprovalUrlResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a product for display to an enterprise admin.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAppRestrictionsSchema": {
                    "description": "Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an administrator to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getAppRestrictionsSchema",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
                    "response": {
                        "$ref": "AppRestrictionsSchema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getPermissions": {
                    "description": "Retrieves the Android app permissions required by this app.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getPermissions",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/permissions",
                    "response": {
                        "$ref": "ProductPermissions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Finds approved products that match a query, or all approved products if there is no query.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "approved": {
                            "description": "Specifies whether to search among all products (false) or among only products that have been approved (true). Only \"true\" is supported, and should be specified.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\"). Results are returned in the language best matching the preferred language.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Specifies the maximum number of products that can be returned per request. If not specified, uses a default value of 100, which is also the maximum retrievable within a single response.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "query": {
[...]
