{
    "basePath": "",
    "baseUrl": "https://androidmanagement.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Android Management",
    "description": "The Android Management API provides remote enterprise management of Android devices and apps.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/management",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "androidmanagement:v1",
    "kind": "discovery#restDescription",
    "name": "androidmanagement",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "signupUrls": {
            "methods": {
                "create": {
                    "description": "Creates an enterprise signup URL.",
                    "httpMethod": "POST",
                    "id": "androidmanagement.signupUrls.create",
                    "parameterOrder": [],
                    "parameters": {
                        "callbackUrl": {
                            "description": "The callback URL to which the admin will be redirected after successfully\ncreating an enterprise. Before redirecting there the system will add a\nquery parameter to this URL named `enterpriseToken` which will\ncontain an opaque token to be used for the\n[create enterprise](/android/management/reference/rest/v1/enterprises/create)\nrequest. The URL will be parsed then reformatted in order to add the\n`enterpriseToken` parameter, so there may be some minor formatting changes.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The id of the Google Cloud Platform project which will own the enterprise.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/signupUrls",
                    "response": {
                        "$ref": "SignupUrl"
                    }
                }
            }
        },
        "enterprises": {
            "methods": {
                "create": {
                    "description": "Creates an enterprise by completing the enterprise signup flow.",
                    "httpMethod": "POST",
                    "id": "androidmanagement.enterprises.create",
                    "parameterOrder": [],
                    "parameters": {
                        "signupUrlName": {
                            "description": "The name of the\n[`SignupUrl`](/android/management/reference/rest/v1/signupUrls#SignupUrl)\nused to sign up for the enterprise.",
                            "location": "query",
                            "type": "string"
                        },
                        "enterpriseToken": {
                            "description": "The enterprise token appended to the callback URL.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The id of the Google Cloud Platform project which will own the enterprise.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/enterprises",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    }
                },
                "get": {
                    "description": "Gets an enterprise.",
                    "httpMethod": "GET",
                    "id": "androidmanagement.enterprises.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Enterprise"
                    }
                },
                "patch": {
                    "description": "Updates an enterprise.",
                    "httpMethod": "PATCH",
                    "id": "androidmanagement.enterprises.patch",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "updateMask": {
                            "description": "The field mask indicating the fields to update.\nIf not set, all modifiable fields will be modified.",
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                            "location": "path",
                            "pattern": "^enterprises/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    }
                }
            },
            "resources": {
                "policies": {
                    "methods": {
                        "get": {
                            "description": "Gets a policy.",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the policy in the form\n`enterprises/{enterpriseId}/policies/{policyId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Policy"
                            }
                        },
                        "list": {
                            "description": "Lists policies for a given enterprise.",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.policies.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "The requested page size. The actual page size may be fixed to a min or max\nvalue.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "A token identifying a page of results the server should return.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/policies",
                            "response": {
                                "$ref": "ListPoliciesResponse"
                            }
                        },
                        "patch": {
                            "description": "Updates or creates a policy.",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.policies.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "updateMask": {
                                    "description": "The field mask indicating the fields to update.\nIf not set, all modifiable fields will be modified.",
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the policy in the form\n`enterprises/{enterpriseId}/policies/{policyId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Policy"
                            },
                            "response": {
                                "$ref": "Policy"
                            }
                        },
                        "delete": {
                            "description": "Deletes a policy. This operation is only permitted if no devices are\ncurrently referencing the policy.",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.policies.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the policy in the form\n`enterprises/{enterpriseId}/policies/{policyId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/policies/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            }
                        }
                    }
                },
                "applications": {
                    "methods": {
                        "get": {
                            "description": "Gets info about an application.",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.applications.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "languageCode": {
                                    "description": "The preferred language for localized application info, as a BCP47 tag\n(e.g. \"en-US\", \"de\"). If not specified the default language of the\napplication will be used.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the application in the form\n`enterprises/{enterpriseId}/applications/{package_name}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/applications/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Application"
                            }
                        }
                    }
                },
                "enrollmentTokens": {
                    "methods": {
                        "create": {
                            "description": "Creates an enrollment token for a given enterprise.",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.enrollmentTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/enrollmentTokens",
                            "request": {
                                "$ref": "EnrollmentToken"
                            },
                            "response": {
                                "$ref": "EnrollmentToken"
                            }
                        },
                        "delete": {
                            "description": "Deletes an enrollment token, which prevents future use of the token.",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.enrollmentTokens.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the enrollment token in the form\n`enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/enrollmentTokens/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            }
                        }
                    }
                },
                "webTokens": {
                    "methods": {
                        "create": {
                            "description": "Creates a web token to access an embeddable managed Google Play web UI for\na given enterprise.",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.webTokens.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/webTokens",
                            "request": {
                                "$ref": "WebToken"
                            },
                            "response": {
                                "$ref": "WebToken"
                            }
                        }
                    }
                },
                "devices": {
                    "methods": {
                        "get": {
                            "description": "Gets a device.",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the device in the form\n`enterprises/{enterpriseId}/devices/{deviceId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Device"
                            }
                        },
                        "list": {
                            "description": "Lists devices for a given enterprise.",
                            "httpMethod": "GET",
                            "id": "androidmanagement.enterprises.devices.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "The requested page size. The actual page size may be fixed to a min or max\nvalue.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "description": "The name of the enterprise in the form\n`enterprises/{enterpriseId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "A token identifying a page of results the server should return.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/devices",
                            "response": {
                                "$ref": "ListDevicesResponse"
                            }
                        },
                        "issueCommand": {
                            "description": "Issues a command to a device. The\n[`Operation`](/android/management/reference/rest/v1/enterprises.devices.operations#Operation)\nresource returned contains a\n[`Command`](/android/management/reference/rest/v1/enterprises.devices/issueCommand#Command)\nin its `metadata` field.\nUse the\n[get operation method](/android/management/reference/rest/v1/enterprises.devices.operations/get)\nto get the status of the command.",
                            "httpMethod": "POST",
                            "id": "androidmanagement.enterprises.devices.issueCommand",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the device in the form\n`enterprises/{enterpriseId}/devices/{deviceId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}:issueCommand",
                            "request": {
                                "$ref": "Command"
                            },
                            "response": {
                                "$ref": "Operation"
                            }
                        },
                        "patch": {
                            "description": "Updates a device.",
                            "httpMethod": "PATCH",
                            "id": "androidmanagement.enterprises.devices.patch",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "updateMask": {
                                    "description": "The field mask indicating the fields to update.\nIf not set, all modifiable fields will be modified.",
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the device in the form\n`enterprises/{enterpriseId}/devices/{deviceId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "Device"
                            },
                            "response": {
                                "$ref": "Device"
                            }
                        },
                        "delete": {
                            "description": "Deletes a device, which causes the device to be wiped.",
                            "httpMethod": "DELETE",
                            "id": "androidmanagement.enterprises.devices.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The name of the device in the form\n`enterprises/{enterpriseId}/devices/{deviceId}`",
                                    "location": "path",
                                    "pattern": "^enterprises/[^/]+/devices/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "Empty"
                            }
                        }
                    },
                    "resources": {
                        "operations": {
                            "methods": {
                                "get": {
                                    "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the operation resource.",
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    }
                                },
                                "list": {
                                    "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                                    "httpMethod": "GET",
                                    "id": "androidmanagement.enterprises.devices.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "The standard list page size.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "filter": {
                                            "description": "The standard list filter.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the operation's parent resource.",
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "The standard list page token.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    }
                                },
                                "delete": {
                                    "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                                    "httpMethod": "DELETE",
                                    "id": "androidmanagement.enterprises.devices.operations.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the operation resource to be deleted.",
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                },
                                "cancel": {
                                    "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                                    "httpMethod": "POST",
                                    "id": "androidmanagement.enterprises.devices.operations.cancel",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the operation resource to be cancelled.",
                                            "location": "path",
                                            "pattern": "^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}:cancel",
                                    "response": {
                                        "$ref": "Empty"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20170717",
    "rootUrl": "https://androidmanagement.googleapis.com/",
    "schemas": {
        "Device": {
            "description": "A device owned by an enterprise.\nUnless otherwise noted, all fields are read-only and cannot be modified by\nan update device request.",
            "id": "Device",
            "properties": {
                "userName": {
                    "description": "The resource name of the user of the device in the form\n`enterprises/{enterpriseId}/users/{userId}`. This is the name of the\ndevice account automatically created for this device.",
                    "type": "string"
                },
                "disabledReason": {
                    "$ref": "UserFacingMessage",
                    "description": "If the device state is `DISABLED`, an optional message that is displayed on\nthe device indicating the reason the device is disabled. This field may be\nmodified by an update request."
                },
                "policyName": {
                    "description": "The name of the policy that is intended to be applied to the device. If\nempty, the policy with id `default` is applied.\nThis field may be modified by an update request.\nThe name of the policy is in the form\n`enterprises/{enterpriseId}/policies/{policyId}`.\nIt is also permissible to only specify the `policyId` when updating this\nfield as long as the `policyId` contains no slashes since the rest of the\npolicy name can be inferred from context.",
                    "type": "string"
                },
                "lastPolicyComplianceReportTime": {
                    "description": "The last time the device sent a policy compliance report.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "nonComplianceDetails": {
                    "description": "Details about policy settings for which the device is not in compliance.",
                    "items": {
                        "$ref": "NonComplianceDetail"
                    },
                    "type": "array"
                },
                "lastPolicySyncTime": {
                    "description": "The last time the device fetched its policy.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "networkInfo": {
                    "$ref": "NetworkInfo",
                    "description": "Device network information. This information is only available when\n`networkInfoEnabled` is true in the device's policy."
                },
                "appliedState": {
                    "description": "The state that is currently applied by the device.",
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The device is active.",
                        "The device is disabled.",
                        "The device was deleted. This state will never be returned by an API call,\nbut will be used in the final policy compliance report published to Cloud\nPub/Sub when the device acknowledges the deletion.",
                        "The device is being provisioned. Newly enrolled devices will be in this\nstate until they have applied policy."
                    ],
                    "type": "string"
                },
                "enrollmentTokenData": {
                    "description": "If this device was enrolled with an enrollment token with additional data\nprovided, this field contains that data.",
                    "type": "string"
                },
                "enrollmentTokenName": {
                    "description": "If this device was enrolled with an enrollment token, this field contains\nthe name of the token.",
                    "type": "string"
                },
                "memoryInfo": {
                    "$ref": "MemoryInfo",
                    "description": "Memory information. This information is only available when\n`memoryInfoEnabled` is true in the device's policy."
                },
                "state": {
                    "description": "The state that is intended to be applied to the device. This field may be\nmodified by an update request.\nNote that UpdateDevice only handles toggling between `ACTIVE` and\n`DISABLED` states. Use the\n[delete device method](/android/management/reference/rest/v1/enterprises.devices/delete)\nto cause the device to enter the `DELETED` state.",
                    "enum": [
                        "DEVICE_STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DISABLED",
                        "DELETED",
                        "PROVISIONING"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The device is active.",
                        "The device is disabled.",
                        "The device was deleted. This state will never be returned by an API call,\nbut will be used in the final policy compliance report published to Cloud\nPub/Sub when the device acknowledges the deletion.",
                        "The device is being provisioned. Newly enrolled devices will be in this\nstate until they have applied policy."
                    ],
                    "type": "string"
                },
                "softwareInfo": {
                    "$ref": "SoftwareInfo",
                    "description": "Detailed information about the device software. This information is only\navailable when `softwareInfoEnabled` is true in the device's policy."
                },
                "memoryEvents": {
                    "description": "Events related to memory and storage measurements in chronological order.\nThis information is only available when `memoryInfoEnabled` is true in the\ndevice's policy.",
                    "items": {
                        "$ref": "MemoryEvent"
                    },
                    "type": "array"
                },
                "previousDeviceNames": {
                    "description": "The previous device names used for the same physical device when it has\nbeen enrolled multiple times. The serial number is used as the unique\nidentifier to determine if the same physical device has enrolled\npreviously. The names are in chronological order.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "policyCompliant": {
                    "description": "Whether the device is compliant with its policy.",
                    "type": "boolean"
                },
                "lastStatusReportTime": {
                    "description": "The last time the device sent a status report.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the device in the form\n`enterprises/{enterpriseId}/devices/{deviceId}`",
                    "type": "string"
                },
                "hardwareStatusSamples": {
                    "description": "Hardware status samples in chronological order. This information is only\navailable when `hardwareStatusEnabled` is true in the device's policy.",
                    "items": {
                        "$ref": "HardwareStatus"
                    },
                    "type": "array"
                },
                "enrollmentTime": {
                    "description": "The time of device enrollment.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "appliedPolicyVersion": {
                    "description": "The version of the policy that is currently applied by the device.",
                    "format": "int64",
                    "type": "string"
                },
                "apiLevel": {
                    "description": "The API level of the Android platform version running on the device.",
                    "format": "int32",
                    "type": "integer"
                },
                "hardwareInfo": {
                    "$ref": "HardwareInfo",
                    "description": "Detailed information about the device hardware."
                },
                "appliedPolicyName": {
                    "description": "The name of the policy that is currently applied by the device.",
                    "type": "string"
                },
                "displays": {
                    "description": "Displays on the device. This information is only available when\n`displayInfoEnabled` is true in the device's policy.",
                    "items": {
                        "$ref": "Display"
                    },
                    "type": "array"
                },
                "powerManagementEvents": {
                    "description": "Power management events on the device in chronological order. This\ninformation is only available when `powerManagementEventsEnabled` is true\nin the device's policy.",
                    "items": {
                        "$ref": "PowerManagementEvent"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PermissionGrant": {
            "description": "Configuration for an Android permission and its grant state.",
            "id": "PermissionGrant",
            "properties": {
                "permission": {
                    "description": "The android permission, e.g. `android.permission.READ_CALENDAR`.",
                    "type": "string"
                },
                "policy": {
                    "description": "The policy for granting the permission.",
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "enumDescriptions": [
                        "Policy not specified. If no policy is specified for a permission at any\nlevel, then the `PROMPT` behavior is used by default.",
                        "Prompt the user to grant a permission.",
                        "Automatically grant a permission.",
                        "Automatically deny a permission."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Application": {
            "description": "Application information.",
            "id": "Application",
            "properties": {
                "managedProperties": {
                    "description": "The set of managed properties available to be pre-configured for the\napplication.",
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "title": {
                    "description": "The title of the application. Localized.",
                    "type": "string"
                },
                "permissions": {
                    "description": "The permissions required by the app.",
                    "items": {
                        "$ref": "ApplicationPermission"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The name of the application in the form\n`enterprises/{enterpriseId}/applications/{package_name}`",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPolicy": {
            "description": "Policy for an individual app.",
            "id": "ApplicationPolicy",
            "properties": {
                "lockTaskAllowed": {
                    "description": "Whether the application is allowed to lock itself in full-screen mode.",
                    "type": "boolean"
                },
                "permissionGrants": {
                    "description": "Explicit permission grants or denials for the app. These values override\nthe `default_permission_policy`.",
                    "items": {
                        "$ref": "PermissionGrant"
                    },
                    "type": "array"
                },
                "managedConfiguration": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "Managed configuration applied to the app. The format for the configuration\nis dictated by the\n[`ManagedProperty`](/android/management/reference/rest/v1/enterprises.applications#ManagedProperty)\nvalues supported by the app. Each field name in the managed configuration\nmust match the `key` field of the `ManagedProperty`. The field value must\nbe compatible with the `type` of the `ManagedProperty`:\n<table>\n<tr><td><i>type</i></td><td><i>JSON value</i></td></tr>\n<tr><td>`BOOL`</td><td>`true` or `false`</td></tr>\n<tr><td>`STRING`</td><td>string</td></tr>\n<tr><td>`INTEGER`</td><td>number</td></tr>\n<tr><td>`CHOICE`</td><td>string</td></tr>\n<tr><td>`MULTISELECT`</td><td>array of strings</td></tr>\n<tr><td>`HIDDEN`</td><td>string</td></tr>\n<tr><td>`BUNDLE_ARRAY`</td><td>array of objects</td></tr>\n</table>",
                    "type": "object"
                },
                "packageName": {
                    "description": "The package name of the app, e.g. `com.google.android.youtube` for the\nYouTube app.",
                    "type": "string"
                },
                "installType": {
                    "description": "The type of installation to perform.",
                    "enum": [
                        "INSTALL_TYPE_UNSPECIFIED",
                        "PREINSTALLED",
                        "FORCE_INSTALLED"
                    ],
                    "enumDescriptions": [
                        "No automatic installation is performed. Any other app policies will be\napplied if the user installs the app.",
                        "The application is automatically installed and can be removed by the\nuser.",
                        "The application is automatically installed and cannot be removed by the\nuser."
                    ],
                    "type": "string"
                },
                "defaultPermissionPolicy": {
                    "description": "The default policy for all permissions requested by the app. If specified,\nthis overrides the policy-level `default_permission_policy` which applies\nto all apps.",
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "enumDescriptions": [
                        "Policy not specified. If no policy is specified for a permission at any\nlevel, then the `PROMPT` behavior is used by default.",
                        "Prompt the user to grant a permission.",
                        "Automatically grant a permission.",
                        "Automatically deny a permission."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ApplicationPermission": {
            "description": "Application permission.",
            "id": "ApplicationPermission",
            "properties": {
                "description": {
                    "description": "A longer description of the permission, giving more details of\nwhat it affects. Localized.",
                    "type": "string"
                },
                "permissionId": {
                    "description": "An opaque string uniquely identifying the permission. Not localized.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the permission. Localized.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedProperty": {
            "description": "Managed property.",
            "id": "ManagedProperty",
            "properties": {
                "nestedProperties": {
                    "description": "For `BUNDLE_ARRAY` properties, the list of nested properties. A\n`BUNDLE_ARRAY` property is at most two levels deep.",
                    "items": {
                        "$ref": "ManagedProperty"
                    },
                    "type": "array"
                },
                "description": {
                    "description": "A longer description of the property, giving more detail of what it\naffects. Localized.",
                    "type": "string"
                },
                "defaultValue": {
                    "description": "The default value of the properties. `BUNDLE_ARRAY` properties\nnever have a default value.",
                    "type": "any"
                },
                "title": {
                    "description": "The name of the property. Localized.",
                    "type": "string"
                },
                "key": {
                    "description": "The unique key that the application uses to identify the property,\ne.g. \"com.google.android.gm.fieldname\".",
                    "type": "string"
                },
                "entries": {
                    "description": "For `CHOICE` or `MULTISELECT` properties, the list\nof possible entries.",
                    "items": {
                        "$ref": "ManagedPropertyEntry"
                    },
                    "type": "array"
                },
                "type": {
                    "description": "The type of the property.",
                    "enum": [
                        "MANAGED_PROPERTY_TYPE_UNSPECIFIED",
                        "BOOL",
                        "STRING",
                        "INTEGER",
                        "CHOICE",
                        "MULTISELECT",
                        "HIDDEN",
                        "BUNDLE_ARRAY"
                    ],
                    "enumDescriptions": [
                        "Not used.",
                        "A property of boolean type.",
                        "A property of string type.",
                        "A property of integer type.",
                        "A choice of one item from a set.",
                        "A choice of multiple items from a set.",
                        "A hidden restriction of string type (the default value can be used\nto pass along information that cannot be modified, such as a version\ncode).",
                        "An array of property bundles."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "Operation",
            "properties": {
                "error": {
                    "$ref": "Status",
                    "description": "The error result of the operation in case of failure or cancellation."
                },
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "type": "object"
                },
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetailCondition": {
            "description": "A compliance rule condition which is satisfied if there exists *any*\nmatching\n[`NonComplianceDetail`](/android/management/reference/rest/v1/enterprises.devices#NonComplianceDetail)\nfor the device. A `NonComplianceDetail` matches a\n`NonComplianceDetailCondition` if *all* the fields which are set within the\n`NonComplianceDetailCondition` match the corresponding `NonComplianceDetail`\nfields.",
            "id": "NonComplianceDetailCondition",
            "properties": {
                "nonComplianceReason": {
                    "description": "The reason the device is not in compliance with the setting. If not set,\nthen this condition matches any reason.",
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "ADMIN_TYPE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The setting is not supported in the API level of Android OS version the\ndevice is running.",
                        "The admin type (profile owner, device owner, etc.) does not support the\nsetting.",
                        "The user has not taken required action to comply with the setting.",
                        "The setting has an invalid value.",
                        "The application required to implement the policy is not installed.",
                        "The policy is not supported by the version of Android Device Policy on\nthe device.",
                        "A blocked application is installed.",
                        "The setting was not applied yet at the time of the report, but is\nexpected to be applied shortly.",
                        "The setting cannot be applied to the application because its target SDK\nversion is not high enough."
                    ],
                    "type": "string"
                },
                "settingName": {
                    "description": "The name of the policy setting. This is the JSON field name of a top-level\n[`Policy`](/android/management/reference/rest/v1/enterprises.policies#Policy)\nfield. If not set, then this condition matches any setting name.",
                    "type": "string"
                },
                "packageName": {
                    "description": "The package name indicating which application is out of compliance. If not\nset, then this condition matches any package name. If this field is set,\nthen `setting_name` must be unset or set to `applications`; otherwise, the\ncondition would never be satisfied.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NonComplianceDetail": {
            "description": "Provides detail about non-compliance with a policy setting.",
            "id": "NonComplianceDetail",
            "properties": {
                "settingName": {
                    "description": "The name of the policy setting. This is the JSON field name of a top-level\n[`Policy`](/android/management/reference/rest/v1/enterprises.policies#Policy)\n field.",
                    "type": "string"
                },
                "currentValue": {
                    "description": "If the policy setting could not be applied, the current value of the\nsetting on the device.",
                    "type": "any"
                },
                "packageName": {
                    "description": "The package name indicating which application is out of compliance, if\napplicable.",
                    "type": "string"
                },
                "installationFailureReason": {
                    "description": "If `package_name` is set and the non-compliance reason is\n`APP_NOT_INSTALLED`, the detailed reason the app cannot be installed.",
                    "enum": [
                        "INSTALLATION_FAILURE_REASON_UNSPECIFIED",
                        "INSTALLATION_FAILURE_REASON_UNKNOWN",
                        "IN_PROGRESS",
                        "NOT_FOUND",
                        "NOT_COMPATIBLE_WITH_DEVICE",
                        "NOT_APPROVED",
                        "PERMISSIONS_NOT_ACCEPTED",
                        "NOT_AVAILABLE_IN_COUNTRY",
                        "NO_LICENSES_REMAINING",
                        "NOT_ENROLLED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "An unknown condition is preventing the app from being installed. Some\npotential reaons are that the device does not have enough storage, the\ndevice network connection is unreliable, or the installation is taking\nlonger than expected. The installation will be retried automatically.",
                        "The installation is still in progress.",
                        "The app was not found in Play.",
                        "The app is incompatible with the device.",
                        "The app has not been approved by the admin.",
                        "The app has new permissions that have not been accepted by the admin.",
                        "The app is not available in the user's country.",
                        "There are no more licenses to assign to the user.",
                        "The enterprise is no longer enrolled with Play for Work or Android Device\nPolicy is not enabled for the enterprise."
                    ],
                    "type": "string"
                },
                "fieldPath": {
                    "description": "For settings with nested fields, if a particular nested field is out of\ncompliance, this specifies the full path to the offending field. The path\nis formatted in the same way the policy JSON field would be referenced in\nJavaScript, that is:\n1) For object-typed fields, the field name is followed by a dot then by a\n   subfield name.\n2) For array-typed fields, the field name is followed by the array index\n   enclosed in brackets.\nFor example, to indicate a problem with the `url` field in the\n`externalData` field in the 3rd application, the path would be\n`applications[2].externalData.url`",
                    "type": "string"
                },
                "nonComplianceReason": {
                    "description": "The reason the device is not in compliance with the setting.",
                    "enum": [
                        "NON_COMPLIANCE_REASON_UNSPECIFIED",
                        "API_LEVEL",
                        "ADMIN_TYPE",
                        "USER_ACTION",
                        "INVALID_VALUE",
                        "APP_NOT_INSTALLED",
                        "UNSUPPORTED",
                        "APP_INSTALLED",
                        "PENDING",
                        "APP_INCOMPATIBLE"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "The setting is not supported in the API level of Android OS version the\ndevice is running.",
                        "The admin type (profile owner, device owner, etc.) does not support the\nsetting.",
                        "The user has not taken required action to comply with the setting.",
                        "The setting has an invalid value.",
                        "The application required to implement the policy is not installed.",
                        "The policy is not supported by the version of Android Device Policy on\nthe device.",
                        "A blocked application is installed.",
                        "The setting was not applied yet at the time of the report, but is\nexpected to be applied shortly.",
                        "The setting cannot be applied to the application because its target SDK\nversion is not high enough."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListDevicesResponse": {
            "description": "Response to a request to list devices for a given enterprise.",
            "id": "ListDevicesResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If there are more results, a token to retrieve next page of results.",
                    "type": "string"
                },
                "devices": {
                    "description": "The list of devices.",
                    "items": {
                        "$ref": "Device"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PersistentPreferredActivity": {
            "description": "A default activity for handling intents that match a particular intent\nfilter.",
            "id": "PersistentPreferredActivity",
            "properties": {
                "receiverActivity": {
                    "description": "The activity that should be the default intent handler. This should be an\nAndroid component name, e.g. `com.android.enterprise.app/.MainActivity`.\nAlternatively, the value may be the package name of an app, which causes\nAndroid Device Policy to choose an appropriate activity from the app to\nhandle the intent.",
                    "type": "string"
                },
                "actions": {
                    "description": "The intent actions to match in the filter.  If any actions are included in\nthe filter, then an intent's action must be one of those values for it to\nmatch. If no actions are included, the intent action is ignored.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "categories": {
                    "description": "The intent categories to match in the filter.  An intent includes the\ncategories that it requires, all of which must be included in the filter in\norder to match. In other words, adding a category to the filter has no\nimpact on matching unless that category is specified in the intent.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Policy": {
            "description": "A policy, which governs behavior for a device.",
            "id": "Policy",
            "properties": {
                "openNetworkConfiguration": {
                    "additionalProperties": {
                        "description": "Properties of the object.",
                        "type": "any"
                    },
                    "description": "Network configuration for the device. See\n[configure networks](/android/management/configure-networks)\nfor more information.",
                    "type": "object"
                },
                "adjustVolumeDisabled": {
                    "description": "Whether adjusting the master volume is disabled.",
                    "type": "boolean"
                },
                "passwordRequirements": {
                    "$ref": "PasswordRequirements",
                    "description": "Password requirements."
                },
                "modifyAccountsDisabled": {
                    "description": "Whether adding or removing accounts is disabled.",
                    "type": "boolean"
                },
                "statusReportingSettings": {
                    "$ref": "StatusReportingSettings",
                    "description": "Status reporting settings"
                },
                "factoryResetDisabled": {
                    "description": "Whether factory resetting from settings is disabled.",
                    "type": "boolean"
                },
                "applications": {
                    "description": "Policy applied to apps.",
                    "items": {
                        "$ref": "ApplicationPolicy"
                    },
                    "type": "array"
                },
                "safeBootDisabled": {
                    "description": "Whether rebooting the device into safe boot is disabled.",
                    "type": "boolean"
                },
                "complianceRules": {
                    "description": "Rules declaring which mitigating actions to take when a device is not\ncompliant with its policy. When the conditions for multiple rules are\nsatisfied, all of the mitigating actions for the rules are taken. There is\na maximum limit of 100 rules.",
                    "items": {
                        "$ref": "ComplianceRule"
                    },
                    "type": "array"
                },
                "unmuteMicrophoneDisabled": {
                    "description": "Whether the microphone is muted and adjusting microphone volume is\ndisabled.",
                    "type": "boolean"
                },
                "installUnknownSourcesAllowed": {
                    "description": "Whether the user is allowed to enable the \"Unknown Sources\" setting,\nwhich allows installation of apps from unknown sources.",
                    "type": "boolean"
                },
                "removeUserDisabled": {
                    "description": "Whether removing other users is disabled.",
                    "type": "boolean"
                },
                "statusBarDisabled": {
                    "description": "Whether the status bar is disabled. This disables notifications, quick\nsettings and other screen overlays that allow escape from full-screen mode.",
                    "type": "boolean"
                },
                "stayOnPluggedModes": {
                    "description": "The battery plugged in modes for which the device stays on. When using this\nsetting, it is recommended to clear `maximum_time_to_lock` so that the\ndevice doesn't lock itself while it stays on.",
                    "enumDescriptions": [
                        "This value is ignored.",
                        "Power source is an AC charger.",
                        "Power source is a USB port.",
                        "Power source is wireless."
                    ],
                    "items": {
                        "enum": [
                            "BATTERY_PLUGGED_MODE_UNSPECIFIED",
                            "AC",
                            "USB",
                            "WIRELESS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "cameraDisabled": {
                    "description": "Whether all cameras on the device are disabled.",
                    "type": "boolean"
                },
                "blockApplicationsEnabled": {
                    "description": "Whether applications other than the ones configured in `applications` are\nblocked from being installed. When set, applications that were\ninstalled under a previous policy but no longer appear in the policy are\nautomatically uninstalled.",
                    "type": "boolean"
                },
                "debuggingFeaturesAllowed": {
                    "description": "Whether the user is allowed to enable debugging features.",
                    "type": "boolean"
                },
                "maximumTimeToLock": {
                    "description": "Maximum time in milliseconds for user activity until the device will lock.\nA value of 0 means there is no restriction.",
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the policy in the form\n`enterprises/{enterpriseId}/policies/{policyId}`",
                    "type": "string"
                },
                "defaultPermissionPolicy": {
                    "description": "The default permission policy for requests for runtime permissions.",
                    "enum": [
                        "PERMISSION_POLICY_UNSPECIFIED",
                        "PROMPT",
                        "GRANT",
                        "DENY"
                    ],
                    "enumDescriptions": [
                        "Policy not specified. If no policy is specified for a permission at any\nlevel, then the `PROMPT` behavior is used by default.",
                        "Prompt the user to grant a permission.",
                        "Automatically grant a permission.",
                        "Automatically deny a permission."
                    ],
                    "type": "string"
                },
                "persistentPreferredActivities": {
                    "description": "Default intent handler activities.",
                    "items": {
                        "$ref": "PersistentPreferredActivity"
                    },
                    "type": "array"
                },
                "networkEscapeHatchEnabled": {
                    "description": "Flag to specify if network escape hatch is enabled. If this flag has been\nenabled then upon device boot if device has no network connection, then an\nactivity will be shown that allows the user to temporarily connect to a\nnetwork to fetch the latest policy. The launched activity will time out if\nno network has been connected for a given while and will return to the\nprevious activity that was shown.",
                    "type": "boolean"
                },
                "systemUpdate": {
                    "$ref": "SystemUpdate",
                    "description": "The system update policy, which controls how OS updates are applied. If the\nupdate type is `WINDOWED` and the device has a device account, the update\nwindow will automatically apply to Play app updates as well."
                },
                "frpAdminEmails": {
                    "description": "Email addresses of device administrators for factory reset protection.\nWhen the device is factory reset, it will require one of these admins to\nlog in with the Google account email and password to unlock the device.\nIf no admins are specified, the device will not provide factory reset\nprotection.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "version": {
                    "description": "The version of the policy. This is a read-only field. The version is\nincremented each time the policy is updated.",
                    "format": "int64",
                    "type": "string"
                },
                "screenCaptureDisabled": {
                    "description": "Whether screen capture is disabled.",
                    "type": "boolean"
                },
                "keyguardDisabled": {
                    "description": "Whether the keyguard is disabled.",
                    "type": "boolean"
                },
                "addUserDisabled": {
                    "description": "Whether adding new users and profiles is disabled.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Command": {
            "description": "A command.",
            "id": "Command",
            "properties": {
                "duration": {
                    "description": "The duration for which the command is valid. The command will expire if not\nexecuted by the device during this time.  The default duration if\nunspecified is ten minutes. There is no maximum duration.",
                    "format": "google-duration",
                    "type": "string"
                },
                "newPassword": {
                    "description": "For commands of type `RESET_PASSWORD`, optionally specifies the new\npassword.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the command.",
                    "enum": [
                        "COMMAND_TYPE_UNSPECIFIED",
                        "LOCK",
                        "RESET_PASSWORD",
                        "REBOOT"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "Lock the device, as if the lock screen timeout had expired.",
                        "Reset the user's password.",
                        "Reboot the device. Only supported on API level 24+."
                    ],
                    "type": "string"
                },
                "createTime": {
                    "description": "The timestamp at which the command was created. The timestamp is\nautomatically generated by the server.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "resetPasswordFlags": {
                    "description": "For commands of type `RESET_PASSWORD`, optionally specifies flags.",
                    "enumDescriptions": [
                        "This value is ignored.",
                        "Don't allow other admins to change the password again until the user has\nentered it.",
                        "Don't ask for user credentials on device boot."
                    ],
                    "items": {
                        "enum": [
                            "RESET_PASSWORD_FLAG_UNSPECIFIED",
                            "REQUIRE_ENTRY",
                            "DO_NOT_ASK_CREDENTIALS_ON_BOOT"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ComplianceRule": {
            "description": "A rule declaring which mitigating actions to take when a device is not\ncompliant with its policy. For every rule, there is always an implicit\nmitigating action to set `policy_compliant` to false for the\n[`Device`](/android/management/reference/rest/v1/enterprises.devices#Device)\nresource, and display a message on the device indicating that the device is\nnot compliant with its policy. Other mitigating actions may optionally be\ntaken as well, depending on the field values in the rule.",
            "id": "ComplianceRule",
            "properties": {
                "nonComplianceDetailCondition": {
                    "$ref": "NonComplianceDetailCondition",
                    "description": "A condition which is satisfied if there exists *any* matching\n[`NonComplianceDetail`](/android/management/reference/rest/v1/enterprises.devices#NonComplianceDetail)\nfor the device."
                },
                "disableApps": {
                    "description": "If set to true, the rule includes a mitigating action to disable\napplications so that the device is effectively disabled, but application\ndata is preserved. If the device is running an app in locked task mode, the\napp will be closed and a UI showing the reason for non-compliance will be\ndisplayed.",
                    "type": "boolean"
                },
                "apiLevelCondition": {
                    "$ref": "ApiLevelCondition",
                    "description": "A condition which is satisfied if the Android Framework API level on the\ndevice does not meet a minimum requirement."
                }
            },
            "type": "object"
        },
        "ListPoliciesResponse": {
            "description": "Response to a request to list policies for a given enterprise.",
            "id": "ListPoliciesResponse",
            "properties": {
                "policies": {
                    "description": "The list of policies.",
                    "items": {
                        "$ref": "Policy"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "If there are more results, a token to retrieve next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StatusReportingSettings": {
            "description": "Settings controlling the behavior of status reports.",
            "id": "StatusReportingSettings",
            "properties": {
                "displayInfoEnabled": {
                    "description": "Whether displays reporting is enabled.",
                    "type": "boolean"
                },
                "hardwareStatusEnabled": {
                    "description": "Whether hardware status reporting is enabled.",
                    "type": "boolean"
                },
                "softwareInfoEnabled": {
                    "description": "Whether software info reporting is enabled.",
                    "type": "boolean"
                },
                "memoryInfoEnabled": {
                    "description": "Whether memory info reporting is enabled.",
                    "type": "boolean"
                },
                "powerManagementEventsEnabled": {
                    "description": "Whether power management event reporting is enabled.",
                    "type": "boolean"
                },
                "networkInfoEnabled": {
                    "description": "Whether network info reporting is enabled.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Display": {
            "description": "Device display information.",
            "id": "Display",
            "properties": {
                "refreshRate": {
                    "description": "Refresh rate of the display in frames per second.",
                    "format": "int32",
                    "type": "integer"
                },
                "state": {
                    "description": "State of the display.",
                    "enum": [
                        "DISPLAY_STATE_UNSPECIFIED",
                        "OFF",
                        "ON",
                        "DOZE",
                        "SUSPENDED"
                    ],
                    "enumDescriptions": [
                        "This value is disallowed.",
                        "Display is off.",
                        "Display is on.",
                        "Display is dozing in a low power state",
                        "Display is dozing in a suspended low power state."
                    ],
                    "type": "string"
                },
                "width": {
                    "description": "Display width in pixels.",
                    "format": "int32",
                    "type": "integer"
                },
                "displayId": {
                    "description": "Unique display id.",
                    "format": "int32",
                    "type": "integer"
                },
                "name": {
                    "description": "Name of the display.",
                    "type": "string"
                },
                "density": {
                    "description": "Display density expressed as dots-per-inch.",
                    "format": "int32",
                    "type": "integer"
                },
                "height": {
                    "description": "Display height in pixels.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SignupUrl": {
            "description": "An enterprise signup URL.",
            "id": "SignupUrl",
            "properties": {
                "url": {
                    "description": "A URL under which the Admin can sign up for an enterprise.\nThe page pointed to cannot be rendered in an iframe.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the resource. This must be included in the\n[create enterprise](/android/management/reference/rest/v1/enterprises/create)\nrequest at the end of the signup flow.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnrollmentToken": {
            "description": "An enrollment token.",
            "id": "EnrollmentToken",
            "properties": {
                "expirationTimestamp": {
                    "description": "The expiration time of the token. This is a read-only field generated by\nthe server.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "policyName": {
                    "description": "The name of the policy that will be initially applied to the enrolled\ndevice in the form `enterprises/{enterpriseId}/policies/{policyId}`.\nIf not specified, the policy with id `default` is applied.\nIt is permissible to only specify the `policyId` when updating this\nfield as long as the `policyId` contains no slashes since the rest of the\npolicy name can be inferred from context.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the enrollment token, which is generated by the server during\ncreation, in the form\n`enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}`",
                    "type": "string"
                },
                "duration": {
                    "description": "The duration of the token. If not specified, the duration will be 1 hour.\nThe allowed range is 1 minute to 30 days.",
                    "format": "google-duration",
                    "type": "string"
                },
                "value": {
                    "description": "The token value which is passed to the device and authorizes the device to\nenroll. This is a read-only field generated by the server.",
                    "type": "string"
                },
                "additionalData": {
                    "description": "Optional, arbitrary data associated with the enrollment token.\nThis could contain, for example, the id of an org unit to which the device\nis assigned after enrollment.\nAfter a device enrolls with the token, this data will be exposed in the\n`enrollment_token_data` field of the\n[`Device`](/android/management/reference/rest/v1/enterprises.devices#Device)\nresource. The data must be 1024 characters or less; otherwise, the creation\nrequest will fail.",
                    "type": "string"
                },
                "qrCode": {
                    "description": "A JSON string whose UTF-8 representation can be used to generate a QR code\nto enroll a device with this enrollment token. To enroll a device using\nNFC, the NFC record must contain a serialized `java.util.Properties`\nrepresentation of the properties in the JSON.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SoftwareInfo": {
            "description": "Information about device software.",
            "id": "SoftwareInfo",
            "properties": {
                "androidVersion": {
                    "description": "The user visible Android version string, e.g. `6.0.1`.",
                    "type": "string"
                },
                "androidBuildNumber": {
                    "description": "Android build Id string meant for displaying to the user,\ne.g. `shamu-userdebug 6.0.1 MOB30I 2756745 dev-keys`.",
                    "type": "string"
                },
                "androidBuildTime": {
                    "description": "Build time.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "bootloaderVersion": {
                    "description": "The system bootloader version number, e.g. `0.6.7`.",
                    "type": "string"
                },
                "securityPatchLevel": {
                    "description": "Security patch level, e.g. `2016-05-01`.",
                    "type": "string"
                },
                "deviceKernelVersion": {
                    "description": "Kernel version, e.g. `2.6.32.9-g103d848`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManagedPropertyEntry": {
            "description": "An entry of a managed property.",
            "id": "ManagedPropertyEntry",
            "properties": {
                "value": {
                    "description": "The machine-readable value of the entry, which should be used in the\nconfiguration. Not localized.",
                    "type": "string"
                },
                "name": {
                    "description": "The human-readable name of the value. Localized.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WebToken": {
            "description": "A web token used to access an embeddable managed Google Play web UI.",
            "id": "WebToken",
            "properties": {
                "value": {
                    "description": "The token value which is used in the hosting page to generate the iframe\nwith the embedded UI. This is a read-only field generated by the server.",
                    "type": "string"
                },
                "permissions": {
                    "description": "Permissions the admin may exercise in the embedded UI. The admin must have\nall of these permissions in order to view the UI.",
                    "enumDescriptions": [
                        "This value is ignored.",
                        "The permission to approve apps for the enterprise."
                    ],
                    "items": {
                        "enum": [
                            "WEB_TOKEN_PERMISSION_UNSPECIFIED",
                            "APPROVE_APPS"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The name of the web token, which is generated by the server during\ncreation, in the form\n`enterprises/{enterpriseId}/webTokens/{webTokenId}`.",
                    "type": "string"
                },
                "parentFrameUrl": {
                    "description": "The URL of the parent frame hosting the iframe with the embedded UI. To\nprevent XSS, the iframe may not be hosted at other URLs. The URL must use\nthe https scheme.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Enterprise": {
            "description": "The configuration applied to an enterprise.",
            "id": "Enterprise",
            "properties": {
                "pubsubTopic": {
                    "description": "When Cloud Pub/Sub notifications are enabled, this field is required to\nindicate the topic to which the notifications will be published. The format\nof this field is `projects/{project}/topics/{topic}`. You must have granted\nthe publish permission on this topic to\nandroid-cloud-policy@system.gserviceaccount.com",
                    "type": "string"
                },
                "logo": {
                    "$ref": "ExternalData",
                    "description": "An image displayed as a logo during device provisioning. Supported types\nare: image/bmp, image/gif, image/x-ico, image/jpeg, image/png, image/webp,\nimage/vnd.wap.wbmp, image/x-adobe-dng."
                },
                "enabledNotificationTypes": {
                    "description": "The notification types to enable via Google Cloud Pub/Sub.",
                    "enumDescriptions": [
                        "This value is ignored.",
                        "A notification sent when a device enrolls.",
                        "A notification sent when a device issues a policy compliance report.",
                        "A notification sent when a device issues a status report.",
                        "A notification sent when a device command has completed."
                    ],
                    "items": {
                        "enum": [
                            "NOTIFICATION_TYPE_UNSPECIFIED",
                            "ENROLLMENT",
                            "COMPLIANCE_REPORT",
                            "STATUS_REPORT",
                            "COMMAND"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The name of the enterprise which is generated by the server during\ncreation, in the form\n`enterprises/{enterpriseId}`",
                    "type": "string"
                },
                "primaryColor": {
                    "description": "A color in RGB format indicating the predominant color to display in the\ndevice management app UI. The color components are stored as follows:\n`(red << 16) | (green << 8) | blue`, where each component may take a value\nbetween 0 and 255 inclusive.",
                    "format": "int32",
                    "type": "integer"
                },
                "appAutoApprovalEnabled": {
                    "description": "Whether app auto-approval is enabled. When enabled, apps installed via\npolicy for this enterprise have all permissions automatically approved.\nWhen enabled, it is the caller's responsibility to display the permissions\nrequired by an app to the enterprise admin before setting the app to be\ninstalled in a policy.",
                    "type": "boolean"
                },
                "enterpriseDisplayName": {
                    "description": "The name of the enterprise as it will appear to users.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "The response message for Operations.ListOperations.",
            "id": "ListOperationsResponse",
            "properties": {
[...]
