{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/androidenterprise": {
                    "description": "Manage corporate Android devices"
                }
            }
        }
    },
    "basePath": "/androidenterprise/v1/",
    "baseUrl": "https://www.googleapis.com/androidenterprise/v1/",
    "batchPath": "batch",
    "canonicalName": "Android Enterprise",
    "description": "Allows MDMs/EMMs and enterprises to manage the deployment of apps to Android for Work users.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/android/work/play/emm-api",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/Is5ylelsw5UqvuGXXB6cSzQKB_A\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/android-16.png",
        "x32": "https://www.google.com/images/icons/product/android-32.png"
    },
    "id": "androidenterprise:v1",
    "kind": "discovery#restDescription",
    "name": "androidenterprise",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "collections": {
            "methods": {
                "delete": {
                    "description": "Deletes a collection.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.collections.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the details of a collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collections.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Creates a new collection.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.collections.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of all the collections for an enterprise.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collections.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections",
                    "response": {
                        "$ref": "CollectionsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Updates a collection. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.collections.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Updates a collection.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.collections.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}",
                    "request": {
                        "$ref": "Collection"
                    },
                    "response": {
                        "$ref": "Collection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "collectionviewers": {
            "methods": {
                "delete": {
                    "description": "Removes the user from the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.collectionviewers.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the ID of the user if they have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collectionviewers.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of the users who have been specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only these users will see the collection.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.collectionviewers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users",
                    "response": {
                        "$ref": "CollectionViewersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.collectionviewers.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds the user to the list of those specifically allowed to see the collection. If the collection's visibility is set to viewersOnly then only such users will see the collection.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.collectionviewers.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "collectionId",
                        "userId"
                    ],
                    "parameters": {
                        "collectionId": {
                            "description": "The ID of the collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/collections/{collectionId}/users/{userId}",
                    "request": {
                        "$ref": "User"
                    },
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "devices": {
            "methods": {
                "get": {
                    "description": "Retrieves the details of a device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
                    "response": {
                        "$ref": "Device"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getState": {
                    "description": "Retrieves whether a device is enabled or disabled for access by the user to Google services. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.getState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the IDs of all of a user's devices.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.devices.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices",
                    "response": {
                        "$ref": "DevicesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setState": {
                    "description": "Sets whether a device is enabled or disabled for access by the user to Google services. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.devices.setState",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
                    "request": {
                        "$ref": "DeviceState"
                    },
                    "response": {
                        "$ref": "DeviceState"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "enterprises": {
            "methods": {
                "delete": {
                    "description": "Deletes the binding between the MDM and enterprise. This is now deprecated; use this to unenroll customers that were previously enrolled with the 'insert' call, then enroll them again with the 'enroll' call.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.enterprises.delete",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "enroll": {
                    "description": "Enrolls an enterprise with the calling MDM.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.enroll",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "description": "The token provided by the enterprise to register the MDM.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/enroll",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves the name and domain of an enterprise.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.get",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}",
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getStoreLayout": {
                    "description": "Returns the store layout resource.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.getStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Establishes the binding between the MDM and an enterprise. This is now deprecated; use enroll instead.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.insert",
                    "parameterOrder": [
                        "token"
                    ],
                    "parameters": {
                        "token": {
                            "description": "The token provided by the enterprise to register the MDM.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises",
                    "request": {
                        "$ref": "Enterprise"
                    },
                    "response": {
                        "$ref": "Enterprise"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Looks up an enterprise by domain name.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.enterprises.list",
                    "parameterOrder": [
                        "domain"
                    ],
                    "parameters": {
                        "domain": {
                            "description": "The exact primary domain name of the enterprise to look up.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises",
                    "response": {
                        "$ref": "EnterprisesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "sendTestPushNotification": {
                    "description": "Sends a test push notification to validate the MDM integration with the Google Cloud Pub/Sub service for this enterprise.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.sendTestPushNotification",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/sendTestPushNotification",
                    "response": {
                        "$ref": "EnterprisesSendTestPushNotificationResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAccount": {
                    "description": "Set the account that will be used to authenticate to the API as the enterprise.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setAccount",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/account",
                    "request": {
                        "$ref": "EnterpriseAccount"
                    },
                    "response": {
                        "$ref": "EnterpriseAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setStoreLayout": {
                    "description": "Sets the store layout resource.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.enterprises.setStoreLayout",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout",
                    "request": {
                        "$ref": "StoreLayout"
                    },
                    "response": {
                        "$ref": "StoreLayout"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "unenroll": {
                    "description": "Unenrolls an enterprise from the calling MDM.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.enterprises.unenroll",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/unenroll",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "entitlements": {
            "methods": {
                "delete": {
                    "description": "Removes an entitlement to an app for a user and uninstalls it.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.entitlements.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of an entitlement.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "List of all entitlements for the specified user. Only the ID is set.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.entitlements.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements",
                    "response": {
                        "$ref": "EntitlementsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Adds or updates an entitlement to an app for a user. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.entitlements.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Adds or updates an entitlement to an app for a user.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.entitlements.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "entitlementId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "entitlementId": {
                            "description": "The ID of the entitlement, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "install": {
                            "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
                    "request": {
                        "$ref": "Entitlement"
                    },
                    "response": {
                        "$ref": "Entitlement"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenses": {
            "methods": {
                "get": {
                    "description": "Retrieves details of an enterprise's group license for a product.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
                    "response": {
                        "$ref": "GroupLicense"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves IDs of all products for which the enterprise has a group license.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenses.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses",
                    "response": {
                        "$ref": "GroupLicensesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "grouplicenseusers": {
            "methods": {
                "list": {
                    "description": "Retrieves the IDs of the users who have been granted entitlements under the license.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.grouplicenseusers.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "groupLicenseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "groupLicenseId": {
                            "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users",
                    "response": {
                        "$ref": "GroupLicenseUsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "installs": {
            "methods": {
                "delete": {
                    "description": "Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.installs.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of an installation of an app on a device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the details of all apps installed on the specified device.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.installs.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
                    "response": {
                        "$ref": "InstallsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.installs.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Requests to install the latest version of an app to a device. If the app is already installed then it is updated to the latest version if necessary.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.installs.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId",
                        "deviceId",
                        "installId"
                    ],
                    "parameters": {
                        "deviceId": {
                            "description": "The Android ID of the device.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "installId": {
                            "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
                    "request": {
                        "$ref": "Install"
                    },
                    "response": {
                        "$ref": "Install"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "permissions": {
            "methods": {
                "get": {
                    "description": "Retrieves details of an Android app permission for display to an enterprise admin.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.permissions.get",
                    "parameterOrder": [
                        "permissionId"
                    ],
                    "parameters": {
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
                            "location": "query",
                            "type": "string"
                        },
                        "permissionId": {
                            "description": "The ID of the permission.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "permissions/{permissionId}",
                    "response": {
                        "$ref": "Permission"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "approve": {
                    "description": "Approves the specified product (and the relevant app permissions, if any).",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.approve",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/approve",
                    "request": {
                        "$ref": "ProductsApproveRequest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "generateApprovalUrl": {
                    "description": "Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.\n\nAdmins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.products.generateApprovalUrl",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "languageCode": {
                            "description": "The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance \"en-US\".",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
                    "response": {
                        "$ref": "ProductsGenerateApprovalUrlResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a product for display to an enterprise admin.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAppRestrictionsSchema": {
                    "description": "Retrieves the schema defining app restrictions configurable for this product. All products have a schema, but this may be empty if no app restrictions are defined.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getAppRestrictionsSchema",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "language": {
                            "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").",
                            "location": "query",
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
                    "response": {
                        "$ref": "AppRestrictionsSchema"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getPermissions": {
                    "description": "Retrieves the Android app permissions required by this app.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.products.getPermissions",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/permissions",
                    "response": {
                        "$ref": "ProductPermissions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "updatePermissions": {
                    "description": "Updates the set of Android app permissions for this app that have been accepted by the enterprise.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.products.updatePermissions",
                    "parameterOrder": [
                        "enterpriseId",
                        "productId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/products/{productId}/permissions",
                    "request": {
                        "$ref": "ProductPermissions"
                    },
                    "response": {
                        "$ref": "ProductPermissions"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutclusters": {
            "methods": {
                "delete": {
                    "description": "Deletes a cluster.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutclusters.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "description": "The ID of the cluster.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a cluster.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "description": "The ID of the cluster.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Inserts a new cluster in a page.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutclusters.insert",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the details of all clusters on the specified page.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutclusters.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
                    "response": {
                        "$ref": "StoreLayoutClustersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Updates a cluster. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.storelayoutclusters.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "description": "The ID of the cluster.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Updates a cluster.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutclusters.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId",
                        "clusterId"
                    ],
                    "parameters": {
                        "clusterId": {
                            "description": "The ID of the cluster.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
                    "request": {
                        "$ref": "StoreCluster"
                    },
                    "response": {
                        "$ref": "StoreCluster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "storelayoutpages": {
            "methods": {
                "delete": {
                    "description": "Deletes a store page.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.storelayoutpages.delete",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves details of a store page.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "insert": {
                    "description": "Inserts a new store page.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.storelayoutpages.insert",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Retrieves the details of all pages in the store.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.storelayoutpages.list",
                    "parameterOrder": [
                        "enterpriseId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages",
                    "response": {
                        "$ref": "StoreLayoutPagesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "patch": {
                    "description": "Updates the content of a store page. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "androidenterprise.storelayoutpages.patch",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "update": {
                    "description": "Updates the content of a store page.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.storelayoutpages.update",
                    "parameterOrder": [
                        "enterpriseId",
                        "pageId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "description": "The ID of the page.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
                    "request": {
                        "$ref": "StorePage"
                    },
                    "response": {
                        "$ref": "StorePage"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "generateToken": {
                    "description": "Generates a token (activation code) to allow this user to configure their work account in the Android Setup Wizard. Revokes any previously generated token.",
                    "httpMethod": "POST",
                    "id": "androidenterprise.users.generateToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/token",
                    "response": {
                        "$ref": "UserToken"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "get": {
                    "description": "Retrieves a user's details.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.get",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "getAvailableProductSet": {
                    "description": "Retrieves the set of products a user is entitled to access.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.getAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "list": {
                    "description": "Looks up a user by email address. This only works for Google managed users.",
                    "httpMethod": "GET",
                    "id": "androidenterprise.users.list",
                    "parameterOrder": [
                        "enterpriseId",
                        "email"
                    ],
                    "parameters": {
                        "email": {
                            "description": "The exact primary email address of the user to look up.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users",
                    "response": {
                        "$ref": "UsersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "revokeToken": {
                    "description": "Revokes a previously generated token (activation code) for the user.",
                    "httpMethod": "DELETE",
                    "id": "androidenterprise.users.revokeToken",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/token",
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                },
                "setAvailableProductSet": {
                    "description": "Modifies the set of products a user is entitled to access.",
                    "httpMethod": "PUT",
                    "id": "androidenterprise.users.setAvailableProductSet",
                    "parameterOrder": [
                        "enterpriseId",
                        "userId"
                    ],
                    "parameters": {
                        "enterpriseId": {
                            "description": "The ID of the enterprise.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "description": "The ID of the user.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "enterprises/{enterpriseId}/users/{userId}/availableProductSet",
                    "request": {
                        "$ref": "ProductSet"
                    },
                    "response": {
                        "$ref": "ProductSet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/androidenterprise"
                    ]
                }
            }
        }
    },
    "revision": "20151215",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AppRestrictionsSchema": {
            "description": "Represents the list of app restrictions available to be pre-configured for the product.",
            "id": "AppRestrictionsSchema",
            "properties": {
                "kind": {
                    "default": "androidenterprise#appRestrictionsSchema",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"androidenterprise#appRestrictionsSchema\".",
                    "type": "string"
                },
                "restrictions": {
                    "description": "The set of restrictions that make up this schema.",
                    "items": {
                        "$ref": "AppRestrictionsSchemaRestriction"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchemaRestriction": {
            "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
            "id": "AppRestrictionsSchemaRestriction",
            "properties": {
                "defaultValue": {
                    "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue",
                    "description": "The default value of the restriction."
                },
                "description": {
                    "description": "A longer description of the restriction, giving more detail of what it affects.",
                    "type": "string"
                },
                "entry": {
                    "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "entryValue": {
                    "description": "For choice or multiselect restrictions, the list of possible entries' machine-readable values.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "key": {
                    "description": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\".",
                    "type": "string"
                },
                "restrictionType": {
                    "description": "The type of the restriction.",
                    "type": "string"
                },
                "title": {
                    "description": "The name of the restriction.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AppRestrictionsSchemaRestrictionRestrictionValue": {
            "description": "A typed value for the restriction.",
            "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
            "properties": {
                "type": {
                    "description": "The type of the value being provided.",
                    "type": "string"
                },
                "valueBool": {
                    "description": "The boolean value - this will only be present if type is bool.",
                    "type": "boolean"
                },
                "valueInteger": {
                    "description": "The integer value - this will only be present if type is integer.",
                    "format": "int32",
                    "type": "integer"
                },
                "valueMultiselect": {
                    "description": "The list of string values - this will only be present if type is multiselect.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "valueString": {
[...]
