{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://apigee.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Apigee",
    "description": "The Apigee API lets you programmatically manage Apigee hybrid with a set of RESTful operations, including:<ul>  <li>Create, edit, and delete API proxies</li>  <li>Manage users</li>  <li>Deploy and undeploy proxy revisions</li>  <li>Configure environments</li></ul><p>For information on using the APIs described in this section, see <a href=\"docs.apigee.com/hybrid/latest/api-get-started\">Get started using the APIs</a>.</p><p><strong>Note:</strong> This product is available as a free trial for a time period of 60 days.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/apigee-api-management/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "apigee:v1",
    "kind": "discovery#restDescription",
    "name": "apigee",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "hybrid": {
            "resources": {
                "issuers": {
                    "methods": {
                        "list": {
                            "description": "Lists hybrid services and its trusted issuers service account ids.\nThis api is authenticated and unauthorized(allow all the users) and used by\nruntime authn-authz service to query control plane's issuer service account\nids.",
                            "httpMethod": "GET",
                            "id": "apigee.hybrid.issuers.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Must be of the form `hybrid/issuers`.",
                                    "location": "path",
                                    "pattern": "^hybrid/issuers$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "organizations": {
            "methods": {
                "create": {
                    "description": "Creates an Apigee organization. See\n[Create an\norganization](https://docs.apigee.com/hybrid/latest/precog-provision).",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.create",
                    "parameterOrder": [],
                    "parameters": {
                        "parent": {
                            "description": "Required. Name of the GCP project in which to associate the Apigee organization.\nPass the information as a query parameter using the following structure\nin your request:\n  `projects/<project>`",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/organizations",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleLongrunningOperation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Gets the profile for an Apigee organization.\nSee\n[Organizations](https://docs.apigee.com/hybrid/latest/terminology#organizations).",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "Required. Apigee organization name in the following format:\n  `organizations/{org}`",
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "description": "Updates the properties for an Apigee organization. No other fields in the\norganization profile will be updated.",
                    "httpMethod": "PUT",
                    "id": "apigee.organizations.update",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "Required. Apigee organization name in the following format:\n  `organizations/{org}`",
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1Organization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getSyncAuthorization": {
                    "description": "Lists the service accounts with the permissions required to allow\nthe Synchronizer to download environment data from the control plane.\n\nAn ETag is returned in the response to `getSyncAuthorization`.\nPass that ETag when calling [setSyncAuthorization](setSyncAuthorization)\nto ensure that you are updating the correct version. If you don't pass the\nETag in the call to `setSyncAuthorization`, then the existing authorization\nis overwritten indiscriminately.\n\nFor more information, see\n[Enable Synchronizer\naccess](https://docs.apigee.com/hybrid/latest/synchronizer-access#enable-synchronizer-access).\n\n**Note**: Available to Apigee hybrid only.",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.getSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "Required. Name of the Apigee organization. Use the following structure in your\nrequest:\n `organizations/{org}`",
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:getSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "setSyncAuthorization": {
                    "description": "Sets the permissions required to allow the Synchronizer to download\nenvironment data from the control plane. You must call this API to enable\nproper functioning of hybrid.\n\nPass the ETag when calling `setSyncAuthorization` to ensure that\nyou are updating the correct version. To get an ETag,\ncall [getSyncAuthorization](getSyncAuthorization).\nIf you don't pass the ETag in the call to `setSyncAuthorization`, then the\nexisting authorization is overwritten indiscriminately.\n\nFor more information, see\n[Enable Synchronizer\naccess](https://docs.apigee.com/hybrid/latest/synchronizer-access#enable-synchronizer-access).\n\n**Note**: Available to Apigee hybrid only.",
                    "httpMethod": "POST",
                    "id": "apigee.organizations.setSyncAuthorization",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "Required. Name of the Apigee organization. Use the following structure in your\nrequest:\n `organizations/{org}`",
                            "location": "path",
                            "pattern": "^organizations/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}:setSyncAuthorization",
                    "request": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "response": {
                        "$ref": "GoogleCloudApigeeV1SyncAuthorization"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "description": "Lists the Apigee organizations and associated GCP projects that you have\npermission to access. See\n[Organizations](https://docs.apigee.com/hybrid/latest/terminology#organizations).",
                    "httpMethod": "GET",
                    "id": "apigee.organizations.list",
                    "parameterOrder": [
                        "parent"
                    ],
                    "parameters": {
                        "parent": {
                            "description": "Required. Use the following structure in your request:\n  `organizations`",
                            "location": "path",
                            "pattern": "^organizations$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+parent}",
                    "response": {
                        "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "environments": {
                    "methods": {
                        "updateEnvironment": {
                            "description": "Updates an existing environment.\n\nWhen updating properties, you must pass all existing properties to the API,\neven if they are not being changed. If you omit properties from the\npayload, the properties are removed. To get the current list of\nproperties for the environment, use the [Get Environment API](get).",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.updateEnvironment",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the environment. Use the following structure in your request:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "create": {
                            "description": "Creates an environment in an organization.",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.create",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. Name of the organization in which the environment will\nbe created. Use the following structure in your request:\n `organizations/{org}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Optional. Name of the environment. Alternatively, the name may\nbe specified in the request body in the\nenvironment_id field.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}/environments",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "unsubscribe": {
                            "description": "Deletes a subscription for the environment's Pub/Sub topic.",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.unsubscribe",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. Name of the environment. Use the following structure in your request:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:unsubscribe",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Subscription"
                            },
                            "response": {
                                "$ref": "GoogleProtobufEmpty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Gets environment details.",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.environments.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the environment. Use the following structure in your request:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "subscribe": {
                            "description": "Creates a subscription for the environment's Pub/Sub topic.\nThe server will assign a random name for this subscription.\nThe \"name\" and \"push_config\" must *not* be specified.",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.subscribe",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required. Name of the environment. Use the following structure in your request:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+parent}:subscribe",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Subscription"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "testIamPermissions": {
                            "description": "Tests the permissions of a user on an environment,\nand returns a subset of permissions that the user has on the environment.\nIf the environment does not exist, an empty permission set is returned\n(a NOT_FOUND error is not returned).",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.testIamPermissions",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:testIamPermissions",
                            "request": {
                                "$ref": "GoogleIamV1TestIamPermissionsRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1TestIamPermissionsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "updateDebugmask": {
                            "description": "Updates the debug mask singleton resource for an environment.",
                            "httpMethod": "PATCH",
                            "id": "apigee.organizations.environments.updateDebugmask",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "updateMask": {
                                    "description": "Field debug mask to support partial updates.",
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Name of the debug mask.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$",
                                    "required": true,
                                    "type": "string"
                                },
                                "replaceRepeatedFields": {
                                    "description": "Boolean flag that specifies whether to replace existing values in the debug\nmask when doing an update. Set to true to replace existing values.\nThe default behavior is to append the values (false).",
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1DebugMask"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1DebugMask"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "delete": {
                            "description": "Deletes an environment from an organization.",
                            "httpMethod": "DELETE",
                            "id": "apigee.organizations.environments.delete",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the environment. Use the following structure in your\nrequest:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleLongrunningOperation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getDeployedConfig": {
                            "description": "Gets the deployed configuration for an environment.",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.environments.getDeployedConfig",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the environment deployed configuration resource. Use the following\nstructure in your request:\n `organizations/{org}/environments/{env}/deployedConfig`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+/deployedConfig$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1EnvironmentConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "setIamPolicy": {
                            "description": "Sets the IAM policy on an environment, if the policy already\nexists it will be replaced. For more information, see\n[Manage users, roles, and permissions\nusing the API](https://docs.apigee.com/hybrid/latest/manage-users-roles).\n\nYou must have the `apigee.environments.setIamPolicy` permission to\ncall this API.",
                            "httpMethod": "POST",
                            "id": "apigee.organizations.environments.setIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "resource": {
                                    "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:setIamPolicy",
                            "request": {
                                "$ref": "GoogleIamV1SetIamPolicyRequest"
                            },
                            "response": {
                                "$ref": "GoogleIamV1Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getDebugmask": {
                            "description": "Gets the debug mask singleton resource for an environment.",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.environments.getDebugmask",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the debug mask. Use the following structure in your request:\n  `organizations/{org}/environments/{env}/debugmask`.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1DebugMask"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getIamPolicy": {
                            "description": "Gets the IAM policy on an environment. For more information, see\n[Manage users, roles, and permissions\nusing the API](https://docs.apigee.com/hybrid/latest/manage-users-roles).\n\nYou must have the `apigee.environments.getIamPolicy` permission to call\nthis API.",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.environments.getIamPolicy",
                            "parameterOrder": [
                                "resource"
                            ],
                            "parameters": {
                                "options.requestedPolicyVersion": {
                                    "description": "Optional. The policy format version to be returned.\n\nValid values are 0, 1, and 3. Requests specifying an invalid value will be\nrejected.\n\nRequests for policies with any conditional bindings must specify version 3.\nPolicies without any conditional bindings may specify any valid value or\nleave the field unset.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "resource": {
                                    "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+resource}:getIamPolicy",
                            "response": {
                                "$ref": "GoogleIamV1Policy"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "getDatalocation": {
                            "description": "Get Google Cloud Storage (GCS) signed url for specific organization and\nenvironment. Collection agent uses this signed url to upload data\nto GCS bucket.",
                            "httpMethod": "GET",
                            "id": "apigee.organizations.environments.getDatalocation",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "relativeFilePath": {
                                    "description": "Required. Relative path to the GCS bucket",
                                    "location": "query",
                                    "type": "string"
                                },
                                "contentType": {
                                    "description": "Content-Type for uploaded file.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Required. The parent organization and environment names. Must be of the\nform `organizations/{org}/environments/{env}/datalocation`.",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+/datalocation$",
                                    "required": true,
                                    "type": "string"
                                },
                                "dataset": {
                                    "description": "Required. Dataset could be one of `api`, `mint`, `trace` and `event`",
                                    "location": "query",
                                    "type": "string"
                                },
                                "repo": {
                                    "description": "Required. Repository name",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "response": {
                                "$ref": "GoogleCloudApigeeV1DataLocation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "update": {
                            "description": "Updates an existing environment.\n\nWhen updating properties, you must pass all existing properties to the API,\neven if they are not being changed. If you omit properties from the\npayload, the properties are removed. To get the current list of\nproperties for the environment, use the [Get Environment API](get).",
                            "httpMethod": "PUT",
                            "id": "apigee.organizations.environments.update",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the environment. Use the following structure in your request:\n `organizations/{org}/environments/{env}`",
                                    "location": "path",
                                    "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}",
                            "request": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "response": {
                                "$ref": "GoogleCloudApigeeV1Environment"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "caches": {
                            "methods": {
                                "delete": {
                                    "description": "Deletes a cache.",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.environments.caches.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. Cache resource name of the form:\n    `organizations/{organization_id}/environments/{environment_id}/caches/{cache_id}`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/caches/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleProtobufEmpty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "deployments": {
                            "methods": {
                                "list": {
                                    "description": "Lists all deployments of API proxies or shared flows in an environment.",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.deployments.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "sharedFlows": {
                                            "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments.\nSet to `true` to return shared flow deployments; set to `false`\nto return API proxy deployments. Defaults to `false`.",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment for which to return deployment information in the\nfollowing format:\n  `organizations/{org}/environments/{env}`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/deployments",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "resourcefiles": {
                            "methods": {
                                "list": {
                                    "description": "Lists all resource files.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.resourcefiles.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "type": {
                                            "description": "Optional. Type of resource files to list.\n{{ resource_file_type }}",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment in which to list resource files in the following\nformat:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a resource file.\n\nSpecify the `Content-Type` as `application/octet-stream` or\n`multipart/form-data`.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.environments.resourcefiles.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. Name of the resource file.  Must match the regular expression:\n<var>[a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}</var>",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Required. Resource file type. {{ resource_file_type }}",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment in which to create the resource file in the\nfollowing format:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles",
                                    "request": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ResourceFile"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the contents of a resource file.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.resourcefiles.get",
                                    "parameterOrder": [
                                        "parent",
                                        "type",
                                        "name"
                                    ],
                                    "parameters": {
                                        "type": {
                                            "description": "Required. Resource file type.  {{ resource_file_type }}",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment in the following format:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. ID of the resource file. Must match the regular\nexpression: <var>[a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}</var>",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                                    "response": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a resource file.\n\nSpecify the `Content-Type` as `application/octet-stream` or\n`multipart/form-data`.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.environments.resourcefiles.update",
                                    "parameterOrder": [
                                        "parent",
                                        "type",
                                        "name"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. Name of the environment in the following format:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. ID of the resource file to update. Must match the regular\nexpression: <var>[a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}</var>",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "type": {
                                            "description": "Required. Resource file type. {{ resource_file_type }}",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                                    "request": {
                                        "$ref": "GoogleApiHttpBody"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ResourceFile"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "listEnvironmentResources": {
                                    "description": "Lists all resource files.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.resourcefiles.listEnvironmentResources",
                                    "parameterOrder": [
                                        "parent",
                                        "type"
                                    ],
                                    "parameters": {
                                        "type": {
                                            "description": "Optional. Type of resource files to list.\n{{ resource_file_type }}",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment in which to list resource files in the following\nformat:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles/{type}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a resource file.\n\nFor more information about resource files, see\n[Resource files](/api-platform/develop/resource-files).",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.environments.resourcefiles.delete",
                                    "parameterOrder": [
                                        "parent",
                                        "type",
                                        "name"
                                    ],
                                    "parameters": {
                                        "type": {
                                            "description": "Required. Resource file type. {{ resource_file_type }}",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. Name of the environment in the following format:\n  `organizations/{org}/environments/{env}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. ID of the resource file to delete. Must match the regular\nexpression: <var>[a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}</var>",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1ResourceFile"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "flowhooks": {
                            "methods": {
                                "detachSharedFlowFromFlowHook": {
                                    "description": "Detaches a shared flow from a flow hook.",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. Name of the flow hook to detach in the following format:\n  `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1FlowHook"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Returns the name of the shared flow attached to the specified flow hook. If\nthere's no shared flow attached to the flow hook, the API does not return\nan error; it simply does not return a name in the response.",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.flowhooks.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. Name of the flow hook in the following format:\n  `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1FlowHook"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "attachSharedFlowToFlowHook": {
                                    "description": "Attaches a shared flow to a flow hook.",
                                    "httpMethod": "PUT",
                                    "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. Name of the flow hook to which the shared flow should be\nattached in the following format:\n  `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1FlowHook"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1FlowHook"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "analytics": {
                            "resources": {
                                "admin": {
                                    "methods": {
                                        "getSchemav2": {
                                            "description": "Get a list of metrics and dimensions which can be used for creating\nanalytics queries and reports.\nEach schema element contains the name of the field with its associated type\nand if it is either custom field or standard field.",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.environments.analytics.admin.getSchemav2",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. The parent organization and environment names. Must be of the\nform `organizations/{org}/environments/{env}/analytics/admin/schemav2`.",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/analytics/admin/schemav2$",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Required. Type refers to the dataset name whose schema needs to be\nretrieved E.g. type=fact or type=agg_cus1",
                                                    "location": "query",
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Schema"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "apis": {
                            "resources": {
                                "deployments": {
                                    "methods": {
                                        "list": {
                                            "description": "Lists all deployments of an API proxy in an environment.",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.environments.apis.deployments.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. Name representing an API proxy in an environment in the following\nformat:\n  `organizations/{org}/environments/{env}/apis/{api}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "revisions": {
                                    "methods": {
                                        "getDeployments": {
                                            "description": "Gets the deployment of an API proxy revision and actual state reported by\nruntime pods.",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.environments.apis.revisions.getDeployments",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. Name representing an API proxy revision in an\nenvironment in the following format:\n  `organizations/{org}/environments/{env}/apis/{api}/revisions/{rev}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Deployment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "deployments": {
                                            "description": "Undeploys an API proxy revision from an environment.\n\nBecause multiple revisions of the same API proxy can be deployed in\nthe same environment if the base paths are different, you must specify the\nrevision number of the API proxy.",
                                            "httpMethod": "DELETE",
                                            "id": "apigee.organizations.environments.apis.revisions.deployments",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. Name of the API proxy revision deployment in the following format:\n  `organizations/{org}/environments/{env}/apis/{api}/revisions/{rev}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}/deployments",
                                            "response": {
                                                "$ref": "GoogleProtobufEmpty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    },
                                    "resources": {
                                        "debugsessions": {
                                            "methods": {
                                                "create": {
                                                    "description": "Creates a debug session for a deployed API Proxy revision.",
                                                    "httpMethod": "POST",
                                                    "id": "apigee.organizations.environments.apis.revisions.debugsessions.create",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "description": "Required. The resource name of the API Proxy revision deployment for which\nto create the DebugSession. Must be of the form\n `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}`.",
                                                            "location": "path",
                                                            "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        },
                                                        "timeout": {
                                                            "description": "Optional. The time in seconds after which this DebugSession should end.\nA timeout specified in DebugSession will overwrite this value.",
                                                            "format": "int64",
                                                            "location": "query",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/debugsessions",
                                                    "request": {
                                                        "$ref": "GoogleCloudApigeeV1DebugSession"
                                                    },
                                                    "response": {
                                                        "$ref": "GoogleCloudApigeeV1DebugSession"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "deleteData": {
                                                    "description": "Deletes the data from a debug session. This does not cancel the debug\nsession or prevent further data from being collected if the session is\nstill active in runtime pods.",
                                                    "httpMethod": "DELETE",
                                                    "id": "apigee.organizations.environments.apis.revisions.debugsessions.deleteData",
                                                    "parameterOrder": [
                                                        "name"
                                                    ],
                                                    "parameters": {
                                                        "name": {
                                                            "description": "Required. The name of the debug session to delete.\nMust be of the form:\n `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}/debugsessions/{debugsession}`.",
                                                            "location": "path",
                                                            "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+/debugsessions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+name}/data",
                                                    "response": {
                                                        "$ref": "GoogleProtobufEmpty"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                },
                                                "list": {
                                                    "description": "Lists debug sessions that are currently active in the given API Proxy\nrevision.",
                                                    "httpMethod": "GET",
                                                    "id": "apigee.organizations.environments.apis.revisions.debugsessions.list",
                                                    "parameterOrder": [
                                                        "parent"
                                                    ],
                                                    "parameters": {
                                                        "parent": {
                                                            "description": "Required. The name of the API Proxy revision deployment for which\nto list debug sessions. Must be of the form:\n `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}`.",
                                                            "location": "path",
                                                            "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+$",
                                                            "required": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "path": "v1/{+parent}/debugsessions",
                                                    "response": {
                                                        "$ref": "GoogleCloudApigeeV1ListDebugSessionsResponse"
                                                    },
                                                    "scopes": [
                                                        "https://www.googleapis.com/auth/cloud-platform"
                                                    ]
                                                }
                                            },
                                            "resources": {
                                                "data": {
                                                    "methods": {
                                                        "get": {
                                                            "description": "Gets the debug data from a transaction.",
                                                            "httpMethod": "GET",
                                                            "id": "apigee.organizations.environments.apis.revisions.debugsessions.data.get",
                                                            "parameterOrder": [
                                                                "name"
                                                            ],
                                                            "parameters": {
                                                                "name": {
                                                                    "description": "Required. The name of the debug session transaction. Must be of the form:\n `organizations/{organization}/environments/{environment}/apis/{api}/revisions/{revision}/debugsessions/{session}/data/{transaction}`.",
                                                                    "location": "path",
                                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/apis/[^/]+/revisions/[^/]+/debugsessions/[^/]+/data/[^/]+$",
                                                                    "required": true,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "path": "v1/{+name}",
                                                            "response": {
                                                                "$ref": "GoogleCloudApigeeV1DebugSessionTransaction"
                                                            },
                                                            "scopes": [
                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                            ]
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "sharedflows": {
                            "resources": {
                                "deployments": {
                                    "methods": {
                                        "list": {
                                            "description": "Lists all deployments of a shared flow in an environment.",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.environments.sharedflows.deployments.list",
                                            "parameterOrder": [
                                                "parent"
                                            ],
                                            "parameters": {
                                                "parent": {
                                                    "description": "Required. Name representing a shared flow in an environment in the following\nformat:\n  `organizations/{org}/environments/{env}/sharedflows/{sharedflow}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+parent}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                },
                                "revisions": {
                                    "methods": {
                                        "getDeployments": {
                                            "description": "Gets the deployment of a shared flow revision and actual state reported by\nruntime pods.",
                                            "httpMethod": "GET",
                                            "id": "apigee.organizations.environments.sharedflows.revisions.getDeployments",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. Name representing a shared flow in an environment in the following\nformat:\n  `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}/deployments",
                                            "response": {
                                                "$ref": "GoogleCloudApigeeV1Deployment"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "deployments": {
                                            "description": "Undeploys a shared flow revision from an environment.",
                                            "httpMethod": "DELETE",
                                            "id": "apigee.organizations.environments.sharedflows.revisions.deployments",
                                            "parameterOrder": [
                                                "name"
                                            ],
                                            "parameters": {
                                                "name": {
                                                    "description": "Required. Name of the shared flow revision to undeploy in the following format:\n  `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}`",
                                                    "location": "path",
                                                    "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/{+name}/deployments",
                                            "response": {
                                                "$ref": "GoogleProtobufEmpty"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "optimizedStats": {
                            "methods": {
                                "get": {
                                    "description": "This api is similar to GetStats\nexcept that the response is less verbose.\nIn the current scheme, a query parameter _optimized instructs\nEdge Analytics to change the response but since this behavior\nis not possible with protocol buffer and since this parameter is\npredominantly used by Edge UI, we are introducing a separate api.",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.optimizedStats.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "limit": {
                                            "description": "This parameter is used to limit the number of result items.\nDefault and the max value is 14400",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "accuracy": {
                                            "description": "Legacy field. not used anymore",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "offset": {
                                            "description": "Use offset with limit to enable pagination of results. For example,\nto display results 11-20, set limit to '10' and offset to '10'.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "sonar": {
                                            "description": "This parameter routes the query to api monitoring service for last hour",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "realtime": {
                                            "description": "Legacy field: not used anymore",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "tzo": {
                                            "description": "This parameters contains the timezone offset value",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "sortby": {
                                            "description": "Comma separated list of columns to sort the final result.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "filter": {
                                            "description": "Enables drill-down on specific dimension values",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "timeUnit": {
                                            "description": "A value of second, minute, hour, day, week, month.\nTime Unit specifies the granularity of metrics returned.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "aggTable": {
                                            "description": "If customers want to query custom aggregate tables, then this parameter\ncan be used to specify the table name. If this parameter is skipped, then\nEdge Query will try to retrieve the data from fact tables which will be\nexpensive.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "sort": {
                                            "description": "This parameter specifies if the sort order should be ascending or\ndescending Supported values are DESC and ASC.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "topk": {
                                            "description": "Take 'top k' results from results, for example, to return the top 5\nresults 'topk=5'.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "tsAscending": {
                                            "description": "Lists timestamps in ascending order if set to true. Recommend setting\nthis value to true if you are using sortby with sort=DESC.",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "description": "Required. The organization and environment name for which the interactive\nquery will be executed. Must be of the form\n  `organizations/{organization_id}/environments/{environment_id/stats/{dimensions}`\nDimensions let you view metrics in meaningful groupings. E.g. apiproxy,\ntarget_host. The value of dimensions should be comma separated list as\nshown below\n`organizations/{org}/environments/{env}/stats/apiproxy,request_verb`",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "timeRange": {
                                            "description": "Required. Time interval for the interactive query.\nTime range is specified as start~end E.g. 04/15/2017 00:00~05/15/2017 23:59",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "select": {
                                            "description": "Required. The select parameter contains a comma separated list of metrics\nE.g. sum(message_count),sum(error_count)",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1OptimizedStats"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "keyvaluemaps": {
                            "methods": {
                                "delete": {
                                    "description": "Delete a key value map in an environment.",
                                    "httpMethod": "DELETE",
                                    "id": "apigee.organizations.environments.keyvaluemaps.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the key value map.\nMust be of the form\n`organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+name}",
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a key value map in an environment.",
                                    "httpMethod": "POST",
                                    "id": "apigee.organizations.environments.keyvaluemaps.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The name of the environment in which to create the key value map.\nMust be of the form\n`organizations/{organization}/environments/{environment}`.",
                                            "location": "path",
                                            "pattern": "^organizations/[^/]+/environments/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/{+parent}/keyvaluemaps",
                                    "request": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "response": {
                                        "$ref": "GoogleCloudApigeeV1KeyValueMap"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "targetservers": {
                            "methods": {
                                "get": {
                                    "description": "Gets a TargetServer resource.",
                                    "httpMethod": "GET",
                                    "id": "apigee.organizations.environments.targetservers.get",
                                    "parameterOrder": [
                                        "name"
[...]
