{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/appengine.admin": {
                    "description": "View and manage your applications deployed on Google App Engine"
                },
                "https://www.googleapis.com/auth/cloud-platform.read-only": {
                    "description": "View your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://appengine.googleapis.com/",
    "batchPath": "batch",
    "description": "The App Engine Admin API enables developers to provision and manage their App Engine applications.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "appengine:v1",
    "kind": "discovery#restDescription",
    "name": "appengine",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "apps": {
            "methods": {
                "create": {
                    "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields:\nid - The ID of the target Cloud Platform project.\nlocation - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/python/console/).",
                    "httpMethod": "POST",
                    "id": "appengine.apps.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v1/apps",
                    "request": {
                        "$ref": "Application"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "repair": {
                    "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account.",
                    "httpMethod": "POST",
                    "id": "appengine.apps.repair",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "appsId": {
                            "description": "Part of `name`. Name of the application to repair. Example: apps/myapp",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}:repair",
                    "request": {
                        "$ref": "RepairApplicationRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "patch": {
                    "description": "Updates the specified Application resource. You can update the following fields:\nauth_domain - Google authentication domain for controlling user access to the application.\ndefault_cookie_expiration - Cookie expiration policy for the application.",
                    "httpMethod": "PATCH",
                    "id": "appengine.apps.patch",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "updateMask": {
                            "description": "Standard field mask for the set of fields to be updated.",
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "appsId": {
                            "description": "Part of `name`. Name of the Application resource to update. Example: apps/myapp.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}",
                    "request": {
                        "$ref": "Application"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Gets information about an application.",
                    "httpMethod": "GET",
                    "id": "appengine.apps.get",
                    "parameterOrder": [
                        "appsId"
                    ],
                    "parameters": {
                        "appsId": {
                            "description": "Part of `name`. Name of the Application resource to get. Example: apps/myapp.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/apps/{appsId}",
                    "response": {
                        "$ref": "Application"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            },
            "resources": {
                "operations": {
                    "methods": {
                        "get": {
                            "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.operations.get",
                            "parameterOrder": [
                                "appsId",
                                "operationsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "description": "Part of `name`. The name of the operation resource.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "operationsId": {
                                    "description": "Part of `name`. See documentation of `appsId`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/operations/{operationsId}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.operations.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "pageToken": {
                                    "description": "The standard list page token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "appsId": {
                                    "description": "Part of `name`. The name of the operation's parent resource.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "The standard list page size.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "filter": {
                                    "description": "The standard list filter.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/operations",
                            "response": {
                                "$ref": "ListOperationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "locations": {
                    "methods": {
                        "get": {
                            "description": "Get information about a location.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.locations.get",
                            "parameterOrder": [
                                "appsId",
                                "locationsId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "description": "Part of `name`. Resource name for the location.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locationsId": {
                                    "description": "Part of `name`. See documentation of `appsId`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/locations/{locationsId}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "description": "Lists information about the supported locations for this service.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.locations.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "filter": {
                                    "description": "The standard list filter.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The standard list page token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "appsId": {
                                    "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "The standard list page size.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v1/apps/{appsId}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    }
                },
                "services": {
                    "methods": {
                        "delete": {
                            "description": "Deletes the specified service and all enclosed versions.",
                            "httpMethod": "DELETE",
                            "id": "appengine.apps.services.delete",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "servicesId": {
                                    "description": "Part of `name`. See documentation of `appsId`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "appsId": {
                                    "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "patch": {
                            "description": "Updates the configuration of the specified service.",
                            "httpMethod": "PATCH",
                            "id": "appengine.apps.services.patch",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "updateMask": {
                                    "description": "Standard field mask for the set of fields to be updated.",
                                    "format": "google-fieldmask",
                                    "location": "query",
                                    "type": "string"
                                },
                                "servicesId": {
                                    "description": "Part of `name`. See documentation of `appsId`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "appsId": {
                                    "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "migrateTraffic": {
                                    "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#inboundservicetype) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#automaticscaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services#shardby) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                                    "location": "query",
                                    "type": "boolean"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "request": {
                                "$ref": "Service"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Gets the current configuration of the specified service.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.services.get",
                            "parameterOrder": [
                                "appsId",
                                "servicesId"
                            ],
                            "parameters": {
                                "appsId": {
                                    "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "servicesId": {
                                    "description": "Part of `name`. See documentation of `appsId`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/apps/{appsId}/services/{servicesId}",
                            "response": {
                                "$ref": "Service"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        },
                        "list": {
                            "description": "Lists all the services in the application.",
                            "httpMethod": "GET",
                            "id": "appengine.apps.services.list",
                            "parameterOrder": [
                                "appsId"
                            ],
                            "parameters": {
                                "pageToken": {
                                    "description": "Continuation token for fetching the next page of results.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "appsId": {
                                    "description": "Part of `parent`. Name of the parent Application resource. Example: apps/myapp.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum results to return per page.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v1/apps/{appsId}/services",
                            "response": {
                                "$ref": "ListServicesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/appengine.admin",
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                            ]
                        }
                    },
                    "resources": {
                        "versions": {
                            "methods": {
                                "delete": {
                                    "description": "Deletes an existing Version resource.",
                                    "httpMethod": "DELETE",
                                    "id": "appengine.apps.services.versions.delete",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "appsId": {
                                            "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:\nserving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.serving_status):  For Version resources that use basic scaling, manual scaling, or run in  the App Engine flexible environment.\ninstance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.instance_class):  For Version resources that run in the App Engine standard environment.\nautomatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.\nautomatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling):  For Version resources that use automatic scaling and run in the App  Engine standard environment.",
                                    "httpMethod": "PATCH",
                                    "id": "appengine.apps.services.versions.patch",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "updateMask": {
                                            "description": "Standard field mask for the set of fields to be updated.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "servicesId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "appsId": {
                                            "description": "Part of `name`. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.services.versions.get",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId",
                                        "versionsId"
                                    ],
                                    "parameters": {
                                        "servicesId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "appsId": {
                                            "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "view": {
                                            "description": "Controls the set of fields returned in the Get response.",
                                            "enum": [
                                                "BASIC",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "versionsId": {
                                            "description": "Part of `name`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                                    "response": {
                                        "$ref": "Version"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "list": {
                                    "description": "Lists the versions of a service.",
                                    "httpMethod": "GET",
                                    "id": "appengine.apps.services.versions.list",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId"
                                    ],
                                    "parameters": {
                                        "servicesId": {
                                            "description": "Part of `parent`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageToken": {
                                            "description": "Continuation token for fetching the next page of results.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "appsId": {
                                            "description": "Part of `parent`. Name of the parent Service resource. Example: apps/myapp/services/default.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Maximum results to return per page.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "view": {
                                            "description": "Controls the set of fields returned in the List response.",
                                            "enum": [
                                                "BASIC",
                                                "FULL"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "response": {
                                        "$ref": "ListVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/appengine.admin",
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                                    ]
                                },
                                "create": {
                                    "description": "Deploys code and resource files to a new version.",
                                    "httpMethod": "POST",
                                    "id": "appengine.apps.services.versions.create",
                                    "parameterOrder": [
                                        "appsId",
                                        "servicesId"
                                    ],
                                    "parameters": {
                                        "servicesId": {
                                            "description": "Part of `parent`. See documentation of `appsId`.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "appsId": {
                                            "description": "Part of `parent`. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/apps/{appsId}/services/{servicesId}/versions",
                                    "request": {
                                        "$ref": "Version"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "instances": {
                                    "methods": {
                                        "delete": {
                                            "description": "Stops a running instance.",
                                            "httpMethod": "DELETE",
                                            "id": "appengine.apps.services.versions.instances.delete",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "versionsId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "instancesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "appsId": {
                                                    "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "description": "Gets instance information.",
                                            "httpMethod": "GET",
                                            "id": "appengine.apps.services.versions.instances.get",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "instancesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "appsId": {
                                                    "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                                            "response": {
                                                "$ref": "Instance"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/appengine.admin",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        },
                                        "list": {
                                            "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                                            "httpMethod": "GET",
                                            "id": "appengine.apps.services.versions.instances.list",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId"
                                            ],
                                            "parameters": {
                                                "pageSize": {
                                                    "description": "Maximum results to return per page.",
                                                    "format": "int32",
                                                    "location": "query",
                                                    "type": "integer"
                                                },
                                                "versionsId": {
                                                    "description": "Part of `parent`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "servicesId": {
                                                    "description": "Part of `parent`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "pageToken": {
                                                    "description": "Continuation token for fetching the next page of results.",
                                                    "location": "query",
                                                    "type": "string"
                                                },
                                                "appsId": {
                                                    "description": "Part of `parent`. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                                            "response": {
                                                "$ref": "ListInstancesResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/appengine.admin",
                                                "https://www.googleapis.com/auth/cloud-platform",
                                                "https://www.googleapis.com/auth/cloud-platform.read-only"
                                            ]
                                        },
                                        "debug": {
                                            "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                                            "httpMethod": "POST",
                                            "id": "appengine.apps.services.versions.instances.debug",
                                            "parameterOrder": [
                                                "appsId",
                                                "servicesId",
                                                "versionsId",
                                                "instancesId"
                                            ],
                                            "parameters": {
                                                "servicesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "instancesId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "appsId": {
                                                    "description": "Part of `name`. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "versionsId": {
                                                    "description": "Part of `name`. See documentation of `appsId`.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                                            "request": {
                                                "$ref": "DebugInstanceRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20170721",
    "rootUrl": "https://appengine.googleapis.com/",
    "schemas": {
        "UrlMap": {
            "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
            "id": "UrlMap",
            "properties": {
                "script": {
                    "$ref": "ScriptHandler",
                    "description": "Executes a script to handle the request that matches this URL pattern."
                },
                "urlRegex": {
                    "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
                    "type": "string"
                },
                "login": {
                    "description": "Level of login required to access this resource.",
                    "enum": [
                        "LOGIN_UNSPECIFIED",
                        "LOGIN_OPTIONAL",
                        "LOGIN_ADMIN",
                        "LOGIN_REQUIRED"
                    ],
                    "enumDescriptions": [
                        "Not specified. LOGIN_OPTIONAL is assumed.",
                        "Does not require that the user is signed in.",
                        "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
                        "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
                    ],
                    "type": "string"
                },
                "apiEndpoint": {
                    "$ref": "ApiEndpointHandler",
                    "description": "Uses API Endpoints to handle requests."
                },
                "staticFiles": {
                    "$ref": "StaticFilesHandler",
                    "description": "Returns the contents of a file, such as an image, as the response."
                },
                "redirectHttpResponseCode": {
                    "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
                    "enum": [
                        "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
                        "REDIRECT_HTTP_RESPONSE_CODE_301",
                        "REDIRECT_HTTP_RESPONSE_CODE_302",
                        "REDIRECT_HTTP_RESPONSE_CODE_303",
                        "REDIRECT_HTTP_RESPONSE_CODE_307"
                    ],
                    "enumDescriptions": [
                        "Not specified. 302 is assumed.",
                        "301 Moved Permanently code.",
                        "302 Moved Temporarily code.",
                        "303 See Other code.",
                        "307 Temporary Redirect code."
                    ],
                    "type": "string"
                },
                "securityLevel": {
                    "description": "Security (HTTPS) enforcement for this URL.",
                    "enum": [
                        "SECURE_UNSPECIFIED",
                        "SECURE_DEFAULT",
                        "SECURE_NEVER",
                        "SECURE_OPTIONAL",
                        "SECURE_ALWAYS"
                    ],
                    "enumDescriptions": [
                        "Not specified.",
                        "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
                        "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
                        "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
                        "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
                    ],
                    "type": "string"
                },
                "authFailAction": {
                    "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
                    "enum": [
                        "AUTH_FAIL_ACTION_UNSPECIFIED",
                        "AUTH_FAIL_ACTION_REDIRECT",
                        "AUTH_FAIL_ACTION_UNAUTHORIZED"
                    ],
                    "enumDescriptions": [
                        "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
                        "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
                        "Rejects request with a 401 HTTP status code and an error message."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EndpointsApiService": {
            "description": "Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy.The fields here refer to the name and configuration id of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
            "id": "EndpointsApiService",
            "properties": {
                "configId": {
                    "description": "Endpoints service configuration id as specified by the Service Management API. For example \"2016-09-19r1\"",
                    "type": "string"
                },
                "name": {
                    "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a network API call.",
            "id": "Operation",
            "properties": {
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should have the format of operations/some/unique/name.",
                    "type": "string"
                },
                "error": {
                    "$ref": "Status",
                    "description": "The error result of the operation in case of failure or cancellation."
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
                    "type": "object"
                },
                "done": {
                    "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ApiConfigHandler": {
            "description": "Google Cloud Endpoints (https://cloud.google.com/appengine/docs/python/endpoints/) configuration for API handlers.",
            "id": "ApiConfigHandler",
            "properties": {
                "login": {
                    "description": "Level of login required to access this resource. Defaults to optional.",
                    "enum": [
                        "LOGIN_UNSPECIFIED",
                        "LOGIN_OPTIONAL",
                        "LOGIN_ADMIN",
                        "LOGIN_REQUIRED"
                    ],
                    "enumDescriptions": [
                        "Not specified. LOGIN_OPTIONAL is assumed.",
                        "Does not require that the user is signed in.",
                        "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
                        "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
                    ],
                    "type": "string"
                },
                "url": {
                    "description": "URL to serve the endpoint at.",
                    "type": "string"
                },
                "securityLevel": {
                    "description": "Security (HTTPS) enforcement for this URL.",
                    "enum": [
                        "SECURE_UNSPECIFIED",
                        "SECURE_DEFAULT",
                        "SECURE_NEVER",
                        "SECURE_OPTIONAL",
                        "SECURE_ALWAYS"
                    ],
                    "enumDescriptions": [
                        "Not specified.",
                        "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
                        "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
                        "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
                        "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
                    ],
                    "type": "string"
                },
                "authFailAction": {
                    "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
                    "enum": [
                        "AUTH_FAIL_ACTION_UNSPECIFIED",
                        "AUTH_FAIL_ACTION_REDIRECT",
                        "AUTH_FAIL_ACTION_UNAUTHORIZED"
                    ],
                    "enumDescriptions": [
                        "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
                        "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
                        "Rejects request with a 401 HTTP status code and an error message."
                    ],
                    "type": "string"
                },
                "script": {
                    "description": "Path to the script from the application root directory.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StaticFilesHandler": {
            "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
            "id": "StaticFilesHandler",
            "properties": {
                "httpHeaders": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "HTTP headers to use for all responses from these URLs.",
                    "type": "object"
                },
                "applicationReadable": {
                    "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
                    "type": "boolean"
                },
                "uploadPathRegex": {
                    "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
                    "type": "string"
                },
                "path": {
                    "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
                    "type": "string"
                },
                "mimeType": {
                    "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
                    "type": "string"
                },
                "requireMatchingFile": {
                    "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
                    "type": "boolean"
                },
                "expiration": {
                    "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DiskUtilization": {
            "description": "Target scaling by disk usage. Only applicable for VM runtimes.",
            "id": "DiskUtilization",
            "properties": {
                "targetWriteBytesPerSecond": {
                    "description": "Target bytes written per second.",
                    "format": "int32",
                    "type": "integer"
                },
                "targetReadOpsPerSecond": {
                    "description": "Target ops read per seconds.",
                    "format": "int32",
                    "type": "integer"
                },
                "targetReadBytesPerSecond": {
                    "description": "Target bytes read per second.",
                    "format": "int32",
                    "type": "integer"
                },
                "targetWriteOpsPerSecond": {
                    "description": "Target ops written per second.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BasicScaling": {
            "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
            "id": "BasicScaling",
            "properties": {
                "idleTimeout": {
                    "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
                    "format": "google-duration",
                    "type": "string"
                },
                "maxInstances": {
                    "description": "Maximum number of instances to create for this version.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "CpuUtilization": {
            "description": "Target scaling by CPU usage.",
            "id": "CpuUtilization",
            "properties": {
                "aggregationWindowLength": {
                    "description": "Period of time over which CPU utilization is calculated.",
                    "format": "google-duration",
                    "type": "string"
                },
                "targetUtilization": {
                    "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "IdentityAwareProxy": {
            "description": "Identity-Aware Proxy",
            "id": "IdentityAwareProxy",
            "properties": {
                "oauth2ClientSecret": {
                    "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
                    "type": "string"
                },
                "oauth2ClientId": {
                    "description": "OAuth2 client ID to use for the authentication flow.",
                    "type": "string"
                },
                "oauth2ClientSecretSha256": {
                    "description": "Hex-encoded SHA-256 hash of the client secret.@OutputOnly",
                    "type": "string"
                },
                "enabled": {
                    "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Status": {
            "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                },
                "details": {
                    "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ManualScaling": {
            "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
            "id": "ManualScaling",
            "properties": {
                "instances": {
                    "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "LocationMetadata": {
            "description": "Metadata for the given google.cloud.location.Location.",
            "id": "LocationMetadata",
            "properties": {
                "flexibleEnvironmentAvailable": {
                    "description": "App Engine Flexible Environment is available in the given location.@OutputOnly",
                    "type": "boolean"
                },
                "standardEnvironmentAvailable": {
                    "description": "App Engine Standard Environment is available in the given location.@OutputOnly",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Service": {
            "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
            "id": "Service",
            "properties": {
                "name": {
                    "description": "Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                "split": {
                    "$ref": "TrafficSplit",
                    "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
                },
                "id": {
                    "description": "Relative name of the service within the application. Example: default.@OutputOnly",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "The response message for Operations.ListOperations.",
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "The standard List next-page token.",
                    "type": "string"
                },
                "operations": {
                    "description": "A list of operations that matches the specified filter in the request.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "description": "Metadata for the given google.longrunning.Operation.",
            "id": "OperationMetadata",
            "properties": {
                "endTime": {
                    "description": "Timestamp that this operation completed.@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "operationType": {
                    "description": "Type of this operation. Deprecated, use method field instead. Example: \"create_version\".@OutputOnly",
                    "type": "string"
                },
                "insertTime": {
                    "description": "Timestamp that this operation was created.@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "user": {
                    "description": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                "target": {
                    "description": "Name of the resource that this operation is acting on. Example: apps/myapp/modules/default.@OutputOnly",
                    "type": "string"
                },
                "method": {
                    "description": "API method that initiated this operation. Example: google.appengine.v1beta4.Version.CreateVersion.@OutputOnly",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ErrorHandler": {
            "description": "Custom static error page to be served when an error occurs.",
            "id": "ErrorHandler",
            "properties": {
                "mimeType": {
                    "description": "MIME type of file. Defaults to text/html.",
                    "type": "string"
                },
                "errorCode": {
                    "description": "Error condition this handler applies to.",
                    "enum": [
                        "ERROR_CODE_UNSPECIFIED",
                        "ERROR_CODE_DEFAULT",
                        "ERROR_CODE_OVER_QUOTA",
                        "ERROR_CODE_DOS_API_DENIAL",
                        "ERROR_CODE_TIMEOUT"
                    ],
                    "enumDescriptions": [
                        "Not specified. ERROR_CODE_DEFAULT is assumed.",
                        "All other error types.",
                        "Application has exceeded a resource quota.",
                        "Client blocked by the application's Denial of Service protection configuration.",
                        "Deadline reached before the application responds."
                    ],
                    "type": "string"
                },
                "staticFile": {
                    "description": "Static file content to be served for this error.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationMetadataV1": {
            "description": "Metadata for the given google.longrunning.Operation.",
            "id": "OperationMetadataV1",
            "properties": {
                "endTime": {
                    "description": "Time that this operation completed.@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "warning": {
                    "description": "Durable messages that persist on every operation poll. @OutputOnly",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "insertTime": {
                    "description": "Time that this operation was created.@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "user": {
                    "description": "User who requested this operation.@OutputOnly",
                    "type": "string"
                },
                "target": {
                    "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
                    "type": "string"
                },
                "ephemeralMessage": {
                    "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
                    "type": "string"
                },
                "method": {
                    "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Application": {
            "description": "An Application resource contains the top-level configuration of an App Engine application. Next tag: 20",
            "id": "Application",
            "properties": {
                "locationId": {
                    "description": "Location from which this application will be run. Application instances will run out of data centers in the chosen location, which is also where all of the application's end user content is stored.Defaults to us-central.Options are:us-central - Central USeurope-west - Western Europeus-east1 - Eastern US",
                    "type": "string"
                },
                "servingStatus": {
                    "description": "Serving status of this application.",
                    "enum": [
                        "UNSPECIFIED",
                        "SERVING",
                        "USER_DISABLED",
                        "SYSTEM_DISABLED"
                    ],
                    "enumDescriptions": [
                        "Serving status is unspecified.",
                        "Application is serving.",
                        "Application has been disabled by the user.",
                        "Application has been disabled by the system."
                    ],
                    "type": "string"
                },
                "defaultHostname": {
                    "description": "Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
                    "type": "string"
                },
                "authDomain": {
                    "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
                    "type": "string"
                },
                "iap": {
                    "$ref": "IdentityAwareProxy"
                },
                "codeBucket": {
                    "description": "Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
                    "type": "string"
                },
                "defaultBucket": {
                    "description": "Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
                    "type": "string"
                },
                "dispatchRules": {
                    "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported.@OutputOnly",
                    "items": {
                        "$ref": "UrlDispatchRule"
                    },
                    "type": "array"
                },
                "gcrDomain": {
                    "description": "The Google Container Registry domain used for storing managed build docker images for this application.",
                    "type": "string"
                },
                "name": {
                    "description": "Full path to the Application resource in the API. Example: apps/myapp.@OutputOnly",
                    "type": "string"
                },
                "defaultCookieExpiration": {
                    "description": "Cookie expiration policy for this application.",
                    "format": "google-duration",
                    "type": "string"
                },
                "id": {
                    "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Network": {
            "description": "Extra network settings. Only applicable for VM runtimes.",
            "id": "Network",
            "properties": {
                "subnetworkName": {
                    "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network.\nIf the network the VM instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range.\nIf the network the VM instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network.\nIf the network the VM instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the Flex app.",
                    "type": "string"
                },
                "instanceTag": {
                    "description": "Tag to apply to the VM instance during creation.",
                    "type": "string"
                },
                "forwardedPorts": {
                    "description": "List of ports, or port pairs, to forward from the virtual machine to the application container.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Google Cloud Platform network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Instance": {
            "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
            "id": "Instance",
            "properties": {
                "vmDebugEnabled": {
                    "description": "Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "boolean"
                },
                "requests": {
                    "description": "Number of requests since this instance was started.@OutputOnly",
                    "format": "int32",
                    "type": "integer"
                },
                "appEngineRelease": {
                    "description": "App Engine release this instance is running on.@OutputOnly",
                    "type": "string"
                },
                "vmName": {
                    "description": "Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                "qps": {
                    "description": "Average queries per second (QPS) over the last minute.@OutputOnly",
                    "format": "float",
                    "type": "number"
                },
                "vmId": {
                    "description": "Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                "vmZoneName": {
                    "description": "Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                "name": {
                    "description": "Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.@OutputOnly",
                    "type": "string"
                },
                "averageLatency": {
                    "description": "Average latency (ms) over the last minute.@OutputOnly",
                    "format": "int32",
                    "type": "integer"
                },
                "id": {
                    "description": "Relative name of the instance within the version. Example: instance-1.@OutputOnly",
                    "type": "string"
                },
                "vmIp": {
                    "description": "The IP address of this instance. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                "memoryUsage": {
                    "description": "Total memory in use (bytes).@OutputOnly",
                    "format": "int64",
                    "type": "string"
                },
                "availability": {
                    "description": "Availability of the instance.@OutputOnly",
                    "enum": [
                        "UNSPECIFIED",
                        "RESIDENT",
                        "DYNAMIC"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "vmStatus": {
                    "description": "Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.@OutputOnly",
                    "type": "string"
                },
                "errors": {
                    "description": "Number of errors since this instance was started.@OutputOnly",
                    "format": "int32",
                    "type": "integer"
                },
                "startTime": {
                    "description": "Time that this instance was started.@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LivenessCheck": {
            "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
            "id": "LivenessCheck",
            "properties": {
                "checkInterval": {
                    "description": "Interval between health checks.",
                    "format": "google-duration",
                    "type": "string"
                },
                "failureThreshold": {
                    "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
                    "format": "uint32",
                    "type": "integer"
                },
                "timeout": {
                    "description": "Time before the check is considered failed.",
                    "format": "google-duration",
                    "type": "string"
                },
                "initialDelay": {
                    "description": "The initial delay before starting to execute the checks.",
                    "format": "google-duration",
                    "type": "string"
                },
                "path": {
                    "description": "The request path.",
                    "type": "string"
                },
                "successThreshold": {
                    "description": "Number of consecutive successful checks required before considering the VM healthy.",
                    "format": "uint32",
                    "type": "integer"
                },
                "host": {
                    "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "description": "A resource that represents Google Cloud Platform location.",
            "id": "Location",
            "properties": {
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Cross-service attributes for the location. For example\n{\"cloud.googleapis.com/region\": \"us-east1\"}\n",
                    "type": "object"
                },
                "name": {
[...]
