{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/devstorage.full_control": {
                    "description": "Manage your data and permissions in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/devstorage.read_only": {
                    "description": "View your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/bigquery": {
                    "description": "View and manage your data in Google BigQuery"
                },
                "https://www.googleapis.com/auth/devstorage.read_write": {
                    "description": "Manage your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/bigquery.insertdata": {
                    "description": "Insert data into Google BigQuery"
                },
                "https://www.googleapis.com/auth/cloud-platform.read-only": {
                    "description": "View your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/bigquery.readonly": {
                    "description": "View your data in Google BigQuery"
                },
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "/bigquery/v2/",
    "baseUrl": "https://bigquery.googleapis.com/bigquery/v2/",
    "batchPath": "batch/bigquery/v2",
    "description": "A data platform for customers to create, manage, share and query data.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/bigquery/",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/search-16.gif",
        "x32": "https://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "bigquery:v2",
    "kind": "discovery#restDescription",
    "name": "bigquery",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "quotaUser": {
            "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "Deprecated. Please use quotaUser instead.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "routines": {
            "methods": {
                "update": {
                    "description": "Updates information in an existing routine. The update method replaces the\nentire Routine resource.",
                    "httpMethod": "PUT",
                    "id": "bigquery.routines.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the routine to update",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the routine to update",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "routineId": {
                            "description": "Required. Routine ID of the routine to update",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "request": {
                        "$ref": "Routine"
                    },
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "description": "Deletes the routine specified by routineId from the dataset.",
                    "httpMethod": "DELETE",
                    "id": "bigquery.routines.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the routine to delete",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the routine to delete",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "routineId": {
                            "description": "Required. Routine ID of the routine to delete",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "insert": {
                    "description": "Creates a new routine in the dataset.",
                    "httpMethod": "POST",
                    "id": "bigquery.routines.insert",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the new routine",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the new routine",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
                    "request": {
                        "$ref": "Routine"
                    },
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Gets the specified routine resource by routine ID.",
                    "httpMethod": "GET",
                    "id": "bigquery.routines.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "routineId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Required. Dataset ID of the requested routine",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "routineId": {
                            "description": "Required. Routine ID of the requested routine",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readMask": {
                            "description": "If set, only the Routine fields in the field mask are returned in the\nresponse. If unset, all Routine fields are returned.",
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Required. Project ID of the requested routine",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines/{+routineId}",
                    "response": {
                        "$ref": "Routine"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "description": "Lists all routines in the specified dataset. Requires the READER dataset\nrole.",
                    "httpMethod": "GET",
                    "id": "bigquery.routines.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Required. Dataset ID of the routines to list",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "readMask": {
                            "description": "If set, then only the Routine fields in the field mask, as well as\nproject_id, dataset_id and routine_id, are returned in the response.\nIf unset, then the following Routine fields are returned:\netag, project_id, dataset_id, routine_id, routine_type, creation_time,\nlast_modified_time, and language.",
                            "format": "google-fieldmask",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Required. Project ID of the routines to list",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "description": "If set, then only the Routines matching this filter are returned.\nThe current supported form is either \"routine_type:<RoutineType>\" or\n\"routineType:<RoutineType>\", where <RoutineType> is a RoutineType enum.\nExample: \"routineType:SCALAR_FUNCTION\".",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of\nresults",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/routines",
                    "response": {
                        "$ref": "ListRoutinesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "datasets": {
            "methods": {
                "insert": {
                    "description": "Creates a new empty dataset.",
                    "httpMethod": "POST",
                    "id": "bigquery.datasets.insert",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the new dataset",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Returns the dataset specified by datasetID.",
                    "httpMethod": "GET",
                    "id": "bigquery.datasets.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the requested dataset",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the requested dataset",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "bigquery.datasets.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the dataset being updated",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the dataset being updated",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "update": {
                    "description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
                    "httpMethod": "PUT",
                    "id": "bigquery.datasets.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Dataset ID of the dataset being updated",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the dataset being updated",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "request": {
                        "$ref": "Dataset"
                    },
                    "response": {
                        "$ref": "Dataset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "delete": {
                    "description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
                    "httpMethod": "DELETE",
                    "id": "bigquery.datasets.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Dataset ID of dataset being deleted",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "deleteContents": {
                            "description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
                            "location": "query",
                            "type": "boolean"
                        },
                        "projectId": {
                            "description": "Project ID of the dataset being deleted",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
                    "httpMethod": "GET",
                    "id": "bigquery.datasets.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "An expression for filtering the results of the request by label. The syntax is \"labels.<name>[:<value>]\". Multiple filters can be ANDed together by connecting with a space. Example: \"labels.department:receiving labels.active\". See Filtering datasets using labels for details.",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of results",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "projectId": {
                            "description": "Project ID of the datasets to be listed",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "all": {
                            "description": "Whether to list all datasets, including hidden ones",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "projects/{projectId}/datasets",
                    "response": {
                        "$ref": "DatasetList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "models": {
            "methods": {
                "delete": {
                    "description": "Deletes the model specified by modelId from the dataset.",
                    "httpMethod": "DELETE",
                    "id": "bigquery.models.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the model to delete.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the model to delete.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "description": "Required. Model ID of the model to delete.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Gets the specified model resource by model ID.",
                    "httpMethod": "GET",
                    "id": "bigquery.models.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the requested model.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the requested model.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "description": "Required. Model ID of the requested model.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "response": {
                        "$ref": "Model"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "description": "Lists all models in the specified dataset. Requires the READER dataset\nrole.",
                    "httpMethod": "GET",
                    "id": "bigquery.models.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "pageToken": {
                            "description": "Page token, returned by a previous call to request the next page of\nresults",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Required. Project ID of the models to list.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of results to return in a single response page.\nLeverage the page tokens to iterate through the entire collection.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the models to list.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models",
                    "response": {
                        "$ref": "ListModelsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "description": "Patch specific fields in the specified model.",
                    "httpMethod": "PATCH",
                    "id": "bigquery.models.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "modelId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Required. Project ID of the model to patch.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Required. Dataset ID of the model to patch.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        },
                        "modelId": {
                            "description": "Required. Model ID of the model to patch.",
                            "location": "path",
                            "pattern": "^[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{+projectId}/datasets/{+datasetId}/models/{+modelId}",
                    "request": {
                        "$ref": "Model"
                    },
                    "response": {
                        "$ref": "Model"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "jobs": {
            "methods": {
                "cancel": {
                    "description": "Requests that a job be cancelled. This call will return immediately, and the client will need to poll for the job status to see if the cancel completed successfully. Cancelled jobs may still incur costs.",
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.cancel",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "location": {
                            "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
                            "location": "query",
                            "type": "string"
                        },
                        "jobId": {
                            "description": "[Required] Job ID of the job to cancel",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "[Required] Project ID of the job to cancel",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs/{jobId}/cancel",
                    "response": {
                        "$ref": "JobCancelResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "insert": {
                    "description": "Starts a new asynchronous job. Requires the Can View project role.",
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.insert",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/bigquery/v2/projects/{projectId}/jobs"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/bigquery/v2/projects/{projectId}/jobs"
                            }
                        }
                    },
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the project that will be billed for the job",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/devstorage.full_control",
                        "https://www.googleapis.com/auth/devstorage.read_only",
                        "https://www.googleapis.com/auth/devstorage.read_write"
                    ],
                    "supportsMediaUpload": true
                },
                "get": {
                    "description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that you're the person who ran the job, or have the Is Owner project role.",
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.get",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "description": "[Required] Job ID of the requested job",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "[Required] Project ID of the requested job",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "location": {
                            "description": "The geographic location of the job. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/jobs/{jobId}",
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "query": {
                    "description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
                    "httpMethod": "POST",
                    "id": "bigquery.jobs.query",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the project billed for the query",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/queries",
                    "request": {
                        "$ref": "QueryRequest"
                    },
                    "response": {
                        "$ref": "QueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "list": {
                    "description": "Lists all jobs that you started in the specified project. Job information is available for a six month period after creation. The job list is sorted in reverse chronological order, by job creation time. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "maxCreationTime": {
                            "description": "Max value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created before or at this timestamp are returned",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "stateFilter": {
                            "description": "Filter for job state",
                            "enum": [
                                "done",
                                "pending",
                                "running"
                            ],
                            "enumDescriptions": [
                                "Finished jobs",
                                "Pending jobs",
                                "Running jobs"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields",
                            "enum": [
                                "full",
                                "minimal"
                            ],
                            "enumDescriptions": [
                                "Includes all job data",
                                "Does not include the job configuration"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the jobs to list",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "parentJobId": {
                            "description": "If set, retrieves only jobs whose parent is this job. Otherwise, retrieves only jobs which have no parent",
                            "location": "query",
                            "type": "string"
                        },
                        "minCreationTime": {
                            "description": "Min value for job creation time, in milliseconds since the POSIX epoch. If set, only jobs created after or at this timestamp are returned",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of results",
                            "location": "query",
                            "type": "string"
                        },
                        "allUsers": {
                            "description": "Whether to display jobs owned by all users in the project. Default false",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "projects/{projectId}/jobs",
                    "response": {
                        "$ref": "JobList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "getQueryResults": {
                    "description": "Retrieves the results of a query job.",
                    "httpMethod": "GET",
                    "id": "bigquery.jobs.getQueryResults",
                    "parameterOrder": [
                        "projectId",
                        "jobId"
                    ],
                    "parameters": {
                        "startIndex": {
                            "description": "Zero-based index of the starting row",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "location": {
                            "description": "The geographic location where the job should run. Required except for US and EU. See details at https://cloud.google.com/bigquery/docs/locations#specifying_your_location.",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of results",
                            "location": "query",
                            "type": "string"
                        },
                        "timeoutMs": {
                            "description": "How long to wait for the query to complete, in milliseconds, before returning. Default is 10 seconds. If the timeout passes before the job completes, the 'jobComplete' field in the response will be false",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to read",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "projectId": {
                            "description": "[Required] Project ID of the query job",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "jobId": {
                            "description": "[Required] Job ID of the query job",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/queries/{jobId}",
                    "response": {
                        "$ref": "GetQueryResultsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "projects": {
            "methods": {
                "list": {
                    "description": "Lists all projects to which you have been granted any project role.",
                    "httpMethod": "GET",
                    "id": "bigquery.projects.list",
                    "parameters": {
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of results",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "projects",
                    "response": {
                        "$ref": "ProjectList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "getServiceAccount": {
                    "description": "Returns the email address of the service account for your project used for interactions with Google Cloud KMS.",
                    "httpMethod": "GET",
                    "id": "bigquery.projects.getServiceAccount",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID for which the service account is requested.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/serviceAccount",
                    "response": {
                        "$ref": "GetServiceAccountResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                }
            }
        },
        "tables": {
            "methods": {
                "update": {
                    "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
                    "httpMethod": "PUT",
                    "id": "bigquery.tables.update",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "tableId": {
                            "description": "Table ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "testIamPermissions": {
                    "description": "Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a `NOT_FOUND` error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.testIamPermissions",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "description": "REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.",
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:testIamPermissions",
                    "request": {
                        "$ref": "TestIamPermissionsRequest"
                    },
                    "response": {
                        "$ref": "TestIamPermissionsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "delete": {
                    "description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
                    "httpMethod": "DELETE",
                    "id": "bigquery.tables.delete",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "tableId": {
                            "description": "Table ID of the table to delete",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the table to delete",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the table to delete",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
                    "httpMethod": "GET",
                    "id": "bigquery.tables.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "pageToken": {
                            "description": "Page token, returned by a previous call, to request the next page of results",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "projectId": {
                            "description": "Project ID of the tables to list",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the tables to list",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables",
                    "response": {
                        "$ref": "TableList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "setIamPolicy": {
                    "description": "Sets the access control policy on the specified resource. Replaces any\nexisting policy.\n\nCan return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.setIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "description": "REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.",
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:setIamPolicy",
                    "request": {
                        "$ref": "SetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "getIamPolicy": {
                    "description": "Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.getIamPolicy",
                    "parameterOrder": [
                        "resource"
                    ],
                    "parameters": {
                        "resource": {
                            "description": "REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.",
                            "location": "path",
                            "pattern": "^projects/[^/]+/datasets/[^/]+/tables/[^/]+$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{+resource}:getIamPolicy",
                    "request": {
                        "$ref": "GetIamPolicyRequest"
                    },
                    "response": {
                        "$ref": "Policy"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insert": {
                    "description": "Creates a new, empty table in the dataset.",
                    "httpMethod": "POST",
                    "id": "bigquery.tables.insert",
                    "parameterOrder": [
                        "projectId",
                        "datasetId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the new table",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the new table",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "get": {
                    "description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
                    "httpMethod": "GET",
                    "id": "bigquery.tables.get",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Dataset ID of the requested table",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "selectedFields": {
                            "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
                            "location": "query",
                            "type": "string"
                        },
                        "tableId": {
                            "description": "Table ID of the requested table",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the requested table",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "patch": {
                    "description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "bigquery.tables.patch",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "datasetId": {
                            "description": "Dataset ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "description": "Table ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "projectId": {
                            "description": "Project ID of the table to update",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}",
                    "request": {
                        "$ref": "Table"
                    },
                    "response": {
                        "$ref": "Table"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        },
        "tabledata": {
            "methods": {
                "list": {
                    "description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
                    "httpMethod": "GET",
                    "id": "bigquery.tabledata.list",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the table to read",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "selectedFields": {
                            "description": "List of fields to return (comma-separated). If unspecified, all fields are returned",
                            "location": "query",
                            "type": "string"
                        },
                        "startIndex": {
                            "description": "Zero-based index of the starting row to read",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Page token, returned by a previous call, identifying the result set",
                            "location": "query",
                            "type": "string"
                        },
                        "tableId": {
                            "description": "Table ID of the table to read",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the table to read",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data",
                    "response": {
                        "$ref": "TableDataList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                    ]
                },
                "insertAll": {
                    "description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
                    "httpMethod": "POST",
                    "id": "bigquery.tabledata.insertAll",
                    "parameterOrder": [
                        "projectId",
                        "datasetId",
                        "tableId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "Project ID of the destination table.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "datasetId": {
                            "description": "Dataset ID of the destination table.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "tableId": {
                            "description": "Table ID of the destination table.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll",
                    "request": {
                        "$ref": "TableDataInsertAllRequest"
                    },
                    "response": {
                        "$ref": "TableDataInsertAllResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.insertdata",
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "revision": "20200429",
    "rootUrl": "https://bigquery.googleapis.com/",
    "schemas": {
        "Binding": {
            "description": "Associates `members` with a `role`.",
            "id": "Binding",
            "properties": {
                "role": {
                    "description": "Role that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
                    "type": "string"
                },
                "condition": {
                    "$ref": "Expr",
                    "description": "The condition that is associated with this binding.\n\nIf the condition evaluates to `true`, then this binding applies to the\ncurrent request.\n\nIf the condition evaluates to `false`, then this binding does not apply to\nthe current request. However, a different role binding might grant the same\nrole to one or more of the members in this binding.\n\nTo learn which resources support conditions in their IAM policies, see the\n[IAM\ndocumentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "members": {
                    "description": "Specifies the identities requesting access for a Cloud Platform resource.\n`members` can have the following values:\n\n* `allUsers`: A special identifier that represents anyone who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`: A special identifier that represents anyone\n   who is authenticated with a Google account or a service account.\n\n* `user:{emailid}`: An email address that represents a specific Google\n   account. For example, `alice@example.com` .\n\n\n* `serviceAccount:{emailid}`: An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`: An email address that represents a Google group.\n   For example, `admins@example.com`.\n\n* `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a user that has been recently deleted. For\n   example, `alice@example.com?uid=123456789012345678901`. If the user is\n   recovered, this value reverts to `user:{emailid}` and the recovered user\n   retains the role in the binding.\n\n* `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus\n   unique identifier) representing a service account that has been recently\n   deleted. For example,\n   `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.\n   If the service account is undeleted, this value reverts to\n   `serviceAccount:{emailid}` and the undeleted service account retains the\n   role in the binding.\n\n* `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique\n   identifier) representing a Google group that has been recently\n   deleted. For example, `admins@example.com?uid=123456789012345678901`. If\n   the group is recovered, this value reverts to `group:{emailid}` and the\n   recovered group retains the role in the binding.\n\n\n* `domain:{domain}`: The G Suite domain (primary) that represents all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BigQueryModelTraining": {
            "id": "BigQueryModelTraining",
            "properties": {
                "currentIteration": {
                    "description": "[Output-only, Beta] Index of current ML training iteration. Updated during create model query job to show job progress.",
                    "format": "int32",
                    "type": "integer"
                },
                "expectedTotalIterations": {
                    "description": "[Output-only, Beta] Expected number of iterations for the create model query job specified as num_iterations in the input query. The actual total number of iterations may be less than this number due to early stop.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LocationMetadata": {
            "description": "BigQuery-specific metadata about a location. This will be set on\ngoogle.cloud.location.Location.metadata in Cloud Location API\nresponses.",
            "id": "LocationMetadata",
            "properties": {
                "legacyLocationId": {
                    "description": "The legacy BigQuery location ID, e.g. “EU” for the “europe” location.\nThis is for any API consumers that need the legacy “US” and “EU” locations.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProjectList": {
            "id": "ProjectList",
            "properties": {
                "nextPageToken": {
                    "description": "A token to request the next page of results.",
                    "type": "string"
                },
                "totalItems": {
                    "description": "The total number of projects in the list.",
                    "format": "int32",
                    "type": "integer"
                },
                "kind": {
                    "default": "bigquery#projectList",
                    "description": "The type of list.",
                    "type": "string"
                },
                "etag": {
                    "description": "A hash of the page of results",
                    "type": "string"
                },
                "projects": {
                    "description": "Projects to which you have at least READ access.",
                    "items": {
                        "properties": {
                            "kind": {
                                "default": "bigquery#project",
                                "description": "The resource type.",
                                "type": "string"
                            },
                            "id": {
                                "description": "An opaque ID of this project.",
                                "type": "string"
                            },
                            "projectReference": {
                                "$ref": "ProjectReference",
                                "description": "A unique reference to this project."
                            },
                            "friendlyName": {
                                "description": "A descriptive name for this project.",
                                "type": "string"
                            },
                            "numericId": {
                                "description": "The numeric ID of this project.",
                                "format": "uint64",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RoutineReference": {
            "id": "RoutineReference",
            "properties": {
                "projectId": {
                    "description": "[Required] The ID of the project containing this routine.",
                    "type": "string"
                },
                "datasetId": {
                    "description": "[Required] The ID of the dataset containing this routine.",
                    "type": "string"
                },
                "routineId": {
                    "description": "[Required] The ID of the routine. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 256 characters.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "IterationResult": {
            "description": "Information about a single iteration of the training run.",
            "id": "IterationResult",
            "properties": {
                "clusterInfos": {
                    "description": "Information about top clusters for clustering models.",
                    "items": {
                        "$ref": "ClusterInfo"
                    },
                    "type": "array"
                },
                "trainingLoss": {
                    "description": "Loss computed on the training data at the end of iteration.",
                    "format": "double",
                    "type": "number"
                },
                "evalLoss": {
                    "description": "Loss computed on the eval data at the end of iteration.",
                    "format": "double",
                    "type": "number"
                },
                "index": {
                    "description": "Index of the iteration, 0 based.",
                    "format": "int32",
                    "type": "integer"
                },
                "learnRate": {
                    "description": "Learn rate used for this iteration.",
                    "format": "double",
                    "type": "number"
                },
                "durationMs": {
                    "description": "Time taken to run the iteration in milliseconds.",
                    "format": "int64",
                    "type": "string"
                },
                "arimaResult": {
                    "$ref": "ArimaResult"
                }
            },
            "type": "object"
        },
        "JobCancelResponse": {
            "id": "JobCancelResponse",
            "properties": {
                "kind": {
                    "default": "bigquery#jobCancelResponse",
                    "description": "The resource type of the response.",
                    "type": "string"
                },
                "job": {
                    "$ref": "Job",
                    "description": "The final state of the job."
                }
            },
            "type": "object"
        },
        "ProjectReference": {
            "id": "ProjectReference",
            "properties": {
                "projectId": {
                    "description": "[Required] ID of the project. Can be either the numeric ID or the assigned ID of the project.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BigtableOptions": {
            "id": "BigtableOptions",
            "properties": {
                "readRowkeyAsString": {
                    "description": "[Optional] If field is true, then the rowkey column families will be read and converted to string. Otherwise they are read with BYTES type values and users need to manually cast them with CAST if necessary. The default value is false.",
                    "type": "boolean"
                },
                "columnFamilies": {
                    "description": "[Optional] List of column families to expose in the table schema along with their types. This list restricts the column families that can be referenced in queries and specifies their value types. You can use this list to do type conversions - see the 'type' field for more details. If you leave this list empty, all column families are present in the table schema and their values are read as BYTES. During a query only the column families referenced in that query are read from Bigtable.",
                    "items": {
                        "$ref": "BigtableColumnFamily"
                    },
                    "type": "array"
                },
                "ignoreUnspecifiedColumnFamilies": {
                    "description": "[Optional] If field is true, then the column families that are not specified in columnFamilies list are not exposed in the table schema. Otherwise, they are read with BYTES type values. The default value is false.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "ListRoutinesResponse": {
            "id": "ListRoutinesResponse",
            "properties": {
                "routines": {
                    "description": "Routines in the requested dataset. Unless read_mask is set in the request,\nonly the following fields are populated:\netag, project_id, dataset_id, routine_id, routine_type, creation_time,\nlast_modified_time, and language.",
                    "items": {
                        "$ref": "Routine"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to request the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SetIamPolicyRequest": {
            "description": "Request message for `SetIamPolicy` method.",
            "id": "SetIamPolicyRequest",
            "properties": {
                "policy": {
                    "$ref": "Policy",
                    "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of\nthe policy is limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud Platform services (such as Projects)\nmight reject them."
                },
                "updateMask": {
                    "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only\nthe fields in the mask will be modified. If no mask is provided, the\nfollowing default mask is used:\n\n`paths: \"bindings, etag\"`",
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobConfiguration": {
            "id": "JobConfiguration",
            "properties": {
                "dryRun": {
                    "description": "[Optional] If set, don't actually run this job. A valid query will return a mostly empty response with some processing statistics, while an invalid query will return the same error it would if it wasn't a dry run. Behavior of non-query jobs is undefined.",
                    "type": "boolean"
                },
                "load": {
                    "$ref": "JobConfigurationLoad",
                    "description": "[Pick one] Configures a load job."
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The labels associated with this job. You can use these to organize and group your jobs. Label keys and values can be no longer than 63 characters, can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter and each label in the list must have a different key.",
                    "type": "object"
                },
                "jobType": {
                    "description": "[Output-only] The type of the job. Can be QUERY, LOAD, EXTRACT, COPY or UNKNOWN.",
                    "type": "string"
                },
                "extract": {
                    "$ref": "JobConfigurationExtract",
                    "description": "[Pick one] Configures an extract job."
                },
                "copy": {
                    "$ref": "JobConfigurationTableCopy",
                    "description": "[Pick one] Copies a table."
                },
                "jobTimeoutMs": {
                    "description": "[Optional] Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt to terminate the job.",
                    "format": "int64",
                    "type": "string"
                },
                "query": {
                    "$ref": "JobConfigurationQuery",
                    "description": "[Pick one] Configures a query job."
                }
            },
            "type": "object"
        },
        "JsonObject": {
            "additionalProperties": {
                "$ref": "JsonValue"
            },
            "description": "Represents a single JSON object.",
            "id": "JsonObject",
            "type": "object"
        },
        "Argument": {
            "description": "Input/output argument of a function or a stored procedure.",
            "id": "Argument",
            "properties": {
                "argumentKind": {
                    "description": "Optional. Defaults to FIXED_TYPE.",
                    "enum": [
                        "ARGUMENT_KIND_UNSPECIFIED",
                        "FIXED_TYPE",
                        "ANY_TYPE"
                    ],
                    "enumDescriptions": [
                        "",
                        "The argument is a variable with fully specified type, which can be a\nstruct or an array, but not a table.",
                        "The argument is any type, including struct or array, but not a table.\nTo be added: FIXED_TABLE, ANY_TABLE"
                    ],
                    "type": "string"
                },
                "mode": {
                    "description": "Optional. Specifies whether the argument is input or output.\nCan be set for procedures only.",
                    "enum": [
                        "MODE_UNSPECIFIED",
                        "IN",
                        "OUT",
                        "INOUT"
                    ],
                    "enumDescriptions": [
                        "",
                        "The argument is input-only.",
                        "The argument is output-only.",
                        "The argument is both an input and an output."
                    ],
                    "type": "string"
                },
                "dataType": {
                    "$ref": "StandardSqlDataType",
                    "description": "Required unless argument_kind = ANY_TYPE."
                },
                "name": {
                    "description": "Optional. The name of this argument. Can be absent for function return argument.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExplainQueryStep": {
            "id": "ExplainQueryStep",
            "properties": {
                "kind": {
                    "description": "Machine-readable operation type.",
                    "type": "string"
                },
                "substeps": {
                    "description": "Human-readable stage descriptions.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DatasetList": {
            "id": "DatasetList",
            "properties": {
                "datasets": {
                    "description": "An array of the dataset resources in the project. Each resource contains basic information. For full information about a particular dataset resource, use the Datasets: get method. This property is omitted when there are no datasets in the project.",
                    "items": {
                        "properties": {
                            "datasetReference": {
                                "$ref": "DatasetReference",
                                "description": "The dataset reference. Use this property to access specific parts of the dataset's ID, such as project ID or dataset ID."
                            },
                            "id": {
                                "description": "The fully-qualified, unique, opaque ID of the dataset.",
                                "type": "string"
                            },
                            "location": {
                                "description": "The geographic location where the data resides.",
                                "type": "string"
                            },
                            "friendlyName": {
                                "description": "A descriptive name for the dataset, if one exists.",
                                "type": "string"
                            },
                            "kind": {
                                "default": "bigquery#dataset",
                                "description": "The resource type. This property always returns the value \"bigquery#dataset\".",
                                "type": "string"
                            },
                            "labels": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "The labels associated with this dataset. You can use these to organize and group your datasets.",
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token that can be used to request the next results page. This property is omitted on the final results page.",
                    "type": "string"
                },
                "kind": {
                    "default": "bigquery#datasetList",
                    "description": "The list type. This property always returns the value \"bigquery#datasetList\".",
                    "type": "string"
                },
                "etag": {
                    "description": "A hash value of the results page. You can use this property to determine if the page has changed since the last request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobConfigurationTableCopy": {
            "id": "JobConfigurationTableCopy",
            "properties": {
                "destinationEncryptionConfiguration": {
                    "$ref": "EncryptionConfiguration",
                    "description": "Custom encryption configuration (e.g., Cloud KMS keys)."
                },
                "sourceTables": {
                    "description": "[Pick one] Source tables to copy.",
                    "items": {
                        "$ref": "TableReference"
                    },
                    "type": "array"
                },
                "createDisposition": {
                    "description": "[Optional] Specifies whether the job is allowed to create new tables. The following values are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound' error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                "sourceTable": {
                    "$ref": "TableReference",
                    "description": "[Pick one] Source table to copy."
                },
                "writeDisposition": {
                    "description": "[Optional] Specifies the action that occurs if the destination table already exists. The following values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites the table data. WRITE_APPEND: If the table already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table already exists and contains data, a 'duplicate' error is returned in the job result. The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery is able to complete the job successfully. Creation, truncation and append actions occur as one atomic update upon job completion.",
                    "type": "string"
                },
                "destinationTable": {
                    "$ref": "TableReference",
                    "description": "[Required] The destination table"
                }
            },
            "type": "object"
        },
        "BinaryConfusionMatrix": {
            "description": "Confusion matrix for binary classification models.",
            "id": "BinaryConfusionMatrix",
            "properties": {
                "trueNegatives": {
                    "description": "Number of true samples predicted as false.",
                    "format": "int64",
                    "type": "string"
                },
                "falsePositives": {
                    "description": "Number of false samples predicted as true.",
                    "format": "int64",
                    "type": "string"
                },
                "f1Score": {
                    "description": "The equally weighted average of recall and precision.",
                    "format": "double",
                    "type": "number"
                },
                "precision": {
                    "description": "The fraction of actual positive predictions that had positive actual\nlabels.",
                    "format": "double",
                    "type": "number"
                },
                "accuracy": {
                    "description": "The fraction of predictions given the correct label.",
                    "format": "double",
                    "type": "number"
                },
                "positiveClassThreshold": {
                    "description": "Threshold value used when computing each of the following metric.",
                    "format": "double",
                    "type": "number"
                },
                "truePositives": {
                    "description": "Number of true samples predicted as true.",
                    "format": "int64",
                    "type": "string"
                },
                "recall": {
                    "description": "The fraction of actual positive labels that were given a positive\nprediction.",
                    "format": "double",
                    "type": "number"
                },
                "falseNegatives": {
                    "description": "Number of false samples predicted as false.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TestIamPermissionsRequest": {
            "description": "Request message for `TestIamPermissions` method.",
[...]
