{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/blogger": {
                    "description": "Manage your Blogger account"
                },
                "https://www.googleapis.com/auth/blogger.readonly": {
                    "description": "View your Blogger account"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://blogger.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Blogger",
    "description": "The Blogger API provides access to posts, comments and pages of a Blogger blog.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/blogger/docs/3.0/getting_started",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "blogger:v3",
    "kind": "discovery#restDescription",
    "name": "blogger",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "posts": {
            "methods": {
                "patch": {
                    "description": "Patches a post.",
                    "httpMethod": "PATCH",
                    "id": "blogger.posts.patch",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "publish": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "fetchImages": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fetchBody": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxComments": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "revert": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}",
                    "request": {
                        "$ref": "Post"
                    },
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "search": {
                    "description": "Searches for posts matching given query terms in the specified blog.",
                    "httpMethod": "GET",
                    "id": "blogger.posts.search",
                    "parameterOrder": [
                        "blogId",
                        "q"
                    ],
                    "parameters": {
                        "q": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderBy": {
                            "default": "PUBLISHED",
                            "enum": [
                                "ORDER_BY_UNSPECIFIED",
                                "PUBLISHED",
                                "UPDATED"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "fetchBodies": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/search",
                    "response": {
                        "$ref": "PostList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes a post by blog id and post id.",
                    "httpMethod": "DELETE",
                    "id": "blogger.posts.delete",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "get": {
                    "description": "Gets a post by blog id and post id",
                    "httpMethod": "GET",
                    "id": "blogger.posts.get",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "maxComments": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fetchBody": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "fetchImages": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}",
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a post by blog id and post id.",
                    "httpMethod": "PUT",
                    "id": "blogger.posts.update",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "fetchBody": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "fetchImages": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "publish": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxComments": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "revert": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}",
                    "request": {
                        "$ref": "Post"
                    },
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "publish": {
                    "description": "Publishes a post.",
                    "httpMethod": "POST",
                    "id": "blogger.posts.publish",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "publishDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/publish",
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "getByPath": {
                    "description": "Gets a post by path.",
                    "httpMethod": "GET",
                    "id": "blogger.posts.getByPath",
                    "parameterOrder": [
                        "blogId",
                        "path"
                    ],
                    "parameters": {
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "path": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxComments": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/bypath",
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "revert": {
                    "description": "Reverts a published or scheduled post to draft state.",
                    "httpMethod": "POST",
                    "id": "blogger.posts.revert",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/revert",
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "insert": {
                    "description": "Inserts a post.",
                    "httpMethod": "POST",
                    "id": "blogger.posts.insert",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "isDraft": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "fetchBody": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fetchImages": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts",
                    "request": {
                        "$ref": "Post"
                    },
                    "response": {
                        "$ref": "Post"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "list": {
                    "description": "Lists posts.",
                    "httpMethod": "GET",
                    "id": "blogger.posts.list",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "fetchBodies": {
                            "default": "true",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "endDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "fetchImages": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "status": {
                            "enum": [
                                "LIVE",
                                "DRAFT",
                                "SCHEDULED"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "labels": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "startDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderBy": {
                            "default": "PUBLISHED",
                            "enum": [
                                "ORDER_BY_UNSPECIFIED",
                                "PUBLISHED",
                                "UPDATED"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts",
                    "response": {
                        "$ref": "PostList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "pageViews": {
            "methods": {
                "get": {
                    "description": "Gets page views by blog id.",
                    "httpMethod": "GET",
                    "id": "blogger.pageViews.get",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "range": {
                            "enum": [
                                "all",
                                "30DAYS",
                                "7DAYS"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pageviews",
                    "response": {
                        "$ref": "Pageviews"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                }
            }
        },
        "blogs": {
            "methods": {
                "listByUser": {
                    "description": "Lists blogs by user.",
                    "httpMethod": "GET",
                    "id": "blogger.blogs.listByUser",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "role": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "status": {
                            "description": "Default value of status is LIVE.",
                            "enum": [
                                "LIVE",
                                "DELETED"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "fetchUserInfo": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v3/users/{userId}/blogs",
                    "response": {
                        "$ref": "BlogList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "getByUrl": {
                    "description": "Gets a blog by url.",
                    "httpMethod": "GET",
                    "id": "blogger.blogs.getByUrl",
                    "parameterOrder": [
                        "url"
                    ],
                    "parameters": {
                        "url": {
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/byurl",
                    "response": {
                        "$ref": "Blog"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "get": {
                    "description": "Gets a blog by id.",
                    "httpMethod": "GET",
                    "id": "blogger.blogs.get",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "maxPosts": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v3/blogs/{blogId}",
                    "response": {
                        "$ref": "Blog"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "pages": {
            "methods": {
                "revert": {
                    "description": "Reverts a published or scheduled page to draft state.",
                    "httpMethod": "POST",
                    "id": "blogger.pages.revert",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}/revert",
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "delete": {
                    "description": "Deletes a page by blog id and page id.",
                    "httpMethod": "DELETE",
                    "id": "blogger.pages.delete",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "insert": {
                    "description": "Inserts a page.",
                    "httpMethod": "POST",
                    "id": "blogger.pages.insert",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "isDraft": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages",
                    "request": {
                        "$ref": "Page"
                    },
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "publish": {
                    "description": "Publishes a page.",
                    "httpMethod": "POST",
                    "id": "blogger.pages.publish",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}/publish",
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "update": {
                    "description": "Updates a page by blog id and page id.",
                    "httpMethod": "PUT",
                    "id": "blogger.pages.update",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "publish": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "revert": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}",
                    "request": {
                        "$ref": "Page"
                    },
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "get": {
                    "description": "Gets a page by blog id and page id.",
                    "httpMethod": "GET",
                    "id": "blogger.pages.get",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}",
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "patch": {
                    "description": "Patches a page.",
                    "httpMethod": "PATCH",
                    "id": "blogger.pages.patch",
                    "parameterOrder": [
                        "blogId",
                        "pageId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "publish": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "revert": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages/{pageId}",
                    "request": {
                        "$ref": "Page"
                    },
                    "response": {
                        "$ref": "Page"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "list": {
                    "description": "Lists pages.",
                    "httpMethod": "GET",
                    "id": "blogger.pages.list",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "status": {
                            "enum": [
                                "LIVE",
                                "DRAFT"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "fetchBodies": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        }
                    },
                    "path": "v3/blogs/{blogId}/pages",
                    "response": {
                        "$ref": "PageList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "comments": {
            "methods": {
                "removeContent": {
                    "description": "Removes the content of a comment by blog id, post id and comment id.",
                    "httpMethod": "POST",
                    "id": "blogger.comments.removeContent",
                    "parameterOrder": [
                        "blogId",
                        "postId",
                        "commentId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent",
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "get": {
                    "description": "Gets a comment by id.",
                    "httpMethod": "GET",
                    "id": "blogger.comments.get",
                    "parameterOrder": [
                        "blogId",
                        "postId",
                        "commentId"
                    ],
                    "parameters": {
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}",
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes a comment by blog id, post id and comment id.",
                    "httpMethod": "DELETE",
                    "id": "blogger.comments.delete",
                    "parameterOrder": [
                        "blogId",
                        "postId",
                        "commentId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "markAsSpam": {
                    "description": "Marks a comment as spam by blog id, post id and comment id.",
                    "httpMethod": "POST",
                    "id": "blogger.comments.markAsSpam",
                    "parameterOrder": [
                        "blogId",
                        "postId",
                        "commentId"
                    ],
                    "parameters": {
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/spam",
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "approve": {
                    "description": "Marks a comment as not spam by blog id, post id and comment id.",
                    "httpMethod": "POST",
                    "id": "blogger.comments.approve",
                    "parameterOrder": [
                        "blogId",
                        "postId",
                        "commentId"
                    ],
                    "parameters": {
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "commentId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments/{commentId}/approve",
                    "response": {
                        "$ref": "Comment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger"
                    ]
                },
                "listByBlog": {
                    "description": "Lists comments by blog.",
                    "httpMethod": "GET",
                    "id": "blogger.comments.listByBlog",
                    "parameterOrder": [
                        "blogId"
                    ],
                    "parameters": {
                        "endDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "status": {
                            "enum": [
                                "LIVE",
                                "EMPTIED",
                                "PENDING",
                                "SPAM"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "fetchBodies": {
                            "location": "query",
                            "type": "boolean"
                        },
                        "startDate": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v3/blogs/{blogId}/comments",
                    "response": {
                        "$ref": "CommentList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "list": {
                    "description": "Lists comments.",
                    "httpMethod": "GET",
                    "id": "blogger.comments.list",
                    "parameterOrder": [
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "status": {
                            "enum": [
                                "LIVE",
                                "EMPTIED",
                                "PENDING",
                                "SPAM"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "startDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "endDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "fetchBodies": {
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v3/blogs/{blogId}/posts/{postId}/comments",
                    "response": {
                        "$ref": "CommentList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "postUserInfos": {
            "methods": {
                "get": {
                    "description": "Gets one post and user info pair, by post_id and user_id.",
                    "httpMethod": "GET",
                    "id": "blogger.postUserInfos.get",
                    "parameterOrder": [
                        "userId",
                        "blogId",
                        "postId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "postId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxComments": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/users/{userId}/blogs/{blogId}/posts/{postId}",
                    "response": {
                        "$ref": "PostUserInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                },
                "list": {
                    "description": "Lists post and user info pairs.",
                    "httpMethod": "GET",
                    "id": "blogger.postUserInfos.list",
                    "parameterOrder": [
                        "userId",
                        "blogId"
                    ],
                    "parameters": {
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "view": {
                            "enum": [
                                "VIEW_TYPE_UNSPECIFIED",
                                "READER",
                                "AUTHOR",
                                "ADMIN"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "default": "PUBLISHED",
                            "enum": [
                                "ORDER_BY_UNSPECIFIED",
                                "PUBLISHED",
                                "UPDATED"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "labels": {
                            "location": "query",
                            "type": "string"
                        },
                        "endDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "startDate": {
                            "location": "query",
                            "type": "string"
                        },
                        "fetchBodies": {
                            "default": "false",
                            "location": "query",
                            "type": "boolean"
                        },
                        "status": {
                            "enum": [
                                "LIVE",
                                "DRAFT",
                                "SCHEDULED"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/users/{userId}/blogs/{blogId}/posts",
                    "response": {
                        "$ref": "PostUserInfosList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "users": {
            "methods": {
                "get": {
                    "description": "Gets one user by user_id.",
                    "httpMethod": "GET",
                    "id": "blogger.users.get",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/users/{userId}",
                    "response": {
                        "$ref": "User"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        },
        "blogUserInfos": {
            "methods": {
                "get": {
                    "description": "Gets one blog and user info pair by blog id and user id.",
                    "httpMethod": "GET",
                    "id": "blogger.blogUserInfos.get",
                    "parameterOrder": [
                        "userId",
                        "blogId"
                    ],
                    "parameters": {
                        "maxPosts": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "blogId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "userId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v3/users/{userId}/blogs/{blogId}",
                    "response": {
                        "$ref": "BlogUserInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/blogger",
                        "https://www.googleapis.com/auth/blogger.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20201006",
    "rootUrl": "https://blogger.googleapis.com/",
    "schemas": {
        "Post": {
            "id": "Post",
            "properties": {
                "status": {
                    "description": "Status of the post. Only set for admin-level requests.",
                    "enum": [
                        "LIVE",
                        "DRAFT",
                        "SCHEDULED"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "location": {
                    "description": "The location for geotagged posts.",
                    "properties": {
                        "lat": {
                            "description": "Location's latitude.",
                            "format": "double",
                            "type": "number"
                        },
                        "lng": {
                            "description": "Location's longitude.",
                            "format": "double",
                            "type": "number"
                        },
                        "span": {
                            "description": "Location's viewport span. Can be used when rendering a map preview.",
                            "type": "string"
                        },
                        "name": {
                            "description": "Location name.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "replies": {
                    "description": "The container of comments on this Post.",
                    "properties": {
                        "items": {
                            "description": "The List of Comments for this Post.",
                            "items": {
                                "$ref": "Comment"
                            },
                            "type": "array"
                        },
                        "totalItems": {
                            "description": "The count of comments on this post.",
                            "format": "int64",
                            "type": "string"
                        },
                        "selfLink": {
                            "description": "The URL of the comments on this post.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "selfLink": {
                    "description": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#post.",
                    "type": "string"
                },
                "author": {
                    "description": "The author of this Post.",
                    "properties": {
                        "id": {
                            "description": "The identifier of the creator.",
                            "type": "string"
                        },
                        "displayName": {
                            "description": "The display name.",
                            "type": "string"
                        },
                        "url": {
                            "description": "The URL of the creator's Profile page.",
                            "type": "string"
                        },
                        "image": {
                            "description": "The creator's avatar.",
                            "properties": {
                                "url": {
                                    "description": "The creator's avatar URL.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "id": {
                    "description": "The identifier of this Post.",
                    "type": "string"
                },
                "blog": {
                    "description": "Data about the blog containing this Post.",
                    "properties": {
                        "id": {
                            "description": "The identifier of the Blog that contains this Post.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "images": {
                    "description": "Display image for the Post.",
                    "items": {
                        "properties": {
                            "url": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "labels": {
                    "description": "The list of labels this Post was tagged with.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "url": {
                    "description": "The URL where this Post is displayed.",
                    "type": "string"
                },
                "etag": {
                    "description": "Etag of the resource.",
                    "type": "string"
                },
                "customMetaData": {
                    "description": "The JSON meta-data for the Post.",
                    "type": "string"
                },
                "updated": {
                    "description": "RFC 3339 date-time when this Post was last updated.",
                    "type": "string"
                },
                "title": {
                    "description": "The title of the Post.",
                    "type": "string"
                },
                "content": {
                    "description": "The content of the Post. May contain HTML markup.",
                    "type": "string"
                },
                "readerComments": {
                    "description": "Comment control and display setting for readers of this post.",
                    "enum": [
                        "ALLOW",
                        "DONT_ALLOW_SHOW_EXISTING",
                        "DONT_ALLOW_HIDE_EXISTING"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "titleLink": {
                    "description": "The title link URL, similar to atom's related link.",
                    "type": "string"
                },
                "published": {
                    "description": "RFC 3339 date-time when this Post was published.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Page": {
            "id": "Page",
            "properties": {
                "selfLink": {
                    "description": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#page.",
                    "type": "string"
                },
                "status": {
                    "description": "The status of the page for admin resources (either LIVE or DRAFT).",
                    "enum": [
                        "LIVE",
                        "DRAFT"
                    ],
                    "enumDescriptions": [
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "url": {
                    "description": "The URL that this Page is displayed at.",
                    "type": "string"
                },
                "updated": {
                    "description": "RFC 3339 date-time when this Page was last updated.",
                    "type": "string"
                },
                "author": {
                    "description": "The author of this Page.",
                    "properties": {
                        "displayName": {
                            "description": "The display name.",
                            "type": "string"
                        },
                        "image": {
                            "description": "The creator's avatar.",
                            "properties": {
                                "url": {
                                    "description": "The creator's avatar URL.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "url": {
                            "description": "The URL of the creator's Profile page.",
                            "type": "string"
                        },
                        "id": {
                            "description": "The identifier of the creator.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "content": {
                    "description": "The body content of this Page, in HTML.",
                    "type": "string"
                },
                "etag": {
                    "description": "Etag of the resource.",
                    "type": "string"
                },
                "published": {
                    "description": "RFC 3339 date-time when this Page was published.",
                    "type": "string"
                },
                "id": {
                    "description": "The identifier for this resource.",
                    "type": "string"
                },
                "title": {
                    "description": "The title of this entity. This is the name displayed in the Admin user interface.",
                    "type": "string"
                },
                "blog": {
                    "description": "Data about the blog containing this Page.",
                    "properties": {
                        "id": {
                            "description": "The identifier of the blog containing this page.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "PostUserInfo": {
            "id": "PostUserInfo",
            "properties": {
                "post_user_info": {
                    "$ref": "PostPerUserInfo",
                    "description": "Information about a User for the Post."
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#postUserInfo.",
                    "type": "string"
                },
                "post": {
                    "$ref": "Post",
                    "description": "The Post resource."
                }
            },
            "type": "object"
        },
        "BlogUserInfo": {
            "id": "BlogUserInfo",
            "properties": {
                "blog": {
                    "$ref": "Blog",
                    "description": "The Blog resource."
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#blogUserInfo.",
                    "type": "string"
                },
                "blog_user_info": {
                    "$ref": "BlogPerUserInfo",
                    "description": "Information about a User for the Blog."
                }
            },
            "type": "object"
        },
        "CommentList": {
            "id": "CommentList",
            "properties": {
                "nextPageToken": {
                    "description": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                "items": {
                    "description": "The List of Comments for a Post.",
                    "items": {
                        "$ref": "Comment"
                    },
                    "type": "array"
                },
                "kind": {
                    "description": "The kind of this entry. Always blogger#commentList.",
                    "type": "string"
                },
                "prevPageToken": {
                    "description": "Pagination token to fetch the previous page, if one exists.",
                    "type": "string"
                },
                "etag": {
                    "description": "Etag of the response.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BlogPerUserInfo": {
            "id": "BlogPerUserInfo",
            "properties": {
                "hasAdminAccess": {
                    "description": "True if the user has Admin level access to the blog.",
                    "type": "boolean"
                },
                "userId": {
                    "description": "ID of the User.",
                    "type": "string"
                },
                "blogId": {
                    "description": "ID of the Blog resource.",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#blogPerUserInfo.",
                    "type": "string"
                },
                "role": {
                    "description": "Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).",
                    "enum": [
                        "VIEW_TYPE_UNSPECIFIED",
                        "READER",
                        "AUTHOR",
                        "ADMIN"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "photosAlbumKey": {
                    "description": "The Photo Album Key for the user when adding photos to the blog.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BlogList": {
            "id": "BlogList",
            "properties": {
                "kind": {
                    "description": "The kind of this entity. Always blogger#blogList.",
                    "type": "string"
                },
                "blogUserInfos": {
                    "description": "Admin level list of blog per-user information.",
                    "items": {
                        "$ref": "BlogUserInfo"
                    },
                    "type": "array"
                },
                "items": {
                    "description": "The list of Blogs this user has Authorship or Admin rights over.",
                    "items": {
                        "$ref": "Blog"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Comment": {
            "id": "Comment",
            "properties": {
                "selfLink": {
                    "description": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                "post": {
                    "description": "Data about the post containing this comment.",
                    "properties": {
                        "id": {
                            "description": "The identifier of the post containing this comment.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "id": {
                    "description": "The identifier for this resource.",
                    "type": "string"
                },
                "content": {
                    "description": "The actual content of the comment. May include HTML markup.",
                    "type": "string"
                },
                "published": {
                    "description": "RFC 3339 date-time when this comment was published.",
                    "type": "string"
                },
                "status": {
                    "description": "The status of the comment (only populated for admin users).",
                    "enum": [
                        "LIVE",
                        "EMPTIED",
                        "PENDING",
                        "SPAM"
                    ],
                    "enumDescriptions": [
                        "",
                        "",
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entry. Always blogger#comment.",
                    "type": "string"
                },
                "updated": {
                    "description": "RFC 3339 date-time when this comment was last updated.",
                    "type": "string"
                },
                "author": {
                    "description": "The author of this Comment.",
                    "properties": {
                        "url": {
                            "description": "The URL of the creator's Profile page.",
                            "type": "string"
                        },
                        "id": {
                            "description": "The identifier of the creator.",
                            "type": "string"
                        },
                        "displayName": {
                            "description": "The display name.",
                            "type": "string"
                        },
                        "image": {
                            "description": "The creator's avatar.",
                            "properties": {
                                "url": {
                                    "description": "The creator's avatar URL.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                },
                "inReplyTo": {
                    "description": "Data about the comment this is in reply to.",
                    "properties": {
                        "id": {
                            "description": "The identified of the parent of this comment.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "blog": {
                    "description": "Data about the blog containing this comment.",
                    "properties": {
                        "id": {
                            "description": "The identifier of the blog containing this comment.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Blog": {
            "id": "Blog",
            "properties": {
                "selfLink": {
                    "description": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                "updated": {
                    "description": "RFC 3339 date-time when this blog was last updated.",
                    "type": "string"
                },
                "customMetaData": {
                    "description": "The JSON custom meta-data for the Blog.",
                    "type": "string"
                },
                "published": {
                    "description": "RFC 3339 date-time when this blog was published.",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entry. Always blogger#blog.",
                    "type": "string"
                },
                "description": {
                    "description": "The description of this blog. This is displayed underneath the title.",
                    "type": "string"
                },
                "posts": {
                    "description": "The container of posts in this blog.",
                    "properties": {
                        "totalItems": {
                            "description": "The count of posts in this blog.",
                            "format": "int32",
                            "type": "integer"
                        },
                        "items": {
                            "description": "The List of Posts for this Blog.",
                            "items": {
                                "$ref": "Post"
                            },
                            "type": "array"
                        },
                        "selfLink": {
                            "description": "The URL of the container for posts in this blog.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "name": {
                    "description": "The name of this blog. This is displayed as the title.",
                    "type": "string"
                },
                "id": {
                    "description": "The identifier for this resource.",
                    "type": "string"
                },
                "locale": {
                    "description": "The locale this Blog is set to.",
                    "properties": {
                        "variant": {
                            "description": "The language variant this blog is authored in.",
                            "type": "string"
                        },
                        "country": {
                            "description": "The country this blog's locale is set to.",
                            "type": "string"
                        },
                        "language": {
                            "description": "The language this blog is authored in.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "url": {
                    "description": "The URL where this blog is published.",
                    "type": "string"
                },
                "status": {
                    "description": "The status of the blog.",
                    "enum": [
                        "LIVE",
                        "DELETED"
                    ],
                    "enumDescriptions": [
                        "",
                        ""
                    ],
                    "type": "string"
                },
                "pages": {
                    "description": "The container of pages in this blog.",
                    "properties": {
                        "selfLink": {
                            "description": "The URL of the container for pages in this blog.",
                            "type": "string"
                        },
                        "totalItems": {
                            "description": "The count of pages in this blog.",
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "User": {
            "id": "User",
            "properties": {
                "id": {
                    "description": "The identifier for this User.",
                    "type": "string"
                },
                "displayName": {
                    "description": "The display name.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "The API REST URL to fetch this resource from.",
                    "type": "string"
                },
                "locale": {
                    "description": "This user's locale",
                    "properties": {
                        "variant": {
                            "description": "The language variant this blog is authored in.",
                            "type": "string"
                        },
                        "country": {
                            "description": "The country this blog's locale is set to.",
                            "type": "string"
                        },
                        "language": {
                            "description": "The language this blog is authored in.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#user.",
                    "type": "string"
                },
                "blogs": {
                    "description": "The container of blogs for this user.",
                    "properties": {
                        "selfLink": {
                            "description": "The URL of the Blogs for this user.",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "url": {
                    "description": "The user's profile page.",
                    "type": "string"
                },
                "created": {
                    "description": "The timestamp of when this profile was created, in seconds since epoch.",
                    "type": "string"
                },
                "about": {
                    "description": "Profile summary information.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PostUserInfosList": {
            "id": "PostUserInfosList",
            "properties": {
                "kind": {
                    "description": "The kind of this entity. Always blogger#postList.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                "items": {
                    "description": "The list of Posts with User information for the post, for this Blog.",
                    "items": {
                        "$ref": "PostUserInfo"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PostList": {
            "id": "PostList",
            "properties": {
                "kind": {
                    "description": "The kind of this entity. Always blogger#postList.",
                    "type": "string"
                },
                "etag": {
                    "description": "Etag of the response.",
                    "type": "string"
                },
                "items": {
                    "description": "The list of Posts for this Blog.",
                    "items": {
                        "$ref": "Post"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                "prevPageToken": {
                    "description": "Pagination token to fetch the previous page, if one exists.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PageList": {
            "id": "PageList",
            "properties": {
                "etag": {
                    "description": "Etag of the response.",
                    "type": "string"
                },
                "items": {
                    "description": "The list of Pages for a Blog.",
                    "items": {
                        "$ref": "Page"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "Pagination token to fetch the next page, if one exists.",
                    "type": "string"
                },
                "kind": {
                    "description": "The kind of this entity. Always blogger#pageList.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "PostPerUserInfo": {
            "id": "PostPerUserInfo",
            "properties": {
                "kind": {
                    "description": "The kind of this entity. Always blogger#postPerUserInfo.",
                    "type": "string"
                },
                "blogId": {
                    "description": "ID of the Blog that the post resource belongs to.",
                    "type": "string"
                },
                "userId": {
                    "description": "ID of the User.",
                    "type": "string"
                },
                "hasEditAccess": {
                    "description": "True if the user has Author level access to the post.",
                    "type": "boolean"
                },
                "postId": {
                    "description": "ID of the Post resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Pageviews": {
            "id": "Pageviews",
            "properties": {
                "blogId": {
                    "description": "Blog Id.",
                    "type": "string"
                },
                "counts": {
                    "description": "The container of posts in this blog.",
                    "items": {
                        "properties": {
                            "count": {
                                "description": "Count of page views for the given time range.",
                                "format": "int64",
                                "type": "string"
                            },
                            "timeRange": {
                                "description": "Time range the given count applies to.",
                                "enum": [
                                    "ALL_TIME",
                                    "THIRTY_DAYS",
                                    "SEVEN_DAYS"
                                ],
                                "enumDescriptions": [
                                    "",
                                    "",
                                    ""
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "kind": {
                    "description": "The kind of this entry. Always blogger#page_views.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Blogger API v3",
    "version": "v3"
}