{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/books": {
                    "description": "Manage your books"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://books.googleapis.com/",
    "batchPath": "batch",
    "description": "The Google Books API allows clients to access the Google Books repository.",
    "discoveryVersion": "v1",
    "documentationLink": "https://code.google.com/apis/books/docs/v1/getting_started.html",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "books:v1",
    "kind": "discovery#restDescription",
    "name": "books",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "bookshelves": {
            "methods": {
                "get": {
                    "description": "Retrieves metadata for a specific bookshelf for the specified user.",
                    "httpMethod": "GET",
                    "id": "books.bookshelves.get",
                    "parameterOrder": [
                        "userId",
                        "shelf"
                    ],
                    "parameters": {
                        "userId": {
                            "description": "ID of user for whom to retrieve bookshelves.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "shelf": {
                            "description": "ID of bookshelf to retrieve.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/users/{userId}/bookshelves/{shelf}",
                    "response": {
                        "$ref": "Bookshelf"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of public bookshelves for the specified user.",
                    "httpMethod": "GET",
                    "id": "books.bookshelves.list",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "description": "ID of user for whom to retrieve bookshelves.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/users/{userId}/bookshelves",
                    "response": {
                        "$ref": "Bookshelves"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "volumes": {
                    "methods": {
                        "list": {
                            "description": "Retrieves volumes in a specific bookshelf for the specified user.",
                            "httpMethod": "GET",
                            "id": "books.bookshelves.volumes.list",
                            "parameterOrder": [
                                "userId",
                                "shelf"
                            ],
                            "parameters": {
                                "userId": {
                                    "description": "ID of user for whom to retrieve bookshelf volumes.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "startIndex": {
                                    "description": "Index of the first element to return (starts at 0)",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "showPreorders": {
                                    "description": "Set to true to show pre-ordered books. Defaults to false.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "shelf": {
                                    "description": "ID of bookshelf to retrieve volumes.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "Maximum number of results to return",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "books/v1/users/{userId}/bookshelves/{shelf}/volumes",
                            "response": {
                                "$ref": "Volumes"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "notification": {
            "methods": {
                "get": {
                    "description": "Returns notification details for a given notification id.",
                    "httpMethod": "GET",
                    "id": "books.notification.get",
                    "parameterOrder": [],
                    "parameters": {
                        "notification_id": {
                            "description": "String to identify the notification.",
                            "location": "query",
                            "type": "string"
                        },
                        "locale": {
                            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/notification/get",
                    "response": {
                        "$ref": "Notification"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "personalizedstream": {
            "methods": {
                "get": {
                    "description": "Returns a stream of personalized book clusters",
                    "httpMethod": "GET",
                    "id": "books.personalizedstream.get",
                    "parameterOrder": [],
                    "parameters": {
                        "maxAllowedMaturityRating": {
                            "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "enumDescriptions": [
                                "",
                                "Show books which are rated mature or lower.",
                                "Show books which are rated not mature."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "locale": {
                            "description": "ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/personalizedstream/get",
                    "response": {
                        "$ref": "Discoveryclusters"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "promooffer": {
            "methods": {
                "dismiss": {
                    "description": "Marks the promo offer as dismissed.",
                    "httpMethod": "POST",
                    "id": "books.promooffer.dismiss",
                    "parameterOrder": [],
                    "parameters": {
                        "androidId": {
                            "description": "device android_id",
                            "location": "query",
                            "type": "string"
                        },
                        "serial": {
                            "description": "device serial",
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "description": "device product",
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "description": "device model",
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "description": "device manufacturer",
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "description": "device device",
                            "location": "query",
                            "type": "string"
                        },
                        "offerId": {
                            "description": "Offer to dimiss",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/dismiss",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "accept": {
                    "description": "Accepts the promo offer.",
                    "httpMethod": "POST",
                    "id": "books.promooffer.accept",
                    "parameterOrder": [],
                    "parameters": {
                        "volumeId": {
                            "description": "Volume id to exercise the offer",
                            "location": "query",
                            "type": "string"
                        },
                        "offerId": {
                            "location": "query",
                            "type": "string"
                        },
                        "serial": {
                            "description": "device serial",
                            "location": "query",
                            "type": "string"
                        },
                        "androidId": {
                            "description": "device android_id",
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "description": "device model",
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "description": "device device",
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "description": "device manufacturer",
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "description": "device product",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/accept",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "get": {
                    "description": "Returns a list of promo offers available to the user",
                    "httpMethod": "GET",
                    "id": "books.promooffer.get",
                    "parameterOrder": [],
                    "parameters": {
                        "serial": {
                            "description": "device serial",
                            "location": "query",
                            "type": "string"
                        },
                        "model": {
                            "description": "device model",
                            "location": "query",
                            "type": "string"
                        },
                        "device": {
                            "description": "device device",
                            "location": "query",
                            "type": "string"
                        },
                        "manufacturer": {
                            "description": "device manufacturer",
                            "location": "query",
                            "type": "string"
                        },
                        "product": {
                            "description": "device product",
                            "location": "query",
                            "type": "string"
                        },
                        "androidId": {
                            "description": "device android_id",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/promooffer/get",
                    "response": {
                        "$ref": "Offers"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "onboarding": {
            "methods": {
                "listCategoryVolumes": {
                    "description": "List available volumes under categories for onboarding experience.",
                    "httpMethod": "GET",
                    "id": "books.onboarding.listCategoryVolumes",
                    "parameterOrder": [],
                    "parameters": {
                        "categoryId": {
                            "description": "List of category ids requested.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "description": "Number of maximum results per page to be included in the response.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "locale": {
                            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxAllowedMaturityRating": {
                            "description": "The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.",
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "enumDescriptions": [
                                "",
                                "Show books which are rated mature or lower.",
                                "Show books which are rated not mature."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The value of the nextToken from the previous page.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/onboarding/listCategoryVolumes",
                    "response": {
                        "$ref": "Volume2"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "listCategories": {
                    "description": "List categories for onboarding experience.",
                    "httpMethod": "GET",
                    "id": "books.onboarding.listCategories",
                    "parameterOrder": [],
                    "parameters": {
                        "locale": {
                            "description": "ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/onboarding/listCategories",
                    "response": {
                        "$ref": "Category"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "layers": {
            "methods": {
                "list": {
                    "description": "List the layer summaries for a volume.",
                    "httpMethod": "GET",
                    "id": "books.layers.list",
                    "parameterOrder": [
                        "volumeId"
                    ],
                    "parameters": {
                        "pageToken": {
                            "description": "The value of the nextToken from the previous page.",
                            "location": "query",
                            "type": "string"
                        },
                        "contentVersion": {
                            "description": "The content version for the requested volume.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "description": "The volume to retrieve layers for.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/volumes/{volumeId}/layersummary",
                    "response": {
                        "$ref": "Layersummaries"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "get": {
                    "description": "Gets the layer summary for a volume.",
                    "httpMethod": "GET",
                    "id": "books.layers.get",
                    "parameterOrder": [
                        "volumeId",
                        "summaryId"
                    ],
                    "parameters": {
                        "contentVersion": {
                            "description": "The content version for the requested volume.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "description": "The volume to retrieve layers for.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "summaryId": {
                            "description": "The ID for the layer to get the summary for.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/volumes/{volumeId}/layersummary/{summaryId}",
                    "response": {
                        "$ref": "Layersummary"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            },
            "resources": {
                "volumeAnnotations": {
                    "methods": {
                        "list": {
                            "description": "Gets the volume annotations for a volume and layer.",
                            "httpMethod": "GET",
                            "id": "books.layers.volumeAnnotations.list",
                            "parameterOrder": [
                                "volumeId",
                                "layerId"
                            ],
                            "parameters": {
                                "layerId": {
                                    "description": "The ID for the layer to get the annotations.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "The volume to retrieve annotations for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "locale": {
                                    "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "Maximum number of results to return",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "updatedMax": {
                                    "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The value of the nextToken from the previous page.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "description": "The content version for the requested volume.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "endPosition": {
                                    "description": "The end position to end retrieving data from.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMin": {
                                    "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startOffset": {
                                    "description": "The start offset to start retrieving data from.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "endOffset": {
                                    "description": "The end offset to end retrieving data from.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startPosition": {
                                    "description": "The start position to start retrieving data from.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeAnnotationsVersion": {
                                    "description": "The version of the volume annotations that you are requesting.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}",
                            "response": {
                                "$ref": "Volumeannotations"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "get": {
                            "description": "Gets the volume annotation.",
                            "httpMethod": "GET",
                            "id": "books.layers.volumeAnnotations.get",
                            "parameterOrder": [
                                "volumeId",
                                "layerId",
                                "annotationId"
                            ],
                            "parameters": {
                                "locale": {
                                    "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "annotationId": {
                                    "description": "The ID of the volume annotation to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerId": {
                                    "description": "The ID for the layer to get the annotations.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "The volume to retrieve annotations for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}",
                            "response": {
                                "$ref": "Volumeannotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "annotationData": {
                    "methods": {
                        "get": {
                            "description": "Gets the annotation data.",
                            "httpMethod": "GET",
                            "id": "books.layers.annotationData.get",
                            "parameterOrder": [
                                "volumeId",
                                "layerId",
                                "annotationDataId"
                            ],
                            "parameters": {
                                "contentVersion": {
                                    "description": "The content version for the volume you are trying to retrieve.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "locale": {
                                    "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "h": {
                                    "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "w": {
                                    "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "layerId": {
                                    "description": "The ID for the layer to get the annotations.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "allowWebDefinitions": {
                                    "description": "For the dictionary layer. Whether or not to allow web definitions.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "volumeId": {
                                    "description": "The volume to retrieve annotations for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "annotationDataId": {
                                    "description": "The ID of the annotation data to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "scale": {
                                    "description": "The requested scale for the image.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}",
                            "response": {
                                "$ref": "DictionaryAnnotationdata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "description": "Gets the annotation data for a volume and layer.",
                            "httpMethod": "GET",
                            "id": "books.layers.annotationData.list",
                            "parameterOrder": [
                                "volumeId",
                                "layerId"
                            ],
                            "parameters": {
                                "layerId": {
                                    "description": "The ID for the layer to get the annotation data.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "scale": {
                                    "description": "The requested scale for the image.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The value of the nextToken from the previous page.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "locale": {
                                    "description": "The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "w": {
                                    "description": "The requested pixel width for any images. If width is provided height must also be provided.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "h": {
                                    "description": "The requested pixel height for any images. If height is provided width must also be provided.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "updatedMax": {
                                    "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMin": {
                                    "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "description": "The content version for the requested volume.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "Maximum number of results to return",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "annotationDataId": {
                                    "description": "The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "The volume to retrieve annotation data for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/volumes/{volumeId}/layers/{layerId}/data",
                            "response": {
                                "$ref": "Annotationsdata"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "cloudloading": {
            "methods": {
                "addBook": {
                    "description": "Add a user-upload volume and triggers processing.",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.addBook",
                    "parameterOrder": [],
                    "parameters": {
                        "drive_document_id": {
                            "description": "A drive document id. The upload_client_token must not be set.",
                            "location": "query",
                            "type": "string"
                        },
                        "mime_type": {
                            "description": "The document MIME type. It can be set only if the drive_document_id is set.",
                            "location": "query",
                            "type": "string"
                        },
                        "upload_client_token": {
                            "description": "Scotty upload token.",
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "description": "The document name. It can be set only if the drive_document_id is set.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/cloudloading/addBook",
                    "response": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "deleteBook": {
                    "description": "Remove the book and its contents",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.deleteBook",
                    "parameterOrder": [],
                    "parameters": {
                        "volumeId": {
                            "description": "The id of the book to be removed.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/cloudloading/deleteBook",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "updateBook": {
                    "description": "Updates a user-upload volume.",
                    "httpMethod": "POST",
                    "id": "books.cloudloading.updateBook",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "books/v1/cloudloading/updateBook",
                    "request": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "response": {
                        "$ref": "BooksCloudloadingResource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "dictionary": {
            "methods": {
                "listOfflineMetadata": {
                    "description": "Returns a list of offline dictionary metadata available",
                    "httpMethod": "GET",
                    "id": "books.dictionary.listOfflineMetadata",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "description": "The device/version ID from which to request the data.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/dictionary/listOfflineMetadata",
                    "response": {
                        "$ref": "Metadata"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "mylibrary": {
            "resources": {
                "readingpositions": {
                    "methods": {
                        "setPosition": {
                            "description": "Sets my reading position information for a volume.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.readingpositions.setPosition",
                            "parameterOrder": [
                                "volumeId"
                            ],
                            "parameters": {
                                "timestamp": {
                                    "description": "RFC 3339 UTC format timestamp associated with this reading position.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "description": "Volume content version for which this reading position applies.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "action": {
                                    "description": "Action that caused this reading position to be set.",
                                    "enum": [
                                        "ACTION_UNDEFINED",
                                        "bookmark",
                                        "chapter",
                                        "next-page",
                                        "prev-page",
                                        "scroll",
                                        "search"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "User chose bookmark within volume.",
                                        "User selected chapter from list.",
                                        "Next page event.",
                                        "Previous page event.",
                                        "User navigated to page.",
                                        "User chose search results within volume."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "ID of volume for which to update the reading position.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "position": {
                                    "description": "Position string for the new volume reading position.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "deviceCookie": {
                                    "description": "Random persistent device cookie optional on set position.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/readingpositions/{volumeId}/setPosition",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "get": {
                            "description": "Retrieves my reading position information for a volume.",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.readingpositions.get",
                            "parameterOrder": [
                                "volumeId"
                            ],
                            "parameters": {
                                "volumeId": {
                                    "description": "ID of volume for which to retrieve a reading position.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "description": "Volume content version for which this reading position is requested.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/readingpositions/{volumeId}",
                            "response": {
                                "$ref": "ReadingPosition"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                },
                "bookshelves": {
                    "methods": {
                        "moveVolume": {
                            "description": "Moves a volume within a bookshelf.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.moveVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "volumeId": {
                                    "description": "ID of volume to move.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "description": "ID of bookshelf with the volume.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "volumePosition": {
                                    "description": "Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/moveVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "clearVolumes": {
                            "description": "Clears all volumes from a bookshelf.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.clearVolumes",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "shelf": {
                                    "description": "ID of bookshelf from which to remove a volume.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/clearVolumes",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "description": "Retrieves a list of bookshelves belonging to the authenticated user.",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.bookshelves.list",
                            "parameterOrder": [],
                            "parameters": {
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves",
                            "response": {
                                "$ref": "Bookshelves"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "removeVolume": {
                            "description": "Removes a volume from a bookshelf.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.removeVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "description": "ID of bookshelf from which to remove a volume.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "ID of volume to remove.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "reason": {
                                    "description": "The reason for which the book is removed from the library.",
                                    "enum": [
                                        "REASON_UNDEFINED",
                                        "ONBOARDING"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Samples removed from the Onboarding flow."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/removeVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "addVolume": {
                            "description": "Adds a volume to a bookshelf.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.bookshelves.addVolume",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "volumeId": {
                                    "description": "ID of volume to add.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "reason": {
                                    "description": "The reason for which the book is added to the library.",
                                    "enum": [
                                        "REASON_UNDEFINED",
                                        "IOS_PREX",
                                        "IOS_SEARCH",
                                        "ONBOARDING"
                                    ],
                                    "enumDescriptions": [
                                        "",
                                        "Volumes added from the PREX flow on iOS.",
                                        "Volumes added from the Search flow on iOS.",
                                        "Volumes added from the Onboarding flow."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "description": "ID of bookshelf to which to add a volume.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}/addVolume",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "get": {
                            "description": "Retrieves metadata for a specific bookshelf belonging to the authenticated user.",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.bookshelves.get",
                            "parameterOrder": [
                                "shelf"
                            ],
                            "parameters": {
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "shelf": {
                                    "description": "ID of bookshelf to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/bookshelves/{shelf}",
                            "response": {
                                "$ref": "Bookshelf"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    },
                    "resources": {
                        "volumes": {
                            "methods": {
                                "list": {
                                    "description": "Gets volume information for volumes on a bookshelf.",
                                    "httpMethod": "GET",
                                    "id": "books.mylibrary.bookshelves.volumes.list",
                                    "parameterOrder": [
                                        "shelf"
                                    ],
                                    "parameters": {
                                        "source": {
                                            "description": "String to identify the originator of this request.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "country": {
                                            "description": "ISO-3166-1 code to override the IP-based location.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "shelf": {
                                            "description": "The bookshelf ID or name retrieve volumes for.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "q": {
                                            "description": "Full-text search query string in this bookshelf.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "projection": {
                                            "description": "Restrict information returned to a set of selected fields.",
                                            "enum": [
                                                "PROJECTION_UNDEFINED",
                                                "FULL",
                                                "LITE"
                                            ],
                                            "enumDescriptions": [
                                                "",
                                                "Includes all volume data.",
                                                "Includes a subset of fields in volumeInfo and accessInfo."
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "showPreorders": {
                                            "description": "Set to true to show pre-ordered books. Defaults to false.",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "maxResults": {
                                            "description": "Maximum number of results to return",
                                            "format": "uint32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "startIndex": {
                                            "description": "Index of the first element to return (starts at 0)",
                                            "format": "uint32",
                                            "location": "query",
                                            "type": "integer"
                                        }
                                    },
                                    "path": "books/v1/mylibrary/bookshelves/{shelf}/volumes",
                                    "response": {
                                        "$ref": "Volumes"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/books"
                                    ]
                                }
                            }
                        }
                    }
                },
                "annotations": {
                    "methods": {
                        "delete": {
                            "description": "Deletes an annotation.",
                            "httpMethod": "DELETE",
                            "id": "books.mylibrary.annotations.delete",
                            "parameterOrder": [
                                "annotationId"
                            ],
                            "parameters": {
                                "annotationId": {
                                    "description": "The ID for the annotation to delete.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/{annotationId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "list": {
                            "description": "Retrieves a list of annotations, possibly filtered.",
                            "httpMethod": "GET",
                            "id": "books.mylibrary.annotations.list",
                            "parameterOrder": [],
                            "parameters": {
                                "updatedMin": {
                                    "description": "RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "volumeId": {
                                    "description": "The volume to restrict annotations to.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerId": {
                                    "description": "The layer ID to limit annotation by.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerIds": {
                                    "description": "The layer ID(s) to limit annotation by.",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "contentVersion": {
                                    "description": "The content version for the requested volume.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "Maximum number of results to return",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The value of the nextToken from the previous page.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "updatedMax": {
                                    "description": "RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "showDeleted": {
                                    "description": "Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations",
                            "response": {
                                "$ref": "Annotations"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "update": {
                            "description": "Updates an existing annotation.",
                            "httpMethod": "PUT",
                            "id": "books.mylibrary.annotations.update",
                            "parameterOrder": [
                                "annotationId"
                            ],
                            "parameters": {
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "annotationId": {
                                    "description": "The ID for the annotation to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/{annotationId}",
                            "request": {
                                "$ref": "Annotation"
                            },
                            "response": {
                                "$ref": "Annotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "insert": {
                            "description": "Inserts a new annotation.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.annotations.insert",
                            "parameterOrder": [],
                            "parameters": {
                                "showOnlySummaryInResponse": {
                                    "description": "Requests that only the summary of the specified layer be provided in the response.",
                                    "location": "query",
                                    "type": "boolean"
                                },
                                "source": {
                                    "description": "String to identify the originator of this request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "annotationId": {
                                    "description": "The ID for the annotation to insert.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "country": {
                                    "description": "ISO-3166-1 code to override the IP-based location.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations",
                            "request": {
                                "$ref": "Annotation"
                            },
                            "response": {
                                "$ref": "Annotation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        },
                        "summary": {
                            "description": "Gets the summary of specified layers.",
                            "httpMethod": "POST",
                            "id": "books.mylibrary.annotations.summary",
                            "parameterOrder": [],
                            "parameters": {
                                "volumeId": {
                                    "description": "Volume id to get the summary for.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "layerIds": {
                                    "description": "Array of layer IDs to get the summary for.",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                }
                            },
                            "path": "books/v1/mylibrary/annotations/summary",
                            "response": {
                                "$ref": "AnnotationsSummary"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/books"
                            ]
                        }
                    }
                }
            }
        },
        "myconfig": {
            "methods": {
                "getUserSettings": {
                    "description": "Gets the current settings for the user.",
                    "httpMethod": "GET",
                    "id": "books.myconfig.getUserSettings",
                    "parameterOrder": [],
                    "parameters": {
                        "country": {
                            "description": "Unused. Added only to workaround TEX mandatory request template requirement",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/getUserSettings",
                    "response": {
                        "$ref": "Usersettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "requestAccess": {
                    "description": "Request concurrent and download access restrictions.",
                    "httpMethod": "POST",
                    "id": "books.myconfig.requestAccess",
                    "parameterOrder": [],
                    "parameters": {
                        "licenseTypes": {
                            "description": "The type of access license to request. If not specified, the default is BOTH.",
                            "enum": [
                                "LICENSE_TYPES_UNDEFINED",
                                "BOTH",
                                "CONCURRENT",
                                "DOWNLOAD"
                            ],
                            "enumDescriptions": [
                                "",
                                "Both concurrent and download licenses.",
                                "Concurrent access license.",
                                "Offline download access license."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "locale": {
                            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "nonce": {
                            "description": "The client nonce value.",
                            "location": "query",
                            "type": "string"
                        },
                        "cpksver": {
                            "description": "The device/version ID from which to request the restrictions.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "description": "The volume to request concurrent/download restrictions for.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/requestAccess",
                    "response": {
                        "$ref": "RequestAccessData"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "releaseDownloadAccess": {
                    "description": "Release downloaded content access restriction.",
                    "httpMethod": "POST",
                    "id": "books.myconfig.releaseDownloadAccess",
                    "parameterOrder": [],
                    "parameters": {
                        "locale": {
                            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeIds": {
                            "description": "The volume(s) to release restrictions for.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "cpksver": {
                            "description": "The device/version ID from which to release the restriction.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/releaseDownloadAccess",
                    "response": {
                        "$ref": "DownloadAccesses"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "syncVolumeLicenses": {
                    "description": "Request downloaded content access for specified volumes on the My eBooks shelf.",
                    "httpMethod": "POST",
                    "id": "books.myconfig.syncVolumeLicenses",
                    "parameterOrder": [],
                    "parameters": {
                        "cpksver": {
                            "description": "The device/version ID from which to release the restriction.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeIds": {
                            "description": "The volume(s) to request download restrictions for.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "nonce": {
                            "description": "The client nonce value.",
                            "location": "query",
                            "type": "string"
                        },
                        "showPreorders": {
                            "description": "Set to true to show pre-ordered books. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "locale": {
                            "description": "ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.",
                            "location": "query",
                            "type": "string"
                        },
                        "includeNonComicsSeries": {
                            "description": "Set to true to include non-comics series. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "features": {
                            "description": "List of features supported by the client, i.e., 'RENTALS'",
                            "enum": [
                                "FEATURES_UNDEFINED",
                                "RENTALS"
                            ],
                            "enumDescriptions": [
                                "",
                                "Client supports rentals."
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "books/v1/myconfig/syncVolumeLicenses",
                    "response": {
                        "$ref": "Volumes"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "updateUserSettings": {
                    "description": "Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.",
                    "httpMethod": "POST",
                    "id": "books.myconfig.updateUserSettings",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "books/v1/myconfig/updateUserSettings",
                    "request": {
                        "$ref": "Usersettings"
                    },
                    "response": {
                        "$ref": "Usersettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "familysharing": {
            "methods": {
                "unshare": {
                    "description": "Initiates revoking content that has already been shared with the user's family. Empty response indicates success.",
                    "httpMethod": "POST",
                    "id": "books.familysharing.unshare",
                    "parameterOrder": [],
                    "parameters": {
                        "volumeId": {
                            "description": "The volume to unshare.",
                            "location": "query",
                            "type": "string"
                        },
                        "docId": {
                            "description": "The docid to unshare.",
                            "location": "query",
                            "type": "string"
                        },
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/unshare",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "getFamilyInfo": {
                    "description": "Gets information regarding the family that the user is part of.",
                    "httpMethod": "GET",
                    "id": "books.familysharing.getFamilyInfo",
                    "parameterOrder": [],
                    "parameters": {
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/getFamilyInfo",
                    "response": {
                        "$ref": "FamilyInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                },
                "share": {
                    "description": "Initiates sharing of the content with the user's family. Empty response indicates success.",
                    "httpMethod": "POST",
                    "id": "books.familysharing.share",
                    "parameterOrder": [],
                    "parameters": {
                        "source": {
                            "description": "String to identify the originator of this request.",
                            "location": "query",
                            "type": "string"
                        },
                        "volumeId": {
                            "description": "The volume to share.",
                            "location": "query",
                            "type": "string"
                        },
                        "docId": {
                            "description": "The docid to share.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "books/v1/familysharing/share",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/books"
                    ]
                }
            }
        },
        "volumes": {
            "methods": {
                "list": {
                    "description": "Performs a book search.",
                    "httpMethod": "GET",
                    "id": "books.volumes.list",
                    "parameterOrder": [],
                    "parameters": {
                        "startIndex": {
                            "description": "Index of the first result to return (starts at 0)",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "q": {
                            "description": "Full-text search query string.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of results to return.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "maxAllowedMaturityRating": {
                            "description": "The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.",
                            "enum": [
                                "MAX_ALLOWED_MATURITY_RATING_UNDEFINED",
                                "MATURE",
                                "not-mature"
                            ],
                            "enumDescriptions": [
                                "",
                                "Show books which are rated mature or lower.",
                                "Show books which are rated not mature."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "showPreorders": {
                            "description": "Set to true to show books available for preorder. Defaults to false.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "langRestrict": {
                            "description": "Restrict results to books with this language code.",
                            "location": "query",
                            "type": "string"
                        },
                        "partner": {
                            "description": "Restrict and brand results for partner ID.",
                            "location": "query",
                            "type": "string"
                        },
                        "projection": {
                            "description": "Restrict information returned to a set of selected fields.",
                            "enum": [
                                "PROJECTION_UNDEFINED",
                                "FULL",
                                "LITE"
                            ],
                            "enumDescriptions": [
                                "",
                                "Includes all volume data.",
                                "Includes a subset of fields in volumeInfo and accessInfo."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "printType": {
                            "description": "Restrict to books or magazines.",
                            "enum": [
                                "PRINT_TYPE_UNDEFINED",
                                "ALL",
                                "BOOKS",
                                "MAGAZINES"
                            ],
                            "enumDescriptions": [
                                "",
                                "All volume content types.",
                                "Just books.",
                                "Just magazines."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "orderBy": {
                            "description": "Sort search results.",
                            "enum": [
                                "ORDER_BY_UNDEFINED",
                                "newest",
                                "relevance"
                            ],
                            "enumDescriptions": [
                                "",
                                "Most recently published.",
                                "Relevance to search terms."
                            ],
                            "location": "query",
[...]
