{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/calendar": {
                    "description": "Manage your calendars"
                },
                "https://www.googleapis.com/auth/calendar.readonly": {
                    "description": "View your calendars"
                }
            }
        }
    },
    "basePath": "/calendar/v3/",
    "baseUrl": "https://www.googleapis.com/calendar/v3/",
    "batchPath": "batch",
    "description": "Lets you manipulate events and other calendar data.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/google-apps/calendar/firstapp",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/gZ3dylzm2EVgH6aR8x8XhHMIdxI\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/calendar-16.png",
        "x32": "http://www.google.com/images/icons/product/calendar-32.png"
    },
    "id": "calendar:v3",
    "kind": "discovery#restDescription",
    "name": "calendar",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "acl": {
            "methods": {
                "delete": {
                    "description": "Deletes an access control rule.",
                    "httpMethod": "DELETE",
                    "id": "calendar.acl.delete",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "description": "ACL rule identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "get": {
                    "description": "Returns an access control rule.",
                    "httpMethod": "GET",
                    "id": "calendar.acl.get",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "description": "ACL rule identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates an access control rule.",
                    "httpMethod": "POST",
                    "id": "calendar.acl.insert",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "list": {
                    "description": "Returns the rules in the access control list for the calendar.",
                    "httpMethod": "GET",
                    "id": "calendar.acl.list",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl",
                    "response": {
                        "$ref": "Acl"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "supportsSubscription": true
                },
                "patch": {
                    "description": "Updates an access control rule. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "calendar.acl.patch",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "description": "ACL rule identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "update": {
                    "description": "Updates an access control rule.",
                    "httpMethod": "PUT",
                    "id": "calendar.acl.update",
                    "parameterOrder": [
                        "calendarId",
                        "ruleId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ruleId": {
                            "description": "ACL rule identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/{ruleId}",
                    "request": {
                        "$ref": "AclRule"
                    },
                    "response": {
                        "$ref": "AclRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "watch": {
                    "description": "Watch for changes to ACL resources.",
                    "httpMethod": "POST",
                    "id": "calendar.acl.watch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/acl/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "calendarList": {
            "methods": {
                "delete": {
                    "description": "Deletes an entry on the user's calendar list.",
                    "httpMethod": "DELETE",
                    "id": "calendar.calendarList.delete",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "get": {
                    "description": "Returns an entry on the user's calendar list.",
                    "httpMethod": "GET",
                    "id": "calendar.calendarList.get",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "description": "Adds an entry to the user's calendar list.",
                    "httpMethod": "POST",
                    "id": "calendar.calendarList.insert",
                    "parameters": {
                        "colorRgbFormat": {
                            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "list": {
                    "description": "Returns entries on the user's calendar list.",
                    "httpMethod": "GET",
                    "id": "calendar.calendarList.list",
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "minAccessRole": {
                            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
                            "enum": [
                                "freeBusyReader",
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read free/busy information.",
                                "The user can read and modify events and access control lists.",
                                "The user can read events that are not private.",
                                "The user can read and modify events."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "description": "Whether to show hidden entries. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList",
                    "response": {
                        "$ref": "CalendarList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "patch": {
                    "description": "Updates an entry on the user's calendar list. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "calendar.calendarList.patch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "colorRgbFormat": {
                            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "update": {
                    "description": "Updates an entry on the user's calendar list.",
                    "httpMethod": "PUT",
                    "id": "calendar.calendarList.update",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "colorRgbFormat": {
                            "description": "Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "users/me/calendarList/{calendarId}",
                    "request": {
                        "$ref": "CalendarListEntry"
                    },
                    "response": {
                        "$ref": "CalendarListEntry"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "watch": {
                    "description": "Watch for changes to CalendarList resources.",
                    "httpMethod": "POST",
                    "id": "calendar.calendarList.watch",
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "minAccessRole": {
                            "description": "The minimum access role for the user in the returned entries. Optional. The default is no restriction.",
                            "enum": [
                                "freeBusyReader",
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read free/busy information.",
                                "The user can read and modify events and access control lists.",
                                "The user can read events that are not private.",
                                "The user can read and modify events."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted calendar list entries in the result. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHidden": {
                            "description": "Whether to show hidden entries. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/calendarList/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "calendars": {
            "methods": {
                "clear": {
                    "description": "Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.",
                    "httpMethod": "POST",
                    "id": "calendar.calendars.clear",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/clear",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "delete": {
                    "description": "Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.",
                    "httpMethod": "DELETE",
                    "id": "calendar.calendars.delete",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "get": {
                    "description": "Returns metadata for a calendar.",
                    "httpMethod": "GET",
                    "id": "calendar.calendars.get",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a secondary calendar.",
                    "httpMethod": "POST",
                    "id": "calendar.calendars.insert",
                    "path": "calendars",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "patch": {
                    "description": "Updates metadata for a calendar. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "calendar.calendars.patch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "update": {
                    "description": "Updates metadata for a calendar.",
                    "httpMethod": "PUT",
                    "id": "calendar.calendars.update",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}",
                    "request": {
                        "$ref": "Calendar"
                    },
                    "response": {
                        "$ref": "Calendar"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                }
            }
        },
        "channels": {
            "methods": {
                "stop": {
                    "description": "Stop watching resources through this channel",
                    "httpMethod": "POST",
                    "id": "calendar.channels.stop",
                    "path": "channels/stop",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                }
            }
        },
        "colors": {
            "methods": {
                "get": {
                    "description": "Returns the color definitions for calendars and events.",
                    "httpMethod": "GET",
                    "id": "calendar.colors.get",
                    "path": "colors",
                    "response": {
                        "$ref": "Colors"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                }
            }
        },
        "events": {
            "methods": {
                "delete": {
                    "description": "Deletes an event.",
                    "httpMethod": "DELETE",
                    "id": "calendar.events.delete",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the deletion of the event. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "get": {
                    "description": "Returns an event.",
                    "httpMethod": "GET",
                    "id": "calendar.events.get",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "timeZone": {
                            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "import": {
                    "description": "Imports an event. This operation is used to add a private copy of an existing event to a calendar.",
                    "httpMethod": "POST",
                    "id": "calendar.events.import",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "supportsAttachments": {
                            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/import",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "insert": {
                    "description": "Creates an event.",
                    "httpMethod": "POST",
                    "id": "calendar.events.insert",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the creation of the new event. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAttachments": {
                            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "instances": {
                    "description": "Returns instances of the specified recurring event.",
                    "httpMethod": "GET",
                    "id": "calendar.events.instances",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Recurring event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "originalStart": {
                            "description": "The original start time of the instance in the result. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "timeMax": {
                            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}/instances",
                    "response": {
                        "$ref": "Events"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "list": {
                    "description": "Returns events on the specified calendar.",
                    "httpMethod": "GET",
                    "id": "calendar.events.list",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "iCalUID": {
                            "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
                            "enum": [
                                "startTime",
                                "updated"
                            ],
                            "enumDescriptions": [
                                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                                "Order by last modification time (ascending)."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "privateExtendedProperty": {
                            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "q": {
                            "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "sharedExtendedProperty": {
                            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHiddenInvitations": {
                            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "singleEvents": {
                            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMax": {
                            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
                            "location": "query",
                            "type": "string"
                        },
                        "updatedMin": {
                            "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events",
                    "response": {
                        "$ref": "Events"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "move": {
                    "description": "Moves an event to another calendar, i.e. changes an event's organizer.",
                    "httpMethod": "POST",
                    "id": "calendar.events.move",
                    "parameterOrder": [
                        "calendarId",
                        "eventId",
                        "destination"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier of the source calendar where the event currently is on.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "destination": {
                            "description": "Calendar identifier of the target calendar where the event is to be moved to.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the change of the event's organizer. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}/move",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "patch": {
                    "description": "Updates an event. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "calendar.events.patch",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAttachments": {
                            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "quickAdd": {
                    "description": "Creates an event based on a simple text string.",
                    "httpMethod": "POST",
                    "id": "calendar.events.quickAdd",
                    "parameterOrder": [
                        "calendarId",
                        "text"
                    ],
                    "parameters": {
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the creation of the event. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "text": {
                            "description": "The text describing the event to be created.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/quickAdd",
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "update": {
                    "description": "Updates an event.",
                    "httpMethod": "PUT",
                    "id": "calendar.events.update",
                    "parameterOrder": [
                        "calendarId",
                        "eventId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "eventId": {
                            "description": "Event identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "sendNotifications": {
                            "description": "Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "supportsAttachments": {
                            "description": "Whether API client performing operation supports event attachments. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "calendars/{calendarId}/events/{eventId}",
                    "request": {
                        "$ref": "Event"
                    },
                    "response": {
                        "$ref": "Event"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar"
                    ]
                },
                "watch": {
                    "description": "Watch for changes to Events resources.",
                    "httpMethod": "POST",
                    "id": "calendar.events.watch",
                    "parameterOrder": [
                        "calendarId"
                    ],
                    "parameters": {
                        "alwaysIncludeEmail": {
                            "description": "Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "calendarId": {
                            "description": "Calendar identifier.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "iCalUID": {
                            "description": "Specifies event ID in the iCalendar format to be included in the response. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxAttendees": {
                            "description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "maxResults": {
                            "description": "Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "orderBy": {
                            "description": "The order of the events returned in the result. Optional. The default is an unspecified, stable order.",
                            "enum": [
                                "startTime",
                                "updated"
                            ],
                            "enumDescriptions": [
                                "Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)",
                                "Order by last modification time (ascending)."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "privateExtendedProperty": {
                            "description": "Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "q": {
                            "description": "Free text search terms to find events that match these terms in any field, except for extended properties. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "sharedExtendedProperty": {
                            "description": "Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "showDeleted": {
                            "description": "Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "showHiddenInvitations": {
                            "description": "Whether to include hidden invitations in the result. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "singleEvents": {
                            "description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMax": {
                            "description": "Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeMin": {
                            "description": "Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "timeZone": {
                            "description": "Time zone used in the response. Optional. The default is the time zone of the calendar.",
                            "location": "query",
                            "type": "string"
                        },
                        "updatedMin": {
                            "description": "Lower bound for an event's last modification time (as a RFC 3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "calendars/{calendarId}/events/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        },
        "freebusy": {
            "methods": {
                "query": {
                    "description": "Returns free/busy information for a set of calendars.",
                    "httpMethod": "POST",
                    "id": "calendar.freebusy.query",
                    "path": "freeBusy",
                    "request": {
                        "$ref": "FreeBusyRequest"
                    },
                    "response": {
                        "$ref": "FreeBusyResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                }
            }
        },
        "settings": {
            "methods": {
                "get": {
                    "description": "Returns a single user setting.",
                    "httpMethod": "GET",
                    "id": "calendar.settings.get",
                    "parameterOrder": [
                        "setting"
                    ],
                    "parameters": {
                        "setting": {
                            "description": "The id of the user setting.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings/{setting}",
                    "response": {
                        "$ref": "Setting"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ]
                },
                "list": {
                    "description": "Returns all user settings for the authenticated user.",
                    "httpMethod": "GET",
                    "id": "calendar.settings.list",
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings",
                    "response": {
                        "$ref": "Settings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                },
                "watch": {
                    "description": "Watch for changes to Settings resources.",
                    "httpMethod": "POST",
                    "id": "calendar.settings.watch",
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Token specifying which result page to return. Optional.",
                            "location": "query",
                            "type": "string"
                        },
                        "syncToken": {
                            "description": "Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "users/me/settings/watch",
                    "request": {
                        "$ref": "Channel",
                        "parameterName": "resource"
                    },
                    "response": {
                        "$ref": "Channel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/calendar",
                        "https://www.googleapis.com/auth/calendar.readonly"
                    ],
                    "supportsSubscription": true
                }
            }
        }
    },
    "revision": "20150623",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Acl": {
            "id": "Acl",
            "properties": {
                "etag": {
                    "description": "ETag of the collection.",
                    "type": "string"
                },
                "items": {
                    "description": "List of rules on the access control list.",
                    "items": {
                        "$ref": "AclRule"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#acl",
                    "description": "Type of the collection (\"calendar#acl\").",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                "nextSyncToken": {
                    "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AclRule": {
            "id": "AclRule",
            "properties": {
                "etag": {
                    "description": "ETag of the resource.",
                    "type": "string"
                },
                "id": {
                    "description": "Identifier of the ACL rule.",
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#aclRule",
                    "description": "Type of the resource (\"calendar#aclRule\").",
                    "type": "string"
                },
                "role": {
                    "annotations": {
                        "required": [
                            "calendar.acl.insert"
                        ]
                    },
                    "description": "The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
                    "type": "string"
                },
                "scope": {
                    "annotations": {
                        "required": [
                            "calendar.acl.insert"
                        ]
                    },
                    "description": "The scope of the rule.",
                    "properties": {
                        "type": {
                            "annotations": {
                                "required": [
                                    "calendar.acl.insert"
                                ]
                            },
                            "description": "The type of the scope. Possible values are:  \n- \"default\" - The public scope. This is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\" - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note: The permissions granted to the \"default\", or public, scope apply to any user, authenticated or not.",
                            "type": "string"
                        },
                        "value": {
                            "description": "The email address of a user or group, or the name of a domain, depending on the scope type. Omitted for type \"default\".",
                            "type": "string"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Calendar": {
            "id": "Calendar",
            "properties": {
                "description": {
                    "description": "Description of the calendar. Optional.",
                    "type": "string"
                },
                "etag": {
                    "description": "ETag of the resource.",
                    "type": "string"
                },
                "id": {
                    "description": "Identifier of the calendar.",
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#calendar",
                    "description": "Type of the resource (\"calendar#calendar\").",
                    "type": "string"
                },
                "location": {
                    "description": "Geographic location of the calendar as free-form text. Optional.",
                    "type": "string"
                },
                "summary": {
                    "annotations": {
                        "required": [
                            "calendar.calendars.insert"
                        ]
                    },
                    "description": "Title of the calendar.",
                    "type": "string"
                },
                "timeZone": {
                    "description": "The time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".) Optional.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarList": {
            "id": "CalendarList",
            "properties": {
                "etag": {
                    "description": "ETag of the collection.",
                    "type": "string"
                },
                "items": {
                    "description": "Calendars that are present on the user's calendar list.",
                    "items": {
                        "$ref": "CalendarListEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "calendar#calendarList",
                    "description": "Type of the collection (\"calendar#calendarList\").",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.",
                    "type": "string"
                },
                "nextSyncToken": {
                    "description": "Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarListEntry": {
            "id": "CalendarListEntry",
            "properties": {
                "accessRole": {
                    "description": "The effective access role that the authenticated user has on the calendar. Read-only. Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access to the calendar. Private events will appear to users with reader access, but event details will be hidden. \n- \"writer\" - Provides read and write access to the calendar. Private events will appear to users with writer access, and event details will be visible. \n- \"owner\" - Provides ownership of the calendar. This role has all of the permissions of the writer role with the additional ability to see and manipulate ACLs.",
                    "type": "string"
                },
                "backgroundColor": {
                    "description": "The main color of the calendar in the hexadecimal format \"#0088aa\". This property supersedes the index-based colorId property. Optional.",
                    "type": "string"
                },
                "colorId": {
                    "description": "The color of the calendar. This is an ID referring to an entry in the calendar section of the colors definition (see the colors endpoint). Optional.",
                    "type": "string"
                },
                "defaultReminders": {
                    "description": "The default reminders that the authenticated user has for this calendar.",
                    "items": {
                        "$ref": "EventReminder"
                    },
                    "type": "array"
                },
                "deleted": {
                    "default": "false",
                    "description": "Whether this calendar list entry has been deleted from the calendar list. Read-only. Optional. The default is False.",
                    "type": "boolean"
                },
                "description": {
                    "description": "Description of the calendar. Optional. Read-only.",
                    "type": "string"
                },
                "etag": {
                    "description": "ETag of the resource.",
                    "type": "string"
                },
                "foregroundColor": {
                    "description": "The foreground color of the calendar in the hexadecimal format \"#ffffff\". This property supersedes the index-based colorId property. Optional.",
                    "type": "string"
                },
                "hidden": {
                    "default": "false",
                    "description": "Whether the calendar has been hidden from the list. Optional. The default is False.",
                    "type": "boolean"
                },
                "id": {
                    "annotations": {
                        "required": [
                            "calendar.calendarList.insert"
                        ]
                    },
                    "description": "Identifier of the calendar.",
                    "type": "string"
                },
                "kind": {
                    "default": "calendar#calendarListEntry",
                    "description": "Type of the resource (\"calendar#calendarListEntry\").",
                    "type": "string"
                },
                "location": {
                    "description": "Geographic location of the calendar as free-form text. Optional. Read-only.",
                    "type": "string"
                },
                "notificationSettings": {
                    "description": "The notifications that the authenticated user is receiving for this calendar.",
                    "properties": {
                        "notifications": {
                            "description": "The list of notifications set for this calendar.",
                            "items": {
                                "$ref": "CalendarNotification"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "primary": {
                    "default": "false",
                    "description": "Whether the calendar is the primary calendar of the authenticated user. Read-only. Optional. The default is False.",
                    "type": "boolean"
                },
                "selected": {
                    "default": "false",
                    "description": "Whether the calendar content shows up in the calendar UI. Optional. The default is False.",
                    "type": "boolean"
                },
                "summary": {
                    "description": "Title of the calendar. Read-only.",
                    "type": "string"
                },
                "summaryOverride": {
                    "description": "The summary that the authenticated user has set for this calendar. Optional.",
                    "type": "string"
                },
                "timeZone": {
                    "description": "The time zone of the calendar. Optional. Read-only.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CalendarNotification": {
            "id": "CalendarNotification",
            "properties": {
                "method": {
                    "annotations": {
                        "required": [
                            "calendar.calendarList.insert",
                            "calendar.calendarList.update"
                        ]
                    },
                    "description": "The method used to deliver the notification. Possible values are:  \n- \"email\" - Reminders are sent via email. \n- \"sms\" - Reminders are sent via SMS. This value is read-only and is ignored on inserts and updates.",
                    "type": "string"
                },
                "type": {
                    "annotations": {
                        "required": [
                            "calendar.calendarList.insert",
                            "calendar.calendarList.update"
                        ]
                    },
                    "description": "The type of notification. Possible values are:  \n- \"eventCreation\" - Notification sent when a new event is put on the calendar. \n- \"eventChange\" - Notification sent when an event is changed. \n- \"eventCancellation\" - Notification sent when an event is cancelled. \n- \"eventResponse\" - Notification sent when an event is changed. \n- \"agenda\" - An agenda with the events of the day (sent out in the morning).",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "id": "Channel",
            "properties": {
                "address": {
                    "description": "The address where notifications are delivered for this channel.",
                    "type": "string"
                },
                "expiration": {
                    "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
                    "format": "int64",
                    "type": "string"
                },
                "id": {
                    "description": "A UUID or similar unique string that identifies this channel.",
                    "type": "string"
                },
                "kind": {
                    "default": "api#channel",
                    "description": "Identifies this as a notification channel used to watch for changes to a resource. Value: the fixed string \"api#channel\".",
                    "type": "string"
                },
                "params": {
                    "additionalProperties": {
                        "description": "Declares a new parameter by name.",
                        "type": "string"
                    },
                    "description": "Additional parameters controlling delivery channel behavior. Optional.",
                    "type": "object"
                },
                "payload": {
                    "description": "A Boolean value to indicate whether payload is wanted. Optional.",
                    "type": "boolean"
                },
                "resourceId": {
                    "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
                    "type": "string"
                },
                "resourceUri": {
                    "description": "A version-specific identifier for the watched resource.",
                    "type": "string"
                },
                "token": {
                    "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of delivery mechanism used for this channel.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ColorDefinition": {
            "id": "ColorDefinition",
            "properties": {
                "background": {
                    "description": "The background color associated with this color definition.",
                    "type": "string"
                },
                "foreground": {
[...]
