{
    "basePath": "/civicinfo/v1/",
    "baseUrl": "https://www.googleapis.com/civicinfo/v1/",
    "batchPath": "batch",
    "canonicalName": "Civic Info",
    "description": "An API for accessing civic information.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/civic-information",
    "etag": "\"8MqRhZzx1kw0pwpjahVJEB3eI6w/8e9yfjQviGE-Eza63-qXipcXCgI\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "civicinfo:v1",
    "kind": "discovery#restDescription",
    "name": "civicinfo",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "divisions": {
            "methods": {
                "search": {
                    "description": "Searches for political divisions by their natural name or OCD ID.",
                    "httpMethod": "GET",
                    "id": "civicinfo.divisions.search",
                    "parameters": {
                        "query": {
                            "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "representatives/division_search",
                    "response": {
                        "$ref": "DivisionSearchResponse"
                    }
                }
            }
        },
        "elections": {
            "methods": {
                "electionQuery": {
                    "description": "List of available elections to query.",
                    "httpMethod": "GET",
                    "id": "civicinfo.elections.electionQuery",
                    "path": "elections",
                    "response": {
                        "$ref": "ElectionsQueryResponse"
                    }
                },
                "voterInfoQuery": {
                    "description": "Looks up information relevant to a voter based on the voter's registered address.",
                    "httpMethod": "POST",
                    "id": "civicinfo.elections.voterInfoQuery",
                    "parameterOrder": [
                        "electionId"
                    ],
                    "parameters": {
                        "electionId": {
                            "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections",
                            "format": "int64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "officialOnly": {
                            "default": "false",
                            "description": "If set to true, only data from official state sources will be returned.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "voterinfo/{electionId}/lookup",
                    "request": {
                        "$ref": "VoterInfoRequest"
                    },
                    "response": {
                        "$ref": "VoterInfoResponse"
                    }
                }
            }
        },
        "representatives": {
            "methods": {
                "representativeInfoQuery": {
                    "description": "Looks up political geography and representative information based on an address or Open Civic Data division identifier.",
                    "httpMethod": "POST",
                    "id": "civicinfo.representatives.representativeInfoQuery",
                    "parameters": {
                        "includeOffices": {
                            "default": "true",
                            "description": "Whether to return information about offices and officials. If false, only the top-level district information will be returned.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "ocdId": {
                            "description": "The division to look up. May only be specified if the address field is not given in the request body.",
                            "location": "query",
                            "type": "string"
                        },
                        "recursive": {
                            "default": "false",
                            "description": "When ocd_id is supplied, return all divisions which are hierarchically nested within the queried division. For example, if querying ocd-division/country:us/district:dc, this would also return all DC's wards and ANCs.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "representatives/lookup",
                    "request": {
                        "$ref": "RepresentativeInfoRequest"
                    },
                    "response": {
                        "$ref": "RepresentativeInfoResponse"
                    }
                }
            }
        }
    },
    "revision": "20140814",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "AdministrationRegion": {
            "description": "Describes information about a regional election administrative area.",
            "id": "AdministrationRegion",
            "properties": {
                "electionAdministrationBody": {
                    "$ref": "AdministrativeBody",
                    "description": "The election administration body for this area."
                },
                "id": {
                    "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.",
                    "type": "string"
                },
                "local_jurisdiction": {
                    "$ref": "AdministrationRegion",
                    "description": "The city or county that provides election information for this voter. This object can have the same elements as state."
                },
                "name": {
                    "description": "The name of the jurisdiction.",
                    "type": "string"
                },
                "sources": {
                    "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AdministrativeBody": {
            "description": "Information about an election administrative body (e.g. County Board of Elections).",
            "id": "AdministrativeBody",
            "properties": {
                "absenteeVotingInfoUrl": {
                    "description": "A URL provided by this administrative body for information on absentee voting.",
                    "type": "string"
                },
                "ballotInfoUrl": {
                    "description": "A URL provided by this administrative body to give contest information to the voter.",
                    "type": "string"
                },
                "correspondenceAddress": {
                    "$ref": "SimpleAddressType",
                    "description": "The mailing address of this administrative body."
                },
                "electionInfoUrl": {
                    "description": "A URL provided by this administrative body for looking up general election information.",
                    "type": "string"
                },
                "electionOfficials": {
                    "description": "The election officials for this election administrative body.",
                    "items": {
                        "$ref": "ElectionOfficial"
                    },
                    "type": "array"
                },
                "electionRegistrationConfirmationUrl": {
                    "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
                    "type": "string"
                },
                "electionRegistrationUrl": {
                    "description": "A URL provided by this administrative body for looking up how to register to vote.",
                    "type": "string"
                },
                "electionRulesUrl": {
                    "description": "A URL provided by this administrative body describing election rules to the voter.",
                    "type": "string"
                },
                "hoursOfOperation": {
                    "description": "A description of the hours of operation for this administrative body.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of this election administrative body.",
                    "type": "string"
                },
                "physicalAddress": {
                    "$ref": "SimpleAddressType",
                    "description": "The physical address of this administrative body."
                },
                "voter_services": {
                    "description": "A description of the services this administrative body may provide.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "votingLocationFinderUrl": {
                    "description": "A URL provided by this administrative body for looking up where to vote.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Candidate": {
            "description": "Information about a candidate running for elected office.",
            "id": "Candidate",
            "properties": {
                "candidateUrl": {
                    "description": "The URL for the candidate's campaign web site.",
                    "type": "string"
                },
                "channels": {
                    "description": "A list of known (social) media channels for this candidate.",
                    "items": {
                        "$ref": "Channel"
                    },
                    "type": "array"
                },
                "email": {
                    "description": "The email address for the candidate's campaign.",
                    "type": "string"
                },
                "name": {
                    "description": "The candidate's name.",
                    "type": "string"
                },
                "orderOnBallot": {
                    "description": "The order the candidate appears on the ballot for this contest.",
                    "format": "int64",
                    "type": "string"
                },
                "party": {
                    "description": "The full name of the party the candidate is a member of.",
                    "type": "string"
                },
                "phone": {
                    "description": "The voice phone number for the candidate's campaign office.",
                    "type": "string"
                },
                "photoUrl": {
                    "description": "A URL for a photo of the candidate.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Channel": {
            "description": "A social media or web channel for a candidate.",
            "id": "Channel",
            "properties": {
                "id": {
                    "description": "The unique public identifier for the candidate's channel.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Contest": {
            "description": "Information about a contest that appears on a voter's ballot.",
            "id": "Contest",
            "properties": {
                "ballotPlacement": {
                    "description": "A number specifying the position of this contest on the voter's ballot.",
                    "format": "int64",
                    "type": "string"
                },
                "candidates": {
                    "description": "The candidate choices for this contest.",
                    "items": {
                        "$ref": "Candidate"
                    },
                    "type": "array"
                },
                "district": {
                    "$ref": "ElectoralDistrict",
                    "description": "Information about the electoral district that this contest is in."
                },
                "electorateSpecifications": {
                    "description": "A description of any additional eligibility requirements for voting in this contest.",
                    "type": "string"
                },
                "id": {
                    "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.",
                    "type": "string"
                },
                "level": {
                    "description": "The level of office for this contest. One of: federal, state, county, city, other",
                    "type": "string"
                },
                "numberElected": {
                    "description": "The number of candidates that will be elected to office in this contest.",
                    "format": "int64",
                    "type": "string"
                },
                "numberVotingFor": {
                    "description": "The number of candidates that a voter may vote for in this contest.",
                    "format": "int64",
                    "type": "string"
                },
                "office": {
                    "description": "The name of the office for this contest.",
                    "type": "string"
                },
                "primaryParty": {
                    "description": "If this is a partisan election, the name of the party it is for.",
                    "type": "string"
                },
                "referendumSubtitle": {
                    "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
                    "type": "string"
                },
                "referendumTitle": {
                    "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'.",
                    "type": "string"
                },
                "referendumUrl": {
                    "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
                    "type": "string"
                },
                "sources": {
                    "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                },
                "special": {
                    "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DivisionSearchResponse": {
            "description": "The result of a division search query.",
            "id": "DivisionSearchResponse",
            "properties": {
                "kind": {
                    "default": "civicinfo#divisionSearchResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".",
                    "type": "string"
                },
                "results": {
                    "items": {
                        "$ref": "DivisionSearchResult"
                    },
                    "type": "array"
                },
                "status": {
                    "description": "The result of the request. One of: success, addressUnparseable, noAddressParameter, internalLookupFailure",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DivisionSearchResult": {
            "description": "Represents a political geographic division that matches the requested query.",
            "id": "DivisionSearchResult",
            "properties": {
                "aliases": {
                    "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The name of the division.",
                    "type": "string"
                },
                "ocdId": {
                    "description": "The unique Open Civic Data identifier for this division.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Election": {
            "description": "Information about the election that was queried.",
            "id": "Election",
            "properties": {
                "electionDay": {
                    "description": "Day of the election in YYYY-MM-DD format.",
                    "type": "string"
                },
                "id": {
                    "description": "The unique ID of this election.",
                    "format": "int64",
                    "type": "string"
                },
                "name": {
                    "description": "A displayable name for the election.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectionOfficial": {
            "description": "Information about individual election officials.",
            "id": "ElectionOfficial",
            "properties": {
                "emailAddress": {
                    "description": "The email address of the election official.",
                    "type": "string"
                },
                "faxNumber": {
                    "description": "The fax number of the election official.",
                    "type": "string"
                },
                "name": {
                    "description": "The full name of the election official.",
                    "type": "string"
                },
                "officePhoneNumber": {
                    "description": "The office phone number of the election official.",
                    "type": "string"
                },
                "title": {
                    "description": "The title of the election official.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectionsQueryResponse": {
            "description": "The list of elections available for this version of the API.",
            "id": "ElectionsQueryResponse",
            "properties": {
                "elections": {
                    "description": "A list of available elections",
                    "items": {
                        "$ref": "Election"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "civicinfo#electionsQueryResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ElectoralDistrict": {
            "description": "Describes the geographic scope of a contest.",
            "id": "ElectoralDistrict",
            "properties": {
                "id": {
                    "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the district.",
                    "type": "string"
                },
                "scope": {
                    "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "GeographicDivision": {
            "description": "Describes a political geography.",
            "id": "GeographicDivision",
            "properties": {
                "alsoKnownAs": {
                    "description": "Any other valid OCD IDs that refer to the same division.\n\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\n\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The name of the division.",
                    "type": "string"
                },
                "officeIds": {
                    "description": "List of keys in the offices object, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "scope": {
                    "description": "The geographic scope of the division. If unspecified, the division's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Office": {
            "description": "Information about an Office held by one or more Officials.",
            "id": "Office",
            "properties": {
                "divisionId": {
                    "description": "The OCD ID of the division with which this office is associated.",
                    "type": "string"
                },
                "level": {
                    "description": "The level of this elected office. One of: federal, state, county, city, other",
                    "type": "string"
                },
                "name": {
                    "description": "The human-readable name of the office.",
                    "type": "string"
                },
                "officialIds": {
                    "description": "List of keys in the officials object of people who presently hold this office.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "sources": {
                    "description": "A list of sources for this office. If multiple sources are listed, the data has been aggregated from those sources.",
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Official": {
            "description": "Information about a person holding an elected office.",
            "id": "Official",
            "properties": {
                "address": {
                    "description": "Addresses at which to contact the official.",
                    "items": {
                        "$ref": "SimpleAddressType"
                    },
                    "type": "array"
                },
                "channels": {
                    "description": "A list of known (social) media channels for this official.",
                    "items": {
                        "$ref": "Channel"
                    },
                    "type": "array"
                },
                "emails": {
                    "description": "The direct email addresses for the official.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "The official's name.",
                    "type": "string"
                },
                "party": {
                    "description": "The full name of the party the official belongs to.",
                    "type": "string"
                },
                "phones": {
                    "description": "The official's public contact phone numbers.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "photoUrl": {
                    "description": "A URL for a photo of the official.",
                    "type": "string"
                },
                "urls": {
                    "description": "The official's public website URLs.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "PollingLocation": {
            "description": "A location where a voter can vote. This may be an early vote site or an election day voting location.",
            "id": "PollingLocation",
            "properties": {
                "address": {
                    "$ref": "SimpleAddressType",
                    "description": "The address of the location"
                },
                "endDate": {
                    "description": "The last date that this early vote site may be used. This field is not populated for polling locations.",
                    "type": "string"
                },
                "id": {
                    "description": "An ID for this object. IDs may change in future requests and should not be cached. Access to this field requires special access that can be requested from the Request more link on the Quotas page.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the early vote site. This field is not populated for polling locations.",
                    "type": "string"
                },
                "notes": {
                    "description": "Notes about this location (e.g. accessibility ramp or entrance to use)",
                    "type": "string"
                },
                "pollingHours": {
                    "description": "A description of when this location is open.",
                    "type": "string"
                },
                "sources": {
                    "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
                    "items": {
                        "$ref": "Source"
                    },
                    "type": "array"
                },
                "startDate": {
                    "description": "The first date that this early vote site may be used. This field is not populated for polling locations.",
                    "type": "string"
                },
                "voterServices": {
                    "description": "The services provided by this early vote site. This field is not populated for polling locations.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepresentativeInfoRequest": {
            "description": "A request for political geography and representative information for an address.",
            "id": "RepresentativeInfoRequest",
            "properties": {
                "address": {
                    "description": "The address to look up. May only be specified if the field ocdId is not given in the URL.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "RepresentativeInfoResponse": {
            "description": "The result of a representative info lookup query.",
            "id": "RepresentativeInfoResponse",
            "properties": {
                "divisions": {
                    "additionalProperties": {
                        "$ref": "GeographicDivision",
                        "description": "The unique Open Civic Data identifier for this division."
                    },
                    "description": "Political geographic divisions that contain the requested address.",
                    "type": "object"
                },
                "kind": {
                    "default": "civicinfo#representativeInfoResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#representativeInfoResponse\".",
                    "type": "string"
                },
                "normalizedInput": {
                    "$ref": "SimpleAddressType",
                    "description": "The normalized version of the requested address"
                },
                "offices": {
                    "additionalProperties": {
                        "$ref": "Office",
                        "description": "A unique identifier for this office, within the context of this request. Identifiers are *not* long-lived: the same office may get different IDs on different requests."
                    },
                    "description": "Elected offices referenced by the divisions listed above. Will only be present if includeOffices was true in the request.",
                    "type": "object"
                },
                "officials": {
                    "additionalProperties": {
                        "$ref": "Official",
                        "description": "A unique identifier for this official, within the context of this request. Identifiers are *not* long-lived: the same official may get different IDs on different requests."
                    },
                    "description": "Officials holding the offices listed above. Will only be present if includeOffices was true in the request.",
                    "type": "object"
                },
                "status": {
                    "description": "The result of the request. One of: success, noStreetSegmentFound, addressUnparseable, noAddressParameter, multipleStreetSegmentsFound, electionOver, electionUnknown, internalLookupFailure, RequestedBothAddressAndOcdId",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SimpleAddressType": {
            "description": "A simple representation of an address.",
            "id": "SimpleAddressType",
            "properties": {
                "city": {
                    "description": "The city or town for the address.",
                    "type": "string"
                },
                "line1": {
                    "description": "The street name and number of this address.",
                    "type": "string"
                },
                "line2": {
                    "description": "The second line the address, if needed.",
                    "type": "string"
                },
                "line3": {
                    "description": "The third line of the address, if needed.",
                    "type": "string"
                },
                "locationName": {
                    "description": "The name of the location.",
                    "type": "string"
                },
                "state": {
                    "description": "The US two letter state abbreviation of the address.",
                    "type": "string"
                },
                "zip": {
                    "description": "The US Postal Zip Code of the address.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Source": {
            "description": "Contains information about the data source for the element containing it.",
            "id": "Source",
            "properties": {
                "name": {
                    "description": "The name of the data source.",
                    "type": "string"
                },
                "official": {
                    "description": "Whether this data comes from an official government source.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "VoterInfoRequest": {
            "description": "A request for information about a voter.",
            "id": "VoterInfoRequest",
            "properties": {
                "address": {
                    "description": "The registered address of the voter to look up.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "VoterInfoResponse": {
            "description": "The result of a voter info lookup query.",
            "id": "VoterInfoResponse",
            "properties": {
                "contests": {
                    "description": "Contests that will appear on the voter's ballot",
                    "items": {
                        "$ref": "Contest"
                    },
                    "type": "array"
                },
                "earlyVoteSites": {
                    "description": "Locations where the voter is eligible to vote early, prior to election day",
                    "items": {
                        "$ref": "PollingLocation"
                    },
                    "type": "array"
                },
                "election": {
                    "$ref": "Election",
                    "description": "The election that was queried."
                },
                "kind": {
                    "default": "civicinfo#voterInfoResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
                    "type": "string"
                },
                "normalizedInput": {
                    "$ref": "SimpleAddressType",
                    "description": "The normalized version of the requested address"
                },
                "pollingLocations": {
                    "description": "Locations where the voter is eligible to vote on election day. For states with mail-in voting only, these locations will be nearby drop box locations. Drop box locations are free to the voter and may be used instead of placing the ballot in the mail.",
                    "items": {
                        "$ref": "PollingLocation"
                    },
                    "type": "array"
                },
                "precinctId": {
                    "type": "string"
                },
                "state": {
                    "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
                    "items": {
                        "$ref": "AdministrationRegion"
                    },
                    "type": "array"
                },
                "status": {
                    "description": "The result of the request. One of: success, noStreetSegmentFound, addressUnparseable, noAddressParameter, multipleStreetSegmentsFound, electionOver, electionUnknown, internalLookupFailure",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "civicinfo/v1/",
    "title": "Google Civic Information API",
    "version": "v1"
}