{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/classroom.course-work.readonly": {
                    "description": "View instructions for teacher-assigned work in your Google Classroom classes"
                },
                "https://www.googleapis.com/auth/classroom.courses": {
                    "description": "Manage your Google Classroom classes"
                },
                "https://www.googleapis.com/auth/classroom.courses.readonly": {
                    "description": "View your Google Classroom classes"
                },
                "https://www.googleapis.com/auth/classroom.coursework.me": {
                    "description": "Manage your course work and view your grades in Google Classroom"
                },
                "https://www.googleapis.com/auth/classroom.coursework.me.readonly": {
                    "description": "View your course work and grades in Google Classroom"
                },
                "https://www.googleapis.com/auth/classroom.coursework.students": {
                    "description": "Manage course work and grades for students in the Google Classroom classes you teach and view the course work and grades for classes you administer"
                },
                "https://www.googleapis.com/auth/classroom.coursework.students.readonly": {
                    "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
                },
                "https://www.googleapis.com/auth/classroom.profile.emails": {
                    "description": "View the email addresses of people in your classes"
                },
                "https://www.googleapis.com/auth/classroom.profile.photos": {
                    "description": "View the profile photos of people in your classes"
                },
                "https://www.googleapis.com/auth/classroom.rosters": {
                    "description": "Manage your Google Classroom class rosters"
                },
                "https://www.googleapis.com/auth/classroom.rosters.readonly": {
                    "description": "View your Google Classroom class rosters"
                },
                "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly": {
                    "description": "View your course work and grades in Google Classroom"
                },
                "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly": {
                    "description": "View course work and grades for students in the Google Classroom classes you teach or administer"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://classroom.googleapis.com/",
    "batchPath": "batch",
    "description": "Manages classes, rosters, and invitations in Google Classroom.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/classroom/",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/mk_oLjlaBwJ1BcBJ5yykCFb6u3w\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "classroom:v1",
    "kind": "discovery#restDescription",
    "name": "classroom",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "courses": {
            "methods": {
                "create": {
                    "description": "Creates a course. The user specified in `ownerId` is the owner of the created course and added as a teacher. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create courses or for access errors. * `NOT_FOUND` if the primary teacher is not a valid user. * `FAILED_PRECONDITION` if the course owner's account is disabled or for the following request errors: * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if an alias was specified in the `id` and already exists.",
                    "httpMethod": "POST",
                    "id": "classroom.courses.create",
                    "path": "v1/courses",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "get": {
                    "description": "Returns a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
                    "httpMethod": "GET",
                    "id": "classroom.courses.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "Identifier of the course to return. This identifier can be either the Classroom-assigned identifier or an alias.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses",
                        "https://www.googleapis.com/auth/classroom.courses.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable",
                    "httpMethod": "PUT",
                    "id": "classroom.courses.update",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "patch": {
                    "description": "Updates one or more fields in a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to modify the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID. * `INVALID_ARGUMENT` if invalid fields are specified in the update mask or if no update mask is supplied. * `FAILED_PRECONDITION` for the following request errors: * CourseNotModifiable",
                    "httpMethod": "PATCH",
                    "id": "classroom.courses.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "Identifier of the course to update. This identifier can be either the Classroom-assigned identifier or an alias.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "updateMask": {
                            "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `name` * `section` * `descriptionHeading` * `description` * `room` * `courseState` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "request": {
                        "$ref": "Course"
                    },
                    "response": {
                        "$ref": "Course"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "delete": {
                    "description": "Deletes a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete the requested course or for access errors. * `NOT_FOUND` if no course exists with the requested ID.",
                    "httpMethod": "DELETE",
                    "id": "classroom.courses.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "Identifier of the course to delete. This identifier can be either the Classroom-assigned identifier or an alias.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/courses/{id}",
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses"
                    ]
                },
                "list": {
                    "description": "Returns a list of courses that the requesting user is permitted to view, restricted to those that match the request. This method returns the following error codes: * `PERMISSION_DENIED` for access errors. * `INVALID_ARGUMENT` if the query argument is malformed. * `NOT_FOUND` if any users specified in the query arguments do not exist.",
                    "httpMethod": "GET",
                    "id": "classroom.courses.list",
                    "parameters": {
                        "studentId": {
                            "description": "Restricts returned courses to those having a student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                            "location": "query",
                            "type": "string"
                        },
                        "teacherId": {
                            "description": "Restricts returned courses to those having a teacher with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                            "location": "query",
                            "type": "string"
                        },
                        "courseStates": {
                            "description": "Restricts returned courses to those in one of the specified states",
                            "enum": [
                                "COURSE_STATE_UNSPECIFIED",
                                "ACTIVE",
                                "ARCHIVED",
                                "PROVISIONED",
                                "DECLINED"
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "pageSize": {
                            "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/courses",
                    "response": {
                        "$ref": "ListCoursesResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.courses",
                        "https://www.googleapis.com/auth/classroom.courses.readonly"
                    ]
                }
            },
            "resources": {
                "aliases": {
                    "methods": {
                        "create": {
                            "description": "Creates an alias for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create the alias or for access errors. * `NOT_FOUND` if the course does not exist. * `ALREADY_EXISTS` if the alias already exists.",
                            "httpMethod": "POST",
                            "id": "classroom.courses.aliases.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course to alias. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases",
                            "request": {
                                "$ref": "CourseAlias"
                            },
                            "response": {
                                "$ref": "CourseAlias"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses"
                            ]
                        },
                        "delete": {
                            "description": "Deletes an alias of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to remove the alias or for access errors. * `NOT_FOUND` if the alias does not exist.",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.aliases.delete",
                            "parameterOrder": [
                                "courseId",
                                "alias"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course whose alias should be deleted. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "alias": {
                                    "description": "Alias to delete. This may not be the Classroom-assigned identifier.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases/{alias}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses"
                            ]
                        },
                        "list": {
                            "description": "Returns a list of aliases for a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the course or for access errors. * `NOT_FOUND` if the course does not exist.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.aliases.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "The identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/aliases",
                            "response": {
                                "$ref": "ListCourseAliasesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.courses",
                                "https://www.googleapis.com/auth/classroom.courses.readonly"
                            ]
                        }
                    }
                },
                "teachers": {
                    "methods": {
                        "create": {
                            "description": "Creates a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create teachers in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * CourseTeacherLimitReached * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a teacher or student in the course.",
                            "httpMethod": "POST",
                            "id": "classroom.courses.teachers.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers",
                            "request": {
                                "$ref": "Teacher"
                            },
                            "response": {
                                "$ref": "Teacher"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "get": {
                            "description": "Returns a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.teachers.get",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "description": "Identifier of the teacher to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers/{userId}",
                            "response": {
                                "$ref": "Teacher"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        },
                        "delete": {
                            "description": "Deletes a teacher of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete teachers of this course or for access errors. * `NOT_FOUND` if no teacher of this course has the requested ID or if the course does not exist. * `FAILED_PRECONDITION` if the requested ID belongs to the primary teacher of this course.",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.teachers.delete",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "description": "Identifier of the teacher to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers/{userId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "list": {
                            "description": "Returns a list of teachers of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.teachers.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero means no maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/teachers",
                            "response": {
                                "$ref": "ListTeachersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        }
                    }
                },
                "students": {
                    "methods": {
                        "create": {
                            "description": "Adds a user as a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create students in this course or for access errors. * `NOT_FOUND` if the requested course ID does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled, for the following request errors: * CourseMemberLimitReached * CourseNotModifiable * UserGroupsMembershipLimitReached * `ALREADY_EXISTS` if the user is already a student or teacher in the course.",
                            "httpMethod": "POST",
                            "id": "classroom.courses.students.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course to create the student in. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "enrollmentCode": {
                                    "description": "Enrollment code of the course to create the student in. This code is required if userId corresponds to the requesting user; it may be omitted if the requesting user has administrative permissions to create students for any user.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students",
                            "request": {
                                "$ref": "Student"
                            },
                            "response": {
                                "$ref": "Student"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "get": {
                            "description": "Returns a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.students.get",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "description": "Identifier of the student to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students/{userId}",
                            "response": {
                                "$ref": "Student"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        },
                        "delete": {
                            "description": "Deletes a student of a course. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to delete students of this course or for access errors. * `NOT_FOUND` if no student of this course has the requested ID or if the course does not exist.",
                            "httpMethod": "DELETE",
                            "id": "classroom.courses.students.delete",
                            "parameterOrder": [
                                "courseId",
                                "userId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "userId": {
                                    "description": "Identifier of the student to delete. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students/{userId}",
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.rosters"
                            ]
                        },
                        "list": {
                            "description": "Returns a list of students of this course that the requester is permitted to view. This method returns the following error codes: * `NOT_FOUND` if the course does not exist. * `PERMISSION_DENIED` for access errors.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.students.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero means no maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/students",
                            "response": {
                                "$ref": "ListStudentsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.profile.emails",
                                "https://www.googleapis.com/auth/classroom.profile.photos",
                                "https://www.googleapis.com/auth/classroom.rosters",
                                "https://www.googleapis.com/auth/classroom.rosters.readonly"
                            ]
                        }
                    }
                },
                "courseWork": {
                    "methods": {
                        "create": {
                            "description": "Creates course work. The resulting course work (and corresponding student submissions) are associated with the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to make the request. Classroom API requests to modify course work and student submissions must be made with an OAuth client ID from the associated Developer Console project. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, create course work in the requested course, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
                            "httpMethod": "POST",
                            "id": "classroom.courses.courseWork.create",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork",
                            "request": {
                                "$ref": "CourseWork"
                            },
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.coursework.students"
                            ]
                        },
                        "get": {
                            "description": "Returns course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course or course work does not exist.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.courseWork.get",
                            "parameterOrder": [
                                "courseId",
                                "id"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "description": "Identifier of the course work.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork/{id}",
                            "response": {
                                "$ref": "CourseWork"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.course-work.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.me",
                                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.students",
                                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
                            ]
                        },
                        "list": {
                            "description": "Returns a list of course work that the requester is permitted to view. Course students may only view `PUBLISHED` course work. Course teachers and domain administrators may view all course work. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
                            "httpMethod": "GET",
                            "id": "classroom.courses.courseWork.list",
                            "parameterOrder": [
                                "courseId"
                            ],
                            "parameters": {
                                "courseId": {
                                    "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "courseWorkStates": {
                                    "description": "Restriction on the work status to return. Only courseWork that matches is returned. If unspecified, items with a work status of `PUBLISHED` is returned.",
                                    "enum": [
                                        "COURSE_WORK_STATE_UNSPECIFIED",
                                        "PUBLISHED",
                                        "DRAFT",
                                        "DELETED"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "description": "Optional sort ordering for results. A comma-separated list of fields with an optional sort direction keyword. Supported fields are `updateTime` and `dueDate`. Supported direction keywords are `asc` and `desc`. If not specified, `updateTime desc` is the default behavior. Examples: `dueDate asc,updateTime desc`, `updateTime,dueDate desc`",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/courses/{courseId}/courseWork",
                            "response": {
                                "$ref": "ListCourseWorkResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/classroom.course-work.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.me",
                                "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                "https://www.googleapis.com/auth/classroom.coursework.students",
                                "https://www.googleapis.com/auth/classroom.coursework.students.readonly"
                            ]
                        }
                    },
                    "resources": {
                        "studentSubmissions": {
                            "methods": {
                                "get": {
                                    "description": "Returns a student submission. * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course, course work, or student submission or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "GET",
                                    "id": "classroom.courses.courseWork.studentSubmissions.get",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.coursework.students",
                                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates one or more fields of a student submission. See google.classroom.v1.StudentSubmission for details of which fields may be updated and who may change them. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting developer project did not create the corresponding course work, if the user is not permitted to make the requested modification to the student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "PATCH",
                                    "id": "classroom.courses.courseWork.studentSubmissions.patch",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "Mask that identifies which fields on the student submission to update. This field is required to do an update. The update fails if invalid fields are specified. The following fields may be specified by teachers: * `draft_grade` * `assigned_grade`",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}",
                                    "request": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                },
                                "list": {
                                    "description": "Returns a list of student submissions that the requester is permitted to view, factoring in the OAuth scopes of the request. `-` may be specified as the `course_work_id` to include student submissions for multiple course work items. Course students may only view their own work. Course teachers and domain administrators may view all student submissions. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course does not exist.",
                                    "httpMethod": "GET",
                                    "id": "classroom.courses.courseWork.studentSubmissions.list",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifer of the student work to request. This may be set to the string literal `\"-\"` to request student work for all course work in the specified course.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "userId": {
                                            "description": "Optional argument to restrict returned student work to those owned by the student with the specified identifier. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "states": {
                                            "description": "Requested submission states. If specified, returned student submissions match one of the specified submission states.",
                                            "enum": [
                                                "SUBMISSION_STATE_UNSPECIFIED",
                                                "NEW",
                                                "CREATED",
                                                "TURNED_IN",
                                                "RETURNED",
                                                "RECLAIMED_BY_STUDENT"
                                            ],
                                            "location": "query",
                                            "repeated": true,
                                            "type": "string"
                                        },
                                        "late": {
                                            "description": "Requested lateness value. If specified, returned student submissions are restricted by the requested value. If unspecified, submissions are returned regardless of `late` value.",
                                            "enum": [
                                                "LATE_VALUES_UNSPECIFIED",
                                                "LATE_ONLY",
                                                "NOT_LATE_ONLY"
                                            ],
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions",
                                    "response": {
                                        "$ref": "ListStudentSubmissionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.coursework.students",
                                        "https://www.googleapis.com/auth/classroom.coursework.students.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.me.readonly",
                                        "https://www.googleapis.com/auth/classroom.student-submissions.students.readonly"
                                    ]
                                },
                                "turnIn": {
                                    "description": "Turns in a student submission. Turning in a student submission transfers ownership of attached Drive files to the teacher and may also update the submission state. This may only be called by the student that owns the specified student submission. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, turn in the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.turnIn",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:turnIn",
                                    "request": {
                                        "$ref": "TurnInStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me"
                                    ]
                                },
                                "reclaim": {
                                    "description": "Reclaims a student submission on behalf of the student that owns it. Reclaiming a student submission transfers ownership of attached Drive files to the student and update the submission state. Only the student that ownes the requested student submission may call this method, and only for a student submission that has been turned in. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, unsubmit the requested student submission, or for access errors. * `FAILED_PRECONDITION` if the student submission has not been turned in. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.reclaim",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:reclaim",
                                    "request": {
                                        "$ref": "ReclaimStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me"
                                    ]
                                },
                                "return": {
                                    "description": "Returns a student submission. Returning a student submission transfers ownership of attached Drive files to the student and may also update the submission state. Unlike the Classroom application, returning a student submission does not set assignedGrade to the draftGrade value. Only a teacher of the course that contains the requested student submission may call this method. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, return the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.return",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:return",
                                    "request": {
                                        "$ref": "ReturnStudentSubmissionRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                },
                                "modifyAttachments": {
                                    "description": "Modifies attachments of student submission. Attachments may only be added to student submissions whose type is `ASSIGNMENT`. This request must be made by the Developer Console project of the [OAuth client ID](https://support.google.com/cloud/answer/6158849) used to create the corresponding course work item. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access the requested course or course work, if the user is not permitted to modify attachments on the requested student submission, or for access errors. * `INVALID_ARGUMENT` if the request is malformed. * `NOT_FOUND` if the requested course, course work, or student submission does not exist.",
                                    "httpMethod": "POST",
                                    "id": "classroom.courses.courseWork.studentSubmissions.modifyAttachments",
                                    "parameterOrder": [
                                        "courseId",
                                        "courseWorkId",
                                        "id"
                                    ],
                                    "parameters": {
                                        "courseId": {
                                            "description": "Identifier of the course. This identifier can be either the Classroom-assigned identifier or an alias.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "courseWorkId": {
                                            "description": "Identifier of the course work.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "Identifier of the student submission.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/courses/{courseId}/courseWork/{courseWorkId}/studentSubmissions/{id}:modifyAttachments",
                                    "request": {
                                        "$ref": "ModifyAttachmentsRequest"
                                    },
                                    "response": {
                                        "$ref": "StudentSubmission"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/classroom.coursework.me",
                                        "https://www.googleapis.com/auth/classroom.coursework.students"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "userProfiles": {
            "methods": {
                "get": {
                    "description": "Returns a user profile. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to access this user profile or if no profile exists with the requested ID or for access errors.",
                    "httpMethod": "GET",
                    "id": "classroom.userProfiles.get",
                    "parameterOrder": [
                        "userId"
                    ],
                    "parameters": {
                        "userId": {
                            "description": "Identifier of the profile to return. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/userProfiles/{userId}",
                    "response": {
                        "$ref": "UserProfile"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/classroom.profile.emails",
                        "https://www.googleapis.com/auth/classroom.profile.photos",
                        "https://www.googleapis.com/auth/classroom.rosters",
                        "https://www.googleapis.com/auth/classroom.rosters.readonly"
                    ]
                }
            },
            "resources": {
                "guardianInvitations": {
                    "methods": {
                        "list": {
                            "description": "Returns a list of guardian invitations that the requesting user is permitted to view, filtered by the parameters provided. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian invitations for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` or `state` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardianInvitations.list",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "The ID of the student whose guardian invitations are to be returned. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user is permitted to view guardian invitations.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "invitedEmailAddress": {
                                    "description": "If specified, only results with the specified `invited_email_address` will be returned.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "states": {
                                    "description": "If specified, only results with the specified `state` values will be returned. Otherwise, results with a `state` of `PENDING` will be returned.",
                                    "enum": [
                                        "GUARDIAN_INVITATION_STATE_UNSPECIFIED",
                                        "PENDING",
                                        "COMPLETE"
                                    ],
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations",
                            "response": {
                                "$ref": "ListGuardianInvitationsResponse"
                            }
                        },
                        "get": {
                            "description": "Returns a specific guardian invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian invitations for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `invitation_id`. May also be returned if the student exists, but the requesting user does not have access to see that student.",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardianInvitations.get",
                            "parameterOrder": [
                                "studentId",
                                "invitationId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "The ID of the student whose guardian invitation is being requested.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "invitationId": {
                                    "description": "The `id` field of the `GuardianInvitation` being requested.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "response": {
                                "$ref": "GuardianInvitation"
                            }
                        },
                        "create": {
                            "description": "Creates a guardian invitation, and sends an email to the guardian asking them to confirm that they are the student's guardian. Once the guardian accepts the invitation, their `state` will change to `COMPLETED` and they will start receiving guardian notifications. A `Guardian` resource will also be created to represent the active guardian. The request object must have the `student_id` and `invited_email_address` fields set. Failing to set these fields, or setting any other fields in the request, will result in an error. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if the guardian in question has already rejected too many requests for that student, if guardians are not enabled for the domain in question, or for other access errors. * `RESOURCE_EXHAUSTED` if the student or guardian has exceeded the guardian link limit. * `INVALID_ARGUMENT` if the guardian email address is not valid (for example, if it is too long), or if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API). This error will also be returned if read-only fields are set, or if the `state` field is set to to a value other than `PENDING`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student. * `ALREADY_EXISTS` if there is already a pending guardian invitation for the student and `invited_email_address` provided, or if the provided `invited_email_address` matches the Google account of an existing `Guardian` for this user.",
                            "httpMethod": "POST",
                            "id": "classroom.userProfiles.guardianInvitations.create",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "ID of the student (in standard format)",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations",
                            "request": {
                                "$ref": "GuardianInvitation"
                            },
                            "response": {
                                "$ref": "GuardianInvitation"
                            }
                        },
                        "patch": {
                            "description": "Modifies a guardian invitation. Currently, the only valid modification is to change the `state` from `PENDING` to `COMPLETE`. This has the effect of withdrawing the invitation. This method returns the following error codes: * `PERMISSION_DENIED` if the current user does not have permission to manage guardians, if guardians are not enabled for the domain in question or for other access errors. * `FAILED_PRECONDITION` if the guardian link is not in the `PENDING` state. * `INVALID_ARGUMENT` if the format of the student ID provided cannot be recognized (it is not an email address, nor a `user_id` from this API), or if the passed `GuardianInvitation` has a `state` other than `COMPLETE`, or if it modifies fields other than `state`. * `NOT_FOUND` if the student ID provided is a valid student ID, but Classroom has no record of that student, or if the `id` field does not refer to a guardian invitation known to Classroom.",
                            "httpMethod": "PATCH",
                            "id": "classroom.userProfiles.guardianInvitations.patch",
                            "parameterOrder": [
                                "studentId",
                                "invitationId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "The ID of the student whose guardian invitation is to be modified.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "invitationId": {
                                    "description": "The `id` field of the `GuardianInvitation` to be modified.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "updateMask": {
                                    "description": "Mask that identifies which fields on the course to update. This field is required to do an update. The update will fail if invalid fields are specified. The following fields are valid: * `state` When set in a query parameter, this field should be specified as `updateMask=,,...`",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardianInvitations/{invitationId}",
                            "request": {
                                "$ref": "GuardianInvitation"
                            },
                            "response": {
                                "$ref": "GuardianInvitation"
                            }
                        }
                    }
                },
                "guardians": {
                    "methods": {
                        "list": {
                            "description": "Returns a list of guardians that the requesting user is permitted to view, restricted to those that match the request. To list guardians for any student that the requesting user may view guardians for, use the literal character `-` for the student ID. This method returns the following error codes: * `PERMISSION_DENIED` if a `student_id` is specified, and the requesting user is not permitted to view guardian information for that student, if `\"-\"` is specified as the `student_id` and the user is not a domain administrator, if guardians are not enabled for the domain in question, if the `invited_email_address` filter is set by a user who is not a domain administrator, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). May also be returned if an invalid `page_token` is provided. * `NOT_FOUND` if a `student_id` is specified, and its format can be recognized, but Classroom has no record of that student.",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardians.list",
                            "parameterOrder": [
                                "studentId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "Filter results by the student who the guardian is linked to. The identifier can be one of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user * the string literal `\"-\"`, indicating that results should be returned for all students that the requesting user has access to view.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "invitedEmailAddress": {
                                    "description": "Filter results by the email address that the original invitation was sent to, resulting in this guardian link. This filter can only be used by domain administrators.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "nextPageToken value returned from a previous list call, indicating that the subsequent page of results should be returned. The list request must be otherwise identical to the one that resulted in this token.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of items to return. Zero or unspecified indicates that the server may assign a maximum. The server may return fewer than the specified number of results.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians",
                            "response": {
                                "$ref": "ListGuardiansResponse"
                            }
                        },
                        "get": {
                            "description": "Returns a specific guardian. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to view guardian information for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API, nor the literal string `me`). * `NOT_FOUND` if Classroom cannot find any record of the given student or `guardian_id`, or if the guardian has been disabled.",
                            "httpMethod": "GET",
                            "id": "classroom.userProfiles.guardians.get",
                            "parameterOrder": [
                                "studentId",
                                "guardianId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "The student whose guardian is being requested. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "guardianId": {
                                    "description": "The `id` field from a `Guardian`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "response": {
                                "$ref": "Guardian"
                            }
                        },
                        "delete": {
                            "description": "Deletes a guardian. The guardian will no longer receive guardian notifications and the guardian will no longer be accessible via the API. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to manage guardians for the student identified by the `student_id`, if guardians are not enabled for the domain in question, or for other access errors. * `INVALID_ARGUMENT` if a `student_id` is specified, but its format cannot be recognized (it is not an email address, nor a `student_id` from the API). * `NOT_FOUND` if Classroom cannot find any record of the given `student_id` or `guardian_id`, or if the guardian has already been disabled.",
                            "httpMethod": "DELETE",
                            "id": "classroom.userProfiles.guardians.delete",
                            "parameterOrder": [
                                "studentId",
                                "guardianId"
                            ],
                            "parameters": {
                                "studentId": {
                                    "description": "The student whose guardian is to be deleted. One of the following: * the numeric identifier for the user * the email address of the user * the string literal `\"me\"`, indicating the requesting user",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "guardianId": {
                                    "description": "The `id` field from a `Guardian`.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/userProfiles/{studentId}/guardians/{guardianId}",
                            "response": {
                                "$ref": "Empty"
                            }
                        }
                    }
                }
            }
        },
        "invitations": {
            "methods": {
                "create": {
                    "description": "Creates an invitation. Only one invitation for a user and course may exist at a time. Delete and re-create an invitation to make changes. This method returns the following error codes: * `PERMISSION_DENIED` if the requesting user is not permitted to create invitations for this course or for access errors. * `NOT_FOUND` if the course or the user does not exist. * `FAILED_PRECONDITION` if the requested user's account is disabled or if the user already has this role or a role with greater permissions. * `ALREADY_EXISTS` if an invitation for the specified user and course already exists.",
                    "httpMethod": "POST",
[...]
