{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "/",
    "baseUrl": "https://cloudtrace.googleapis.com/",
    "batchPath": "batch",
    "description": "The Google Cloud Trace API provides services for reading and writing runtime trace data for Cloud applications.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/tools/cloud-trace",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/aRfd7FZnMyWmSYyC0t8ruQh7iCI\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudtrace:v1",
    "kind": "discovery#restDescription",
    "name": "cloudtrace",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "patchTraces": {
                    "description": "Updates the existing traces specified by PatchTracesRequest and inserts the new traces. Any existing trace or span fields included in an update are overwritten by the update, and any additional fields in an update are merged with the existing trace data.",
                    "httpMethod": "PATCH",
                    "id": "cloudtrace.projects.patchTraces",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "The project id of the trace to patch.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}/traces",
                    "request": {
                        "$ref": "Traces"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "traces": {
                    "methods": {
                        "list": {
                            "description": "List traces matching the filter expression.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The stringified-version of the project id.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "description": "ViewType specifies the projection of the result.",
                                    "enum": [
                                        "VIEW_TYPE_UNSPECIFIED",
                                        "MINIMAL",
                                        "ROOTSPAN",
                                        "COMPLETE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of topics to return. If not specified or <= 0, the implementation will select a reasonable value. The implemenation may always return fewer than the requested page_size.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The token identifying the page of results to return from the ListTraces method. If present, this value is should be taken from the next_page_token field of a previous ListTracesResponse.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTime": {
                                    "description": "End of the time interval (inclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "endTime": {
                                    "description": "Start of the time interval (exclusive).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "description": "An optional filter for the request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "description": "The trace field used to establish the order of traces returned by the ListTraces method. Possible options are: trace_id name (name field of root span) duration (different between end_time and start_time fields of root span) start (start_time field of root span) Descending order can be specified by appending \"desc\" to the sort field: name desc Only one sort field is permitted, though this may change in the future.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/traces",
                            "response": {
                                "$ref": "ListTracesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Gets one trace by id.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.get",
                            "parameterOrder": [
                                "projectId",
                                "traceId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The project id of the trace to return.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "traceId": {
                                    "description": "The trace id of the trace to return.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/traces/{traceId}",
                            "response": {
                                "$ref": "Trace"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "v1": {
            "methods": {
                "getDiscovery": {
                    "description": "Returns a discovery document in the specified `format`. The typeurl in the returned google.protobuf.Any value depends on the requested format.",
                    "httpMethod": "GET",
                    "id": "cloudtrace.getDiscovery",
                    "parameters": {
                        "format": {
                            "description": "The format requested for discovery.",
                            "location": "query",
                            "type": "string"
                        },
                        "labels": {
                            "description": "A list of labels (like visibility) influencing the scope of the requested doc.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "version": {
                            "description": "The API version of the requested discovery doc.",
                            "location": "query",
                            "type": "string"
                        },
                        "args": {
                            "description": "Any additional arguments.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/discovery"
                }
            }
        }
    },
    "revision": "20150825",
    "rootUrl": "https://cloudtrace.googleapis.com/",
    "schemas": {
        "ListTracesResponse": {
            "description": "The response message for the ListTraces method.",
            "id": "ListTracesResponse",
            "properties": {
                "traces": {
                    "description": "The list of trace records returned.",
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "If defined, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Trace": {
            "description": "A Trace is a collection of spans describing the execution timings of a single operation.",
            "id": "Trace",
            "properties": {
                "projectId": {
                    "description": "The Project ID of the Google Cloud project.",
                    "type": "string"
                },
                "traceId": {
                    "description": "A 128-bit numeric value, formatted as a 32-byte hex string, that represents a trace. Each trace should have an identifier that is globally unique.",
                    "type": "string"
                },
                "spans": {
                    "description": "The collection of span records within this trace. Spans that appear in calls to PatchTraces may be incomplete or partial.",
                    "items": {
                        "$ref": "TraceSpan"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TraceSpan": {
            "description": "A span is the data recorded with a single span.",
            "id": "TraceSpan",
            "properties": {
                "spanId": {
                    "description": "Identifier of the span within the trace. Each span should have an identifier that is unique per trace.",
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "description": "SpanKind distinguishes spans generated in a particular context. For example, two spans with the same name, one with the kind RPC_CLIENT, and the other with RPC_SERVER can indicate the queueing latency associated with the span.",
                    "enum": [
                        "SPAN_KIND_UNSPECIFIED",
                        "RPC_SERVER",
                        "RPC_CLIENT"
                    ],
                    "type": "string"
                },
                "name": {
                    "description": "The name of the trace. This is sanitized and displayed on the UI. This may be a method name or some other per-callsite name. For the same binary and the same call point, it is a good practice to choose a consistent name in order to correlate cross-trace spans.",
                    "type": "string"
                },
                "startTime": {
                    "description": "The start time of the span in nanoseconds from the UNIX epoch.",
                    "type": "string"
                },
                "endTime": {
                    "description": "The end time of the span in nanoseconds from the UNIX epoch.",
                    "type": "string"
                },
                "parentSpanId": {
                    "description": "Identifies the parent of the current span. May be missing. Serialized bytes representation of SpanId.",
                    "format": "uint64",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Annotations via labels.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Traces": {
            "description": "A list of traces for the PatchTraces method.",
            "id": "Traces",
            "properties": {
                "traces": {
                    "description": "A list of traces.",
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Trace API",
    "version": "v1"
}