{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/trace.readonly": {
                    "description": "Read Trace data for a project or application"
                },
                "https://www.googleapis.com/auth/trace.append": {
                    "description": "Write Trace data for a project or application"
                },
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudtrace.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Trace",
    "description": "Send and retrieve trace data from Stackdriver Trace. Data is generated and available by default for all App Engine applications. Data from other applications can be written to Stackdriver Trace for display, reporting, and analysis.\n",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/trace",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudtrace:v2",
    "kind": "discovery#restDescription",
    "name": "cloudtrace",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "traces": {
                    "methods": {
                        "listSpans": {
                            "description": "Returns a list of spans within a trace.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.listSpans",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "parent": {
                                    "description": "Required: The resource name of the trace containing the spans to list.\nThe format is `projects/PROJECT_ID/traces/TRACE_ID`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/traces/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method. `page_token` must be the value of\n`next_page_token` from the previous response. The values of other method\nparameters should be identical to those in the previous call.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}:listSpans",
                            "response": {
                                "$ref": "ListSpansResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/trace.readonly"
                            ]
                        },
                        "list": {
                            "description": "Returns of a list of traces that match the specified filter conditions.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.list",
                            "parameterOrder": [
                                "parent"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "Optional. The maximum number of results to return from this request.\nNon-positive values are ignored. The presence of `next_page_token` in the\nresponse indicates that more results might be available, even if fewer than\nthe maximum number of results is returned by this request.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "parent": {
                                    "description": "Required. The project where the trace data is stored. The format\nis `projects/PROJECT_ID`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "orderBy": {
                                    "description": "Optional. A single field used to sort the returned traces.\nOnly the following field names can be used:\n\n*   `trace_id`: the trace's ID field\n*   `name`:  the root span's resource name\n*   `duration`: the difference between the root span's start time and end time\n*   `start`:  the start time of the root span\n\nSorting is in ascending order unless `desc` is appended to the sort field name.\nExample: `\"name desc\"`).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "description": "Opional. Return only traces that match this\n[trace filter](/trace/docs/trace-filters). Example:\n\n    \"label:/http/url root:/_ah/background my_label:17\"",
                                    "location": "query",
                                    "type": "string"
                                },
                                "endTime": {
                                    "description": "Optional. Do not return traces whose start time is later than this time.",
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "Optional. If present, then retrieve the next batch of results from the\npreceding call to this method.  `page_token` must be the value of\n`next_page_token` from the previous response.  The values of other method\nparameters should be identical to those in the previous call.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTime": {
                                    "description": "Optional. Do not return traces whose end time is earlier than this time.",
                                    "format": "google-datetime",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+parent}/traces",
                            "response": {
                                "$ref": "ListTracesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/trace.readonly"
                            ]
                        },
                        "batchWrite": {
                            "description": "Sends new spans to Stackdriver Trace or updates existing traces. If the\nname of a trace that you send matches that of an existing trace, new spans\nare added to the existing trace. Attempt to update existing spans results\nundefined behavior. If the name does not match, a new trace is created\nwith given set of spans.",
                            "httpMethod": "POST",
                            "id": "cloudtrace.projects.traces.batchWrite",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Required. Name of the project where the spans belong. The format is\n`projects/PROJECT_ID`.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}/traces:batchWrite",
                            "request": {
                                "$ref": "BatchWriteSpansRequest"
                            },
                            "response": {
                                "$ref": "Empty"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/trace.append"
                            ]
                        }
                    },
                    "resources": {
                        "spans": {
                            "methods": {
                                "create": {
                                    "description": "Creates a new Span.",
                                    "httpMethod": "PUT",
                                    "id": "cloudtrace.projects.traces.spans.create",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The resource name of the span in the following format:\n\n    projects/[PROJECT_ID]traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project.\n[SPAN_ID] is a unique identifier for a span within a trace,\nassigned when the span is created.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/traces/[^/]+/spans/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "Span"
                                    },
                                    "response": {
                                        "$ref": "Span"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform",
                                        "https://www.googleapis.com/auth/trace.append"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20170705",
    "rootUrl": "https://cloudtrace.googleapis.com/",
    "schemas": {
        "StackTrace": {
            "description": "A call stack appearing in a trace.",
            "id": "StackTrace",
            "properties": {
                "stackFrames": {
                    "$ref": "StackFrames",
                    "description": "Stack frames in this stack trace. A maximum of 128 frames are allowed."
                },
                "stackTraceHashId": {
                    "description": "The hash ID is used to conserve network bandwidth for duplicate\nstack traces within a single trace.\n\nOften multiple spans will have identical stack traces.\nThe first occurrence of a stack trace should contain both the\n`stackFrame` content and a value in `stackTraceHashId`.\n\nSubsequent spans within the same request can refer\nto that stack trace by only setting `stackTraceHashId`.",
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TruncatableString": {
            "description": "Represents a string that might be shortened to a specified length.",
            "id": "TruncatableString",
            "properties": {
                "truncatedByteCount": {
                    "description": "The number of bytes removed from the original string. If this\nvalue is 0, then the string was not shortened.",
                    "format": "int32",
                    "type": "integer"
                },
                "value": {
                    "description": "The shortened string. For example, if the original string was 500\nbytes long and the limit of the string was 128 bytes, then this\nvalue contains the first 128 bytes of the 500-byte string. Note that\ntruncation always happens on the character boundary, to ensure that\ntruncated string is still valid UTF8. In case of multi-byte characters,\nsize of truncated string can be less than truncation limit.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeEvent": {
            "description": "A time-stamped annotation or network event in the Span.",
            "id": "TimeEvent",
            "properties": {
                "time": {
                    "description": "The timestamp indicating the time the event occurred.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "networkEvent": {
                    "$ref": "NetworkEvent",
                    "description": "An event describing an RPC message sent/received on the network."
                },
                "annotation": {
                    "$ref": "Annotation",
                    "description": "One or more key:value pairs."
                }
            },
            "type": "object"
        },
        "ListSpansResponse": {
            "description": "The response message for the `ListSpans` method.",
            "id": "ListSpansResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If defined, indicates that there might be more spans that match the\nrequest. Pass this as the value of `pageToken` in a subsequent request to\nretrieve additional spans.",
                    "type": "string"
                },
                "spans": {
                    "description": "The requested spans, if there are any in the specified trace.",
                    "items": {
                        "$ref": "Span"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NetworkEvent": {
            "description": "An event describing an RPC message sent or received on the network.",
            "id": "NetworkEvent",
            "properties": {
                "messageId": {
                    "description": "An identifier for the message, which must be unique in this span.",
                    "format": "uint64",
                    "type": "string"
                },
                "messageSize": {
                    "description": "The number of bytes sent or received.",
                    "format": "uint64",
                    "type": "string"
                },
                "time": {
                    "description": "For sent messages, this is the time at which the first bit was sent.\nFor received messages, this is the time at which the last bit was\nreceived.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "type": {
                    "description": "Type of NetworkEvent. Indicates whether the RPC message was sent or\nreceived.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "SENT",
                        "RECV"
                    ],
                    "enumDescriptions": [
                        "Unknown event type.",
                        "Indicates a sent RPC message.",
                        "Indicates a received RPC message."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StackFrame": {
            "description": "Represents a single stack frame in a stack trace.",
            "id": "StackFrame",
            "properties": {
                "fileName": {
                    "$ref": "TruncatableString",
                    "description": "The name of the source file where the function call appears (up to 256\nbytes)."
                },
                "sourceVersion": {
                    "$ref": "TruncatableString",
                    "description": "The version of the deployed source code (up to 128 bytes)."
                },
                "originalFunctionName": {
                    "$ref": "TruncatableString",
                    "description": "An un-mangled function name, if `function_name` is\n[mangled](http://www.avabodh.com/cxxin/namemangling.html). The name can\nbe fully-qualified (up to 1024 bytes)."
                },
                "functionName": {
                    "$ref": "TruncatableString",
                    "description": "The fully-qualified name that uniquely identifies the function or\nmethod that is active in this frame (up to 1024 bytes)."
                },
                "lineNumber": {
                    "description": "The line number in `file_name` where the function call appears.",
                    "format": "int64",
                    "type": "string"
                },
                "loadModule": {
                    "$ref": "Module",
                    "description": "The binary module from where the code was loaded."
                },
                "columnNumber": {
                    "description": "The column number where the function call appears, if available.\nThis is important in JavaScript because of its anonymous functions.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Link": {
            "description": "A pointer from the current span to another span in the same trace or in a\ndifferent trace. For example, this can be used in batching operations,\nwhere a single batch handler processes multiple requests from different\ntraces or when the handler receives a request from a different project.",
            "id": "Link",
            "properties": {
                "type": {
                    "description": "The relationship of the current span relative to the linked span.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CHILD_LINKED_SPAN",
                        "PARENT_LINKED_SPAN"
                    ],
                    "enumDescriptions": [
                        "The relationship of the two spans is unknown.",
                        "The linked span is a child of the current span.",
                        "The linked span is a parent of the current span."
                    ],
                    "type": "string"
                },
                "attributes": {
                    "$ref": "Attributes",
                    "description": "A set of attributes on the link. There is a limit of 32 attributes per\nlink."
                },
                "traceId": {
                    "description": "`TRACE_ID` identifies a trace within a project.",
                    "type": "string"
                },
                "spanId": {
                    "description": "`SPAN_ID` identifies a span within a trace.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Annotation": {
            "description": "Text annotation with a set of attributes.",
            "id": "Annotation",
            "properties": {
                "attributes": {
                    "$ref": "Attributes",
                    "description": "A set of attributes on the annotation. There is a limit of 4 attributes\nper Annotation."
                },
                "description": {
                    "$ref": "TruncatableString",
                    "description": "A user-supplied message describing the event. The maximum length for\nthe description is 256 bytes."
                }
            },
            "type": "object"
        },
        "StackFrames": {
            "description": "A collection of stack frames, which can be truncated.",
            "id": "StackFrames",
            "properties": {
                "droppedFramesCount": {
                    "description": "The number of stack frames that were dropped because there\nwere too many stack frames.\nIf this value is 0, then no stack frames were dropped.",
                    "format": "int32",
                    "type": "integer"
                },
                "frame": {
                    "description": "Stack frames in this call stack.",
                    "items": {
                        "$ref": "StackFrame"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Trace": {
            "description": "A trace describes how long it takes for an application to perform some\noperations. It consists of a set of spans, each representing\nan operation and including time information and operation details.",
            "id": "Trace",
            "properties": {
                "name": {
                    "description": "The resource name of the trace in the following format:\n\n    projects/[PROJECT_ID]/traces/TRACE_ID is a unique identifier for a trace within a project.\nThe ID is assigned when the trace is created.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TimeEvents": {
            "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation\non the span, consisting of either user-supplied key:value pairs, or\ndetails of an RPC message sent/received on the network.",
            "id": "TimeEvents",
            "properties": {
                "droppedAnnotationsCount": {
                    "description": "The number of dropped annotations in all the included time events.\nIf the value is 0, then no annotations were dropped.",
                    "format": "int32",
                    "type": "integer"
                },
                "timeEvent": {
                    "description": "A collection of `TimeEvent`s.",
                    "items": {
                        "$ref": "TimeEvent"
                    },
                    "type": "array"
                },
                "droppedNetworkEventsCount": {
                    "description": "The number of dropped network events in all the included time events.\nIf the value is 0, then no network events were dropped.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "Module": {
            "description": "Binary module.",
            "id": "Module",
            "properties": {
                "module": {
                    "$ref": "TruncatableString",
                    "description": "For example: main binary, kernel modules, and dynamic libraries\nsuch as libc.so, sharedlib.so (up to 256 bytes)."
                },
                "buildId": {
                    "$ref": "TruncatableString",
                    "description": "A unique identifier for the module, usually a hash of its\ncontents (up to 128 bytes)."
                }
            },
            "type": "object"
        },
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "details": {
                    "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchWriteSpansRequest": {
            "description": "The request message for the `BatchWriteSpans` method.",
            "id": "BatchWriteSpansRequest",
            "properties": {
                "spans": {
                    "description": "A collection of spans.",
                    "items": {
                        "$ref": "Span"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "properties": {},
            "type": "object"
        },
        "Span": {
            "description": "A span represents a single operation within a trace. Spans can be\nnested to form a trace tree. Often, a trace contains a root span\nthat describes the end-to-end latency, and one or more subspans for\nits sub-operations. A trace can also contain multiple root spans,\nor none at all. Spans do not need to be contiguous&mdash;there may be\ngaps or overlaps between spans in a trace.",
            "id": "Span",
            "properties": {
                "childSpanCount": {
                    "description": "An optional number of child spans that were generated while this span\nwas active. If set, allows implementation to detect missing child spans.",
                    "format": "uint32",
                    "type": "integer"
                },
                "sameProcessAsParentSpan": {
                    "description": "A highly recommended but not required flag that identifies when a trace\ncrosses a process boundary. True when the parent_span belongs to the\nsame process as the current span.",
                    "type": "boolean"
                },
                "status": {
                    "$ref": "Status",
                    "description": "An optional final status for this span."
                },
                "name": {
                    "description": "The resource name of the span in the following format:\n\n    projects/[PROJECT_ID]traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project.\n[SPAN_ID] is a unique identifier for a span within a trace,\nassigned when the span is created.",
                    "type": "string"
                },
                "stackTrace": {
                    "$ref": "StackTrace",
                    "description": "Stack trace captured at the start of the span."
                },
                "parentSpanId": {
                    "description": "The [SPAN_ID] of this span's parent span. If this is a root span,\nthen this field must be empty.",
                    "type": "string"
                },
                "endTime": {
                    "description": "The end time of the span. On the client side, this is the time kept by\nthe local machine where the span execution ends. On the server side, this\nis the time when the server application handler stops running.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "startTime": {
                    "description": "The start time of the span. On the client side, this is the time kept by\nthe local machine where the span execution starts. On the server side, this\nis the time when the server's application handler starts running.",
                    "format": "google-datetime",
                    "type": "string"
                },
                "displayName": {
                    "$ref": "TruncatableString",
                    "description": "A description of the span's operation (up to 128 bytes).\nStackdriver Trace displays the description in the\n{% dynamic print site_values.console_name %}.\nFor example, the display name can be a qualified method name or a file name\nand a line number where the operation is called. A best practice is to use\nthe same display name within an application and at the same call point.\nThis makes it easier to correlate spans in different traces."
                },
                "timeEvents": {
                    "$ref": "TimeEvents",
                    "description": "The included time events. There can be up to 32 annotations and 128 network\nevents per span."
                },
                "links": {
                    "$ref": "Links",
                    "description": "A maximum of 128 links are allowed per Span."
                },
                "attributes": {
                    "$ref": "Attributes",
                    "description": "A set of attributes on the span. There is a limit of 32 attributes per\nspan."
                },
                "spanId": {
                    "description": "The [SPAN_ID] portion of the span's resource name.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListTracesResponse": {
            "description": "The response message for the `ListTraces` method.",
            "id": "ListTracesResponse",
            "properties": {
                "nextPageToken": {
                    "description": "If there might be more results than those appearing in this response, then\n`next_page_token` is included.  To get the next set of results, call this\nmethod again using the value of `next_page_token` as `page_token`.",
                    "type": "string"
                },
                "traces": {
                    "description": "List of trace records returned.",
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AttributeValue": {
            "description": "The allowed types for [VALUE] in a `[KEY]:[VALUE]` attribute.",
            "id": "AttributeValue",
            "properties": {
                "intValue": {
                    "description": "A 64-bit signed integer.",
                    "format": "int64",
                    "type": "string"
                },
                "boolValue": {
                    "description": "A Boolean value represented by `true` or `false`.",
                    "type": "boolean"
                },
                "stringValue": {
                    "$ref": "TruncatableString",
                    "description": "A string up to 256 bytes long."
                }
            },
            "type": "object"
        },
        "Attributes": {
            "description": "A set of attributes, each in the format `[KEY]:[VALUE]`.",
            "id": "Attributes",
            "properties": {
                "droppedAttributesCount": {
                    "description": "The number of attributes that were discarded. Attributes can be discarded\nbecause their keys are too long or because there are too many attributes.\nIf this value is 0 then all attributes are valid.",
                    "format": "int32",
                    "type": "integer"
                },
                "attributeMap": {
                    "additionalProperties": {
                        "$ref": "AttributeValue"
                    },
                    "description": "The set of attributes. Each attribute's key can be up to 128 bytes\nlong. The value can be a string up to 256 bytes, an integer, or the\nBoolean values `true` and `false`. For example:\n\n    \"/instance_id\": \"my-instance\"\n    \"/http/user_agent\": \"\"\n    \"/http/request_bytes\": 300\n    \"abc.com/myattribute\": true",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Links": {
            "description": "A collection of links, which are references from this span to a span\nin the same or different trace.",
            "id": "Links",
            "properties": {
                "droppedLinksCount": {
                    "description": "The number of dropped links after the maximum size was enforced. If\nthis value is 0, then no links were dropped.",
                    "format": "int32",
                    "type": "integer"
                },
                "link": {
                    "description": "A collection of links.",
                    "items": {
                        "$ref": "Link"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Stackdriver Trace API",
    "version": "v2"
}