{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudbuild.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Build",
    "description": "Builds container images in the cloud.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/container-builder/docs/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudbuild:v1",
    "kind": "discovery#restDescription",
    "name": "cloudbuild",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "builds": {
                    "methods": {
                        "create": {
                            "description": "Starts a build with the specified configuration.\n\nThe long-running Operation returned by this method will include the ID of\nthe build, which can be passed to GetBuild to determine its status (e.g.,\nsuccess or failure).",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.builds.create",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds",
                            "request": {
                                "$ref": "Build"
                            },
                            "response": {
                                "$ref": "Operation"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "get": {
                            "description": "Returns information about a previously requested build.\n\nThe Build that is returned includes its status (e.g., success or failure,\nor in-progress), and timing information.",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.builds.get",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "description": "ID of the build.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds/{id}",
                            "response": {
                                "$ref": "Build"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "description": "Lists previously requested builds.\n\nPreviously requested builds may still be in-progress, or may have finished\nsuccessfully or unsuccessfully.",
                            "httpMethod": "GET",
                            "id": "cloudbuild.projects.builds.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "pageSize": {
                                    "description": "Number of results to return in the list.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "projectId": {
                                    "description": "ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "Token to provide to skip to a particular spot in the list.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds",
                            "response": {
                                "$ref": "ListBuildsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "cancel": {
                            "description": "Cancels a requested build in progress.",
                            "httpMethod": "POST",
                            "id": "cloudbuild.projects.builds.cancel",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "id": {
                                    "description": "ID of the build.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/builds/{id}:cancel",
                            "request": {
                                "$ref": "CancelBuildRequest"
                            },
                            "response": {
                                "$ref": "Build"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                    "httpMethod": "GET",
                    "id": "cloudbuild.operations.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The name of the operation resource.",
                            "location": "path",
                            "pattern": "^operations/.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding below allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`.",
                    "httpMethod": "GET",
                    "id": "cloudbuild.operations.list",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "pageSize": {
                            "description": "The standard list page size.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "filter": {
                            "description": "The standard list filter.",
                            "location": "query",
                            "type": "string"
                        },
                        "name": {
                            "description": "The name of the operation collection.",
                            "location": "path",
                            "pattern": "^operations$",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The standard list page token.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "ListOperationsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "revision": "20160804",
    "rootUrl": "https://cloudbuild.googleapis.com/",
    "schemas": {
        "Status": {
            "description": "The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` which can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting purpose.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
            "id": "Status",
            "properties": {
                "code": {
                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                    "format": "int32",
                    "type": "integer"
                },
                "details": {
                    "description": "A list of messages that carry the error details.  There will be a\ncommon set of message types for APIs to use.",
                    "items": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL.",
                            "type": "any"
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "message": {
                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildOperationMetadata": {
            "description": "Metadata for build operations.",
            "id": "BuildOperationMetadata",
            "properties": {
                "build": {
                    "$ref": "Build",
                    "description": "The build that the operation is tracking."
                }
            },
            "type": "object"
        },
        "Source": {
            "description": "Source describes the location of the source in a supported storage\nservice.",
            "id": "Source",
            "properties": {
                "storageSource": {
                    "$ref": "StorageSource",
                    "description": "If provided, get the source from this location in in Google Cloud\nStorage."
                },
                "repoSource": {
                    "$ref": "RepoSource",
                    "description": "If provided, get source from this location in a Cloud Repo."
                }
            },
            "type": "object"
        },
        "SourceProvenance": {
            "description": "Provenance of the source. Ways to find the original source, or verify that\nsome source was used for this build.",
            "id": "SourceProvenance",
            "properties": {
                "resolvedRepoSource": {
                    "$ref": "RepoSource",
                    "description": "A copy of the build's source.repo_source, if exists, with any\nrevisions resolved."
                },
                "resolvedStorageSource": {
                    "$ref": "StorageSource",
                    "description": "A copy of the build's source.storage_source, if exists, with any\ngenerations resolved."
                },
                "fileHashes": {
                    "additionalProperties": {
                        "$ref": "FileHashes"
                    },
                    "description": "Hash(es) of the build source, which can be used to verify that the original\nsource integrity was maintained in the build. Note that FileHashes will\nonly be populated if BuildOptions has requested a SourceProvenanceHash.\n\nThe keys to this map are file paths used as build source and the values\ncontain the hash values for those files.\n\nIf the build source came in a single package such as a gzipped tarfile\n(.tar.gz), the FileHash will be for the single path to that file.\n@OutputOnly",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
            "id": "Operation",
            "properties": {
                "error": {
                    "$ref": "Status",
                    "description": "The error result of the operation in case of failure."
                },
                "done": {
                    "description": "If the value is `false`, it means the operation is still in progress.\nIf true, the operation is completed, and either `error` or `response` is\navailable.",
                    "type": "boolean"
                },
                "metadata": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                    "type": "object"
                },
                "response": {
                    "additionalProperties": {
                        "description": "Properties of the object. Contains field @type with type URL.",
                        "type": "any"
                    },
                    "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                    "type": "object"
                },
                "name": {
                    "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuiltImage": {
            "description": "BuiltImage describes an image built by the pipeline.",
            "id": "BuiltImage",
            "properties": {
                "digest": {
                    "description": "Docker Registry 2.0 digest.",
                    "type": "string"
                },
                "name": {
                    "description": "Name used to push the container image to Google Container Registry, as\npresented to `docker push`.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Hash": {
            "description": "Container message for hash values.",
            "id": "Hash",
            "properties": {
                "value": {
                    "description": "The hash value.",
                    "format": "byte",
                    "type": "string"
                },
                "type": {
                    "description": "The type of hash that was performed.",
                    "enum": [
                        "NONE",
                        "SHA256"
                    ],
                    "enumDescriptions": [
                        "No hash requested.",
                        "Use a sha256 hash."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "StorageSource": {
            "description": "StorageSource describes the location of the source in an archive file in\nGoogle Cloud Storage.",
            "id": "StorageSource",
            "properties": {
                "bucket": {
                    "description": "Google Cloud Storage bucket containing source (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).",
                    "type": "string"
                },
                "generation": {
                    "description": "Google Cloud Storage generation for the object. If the generation is\nomitted, the latest generation will be used.",
                    "format": "int64",
                    "type": "string"
                },
                "object": {
                    "description": "Google Cloud Storage object containing source.\n\nThis object must be a gzipped archive file (.tar.gz) containing source to\nbuild.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Results": {
            "description": "Results describes the artifacts created by the build pipeline.",
            "id": "Results",
            "properties": {
                "images": {
                    "description": "Images that were built as a part of the build.",
                    "items": {
                        "$ref": "BuiltImage"
                    },
                    "type": "array"
                },
                "buildStepImages": {
                    "description": "List of build step digests, in order corresponding to build step indices.\nnext id = 4",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Build": {
            "description": "A build resource in the Container Builder API.\n\nAt a high level, a Build describes where to find source code, how to build\nit (for example, the builder image to run on the source), and what tag to\napply to the built image when it is pushed to Google Container Registry.",
            "id": "Build",
            "properties": {
                "id": {
                    "description": "Unique identifier of the build.\n@OutputOnly",
                    "type": "string"
                },
                "sourceProvenance": {
                    "$ref": "SourceProvenance",
                    "description": "A permanent fixed identifier for source.\n@OutputOnly"
                },
                "results": {
                    "$ref": "Results",
                    "description": "Results of the build.\n@OutputOnly"
                },
                "status": {
                    "description": "Status of the build.\n@OutputOnly",
                    "enum": [
                        "STATUS_UNKNOWN",
                        "QUEUING",
                        "QUEUED",
                        "WORKING",
                        "SUCCESS",
                        "FAILURE",
                        "INTERNAL_ERROR",
                        "TIMEOUT",
                        "CANCELLED"
                    ],
                    "enumDescriptions": [
                        "Status of the build is unknown.",
                        "Build has been received and is being queued.",
                        "Build is queued; work has not yet begun.",
                        "Build is being executed.",
                        "Build finished successfully.",
                        "Build failed to complete successfully.",
                        "Build failed due to an internal cause.",
                        "Build took longer than was allowed.",
                        "Build was canceled by a user."
                    ],
                    "type": "string"
                },
                "options": {
                    "$ref": "BuildOptions",
                    "description": "Special options for this build."
                },
                "finishTime": {
                    "description": "Time at which execution of the build was finished.\n@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "timeout": {
                    "description": "Amount of time that this build should be allowed to run, to second\ngranularity. If this amount of time elapses, work on the build will cease\nand the build status will be TIMEOUT.\n\nDefault time is ten minutes.",
                    "format": "google-duration",
                    "type": "string"
                },
                "steps": {
                    "description": "Describes the operations to be performed on the workspace.",
                    "items": {
                        "$ref": "BuildStep"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "Source",
                    "description": "Describes where to find the source files to build."
                },
                "createTime": {
                    "description": "Time at which the build was created.\n@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "statusDetail": {
                    "description": "Customer-readable message about the current status.\n@OutputOnly",
                    "type": "string"
                },
                "images": {
                    "description": "List of images expected to be built and pushed to Google Container\nRegistry. If an image is listed here and the image is not produced by\none of the build steps, the build will fail. Any images present when\nthe build steps are complete will be pushed to Container Registry.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "startTime": {
                    "description": "Time at which execution of the build was started.\n@OutputOnly",
                    "format": "google-datetime",
                    "type": "string"
                },
                "logsBucket": {
                    "description": "Google Cloud Storage bucket where logs should be written (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\nLogs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.",
                    "type": "string"
                },
                "projectId": {
                    "description": "ID of the project.\n@OutputOnly.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CancelBuildRequest": {
            "description": "Request to cancel an ongoing build.",
            "id": "CancelBuildRequest",
            "properties": {},
            "type": "object"
        },
        "FileHashes": {
            "description": "Container message for hashes of byte content of files, used in\nSourceProvenance messages to verify integrity of source input to the build.",
            "id": "FileHashes",
            "properties": {
                "fileHash": {
                    "description": "Collection of file hashes.",
                    "items": {
                        "$ref": "Hash"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "The response message for Operations.ListOperations.",
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "The standard List next-page token.",
                    "type": "string"
                },
                "operations": {
                    "description": "A list of operations that matches the specified filter in the request.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "RepoSource": {
            "description": "RepoSource describes the location of the source in a Google Cloud Source\nRepository.",
            "id": "RepoSource",
            "properties": {
                "repoName": {
                    "description": "Name of the repo. If omitted, the name \"default\" is assumed.",
                    "type": "string"
                },
                "tagName": {
                    "description": "Name of the tag to build.",
                    "type": "string"
                },
                "projectId": {
                    "description": "ID of the project that owns the repo. If omitted, the project ID requesting\nthe build is assumed.",
                    "type": "string"
                },
                "branchName": {
                    "description": "Name of the branch to build.",
                    "type": "string"
                },
                "commitSha": {
                    "description": "Explicit commit SHA to build.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildStep": {
            "description": "BuildStep describes a step to perform in the build pipeline.",
            "id": "BuildStep",
            "properties": {
                "id": {
                    "description": "Optional unique identifier for this build step, used in wait_for to\nreference this build step as a dependency.",
                    "type": "string"
                },
                "env": {
                    "description": "Additional environment variables to set for this step's container.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "waitFor": {
                    "description": "The ID(s) of the step(s) that this build step depends on.\nThis build step will not start until all the build steps in wait_for\nhave completed successfully. If wait_for is empty, this build step will\nstart when all previous build steps in the Build.Steps list have completed\nsuccessfully.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "args": {
                    "description": "Command-line arguments to use when running this step's container.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "description": "Name of the container image to use for creating this stage in the\npipeline, as presented to `docker pull`.",
                    "type": "string"
                },
                "dir": {
                    "description": "Working directory (relative to project source root) to use when running\nthis operation's container.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BuildOptions": {
            "description": "Optional arguments to enable specific features of builds.",
            "id": "BuildOptions",
            "properties": {
                "sourceProvenanceHash": {
                    "description": "Requested hash for SourceProvenance.",
                    "enumDescriptions": [
                        "No hash requested.",
                        "Use a sha256 hash."
                    ],
                    "items": {
                        "enum": [
                            "NONE",
                            "SHA256"
                        ],
                        "type": "string"
                    },
                    "type": "array"
                },
                "requestedVerifyOption": {
                    "description": "Options for a verifiable build with details uploaded to the Analysis API.",
                    "enum": [
                        "NOT_VERIFIED",
                        "VERIFIED"
                    ],
                    "enumDescriptions": [
                        "Not a verifiable build. (default)",
                        "Verified build."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBuildsResponse": {
            "description": "Response including listed builds.",
            "id": "ListBuildsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "Token to receive the next page of results.",
                    "type": "string"
                },
                "builds": {
                    "description": "Builds will be sorted by create_time, descending.",
                    "items": {
                        "$ref": "Build"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Container Builder API",
    "version": "v1"
}