{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/trace.append": {
                    "description": "Write Trace data for a project or application"
                },
                "https://www.googleapis.com/auth/trace.readonly": {
                    "description": "Read Trace data for a project or application"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudtrace.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Cloud Trace",
    "description": "Send and retrieve trace data from Google Cloud Trace. Data is generated and available by default for all App Engine applications. Data from other applications can be written to Cloud Trace for display, reporting, and analysis.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/tools/cloud-trace",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/avS4leRd3oaImhwLi14P2pt74p0\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudtrace:v1",
    "kind": "discovery#restDescription",
    "name": "cloudtrace",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "methods": {
                "patchTraces": {
                    "description": "Sends new traces to Stackdriver Trace or updates existing traces. If the ID of a trace that you send matches that of an existing trace, any fields in the existing trace and its spans are overwritten by the provided values, and any new fields provided are merged with the existing trace data. If the ID does not match, a new trace is created.",
                    "httpMethod": "PATCH",
                    "id": "cloudtrace.projects.patchTraces",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "projectId": {
                            "description": "ID of the Cloud project where the trace data is stored.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/projects/{projectId}/traces",
                    "request": {
                        "$ref": "Traces"
                    },
                    "response": {
                        "$ref": "Empty"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/trace.append"
                    ]
                }
            },
            "resources": {
                "traces": {
                    "methods": {
                        "list": {
                            "description": "Returns of a list of traces that match the specified filter conditions.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "ID of the Cloud project where the trace data is stored.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "view": {
                                    "description": "Type of data returned for traces in the list. Optional. Default is `MINIMAL`.",
                                    "enum": [
                                        "VIEW_TYPE_UNSPECIFIED",
                                        "MINIMAL",
                                        "ROOTSPAN",
                                        "COMPLETE"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Maximum number of traces to return. If not specified or <= 0, the implementation selects a reasonable value. The implementation may return fewer traces than the requested page size. Optional.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "Token identifying the page of results to return. If provided, use the value of the `next_page_token` field from a previous request. Optional.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "startTime": {
                                    "description": "End of the time interval (inclusive) during which the trace data was collected from the application.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "endTime": {
                                    "description": "Start of the time interval (inclusive) during which the trace data was collected from the application.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "filter": {
                                    "description": "An optional filter for the request.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "orderBy": {
                                    "description": "Field used to sort the returned traces. Optional. Can be one of the following: * `trace_id` * `name` (`name` field of root span in the trace) * `duration` (difference between `end_time` and `start_time` fields of the root span) * `start` (`start_time` field of the root span) Descending order can be specified by appending `desc` to the sort field (for example, `name desc`). Only one sort field is permitted.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/traces",
                            "response": {
                                "$ref": "ListTracesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/trace.readonly"
                            ]
                        },
                        "get": {
                            "description": "Gets a single trace by its ID.",
                            "httpMethod": "GET",
                            "id": "cloudtrace.projects.traces.get",
                            "parameterOrder": [
                                "projectId",
                                "traceId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "ID of the Cloud project where the trace data is stored.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "traceId": {
                                    "description": "ID of the trace to return.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/traces/{traceId}",
                            "response": {
                                "$ref": "Trace"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/trace.readonly"
                            ]
                        }
                    }
                }
            }
        }
    },
    "revision": "20160518",
    "rootUrl": "https://cloudtrace.googleapis.com/",
    "schemas": {
        "ListTracesResponse": {
            "description": "The response message for the `ListTraces` method.",
            "id": "ListTracesResponse",
            "properties": {
                "traces": {
                    "description": "List of trace records returned.",
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "If defined, indicates that there are more traces that match the request and that this value should be passed to the next request to continue retrieving additional traces.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Trace": {
            "description": "A trace describes how long it takes for an application to perform an operation. It consists of a set of spans, each of which represent a single timed event within the operation.",
            "id": "Trace",
            "properties": {
                "projectId": {
                    "description": "Project ID of the Cloud project where the trace data is stored.",
                    "type": "string"
                },
                "traceId": {
                    "description": "Globally unique identifier for the trace. This identifier is a 128-bit numeric value formatted as a 32-byte hex string.",
                    "type": "string"
                },
                "spans": {
                    "description": "Collection of spans in the trace.",
                    "items": {
                        "$ref": "TraceSpan"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TraceSpan": {
            "description": "A span represents a single timed event within a trace. Spans can be nested and form a trace tree. Often, a trace contains a root span that describes the end-to-end latency of an operation and, optionally, one or more subspans for its suboperations. Spans do not need to be contiguous. There may be gaps between spans in a trace.",
            "id": "TraceSpan",
            "properties": {
                "spanId": {
                    "description": "Identifier for the span. This identifier must be unique within a trace.",
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "description": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `RPC_CLIENT` and `RPC_SERVER` to identify queueing latency associated with the span.",
                    "enum": [
                        "SPAN_KIND_UNSPECIFIED",
                        "RPC_SERVER",
                        "RPC_CLIENT"
                    ],
                    "type": "string"
                },
                "name": {
                    "description": "Name of the trace. The trace name is sanitized and displayed in the Stackdriver Trace tool in the {% dynamic print site_values.console_name %}. The name may be a method name or some other per-call site name. For the same executable and the same call point, a best practice is to use a consistent name, which makes it easier to correlate cross-trace spans.",
                    "type": "string"
                },
                "startTime": {
                    "description": "Start time of the span in nanoseconds from the UNIX epoch.",
                    "type": "string"
                },
                "endTime": {
                    "description": "End time of the span in nanoseconds from the UNIX epoch.",
                    "type": "string"
                },
                "parentSpanId": {
                    "description": "ID of the parent span, if any. Optional.",
                    "format": "uint64",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Collection of labels associated with the span.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Traces": {
            "description": "List of new or updated traces.",
            "id": "Traces",
            "properties": {
                "traces": {
                    "description": "List of traces.",
                    "items": {
                        "$ref": "Trace"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Trace API",
    "version": "v1"
}