{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://cloudbilling.googleapis.com/",
    "batchPath": "batch",
    "description": "Retrieves Google Developers Console billing accounts and associates them with projects.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/billing/",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/M2VzqGfwqR0FviWkPggfCzE5zZU\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "cloudbilling:v1",
    "kind": "discovery#restDescription",
    "name": "cloudbilling",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "billingAccounts": {
            "methods": {
                "get": {
                    "description": "Gets information about a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).",
                    "httpMethod": "GET",
                    "id": "cloudbilling.billingAccounts.get",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The resource name of the billing account to retrieve. For example, `billingAccounts/012345-567890-ABCDEF`.",
                            "location": "path",
                            "pattern": "^billingAccounts/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}",
                    "response": {
                        "$ref": "BillingAccount"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "list": {
                    "description": "Lists the billing accounts that the current authenticated user [owns](https://support.google.com/cloud/answer/4430947).",
                    "httpMethod": "GET",
                    "id": "cloudbilling.billingAccounts.list",
                    "parameters": {
                        "pageSize": {
                            "description": "Requested page size. The maximum page size is 100; this is also the default.",
                            "format": "int32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "A token identifying a page of results to return. This should be a `next_page_token` value returned from a previous `ListBillingAccounts` call. If unspecified, the first page of results is returned.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "v1/billingAccounts",
                    "response": {
                        "$ref": "ListBillingAccountsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            },
            "resources": {
                "projects": {
                    "methods": {
                        "list": {
                            "description": "Lists the projects associated with a billing account. The current authenticated user must be an [owner of the billing account](https://support.google.com/cloud/answer/4430947).",
                            "httpMethod": "GET",
                            "id": "cloudbilling.billingAccounts.projects.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "The resource name of the billing account associated with the projects that you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.",
                                    "location": "path",
                                    "pattern": "^billingAccounts/[^/]*$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "Requested page size. The maximum page size is 100; this is also the default.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous `ListProjectBillingInfo` call. If unspecified, the first page of results is returned.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v1/{+name}/projects",
                            "response": {
                                "$ref": "ListProjectBillingInfoResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "methods": {
                "getBillingInfo": {
                    "description": "Gets the billing information for a project. The current authenticated user must have [permission to view the project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ).",
                    "httpMethod": "GET",
                    "id": "cloudbilling.projects.getBillingInfo",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The resource name of the project for which billing information is retrieved. For example, `projects/tokyo-rain-123`.",
                            "location": "path",
                            "pattern": "^projects/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/billingInfo",
                    "response": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                },
                "updateBillingInfo": {
                    "description": "Sets or updates the billing account associated with a project. You specify the new billing account by setting the `billing_account_name` in the `ProjectBillingInfo` resource to the resource name of a billing account. Associating a project with an open billing account enables billing on the project and allows charges for resource usage. If the project already had a billing account, this method changes the billing account used for resource usage charges. *Note:* Incurred charges that have not yet been reported in the transaction history of the Google Developers Console may be billed to the new billing account, even if the charge occurred before the new billing account was assigned to the project. The current authenticated user must have ownership privileges for both the [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo ) and the [billing account](https://support.google.com/cloud/answer/4430947). You can disable billing on the project by setting the `billing_account_name` field to empty. This action disassociates the current billing account from the project. Any billable activity of your in-use services will stop, and your application could stop functioning as expected. Any unbilled charges to date will be billed to the previously associated account. The current authenticated user must be either an owner of the project or an owner of the billing account for the project. Note that associating a project with a *closed* billing account will have much the same effect as disabling billing on the project: any paid resources used by the project will be shut down. Thus, unless you wish to disable billing, you should always call this method with the name of an *open* billing account.",
                    "httpMethod": "PUT",
                    "id": "cloudbilling.projects.updateBillingInfo",
                    "parameterOrder": [
                        "name"
                    ],
                    "parameters": {
                        "name": {
                            "description": "The resource name of the project associated with the billing information that you want to update. For example, `projects/tokyo-rain-123`.",
                            "location": "path",
                            "pattern": "^projects/[^/]*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/{+name}/billingInfo",
                    "request": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "response": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                    ]
                }
            }
        }
    },
    "revision": "20151222",
    "rootUrl": "https://cloudbilling.googleapis.com/",
    "schemas": {
        "BillingAccount": {
            "description": "A billing account in [Google Developers Console](https://console.developers.google.com/). You can assign a billing account to one or more projects.",
            "id": "BillingAccount",
            "properties": {
                "name": {
                    "description": "The resource name of the billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF` would be the resource name for billing account `012345-567890-ABCDEF`.",
                    "type": "string"
                },
                "open": {
                    "description": "True if the billing account is open, and will therefore be charged for any usage on associated projects. False if the billing account is closed, and therefore projects associated with it will be unable to use paid services.",
                    "type": "boolean"
                },
                "displayName": {
                    "description": "The display name given to the billing account, such as `My Billing Account`. This name is displayed in the Google Developers Console.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListBillingAccountsResponse": {
            "description": "Response message for `ListBillingAccounts`.",
            "id": "ListBillingAccountsResponse",
            "properties": {
                "billingAccounts": {
                    "description": "A list of billing accounts.",
                    "items": {
                        "$ref": "BillingAccount"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListBillingAccounts` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListProjectBillingInfoResponse": {
            "description": "Request message for `ListProjectBillingInfoResponse`.",
            "id": "ListProjectBillingInfoResponse",
            "properties": {
                "projectBillingInfo": {
                    "description": "A list of `ProjectBillingInfo` resources representing the projects associated with the billing account.",
                    "items": {
                        "$ref": "ProjectBillingInfo"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token to retrieve the next page of results. To retrieve the next page, call `ListProjectBillingInfo` again with the `page_token` field set to this value. This field is empty if there are no more results to retrieve.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ProjectBillingInfo": {
            "description": "Encapsulation of billing information for a Developers Console project. A project has at most one associated billing account at a time (but a billing account can be assigned to multiple projects).",
            "id": "ProjectBillingInfo",
            "properties": {
                "name": {
                    "description": "The resource name for the `ProjectBillingInfo`; has the form `projects/{project_id}/billingInfo`. For example, the resource name for the billing information for project `tokyo-rain-123` would be `projects/tokyo-rain-123/billingInfo`. This field is read-only.",
                    "type": "string"
                },
                "projectId": {
                    "description": "The ID of the project that this `ProjectBillingInfo` represents, such as `tokyo-rain-123`. This is a convenience field so that you don't need to parse the `name` field to obtain a project ID. This field is read-only.",
                    "type": "string"
                },
                "billingAccountName": {
                    "description": "The resource name of the billing account associated with the project, if any. For example, `billingAccounts/012345-567890-ABCDEF`.",
                    "type": "string"
                },
                "billingEnabled": {
                    "description": "True if the project is associated with an open billing account, to which usage on the project is charged. False if the project is associated with a closed billing account, or no billing account at all, and therefore cannot use paid services. This field is read-only.",
                    "type": "boolean"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Billing API",
    "version": "v1"
}