{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/compute": {
                    "description": "View and manage your Google Compute Engine resources"
                },
                "https://www.googleapis.com/auth/compute.readonly": {
                    "description": "View your Google Compute Engine resources"
                },
                "https://www.googleapis.com/auth/devstorage.full_control": {
                    "description": "Manage your data and permissions in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/devstorage.read_only": {
                    "description": "View your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/devstorage.read_write": {
                    "description": "Manage your data in Google Cloud Storage"
                }
            }
        }
    },
    "basePath": "/compute/v1/projects/",
    "baseUrl": "https://www.googleapis.com/compute/v1/projects/",
    "batchPath": "batch",
    "description": "Creates and runs virtual machines on Google Cloud Platform.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/3m-13B8ub9h95qz4KtmGUpxE3zQ\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
    },
    "id": "compute:v1",
    "kind": "discovery#restDescription",
    "name": "compute",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "addresses": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves an aggregated list of addresses.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/addresses",
                    "response": {
                        "$ref": "AddressAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified address resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.addresses.delete",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified address resource.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.get",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Address"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates an address resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.addresses.insert",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "request": {
                        "$ref": "Address"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of addresses contained within the specified region.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.list",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "response": {
                        "$ref": "AddressList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "autoscalers": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves an aggregated list of autoscalers.",
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/autoscalers",
                    "response": {
                        "$ref": "AutoscalerAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified autoscaler.",
                    "httpMethod": "DELETE",
                    "id": "compute.autoscalers.delete",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "autoscaler"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "description": "Name of the autoscaler to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers/{autoscaler}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified autoscaler resource. Get a list of available autoscalers by making a list() request.",
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "autoscaler"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "description": "Name of the autoscaler to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers/{autoscaler}",
                    "response": {
                        "$ref": "Autoscaler"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates an autoscaler in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.autoscalers.insert",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of autoscalers contained within the specified zone.",
                    "httpMethod": "GET",
                    "id": "compute.autoscalers.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "response": {
                        "$ref": "AutoscalerList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates an autoscaler in the specified project using the data included in the request. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.autoscalers.patch",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "autoscaler"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "description": "Name of the autoscaler to update.",
                            "location": "query",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "description": "Updates an autoscaler in the specified project using the data included in the request.",
                    "httpMethod": "PUT",
                    "id": "compute.autoscalers.update",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "autoscaler": {
                            "description": "Name of the autoscaler to update.",
                            "location": "query",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/autoscalers",
                    "request": {
                        "$ref": "Autoscaler"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "backendServices": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified BackendService resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.backendServices.delete",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified BackendService resource. Get a list of available backend services by making a list() request.",
                    "httpMethod": "GET",
                    "id": "compute.backendServices.get",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "BackendService"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "getHealth": {
                    "description": "Gets the most recent health check results for this BackendService.",
                    "httpMethod": "POST",
                    "id": "compute.backendServices.getHealth",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to which the queried instance belongs.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/getHealth",
                    "request": {
                        "$ref": "ResourceGroupReference"
                    },
                    "response": {
                        "$ref": "BackendServiceGroupHealth"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a BackendService resource in the specified project using the data included in the request. There are several restrictions and guidelines to keep in mind when creating a backend service. Read  Restrictions and Guidelines for more information.",
                    "httpMethod": "POST",
                    "id": "compute.backendServices.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of BackendService resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.backendServices.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "response": {
                        "$ref": "BackendServiceList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates the entire content of the BackendService resource. There are several restrictions and guidelines to keep in mind when updating a backend service. Read  Restrictions and Guidelines for more information. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.backendServices.patch",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "description": "Updates the entire content of the BackendService resource. There are several restrictions and guidelines to keep in mind when updating a backend service. Read  Restrictions and Guidelines for more information.",
                    "httpMethod": "PUT",
                    "id": "compute.backendServices.update",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "diskTypes": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves an aggregated list of disk types.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/diskTypes",
                    "response": {
                        "$ref": "DiskTypeAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "get": {
                    "description": "Returns the specified disk type. Get a list of available disk types by making a list() request.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "diskType"
                    ],
                    "parameters": {
                        "diskType": {
                            "description": "Name of the disk type to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes/{diskType}",
                    "response": {
                        "$ref": "DiskType"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of disk types available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes",
                    "response": {
                        "$ref": "DiskTypeList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "disks": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves an aggregated list of persistent disks.",
                    "httpMethod": "GET",
                    "id": "compute.disks.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/disks",
                    "response": {
                        "$ref": "DiskAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "createSnapshot": {
                    "description": "Creates a snapshot of a specified persistent disk.",
                    "httpMethod": "POST",
                    "id": "compute.disks.createSnapshot",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk to snapshot.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/createSnapshot",
                    "request": {
                        "$ref": "Snapshot"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified persistent disk. Deleting a disk removes its data permanently and is irreversible. However, deleting a disk does not delete any snapshots previously made from the disk. You must separately delete snapshots.",
                    "httpMethod": "DELETE",
                    "id": "compute.disks.delete",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns a specified persistent disk. Get a list of available persistent disks by making a list() request.",
                    "httpMethod": "GET",
                    "id": "compute.disks.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Disk"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a persistent disk in the specified project using the data in the request. You can create a disk with a sourceImage, a sourceSnapshot, or create an empty 500 GB data disk by omitting all properties. You can also create a disk that is larger than the default size by specifying the sizeGb property.",
                    "httpMethod": "POST",
                    "id": "compute.disks.insert",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "sourceImage": {
                            "description": "Optional. Source image to restore onto a disk.",
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "request": {
                        "$ref": "Disk"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves a list of persistent disks contained within the specified zone.",
                    "httpMethod": "GET",
                    "id": "compute.disks.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "response": {
                        "$ref": "DiskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "resize": {
                    "description": "Resizes the specified persistent disk.",
                    "httpMethod": "POST",
                    "id": "compute.disks.resize",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "The name of the persistent disk.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "The name of the zone for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/resize",
                    "request": {
                        "$ref": "DisksResizeRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "firewalls": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified firewall.",
                    "httpMethod": "DELETE",
                    "id": "compute.firewalls.delete",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall rule to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified firewall.",
                    "httpMethod": "GET",
                    "id": "compute.firewalls.get",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall rule to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "response": {
                        "$ref": "Firewall"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a firewall rule in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.firewalls.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of firewall rules available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.firewalls.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls",
                    "response": {
                        "$ref": "FirewallList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates the specified firewall rule with the data included in the request. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.firewalls.patch",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall rule to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "description": "Updates the specified firewall rule with the data included in the request.",
                    "httpMethod": "PUT",
                    "id": "compute.firewalls.update",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall rule to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "forwardingRules": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves an aggregated list of forwarding rules.",
                    "httpMethod": "GET",
                    "id": "compute.forwardingRules.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: When filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/forwardingRules",
                    "response": {
                        "$ref": "ForwardingRuleAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified ForwardingRule resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.forwardingRules.delete",
                    "parameterOrder": [
                        "project",
                        "region",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified ForwardingRule resource.",
                    "httpMethod": "GET",
                    "id": "compute.forwardingRules.get",
                    "parameterOrder": [
                        "project",
                        "region",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "ForwardingRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
[...]
