{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/compute": {
                    "description": "View and manage your Google Compute Engine resources"
                },
                "https://www.googleapis.com/auth/compute.readonly": {
                    "description": "View your Google Compute Engine resources"
                },
                "https://www.googleapis.com/auth/devstorage.full_control": {
                    "description": "Manage your data and permissions in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/devstorage.read_only": {
                    "description": "View your data in Google Cloud Storage"
                },
                "https://www.googleapis.com/auth/devstorage.read_write": {
                    "description": "Manage your data in Google Cloud Storage"
                }
            }
        }
    },
    "basePath": "/compute/v1/projects/",
    "baseUrl": "https://www.googleapis.com/compute/v1/projects/",
    "batchPath": "batch",
    "description": "API for the Google Compute Engine service.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/compute/docs/reference/latest/",
    "etag": "\"l66ggWbucbkBw9Lpos72oziyefE/qp3DHGvWPpREzEdWk7WwxnpgC9w\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
    },
    "id": "compute:v1",
    "kind": "discovery#restDescription",
    "name": "compute",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "addresses": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves the list of addresses grouped by scope.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/addresses",
                    "response": {
                        "$ref": "AddressAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified address resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.addresses.delete",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified address resource.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.get",
                    "parameterOrder": [
                        "project",
                        "region",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses/{address}",
                    "response": {
                        "$ref": "Address"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates an address resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.addresses.insert",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "request": {
                        "$ref": "Address"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of address resources contained within the specified region.",
                    "httpMethod": "GET",
                    "id": "compute.addresses.list",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/addresses",
                    "response": {
                        "$ref": "AddressList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "backendServices": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified BackendService resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.backendServices.delete",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified BackendService resource.",
                    "httpMethod": "GET",
                    "id": "compute.backendServices.get",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "response": {
                        "$ref": "BackendService"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "getHealth": {
                    "description": "Gets the most recent health check results for this BackendService.",
                    "httpMethod": "POST",
                    "id": "compute.backendServices.getHealth",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to which the queried instance belongs.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}/getHealth",
                    "request": {
                        "$ref": "ResourceGroupReference"
                    },
                    "response": {
                        "$ref": "BackendServiceGroupHealth"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a BackendService resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.backendServices.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of BackendService resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.backendServices.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices",
                    "response": {
                        "$ref": "BackendServiceList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Update the entire content of the BackendService resource. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.backendServices.patch",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "description": "Update the entire content of the BackendService resource.",
                    "httpMethod": "PUT",
                    "id": "compute.backendServices.update",
                    "parameterOrder": [
                        "project",
                        "backendService"
                    ],
                    "parameters": {
                        "backendService": {
                            "description": "Name of the BackendService resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/backendServices/{backendService}",
                    "request": {
                        "$ref": "BackendService"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "diskTypes": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves the list of disk type resources grouped by scope.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/diskTypes",
                    "response": {
                        "$ref": "DiskTypeAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "get": {
                    "description": "Returns the specified disk type resource.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "diskType"
                    ],
                    "parameters": {
                        "diskType": {
                            "description": "Name of the disk type resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes/{diskType}",
                    "response": {
                        "$ref": "DiskType"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of disk type resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.diskTypes.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/diskTypes",
                    "response": {
                        "$ref": "DiskTypeList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "disks": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves the list of disks grouped by scope.",
                    "httpMethod": "GET",
                    "id": "compute.disks.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/disks",
                    "response": {
                        "$ref": "DiskAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "createSnapshot": {
                    "httpMethod": "POST",
                    "id": "compute.disks.createSnapshot",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk resource to snapshot.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}/createSnapshot",
                    "request": {
                        "$ref": "Snapshot"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified persistent disk resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.disks.delete",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified persistent disk resource.",
                    "httpMethod": "GET",
                    "id": "compute.disks.get",
                    "parameterOrder": [
                        "project",
                        "zone",
                        "disk"
                    ],
                    "parameters": {
                        "disk": {
                            "description": "Name of the persistent disk resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks/{disk}",
                    "response": {
                        "$ref": "Disk"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a persistent disk resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.disks.insert",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "sourceImage": {
                            "description": "Optional. Source image to restore onto a disk.",
                            "location": "query",
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "request": {
                        "$ref": "Disk"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of persistent disk resources contained within the specified zone.",
                    "httpMethod": "GET",
                    "id": "compute.disks.list",
                    "parameterOrder": [
                        "project",
                        "zone"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "zone": {
                            "description": "Name of the zone scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/zones/{zone}/disks",
                    "response": {
                        "$ref": "DiskList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "firewalls": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified firewall resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.firewalls.delete",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified firewall resource.",
                    "httpMethod": "GET",
                    "id": "compute.firewalls.get",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "response": {
                        "$ref": "Firewall"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a firewall resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.firewalls.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of firewall resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.firewalls.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls",
                    "response": {
                        "$ref": "FirewallList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates the specified firewall resource with the data included in the request. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.firewalls.patch",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "update": {
                    "description": "Updates the specified firewall resource with the data included in the request.",
                    "httpMethod": "PUT",
                    "id": "compute.firewalls.update",
                    "parameterOrder": [
                        "project",
                        "firewall"
                    ],
                    "parameters": {
                        "firewall": {
                            "description": "Name of the firewall resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/firewalls/{firewall}",
                    "request": {
                        "$ref": "Firewall"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "forwardingRules": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves the list of forwarding rules grouped by scope.",
                    "httpMethod": "GET",
                    "id": "compute.forwardingRules.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/forwardingRules",
                    "response": {
                        "$ref": "ForwardingRuleAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified ForwardingRule resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.forwardingRules.delete",
                    "parameterOrder": [
                        "project",
                        "region",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified ForwardingRule resource.",
                    "httpMethod": "GET",
                    "id": "compute.forwardingRules.get",
                    "parameterOrder": [
                        "project",
                        "region",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "ForwardingRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.forwardingRules.insert",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules",
                    "request": {
                        "$ref": "ForwardingRule"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of ForwardingRule resources available to the specified project and region.",
                    "httpMethod": "GET",
                    "id": "compute.forwardingRules.list",
                    "parameterOrder": [
                        "project",
                        "region"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules",
                    "response": {
                        "$ref": "ForwardingRuleList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "setTarget": {
                    "description": "Changes target url for forwarding rule.",
                    "httpMethod": "POST",
                    "id": "compute.forwardingRules.setTarget",
                    "parameterOrder": [
                        "project",
                        "region",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource in which target is to be set.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "region": {
                            "description": "Name of the region scoping this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/regions/{region}/forwardingRules/{forwardingRule}/setTarget",
                    "request": {
                        "$ref": "TargetReference"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "globalAddresses": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified address resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.globalAddresses.delete",
                    "parameterOrder": [
                        "project",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/addresses/{address}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified address resource.",
                    "httpMethod": "GET",
                    "id": "compute.globalAddresses.get",
                    "parameterOrder": [
                        "project",
                        "address"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Name of the address resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/addresses/{address}",
                    "response": {
                        "$ref": "Address"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates an address resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.globalAddresses.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/addresses",
                    "request": {
                        "$ref": "Address"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of global address resources.",
                    "httpMethod": "GET",
                    "id": "compute.globalAddresses.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/addresses",
                    "response": {
                        "$ref": "AddressList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "globalForwardingRules": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified ForwardingRule resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.globalForwardingRules.delete",
                    "parameterOrder": [
                        "project",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified ForwardingRule resource.",
                    "httpMethod": "GET",
                    "id": "compute.globalForwardingRules.get",
                    "parameterOrder": [
                        "project",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/forwardingRules/{forwardingRule}",
                    "response": {
                        "$ref": "ForwardingRule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.globalForwardingRules.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/forwardingRules",
                    "request": {
                        "$ref": "ForwardingRule"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of ForwardingRule resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.globalForwardingRules.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/forwardingRules",
                    "response": {
                        "$ref": "ForwardingRuleList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "setTarget": {
                    "description": "Changes target url for forwarding rule.",
                    "httpMethod": "POST",
                    "id": "compute.globalForwardingRules.setTarget",
                    "parameterOrder": [
                        "project",
                        "forwardingRule"
                    ],
                    "parameters": {
                        "forwardingRule": {
                            "description": "Name of the ForwardingRule resource in which target is to be set.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/forwardingRules/{forwardingRule}/setTarget",
                    "request": {
                        "$ref": "TargetReference"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                }
            }
        },
        "globalOperations": {
            "methods": {
                "aggregatedList": {
                    "description": "Retrieves the list of all operations grouped by scope.",
                    "httpMethod": "GET",
                    "id": "compute.globalOperations.aggregatedList",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/aggregated/operations",
                    "response": {
                        "$ref": "OperationAggregatedList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "delete": {
                    "description": "Deletes the specified operation resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.globalOperations.delete",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "description": "Name of the operation resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations/{operation}",
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Retrieves the specified operation resource.",
                    "httpMethod": "GET",
                    "id": "compute.globalOperations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "description": "Name of the operation resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of operation resources contained within the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.globalOperations.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations",
                    "response": {
                        "$ref": "OperationList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                }
            }
        },
        "httpHealthChecks": {
            "methods": {
                "delete": {
                    "description": "Deletes the specified HttpHealthCheck resource.",
                    "httpMethod": "DELETE",
                    "id": "compute.httpHealthChecks.delete",
                    "parameterOrder": [
                        "project",
                        "httpHealthCheck"
                    ],
                    "parameters": {
                        "httpHealthCheck": {
                            "description": "Name of the HttpHealthCheck resource to delete.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/httpHealthChecks/{httpHealthCheck}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "get": {
                    "description": "Returns the specified HttpHealthCheck resource.",
                    "httpMethod": "GET",
                    "id": "compute.httpHealthChecks.get",
                    "parameterOrder": [
                        "project",
                        "httpHealthCheck"
                    ],
                    "parameters": {
                        "httpHealthCheck": {
                            "description": "Name of the HttpHealthCheck resource to return.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/httpHealthChecks/{httpHealthCheck}",
                    "response": {
                        "$ref": "HttpHealthCheck"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a HttpHealthCheck resource in the specified project using the data included in the request.",
                    "httpMethod": "POST",
                    "id": "compute.httpHealthChecks.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/httpHealthChecks",
                    "request": {
                        "$ref": "HttpHealthCheck"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute"
                    ]
                },
                "list": {
                    "description": "Retrieves the list of HttpHealthCheck resources available to the specified project.",
                    "httpMethod": "GET",
                    "id": "compute.httpHealthChecks.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Optional. Filter expression for filtering listed resources.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "Name of the project scoping this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/httpHealthChecks",
                    "response": {
                        "$ref": "HttpHealthCheckList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/compute",
                        "https://www.googleapis.com/auth/compute.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates a HttpHealthCheck resource in the specified project using the data included in the request. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "compute.httpHealthChecks.patch",
                    "parameterOrder": [
                        "project",
                        "httpHealthCheck"
                    ],
                    "parameters": {
                        "httpHealthCheck": {
                            "description": "Name of the HttpHealthCheck resource to update.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
[...]
