{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/consumersurveys": {
                    "description": "View and edit your surveys and results"
                },
                "https://www.googleapis.com/auth/consumersurveys.readonly": {
                    "description": "View the results for your surveys"
                },
                "https://www.googleapis.com/auth/userinfo.email": {
                    "description": "View your email address"
                }
            }
        }
    },
    "basePath": "/consumersurveys/v2/",
    "baseUrl": "https://www.googleapis.com/consumersurveys/v2/",
    "batchPath": "batch",
    "canonicalName": "Consumer Surveys",
    "description": "Creates and conducts surveys, lists the surveys that an authenticated user owns, and retrieves survey results and information about specified surveys.",
    "discoveryVersion": "v1",
    "etag": "\"YWOzh2SDasdU84ArJnpYek-OMdg/e7DEYLH6SdmU14auNlU-9VK4HgU\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "consumersurveys:v2",
    "kind": "discovery#restDescription",
    "name": "consumersurveys",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "mobileapppanels": {
            "methods": {
                "get": {
                    "description": "Retrieves a MobileAppPanel that is available to the authenticated user.",
                    "httpMethod": "GET",
                    "id": "consumersurveys.mobileapppanels.get",
                    "parameterOrder": [
                        "panelId"
                    ],
                    "parameters": {
                        "panelId": {
                            "description": "External URL ID for the panel.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "mobileAppPanels/{panelId}",
                    "response": {
                        "$ref": "MobileAppPanel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/consumersurveys.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "list": {
                    "description": "Lists the MobileAppPanels available to the authenticated user.",
                    "httpMethod": "GET",
                    "id": "consumersurveys.mobileapppanels.list",
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "mobileAppPanels",
                    "response": {
                        "$ref": "MobileAppPanelsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/consumersurveys.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "update": {
                    "description": "Updates a MobileAppPanel. Currently the only property that can be updated is the owners property.",
                    "httpMethod": "PUT",
                    "id": "consumersurveys.mobileapppanels.update",
                    "parameterOrder": [
                        "panelId"
                    ],
                    "parameters": {
                        "panelId": {
                            "description": "External URL ID for the panel.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "mobileAppPanels/{panelId}",
                    "request": {
                        "$ref": "MobileAppPanel"
                    },
                    "response": {
                        "$ref": "MobileAppPanel"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        },
        "results": {
            "methods": {
                "get": {
                    "description": "Retrieves any survey results that have been produced so far. Results are formatted as an Excel file. You must add \"?alt=media\" to the URL as an argument to get results.",
                    "httpMethod": "GET",
                    "id": "consumersurveys.results.get",
                    "parameterOrder": [
                        "surveyUrlId"
                    ],
                    "parameters": {
                        "surveyUrlId": {
                            "description": "External URL ID for the survey.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{surveyUrlId}/results",
                    "request": {
                        "$ref": "ResultsGetRequest"
                    },
                    "response": {
                        "$ref": "SurveyResults"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/consumersurveys.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ],
                    "supportsMediaDownload": true
                }
            }
        },
        "surveys": {
            "methods": {
                "delete": {
                    "description": "Removes a survey from view in all user GET requests.",
                    "httpMethod": "DELETE",
                    "id": "consumersurveys.surveys.delete",
                    "parameterOrder": [
                        "surveyUrlId"
                    ],
                    "parameters": {
                        "surveyUrlId": {
                            "description": "External URL ID for the survey.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{surveyUrlId}",
                    "response": {
                        "$ref": "SurveysDeleteResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "get": {
                    "description": "Retrieves information about the specified survey.",
                    "httpMethod": "GET",
                    "id": "consumersurveys.surveys.get",
                    "parameterOrder": [
                        "surveyUrlId"
                    ],
                    "parameters": {
                        "surveyUrlId": {
                            "description": "External URL ID for the survey.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{surveyUrlId}",
                    "response": {
                        "$ref": "Survey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/consumersurveys.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "insert": {
                    "description": "Creates a survey.",
                    "httpMethod": "POST",
                    "id": "consumersurveys.surveys.insert",
                    "path": "surveys",
                    "request": {
                        "$ref": "Survey"
                    },
                    "response": {
                        "$ref": "Survey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "list": {
                    "description": "Lists the surveys owned by the authenticated user.",
                    "httpMethod": "GET",
                    "id": "consumersurveys.surveys.list",
                    "parameters": {
                        "maxResults": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "startIndex": {
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "token": {
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "surveys",
                    "response": {
                        "$ref": "SurveysListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/consumersurveys.readonly",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "start": {
                    "description": "Begins running a survey.",
                    "httpMethod": "POST",
                    "id": "consumersurveys.surveys.start",
                    "parameterOrder": [
                        "resourceId"
                    ],
                    "parameters": {
                        "resourceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{resourceId}/start",
                    "request": {
                        "$ref": "SurveysStartRequest"
                    },
                    "response": {
                        "$ref": "SurveysStartResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "stop": {
                    "description": "Stops a running survey.",
                    "httpMethod": "POST",
                    "id": "consumersurveys.surveys.stop",
                    "parameterOrder": [
                        "resourceId"
                    ],
                    "parameters": {
                        "resourceId": {
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{resourceId}/stop",
                    "response": {
                        "$ref": "SurveysStopResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                },
                "update": {
                    "description": "Updates a survey. Currently the only property that can be updated is the owners property.",
                    "httpMethod": "PUT",
                    "id": "consumersurveys.surveys.update",
                    "parameterOrder": [
                        "surveyUrlId"
                    ],
                    "parameters": {
                        "surveyUrlId": {
                            "description": "External URL ID for the survey.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "surveys/{surveyUrlId}",
                    "request": {
                        "$ref": "Survey"
                    },
                    "response": {
                        "$ref": "Survey"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/consumersurveys",
                        "https://www.googleapis.com/auth/userinfo.email"
                    ]
                }
            }
        }
    },
    "revision": "20170407",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "FieldMask": {
            "id": "FieldMask",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "FieldMask"
                    },
                    "type": "array"
                },
                "id": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "MobileAppPanel": {
            "id": "MobileAppPanel",
            "properties": {
                "country": {
                    "type": "string"
                },
                "isPublicPanel": {
                    "type": "boolean"
                },
                "language": {
                    "type": "string"
                },
                "mobileAppPanelId": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "owners": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MobileAppPanelsListResponse": {
            "id": "MobileAppPanelsListResponse",
            "properties": {
                "pageInfo": {
                    "$ref": "PageInfo"
                },
                "requestId": {
                    "description": "Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.",
                    "type": "string"
                },
                "resources": {
                    "description": "An individual predefined panel of Opinion Rewards mobile users.",
                    "items": {
                        "$ref": "MobileAppPanel"
                    },
                    "type": "array"
                },
                "tokenPagination": {
                    "$ref": "TokenPagination"
                }
            },
            "type": "object"
        },
        "PageInfo": {
            "id": "PageInfo",
            "properties": {
                "resultPerPage": {
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "format": "int32",
                    "type": "integer"
                },
                "totalResults": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ResultsGetRequest": {
            "id": "ResultsGetRequest",
            "properties": {
                "resultMask": {
                    "$ref": "ResultsMask"
                }
            },
            "type": "object"
        },
        "ResultsMask": {
            "id": "ResultsMask",
            "properties": {
                "fields": {
                    "items": {
                        "$ref": "FieldMask"
                    },
                    "type": "array"
                },
                "projection": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Survey": {
            "id": "Survey",
            "properties": {
                "audience": {
                    "$ref": "SurveyAudience"
                },
                "cost": {
                    "$ref": "SurveyCost"
                },
                "customerData": {
                    "format": "byte",
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "owners": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "questions": {
                    "items": {
                        "$ref": "SurveyQuestion"
                    },
                    "type": "array"
                },
                "rejectionReason": {
                    "$ref": "SurveyRejection"
                },
                "state": {
                    "type": "string"
                },
                "surveyUrlId": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                },
                "wantedResponseCount": {
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SurveyAudience": {
            "id": "SurveyAudience",
            "properties": {
                "ages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "country": {
                    "type": "string"
                },
                "countrySubdivision": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                },
                "languages": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "mobileAppPanelId": {
                    "type": "string"
                },
                "populationSource": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveyCost": {
            "id": "SurveyCost",
            "properties": {
                "costPerResponseNanos": {
                    "format": "int64",
                    "type": "string"
                },
                "currencyCode": {
                    "type": "string"
                },
                "maxCostPerResponseNanos": {
                    "format": "int64",
                    "type": "string"
                },
                "nanos": {
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveyQuestion": {
            "id": "SurveyQuestion",
            "properties": {
                "answerOrder": {
                    "type": "string"
                },
                "answers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "hasOther": {
                    "type": "boolean"
                },
                "highValueLabel": {
                    "type": "string"
                },
                "images": {
                    "items": {
                        "$ref": "SurveyQuestionImage"
                    },
                    "type": "array"
                },
                "lastAnswerPositionPinned": {
                    "type": "boolean"
                },
                "lowValueLabel": {
                    "type": "string"
                },
                "mustPickSuggestion": {
                    "type": "boolean"
                },
                "numStars": {
                    "type": "string"
                },
                "openTextPlaceholder": {
                    "type": "string"
                },
                "openTextSuggestions": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "question": {
                    "type": "string"
                },
                "sentimentText": {
                    "type": "string"
                },
                "singleLineResponse": {
                    "type": "boolean"
                },
                "thresholdAnswers": {
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "type": {
                    "type": "string"
                },
                "unitOfMeasurementLabel": {
                    "type": "string"
                },
                "videoId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveyQuestionImage": {
            "id": "SurveyQuestionImage",
            "properties": {
                "altText": {
                    "type": "string"
                },
                "data": {
                    "format": "byte",
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveyRejection": {
            "id": "SurveyRejection",
            "properties": {
                "explanation": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveyResults": {
            "id": "SurveyResults",
            "properties": {
                "status": {
                    "type": "string"
                },
                "surveyUrlId": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveysDeleteResponse": {
            "id": "SurveysDeleteResponse",
            "properties": {
                "requestId": {
                    "description": "Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveysListResponse": {
            "id": "SurveysListResponse",
            "properties": {
                "pageInfo": {
                    "$ref": "PageInfo"
                },
                "requestId": {
                    "description": "Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.",
                    "type": "string"
                },
                "resources": {
                    "description": "An individual survey resource.",
                    "items": {
                        "$ref": "Survey"
                    },
                    "type": "array"
                },
                "tokenPagination": {
                    "$ref": "TokenPagination"
                }
            },
            "type": "object"
        },
        "SurveysStartRequest": {
            "id": "SurveysStartRequest",
            "properties": {
                "maxCostPerResponseNanos": {
                    "description": "Threshold to start a survey automically if the quoted prices is less than or equal to this value. See Survey.Cost for more details.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveysStartResponse": {
            "id": "SurveysStartResponse",
            "properties": {
                "requestId": {
                    "description": "Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "SurveysStopResponse": {
            "id": "SurveysStopResponse",
            "properties": {
                "requestId": {
                    "description": "Unique request ID used for logging and debugging. Please include in any error reporting or troubleshooting requests.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TokenPagination": {
            "id": "TokenPagination",
            "properties": {
                "nextPageToken": {
                    "type": "string"
                },
                "previousPageToken": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "consumersurveys/v2/",
    "title": "Consumer Surveys API",
    "version": "v2"
}