{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/content": {
                    "description": "Manage your product listings and accounts for Google Shopping"
                }
            }
        }
    },
    "basePath": "/content/v2/",
    "baseUrl": "https://www.googleapis.com/content/v2/",
    "batchPath": "batch",
    "canonicalName": "Shopping Content",
    "description": "Manages product items, inventory, and Merchant Center accounts for Google Shopping.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/shopping-content",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/MJiuoRsHT46yY3IV3KcnT4EHa4c\"",
    "icons": {
        "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
        "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
    },
    "id": "content:v2",
    "kind": "discovery#restDescription",
    "name": "content",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "authinfo": {
                    "description": "Returns information about the authenticated user.",
                    "httpMethod": "GET",
                    "id": "content.accounts.authinfo",
                    "path": "accounts/authinfo",
                    "response": {
                        "$ref": "AccountsAuthInfoResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "custombatch": {
                    "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accounts.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "accounts/batch",
                    "request": {
                        "$ref": "AccountsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a Merchant Center sub-account. This method can only be called for multi-client accounts.",
                    "httpMethod": "DELETE",
                    "id": "content.accounts.delete",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "GET",
                    "id": "content.accounts.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Creates a Merchant Center sub-account. This method can only be called for multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.accounts.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.accounts.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of accounts to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts",
                    "response": {
                        "$ref": "AccountsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accounts.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "PUT",
                    "id": "content.accounts.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accountshipping": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accountshipping.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "accountshipping/batch",
                    "request": {
                        "$ref": "AccountshippingCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountshippingCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "GET",
                    "id": "content.accountshipping.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.accountshipping.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of shipping settings to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping",
                    "response": {
                        "$ref": "AccountshippingListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accountshipping.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "request": {
                        "$ref": "AccountShipping"
                    },
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "PUT",
                    "id": "content.accountshipping.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "request": {
                        "$ref": "AccountShipping"
                    },
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accountstatuses": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.accountstatuses.custombatch",
                    "path": "accountstatuses/batch",
                    "request": {
                        "$ref": "AccountstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the status of a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "GET",
                    "id": "content.accountstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountstatuses/{accountId}",
                    "response": {
                        "$ref": "AccountStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.accountstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of account statuses to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountstatuses",
                    "response": {
                        "$ref": "AccountstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accounttax": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accounttax.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "accounttax/batch",
                    "request": {
                        "$ref": "AccounttaxCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccounttaxCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "GET",
                    "id": "content.accounttax.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the tax settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.accounttax.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of tax settings to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax",
                    "response": {
                        "$ref": "AccounttaxListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accounttax.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "request": {
                        "$ref": "AccountTax"
                    },
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "PUT",
                    "id": "content.accounttax.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "request": {
                        "$ref": "AccountTax"
                    },
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "datafeeds": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.datafeeds.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "datafeeds/batch",
                    "request": {
                        "$ref": "DatafeedsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "DatafeedsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a datafeed from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "DELETE",
                    "id": "content.datafeeds.delete",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a datafeed from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.datafeeds.get",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Registers a datafeed with your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.datafeeds.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.datafeeds.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds",
                    "response": {
                        "$ref": "DatafeedsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates a datafeed of your Merchant Center account. This method can only be called for non-multi-client accounts. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.datafeeds.patch",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates a datafeed of your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "PUT",
                    "id": "content.datafeeds.update",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "datafeedstatuses": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.datafeedstatuses.custombatch",
                    "path": "datafeedstatuses/batch",
                    "request": {
                        "$ref": "DatafeedstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "DatafeedstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the status of a datafeed from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.datafeedstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeedstatuses/{datafeedId}",
                    "response": {
                        "$ref": "DatafeedStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.datafeedstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeedstatuses",
                    "response": {
                        "$ref": "DatafeedstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "inventory": {
            "methods": {
                "custombatch": {
                    "description": "Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.inventory.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "inventory/batch",
                    "request": {
                        "$ref": "InventoryCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "InventoryCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "set": {
                    "description": "Updates price and availability of a product in your Merchant Center account. This operation does not update the expiration date of the product. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.inventory.set",
                    "parameterOrder": [
                        "merchantId",
                        "storeCode",
                        "productId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product for which to update price and availability.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "storeCode": {
                            "description": "The code of the store for which to update price and availability. Use online to update price and availability of an online product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/inventory/{storeCode}/products/{productId}",
                    "request": {
                        "$ref": "InventorySetRequest"
                    },
                    "response": {
                        "$ref": "InventorySetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "orders": {
            "methods": {
                "acknowledge": {
                    "description": "Marks an order as acknowledged. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.acknowledge",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/acknowledge",
                    "request": {
                        "$ref": "OrdersAcknowledgeRequest"
                    },
                    "response": {
                        "$ref": "OrdersAcknowledgeResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "advancetestorder": {
                    "description": "Sandbox only. Moves a test order from state \"inProgress\" to state \"pendingShipment\". This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.advancetestorder",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the test order to modify.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/testorders/{orderId}/advance",
                    "response": {
                        "$ref": "OrdersAdvanceTestOrderResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "cancel": {
                    "description": "Cancels all line items in an order. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.cancel",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order to cancel.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/cancel",
                    "request": {
                        "$ref": "OrdersCancelRequest"
                    },
                    "response": {
                        "$ref": "OrdersCancelResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "cancellineitem": {
                    "description": "Cancels a line item. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.cancellineitem",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/cancelLineItem",
                    "request": {
                        "$ref": "OrdersCancelLineItemRequest"
                    },
                    "response": {
                        "$ref": "OrdersCancelLineItemResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "createtestorder": {
                    "description": "Sandbox only. Creates a test order. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.createtestorder",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/testorders",
                    "request": {
                        "$ref": "OrdersCreateTestOrderRequest"
                    },
                    "response": {
                        "$ref": "OrdersCreateTestOrderResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "custombatch": {
                    "description": "Retrieves or modifies multiple orders in a single request. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.custombatch",
                    "path": "orders/batch",
                    "request": {
                        "$ref": "OrdersCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "OrdersCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves an order from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.orders.get",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}",
                    "response": {
                        "$ref": "Order"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "getbymerchantorderid": {
                    "description": "Retrieves an order using merchant order id. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.orders.getbymerchantorderid",
                    "parameterOrder": [
                        "merchantId",
                        "merchantOrderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantOrderId": {
                            "description": "The merchant order id to be looked for.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/ordersbymerchantid/{merchantOrderId}",
                    "response": {
                        "$ref": "OrdersGetByMerchantOrderIdResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "gettestordertemplate": {
                    "description": "Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.orders.gettestordertemplate",
                    "parameterOrder": [
                        "merchantId",
                        "templateName"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "templateName": {
                            "description": "The name of the template to retrieve.",
                            "enum": [
                                "template1",
                                "template1a",
                                "template1b",
                                "template2"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/testordertemplates/{templateName}",
                    "response": {
                        "$ref": "OrdersGetTestOrderTemplateResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the orders in your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.orders.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "acknowledged": {
                            "description": "Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.\nWe recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "description": "The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.\nKnown issue: All List calls will return all Orders without limit regardless of the value of this field.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderBy": {
                            "description": "The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. \"placedDate desc\" stands for listing orders by placement date, from oldest to most recent. \"placedDate asc\" stands for listing orders by placement date, from most recent to oldest. In future releases we'll support other sorting criteria.",
                            "enum": [
                                "placedDate asc",
                                "placedDate desc"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        },
                        "placedDateEnd": {
                            "description": "Obtains orders placed before this date (exclusively), in ISO 8601 format.",
                            "location": "query",
                            "type": "string"
                        },
                        "placedDateStart": {
                            "description": "Obtains orders placed after this date (inclusively), in ISO 8601 format.",
                            "location": "query",
                            "type": "string"
                        },
                        "statuses": {
                            "description": "Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.",
                            "enum": [
                                "active",
                                "canceled",
                                "completed",
                                "delivered",
                                "inProgress",
                                "partiallyDelivered",
                                "partiallyReturned",
                                "partiallyShipped",
                                "pendingShipment",
                                "returned",
                                "shipped"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders",
                    "response": {
                        "$ref": "OrdersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "refund": {
                    "description": "Refund a portion of the order, up to the full amount paid. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.refund",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order to refund.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/refund",
                    "request": {
                        "$ref": "OrdersRefundRequest"
                    },
                    "response": {
                        "$ref": "OrdersRefundResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "returnlineitem": {
                    "description": "Returns a line item. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.returnlineitem",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/returnLineItem",
                    "request": {
                        "$ref": "OrdersReturnLineItemRequest"
                    },
                    "response": {
                        "$ref": "OrdersReturnLineItemResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "shiplineitems": {
                    "description": "Marks line item(s) as shipped. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.shiplineitems",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/shipLineItems",
                    "request": {
                        "$ref": "OrdersShipLineItemsRequest"
                    },
                    "response": {
                        "$ref": "OrdersShipLineItemsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "updatemerchantorderid": {
                    "description": "Updates the merchant order ID for a given order. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.updatemerchantorderid",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/updateMerchantOrderId",
                    "request": {
                        "$ref": "OrdersUpdateMerchantOrderIdRequest"
                    },
                    "response": {
                        "$ref": "OrdersUpdateMerchantOrderIdResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "updateshipment": {
                    "description": "Updates a shipment's status, carrier, and/or tracking ID. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.orders.updateshipment",
                    "parameterOrder": [
                        "merchantId",
                        "orderId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "orderId": {
                            "description": "The ID of the order.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/orders/{orderId}/updateShipment",
                    "request": {
                        "$ref": "OrdersUpdateShipmentRequest"
                    },
                    "response": {
                        "$ref": "OrdersUpdateShipmentResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves, inserts, and deletes multiple products in a single request. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.products.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "products/batch",
                    "request": {
                        "$ref": "ProductsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "ProductsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a product from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "DELETE",
                    "id": "content.products.delete",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products/{productId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a product from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.products.get",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.products.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products",
                    "request": {
                        "$ref": "Product"
                    },
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the products in your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.products.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "includeInvalidInsertedItems": {
                            "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products",
                    "response": {
                        "$ref": "ProductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "productstatuses": {
            "methods": {
                "custombatch": {
                    "description": "Gets the statuses of multiple products in a single request. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "POST",
                    "id": "content.productstatuses.custombatch",
                    "path": "productstatuses/batch",
                    "request": {
                        "$ref": "ProductstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "ProductstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Gets the status of a product from your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.productstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/productstatuses/{productId}",
                    "response": {
                        "$ref": "ProductStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the products in your Merchant Center account. This method can only be called for non-multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.productstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "includeInvalidInsertedItems": {
                            "description": "Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).",
                            "location": "query",
                            "type": "boolean"
                        },
                        "maxResults": {
                            "description": "The maximum number of product statuses to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/productstatuses",
                    "response": {
                        "$ref": "ProductstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "shippingsettings": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.shippingsettings.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "shippingsettings/batch",
                    "request": {
                        "$ref": "ShippingsettingsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "ShippingsettingsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "GET",
                    "id": "content.shippingsettings.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/shippingsettings/{accountId}",
                    "response": {
                        "$ref": "ShippingSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "getsupportedcarriers": {
                    "description": "Retrieves supported carriers and carrier services for an account.",
                    "httpMethod": "GET",
                    "id": "content.shippingsettings.getsupportedcarriers",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the account for which to retrieve the supported carriers.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/supportedCarriers",
                    "response": {
                        "$ref": "ShippingsettingsGetSupportedCarriersResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.",
                    "httpMethod": "GET",
                    "id": "content.shippingsettings.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of shipping settings to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/shippingsettings",
                    "response": {
                        "$ref": "ShippingsettingsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.shippingsettings.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/shippingsettings/{accountId}",
                    "request": {
                        "$ref": "ShippingSettings"
                    },
                    "response": {
                        "$ref": "ShippingSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.",
                    "httpMethod": "PUT",
                    "id": "content.shippingsettings.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/shippingsettings/{accountId}",
                    "request": {
                        "$ref": "ShippingSettings"
                    },
                    "response": {
                        "$ref": "ShippingSettings"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        }
    },
    "revision": "20170111",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Account": {
            "description": "Account data.",
            "id": "Account",
            "properties": {
                "adultContent": {
                    "description": "Indicates whether the merchant sells adult content.",
                    "type": "boolean"
                },
                "adwordsLinks": {
[...]
