{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/content": {
                    "description": "Manage your product listings and accounts for Google Shopping"
                }
            }
        }
    },
    "basePath": "/content/v2/",
    "baseUrl": "https://www.googleapis.com/content/v2/",
    "batchPath": "batch",
    "canonicalName": "Shopping Content",
    "description": "Manage product items, inventory, and Merchant Center accounts for Google Shopping.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/shopping-content/v2/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/K6fMzBtap8MITnBhDFby4yPOXQs\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "content:v2",
    "kind": "discovery#restDescription",
    "name": "content",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accounts.custombatch",
                    "path": "accounts/batch",
                    "request": {
                        "$ref": "AccountsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a Merchant Center sub-account.",
                    "httpMethod": "DELETE",
                    "id": "content.accounts.delete",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accounts.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Creates a Merchant Center sub-account.",
                    "httpMethod": "POST",
                    "id": "content.accounts.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the sub-accounts in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accounts.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of accounts to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts",
                    "response": {
                        "$ref": "AccountsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates a Merchant Center account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accounts.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates a Merchant Center account.",
                    "httpMethod": "PUT",
                    "id": "content.accounts.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounts/{accountId}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accountshipping": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accountshipping.custombatch",
                    "path": "accountshipping/batch",
                    "request": {
                        "$ref": "AccountshippingCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountshippingCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the shipping settings of the account.",
                    "httpMethod": "GET",
                    "id": "content.accountshipping.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accountshipping.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of shipping settings to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping",
                    "response": {
                        "$ref": "AccountshippingListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates the shipping settings of the account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accountshipping.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "request": {
                        "$ref": "AccountShipping"
                    },
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates the shipping settings of the account.",
                    "httpMethod": "PUT",
                    "id": "content.accountshipping.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account shipping settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountshipping/{accountId}",
                    "request": {
                        "$ref": "AccountShipping"
                    },
                    "response": {
                        "$ref": "AccountShipping"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accountstatuses": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.accountstatuses.custombatch",
                    "path": "accountstatuses/batch",
                    "request": {
                        "$ref": "AccountstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccountstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the status of a Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accountstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountstatuses/{accountId}",
                    "response": {
                        "$ref": "AccountStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accountstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of account statuses to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accountstatuses",
                    "response": {
                        "$ref": "AccountstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "accounttax": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves and updates tax settings of multiple accounts in a single request.",
                    "httpMethod": "POST",
                    "id": "content.accounttax.custombatch",
                    "path": "accounttax/batch",
                    "request": {
                        "$ref": "AccounttaxCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "AccounttaxCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the tax settings of the account.",
                    "httpMethod": "GET",
                    "id": "content.accounttax.get",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.accounttax.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of tax settings to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax",
                    "response": {
                        "$ref": "AccounttaxListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates the tax settings of the account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.accounttax.patch",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "request": {
                        "$ref": "AccountTax"
                    },
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates the tax settings of the account.",
                    "httpMethod": "PUT",
                    "id": "content.accounttax.update",
                    "parameterOrder": [
                        "merchantId",
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The ID of the account for which to get/update account tax settings.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/accounttax/{accountId}",
                    "request": {
                        "$ref": "AccountTax"
                    },
                    "response": {
                        "$ref": "AccountTax"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "datafeeds": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.datafeeds.custombatch",
                    "path": "datafeeds/batch",
                    "request": {
                        "$ref": "DatafeedsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "DatafeedsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a datafeed from your Merchant Center account.",
                    "httpMethod": "DELETE",
                    "id": "content.datafeeds.delete",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a datafeed from your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.datafeeds.get",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Registers a datafeed with your Merchant Center account.",
                    "httpMethod": "POST",
                    "id": "content.datafeeds.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the datafeeds in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.datafeeds.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds",
                    "response": {
                        "$ref": "DatafeedsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "patch": {
                    "description": "Updates a datafeed of your Merchant Center account. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "content.datafeeds.patch",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "update": {
                    "description": "Updates a datafeed of your Merchant Center account.",
                    "httpMethod": "PUT",
                    "id": "content.datafeeds.update",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeeds/{datafeedId}",
                    "request": {
                        "$ref": "Datafeed"
                    },
                    "response": {
                        "$ref": "Datafeed"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "datafeedstatuses": {
            "methods": {
                "custombatch": {
                    "httpMethod": "POST",
                    "id": "content.datafeedstatuses.custombatch",
                    "path": "datafeedstatuses/batch",
                    "request": {
                        "$ref": "DatafeedstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "DatafeedstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves the status of a datafeed from your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.datafeedstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "datafeedId"
                    ],
                    "parameters": {
                        "datafeedId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "merchantId": {
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeedstatuses/{datafeedId}",
                    "response": {
                        "$ref": "DatafeedStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the datafeeds in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.datafeedstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/datafeedstatuses",
                    "response": {
                        "$ref": "DatafeedstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "inventory": {
            "methods": {
                "custombatch": {
                    "description": "Updates price and availability for multiple products or stores in a single request.",
                    "httpMethod": "POST",
                    "id": "content.inventory.custombatch",
                    "path": "inventory/batch",
                    "request": {
                        "$ref": "InventoryCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "InventoryCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "set": {
                    "description": "Updates price and availability of a product in your Merchant Center account.",
                    "httpMethod": "POST",
                    "id": "content.inventory.set",
                    "parameterOrder": [
                        "merchantId",
                        "storeCode",
                        "productId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product for which to update price and availability.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "storeCode": {
                            "description": "The code of the store for which to update price and availability. Use online to update price and availability of an online product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/inventory/{storeCode}/products/{productId}",
                    "request": {
                        "$ref": "InventorySetRequest"
                    },
                    "response": {
                        "$ref": "InventorySetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "products": {
            "methods": {
                "custombatch": {
                    "description": "Retrieves, inserts, and deletes multiple products in a single request.",
                    "httpMethod": "POST",
                    "id": "content.products.custombatch",
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "products/batch",
                    "request": {
                        "$ref": "ProductsCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "ProductsCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "delete": {
                    "description": "Deletes a product from your Merchant Center account.",
                    "httpMethod": "DELETE",
                    "id": "content.products.delete",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products/{productId}",
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Retrieves a product from your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.products.get",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products/{productId}",
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "insert": {
                    "description": "Uploads a product to your Merchant Center account.",
                    "httpMethod": "POST",
                    "id": "content.products.insert",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "dryRun": {
                            "description": "Flag to run the request in dry-run mode.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products",
                    "request": {
                        "$ref": "Product"
                    },
                    "response": {
                        "$ref": "Product"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the products in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.products.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of products to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/products",
                    "response": {
                        "$ref": "ProductsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        },
        "productstatuses": {
            "methods": {
                "custombatch": {
                    "description": "Gets the statuses of multiple products in a single request.",
                    "httpMethod": "POST",
                    "id": "content.productstatuses.custombatch",
                    "path": "productstatuses/batch",
                    "request": {
                        "$ref": "ProductstatusesCustomBatchRequest"
                    },
                    "response": {
                        "$ref": "ProductstatusesCustomBatchResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "get": {
                    "description": "Gets the status of a product from your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.productstatuses.get",
                    "parameterOrder": [
                        "merchantId",
                        "productId"
                    ],
                    "parameters": {
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "productId": {
                            "description": "The ID of the product.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/productstatuses/{productId}",
                    "response": {
                        "$ref": "ProductStatus"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                },
                "list": {
                    "description": "Lists the statuses of the products in your Merchant Center account.",
                    "httpMethod": "GET",
                    "id": "content.productstatuses.list",
                    "parameterOrder": [
                        "merchantId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of product statuses to return in the response, used for paging.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "merchantId": {
                            "description": "The ID of the managing account.",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The token returned by the previous request.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "{merchantId}/productstatuses",
                    "response": {
                        "$ref": "ProductstatusesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/content"
                    ]
                }
            }
        }
    },
    "revision": "20150126",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Account": {
            "description": "Account data.",
            "id": "Account",
            "properties": {
                "adultContent": {
                    "description": "Indicates whether the merchant sells adult content.",
                    "type": "boolean"
                },
                "adwordsLinks": {
                    "description": "List of linked AdWords accounts.",
                    "items": {
                        "$ref": "AccountAdwordsLink"
                    },
                    "type": "array"
                },
                "id": {
                    "annotations": {
                        "required": [
                            "content.accounts.update"
                        ]
                    },
                    "description": "Merchant Center account ID.",
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "default": "content#account",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#account\".",
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "content.accounts.insert",
                            "content.accounts.update"
                        ]
                    },
                    "description": "Display name for the account.",
                    "type": "string"
                },
                "reviewsUrl": {
                    "description": "URL for individual seller reviews, i.e., reviews for each child account.",
                    "type": "string"
                },
                "sellerId": {
                    "description": "Client-specific, locally-unique, internal ID for the child account.",
                    "type": "string"
                },
                "users": {
                    "description": "Users with access to the account. Every account (except for subaccounts) must have at least one admin user.",
                    "items": {
                        "$ref": "AccountUser"
                    },
                    "type": "array"
                },
                "websiteUrl": {
                    "description": "The merchant's website.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountAdwordsLink": {
            "id": "AccountAdwordsLink",
            "properties": {
                "adwordsId": {
                    "description": "Customer ID of the AdWords account.",
                    "format": "uint64",
                    "type": "string"
                },
                "status": {
                    "description": "Status of the link between this Merchant Center account and the AdWords account.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShipping": {
            "description": "The shipping settings of a merchant account.",
            "id": "AccountShipping",
            "properties": {
                "accountId": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The ID of the account to which these account shipping settings belong.",
                    "format": "uint64",
                    "type": "string"
                },
                "carrierRates": {
                    "description": "Carrier-based shipping calculations.",
                    "items": {
                        "$ref": "AccountShippingCarrierRate"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accountShipping",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountShipping\".",
                    "type": "string"
                },
                "locationGroups": {
                    "description": "Location groups for shipping.",
                    "items": {
                        "$ref": "AccountShippingLocationGroup"
                    },
                    "type": "array"
                },
                "rateTables": {
                    "description": "Rate tables definitions.",
                    "items": {
                        "$ref": "AccountShippingRateTable"
                    },
                    "type": "array"
                },
                "services": {
                    "description": "Shipping services describing shipping fees calculation.",
                    "items": {
                        "$ref": "AccountShippingShippingService"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountShippingCarrierRate": {
            "description": "A carrier-calculated shipping rate.",
            "id": "AccountShippingCarrierRate",
            "properties": {
                "carrier": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The carrier that is responsible for the shipping, such as \"UPS\", \"FedEx\", or \"USPS\".",
                    "type": "string"
                },
                "carrierService": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The carrier service, such as \"Ground\" or \"2Day\".",
                    "type": "string"
                },
                "modifierFlatRate": {
                    "$ref": "Price",
                    "description": "Additive shipping rate modifier."
                },
                "modifierPercent": {
                    "description": "Multiplicative shipping rate modifier in percent. Represented as a floating point number without the percentage character.",
                    "type": "string"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The name of the carrier rate.",
                    "type": "string"
                },
                "saleCountry": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "Sale country for which this carrier rate is valid, represented as an ISO 3166-1 Alpha-2 code.",
                    "type": "string"
                },
                "shippingOrigin": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "Shipping origin represented as a postal code.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShippingCondition": {
            "id": "AccountShippingCondition",
            "properties": {
                "deliveryLocationGroup": {
                    "description": "Delivery location in terms of a location group name. A location group with this name must be specified among location groups.",
                    "type": "string"
                },
                "deliveryLocationId": {
                    "description": "Delivery location in terms of a location ID. Can be used to represent administrative areas, smaller country subdivisions, or cities.",
                    "format": "int64",
                    "type": "string"
                },
                "deliveryPostalCode": {
                    "description": "Delivery location in terms of a postal code.",
                    "type": "string"
                },
                "deliveryPostalCodeRange": {
                    "$ref": "AccountShippingPostalCodeRange",
                    "description": "Delivery location in terms of a postal code range."
                },
                "priceMax": {
                    "$ref": "Price",
                    "description": "Maximum shipping price. Forms an interval between the maximum of smaller prices (exclusive) and this price (inclusive)."
                },
                "shippingLabel": {
                    "description": "Shipping label of the product. The products with the label are matched.",
                    "type": "string"
                },
                "weightMax": {
                    "$ref": "Weight",
                    "description": "Maximum shipping weight. Forms an interval between the maximum of smaller weight (exclusive) and this weight (inclusive)."
                }
            },
            "type": "object"
        },
        "AccountShippingLocationGroup": {
            "description": "A user-defined locations group in a given country. All the locations of the group must be of the same type.",
            "id": "AccountShippingLocationGroup",
            "properties": {
                "country": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The country in which this location group is, represented as ISO 3166-1 Alpha-2 code.",
                    "type": "string"
                },
                "locationIds": {
                    "description": "A location ID (also called criteria ID) representing administrative areas, smaller country subdivisions (counties), or cities.",
                    "items": {
                        "format": "int64",
                        "type": "string"
                    },
                    "type": "array"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The name of the location group.",
                    "type": "string"
                },
                "postalCodeRanges": {
                    "description": "A postal code range representing a city or a set of cities.",
                    "items": {
                        "$ref": "AccountShippingPostalCodeRange"
                    },
                    "type": "array"
                },
                "postalCodes": {
                    "description": "A postal code representing a city or a set of cities.  \n- A single postal code (e.g., 12345)\n- A postal code prefix followed by a star (e.g., 1234*)",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountShippingPostalCodeRange": {
            "description": "A postal code range, that can be either:  \n- A range of postal codes (e.g., start=12340, end=12359)\n- A range of postal codes prefixes (e.g., start=1234* end=1235*). Prefixes must be of the same length (e.g., start=12* end=2* is invalid).",
            "id": "AccountShippingPostalCodeRange",
            "properties": {
                "end": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The last (inclusive) postal code or prefix of the range.",
                    "type": "string"
                },
                "start": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The first (inclusive) postal code or prefix of the range.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShippingRateTable": {
            "description": "A single or bi-dimensional table of shipping rates. Each dimension is defined in terms of consecutive price/weight ranges, delivery locations, or shipping labels.",
            "id": "AccountShippingRateTable",
            "properties": {
                "content": {
                    "description": "One-dimensional table cells define one condition along the same dimension. Bi-dimensional table cells use two dimensions with respectively M and N distinct values and must contain exactly M * N cells with distinct conditions (for each possible value pairs).",
                    "items": {
                        "$ref": "AccountShippingRateTableCell"
                    },
                    "type": "array"
                },
                "name": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The name of the rate table.",
                    "type": "string"
                },
                "saleCountry": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "Sale country for which this table is valid, represented as an ISO 3166-1 Alpha-2 code.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShippingRateTableCell": {
            "id": "AccountShippingRateTableCell",
            "properties": {
                "condition": {
                    "$ref": "AccountShippingCondition",
                    "description": "Conditions for which the cell is valid. All cells in a table must use the same dimension or pair of dimensions among price, weight, shipping label or delivery location. If no condition is specified, the cell acts as a catch-all and matches all the elements that are not matched by other cells in this dimension."
                },
                "rate": {
                    "$ref": "Price",
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The rate applicable if the cell conditions are matched."
                }
            },
            "type": "object"
        },
        "AccountShippingShippingService": {
            "description": "Shipping services provided in a country.",
            "id": "AccountShippingShippingService",
            "properties": {
                "active": {
                    "description": "Whether the shipping service is available.",
                    "type": "boolean"
                },
                "calculationMethod": {
                    "$ref": "AccountShippingShippingServiceCalculationMethod",
                    "description": "Calculation method for the \"simple\" case that needs no rules."
                },
                "costRuleTree": {
                    "$ref": "AccountShippingShippingServiceCostRule",
                    "description": "Decision tree for \"complicated\" shipping cost calculation."
                },
                "name": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "The name of this shipping service.",
                    "type": "string"
                },
                "saleCountry": {
                    "annotations": {
                        "required": [
                            "content.accountshipping.update"
                        ]
                    },
                    "description": "Sale country for which this service can be used, represented as an ISO 3166-1 Alpha-2 code.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShippingShippingServiceCalculationMethod": {
            "description": "Shipping cost calculation method. Exactly one of the field is set.",
            "id": "AccountShippingShippingServiceCalculationMethod",
            "properties": {
                "carrierRate": {
                    "description": "Name of the carrier rate to use for the calculation.",
                    "type": "string"
                },
                "excluded": {
                    "description": "Delivery is excluded. Valid only within cost rules tree.",
                    "type": "boolean"
                },
                "flatRate": {
                    "$ref": "Price",
                    "description": "Fixed price shipping, represented as a floating point number associated with a currency."
                },
                "percentageRate": {
                    "description": "Percentage of the price, represented as a floating point number without the percentage character.",
                    "type": "string"
                },
                "rateTable": {
                    "description": "Name of the rate table to use for the calculation.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountShippingShippingServiceCostRule": {
            "description": "Building block of the cost calculation decision tree.  \n- The tree root should have no condition and no calculation method.\n- All the children must have a condition on the same dimension. The first child matching a condition is entered, therefore, price and weight conditions form contiguous intervals.\n- The last child of an element must have no condition and matches all elements not previously matched.\n- Children and calculation method are mutually exclusive, and exactly one of them must be defined; the root must only have children.",
            "id": "AccountShippingShippingServiceCostRule",
            "properties": {
                "calculationMethod": {
                    "$ref": "AccountShippingShippingServiceCalculationMethod",
                    "description": "Final calculation method to be used only in leaf nodes."
                },
                "children": {
                    "description": "Subsequent rules to be applied, only for inner nodes. The last child must not specify a condition and acts as a catch-all.",
                    "items": {
                        "$ref": "AccountShippingShippingServiceCostRule"
                    },
                    "type": "array"
                },
                "condition": {
                    "$ref": "AccountShippingCondition",
                    "description": "Condition for this rule to be applicable. If no condition is specified, the rule acts as a catch-all."
                }
            },
            "type": "object"
        },
        "AccountStatus": {
            "description": "The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.",
            "id": "AccountStatus",
            "properties": {
                "accountId": {
                    "description": "The ID of the account for which the status is reported.",
                    "type": "string"
                },
                "dataQualityIssues": {
                    "description": "A list of data quality issues.",
                    "items": {
                        "$ref": "AccountStatusDataQualityIssue"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accountStatus",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountStatus\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountStatusDataQualityIssue": {
            "id": "AccountStatusDataQualityIssue",
            "properties": {
                "country": {
                    "description": "Country for which this issue is reported.",
                    "type": "string"
                },
                "displayedValue": {
                    "description": "Actual value displayed on the landing page.",
                    "type": "string"
                },
                "exampleItems": {
                    "description": "Example items featuring the issue.",
                    "items": {
                        "$ref": "AccountStatusExampleItem"
                    },
                    "type": "array"
                },
                "id": {
                    "description": "Issue identifier.",
                    "type": "string"
                },
                "lastChecked": {
                    "description": "Last time the account was checked for this issue.",
                    "type": "string"
                },
                "numItems": {
                    "description": "Number of items in the account found to have the said issue.",
                    "format": "uint32",
                    "type": "integer"
                },
                "severity": {
                    "description": "Severity of the problem.",
                    "type": "string"
                },
                "submittedValue": {
                    "description": "Submitted value that causes the issue.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountStatusExampleItem": {
            "description": "An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.",
            "id": "AccountStatusExampleItem",
            "properties": {
                "itemId": {
                    "description": "Unique item ID as specified in the uploaded product data.",
                    "type": "string"
                },
                "link": {
                    "description": "Landing page of the item.",
                    "type": "string"
                },
                "submittedValue": {
                    "description": "The item value that was submitted.",
                    "type": "string"
                },
                "title": {
                    "description": "Title of the item.",
                    "type": "string"
                },
                "valueOnLandingPage": {
                    "description": "The actual value on the landing page.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountTax": {
            "description": "The tax settings of a merchant account.",
            "id": "AccountTax",
            "properties": {
                "accountId": {
                    "annotations": {
                        "required": [
                            "content.accounttax.update"
                        ]
                    },
                    "description": "The ID of the account to which these account tax settings belong.",
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "default": "content#accountTax",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountTax\".",
                    "type": "string"
                },
                "rules": {
                    "description": "Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.",
                    "items": {
                        "$ref": "AccountTaxTaxRule"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountTaxTaxRule": {
            "description": "Tax calculation rule to apply in a state or province (USA only).",
            "id": "AccountTaxTaxRule",
            "properties": {
                "country": {
                    "description": "Country code in which tax is applicable.",
                    "type": "string"
                },
                "locationId": {
                    "annotations": {
                        "required": [
                            "content.accounttax.update"
                        ]
                    },
                    "description": "State (or province) is which the tax is applicable, described by its location id (also called criteria id).",
                    "format": "uint64",
                    "type": "string"
                },
                "ratePercent": {
                    "description": "Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.",
                    "type": "string"
                },
                "shippingTaxed": {
                    "description": "If true, shipping charges are also taxed.",
                    "type": "boolean"
                },
                "useGlobalRate": {
                    "description": "Whether the tax rate is taken from a global tax table or specified explicitly.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AccountUser": {
            "id": "AccountUser",
            "properties": {
                "admin": {
                    "description": "Whether user is an admin.",
                    "type": "boolean"
                },
                "emailAddress": {
                    "description": "User's email address.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountsCustomBatchRequest": {
            "id": "AccountsCustomBatchRequest",
            "properties": {
                "entries": {
                    "description": "The request entries to be processed in the batch.",
                    "items": {
                        "$ref": "AccountsCustomBatchRequestEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountsCustomBatchRequestEntry": {
            "description": "A batch entry encoding a single non-batch accounts request.",
            "id": "AccountsCustomBatchRequestEntry",
            "properties": {
                "account": {
                    "$ref": "Account",
                    "description": "The account to create or update. Only defined if the method is insert or update."
                },
                "accountId": {
                    "description": "The ID of the account to get or delete. Only defined if the method is get or delete.",
                    "format": "uint64",
                    "type": "string"
                },
                "batchId": {
                    "description": "An entry ID, unique within the batch request.",
                    "format": "uint32",
                    "type": "integer"
                },
                "merchantId": {
                    "description": "The ID of the managing account.",
                    "format": "uint64",
                    "type": "string"
                },
                "method": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountsCustomBatchResponse": {
            "id": "AccountsCustomBatchResponse",
            "properties": {
                "entries": {
                    "description": "The result of the execution of the batch requests.",
                    "items": {
                        "$ref": "AccountsCustomBatchResponseEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accountsCustomBatchResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountsCustomBatchResponseEntry": {
            "description": "A batch entry encoding a single non-batch accounts response.",
            "id": "AccountsCustomBatchResponseEntry",
            "properties": {
                "account": {
                    "$ref": "Account",
                    "description": "The retrieved, created, or updated account. Not defined if the method was delete."
                },
                "batchId": {
                    "description": "The ID of the request entry this entry responds to.",
                    "format": "uint32",
                    "type": "integer"
                },
                "errors": {
                    "$ref": "Errors",
                    "description": "A list of errors defined if and only if the request failed."
                },
                "kind": {
                    "default": "content#accountsCustomBatchResponseEntry",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponseEntry\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountsListResponse": {
            "id": "AccountsListResponse",
            "properties": {
                "kind": {
                    "default": "content#accountsListResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The token for the retrieval of the next page of accounts.",
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "Account"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountshippingCustomBatchRequest": {
            "id": "AccountshippingCustomBatchRequest",
            "properties": {
                "entries": {
                    "description": "The request entries to be processed in the batch.",
                    "items": {
                        "$ref": "AccountshippingCustomBatchRequestEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountshippingCustomBatchRequestEntry": {
            "description": "A batch entry encoding a single non-batch accountshipping request.",
            "id": "AccountshippingCustomBatchRequestEntry",
            "properties": {
                "accountId": {
                    "description": "The ID of the account for which to get/update account shipping settings.",
                    "format": "uint64",
                    "type": "string"
                },
                "accountShipping": {
                    "$ref": "AccountShipping",
                    "description": "The account shipping settings to update. Only defined if the method is update."
                },
                "batchId": {
                    "description": "An entry ID, unique within the batch request.",
                    "format": "uint32",
                    "type": "integer"
                },
                "merchantId": {
                    "description": "The ID of the managing account.",
                    "format": "uint64",
                    "type": "string"
                },
                "method": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountshippingCustomBatchResponse": {
            "id": "AccountshippingCustomBatchResponse",
            "properties": {
                "entries": {
                    "description": "The result of the execution of the batch requests.",
                    "items": {
                        "$ref": "AccountshippingCustomBatchResponseEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accountshippingCustomBatchResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingCustomBatchResponse\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountshippingCustomBatchResponseEntry": {
            "description": "A batch entry encoding a single non-batch accountshipping response.",
            "id": "AccountshippingCustomBatchResponseEntry",
            "properties": {
                "accountShipping": {
                    "$ref": "AccountShipping",
                    "description": "The retrieved or updated account shipping settings."
                },
                "batchId": {
                    "description": "The ID of the request entry this entry responds to.",
                    "format": "uint32",
                    "type": "integer"
                },
                "errors": {
                    "$ref": "Errors",
                    "description": "A list of errors defined if and only if the request failed."
                },
                "kind": {
                    "default": "content#accountshippingCustomBatchResponseEntry",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingCustomBatchResponseEntry\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountshippingListResponse": {
            "id": "AccountshippingListResponse",
            "properties": {
                "kind": {
                    "default": "content#accountshippingListResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountshippingListResponse\".",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The token for the retrieval of the next page of account shipping settings.",
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "AccountShipping"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountstatusesCustomBatchRequest": {
            "id": "AccountstatusesCustomBatchRequest",
            "properties": {
                "entries": {
                    "description": "The request entries to be processed in the batch.",
                    "items": {
                        "$ref": "AccountstatusesCustomBatchRequestEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccountstatusesCustomBatchRequestEntry": {
            "description": "A batch entry encoding a single non-batch accountstatuses request.",
            "id": "AccountstatusesCustomBatchRequestEntry",
            "properties": {
                "accountId": {
                    "description": "The ID of the (sub-)account whose status to get.",
                    "format": "uint64",
                    "type": "string"
                },
                "batchId": {
                    "description": "An entry ID, unique within the batch request.",
                    "format": "uint32",
                    "type": "integer"
                },
                "merchantId": {
                    "description": "The ID of the managing account.",
                    "format": "uint64",
                    "type": "string"
                },
                "method": {
                    "description": "The method (get).",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountstatusesCustomBatchResponse": {
            "id": "AccountstatusesCustomBatchResponse",
            "properties": {
                "entries": {
                    "description": "The result of the execution of the batch requests.",
                    "items": {
                        "$ref": "AccountstatusesCustomBatchResponseEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accountstatusesCustomBatchResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccountstatusesCustomBatchResponseEntry": {
            "description": "A batch entry encoding a single non-batch accountstatuses response.",
            "id": "AccountstatusesCustomBatchResponseEntry",
            "properties": {
                "accountStatus": {
                    "$ref": "AccountStatus",
                    "description": "The requested account status. Defined if and only if the request was successful."
                },
                "batchId": {
                    "description": "The ID of the request entry this entry responds to.",
                    "format": "uint32",
                    "type": "integer"
                },
                "errors": {
                    "$ref": "Errors",
                    "description": "A list of errors defined if and only if the request failed."
                }
            },
            "type": "object"
        },
        "AccountstatusesListResponse": {
            "id": "AccountstatusesListResponse",
            "properties": {
                "kind": {
                    "default": "content#accountstatusesListResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accountstatusesListResponse\".",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The token for the retrieval of the next page of account statuses.",
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "AccountStatus"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccounttaxCustomBatchRequest": {
            "id": "AccounttaxCustomBatchRequest",
            "properties": {
                "entries": {
                    "description": "The request entries to be processed in the batch.",
                    "items": {
                        "$ref": "AccounttaxCustomBatchRequestEntry"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "AccounttaxCustomBatchRequestEntry": {
            "description": "A batch entry encoding a single non-batch accounttax request.",
            "id": "AccounttaxCustomBatchRequestEntry",
            "properties": {
                "accountId": {
                    "description": "The ID of the account for which to get/update account tax settings.",
                    "format": "uint64",
                    "type": "string"
                },
                "accountTax": {
                    "$ref": "AccountTax",
                    "description": "The account tax settings to update. Only defined if the method is update."
                },
                "batchId": {
                    "description": "An entry ID, unique within the batch request.",
                    "format": "uint32",
                    "type": "integer"
                },
                "merchantId": {
                    "description": "The ID of the managing account.",
                    "format": "uint64",
                    "type": "string"
                },
                "method": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccounttaxCustomBatchResponse": {
            "id": "AccounttaxCustomBatchResponse",
            "properties": {
                "entries": {
                    "description": "The result of the execution of the batch requests.",
                    "items": {
                        "$ref": "AccounttaxCustomBatchResponseEntry"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "content#accounttaxCustomBatchResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccounttaxCustomBatchResponseEntry": {
            "description": "A batch entry encoding a single non-batch accounttax response.",
            "id": "AccounttaxCustomBatchResponseEntry",
            "properties": {
                "accountTax": {
                    "$ref": "AccountTax",
                    "description": "The retrieved or updated account tax settings."
                },
                "batchId": {
                    "description": "The ID of the request entry this entry responds to.",
                    "format": "uint32",
                    "type": "integer"
                },
                "errors": {
                    "$ref": "Errors",
                    "description": "A list of errors defined if and only if the request failed."
                },
                "kind": {
                    "default": "content#accounttaxCustomBatchResponseEntry",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponseEntry\".",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AccounttaxListResponse": {
            "id": "AccounttaxListResponse",
            "properties": {
                "kind": {
                    "default": "content#accounttaxListResponse",
                    "description": "Identifies what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\".",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "The token for the retrieval of the next page of account tax settings.",
                    "type": "string"
                },
                "resources": {
                    "items": {
                        "$ref": "AccountTax"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Datafeed": {
            "description": "Datafeed data.",
            "id": "Datafeed",
            "properties": {
                "attributeLanguage": {
                    "description": "The two-letter ISO 639-1 language in which the attributes are defined in the data feed.",
                    "type": "string"
                },
                "contentLanguage": {
                    "annotations": {
                        "required": [
                            "content.datafeeds.insert"
                        ]
                    },
                    "description": "The two-letter ISO 639-1 language of the items in the feed.",
                    "type": "string"
                },
                "contentType": {
                    "annotations": {
                        "required": [
                            "content.datafeeds.insert",
                            "content.datafeeds.update"
                        ]
                    },
                    "description": "The type of data feed.",
                    "type": "string"
                },
                "fetchSchedule": {
                    "$ref": "DatafeedFetchSchedule",
                    "description": "Fetch schedule for the feed file."
                },
[...]
