{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://container.googleapis.com/",
    "batchPath": "batch",
    "description": "Builds and manages clusters that run container-based applications, powered by open source Kubernetes technology.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/container-engine/",
    "etag": "\"tbys6C40o18GZwyMen5GMkdK-3s/aTs6tIgXySgjqhtr4EU6PD-kvdQ\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "container:v1",
    "kind": "discovery#restDescription",
    "name": "container",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "zones": {
                    "methods": {
                        "getServerconfig": {
                            "description": "Returns configuration info about the Container Engine service.",
                            "httpMethod": "GET",
                            "id": "container.projects.zones.getServerconfig",
                            "parameterOrder": [
                                "projectId",
                                "zone"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "zone": {
                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
                            "response": {
                                "$ref": "ServerConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "clusters": {
                            "methods": {
                                "list": {
                                    "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the details of a specific cluster.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to retrieve.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances. By default, the cluster is created in the project's [default network](/compute/docs/networks-and-firewalls#networks). One firewall is added for the cluster. After cluster creation, the cluster creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range is being used by the cluster.",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "request": {
                                        "$ref": "CreateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "description": "Updates the settings of a specific cluster.",
                                    "httpMethod": "PUT",
                                    "id": "container.projects.zones.clusters.update",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to upgrade.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "request": {
                                        "$ref": "UpdateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted. Other Google Compute Engine resources that might be in use by the cluster (e.g. load balancer resources) will not be deleted if they weren't present at the initial create time.",
                                    "httpMethod": "DELETE",
                                    "id": "container.projects.zones.clusters.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to delete.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            },
                            "resources": {
                                "nodePools": {
                                    "methods": {
                                        "list": {
                                            "description": "Lists the node pools for a cluster.",
                                            "httpMethod": "GET",
                                            "id": "container.projects.zones.clusters.nodePools.list",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                                            "response": {
                                                "$ref": "ListNodePoolsResponse"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "get": {
                                            "description": "Retrieves the node pool requested.",
                                            "httpMethod": "GET",
                                            "id": "container.projects.zones.clusters.nodePools.get",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId",
                                                "nodePoolId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "description": "The name of the node pool.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                                            "response": {
                                                "$ref": "NodePool"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "create": {
                                            "description": "Creates a node pool for a cluster.",
                                            "httpMethod": "POST",
                                            "id": "container.projects.zones.clusters.nodePools.create",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools",
                                            "request": {
                                                "$ref": "CreateNodePoolRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "delete": {
                                            "description": "Deletes a node pool from a cluster.",
                                            "httpMethod": "DELETE",
                                            "id": "container.projects.zones.clusters.nodePools.delete",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId",
                                                "nodePoolId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "description": "The name of the node pool to delete.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}",
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "rollback": {
                                            "description": "Roll back the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
                                            "httpMethod": "POST",
                                            "id": "container.projects.zones.clusters.nodePools.rollback",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId",
                                                "nodePoolId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster to rollback.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "description": "The name of the node pool to rollback.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback",
                                            "request": {
                                                "$ref": "RollbackNodePoolUpgradeRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        },
                                        "setManagement": {
                                            "description": "Sets the NodeManagement options for a node pool.",
                                            "httpMethod": "POST",
                                            "id": "container.projects.zones.clusters.nodePools.setManagement",
                                            "parameterOrder": [
                                                "projectId",
                                                "zone",
                                                "clusterId",
                                                "nodePoolId"
                                            ],
                                            "parameters": {
                                                "projectId": {
                                                    "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "zone": {
                                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "clusterId": {
                                                    "description": "The name of the cluster to update.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                },
                                                "nodePoolId": {
                                                    "description": "The name of the node pool to update.",
                                                    "location": "path",
                                                    "required": true,
                                                    "type": "string"
                                                }
                                            },
                                            "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement",
                                            "request": {
                                                "$ref": "SetNodePoolManagementRequest"
                                            },
                                            "response": {
                                                "$ref": "Operation"
                                            },
                                            "scopes": [
                                                "https://www.googleapis.com/auth/cloud-platform"
                                            ]
                                        }
                                    }
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "list": {
                                    "description": "Lists all operations in a project in a specific zone or all zones.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.operations.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for, or `-` for all zones.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the specified operation.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.operations.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "operationId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "operationId": {
                                            "description": "The server-assigned `name` of the operation.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "cancel": {
                                    "description": "Cancels the specified operation.",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.operations.cancel",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "operationId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://support.google.com/cloud/answer/6158840).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the operation resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "operationId": {
                                            "description": "The server-assigned `name` of the operation.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel",
                                    "request": {
                                        "$ref": "CancelOperationRequest"
                                    },
                                    "response": {
                                        "$ref": "Empty"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20161024",
    "rootUrl": "https://container.googleapis.com/",
    "schemas": {
        "ListClustersResponse": {
            "description": "ListClustersResponse is the result of ListClustersRequest.",
            "id": "ListClustersResponse",
            "properties": {
                "clusters": {
                    "description": "A list of clusters in the project in the specified zone, or across all ones.",
                    "items": {
                        "$ref": "Cluster"
                    },
                    "type": "array"
                },
                "missingZones": {
                    "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Cluster": {
            "description": "A Google Container Engine cluster.",
            "id": "Cluster",
            "properties": {
                "name": {
                    "description": "The name of this cluster. The name must be unique within this project and zone, and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
                    "type": "string"
                },
                "description": {
                    "description": "An optional description of this cluster.",
                    "type": "string"
                },
                "initialNodeCount": {
                    "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine resource quota is sufficient for this number of instances. You must also have available firewall and routes quota. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"node_config\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time.",
                    "format": "int32",
                    "type": "integer"
                },
                "nodeConfig": {
                    "$ref": "NodeConfig",
                    "description": "Parameters used in creating the cluster's nodes. See `nodeConfig` for the description of its properties. For requests, this field should only be used in lieu of a \"node_pool\" object, since this configuration (along with the \"initial_node_count\") will be used to create a \"NodePool\" object with an auto-generated name. Do not use this and a node_pool at the same time. For responses, this field will be populated with the node configuration of the first node pool. If unspecified, the defaults are used."
                },
                "masterAuth": {
                    "$ref": "MasterAuth",
                    "description": "The authentication information for accessing the master endpoint."
                },
                "loggingService": {
                    "description": "The logging service the cluster should use to write logs. Currently available options: * `logging.googleapis.com` - the Google Cloud Logging service. * `none` - no logs will be exported from the cluster. * if left as an empty string,`logging.googleapis.com` will be used.",
                    "type": "string"
                },
                "monitoringService": {
                    "description": "The monitoring service the cluster should use to write metrics. Currently available options: * `monitoring.googleapis.com` - the Google Cloud Monitoring service. * `none` - no metrics will be exported from the cluster. * if left as an empty string, `monitoring.googleapis.com` will be used.",
                    "type": "string"
                },
                "network": {
                    "description": "The name of the Google Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the cluster is connected. If left unspecified, the `default` network will be used.",
                    "type": "string"
                },
                "clusterIpv4Cidr": {
                    "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
                    "type": "string"
                },
                "addonsConfig": {
                    "$ref": "AddonsConfig",
                    "description": "Configurations for the various addons available to run in the cluster."
                },
                "subnetwork": {
                    "description": "The name of the Google Compute Engine [subnetwork](/compute/docs/subnetworks) to which the cluster is connected.",
                    "type": "string"
                },
                "nodePools": {
                    "description": "The node pools associated with this cluster. This field should not be set if \"node_config\" or \"initial_node_count\" are specified.",
                    "items": {
                        "$ref": "NodePool"
                    },
                    "type": "array"
                },
                "locations": {
                    "description": "The list of Google Compute Engine [locations](/compute/docs/zones#available) in which the cluster's nodes should be located.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "enableKubernetesAlpha": {
                    "description": "Kubernetes alpha features are enabled on this cluster. This includes alpha API groups (e.g. v1alpha1) and features that may not be production ready in the kubernetes version of the master and nodes. The cluster has no SLA for uptime and master/node upgrades are disabled. Alpha enabled clusters are automatically deleted thirty days after creation.",
                    "type": "boolean"
                },
                "selfLink": {
                    "description": "[Output only] Server-defined URL for the resource.",
                    "type": "string"
                },
                "zone": {
                    "description": "[Output only] The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                    "type": "string"
                },
                "endpoint": {
                    "description": "[Output only] The IP address of this cluster's master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
                    "type": "string"
                },
                "initialClusterVersion": {
                    "description": "[Output only] The software version of the master endpoint and kubelets used in the cluster when it was first created. The version can be upgraded over time.",
                    "type": "string"
                },
                "currentMasterVersion": {
                    "description": "[Output only] The current software version of the master endpoint.",
                    "type": "string"
                },
                "currentNodeVersion": {
                    "description": "[Output only] The current version of the node software components. If they are currently at multiple versions because they're in the process of being upgraded, this reflects the minimum version of all nodes.",
                    "type": "string"
                },
                "createTime": {
                    "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                    "type": "string"
                },
                "status": {
                    "description": "[Output only] The current status of this cluster.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PROVISIONING",
                        "RUNNING",
                        "RECONCILING",
                        "STOPPING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "description": "[Output only] Additional information about the current status of this cluster, if available.",
                    "type": "string"
                },
                "nodeIpv4CidrSize": {
                    "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the `container_ipv4_cidr` range.",
                    "format": "int32",
                    "type": "integer"
                },
                "servicesIpv4Cidr": {
                    "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last `/16` from the container CIDR.",
                    "type": "string"
                },
                "instanceGroupUrls": {
                    "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this cluster.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "currentNodeCount": {
                    "description": "[Output only] The number of nodes currently in the cluster.",
                    "format": "int32",
                    "type": "integer"
                },
                "expireTime": {
                    "description": "[Output only] The time the cluster will be automatically deleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "NodeConfig": {
            "description": "Parameters that describe the nodes in a cluster.",
            "id": "NodeConfig",
            "properties": {
                "machineType": {
                    "description": "The name of a Google Compute Engine [machine type](/compute/docs/machine-types) (e.g. `n1-standard-1`). If unspecified, the default machine type is `n1-standard-1`.",
                    "type": "string"
                },
                "diskSizeGb": {
                    "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
                    "format": "int32",
                    "type": "integer"
                },
                "oauthScopes": {
                    "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with **gcr.io** (the [Google Container Registry](/container-registry/)). If unspecified, no scopes are added, unless Cloud Logging or Cloud Monitoring are enabled, in which case their required scopes will be added.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "serviceAccount": {
                    "description": "The Google Cloud Platform Service Account to be used by the node VMs. If no Service Account is specified, the \"default\" service account is used.",
                    "type": "string"
                },
                "metadata": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The metadata key/value pairs assigned to instances in the cluster. Keys must conform to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes in length. These are reflected as part of a URL in the metadata server. Additionally, to avoid ambiguity, keys must not conflict with any other metadata keys for the project or be one of the four reserved keys: \"instance-template\", \"kube-env\", \"startup-script\", and \"user-data\" Values are free-form strings, and only have meaning as interpreted by the image running in the instance. The only restriction placed on them is that each value's size must be less than or equal to 32 KB. The total size of all keys and values must be less than 512 KB.",
                    "type": "object"
                },
                "imageType": {
                    "description": "The image type to use for this node. Note that for a given image type, the latest version of it will be used.",
                    "type": "string"
                },
                "labels": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: http://kubernetes.io/v1.1/docs/user-guide/labels.html",
                    "type": "object"
                },
                "localSsdCount": {
                    "description": "The number of local SSD disks to be attached to the node. The limit for this value is dependant upon the maximum number of disks available on a machine per zone. See: https://cloud.google.com/compute/docs/disks/local-ssd#local_ssd_limits for more information.",
                    "format": "int32",
                    "type": "integer"
                },
                "tags": {
                    "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster or node pool creation. Each tag within the list must comply with RFC1035.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "preemptible": {
                    "description": "Whether the nodes are created as preemptible VM instances. See: https://cloud.google.com/compute/docs/instances/preemptible for more inforamtion about preemptible VM instances.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "MasterAuth": {
            "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
            "id": "MasterAuth",
            "properties": {
                "username": {
                    "description": "The username to use for HTTP basic authentication to the master endpoint.",
                    "type": "string"
                },
                "password": {
                    "description": "The password to use for HTTP basic authentication to the master endpoint. Because the master endpoint is open to the Internet, you should create a strong password.",
                    "type": "string"
                },
                "clusterCaCertificate": {
                    "description": "[Output only] Base64-encoded public certificate that is the root of trust for the cluster.",
                    "type": "string"
                },
                "clientCertificate": {
                    "description": "[Output only] Base64-encoded public certificate used by clients to authenticate to the cluster endpoint.",
                    "type": "string"
                },
                "clientKey": {
                    "description": "[Output only] Base64-encoded private key used by clients to authenticate to the cluster endpoint.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddonsConfig": {
            "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality.",
            "id": "AddonsConfig",
            "properties": {
                "httpLoadBalancing": {
                    "$ref": "HttpLoadBalancing",
                    "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
                },
                "horizontalPodAutoscaling": {
                    "$ref": "HorizontalPodAutoscaling",
                    "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
                }
            },
            "type": "object"
        },
        "HttpLoadBalancing": {
            "description": "Configuration options for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster.",
            "id": "HttpLoadBalancing",
            "properties": {
                "disabled": {
                    "description": "Whether the HTTP Load Balancing controller is enabled in the cluster. When enabled, it runs a small pod in the cluster that manages the load balancers.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "HorizontalPodAutoscaling": {
            "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
            "id": "HorizontalPodAutoscaling",
            "properties": {
                "disabled": {
                    "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that a Heapster pod is running in the cluster, which is also used by the Cloud Monitoring service.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "NodePool": {
            "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
            "id": "NodePool",
            "properties": {
                "name": {
                    "description": "The name of the node pool.",
                    "type": "string"
                },
                "config": {
                    "$ref": "NodeConfig",
                    "description": "The node configuration of the pool."
                },
                "initialNodeCount": {
                    "description": "The initial node count for the pool. You must ensure that your Compute Engine resource quota is sufficient for this number of instances. You must also have available firewall and routes quota.",
                    "format": "int32",
                    "type": "integer"
                },
                "selfLink": {
                    "description": "[Output only] Server-defined URL for the resource.",
                    "type": "string"
                },
                "version": {
                    "description": "[Output only] The version of the Kubernetes of this node.",
                    "type": "string"
                },
                "instanceGroupUrls": {
                    "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this node pool.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "status": {
                    "description": "[Output only] The status of the nodes in this pool instance.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PROVISIONING",
                        "RUNNING",
                        "RUNNING_WITH_ERROR",
                        "RECONCILING",
                        "STOPPING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "description": "[Output only] Additional information about the current status of this node pool instance, if available.",
                    "type": "string"
                },
                "autoscaling": {
                    "$ref": "NodePoolAutoscaling",
                    "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present."
                },
                "management": {
                    "$ref": "NodeManagement",
                    "description": "NodeManagement configuration for this NodePool."
                }
            },
            "type": "object"
        },
        "NodePoolAutoscaling": {
            "description": "NodePoolAutoscaling contains information required by cluster autoscaler to adjust the size of the node pool to the current cluster usage.",
            "id": "NodePoolAutoscaling",
            "properties": {
                "enabled": {
                    "description": "Is autoscaling enabled for this node pool.",
                    "type": "boolean"
                },
                "minNodeCount": {
                    "description": "Minimum number of nodes in the NodePool. Must be >= 1 and <= max_node_count.",
                    "format": "int32",
                    "type": "integer"
                },
                "maxNodeCount": {
                    "description": "Maximum number of nodes in the NodePool. Must be >= min_node_count. There has to enough quota to scale up the cluster.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "NodeManagement": {
            "description": "NodeManagement defines the set of node management services turned on for the node pool.",
            "id": "NodeManagement",
            "properties": {
                "autoUpgrade": {
                    "description": "Whether the nodes will be automatically upgraded.",
                    "type": "boolean"
                },
                "upgradeOptions": {
                    "$ref": "AutoUpgradeOptions",
                    "description": "Specifies the Auto Upgrade knobs for the node pool."
                }
            },
            "type": "object"
        },
        "AutoUpgradeOptions": {
            "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed.",
            "id": "AutoUpgradeOptions",
            "properties": {
                "autoUpgradeStartTime": {
                    "description": "[Output only] This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                    "type": "string"
                },
                "description": {
                    "description": "[Output only] This field is set when upgrades are about to commence with the description of the upgrade.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateClusterRequest": {
            "description": "CreateClusterRequest creates a cluster.",
            "id": "CreateClusterRequest",
            "properties": {
                "cluster": {
                    "$ref": "Cluster",
                    "description": "A [cluster resource](/container-engine/reference/rest/v1/projects.zones.clusters)"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "This operation resource represents operations that may have happened or are happening on the cluster. All fields are output only.",
            "id": "Operation",
            "properties": {
                "name": {
                    "description": "The server-assigned ID for the operation.",
                    "type": "string"
                },
                "zone": {
                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the operation is taking place.",
                    "type": "string"
                },
                "operationType": {
                    "description": "The operation type.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CREATE_CLUSTER",
                        "DELETE_CLUSTER",
                        "UPGRADE_MASTER",
                        "UPGRADE_NODES",
                        "REPAIR_CLUSTER",
                        "UPDATE_CLUSTER",
                        "CREATE_NODE_POOL",
                        "DELETE_NODE_POOL",
                        "SET_NODE_POOL_MANAGEMENT"
                    ],
                    "type": "string"
                },
                "status": {
                    "description": "The current status of the operation.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "DONE",
                        "ABORTING"
                    ],
                    "type": "string"
                },
                "detail": {
                    "description": "Detailed operation progress, if available.",
                    "type": "string"
                },
                "statusMessage": {
                    "description": "If an error has occurred, a textual description of the error.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "Server-defined URL for the resource.",
                    "type": "string"
                },
                "targetLink": {
                    "description": "Server-defined URL for the target of the operation.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateClusterRequest": {
            "description": "UpdateClusterRequest updates the settings of a cluster.",
            "id": "UpdateClusterRequest",
            "properties": {
                "update": {
                    "$ref": "ClusterUpdate",
                    "description": "A description of the update."
                }
            },
            "type": "object"
        },
        "ClusterUpdate": {
            "description": "ClusterUpdate describes an update to the cluster. Exactly one update can be applied to a cluster with each request, so at most one field can be provided.",
            "id": "ClusterUpdate",
            "properties": {
                "desiredNodeVersion": {
                    "description": "The Kubernetes version to change the nodes to (typically an upgrade). Use `-` to upgrade to the latest version supported by the server.",
                    "type": "string"
                },
                "desiredMonitoringService": {
                    "description": "The monitoring service the cluster should use to write metrics. Currently available options: * \"monitoring.googleapis.com\" - the Google Cloud Monitoring service * \"none\" - no metrics will be exported from the cluster",
                    "type": "string"
                },
                "desiredAddonsConfig": {
                    "$ref": "AddonsConfig",
                    "description": "Configurations for the various addons available to run in the cluster."
                },
                "desiredNodePoolId": {
                    "description": "The node pool to be upgraded. This field is mandatory if \"desired_node_version\", \"desired_image_family\" or \"desired_node_pool_autoscaling\" is specified and there is more than one node pool on the cluster.",
                    "type": "string"
                },
                "desiredImageType": {
                    "description": "The desired image type for the node pool. NOTE: Set the \"desired_node_pool\" field as well.",
                    "type": "string"
                },
                "desiredNodePoolAutoscaling": {
                    "$ref": "NodePoolAutoscaling",
                    "description": "Autoscaler configuration for the node pool specified in desired_node_pool_id. If there is only one pool in the cluster and desired_node_pool_id is not provided then the change applies to that single node pool."
                },
                "desiredLocations": {
                    "description": "The desired list of Google Compute Engine [locations](/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "desiredMasterVersion": {
                    "description": "The Kubernetes version to change the master to. The only valid value is the latest supported version. Use \"-\" to have the server automatically select the latest version.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "ListOperationsResponse is the result of ListOperationsRequest.",
            "id": "ListOperationsResponse",
            "properties": {
                "operations": {
                    "description": "A list of operations in the project in the specified zone.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                },
                "missingZones": {
                    "description": "If any zones are listed here, the list of operations returned may be missing the operations from those zones.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CancelOperationRequest": {
            "description": "CancelOperationRequest cancels a single operation.",
            "id": "CancelOperationRequest",
            "type": "object"
        },
        "Empty": {
            "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
            "id": "Empty",
            "type": "object"
        },
        "ServerConfig": {
            "description": "Container Engine service configuration.",
            "id": "ServerConfig",
            "properties": {
                "defaultClusterVersion": {
                    "description": "Version of Kubernetes the service deploys by default.",
                    "type": "string"
                },
                "validNodeVersions": {
                    "description": "List of valid node upgrade target versions.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "defaultImageType": {
                    "description": "Default image type.",
                    "type": "string"
                },
                "validImageTypes": {
                    "description": "List of valid image types.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "validMasterVersions": {
                    "description": "List of valid master versions.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListNodePoolsResponse": {
            "description": "ListNodePoolsResponse is the result of ListNodePoolsRequest.",
            "id": "ListNodePoolsResponse",
            "properties": {
                "nodePools": {
                    "description": "A list of node pools for a cluster.",
                    "items": {
                        "$ref": "NodePool"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "CreateNodePoolRequest": {
            "description": "CreateNodePoolRequest creates a node pool for a cluster.",
            "id": "CreateNodePoolRequest",
            "properties": {
                "nodePool": {
                    "$ref": "NodePool",
                    "description": "The node pool to create."
                }
            },
            "type": "object"
        },
        "RollbackNodePoolUpgradeRequest": {
            "description": "RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed NodePool upgrade. This will be an no-op if the last upgrade successfully completed.",
            "id": "RollbackNodePoolUpgradeRequest",
            "type": "object"
        },
        "SetNodePoolManagementRequest": {
            "description": "SetNodePoolManagementRequest sets the node management properties of a node pool.",
            "id": "SetNodePoolManagementRequest",
            "properties": {
                "management": {
                    "$ref": "NodeManagement",
                    "description": "NodeManagement configuration for the node pool."
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Container Engine API",
    "version": "v1"
}