{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                }
            }
        }
    },
    "basePath": "/",
    "baseUrl": "https://container.googleapis.com/",
    "batchPath": "batch",
    "description": "The Google Container Engine API is used for building and managing container based applications, powered by the open source Kubernetes technology.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/container-engine/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/FD4oCwspiZqN6eCjsBmxDzsj5B8\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "container:v1",
    "kind": "discovery#restDescription",
    "name": "container",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "projects": {
            "resources": {
                "zones": {
                    "methods": {
                        "getServerconfig": {
                            "description": "Returns configuration info about the Container Engine service.",
                            "httpMethod": "GET",
                            "id": "container.projects.zones.getServerconfig",
                            "parameterOrder": [
                                "projectId",
                                "zone"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "zone": {
                                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for, or \"-\" for all zones.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v1/projects/{projectId}/zones/{zone}/serverconfig",
                            "response": {
                                "$ref": "ServerConfig"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "clusters": {
                            "methods": {
                                "list": {
                                    "description": "Lists all clusters owned by a project in either the specified zone or all zones.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides, or \"-\" for all zones.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "response": {
                                        "$ref": "ListClustersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a specific cluster.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.clusters.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to retrieve.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Cluster"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a cluster, consisting of the specified number and type of Google Compute Engine instances, plus a Kubernetes master endpoint. By default, the cluster is created in the project's [default network](/compute/docs/networking#networks_1). One firewall is added for the cluster. After cluster creation, the cluster creates routes for each node to allow the containers on that node to communicate with all other instances in the cluster. Finally, an entry is added to the project's global metadata indicating which CIDR range is being used by the cluster.",
                                    "httpMethod": "POST",
                                    "id": "container.projects.zones.clusters.create",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters",
                                    "request": {
                                        "$ref": "CreateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "description": "Update settings of a specific cluster.",
                                    "httpMethod": "PUT",
                                    "id": "container.projects.zones.clusters.update",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to upgrade.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "request": {
                                        "$ref": "UpdateClusterRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the cluster, including the Kubernetes endpoint and all worker nodes. Firewalls and routes that were configured during cluster creation are also deleted.",
                                    "httpMethod": "DELETE",
                                    "id": "container.projects.zones.clusters.delete",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "clusterId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "clusterId": {
                                            "description": "The name of the cluster to delete.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "list": {
                                    "description": "Lists all operations in a project in a specific zone or all zones.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.operations.list",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) to return operations for, or \"-\" for all zones.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Gets the specified operation.",
                                    "httpMethod": "GET",
                                    "id": "container.projects.zones.operations.get",
                                    "parameterOrder": [
                                        "projectId",
                                        "zone",
                                        "operationId"
                                    ],
                                    "parameters": {
                                        "projectId": {
                                            "description": "The Google Developers Console [project ID or project number](https://developers.google.com/console/help/new/#projectnumber).",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "zone": {
                                            "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "operationId": {
                                            "description": "The server-assigned `name` of the operation.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v1/projects/{projectId}/zones/{zone}/operations/{operationId}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "revision": "20150603",
    "rootUrl": "https://container.googleapis.com/",
    "schemas": {
        "ListClustersResponse": {
            "description": "ListClustersResponse is the result of ListClustersRequest.",
            "id": "ListClustersResponse",
            "properties": {
                "clusters": {
                    "description": "A list of clusters in the project in the specified zone, or across all ones.",
                    "items": {
                        "$ref": "Cluster"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Cluster": {
            "description": "A Google Container Engine cluster.",
            "id": "Cluster",
            "properties": {
                "name": {
                    "description": "The name of this cluster. The name must be unique within this project and zone, and can be up to 40 characters with the following restrictions: * Lowercase letters, numbers, and hyphens only. * Must start with a letter. * Must end with a number or a letter.",
                    "type": "string"
                },
                "description": {
                    "description": "An optional description of this cluster.",
                    "type": "string"
                },
                "initialNodeCount": {
                    "description": "The number of nodes to create in this cluster. You must ensure that your Compute Engine [resource quota](/compute/docs/resource-quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
                    "format": "int32",
                    "type": "integer"
                },
                "nodeConfig": {
                    "$ref": "NodeConfig",
                    "description": "Parameters used in creating the cluster's nodes. See the descriptions of the child properties of `nodeConfig`. If unspecified, the defaults for all child properties are used."
                },
                "masterAuth": {
                    "$ref": "MasterAuth",
                    "description": "The authentication information for accessing the master."
                },
                "loggingService": {
                    "description": "The logging service that the cluster should write logs to. Currently available options: * \"logging.googleapis.com\" - the Google Cloud Logging service * \"none\" - no logs will be exported from the cluster * \"\" - default value; the default is \"logging.googleapis.com\"",
                    "type": "string"
                },
                "monitoringService": {
                    "description": "The monitoring service that the cluster should write metrics to. Currently available options: * \"monitoring.googleapis.com\" - the Google Cloud Monitoring service * \"none\" - no metrics will be exported from the cluster * \"\" - default value; the default is \"monitoring.googleapis.com\"",
                    "type": "string"
                },
                "network": {
                    "description": "The name of the Google Compute Engine [network](/compute/docs/networking#networks_1) to which the cluster is connected. If left unspecified, the \"default\" network will be used.",
                    "type": "string"
                },
                "clusterIpv4Cidr": {
                    "description": "The IP address range of the container pods in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`). Leave blank to have one automatically chosen or specify a `/14` block in `10.0.0.0/8`.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "[Output only] Server-defined URL for the resource.",
                    "type": "string"
                },
                "zone": {
                    "description": "[Output only] The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the cluster resides.",
                    "type": "string"
                },
                "endpoint": {
                    "description": "[Output only] The IP address of this cluster's Kubernetes master endpoint. The endpoint can be accessed from the internet at `https://username:password@endpoint/`. See the `masterAuth` property of this resource for username and password information.",
                    "type": "string"
                },
                "initialClusterVersion": {
                    "description": "[Output only] The software version of Kubernetes master and kubelets used in the cluster when it was first created. The version can be upgraded over time.",
                    "type": "string"
                },
                "currentMasterVersion": {
                    "description": "[Output only] The current software version of the master endpoint.",
                    "type": "string"
                },
                "currentNodeVersion": {
                    "description": "[Output only] The current version of the node software components. If they are currently at different versions because they're in the process of being upgraded, this reflects the minimum version of any of them.",
                    "type": "string"
                },
                "createTime": {
                    "description": "[Output only] The time the cluster was created, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
                    "type": "string"
                },
                "status": {
                    "description": "[Output only] The current status of this cluster.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PROVISIONING",
                        "RUNNING",
                        "RECONCILING",
                        "STOPPING",
                        "ERROR"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "description": "[Output only] Additional information about the current status of this cluster, if available.",
                    "type": "string"
                },
                "nodeIpv4CidrSize": {
                    "description": "[Output only] The size of the address space on each node for hosting containers. This is provisioned from within the container_ipv4_cidr range.",
                    "format": "int32",
                    "type": "integer"
                },
                "servicesIpv4Cidr": {
                    "description": "[Output only] The IP address range of the Kubernetes services in this cluster, in [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `1.2.3.4/29`). Service addresses are typically put in the last /16 from the container CIDR.",
                    "type": "string"
                },
                "instanceGroupUrls": {
                    "description": "[Output only] The resource URLs of [instance groups](/compute/docs/instance-groups/) associated with this cluster.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "NodeConfig": {
            "description": "Per-node parameters.",
            "id": "NodeConfig",
            "properties": {
                "machineType": {
                    "description": "The name of a Google Compute Engine [machine type](/compute/docs/machine-types) (e.g. `n1-standard-1`). If unspecified, the default machine type is `n1-standard-1`.",
                    "type": "string"
                },
                "diskSizeGb": {
                    "description": "Size of the disk attached to each node, specified in GB. The smallest allowed disk size is 10GB. If unspecified, the default disk size is 100GB.",
                    "format": "int32",
                    "type": "integer"
                },
                "oauthScopes": {
                    "description": "The set of Google API scopes to be made available on all of the node VMs under the \"default\" service account. The following scopes are recommended, but not required, and by default are not included: * `https://www.googleapis.com/auth/compute` is required for mounting persistent storage on your nodes. * `https://www.googleapis.com/auth/devstorage.read_only` is required for communicating with *gcr.io*. If unspecified, no scopes are added.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "MasterAuth": {
            "description": "The authentication information for accessing the master endpoint. Authentication can be done using HTTP basic auth or using client certificates.",
            "id": "MasterAuth",
            "properties": {
                "username": {
                    "description": "The username to use for HTTP basic authentication when accessing the Kubernetes master endpoint.",
                    "type": "string"
                },
                "password": {
                    "description": "The password to use for HTTP basic authentication when accessing the Kubernetes master endpoint. Because the master endpoint is open to the internet, you should create a strong password.",
                    "type": "string"
                },
                "clusterCaCertificate": {
                    "description": "[Output only] Base64 encoded public certificate that is the root of trust for the cluster.",
                    "type": "string"
                },
                "clientCertificate": {
                    "description": "[Output only] Base64 encoded public certificate used by clients to authenticate to the cluster endpoint.",
                    "type": "string"
                },
                "clientKey": {
                    "description": "[Output only] Base64 encoded private key used by clients to authenticate to the cluster endpoint.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateClusterRequest": {
            "description": "CreateClusterRequest creates a cluster.",
            "id": "CreateClusterRequest",
            "properties": {
                "cluster": {
                    "$ref": "Cluster",
                    "description": "A [cluster resource](/container-engine/reference/rest/v1/projects.zones.clusters)"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "Defines the operation resource. All fields are output only.",
            "id": "Operation",
            "properties": {
                "name": {
                    "description": "The server-assigned ID for the operation.",
                    "type": "string"
                },
                "zone": {
                    "description": "The name of the Google Compute Engine [zone](/compute/docs/zones#available) in which the operation is taking place.",
                    "type": "string"
                },
                "operationType": {
                    "description": "The operation type.",
                    "enum": [
                        "TYPE_UNSPECIFIED",
                        "CREATE_CLUSTER",
                        "DELETE_CLUSTER",
                        "UPGRADE_MASTER",
                        "UPGRADE_NODES",
                        "REPAIR_CLUSTER"
                    ],
                    "type": "string"
                },
                "status": {
                    "description": "The current status of the operation.",
                    "enum": [
                        "STATUS_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "DONE"
                    ],
                    "type": "string"
                },
                "statusMessage": {
                    "description": "If an error has occurred, a textual description of the error.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "Server-defined URL for the resource.",
                    "type": "string"
                },
                "targetLink": {
                    "description": "Server-defined URL for the target of the operation.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateClusterRequest": {
            "description": "UpdateClusterRequest updates a cluster.",
            "id": "UpdateClusterRequest",
            "properties": {
                "update": {
                    "$ref": "ClusterUpdate",
                    "description": "A description of the update."
                }
            },
            "type": "object"
        },
        "ClusterUpdate": {
            "description": "ClusterUpdate describes an update to the cluster.",
            "id": "ClusterUpdate",
            "properties": {
                "desiredNodeVersion": {
                    "description": "The Kubernetes version to change the nodes to (typically an upgrade). Use \"-\" to upgrade to the latest version supported by the server.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "ListOperationsResponse is the result of ListOperationsRequest.",
            "id": "ListOperationsResponse",
            "properties": {
                "operations": {
                    "description": "A list of operations in the project in the specified zone.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ServerConfig": {
            "description": "Container Engine Server configuration.",
            "id": "ServerConfig",
            "properties": {
                "defaultClusterVersion": {
                    "description": "What version this server deploys by default.",
                    "type": "string"
                },
                "validNodeVersions": {
                    "description": "List of valid node upgrade target versions.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Container Engine API",
    "version": "v1"
}