{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/coordinate": {
                    "description": "View and manage your Google Maps Coordinate jobs"
                },
                "https://www.googleapis.com/auth/coordinate.readonly": {
                    "description": "View your Google Coordinate jobs"
                }
            }
        }
    },
    "basePath": "/coordinate/v1/",
    "baseUrl": "https://www.googleapis.com/coordinate/v1/",
    "batchPath": "batch",
    "description": "Lets you view and manage jobs in a Coordinate team.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/coordinate/",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/MnvBWhcZU7xS2iIEoZ2wSIQNHiQ\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "coordinate:v1",
    "kind": "discovery#restDescription",
    "name": "coordinate",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "customFieldDef": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of custom field definitions for a team.",
                    "httpMethod": "GET",
                    "id": "coordinate.customFieldDef.list",
                    "parameterOrder": [
                        "teamId"
                    ],
                    "parameters": {
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/custom_fields",
                    "response": {
                        "$ref": "CustomFieldDefListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                }
            }
        },
        "jobs": {
            "methods": {
                "get": {
                    "description": "Retrieves a job, including all the changes made to the job.",
                    "httpMethod": "GET",
                    "id": "coordinate.jobs.get",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}",
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                },
                "insert": {
                    "description": "Inserts a new job. Only the state field of the job should be set.",
                    "httpMethod": "POST",
                    "id": "coordinate.jobs.insert",
                    "parameterOrder": [
                        "teamId",
                        "address",
                        "lat",
                        "lng",
                        "title"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Job address as newline (Unix) separated string",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "assignee": {
                            "description": "Assignee email address, or empty string to unassign.",
                            "location": "query",
                            "type": "string"
                        },
                        "customField": {
                            "description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped '=' character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that '=' cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "customerName": {
                            "description": "Customer name",
                            "location": "query",
                            "type": "string"
                        },
                        "customerPhoneNumber": {
                            "description": "Customer phone number",
                            "location": "query",
                            "type": "string"
                        },
                        "lat": {
                            "description": "The latitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "required": true,
                            "type": "number"
                        },
                        "lng": {
                            "description": "The longitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "required": true,
                            "type": "number"
                        },
                        "note": {
                            "description": "Job note as newline (Unix) separated string",
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "title": {
                            "description": "Job title",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate"
                    ]
                },
                "list": {
                    "description": "Retrieves jobs created or modified since the given timestamp.",
                    "httpMethod": "GET",
                    "id": "coordinate.jobs.list",
                    "parameterOrder": [
                        "teamId"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of results to return in one page.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "minModifiedTimestampMs": {
                            "description": "Minimum time a job was modified in milliseconds since epoch.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "omitJobChanges": {
                            "description": "Whether to omit detail job history information.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "pageToken": {
                            "description": "Continuation token",
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs",
                    "response": {
                        "$ref": "JobListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates a job. Fields that are set in the job state will be updated. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "coordinate.jobs.patch",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Job address as newline (Unix) separated string",
                            "location": "query",
                            "type": "string"
                        },
                        "assignee": {
                            "description": "Assignee email address, or empty string to unassign.",
                            "location": "query",
                            "type": "string"
                        },
                        "customField": {
                            "description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped '=' character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that '=' cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "customerName": {
                            "description": "Customer name",
                            "location": "query",
                            "type": "string"
                        },
                        "customerPhoneNumber": {
                            "description": "Customer phone number",
                            "location": "query",
                            "type": "string"
                        },
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "lat": {
                            "description": "The latitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "type": "number"
                        },
                        "lng": {
                            "description": "The longitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "type": "number"
                        },
                        "note": {
                            "description": "Job note as newline (Unix) separated string",
                            "location": "query",
                            "type": "string"
                        },
                        "progress": {
                            "description": "Job progress",
                            "enum": [
                                "COMPLETED",
                                "IN_PROGRESS",
                                "NOT_ACCEPTED",
                                "NOT_STARTED",
                                "OBSOLETE"
                            ],
                            "enumDescriptions": [
                                "Completed",
                                "In progress",
                                "Not accepted",
                                "Not started",
                                "Obsolete"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "title": {
                            "description": "Job title",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate"
                    ]
                },
                "update": {
                    "description": "Updates a job. Fields that are set in the job state will be updated.",
                    "httpMethod": "PUT",
                    "id": "coordinate.jobs.update",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "address": {
                            "description": "Job address as newline (Unix) separated string",
                            "location": "query",
                            "type": "string"
                        },
                        "assignee": {
                            "description": "Assignee email address, or empty string to unassign.",
                            "location": "query",
                            "type": "string"
                        },
                        "customField": {
                            "description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped '=' character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that '=' cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "customerName": {
                            "description": "Customer name",
                            "location": "query",
                            "type": "string"
                        },
                        "customerPhoneNumber": {
                            "description": "Customer phone number",
                            "location": "query",
                            "type": "string"
                        },
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "lat": {
                            "description": "The latitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "type": "number"
                        },
                        "lng": {
                            "description": "The longitude coordinate of this job's location.",
                            "format": "double",
                            "location": "query",
                            "type": "number"
                        },
                        "note": {
                            "description": "Job note as newline (Unix) separated string",
                            "location": "query",
                            "type": "string"
                        },
                        "progress": {
                            "description": "Job progress",
                            "enum": [
                                "COMPLETED",
                                "IN_PROGRESS",
                                "NOT_ACCEPTED",
                                "NOT_STARTED",
                                "OBSOLETE"
                            ],
                            "enumDescriptions": [
                                "Completed",
                                "In progress",
                                "Not accepted",
                                "Not started",
                                "Obsolete"
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "title": {
                            "description": "Job title",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}",
                    "request": {
                        "$ref": "Job"
                    },
                    "response": {
                        "$ref": "Job"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate"
                    ]
                }
            }
        },
        "location": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of locations for a worker.",
                    "httpMethod": "GET",
                    "id": "coordinate.location.list",
                    "parameterOrder": [
                        "teamId",
                        "workerEmail",
                        "startTimestampMs"
                    ],
                    "parameters": {
                        "maxResults": {
                            "description": "Maximum number of results to return in one page.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Continuation token",
                            "location": "query",
                            "type": "string"
                        },
                        "startTimestampMs": {
                            "description": "Start timestamp in milliseconds since the epoch.",
                            "format": "uint64",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "workerEmail": {
                            "description": "Worker email address.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/workers/{workerEmail}/locations",
                    "response": {
                        "$ref": "LocationListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                }
            }
        },
        "schedule": {
            "methods": {
                "get": {
                    "description": "Retrieves the schedule for a job.",
                    "httpMethod": "GET",
                    "id": "coordinate.schedule.get",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}/schedule",
                    "response": {
                        "$ref": "Schedule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                },
                "patch": {
                    "description": "Replaces the schedule of a job with the provided schedule. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "coordinate.schedule.patch",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "allDay": {
                            "description": "Whether the job is scheduled for the whole day. Time of day in start/end times is ignored if this is true.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "duration": {
                            "description": "Job duration in milliseconds.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "endTime": {
                            "description": "Scheduled end time in milliseconds since epoch.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startTime": {
                            "description": "Scheduled start time in milliseconds since epoch.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}/schedule",
                    "request": {
                        "$ref": "Schedule"
                    },
                    "response": {
                        "$ref": "Schedule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate"
                    ]
                },
                "update": {
                    "description": "Replaces the schedule of a job with the provided schedule.",
                    "httpMethod": "PUT",
                    "id": "coordinate.schedule.update",
                    "parameterOrder": [
                        "teamId",
                        "jobId"
                    ],
                    "parameters": {
                        "allDay": {
                            "description": "Whether the job is scheduled for the whole day. Time of day in start/end times is ignored if this is true.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "duration": {
                            "description": "Job duration in milliseconds.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "endTime": {
                            "description": "Scheduled end time in milliseconds since epoch.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "jobId": {
                            "description": "Job number",
                            "format": "uint64",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "startTime": {
                            "description": "Scheduled start time in milliseconds since epoch.",
                            "format": "uint64",
                            "location": "query",
                            "type": "string"
                        },
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/jobs/{jobId}/schedule",
                    "request": {
                        "$ref": "Schedule"
                    },
                    "response": {
                        "$ref": "Schedule"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate"
                    ]
                }
            }
        },
        "team": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of teams for a user.",
                    "httpMethod": "GET",
                    "id": "coordinate.team.list",
                    "parameters": {
                        "admin": {
                            "description": "Whether to include teams for which the user has the Admin role.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "dispatcher": {
                            "description": "Whether to include teams for which the user has the Dispatcher role.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "worker": {
                            "description": "Whether to include teams for which the user has the Worker role.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "teams",
                    "response": {
                        "$ref": "TeamListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                }
            }
        },
        "worker": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of workers in a team.",
                    "httpMethod": "GET",
                    "id": "coordinate.worker.list",
                    "parameterOrder": [
                        "teamId"
                    ],
                    "parameters": {
                        "teamId": {
                            "description": "Team ID",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "teams/{teamId}/workers",
                    "response": {
                        "$ref": "WorkerListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/coordinate",
                        "https://www.googleapis.com/auth/coordinate.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20150811",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "CustomField": {
            "description": "Custom field.",
            "id": "CustomField",
            "properties": {
                "customFieldId": {
                    "description": "Custom field id.",
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#customField",
                    "description": "Identifies this object as a custom field.",
                    "type": "string"
                },
                "value": {
                    "description": "Custom field value.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomFieldDef": {
            "description": "Custom field definition.",
            "id": "CustomFieldDef",
            "properties": {
                "enabled": {
                    "description": "Whether the field is enabled.",
                    "type": "boolean"
                },
                "enumitems": {
                    "description": "List of enum items for this custom field. Populated only if the field type is enum. Enum fields appear as 'lists' in the Coordinate web and mobile UI.",
                    "items": {
                        "$ref": "EnumItemDef"
                    },
                    "type": "array"
                },
                "id": {
                    "description": "Custom field id.",
                    "format": "int64",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#customFieldDef",
                    "description": "Identifies this object as a custom field definition.",
                    "type": "string"
                },
                "name": {
                    "description": "Custom field name.",
                    "type": "string"
                },
                "requiredForCheckout": {
                    "description": "Whether the field is required for checkout.",
                    "type": "boolean"
                },
                "type": {
                    "description": "Custom field type.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomFieldDefListResponse": {
            "description": "Collection of custom field definitions for a team.",
            "id": "CustomFieldDefListResponse",
            "properties": {
                "items": {
                    "description": "Collection of custom field definitions in a team.",
                    "items": {
                        "$ref": "CustomFieldDef"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#customFieldDefList",
                    "description": "Identifies this object as a collection of custom field definitions in a team.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CustomFields": {
            "description": "Collection of custom fields.",
            "id": "CustomFields",
            "properties": {
                "customField": {
                    "description": "Collection of custom fields.",
                    "items": {
                        "$ref": "CustomField"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#customFields",
                    "description": "Identifies this object as a collection of custom fields.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "EnumItemDef": {
            "description": "Enum Item definition.",
            "id": "EnumItemDef",
            "properties": {
                "active": {
                    "description": "Whether the enum item is active. Jobs may contain inactive enum values; however, setting an enum to an inactive value when creating or updating a job will result in a 500 error.",
                    "type": "boolean"
                },
                "kind": {
                    "default": "coordinate#enumItemDef",
                    "description": "Identifies this object as an enum item definition.",
                    "type": "string"
                },
                "value": {
                    "description": "Custom field value.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Job": {
            "description": "A job.",
            "id": "Job",
            "properties": {
                "id": {
                    "description": "Job id.",
                    "format": "uint64",
                    "type": "string"
                },
                "jobChange": {
                    "description": "List of job changes since it was created. The first change corresponds to the state of the job when it was created.",
                    "items": {
                        "$ref": "JobChange"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#job",
                    "description": "Identifies this object as a job.",
                    "type": "string"
                },
                "state": {
                    "$ref": "JobState",
                    "description": "Current job state."
                }
            },
            "type": "object"
        },
        "JobChange": {
            "description": "Change to a job. For example assigning the job to a different worker.",
            "id": "JobChange",
            "properties": {
                "kind": {
                    "default": "coordinate#jobChange",
                    "description": "Identifies this object as a job change.",
                    "type": "string"
                },
                "state": {
                    "$ref": "JobState",
                    "description": "Change applied to the job. Only the fields that were changed are set."
                },
                "timestamp": {
                    "description": "Time at which this change was applied.",
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobListResponse": {
            "description": "Response from a List Jobs request.",
            "id": "JobListResponse",
            "properties": {
                "items": {
                    "description": "Jobs in the collection.",
                    "items": {
                        "$ref": "Job"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#jobList",
                    "description": "Identifies this object as a list of jobs.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "A token to provide to get the next page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "JobState": {
            "description": "Current state of a job.",
            "id": "JobState",
            "properties": {
                "assignee": {
                    "description": "Email address of the assignee, or the string \"DELETED_USER\" if the account is no longer available.",
                    "type": "string"
                },
                "customFields": {
                    "$ref": "CustomFields",
                    "description": "Custom fields."
                },
                "customerName": {
                    "description": "Customer name.",
                    "type": "string"
                },
                "customerPhoneNumber": {
                    "description": "Customer phone number.",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#jobState",
                    "description": "Identifies this object as a job state.",
                    "type": "string"
                },
                "location": {
                    "$ref": "Location",
                    "description": "Job location."
                },
                "note": {
                    "description": "Note added to the job.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "progress": {
                    "description": "Job progress.",
                    "type": "string"
                },
                "title": {
                    "description": "Job title.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Location": {
            "description": "Location of a job.",
            "id": "Location",
            "properties": {
                "addressLine": {
                    "description": "Address.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#location",
                    "description": "Identifies this object as a location.",
                    "type": "string"
                },
                "lat": {
                    "description": "Latitude.",
                    "format": "double",
                    "type": "number"
                },
                "lng": {
                    "description": "Longitude.",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "LocationListResponse": {
            "description": "Response from a List Locations request.",
            "id": "LocationListResponse",
            "properties": {
                "items": {
                    "description": "Locations in the collection.",
                    "items": {
                        "$ref": "LocationRecord"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#locationList",
                    "description": "Identifies this object as a list of locations.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "A token to provide to get the next page of results.",
                    "type": "string"
                },
                "tokenPagination": {
                    "$ref": "TokenPagination",
                    "description": "Pagination information for token pagination."
                }
            },
            "type": "object"
        },
        "LocationRecord": {
            "description": "Recorded location of a worker.",
            "id": "LocationRecord",
            "properties": {
                "collectionTime": {
                    "description": "The collection time in milliseconds since the epoch.",
                    "format": "int64",
                    "type": "string"
                },
                "confidenceRadius": {
                    "description": "The location accuracy in meters. This is the radius of a 95% confidence interval around the location measurement.",
                    "format": "double",
                    "type": "number"
                },
                "kind": {
                    "default": "coordinate#locationRecord",
                    "description": "Identifies this object as a location.",
                    "type": "string"
                },
                "latitude": {
                    "description": "Latitude.",
                    "format": "double",
                    "type": "number"
                },
                "longitude": {
                    "description": "Longitude.",
                    "format": "double",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "Schedule": {
            "description": "Job schedule.",
            "id": "Schedule",
            "properties": {
                "allDay": {
                    "description": "Whether the job is scheduled for the whole day. Time of day in start/end times is ignored if this is true.",
                    "type": "boolean"
                },
                "duration": {
                    "description": "Job duration in milliseconds.",
                    "format": "uint64",
                    "type": "string"
                },
                "endTime": {
                    "description": "Scheduled end time in milliseconds since epoch.",
                    "format": "uint64",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#schedule",
                    "description": "Identifies this object as a job schedule.",
                    "type": "string"
                },
                "startTime": {
                    "description": "Scheduled start time in milliseconds since epoch.",
                    "format": "uint64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Team": {
            "description": "A Coordinate team.",
            "id": "Team",
            "properties": {
                "id": {
                    "description": "Team id, as found in a coordinate team url e.g. https://coordinate.google.com/f/xyz where \"xyz\" is the team id.",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#team",
                    "description": "Identifies this object as a team.",
                    "type": "string"
                },
                "name": {
                    "description": "Team name",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TeamListResponse": {
            "description": "Response from a List Teams request.",
            "id": "TeamListResponse",
            "properties": {
                "items": {
                    "description": "Teams in the collection.",
                    "items": {
                        "$ref": "Team"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#teamList",
                    "description": "Identifies this object as a list of teams.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TokenPagination": {
            "description": "Pagination information.",
            "id": "TokenPagination",
            "properties": {
                "kind": {
                    "default": "coordinate#tokenPagination",
                    "description": "Identifies this object as pagination information.",
                    "type": "string"
                },
                "nextPageToken": {
                    "description": "A token to provide to get the next page of results.",
                    "type": "string"
                },
                "previousPageToken": {
                    "description": "A token to provide to get the previous page of results.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Worker": {
            "description": "A worker in a Coordinate team.",
            "id": "Worker",
            "properties": {
                "id": {
                    "description": "Worker email address. If a worker has been deleted from your team, the email address will appear as DELETED_USER.",
                    "type": "string"
                },
                "kind": {
                    "default": "coordinate#worker",
                    "description": "Identifies this object as a worker.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WorkerListResponse": {
            "description": "Response from a List Workers request.",
            "id": "WorkerListResponse",
            "properties": {
                "items": {
                    "description": "Workers in the collection.",
                    "items": {
                        "$ref": "Worker"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "coordinate#workerList",
                    "description": "Identifies this object as a list of workers.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "coordinate/v1/",
    "title": "Google Maps Coordinate API",
    "version": "v1"
}