{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/logging.admin": {
                    "description": "Administrate log data for your projects"
                },
                "https://www.googleapis.com/auth/logging.read": {
                    "description": "View log data for your projects"
                },
                "https://www.googleapis.com/auth/logging.write": {
                    "description": "Submit log data for your projects"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://dataproc.googleapis.com/",
    "batchPath": "batch",
    "description": "An API for managing Hadoop-based clusters and jobs on Google Cloud Platform.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/dataproc/",
    "etag": "\"bRFOOrZKfO9LweMbPqu0kcu6De8/SwbI7Wkwq3WInAaOPvGsFVm-5Tw\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "dataproc:v1",
    "kind": "discovery#restDescription",
    "name": "dataproc",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "media": {
            "methods": {
                "upload": {
                    "description": "Method for media upload. Upload is supported on the URI `/upload/v1/media/{+name}`.",
                    "httpMethod": "POST",
                    "id": "dataproc.media.upload",
                    "mediaUpload": {
                        "accept": [
                            "*/*"
                        ],
                        "protocols": {
                            "resumable": {
                                "multipart": true,
                                "path": "/resumable/upload/v1/media/{+resourceName}"
                            },
                            "simple": {
                                "multipart": true,
                                "path": "/upload/v1/media/{+resourceName}"
                            }
                        }
                    },
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "description": "Name of the media that is being downloaded. See [][ByteStream.ReadRequest.resource_name].",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/media/{+resourceName}",
                    "request": {
                        "$ref": "Media"
                    },
                    "response": {
                        "$ref": "Media"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read",
                        "https://www.googleapis.com/auth/logging.write"
                    ],
                    "supportsMediaUpload": true
                },
                "download": {
                    "description": "Method for media download. Download is supported on the URI `/v1/media/{+name}?alt=media`.",
                    "httpMethod": "GET",
                    "id": "dataproc.media.download",
                    "parameterOrder": [
                        "resourceName"
                    ],
                    "parameters": {
                        "resourceName": {
                            "description": "Name of the media that is being downloaded. See [][ByteStream.ReadRequest.resource_name].",
                            "location": "path",
                            "pattern": "^.*$",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v1/media/{+resourceName}",
                    "response": {
                        "$ref": "Media"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/logging.admin",
                        "https://www.googleapis.com/auth/logging.read",
                        "https://www.googleapis.com/auth/logging.write"
                    ],
                    "supportsMediaDownload": true
                }
            }
        }
    },
    "revision": "20151209",
    "rootUrl": "https://dataproc.googleapis.com/",
    "schemas": {
        "Media": {
            "description": "Media resource.",
            "id": "Media",
            "properties": {
                "resourceName": {
                    "description": "Name of the media resource.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DiagnoseClusterOutputLocation": {
            "description": "The location where output from diagnostic command can be found.",
            "id": "DiagnoseClusterOutputLocation",
            "properties": {
                "outputUri": {
                    "description": "[Output-only] The Google Cloud Storage URI of the diagnostic output. This will be a plain text file with summary of collected diagnostics.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationMetadata": {
            "description": "Metadata describing the operation.",
            "id": "OperationMetadata",
            "properties": {
                "state": {
                    "description": "A message containing the operation state.",
                    "enum": [
                        "UNKNOWN",
                        "PENDING",
                        "RUNNING",
                        "DONE"
                    ],
                    "type": "string"
                },
                "innerState": {
                    "description": "A message containing the detailed operation state.",
                    "type": "string"
                },
                "details": {
                    "description": "A message containing any operation metadata details.",
                    "type": "string"
                },
                "insertTime": {
                    "description": "The time that the operation was requested.",
                    "type": "string"
                },
                "startTime": {
                    "description": "The time that the operation was started by the server.",
                    "type": "string"
                },
                "endTime": {
                    "description": "The time that the operation completed.",
                    "type": "string"
                },
                "clusterName": {
                    "description": "Name of the cluster for the operation.",
                    "type": "string"
                },
                "clusterUuid": {
                    "description": "Cluster UUId for the operation.",
                    "type": "string"
                },
                "status": {
                    "$ref": "OperationStatus",
                    "description": "[Output-only] Current operation status."
                },
                "statusHistory": {
                    "description": "[Output-only] Previous operation status.",
                    "items": {
                        "$ref": "OperationStatus"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "OperationStatus": {
            "description": "The status of the operation.",
            "id": "OperationStatus",
            "properties": {
                "state": {
                    "description": "A message containing the operation state.",
                    "enum": [
                        "UNKNOWN",
                        "PENDING",
                        "RUNNING",
                        "DONE"
                    ],
                    "type": "string"
                },
                "innerState": {
                    "description": "A message containing the detailed operation state.",
                    "type": "string"
                },
                "details": {
                    "description": "A message containing any operation metadata details.",
                    "type": "string"
                },
                "stateStartTime": {
                    "description": "The time this state was entered.",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "",
    "title": "Google Cloud Dataproc API",
    "version": "v1"
}