{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "View and manage your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/cloud-platform.read-only": {
                    "description": "View your data across Google Cloud Platform services"
                },
                "https://www.googleapis.com/auth/ndev.cloudman": {
                    "description": "View and manage your Google Cloud Platform management resources and deployment status information"
                },
                "https://www.googleapis.com/auth/ndev.cloudman.readonly": {
                    "description": "View your Google Cloud Platform management resources and deployment status information"
                }
            }
        }
    },
    "basePath": "/deploymentmanager/v2/projects/",
    "baseUrl": "https://www.googleapis.com/deploymentmanager/v2/projects/",
    "batchPath": "batch",
    "canonicalName": "Deployment Manager",
    "description": "Declares, configures, and deploys complex solutions on Google Cloud Platform.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/deployment-manager/",
    "etag": "\"C5oy1hgQsABtYOYIOXWcR3BgYqU/oyMMQHi-RabrsOdML-FXKXh2I64\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "deploymentmanager:v2",
    "kind": "discovery#restDescription",
    "name": "deploymentmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "deployments": {
            "methods": {
                "cancelPreview": {
                    "description": "Cancels and removes the preview currently associated with the deployment.",
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.cancelPreview",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/cancelPreview",
                    "request": {
                        "$ref": "DeploymentsCancelPreviewRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "delete": {
                    "description": "Deletes a deployment and all of the resources in the deployment.",
                    "httpMethod": "DELETE",
                    "id": "deploymentmanager.deployments.delete",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "get": {
                    "description": "Gets information about a specific deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.get",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "response": {
                        "$ref": "Deployment"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "insert": {
                    "description": "Creates a deployment and all of the resources described by the deployment manifest.",
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.insert",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "preview": {
                            "description": "If set to true, creates a deployment and creates \"shell\" resources but does not actually instantiate these resources. This allows you to preview what your deployment looks like. After previewing a deployment, you can deploy your resources by making a request with the update() method or you can use the cancelPreview() method to cancel the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "list": {
                    "description": "Lists all deployments for a given project.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.deployments.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments",
                    "response": {
                        "$ref": "DeploymentsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "patch": {
                    "description": "Updates a deployment and all of the resources described by the deployment manifest. This method supports patch semantics.",
                    "httpMethod": "PATCH",
                    "id": "deploymentmanager.deployments.patch",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "createPolicy": {
                            "default": "CREATE_OR_ACQUIRE",
                            "description": "Sets the policy to use for creating new resources.",
                            "enum": [
                                "ACQUIRE",
                                "CREATE_OR_ACQUIRE"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deletePolicy": {
                            "default": "DELETE",
                            "description": "Sets the policy to use for deleting resources.",
                            "enum": [
                                "ABANDON",
                                "DELETE"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "preview": {
                            "default": "false",
                            "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "stop": {
                    "description": "Stops an ongoing operation. This does not roll back any work that has already been completed, but prevents any new work from being started.",
                    "httpMethod": "POST",
                    "id": "deploymentmanager.deployments.stop",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/stop",
                    "request": {
                        "$ref": "DeploymentsStopRequest"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                },
                "update": {
                    "description": "Updates a deployment and all of the resources described by the deployment manifest.",
                    "httpMethod": "PUT",
                    "id": "deploymentmanager.deployments.update",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "createPolicy": {
                            "default": "CREATE_OR_ACQUIRE",
                            "description": "Sets the policy to use for creating new resources.",
                            "enum": [
                                "ACQUIRE",
                                "CREATE_OR_ACQUIRE"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deletePolicy": {
                            "default": "DELETE",
                            "description": "Sets the policy to use for deleting resources.",
                            "enum": [
                                "ABANDON",
                                "DELETE"
                            ],
                            "enumDescriptions": [
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "preview": {
                            "default": "false",
                            "description": "If set to true, updates the deployment and creates and updates the \"shell\" resources but does not actually alter or instantiate these resources. This allows you to preview what your deployment will look like. You can use this intent to preview how an update would affect your deployment. You must provide a target.config with a configuration if this is set to true. After previewing a deployment, you can deploy your resources by making a request with the update() or you can cancelPreview() to remove the preview altogether. Note that the deployment will still exist after you cancel the preview and you must separately delete this deployment if you want to remove it.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}",
                    "request": {
                        "$ref": "Deployment"
                    },
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/ndev.cloudman"
                    ]
                }
            }
        },
        "manifests": {
            "methods": {
                "get": {
                    "description": "Gets information about a specific manifest.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "manifest"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "manifest": {
                            "description": "The name of the manifest for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests/{manifest}",
                    "response": {
                        "$ref": "Manifest"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "Lists all manifests for a given deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.manifests.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/manifests",
                    "response": {
                        "$ref": "ManifestsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "operations": {
            "methods": {
                "get": {
                    "description": "Gets information about a specific operation.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.get",
                    "parameterOrder": [
                        "project",
                        "operation"
                    ],
                    "parameters": {
                        "operation": {
                            "description": "The name of the operation for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations/{operation}",
                    "response": {
                        "$ref": "Operation"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "Lists all operations for a project.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.operations.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/operations",
                    "response": {
                        "$ref": "OperationsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "resources": {
            "methods": {
                "get": {
                    "description": "Gets information about a single resource.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.get",
                    "parameterOrder": [
                        "project",
                        "deployment",
                        "resource"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        },
                        "resource": {
                            "description": "The name of the resource for this request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources/{resource}",
                    "response": {
                        "$ref": "Resource"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                },
                "list": {
                    "description": "Lists all resources in a given deployment.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.resources.list",
                    "parameterOrder": [
                        "project",
                        "deployment"
                    ],
                    "parameters": {
                        "deployment": {
                            "description": "The name of the deployment for this request.",
                            "location": "path",
                            "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
                            "required": true,
                            "type": "string"
                        },
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/deployments/{deployment}/resources",
                    "response": {
                        "$ref": "ResourcesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        },
        "types": {
            "methods": {
                "list": {
                    "description": "Lists all resource types for Deployment Manager.",
                    "httpMethod": "GET",
                    "id": "deploymentmanager.types.list",
                    "parameterOrder": [
                        "project"
                    ],
                    "parameters": {
                        "filter": {
                            "description": "Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nYou can filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. Use filtering on nested fields to take advantage of labels to organize and search for results based on label values.\n\nTo filter on multiple expressions, provide each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "default": "500",
                            "description": "The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.",
                            "format": "uint32",
                            "location": "query",
                            "maximum": "500",
                            "minimum": "0",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.",
                            "location": "query",
                            "type": "string"
                        },
                        "project": {
                            "description": "The project ID for this request.",
                            "location": "path",
                            "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "{project}/global/types",
                    "response": {
                        "$ref": "TypesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/ndev.cloudman",
                        "https://www.googleapis.com/auth/ndev.cloudman.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20160731",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "ConfigFile": {
            "description": "",
            "id": "ConfigFile",
            "properties": {
                "content": {
                    "description": "The contents of the file.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Deployment": {
            "description": "",
            "id": "Deployment",
            "properties": {
                "description": {
                    "description": "An optional user-provided description of the deployment.",
                    "type": "string"
                },
                "fingerprint": {
                    "description": "Provides a fingerprint to use in requests to modify a deployment, such as update(), stop(), and cancelPreview() requests. A fingerprint is a randomly generated value that must be provided with update(), stop(), and cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that only one request happens at a time.\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify data. To get the latest fingerprint value, perform a get() request to a deployment.",
                    "format": "byte",
                    "type": "string"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "description": "[Output Only] Timestamp when the deployment was created, in RFC3339 text format .",
                    "type": "string"
                },
                "labels": {
                    "description": "Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?",
                    "items": {
                        "$ref": "DeploymentLabelEntry"
                    },
                    "type": "array"
                },
                "manifest": {
                    "description": "[Output Only] URL of the manifest representing the last manifest that was successfully deployed.",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the resource; provided by the client when the resource is created. The name must be 1-63 characters long, and comply with RFC1035. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])? which means the first character must be a lowercase letter, and all following characters must be a dash, lowercase letter, or digit, except the last character, which cannot be a dash.",
                    "type": "string"
                },
                "operation": {
                    "$ref": "Operation",
                    "description": "[Output Only] The Operation that most recently ran, or is currently running, on this deployment."
                },
                "selfLink": {
                    "description": "[Output Only] Self link for the deployment.",
                    "type": "string"
                },
                "target": {
                    "$ref": "TargetConfiguration",
                    "description": "[Input Only] The parameters that define your deployment, including the deployment configuration and relevant templates."
                },
                "update": {
                    "$ref": "DeploymentUpdate",
                    "description": "[Output Only] If Deployment Manager is currently updating or previewing an update to this deployment, the updated configuration appears here."
                }
            },
            "type": "object"
        },
        "DeploymentLabelEntry": {
            "id": "DeploymentLabelEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentUpdate": {
            "description": "",
            "id": "DeploymentUpdate",
            "properties": {
                "labels": {
                    "description": "[Output Only] Map of labels; provided by the client when the resource is created or updated. Specifically: Label keys must be between 1 and 63 characters long and must conform to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?",
                    "items": {
                        "$ref": "DeploymentUpdateLabelEntry"
                    },
                    "type": "array"
                },
                "manifest": {
                    "description": "[Output Only] URL of the manifest representing the update configuration of this deployment.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentUpdateLabelEntry": {
            "id": "DeploymentUpdateLabelEntry",
            "properties": {
                "key": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsCancelPreviewRequest": {
            "description": "",
            "id": "DeploymentsCancelPreviewRequest",
            "properties": {
                "fingerprint": {
                    "description": "Specifies a fingerprint for cancelPreview() requests. A fingerprint is a randomly generated value that must be provided in cancelPreview() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to cancel a preview, this would prevent one of the requests).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsListResponse": {
            "description": "A response containing a partial list of deployments and a page token used to build the next request if the request has been truncated.",
            "id": "DeploymentsListResponse",
            "properties": {
                "deployments": {
                    "description": "[Output Only] The deployments contained in this response.",
                    "items": {
                        "$ref": "Deployment"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeploymentsStopRequest": {
            "description": "",
            "id": "DeploymentsStopRequest",
            "properties": {
                "fingerprint": {
                    "description": "Specifies a fingerprint for stop() requests. A fingerprint is a randomly generated value that must be provided in stop() requests to perform optimistic locking. This ensures optimistic concurrency so that the deployment does not have conflicting requests (e.g. if someone attempts to make a new update request while another user attempts to stop an ongoing update request, this would prevent a collision).\n\nThe fingerprint is initially generated by Deployment Manager and changes after every request to modify a deployment. To get the latest fingerprint value, perform a get() request on the deployment.",
                    "format": "byte",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ImportFile": {
            "description": "",
            "id": "ImportFile",
            "properties": {
                "content": {
                    "description": "The contents of the file.",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the file.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Manifest": {
            "description": "",
            "id": "Manifest",
            "properties": {
                "config": {
                    "$ref": "ConfigFile",
                    "description": "[Output Only] The YAML configuration for this manifest."
                },
                "expandedConfig": {
                    "description": "[Output Only] The fully-expanded configuration file, including any templates and references.",
                    "type": "string"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "imports": {
                    "description": "[Output Only] The imported files for this manifest.",
                    "items": {
                        "$ref": "ImportFile"
                    },
                    "type": "array"
                },
                "insertTime": {
                    "description": "[Output Only] Timestamp when the manifest was created, in RFC3339 text format.",
                    "type": "string"
                },
                "layout": {
                    "description": "[Output Only] The YAML layout for this manifest.",
                    "type": "string"
                },
                "name": {
                    "description": "[Output Only] The name of the manifest.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "[Output Only] Self link for the manifest.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ManifestsListResponse": {
            "description": "A response containing a partial list of manifests and a page token used to build the next request if the request has been truncated.",
            "id": "ManifestsListResponse",
            "properties": {
                "manifests": {
                    "description": "[Output Only] Manifests contained in this list response.",
                    "items": {
                        "$ref": "Manifest"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Operation": {
            "description": "An Operation resource, used to manage asynchronous API requests.",
            "id": "Operation",
            "properties": {
                "clientOperationId": {
                    "description": "[Output Only] Reserved for future use.",
                    "type": "string"
                },
                "creationTimestamp": {
                    "description": "[Output Only] Creation timestamp in RFC3339 text format.",
                    "type": "string"
                },
                "description": {
                    "description": "[Output Only] A textual description of the operation, which is set when the operation is created.",
                    "type": "string"
                },
                "endTime": {
                    "description": "[Output Only] The time that this operation was completed. This value is in RFC3339 text format.",
                    "type": "string"
                },
                "error": {
                    "description": "[Output Only] If errors are generated during processing of the operation, this field will be populated.",
                    "properties": {
                        "errors": {
                            "description": "[Output Only] The array of errors encountered while processing this operation.",
                            "items": {
                                "properties": {
                                    "code": {
                                        "description": "[Output Only] The error type identifier for this error.",
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "[Output Only] An optional, human-readable error message.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "httpErrorMessage": {
                    "description": "[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.",
                    "type": "string"
                },
                "httpErrorStatusCode": {
                    "description": "[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.",
                    "format": "int32",
                    "type": "integer"
                },
                "id": {
                    "description": "[Output Only] The unique identifier for the resource. This identifier is defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "description": "[Output Only] The time that this operation was requested. This value is in RFC3339 text format.",
                    "type": "string"
                },
                "kind": {
                    "default": "deploymentmanager#operation",
                    "description": "[Output Only] Type of the resource. Always compute#operation for Operation resources.",
                    "type": "string"
                },
                "name": {
                    "description": "[Output Only] Name of the resource.",
                    "type": "string"
                },
                "operationType": {
                    "description": "[Output Only] The type of operation, such as insert, update, or delete, and so on.",
                    "type": "string"
                },
                "progress": {
                    "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.",
                    "format": "int32",
                    "type": "integer"
                },
                "region": {
                    "description": "[Output Only] The URL of the region where the operation resides. Only available when performing regional operations.",
                    "type": "string"
                },
                "selfLink": {
                    "description": "[Output Only] Server-defined URL for the resource.",
                    "type": "string"
                },
                "startTime": {
                    "description": "[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.",
                    "type": "string"
                },
                "status": {
                    "description": "[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.",
                    "type": "string"
                },
                "statusMessage": {
                    "description": "[Output Only] An optional textual description of the current status of the operation.",
                    "type": "string"
                },
                "targetId": {
                    "description": "[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.",
                    "format": "uint64",
                    "type": "string"
                },
                "targetLink": {
                    "description": "[Output Only] The URL of the resource that the operation modifies.",
                    "type": "string"
                },
                "user": {
                    "description": "[Output Only] User who requested the operation, for example: user@example.com.",
                    "type": "string"
                },
                "warnings": {
                    "description": "[Output Only] If warning messages are generated during processing of the operation, this field will be populated.",
                    "items": {
                        "properties": {
                            "code": {
                                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                                "type": "string"
                            },
                            "data": {
                                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "[Output Only] A warning data value corresponding to the key.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "description": "[Output Only] A human-readable description of the warning code.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "zone": {
                    "description": "[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "OperationsListResponse": {
            "description": "A response containing a partial list of operations and a page token used to build the next request if the request has been truncated.",
            "id": "OperationsListResponse",
            "properties": {
                "nextPageToken": {
                    "description": "[Output Only] A token used to continue a truncated list request.",
                    "type": "string"
                },
                "operations": {
                    "description": "[Output Only] Operations contained in this list response.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Resource": {
            "description": "",
            "id": "Resource",
            "properties": {
                "finalProperties": {
                    "description": "[Output Only] The evaluated properties of the resource with references expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "description": "[Output Only] Timestamp when the resource was created or acquired, in RFC3339 text format .",
                    "type": "string"
                },
                "manifest": {
                    "description": "[Output Only] URL of the manifest representing the current configuration of this resource.",
                    "type": "string"
                },
                "name": {
                    "description": "[Output Only] The name of the resource as it appears in the YAML config.",
                    "type": "string"
                },
                "properties": {
                    "description": "[Output Only] The current properties of the resource before any references have been filled in. Returned as serialized YAML.",
                    "type": "string"
                },
                "type": {
                    "description": "[Output Only] The type of the resource, for example compute.v1.instance, or replicaPools.v1beta2.instanceGroupManager.",
                    "type": "string"
                },
                "update": {
                    "$ref": "ResourceUpdate",
                    "description": "[Output Only] If Deployment Manager is currently updating or previewing an update to this resource, the updated configuration appears here."
                },
                "updateTime": {
                    "description": "[Output Only] Timestamp when the resource was updated, in RFC3339 text format .",
                    "type": "string"
                },
                "url": {
                    "description": "[Output Only] The URL of the actual resource.",
                    "type": "string"
                },
                "warnings": {
                    "description": "[Output Only] If warning messages are generated during processing of this resource, this field will be populated.",
                    "items": {
                        "properties": {
                            "code": {
                                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                                "type": "string"
                            },
                            "data": {
                                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "[Output Only] A warning data value corresponding to the key.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "description": "[Output Only] A human-readable description of the warning code.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourceUpdate": {
            "description": "",
            "id": "ResourceUpdate",
            "properties": {
                "error": {
                    "description": "[Output Only] If errors are generated during update of the resource, this field will be populated.",
                    "properties": {
                        "errors": {
                            "description": "[Output Only] The array of errors encountered while processing this operation.",
                            "items": {
                                "properties": {
                                    "code": {
                                        "description": "[Output Only] The error type identifier for this error.",
                                        "type": "string"
                                    },
                                    "location": {
                                        "description": "[Output Only] Indicates the field in the request that caused the error. This property is optional.",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "[Output Only] An optional, human-readable error message.",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "type": "array"
                        }
                    },
                    "type": "object"
                },
                "finalProperties": {
                    "description": "[Output Only] The expanded properties of the resource with reference values expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                "intent": {
                    "description": "[Output Only] The intent of the resource: PREVIEW, UPDATE, or CANCEL.",
                    "type": "string"
                },
                "manifest": {
                    "description": "[Output Only] URL of the manifest representing the update configuration of this resource.",
                    "type": "string"
                },
                "properties": {
                    "description": "[Output Only] The set of updated properties for this resource, before references are expanded. Returned as serialized YAML.",
                    "type": "string"
                },
                "state": {
                    "description": "[Output Only] The state of the resource.",
                    "type": "string"
                },
                "warnings": {
                    "description": "[Output Only] If warning messages are generated during processing of this resource, this field will be populated.",
                    "items": {
                        "properties": {
                            "code": {
                                "description": "[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.",
                                "type": "string"
                            },
                            "data": {
                                "description": "[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }",
                                "items": {
                                    "properties": {
                                        "key": {
                                            "description": "[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "[Output Only] A warning data value corresponding to the key.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "description": "[Output Only] A human-readable description of the warning code.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ResourcesListResponse": {
            "description": "A response containing a partial list of resources and a page token used to build the next request if the request has been truncated.",
            "id": "ResourcesListResponse",
            "properties": {
                "nextPageToken": {
                    "description": "A token used to continue a truncated list request.",
                    "type": "string"
                },
                "resources": {
                    "description": "Resources contained in this list response.",
                    "items": {
                        "$ref": "Resource"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TargetConfiguration": {
            "description": "",
            "id": "TargetConfiguration",
            "properties": {
                "config": {
                    "$ref": "ConfigFile",
                    "description": "The configuration to use for this deployment."
                },
                "imports": {
                    "description": "Specifies any files to import for this configuration. This can be used to import templates or other files. For example, you might import a text file in order to use the file in a template.",
                    "items": {
                        "$ref": "ImportFile"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Type": {
            "description": "A resource type supported by Deployment Manager.",
            "id": "Type",
            "properties": {
                "id": {
                    "description": "[Output Only] Unique identifier for the resource; defined by the server.",
                    "format": "uint64",
                    "type": "string"
                },
                "insertTime": {
                    "description": "[Output Only] Timestamp when the type was created, in RFC3339 text format.",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the type.",
                    "type": "string"
                },
                "operation": {
                    "$ref": "Operation",
                    "description": "[Output Only] The Operation that most recently ran, or is currently running, on this type."
                },
                "selfLink": {
                    "description": "[Output Only] Self link for the type.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "TypesListResponse": {
            "description": "A response that returns all Types supported by Deployment Manager",
            "id": "TypesListResponse",
            "properties": {
                "nextPageToken": {
                    "description": "A token used to continue a truncated list request.",
                    "type": "string"
                },
                "types": {
                    "description": "[Output Only] A list of resource types supported by Deployment Manager.",
                    "items": {
                        "$ref": "Type"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "deploymentmanager/v2/projects/",
    "title": "Google Cloud Deployment Manager API",
    "version": "v2"
}