{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/mapsengine": {
                    "description": "View and manage your Google My Maps data"
                },
                "https://www.googleapis.com/auth/mapsengine.readonly": {
                    "description": "View your Google My Maps data"
                }
            }
        }
    },
    "basePath": "/mapsengine/v1/",
    "baseUrl": "https://www.googleapis.com/mapsengine/v1/",
    "batchPath": "batch",
    "canonicalName": "Maps Engine",
    "description": "The Google Maps Engine API allows developers to store and query geospatial vector and raster data.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/maps-engine/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/v-eOcb_2yOgozMnj3_3VkSFffEI\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/maps_engine-16.png",
        "x32": "https://www.google.com/images/icons/product/maps_engine-32.png"
    },
    "id": "mapsengine:v1",
    "kind": "discovery#restDescription",
    "name": "mapsengine",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "assets": {
            "methods": {
                "get": {
                    "description": "Return metadata for a particular asset.",
                    "httpMethod": "GET",
                    "id": "mapsengine.assets.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the asset.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "assets/{id}",
                    "response": {
                        "$ref": "Asset"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "list": {
                    "description": "Return all assets readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.assets.list",
                    "parameters": {
                        "bbox": {
                            "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                            "location": "query",
                            "type": "string"
                        },
                        "createdAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "createdBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "creatorEmail": {
                            "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "modifiedAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "modifiedBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        },
                        "role": {
                            "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                            "enum": [
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read, write and administer the asset.",
                                "The user can read the asset.",
                                "The user can read and write the asset."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "search": {
                            "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                            "location": "query",
                            "type": "string"
                        },
                        "tags": {
                            "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                            "location": "query",
                            "type": "string"
                        },
                        "type": {
                            "description": "A comma separated list of asset types. Returned assets will have one of the types from the provided list. Supported values are 'map', 'layer', 'rasterCollection' and 'table'.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "assets",
                    "response": {
                        "$ref": "AssetsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                }
            },
            "resources": {
                "parents": {
                    "methods": {
                        "list": {
                            "description": "Return all parent ids of the specified asset.",
                            "httpMethod": "GET",
                            "id": "mapsengine.assets.parents.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset whose parents will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "The maximum number of items to include in a single response page. The maximum supported value is 50.",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "assets/{id}/parents",
                            "response": {
                                "$ref": "ParentsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                },
                "permissions": {
                    "methods": {
                        "list": {
                            "description": "Return all of the permissions for the specified asset.",
                            "httpMethod": "GET",
                            "id": "mapsengine.assets.permissions.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset whose permissions will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "assets/{id}/permissions",
                            "response": {
                                "$ref": "PermissionsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "layers": {
            "methods": {
                "cancelProcessing": {
                    "description": "Cancel processing on a layer asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.layers.cancelProcessing",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}/cancelProcessing",
                    "response": {
                        "$ref": "ProcessResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "create": {
                    "description": "Create a layer asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.layers.create",
                    "parameters": {
                        "process": {
                            "description": "Whether to queue the created layer for processing.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "layers",
                    "request": {
                        "$ref": "Layer"
                    },
                    "response": {
                        "$ref": "Layer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "delete": {
                    "description": "Delete a layer.",
                    "httpMethod": "DELETE",
                    "id": "mapsengine.layers.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer. Only the layer creator or project owner are permitted to delete. If the layer is published, or included in a map, the request will fail. Unpublish the layer, and remove it from all maps prior to deleting.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "get": {
                    "description": "Return metadata for a particular layer.",
                    "httpMethod": "GET",
                    "id": "mapsengine.layers.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "version": {
                            "description": "Deprecated: The version parameter indicates which version of the layer should be returned. When version is set to published, the published version of the layer will be returned. Please use the layers.getPublished endpoint instead.",
                            "enum": [
                                "draft",
                                "published"
                            ],
                            "enumDescriptions": [
                                "The draft version.",
                                "The published version."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}",
                    "response": {
                        "$ref": "Layer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "getPublished": {
                    "description": "Return the published metadata for a particular layer.",
                    "httpMethod": "GET",
                    "id": "mapsengine.layers.getPublished",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}/published",
                    "response": {
                        "$ref": "PublishedLayer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "list": {
                    "description": "Return all layers readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.layers.list",
                    "parameters": {
                        "bbox": {
                            "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                            "location": "query",
                            "type": "string"
                        },
                        "createdAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "createdBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "creatorEmail": {
                            "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "modifiedAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "modifiedBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "processingStatus": {
                            "enum": [
                                "complete",
                                "failed",
                                "notReady",
                                "processing",
                                "ready"
                            ],
                            "enumDescriptions": [
                                "The layer has completed processing.",
                                "The layer has failed processing.",
                                "The layer is not ready for processing.",
                                "The layer is processing.",
                                "The layer is ready for processing."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        },
                        "role": {
                            "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                            "enum": [
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read, write and administer the asset.",
                                "The user can read the asset.",
                                "The user can read and write the asset."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "search": {
                            "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                            "location": "query",
                            "type": "string"
                        },
                        "tags": {
                            "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "layers",
                    "response": {
                        "$ref": "LayersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "listPublished": {
                    "description": "Return all published layers readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.layers.listPublished",
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "layers/published",
                    "response": {
                        "$ref": "PublishedLayersListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "patch": {
                    "description": "Mutate a layer asset.",
                    "httpMethod": "PATCH",
                    "id": "mapsengine.layers.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}",
                    "request": {
                        "$ref": "Layer"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "process": {
                    "description": "Process a layer asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.layers.process",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}/process",
                    "response": {
                        "$ref": "ProcessResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "publish": {
                    "description": "Publish a layer asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.layers.publish",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "force": {
                            "description": "If set to true, the API will allow publication of the layer even if it's out of date. If not true, you'll need to reprocess any out-of-date layer before publishing.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}/publish",
                    "response": {
                        "$ref": "PublishResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "unpublish": {
                    "description": "Unpublish a layer asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.layers.unpublish",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the layer.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "layers/{id}/unpublish",
                    "response": {
                        "$ref": "PublishResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                }
            },
            "resources": {
                "parents": {
                    "methods": {
                        "list": {
                            "description": "Return all parent ids of the specified layer.",
                            "httpMethod": "GET",
                            "id": "mapsengine.layers.parents.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the layer whose parents will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "The maximum number of items to include in a single response page. The maximum supported value is 50.",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "layers/{id}/parents",
                            "response": {
                                "$ref": "ParentsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                },
                "permissions": {
                    "methods": {
                        "batchDelete": {
                            "description": "Remove permission entries from an already existing asset.",
                            "httpMethod": "POST",
                            "id": "mapsengine.layers.permissions.batchDelete",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset from which permissions will be removed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "layers/{id}/permissions/batchDelete",
                            "request": {
                                "$ref": "PermissionsBatchDeleteRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchDeleteResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "batchUpdate": {
                            "description": "Add or update permission entries to an already existing asset.\n\nAn asset can hold up to 20 different permission entries. Each batchInsert request is atomic.",
                            "httpMethod": "POST",
                            "id": "mapsengine.layers.permissions.batchUpdate",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset to which permissions will be added.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "layers/{id}/permissions/batchUpdate",
                            "request": {
                                "$ref": "PermissionsBatchUpdateRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchUpdateResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "list": {
                            "description": "Return all of the permissions for the specified asset.",
                            "httpMethod": "GET",
                            "id": "mapsengine.layers.permissions.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset whose permissions will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "layers/{id}/permissions",
                            "response": {
                                "$ref": "PermissionsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "maps": {
            "methods": {
                "create": {
                    "description": "Create a map asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.maps.create",
                    "path": "maps",
                    "request": {
                        "$ref": "Map"
                    },
                    "response": {
                        "$ref": "Map"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "delete": {
                    "description": "Delete a map.",
                    "httpMethod": "DELETE",
                    "id": "mapsengine.maps.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the map. Only the map creator or project owner are permitted to delete. If the map is published the request will fail. Unpublish the map prior to deleting.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "get": {
                    "description": "Return metadata for a particular map.",
                    "httpMethod": "GET",
                    "id": "mapsengine.maps.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the map.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "version": {
                            "description": "Deprecated: The version parameter indicates which version of the map should be returned. When version is set to published, the published version of the map will be returned. Please use the maps.getPublished endpoint instead.",
                            "enum": [
                                "draft",
                                "published"
                            ],
                            "enumDescriptions": [
                                "The draft version.",
                                "The published version."
                            ],
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}",
                    "response": {
                        "$ref": "Map"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "getPublished": {
                    "description": "Return the published metadata for a particular map.",
                    "httpMethod": "GET",
                    "id": "mapsengine.maps.getPublished",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the map.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}/published",
                    "response": {
                        "$ref": "PublishedMap"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "list": {
                    "description": "Return all maps readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.maps.list",
                    "parameters": {
                        "bbox": {
                            "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                            "location": "query",
                            "type": "string"
                        },
                        "createdAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "createdBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "creatorEmail": {
                            "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "modifiedAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "modifiedBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "processingStatus": {
                            "enum": [
                                "complete",
                                "failed",
                                "notReady",
                                "processing"
                            ],
                            "enumDescriptions": [
                                "The map has completed processing.",
                                "The map has failed processing.",
                                "The map is not ready for processing.",
                                "The map is processing."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        },
                        "role": {
                            "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                            "enum": [
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read, write and administer the asset.",
                                "The user can read the asset.",
                                "The user can read and write the asset."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "search": {
                            "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                            "location": "query",
                            "type": "string"
                        },
                        "tags": {
                            "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "maps",
                    "response": {
                        "$ref": "MapsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "listPublished": {
                    "description": "Return all published maps readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.maps.listPublished",
                    "parameters": {
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "maps/published",
                    "response": {
                        "$ref": "PublishedMapsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "patch": {
                    "description": "Mutate a map asset.",
                    "httpMethod": "PATCH",
                    "id": "mapsengine.maps.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the map.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}",
                    "request": {
                        "$ref": "Map"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "publish": {
                    "description": "Publish a map asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.maps.publish",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "force": {
                            "description": "If set to true, the API will allow publication of the map even if it's out of date. If false, the map must have a processingStatus of complete before publishing.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "id": {
                            "description": "The ID of the map.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}/publish",
                    "response": {
                        "$ref": "PublishResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "unpublish": {
                    "description": "Unpublish a map asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.maps.unpublish",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the map.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "maps/{id}/unpublish",
                    "response": {
                        "$ref": "PublishResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                }
            },
            "resources": {
                "permissions": {
                    "methods": {
                        "batchDelete": {
                            "description": "Remove permission entries from an already existing asset.",
                            "httpMethod": "POST",
                            "id": "mapsengine.maps.permissions.batchDelete",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset from which permissions will be removed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "maps/{id}/permissions/batchDelete",
                            "request": {
                                "$ref": "PermissionsBatchDeleteRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchDeleteResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "batchUpdate": {
                            "description": "Add or update permission entries to an already existing asset.\n\nAn asset can hold up to 20 different permission entries. Each batchInsert request is atomic.",
                            "httpMethod": "POST",
                            "id": "mapsengine.maps.permissions.batchUpdate",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset to which permissions will be added.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "maps/{id}/permissions/batchUpdate",
                            "request": {
                                "$ref": "PermissionsBatchUpdateRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchUpdateResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "list": {
                            "description": "Return all of the permissions for the specified asset.",
                            "httpMethod": "GET",
                            "id": "mapsengine.maps.permissions.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset whose permissions will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "maps/{id}/permissions",
                            "response": {
                                "$ref": "PermissionsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "projects": {
            "methods": {
                "list": {
                    "description": "Return all projects readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.projects.list",
                    "path": "projects",
                    "response": {
                        "$ref": "ProjectsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                }
            },
            "resources": {
                "icons": {
                    "methods": {
                        "create": {
                            "description": "Create an icon.",
                            "httpMethod": "POST",
                            "id": "mapsengine.projects.icons.create",
                            "mediaUpload": {
                                "accept": [
                                    "*/*"
                                ],
                                "maxSize": "100KB",
                                "protocols": {
                                    "resumable": {
                                        "multipart": true,
                                        "path": "/resumable/upload/mapsengine/v1/projects/{projectId}/icons"
                                    },
                                    "simple": {
                                        "multipart": true,
                                        "path": "/upload/mapsengine/v1/projects/{projectId}/icons"
                                    }
                                }
                            },
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "projectId": {
                                    "description": "The ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "projects/{projectId}/icons",
                            "request": {
                                "$ref": "Icon"
                            },
                            "response": {
                                "$ref": "Icon"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ],
                            "supportsMediaUpload": true
                        },
                        "get": {
                            "description": "Return an icon or its associated metadata",
                            "httpMethod": "GET",
                            "id": "mapsengine.projects.icons.get",
                            "parameterOrder": [
                                "projectId",
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the icon.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "projectId": {
                                    "description": "The ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "projects/{projectId}/icons/{id}",
                            "response": {
                                "$ref": "Icon"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ],
                            "supportsMediaDownload": true
                        },
                        "list": {
                            "description": "Return all icons in the current project",
                            "httpMethod": "GET",
                            "id": "mapsengine.projects.icons.list",
                            "parameterOrder": [
                                "projectId"
                            ],
                            "parameters": {
                                "maxResults": {
                                    "description": "The maximum number of items to include in a single response page. The maximum supported value is 50.",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "projectId": {
                                    "description": "The ID of the project.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "projects/{projectId}/icons",
                            "response": {
                                "$ref": "IconsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "rasterCollections": {
            "methods": {
                "cancelProcessing": {
                    "description": "Cancel processing on a raster collection asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.rasterCollections.cancelProcessing",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections/{id}/cancelProcessing",
                    "response": {
                        "$ref": "ProcessResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "create": {
                    "description": "Create a raster collection asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.rasterCollections.create",
                    "path": "rasterCollections",
                    "request": {
                        "$ref": "RasterCollection"
                    },
                    "response": {
                        "$ref": "RasterCollection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "delete": {
                    "description": "Delete a raster collection.",
                    "httpMethod": "DELETE",
                    "id": "mapsengine.rasterCollections.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster collection. Only the raster collection creator or project owner are permitted to delete. If the rastor collection is included in a layer, the request will fail. Remove the raster collection from all layers prior to deleting.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "get": {
                    "description": "Return metadata for a particular raster collection.",
                    "httpMethod": "GET",
                    "id": "mapsengine.rasterCollections.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections/{id}",
                    "response": {
                        "$ref": "RasterCollection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "list": {
                    "description": "Return all raster collections readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.rasterCollections.list",
                    "parameters": {
                        "bbox": {
                            "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                            "location": "query",
                            "type": "string"
                        },
                        "createdAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "createdBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "creatorEmail": {
                            "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "modifiedAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "modifiedBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "processingStatus": {
                            "enum": [
                                "complete",
                                "failed",
                                "notReady",
                                "processing",
                                "ready"
                            ],
                            "enumDescriptions": [
                                "The raster collection has completed processing.",
                                "The raster collection has failed processing.",
                                "The raster collection is not ready for processing.",
                                "The raster collection is processing.",
                                "The raster collection is ready for processing."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "type": "string"
                        },
                        "role": {
                            "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                            "enum": [
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read, write and administer the asset.",
                                "The user can read the asset.",
                                "The user can read and write the asset."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "search": {
                            "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                            "location": "query",
                            "type": "string"
                        },
                        "tags": {
                            "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections",
                    "response": {
                        "$ref": "RasterCollectionsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "patch": {
                    "description": "Mutate a raster collection asset.",
                    "httpMethod": "PATCH",
                    "id": "mapsengine.rasterCollections.patch",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections/{id}",
                    "request": {
                        "$ref": "RasterCollection"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "process": {
                    "description": "Process a raster collection asset.",
                    "httpMethod": "POST",
                    "id": "mapsengine.rasterCollections.process",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster collection.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasterCollections/{id}/process",
                    "response": {
                        "$ref": "ProcessResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                }
            },
            "resources": {
                "parents": {
                    "methods": {
                        "list": {
                            "description": "Return all parent ids of the specified raster collection.",
                            "httpMethod": "GET",
                            "id": "mapsengine.rasterCollections.parents.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the raster collection whose parents will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "The maximum number of items to include in a single response page. The maximum supported value is 50.",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/parents",
                            "response": {
                                "$ref": "ParentsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                },
                "permissions": {
                    "methods": {
                        "batchDelete": {
                            "description": "Remove permission entries from an already existing asset.",
                            "httpMethod": "POST",
                            "id": "mapsengine.rasterCollections.permissions.batchDelete",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset from which permissions will be removed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/permissions/batchDelete",
                            "request": {
                                "$ref": "PermissionsBatchDeleteRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchDeleteResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "batchUpdate": {
                            "description": "Add or update permission entries to an already existing asset.\n\nAn asset can hold up to 20 different permission entries. Each batchInsert request is atomic.",
                            "httpMethod": "POST",
                            "id": "mapsengine.rasterCollections.permissions.batchUpdate",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset to which permissions will be added.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/permissions/batchUpdate",
                            "request": {
                                "$ref": "PermissionsBatchUpdateRequest"
                            },
                            "response": {
                                "$ref": "PermissionsBatchUpdateResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "list": {
                            "description": "Return all of the permissions for the specified asset.",
                            "httpMethod": "GET",
                            "id": "mapsengine.rasterCollections.permissions.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the asset whose permissions will be listed.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/permissions",
                            "response": {
                                "$ref": "PermissionsListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                },
                "rasters": {
                    "methods": {
                        "batchDelete": {
                            "description": "Remove rasters from an existing raster collection.\n\nUp to 50 rasters can be included in a single batchDelete request. Each batchDelete request is atomic.",
                            "httpMethod": "POST",
                            "id": "mapsengine.rasterCollections.rasters.batchDelete",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the raster collection to which these rasters belong.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/rasters/batchDelete",
                            "request": {
                                "$ref": "RasterCollectionsRasterBatchDeleteRequest"
                            },
                            "response": {
                                "$ref": "RasterCollectionsRastersBatchDeleteResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "batchInsert": {
                            "description": "Add rasters to an existing raster collection. Rasters must be successfully processed in order to be added to a raster collection.\n\nUp to 50 rasters can be included in a single batchInsert request. Each batchInsert request is atomic.",
                            "httpMethod": "POST",
                            "id": "mapsengine.rasterCollections.rasters.batchInsert",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "id": {
                                    "description": "The ID of the raster collection to which these rasters belong.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/rasters/batchInsert",
                            "request": {
                                "$ref": "RasterCollectionsRastersBatchInsertRequest"
                            },
                            "response": {
                                "$ref": "RasterCollectionsRastersBatchInsertResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine"
                            ]
                        },
                        "list": {
                            "description": "Return all rasters within a raster collection.",
                            "httpMethod": "GET",
                            "id": "mapsengine.rasterCollections.rasters.list",
                            "parameterOrder": [
                                "id"
                            ],
                            "parameters": {
                                "bbox": {
                                    "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "createdAfter": {
                                    "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                                    "format": "date-time",
                                    "location": "query",
                                    "type": "string"
                                },
                                "createdBefore": {
                                    "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                                    "format": "date-time",
                                    "location": "query",
                                    "type": "string"
                                },
                                "creatorEmail": {
                                    "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "id": {
                                    "description": "The ID of the raster collection to which these rasters belong.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "maxResults": {
                                    "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                                    "format": "uint32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "modifiedAfter": {
                                    "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                                    "format": "date-time",
                                    "location": "query",
                                    "type": "string"
                                },
                                "modifiedBefore": {
                                    "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                                    "format": "date-time",
                                    "location": "query",
                                    "type": "string"
                                },
                                "pageToken": {
                                    "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "role": {
                                    "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                                    "enum": [
                                        "owner",
                                        "reader",
                                        "writer"
                                    ],
                                    "enumDescriptions": [
                                        "The user can read, write and administer the asset.",
                                        "The user can read the asset.",
                                        "The user can read and write the asset."
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "search": {
                                    "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                                    "location": "query",
                                    "type": "string"
                                },
                                "tags": {
                                    "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "rasterCollections/{id}/rasters",
                            "response": {
                                "$ref": "RasterCollectionsRastersListResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/mapsengine",
                                "https://www.googleapis.com/auth/mapsengine.readonly"
                            ]
                        }
                    }
                }
            }
        },
        "rasters": {
            "methods": {
                "delete": {
                    "description": "Delete a raster.",
                    "httpMethod": "DELETE",
                    "id": "mapsengine.rasters.delete",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster. Only the raster creator or project owner are permitted to delete. If the raster is included in a layer or mosaic, the request will fail. Remove it from all parents prior to deleting.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasters/{id}",
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine"
                    ]
                },
                "get": {
                    "description": "Return metadata for a single raster.",
                    "httpMethod": "GET",
                    "id": "mapsengine.rasters.get",
                    "parameterOrder": [
                        "id"
                    ],
                    "parameters": {
                        "id": {
                            "description": "The ID of the raster.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "rasters/{id}",
                    "response": {
                        "$ref": "Raster"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/mapsengine",
                        "https://www.googleapis.com/auth/mapsengine.readonly"
                    ]
                },
                "list": {
                    "description": "Return all rasters readable by the current user.",
                    "httpMethod": "GET",
                    "id": "mapsengine.rasters.list",
                    "parameterOrder": [
                        "projectId"
                    ],
                    "parameters": {
                        "bbox": {
                            "description": "A bounding box, expressed as \"west,south,east,north\". If set, only assets which intersect this bounding box will be returned.",
                            "location": "query",
                            "type": "string"
                        },
                        "createdAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "createdBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been created at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "creatorEmail": {
                            "description": "An email address representing a user. Returned assets that have been created by the user associated with the provided email address.",
                            "location": "query",
                            "type": "string"
                        },
                        "maxResults": {
                            "description": "The maximum number of items to include in a single response page. The maximum supported value is 100.",
                            "format": "uint32",
                            "location": "query",
                            "type": "integer"
                        },
                        "modifiedAfter": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or after this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "modifiedBefore": {
                            "description": "An RFC 3339 formatted date-time value (e.g. 1970-01-01T00:00:00Z). Returned assets will have been modified at or before this time.",
                            "format": "date-time",
                            "location": "query",
                            "type": "string"
                        },
                        "pageToken": {
                            "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
                            "location": "query",
                            "type": "string"
                        },
                        "processingStatus": {
                            "enum": [
                                "complete",
                                "failed",
                                "notReady",
                                "processing",
                                "ready"
                            ],
                            "enumDescriptions": [
                                "The raster has completed processing.",
                                "The raster has failed processing.",
                                "The raster is not ready for processing.",
                                "The raster is processing.",
                                "The raster is ready for processing."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "projectId": {
                            "description": "The ID of a Maps Engine project, used to filter the response. To list all available projects with their IDs, send a Projects: list request. You can also find your project ID as the value of the DashboardPlace:cid URL parameter when signed in to mapsengine.google.com.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "role": {
                            "description": "The role parameter indicates that the response should only contain assets where the current user has the specified level of access.",
                            "enum": [
                                "owner",
                                "reader",
                                "writer"
                            ],
                            "enumDescriptions": [
                                "The user can read, write and administer the asset.",
                                "The user can read the asset.",
                                "The user can read and write the asset."
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "search": {
                            "description": "An unstructured search string used to filter the set of results based on asset metadata.",
                            "location": "query",
                            "type": "string"
                        },
                        "tags": {
                            "description": "A comma separated list of tags. Returned assets will contain all the tags from the list.",
                            "location": "query",
                            "type": "string"
                        }
                    },
[...]
