{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/drive.readonly": {
                    "description": "View the files in your Google Drive"
                },
                "https://www.googleapis.com/auth/spreadsheets.readonly": {
                    "description": "View your Google Spreadsheets"
                },
                "https://www.googleapis.com/auth/drive": {
                    "description": "View and manage the files in your Google Drive"
                },
                "https://www.googleapis.com/auth/spreadsheets": {
                    "description": "View and manage your spreadsheets in Google Drive"
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://sheets.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Sheets",
    "description": "Reads and writes Google Sheets.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/sheets/",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "sheets:v4",
    "kind": "discovery#restDescription",
    "name": "sheets",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "pp": {
            "default": "true",
            "description": "Pretty-print response.",
            "location": "query",
            "type": "boolean"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "bearer_token": {
            "description": "OAuth bearer token.",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "spreadsheets": {
            "methods": {
                "create": {
                    "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.create",
                    "parameterOrder": [],
                    "parameters": {},
                    "path": "v4/spreadsheets",
                    "request": {
                        "$ref": "Spreadsheet"
                    },
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                },
                "get": {
                    "description": "Returns the spreadsheet at the given ID.\nThe caller must specify the spreadsheet ID.\n\nBy default, data within grids will not be returned.\nYou can include grid data one of two ways:\n\n* Specify a field mask listing your desired fields using the `fields` URL\nparameter in HTTP\n\n* Set the includeGridData\nURL parameter to true.  If a field mask is set, the `includeGridData`\nparameter is ignored\n\nFor large spreadsheets, it is recommended to retrieve only the specific\nfields of the spreadsheet that you want.\n\nTo retrieve only subsets of the spreadsheet, use the\nranges URL parameter.\nMultiple ranges can be specified.  Limiting the range will\nreturn only the portions of the spreadsheet that intersect the requested\nranges. Ranges are specified using A1 notation.",
                    "httpMethod": "GET",
                    "id": "sheets.spreadsheets.get",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "description": "The spreadsheet to request.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "ranges": {
                            "description": "The ranges to retrieve from the spreadsheet.",
                            "location": "query",
                            "repeated": true,
                            "type": "string"
                        },
                        "includeGridData": {
                            "description": "True if grid data should be returned.\nThis parameter is ignored if a field mask was set in the request.",
                            "location": "query",
                            "type": "boolean"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}",
                    "response": {
                        "$ref": "Spreadsheet"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/drive.readonly",
                        "https://www.googleapis.com/auth/spreadsheets",
                        "https://www.googleapis.com/auth/spreadsheets.readonly"
                    ]
                },
                "batchUpdate": {
                    "description": "Applies one or more updates to the spreadsheet.\n\nEach request is validated before\nbeing applied. If any request is not valid then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how\nthey are applied. The replies will mirror the requests.  For example,\nif you applied 4 updates and the 3rd one had a reply, then the\nresponse will have 2 empty replies, the actual reply, and another empty\nreply, in that order.\n\nDue to the collaborative nature of spreadsheets, it is not guaranteed that\nthe spreadsheet will reflect exactly your changes after this completes,\nhowever it is guaranteed that the updates in the request will be\napplied together atomically. Your changes may be altered with respect to\ncollaborator changes. If there are no collaborators, the spreadsheet\nshould reflect your changes.",
                    "httpMethod": "POST",
                    "id": "sheets.spreadsheets.batchUpdate",
                    "parameterOrder": [
                        "spreadsheetId"
                    ],
                    "parameters": {
                        "spreadsheetId": {
                            "description": "The spreadsheet to apply the updates to.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
                    "request": {
                        "$ref": "BatchUpdateSpreadsheetRequest"
                    },
                    "response": {
                        "$ref": "BatchUpdateSpreadsheetResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/drive",
                        "https://www.googleapis.com/auth/spreadsheets"
                    ]
                }
            },
            "resources": {
                "values": {
                    "methods": {
                        "update": {
                            "description": "Sets values in a range of a spreadsheet.\nThe caller must specify the spreadsheet ID, range, and\na valueInputOption.",
                            "httpMethod": "PUT",
                            "id": "sheets.spreadsheets.values.update",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "valueInputOption": {
                                    "description": "How the input data should be interpreted.",
                                    "enum": [
                                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                                        "RAW",
                                        "USER_ENTERED"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "spreadsheetId": {
                                    "description": "The ID of the spreadsheet to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "range": {
                                    "description": "The A1 notation of the values to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "request": {
                                "$ref": "ValueRange"
                            },
                            "response": {
                                "$ref": "UpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        },
                        "get": {
                            "description": "Returns a range of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and a range.",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.get",
                            "parameterOrder": [
                                "spreadsheetId",
                                "range"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "description": "The ID of the spreadsheet to retrieve data from.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "description": "How values should be represented in the output.",
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "dateTimeRenderOption": {
                                    "description": "How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.",
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "range": {
                                    "description": "The A1 notation of the values to retrieve.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "description": "The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.",
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
                            "response": {
                                "$ref": "ValueRange"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "batchGet": {
                            "description": "Returns one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more ranges.",
                            "httpMethod": "GET",
                            "id": "sheets.spreadsheets.values.batchGet",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "description": "The ID of the spreadsheet to retrieve data from.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "ranges": {
                                    "description": "The A1 notation of the values to retrieve.",
                                    "location": "query",
                                    "repeated": true,
                                    "type": "string"
                                },
                                "valueRenderOption": {
                                    "description": "How values should be represented in the output.",
                                    "enum": [
                                        "FORMATTED_VALUE",
                                        "UNFORMATTED_VALUE",
                                        "FORMULA"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "dateTimeRenderOption": {
                                    "description": "How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.",
                                    "enum": [
                                        "SERIAL_NUMBER",
                                        "FORMATTED_STRING"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                },
                                "majorDimension": {
                                    "description": "The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.",
                                    "enum": [
                                        "DIMENSION_UNSPECIFIED",
                                        "ROWS",
                                        "COLUMNS"
                                    ],
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
                            "response": {
                                "$ref": "BatchGetValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/drive.readonly",
                                "https://www.googleapis.com/auth/spreadsheets",
                                "https://www.googleapis.com/auth/spreadsheets.readonly"
                            ]
                        },
                        "batchUpdate": {
                            "description": "Sets values in one or more ranges of a spreadsheet.\nThe caller must specify the spreadsheet ID,\na valueInputOption, and one or more\nValueRanges.",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.values.batchUpdate",
                            "parameterOrder": [
                                "spreadsheetId"
                            ],
                            "parameters": {
                                "spreadsheetId": {
                                    "description": "The ID of the spreadsheet to update.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
                            "request": {
                                "$ref": "BatchUpdateValuesRequest"
                            },
                            "response": {
                                "$ref": "BatchUpdateValuesResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                },
                "sheets": {
                    "methods": {
                        "copyTo": {
                            "description": "Copies a single sheet from a spreadsheet to another spreadsheet.\nReturns the properties of the newly created sheet.",
                            "httpMethod": "POST",
                            "id": "sheets.spreadsheets.sheets.copyTo",
                            "parameterOrder": [
                                "spreadsheetId",
                                "sheetId"
                            ],
                            "parameters": {
                                "sheetId": {
                                    "description": "The ID of the sheet to copy.",
                                    "format": "int32",
                                    "location": "path",
                                    "required": true,
                                    "type": "integer"
                                },
                                "spreadsheetId": {
                                    "description": "The ID of the spreadsheet containing the sheet to copy.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
                            "request": {
                                "$ref": "CopySheetToAnotherSpreadsheetRequest"
                            },
                            "response": {
                                "$ref": "SheetProperties"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/drive",
                                "https://www.googleapis.com/auth/spreadsheets"
                            ]
                        }
                    }
                }
            }
        }
    },
    "revision": "20160708",
    "rootUrl": "https://sheets.googleapis.com/",
    "schemas": {
        "AddNamedRangeResponse": {
            "description": "The result of adding a named range.",
            "id": "AddNamedRangeResponse",
            "properties": {
                "namedRange": {
                    "$ref": "NamedRange",
                    "description": "The named range to add."
                }
            },
            "type": "object"
        },
        "UpdateProtectedRangeRequest": {
            "description": "Updates an existing protected range with the specified\nprotectedRangeId.",
            "id": "UpdateProtectedRangeRequest",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange",
                    "description": "The protected range to update with the new properties. If a nonzero\nprotectedRangeId is\nspecified, the protected range will use that ID. (It is an error to\nspecify the ID of a protected range that already exists.)"
                },
                "fields": {
                    "description": "The fields that should be updated.  At least one field must be specified.\nThe root `protectedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Padding": {
            "description": "The amount of padding around the cell, in pixels.\nWhen updating padding, every field must be specified.",
            "id": "Padding",
            "properties": {
                "right": {
                    "description": "The right padding of the cell.",
                    "format": "int32",
                    "type": "integer"
                },
                "left": {
                    "description": "The left padding of the cell.",
                    "format": "int32",
                    "type": "integer"
                },
                "top": {
                    "description": "The top padding of the cell.",
                    "format": "int32",
                    "type": "integer"
                },
                "bottom": {
                    "description": "The bottom padding of the cell.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "MergeCellsRequest": {
            "description": "Merges all cells in the range.",
            "id": "MergeCellsRequest",
            "properties": {
                "mergeType": {
                    "description": "How the cells should be merged.",
                    "enum": [
                        "MERGE_ALL",
                        "MERGE_COLUMNS",
                        "MERGE_ROWS"
                    ],
                    "enumDescriptions": [
                        "Create a single merge from the range",
                        "Create a merge for each column in the range",
                        "Create a merge for each row in the range"
                    ],
                    "type": "string"
                },
                "range": {
                    "$ref": "GridRange",
                    "description": "The range of cells to merge."
                }
            },
            "type": "object"
        },
        "AddSheetResponse": {
            "description": "The result of adding a sheet.",
            "id": "AddSheetResponse",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties",
                    "description": "The properties of the newly added sheet."
                }
            },
            "type": "object"
        },
        "PivotGroupValueMetadata": {
            "description": "Metadata about a value in a pivot grouping.",
            "id": "PivotGroupValueMetadata",
            "properties": {
                "value": {
                    "$ref": "ExtendedValue",
                    "description": "The calculated value the metadata corresponds to.\n(Note that formulaValue is not valid,\n because the values will be calculated.)"
                },
                "collapsed": {
                    "description": "True if the data corresponding to the value is collapsed.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "UpdateEmbeddedObjectPositionResponse": {
            "description": "The result of updating an embedded object's position.",
            "id": "UpdateEmbeddedObjectPositionResponse",
            "properties": {
                "position": {
                    "$ref": "EmbeddedObjectPosition",
                    "description": "The new position of the embedded object."
                }
            },
            "type": "object"
        },
        "UpdateConditionalFormatRuleRequest": {
            "description": "Updates a conditional format rule at the given index,\nor moves a conditional format rule to another index.",
            "id": "UpdateConditionalFormatRuleRequest",
            "properties": {
                "sheetId": {
                    "description": "The sheet of the rule to move.  Required if new_index is set,\nunused otherwise.",
                    "format": "int32",
                    "type": "integer"
                },
                "rule": {
                    "$ref": "ConditionalFormatRule",
                    "description": "The rule that should replace the rule at the given index."
                },
                "index": {
                    "description": "The zero-based index of the rule that should be replaced or moved.",
                    "format": "int32",
                    "type": "integer"
                },
                "newIndex": {
                    "description": "The zero-based new index the rule should end up at.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "TextFormat": {
            "description": "The format of a run of text in a cell.\nAbsent values indicate that the field isn't specified.",
            "id": "TextFormat",
            "properties": {
                "bold": {
                    "description": "True if the text is bold.",
                    "type": "boolean"
                },
                "italic": {
                    "description": "True if the text is italicized.",
                    "type": "boolean"
                },
                "foregroundColor": {
                    "$ref": "Color",
                    "description": "The foreground color of the text."
                },
                "fontFamily": {
                    "description": "The font family.",
                    "type": "string"
                },
                "strikethrough": {
                    "description": "True if the text has a strikethrough.",
                    "type": "boolean"
                },
                "fontSize": {
                    "description": "The size of the font.",
                    "format": "int32",
                    "type": "integer"
                },
                "underline": {
                    "description": "True if the text is underlined.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "UpdateChartSpecRequest": {
            "description": "Updates a chart's specifications.\n(This does not move or resize a chart. To move or resize a chart, use\n UpdateEmbeddedObjectPositionRequest.)",
            "id": "UpdateChartSpecRequest",
            "properties": {
                "chartId": {
                    "description": "The ID of the chart to update.",
                    "format": "int32",
                    "type": "integer"
                },
                "spec": {
                    "$ref": "ChartSpec",
                    "description": "The specification to apply to the chart."
                }
            },
            "type": "object"
        },
        "GridCoordinate": {
            "description": "A coordinate in a sheet.\nAll indexes are zero-based.",
            "id": "GridCoordinate",
            "properties": {
                "sheetId": {
                    "description": "The sheet this coordinate is on.",
                    "format": "int32",
                    "type": "integer"
                },
                "rowIndex": {
                    "description": "The row index of the coordinate.",
                    "format": "int32",
                    "type": "integer"
                },
                "columnIndex": {
                    "description": "The column index of the coordinate.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DeleteFilterViewRequest": {
            "description": "Deletes a particular filter view.",
            "id": "DeleteFilterViewRequest",
            "properties": {
                "filterId": {
                    "description": "The ID of the filter to delete.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesResponse": {
            "description": "The response when updating a range of values in a spreadsheet.",
            "id": "BatchUpdateValuesResponse",
            "properties": {
                "totalUpdatedSheets": {
                    "description": "The total number of sheets where at least one cell in the sheet was\nupdated.",
                    "format": "int32",
                    "type": "integer"
                },
                "totalUpdatedColumns": {
                    "description": "The total number of columns where at least one cell in the column was\nupdated.",
                    "format": "int32",
                    "type": "integer"
                },
                "responses": {
                    "description": "One UpdateValuesResponse per requested range, in the same order as\nthe requests appeared.",
                    "items": {
                        "$ref": "UpdateValuesResponse"
                    },
                    "type": "array"
                },
                "totalUpdatedCells": {
                    "description": "The total number of cells updated.",
                    "format": "int32",
                    "type": "integer"
                },
                "spreadsheetId": {
                    "description": "The spreadsheet the updates were applied to.",
                    "type": "string"
                },
                "totalUpdatedRows": {
                    "description": "The total number of rows where at least one cell in the row was updated.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "UpdateNamedRangeRequest": {
            "description": "Updates properties of the named range with the specified\nnamedRangeId.",
            "id": "UpdateNamedRangeRequest",
            "properties": {
                "fields": {
                    "description": "The fields that should be updated.  At least one field must be specified.\nThe root `namedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "namedRange": {
                    "$ref": "NamedRange",
                    "description": "The named range to update with the new properties."
                }
            },
            "type": "object"
        },
        "UpdateValuesResponse": {
            "description": "The response when updating a range of values in a spreadsheet.",
            "id": "UpdateValuesResponse",
            "properties": {
                "updatedRange": {
                    "description": "The range (in A1 notation) that updates were applied to.",
                    "type": "string"
                },
                "updatedColumns": {
                    "description": "The number of columns where at least one cell in the column was updated.",
                    "format": "int32",
                    "type": "integer"
                },
                "spreadsheetId": {
                    "description": "The spreadsheet the updates were applied to.",
                    "type": "string"
                },
                "updatedRows": {
                    "description": "The number of rows where at least one cell in the row was updated.",
                    "format": "int32",
                    "type": "integer"
                },
                "updatedCells": {
                    "description": "The number of cells updated.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SpreadsheetProperties": {
            "description": "Properties of a spreadsheet.",
            "id": "SpreadsheetProperties",
            "properties": {
                "timeZone": {
                    "description": "The time zone of the spreadsheet, in CLDR format such as\n`America/New_York`. If the time zone isn't recognized, this may\nbe a custom time zone such as `GMT-07:00`.",
                    "type": "string"
                },
                "autoRecalc": {
                    "description": "The amount of time to wait before volatile functions are recalculated.",
                    "enum": [
                        "RECALCULATION_INTERVAL_UNSPECIFIED",
                        "ON_CHANGE",
                        "MINUTE",
                        "HOUR"
                    ],
                    "enumDescriptions": [
                        "Default value. This value must not be used.",
                        "Volatile functions are updated on every change.",
                        "Volatile functions are updated on every change and every minute.",
                        "Volatile functions are updated on every change and hourly."
                    ],
                    "type": "string"
                },
                "locale": {
                    "description": "The locale of the spreadsheet in one of the following formats:\n\n* an ISO 639-1 language code such as `en`\n\n* an ISO 639-2 language code such as `fil`, if no 639-1 code exists\n\n* a combination of the ISO language code and country code, such as `en_US`\n\nNote: when updating this field, not all locales/languages are supported.",
                    "type": "string"
                },
                "title": {
                    "description": "The title of the spreadsheet.",
                    "type": "string"
                },
                "defaultFormat": {
                    "$ref": "CellFormat",
                    "description": "The default format of all cells in the spreadsheet.\nCellData.effectiveFormat will not be set if the\ncell's format is equal to this default format.\nThis field is read-only."
                }
            },
            "type": "object"
        },
        "CellData": {
            "description": "Data about a specific cell.",
            "id": "CellData",
            "properties": {
                "hyperlink": {
                    "description": "A hyperlink this cell points to, if any.\nThis field is read-only.  (To set it, use a `=HYPERLINK` formula.)",
                    "type": "string"
                },
                "effectiveFormat": {
                    "$ref": "CellFormat",
                    "description": "The effective format being used by the cell.\nThis includes the results of applying any conditional formatting and,\nif the cell contains a formula, the computed number format.\nIf the effective format is the default format, effective format will\nnot be written.\nThis field is read-only."
                },
                "note": {
                    "description": "Any note on the cell.",
                    "type": "string"
                },
                "formattedValue": {
                    "description": "The formatted value of the cell.\nThis is the value as it's shown to the user.\nThis field is read-only.",
                    "type": "string"
                },
                "userEnteredValue": {
                    "$ref": "ExtendedValue",
                    "description": "The value the user entered in the cell. e.g, `1234`, `'Hello'`, or `=NOW()`\nNote: Dates, Times and DateTimes are represented as doubles in\nserial number format."
                },
                "dataValidation": {
                    "$ref": "DataValidationRule",
                    "description": "A data validation rule on the cell, if any.\n\nWhen writing, the new data validation rule will overwrite any prior rule."
                },
                "userEnteredFormat": {
                    "$ref": "CellFormat",
                    "description": "The format the user entered for the cell.\n\nWhen writing, the new format will be merged with the existing format."
                },
                "pivotTable": {
                    "$ref": "PivotTable",
                    "description": "A pivot table anchored at this cell. The size of pivot table itself\nis computed dynamically based on its data, grouping, filters, values,\netc. Only the top-left cell of the pivot table contains the pivot table\ndefinition. The other cells will contain the calculated values of the\nresults of the pivot in their effective_value fields."
                },
                "textFormatRuns": {
                    "description": "Runs of rich text applied to subsections of the cell.  Runs are only valid\non user entered strings, not formulas, bools, or numbers.\nRuns start at specific indexes in the text and continue until the next\nrun. Properties of a run will continue unless explicitly changed\nin a subsequent run (and properties of the first run will continue\nthe properties of the cell unless explicitly changed).\n\nWhen writing, the new runs will overwrite any prior runs.  When writing a\nnew user_entered_value, previous runs will be erased.",
                    "items": {
                        "$ref": "TextFormatRun"
                    },
                    "type": "array"
                },
                "effectiveValue": {
                    "$ref": "ExtendedValue",
                    "description": "The effective value of the cell. For cells with formulas, this will be\nthe calculated value.  For cells with literals, this will be\nthe same as the user_entered_value.\nThis field is read-only."
                }
            },
            "type": "object"
        },
        "UnmergeCellsRequest": {
            "description": "Unmerges cells in the given range.",
            "id": "UnmergeCellsRequest",
            "properties": {
                "range": {
                    "$ref": "GridRange",
                    "description": "The range within which all cells should be unmerged.\nIf the range spans multiple merges, all will be unmerged.\nThe range must not partially span any merge."
                }
            },
            "type": "object"
        },
        "TextToColumnsRequest": {
            "description": "Splits a column of text into multiple columns,\nbased on a delimiter in each cell.",
            "id": "TextToColumnsRequest",
            "properties": {
                "source": {
                    "$ref": "GridRange",
                    "description": "The source data range.  This must span exactly one column."
                },
                "delimiter": {
                    "description": "The delimiter to use. Used only if delimiterType is\nCUSTOM.",
                    "type": "string"
                },
                "delimiterType": {
                    "description": "The delimiter type to use.",
                    "enum": [
                        "DELIMITER_TYPE_UNSPECIFIED",
                        "COMMA",
                        "SEMICOLON",
                        "PERIOD",
                        "SPACE",
                        "CUSTOM"
                    ],
                    "enumDescriptions": [
                        "Default value. This value must not be used.",
                        "\",\"",
                        "\";\"",
                        "\".\"",
                        "\" \"",
                        "A custom value as defined in delimiter."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeResponse": {
            "description": "The result of adding a new protected range.",
            "id": "AddProtectedRangeResponse",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange",
                    "description": "The newly added protected range."
                }
            },
            "type": "object"
        },
        "BooleanCondition": {
            "description": "A condition that can evaluate to true or false.\nBooleanConditions are used by conditional formatting,\ndata validation, and the criteria in filters.",
            "id": "BooleanCondition",
            "properties": {
                "values": {
                    "description": "The values of the condition. The number of supported values depends\non the condition type.  Some support zero values,\nothers one or two values,\nand ConditionType.ONE_OF_LIST supports an arbitrary number of values.",
                    "items": {
                        "$ref": "ConditionValue"
                    },
                    "type": "array"
                },
                "type": {
                    "description": "The type of condition.",
                    "enum": [
                        "CONDITION_TYPE_UNSPECIFIED",
                        "NUMBER_GREATER",
                        "NUMBER_GREATER_THAN_EQ",
                        "NUMBER_LESS",
                        "NUMBER_LESS_THAN_EQ",
                        "NUMBER_EQ",
                        "NUMBER_NOT_EQ",
                        "NUMBER_BETWEEN",
                        "NUMBER_NOT_BETWEEN",
                        "TEXT_CONTAINS",
                        "TEXT_NOT_CONTAINS",
                        "TEXT_STARTS_WITH",
                        "TEXT_ENDS_WITH",
                        "TEXT_EQ",
                        "TEXT_IS_EMAIL",
                        "TEXT_IS_URL",
                        "DATE_EQ",
                        "DATE_BEFORE",
                        "DATE_AFTER",
                        "DATE_ON_OR_BEFORE",
                        "DATE_ON_OR_AFTER",
                        "DATE_BETWEEN",
                        "DATE_NOT_BETWEEN",
                        "DATE_IS_VALID",
                        "ONE_OF_RANGE",
                        "ONE_OF_LIST",
                        "BLANK",
                        "NOT_BLANK",
                        "CUSTOM_FORMULA"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "The cell's value must be greater than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be greater than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be less than the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be less than or equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be not equal to the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
                        "The cell's value must not be between the two condition values.\nSupported by data validation, conditional formatting and filters.\nRequires exactly two ConditionValues.",
                        "The cell's value must contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must not contain the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must start with the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must end with the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be exactly the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be a valid email address.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be a valid URL.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be the same date as the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue.",
                        "The cell's value must be before the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be after the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be on or before the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be on or after the date of the condition's value.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue\nthat may be a relative date.",
                        "The cell's value must be between the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
                        "The cell's value must be outside the dates of the two condition values.\nSupported by data validation.\nRequires exactly two ConditionValues.",
                        "The cell's value must be a date.\nSupported by data validation.\nRequires no ConditionValues.",
                        "The cell's value must be listed in the grid in condition value's range.\nSupported by data validation.\nRequires a single ConditionValue,\nand the value must be a valid range in A1 notation.",
                        "The cell's value must in the list of condition values.\nSupported by data validation.\nSupports any number of condition values,\none per item in the list.\nFormulas are not supported in the values.",
                        "The cell's value must be empty.\nSupported by data validation, conditional formatting and filters.\nRequires no ConditionValues.",
                        "The cell's value must not be empty.\nSupported by data validation, conditional formatting and filters.\nRequires no ConditionValues.",
                        "The condition's formula must evaluate to true.\nSupported by data validation, conditional formatting and filters.\nRequires a single ConditionValue."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteProtectedRangeRequest": {
            "description": "Deletes the protected range with the given ID.",
            "id": "DeleteProtectedRangeRequest",
            "properties": {
                "protectedRangeId": {
                    "description": "The ID of the protected range to delete.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BasicChartDomain": {
            "description": "The domain of a chart.\nFor example, if charting stock prices over time, this would be the date.",
            "id": "BasicChartDomain",
            "properties": {
                "domain": {
                    "$ref": "ChartData",
                    "description": "The data of the domain. For example, if charting stock prices over time,\nthis is the data representing the dates."
                }
            },
            "type": "object"
        },
        "DimensionRange": {
            "description": "A range along a single dimension on a sheet.\nAll indexes are zero-based.\nIndexes are half open: the start index is inclusive\nand the end index is exclusive.\nMissing indexes indicate the range is unbounded on that side.",
            "id": "DimensionRange",
            "properties": {
                "sheetId": {
                    "description": "The sheet this span is on.",
                    "format": "int32",
                    "type": "integer"
                },
                "endIndex": {
                    "description": "The end (exclusive) of the span, or not set if unbounded.",
                    "format": "int32",
                    "type": "integer"
                },
                "startIndex": {
                    "description": "The start (inclusive) of the span, or not set if unbounded.",
                    "format": "int32",
                    "type": "integer"
                },
                "dimension": {
                    "description": "The dimension of the span.",
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Operates on the rows of a sheet.",
                        "Operates on the columns of a sheet."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Response": {
            "description": "A single response from an update.",
            "id": "Response",
            "properties": {
                "updateEmbeddedObjectPosition": {
                    "$ref": "UpdateEmbeddedObjectPositionResponse",
                    "description": "A reply from updating an embedded object's position."
                },
                "addFilterView": {
                    "$ref": "AddFilterViewResponse",
                    "description": "A reply from adding a filter view."
                },
                "addSheet": {
                    "$ref": "AddSheetResponse",
                    "description": "A reply from adding a sheet."
                },
                "findReplace": {
                    "$ref": "FindReplaceResponse",
                    "description": "A reply from doing a find/replace."
                },
                "addProtectedRange": {
                    "$ref": "AddProtectedRangeResponse",
                    "description": "A reply from adding a protected range."
                },
                "updateConditionalFormatRule": {
                    "$ref": "UpdateConditionalFormatRuleResponse",
                    "description": "A reply from updating a conditional format rule."
                },
                "addChart": {
                    "$ref": "AddChartResponse",
                    "description": "A reply from adding a chart."
                },
                "deleteConditionalFormatRule": {
                    "$ref": "DeleteConditionalFormatRuleResponse",
                    "description": "A reply from deleting a conditional format rule."
                },
                "duplicateSheet": {
                    "$ref": "DuplicateSheetResponse",
                    "description": "A reply from duplicating a sheet."
                },
                "duplicateFilterView": {
                    "$ref": "DuplicateFilterViewResponse",
                    "description": "A reply from duplicating a filter view."
                },
                "addNamedRange": {
                    "$ref": "AddNamedRangeResponse",
                    "description": "A reply from adding a named range."
                }
            },
            "type": "object"
        },
        "AddConditionalFormatRuleRequest": {
            "description": "Adds a new conditional format rule at the given index.\nAll subsequent rules' indexes are incremented.",
            "id": "AddConditionalFormatRuleRequest",
            "properties": {
                "rule": {
                    "$ref": "ConditionalFormatRule",
                    "description": "The rule to add."
                },
                "index": {
                    "description": "The zero-based index where the rule should be inserted.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "FilterView": {
            "description": "A filter view.",
            "id": "FilterView",
            "properties": {
                "title": {
                    "description": "The name of the filter view.",
                    "type": "string"
                },
                "namedRangeId": {
                    "description": "The named range this filter view is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set.",
                    "type": "string"
                },
                "sortSpecs": {
                    "description": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
                    "items": {
                        "$ref": "SortSpec"
                    },
                    "type": "array"
                },
                "range": {
                    "$ref": "GridRange",
                    "description": "The range this filter view covers.\n\nWhen writing, only one of range or named_range_id\nmay be set."
                },
                "criteria": {
                    "additionalProperties": {
                        "$ref": "FilterCriteria"
                    },
                    "description": "The criteria for showing/hiding values per column.\nThe map's key is the column index, and the value is the criteria for\nthat column.",
                    "type": "object"
                },
                "filterViewId": {
                    "description": "The ID of the filter view.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "SortRangeRequest": {
            "description": "Sorts data in rows based on a sort order per column.",
            "id": "SortRangeRequest",
            "properties": {
                "range": {
                    "$ref": "GridRange",
                    "description": "The range to sort."
                },
                "sortSpecs": {
                    "description": "The sort order per column. Later specifications are used when values\nare equal in the earlier specifications.",
                    "items": {
                        "$ref": "SortSpec"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "TextFormatRun": {
            "description": "A run of a text format. The format of this run continues until the start\nindex of the next run.\nWhen updating, all fields must be set.",
            "id": "TextFormatRun",
            "properties": {
                "startIndex": {
                    "description": "The character index where this run starts.",
                    "format": "int32",
                    "type": "integer"
                },
                "format": {
                    "$ref": "TextFormat",
                    "description": "The format of this run.  Absent values inherit the cell's format."
                }
            },
            "type": "object"
        },
        "UpdateFilterViewRequest": {
            "description": "Updates properties of the filter view.",
            "id": "UpdateFilterViewRequest",
            "properties": {
                "filter": {
                    "$ref": "FilterView",
                    "description": "The new properties of the filter view."
                },
                "fields": {
                    "description": "The fields that should be updated.  At least one field must be specified.\nThe root `filter` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "format": "google-fieldmask",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UpdateConditionalFormatRuleResponse": {
            "description": "The result of updating a conditional format rule.",
            "id": "UpdateConditionalFormatRuleResponse",
            "properties": {
                "oldIndex": {
                    "description": "The old index of the rule. Not set if a rule was replaced\n(because it is the same as new_index).",
                    "format": "int32",
                    "type": "integer"
                },
                "newRule": {
                    "$ref": "ConditionalFormatRule",
                    "description": "The new rule that replaced the old rule (if replacing),\nor the rule that was moved (if moved)"
                },
                "oldRule": {
                    "$ref": "ConditionalFormatRule",
                    "description": "The old (deleted) rule. Not set if a rule was moved\n(because it is the same as new_rule)."
                },
                "newIndex": {
                    "description": "The index of the new rule.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "FilterCriteria": {
            "description": "Criteria for showing/hiding rows in a filter or filter view.",
            "id": "FilterCriteria",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition",
                    "description": "A condition that must be true for values to be shown.\n(This does not override hiddenValues -- if a value is listed there,\n it will still be hidden.)"
                },
                "hiddenValues": {
                    "description": "Values that should be hidden.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "DeleteDimensionRequest": {
            "description": "Deletes the dimensions from the sheet.",
            "id": "DeleteDimensionRequest",
            "properties": {
                "range": {
                    "$ref": "DimensionRange",
                    "description": "The dimensions to delete from the sheet."
                }
            },
            "type": "object"
        },
        "PivotTable": {
            "description": "A pivot table.",
            "id": "PivotTable",
            "properties": {
                "valueLayout": {
                    "description": "Whether values should be listed horizontally (as columns)\nor vertically (as rows).",
                    "enum": [
                        "HORIZONTAL",
                        "VERTICAL"
                    ],
                    "enumDescriptions": [
                        "Values are laid out horizontally (as columns).",
                        "Values are laid out vertically (as rows)."
                    ],
                    "type": "string"
                },
                "columns": {
                    "description": "Each column grouping in the pivot table.",
                    "items": {
                        "$ref": "PivotGroup"
                    },
                    "type": "array"
                },
                "source": {
                    "$ref": "GridRange",
                    "description": "The range the pivot table is reading data from."
                },
                "rows": {
                    "description": "Each row grouping in the pivot table.",
                    "items": {
                        "$ref": "PivotGroup"
                    },
                    "type": "array"
                },
                "values": {
                    "description": "A list of values to include in the pivot table.",
                    "items": {
                        "$ref": "PivotValue"
                    },
                    "type": "array"
                },
                "criteria": {
                    "additionalProperties": {
                        "$ref": "PivotFilterCriteria"
                    },
                    "description": "An optional mapping of filters per source column offset.\n\nThe filters will be applied before aggregating data into the pivot table.\nThe map's key is the column offset of the source range that you want to\nfilter, and the value is the criteria for that column.\n\nFor example, if the source was `C10:E15`, a key of `0` will have the filter\nfor column `C`, whereas the key `1` is for column `D`.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "DataValidationRule": {
            "description": "A data validation rule.",
            "id": "DataValidationRule",
            "properties": {
                "condition": {
                    "$ref": "BooleanCondition",
                    "description": "The condition that data in the cell must match."
                },
                "inputMessage": {
                    "description": "A message to show the user when adding data to the cell.",
                    "type": "string"
                },
                "showCustomUi": {
                    "description": "True if the UI should be customized based on the kind of condition.\nIf true, \"List\" conditions will show a dropdown.",
                    "type": "boolean"
                },
                "strict": {
                    "description": "True if invalid data should be rejected.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "UpdateSpreadsheetPropertiesRequest": {
            "description": "Updates properties of a spreadsheet.",
            "id": "UpdateSpreadsheetPropertiesRequest",
            "properties": {
                "fields": {
                    "description": "The fields that should be updated.  At least one field must be specified.\nThe root 'properties' is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.",
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "properties": {
                    "$ref": "SpreadsheetProperties",
                    "description": "The properties to update."
                }
            },
            "type": "object"
        },
        "ChartSourceRange": {
            "description": "Source ranges for a chart.",
            "id": "ChartSourceRange",
            "properties": {
                "sources": {
                    "description": "The ranges of data for a series or domain.\nExactly one dimension must have a length of 1,\nand all sources in the list must have the same dimension\nwith length 1.\nThe domain (if it exists) & all series must have the same number\nof source ranges. If using more than one source range, then the source\nrange at a given offset must be contiguous across the domain and series.\n\nFor example, these are valid configurations:\n\n    domain sources: A1:A5\n    series1 sources: B1:B5\n    series2 sources: D6:D10\n\n    domain sources: A1:A5, C10:C12\n    series1 sources: B1:B5, D10:D12\n    series2 sources: C1:C5, E10:E12",
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchUpdateValuesRequest": {
            "description": "The request for updating more than one range of values in a spreadsheet.",
            "id": "BatchUpdateValuesRequest",
            "properties": {
                "valueInputOption": {
                    "description": "How the input data should be interpreted.",
                    "enum": [
                        "INPUT_VALUE_OPTION_UNSPECIFIED",
                        "RAW",
                        "USER_ENTERED"
                    ],
                    "enumDescriptions": [
                        "Default input value. This value must not be used.",
                        "The values the user has entered will not be parsed and will be stored\nas-is.",
                        "The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."
                    ],
                    "type": "string"
                },
                "data": {
                    "description": "The new values to apply to the spreadsheet.",
                    "items": {
                        "$ref": "ValueRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ClearBasicFilterRequest": {
            "description": "Clears the basic filter, if any exists on the sheet.",
            "id": "ClearBasicFilterRequest",
            "properties": {
                "sheetId": {
                    "description": "The sheet ID on which the basic filter should be cleared.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ConditionalFormatRule": {
            "description": "A rule describing a conditional format.",
            "id": "ConditionalFormatRule",
            "properties": {
                "gradientRule": {
                    "$ref": "GradientRule",
                    "description": "The formatting will vary based on the gradients in the rule."
                },
                "booleanRule": {
                    "$ref": "BooleanRule",
                    "description": "The formatting is either \"on\" or \"off\" according to the rule."
                },
                "ranges": {
                    "description": "The ranges that will be formatted if the condition is true.\nAll the ranges must be on the same grid.",
                    "items": {
                        "$ref": "GridRange"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UpdateBordersRequest": {
            "description": "Updates the borders of a range.\nIf a field is not set in the request, that means the border remains as-is.\nFor example, with two subsequent UpdateBordersRequest:\n\n 1. range: A1:A5 `{ top: RED, bottom: WHITE }`\n 2. range: A1:A5 `{ left: BLUE }`\n\nThat would result in A1:A5 having a borders of\n`{ top: RED, bottom: WHITE, left: BLUE }`.\nIf you want to clear a border, explicitly set the style to\nNONE.",
            "id": "UpdateBordersRequest",
            "properties": {
                "right": {
                    "$ref": "Border",
                    "description": "The border to put at the right of the range."
                },
                "innerVertical": {
                    "$ref": "Border",
                    "description": "The vertical border to put within the range."
                },
                "top": {
                    "$ref": "Border",
                    "description": "The border to put at the top of the range."
                },
                "innerHorizontal": {
                    "$ref": "Border",
                    "description": "The horizontal border to put within the range."
                },
                "range": {
                    "$ref": "GridRange",
                    "description": "The range whose borders should be updated."
                },
                "bottom": {
                    "$ref": "Border",
                    "description": "The border to put at the bottom of the range."
                },
                "left": {
                    "$ref": "Border",
                    "description": "The border to put at the left of the range."
                }
            },
            "type": "object"
        },
        "PivotFilterCriteria": {
            "description": "Criteria for showing/hiding rows in a pivot table.",
            "id": "PivotFilterCriteria",
            "properties": {
                "visibleValues": {
                    "description": "Values that should be included.  Values not listed here are excluded.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Borders": {
            "description": "The borders of the cell.",
            "id": "Borders",
            "properties": {
                "left": {
                    "$ref": "Border",
                    "description": "The left border of the cell."
                },
                "right": {
                    "$ref": "Border",
                    "description": "The right border of the cell."
                },
                "top": {
                    "$ref": "Border",
                    "description": "The top border of the cell."
                },
                "bottom": {
                    "$ref": "Border",
                    "description": "The bottom border of the cell."
                }
            },
            "type": "object"
        },
        "EmbeddedChart": {
            "description": "A chart embedded in a sheet.",
            "id": "EmbeddedChart",
            "properties": {
                "chartId": {
                    "description": "The ID of the chart.",
                    "format": "int32",
                    "type": "integer"
                },
                "position": {
                    "$ref": "EmbeddedObjectPosition",
                    "description": "The position of the chart."
                },
                "spec": {
                    "$ref": "ChartSpec",
                    "description": "The specification of the chart."
                }
            },
            "type": "object"
        },
        "Color": {
            "description": "Represents a color in the RGBA color space. This representation is designed\nfor simplicity of conversion to/from color representations in various\nlanguages over compactness; for example, the fields of this representation\ncan be trivially provided to the constructor of \"java.awt.Color\" in Java; it\ncan also be trivially provided to UIColor's \"+colorWithRed:green:blue:alpha\"\nmethod in iOS; and, with just a little work, it can be easily formatted into\na CSS \"rgba()\" string in JavaScript, as well. Here are some examples:\n\nExample (Java):\n\n     import com.google.type.Color;\n\n     // ...\n     public static java.awt.Color fromProto(Color protocolor) {\n       float alpha = protocolor.hasAlpha()\n           ? protocolor.getAlpha().getValue()\n           : 1.0;\n\n       return new java.awt.Color(\n           protocolor.getRed(),\n           protocolor.getGreen(),\n           protocolor.getBlue(),\n           alpha);\n     }\n\n     public static Color toProto(java.awt.Color color) {\n       float red = (float) color.getRed();\n       float green = (float) color.getGreen();\n       float blue = (float) color.getBlue();\n       float denominator = 255.0;\n       Color.Builder resultBuilder =\n           Color\n               .newBuilder()\n               .setRed(red / denominator)\n               .setGreen(green / denominator)\n               .setBlue(blue / denominator);\n       int alpha = color.getAlpha();\n       if (alpha != 255) {\n         result.setAlpha(\n             FloatValue\n                 .newBuilder()\n                 .setValue(((float) alpha) / denominator)\n                 .build());\n       }\n       return resultBuilder.build();\n     }\n     // ...\n\nExample (iOS / Obj-C):\n\n     // ...\n     static UIColor* fromProto(Color* protocolor) {\n        float red = [protocolor red];\n        float green = [protocolor green];\n        float blue = [protocolor blue];\n        FloatValue* alpha_wrapper = [protocolor alpha];\n        float alpha = 1.0;\n        if (alpha_wrapper != nil) {\n          alpha = [alpha_wrapper value];\n        }\n        return [UIColor colorWithRed:red green:green blue:blue alpha:alpha];\n     }\n\n     static Color* toProto(UIColor* color) {\n         CGFloat red, green, blue, alpha;\n         if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) {\n           return nil;\n         }\n         Color* result = [Color alloc] init];\n         [result setRed:red];\n         [result setGreen:green];\n         [result setBlue:blue];\n         if (alpha <= 0.9999) {\n           [result setAlpha:floatWrapperWithValue(alpha)];\n         }\n         [result autorelease];\n         return result;\n    }\n    // ...\n\n Example (JavaScript):\n\n    // ...\n\n    var protoToCssColor = function(rgb_color) {\n       var redFrac = rgb_color.red || 0.0;\n       var greenFrac = rgb_color.green || 0.0;\n       var blueFrac = rgb_color.blue || 0.0;\n       var red = Math.floor(redFrac * 255);\n       var green = Math.floor(greenFrac * 255);\n       var blue = Math.floor(blueFrac * 255);\n\n       if (!('alpha' in rgb_color)) {\n          return rgbToCssColor_(red, green, blue);\n       }\n\n       var alphaFrac = rgb_color.alpha.value || 0.0;\n       var rgbParams = [red, green, blue].join(',');\n       return ['rgba(', rgbParams, ',', alphaFrac, ')'].join('');\n    };\n\n    var rgbToCssColor_ = function(red, green, blue) {\n      var rgbNumber = new Number((red << 16) | (green << 8) | blue);\n      var hexString = rgbNumber.toString(16);\n      var missingZeros = 6 - hexString.length;\n      var resultBuilder = ['#'];\n      for (var i = 0; i < missingZeros; i++) {\n         resultBuilder.push('0');\n      }\n      resultBuilder.push(hexString);\n      return resultBuilder.join('');\n    };\n\n    // ...",
            "id": "Color",
            "properties": {
                "green": {
                    "description": "The amount of green in the color as a value in the interval [0, 1].",
                    "format": "float",
                    "type": "number"
                },
                "blue": {
                    "description": "The amount of blue in the color as a value in the interval [0, 1].",
                    "format": "float",
                    "type": "number"
                },
                "red": {
                    "description": "The amount of red in the color as a value in the interval [0, 1].",
                    "format": "float",
                    "type": "number"
                },
                "alpha": {
                    "description": "The fraction of this color that should be applied to the pixel. That is,\nthe final pixel color is defined by the equation:\n\n  pixel color = alpha * (this color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color. This\nuses a wrapper message rather than a simple float scalar so that it is\npossible to distinguish between a default value and the value being unset.\nIf omitted, this color object is to be rendered as a solid color\n(as if the alpha value had been explicitly given with a value of 1.0).",
                    "format": "float",
                    "type": "number"
                }
            },
            "type": "object"
        },
        "AddSheetRequest": {
            "description": "Adds a new sheet.\nWhen a sheet is added at a given index,\nall subsequent sheets' indexes are incremented.\nTo add an object sheet, use AddChartRequest instead and specify\nEmbeddedObjectPosition.sheetId or\nEmbeddedObjectPosition.newSheet.",
            "id": "AddSheetRequest",
            "properties": {
                "properties": {
                    "$ref": "SheetProperties",
                    "description": "The properties the new sheet should have.\nAll properties are optional.\nIf a sheetId\nis specified, the sheet will use that ID.\n(It is an error to specify the ID of a sheet that already exists.)"
                }
            },
            "type": "object"
        },
        "AddProtectedRangeRequest": {
            "description": "Adds a new protected range.",
            "id": "AddProtectedRangeRequest",
            "properties": {
                "protectedRange": {
                    "$ref": "ProtectedRange",
                    "description": "The protected range to be added."
                }
            },
            "type": "object"
        },
        "ValueRange": {
            "description": "Data within a range of the spreadsheet.",
            "id": "ValueRange",
            "properties": {
                "values": {
                    "description": "The data that was read or to be written.  This is an array of arrays,\nthe outer array representing all the data and each inner array\nrepresenting a major dimension. Each item in the inner array\ncorresponds with one cell.\n\nFor output, empty trailing rows and columns will not be included.\n\nFor input, supported value types are: bool, string, and double.\nNull values will be skipped.\nTo set a cell to an empty value, set the string value to an empty string.",
                    "items": {
                        "items": {
                            "type": "any"
                        },
                        "type": "array"
                    },
                    "type": "array"
                },
                "range": {
                    "description": "The range the values cover, in A1 notation.\nFor output, this range indicates the entire requested range,\neven though the values will exclude trailing rows and columns.",
                    "type": "string"
                },
                "majorDimension": {
                    "description": "The major dimension of the values.\n\nFor output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.\n\nFor input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]`\nwill set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS`\nthen `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`.\n\nWhen writing, if this field is not set, it defaults to ROWS.",
                    "enum": [
                        "DIMENSION_UNSPECIFIED",
                        "ROWS",
                        "COLUMNS"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Operates on the rows of a sheet.",
                        "Operates on the columns of a sheet."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "FindReplaceResponse": {
            "description": "The result of the find/replace.",
            "id": "FindReplaceResponse",
            "properties": {
                "valuesChanged": {
                    "description": "The number of non-formula cells changed.",
                    "format": "int32",
                    "type": "integer"
                },
                "rowsChanged": {
                    "description": "The number of rows changed.",
                    "format": "int32",
                    "type": "integer"
                },
                "occurrencesChanged": {
                    "description": "The number of occurrences (possibly multiple within a cell) changed.\nFor example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would\nbe `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`.",
                    "format": "int32",
                    "type": "integer"
                },
                "formulasChanged": {
                    "description": "The number of formula cells changed.",
                    "format": "int32",
                    "type": "integer"
                },
                "sheetsChanged": {
                    "description": "The number of sheets changed.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "CellFormat": {
            "description": "The format of a cell.",
            "id": "CellFormat",
            "properties": {
                "horizontalAlignment": {
                    "description": "The horizontal alignment of the value in the cell.",
                    "enum": [
                        "HORIZONTAL_ALIGN_UNSPECIFIED",
                        "LEFT",
                        "CENTER",
                        "RIGHT"
                    ],
                    "enumDescriptions": [
                        "The horizontal alignment is not specified. Do not use this.",
                        "The text is explicitly aligned to the left of the cell.",
                        "The text is explicitly aligned to the center of the cell.",
                        "The text is explicitly aligned to the right of the cell."
                    ],
                    "type": "string"
                },
                "hyperlinkDisplayType": {
                    "description": "How a hyperlink, if it exists, should be displayed in the cell.",
                    "enum": [
                        "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
                        "LINKED",
                        "PLAIN_TEXT"
                    ],
                    "enumDescriptions": [
                        "The default value: the hyperlink is rendered. Do not use this.",
                        "A hyperlink should be explicitly rendered.",
                        "A hyperlink should not be rendered."
                    ],
                    "type": "string"
                },
                "borders": {
                    "$ref": "Borders",
                    "description": "The borders of the cell."
                },
                "textDirection": {
                    "description": "The direction of the text in the cell.",
                    "enum": [
                        "TEXT_DIRECTION_UNSPECIFIED",
                        "LEFT_TO_RIGHT",
                        "RIGHT_TO_LEFT"
                    ],
                    "enumDescriptions": [
                        "The text direction is not specified. Do not use this.",
                        "The text direction of left-to-right was set by the user.",
                        "The text direction of right-to-left was set by the user."
                    ],
                    "type": "string"
                },
                "textFormat": {
                    "$ref": "TextFormat",
                    "description": "The format of the text in the cell (unless overridden by a format run)."
                },
                "padding": {
                    "$ref": "Padding",
                    "description": "The padding of the cell."
                },
                "numberFormat": {
                    "$ref": "NumberFormat",
                    "description": "A format describing how number values should be represented to the user."
                },
                "wrapStrategy": {
                    "description": "The wrap strategy for the value in the cell.",
                    "enum": [
                        "WRAP_STRATEGY_UNSPECIFIED",
                        "OVERFLOW_CELL",
                        "LEGACY_WRAP",
                        "CLIP",
                        "WRAP"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "Lines that are longer than the cell width will be written in the next\ncell over, so long as that cell is empty. If the next cell over is\nnon-empty, this behaves the same as CLIP. The text will never wrap\nto the next line unless the user manually inserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline that is very long. <- Text continues into next cell\n    | Next newline.   |",
                        "This wrap strategy represents the old Google Sheets wrap strategy where\nwords that are longer than a line are clipped rather than broken. This\nstrategy is not supported on all platforms and is being phased out.\nExample:\n\n    | Cell has a |\n    | loooooooooo| <- Word is clipped.\n    | word.      |",
                        "Lines that are longer than the cell width will be clipped.\nThe text will never wrap to the next line unless the user manually\ninserts a new line.\nExample:\n\n    | First sentence. |\n    | Manual newline t| <- Text is clipped\n    | Next newline.   |",
                        "Words that are longer than a line are wrapped at the character level\nrather than clipped.\nExample:\n\n    | Cell has a |\n    | loooooooooo| <- Word is broken.\n    | ong word.  |"
                    ],
                    "type": "string"
                },
                "backgroundColor": {
                    "$ref": "Color",
                    "description": "The background color of the cell."
                },
                "verticalAlignment": {
                    "description": "The vertical alignment of the value in the cell.",
                    "enum": [
                        "VERTICAL_ALIGN_UNSPECIFIED",
                        "TOP",
                        "MIDDLE",
                        "BOTTOM"
                    ],
                    "enumDescriptions": [
                        "The vertical alignment is not specified.  Do not use this.",
                        "The text is explicitly aligned to the top of the cell.",
                        "The text is explicitly aligned to the middle of the cell.",
                        "The text is explicitly aligned to the bottom of the cell."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "MoveDimensionRequest": {
            "description": "Moves one or more rows or columns.",
            "id": "MoveDimensionRequest",
            "properties": {
                "source": {
                    "$ref": "DimensionRange",
                    "description": "The source dimensions to move."
                },
                "destinationIndex": {
                    "description": "The zero-based start index of where to move the source data to,\nbased on the coordinates *before* the source data is removed\nfrom the grid.  Existing data will be shifted down or right\n(depending on the dimension) to make room for the moved dimensions.\nThe source dimensions are removed from the grid, so the\nthe data may end up in a different index than specified.\n\nFor example, given `A1..A5` of `0, 1, 2, 3, 4` and wanting to move\n`\"1\"` and `\"2\"` to between `\"3\"` and `\"4\"`, the source would be\n`ROWS [1..3)`,and the destination index would be `\"4\"`\n(the zero-based index of row 5).\nThe end result would be `A1..A5` of `0, 3, 1, 2, 4`.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "BasicChartAxis": {
            "description": "An axis of the chart.\nA chart may not have more than one axis per\naxis position.",
            "id": "BasicChartAxis",
            "properties": {
                "position": {
                    "description": "The position of this axis.",
                    "enum": [
                        "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
                        "BOTTOM_AXIS",
                        "LEFT_AXIS",
                        "RIGHT_AXIS"
                    ],
                    "enumDescriptions": [
                        "Default value, do not use.",
                        "The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.",
                        "The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.",
                        "The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."
                    ],
                    "type": "string"
                },
                "title": {
                    "description": "The title of this axis. If set, this overrides any title inferred\nfrom headers of the data.",
                    "type": "string"
                },
                "format": {
                    "$ref": "TextFormat",
                    "description": "The format of the title.\nOnly valid if the axis is not associated with the domain."
                }
            },
            "type": "object"
        },
        "PivotGroupSortValueBucket": {
            "description": "Information about which values in a pivot group should be used for sorting.",
            "id": "PivotGroupSortValueBucket",
            "properties": {
                "buckets": {
                    "description": "Determines the bucket from which values are chosen to sort.\n\nFor example, in a pivot table with one row group & two column groups,\nthe row group can list up to two values. The first value corresponds\nto a value within the first column group, and the second value\ncorresponds to a value in the second column group.  If no values\nare listed, this would indicate that the row should be sorted according\nto the \"Grand Total\" over the column groups. If a single value is listed,\nthis would correspond to using the \"Total\" of that bucket.",
                    "items": {
                        "$ref": "ExtendedValue"
                    },
                    "type": "array"
                },
                "valuesIndex": {
                    "description": "The offset in the PivotTable.values list which the values in this\ngrouping should be sorted by.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "DimensionProperties": {
            "description": "Properties about a dimension.",
            "id": "DimensionProperties",
            "properties": {
                "hiddenByUser": {
                    "description": "True if this dimension is explicitly hidden.",
                    "type": "boolean"
                },
                "pixelSize": {
                    "description": "The height (if a row) or width (if a column) of the dimension in pixels.",
                    "format": "int32",
                    "type": "integer"
                },
                "hiddenByFilter": {
                    "description": "True if this dimension is being filtered.\nThis field is read-only.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "EmbeddedObjectPosition": {
            "description": "The position of an embedded object such as a chart.",
            "id": "EmbeddedObjectPosition",
            "properties": {
                "sheetId": {
                    "description": "The sheet this is on. Set only if the embedded object\nis on its own sheet. Must be non-negative.",
                    "format": "int32",
                    "type": "integer"
                },
                "overlayPosition": {
                    "$ref": "OverlayPosition",
                    "description": "The position at which the object is overlaid on top of a grid."
                },
                "newSheet": {
                    "description": "If true, the embedded object will be put on a new sheet whose ID\nis chosen for you. Used only when writing.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "InterpolationPoint": {
            "description": "A single interpolation point on a gradient conditional format.\nThese pin the gradient color scale according to the color,\ntype and value chosen.",
            "id": "InterpolationPoint",
            "properties": {
                "value": {
                    "description": "The value this interpolation point uses.  May be a formula.\nUnused if type is MIN or\nMAX.",
                    "type": "string"
                },
                "color": {
                    "$ref": "Color",
                    "description": "The color this interpolation point should use."
                },
                "type": {
                    "description": "How the value should be interpreted.",
                    "enum": [
                        "INTERPOLATION_POINT_TYPE_UNSPECIFIED",
                        "MIN",
                        "MAX",
                        "NUMBER",
                        "PERCENT",
                        "PERCENTILE"
                    ],
                    "enumDescriptions": [
                        "The default value, do not use.",
                        "The interpolation point will use the minimum value in the\ncells over the range of the conditional format.",
                        "The interpolation point will use the maximum value in the\ncells over the range of the conditional format.",
                        "The interpolation point will use exactly the value in\nInterpolationPoint.value.",
[...]
