{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/cloud-platform": {
                    "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
                }
            }
        }
    },
    "basePath": "",
    "baseUrl": "https://speech.googleapis.com/",
    "batchPath": "batch",
    "canonicalName": "Speech",
    "description": "Converts audio to text by applying powerful neural network models.",
    "discoveryVersion": "v1",
    "documentationLink": "https://cloud.google.com/speech-to-text/docs/quickstart-protocol",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "speech:v2",
    "kind": "discovery#restDescription",
    "name": "speech",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "protocol": "rest",
    "revision": "20240405",
    "rootUrl": "https://speech.googleapis.com/",
    "servicePath": "",
    "title": "Cloud Speech-to-Text API",
    "version": "v2",
    "version_module": true,
    "parameters": {
        "$.xgafv": {
            "description": "V1 error format.",
            "enum": [
                "1",
                "2"
            ],
            "enumDescriptions": [
                "v1 error format",
                "v2 error format"
            ],
            "location": "query",
            "type": "string"
        },
        "access_token": {
            "description": "OAuth access token.",
            "location": "query",
            "type": "string"
        },
        "alt": {
            "default": "json",
            "description": "Data format for response.",
            "enum": [
                "json",
                "media",
                "proto"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json",
                "Media download with context-dependent Content-Type",
                "Responses with Content-Type of application/x-protobuf"
            ],
            "location": "query",
            "type": "string"
        },
        "callback": {
            "description": "JSONP",
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
            "location": "query",
            "type": "string"
        },
        "uploadType": {
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
            "location": "query",
            "type": "string"
        },
        "upload_protocol": {
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
            "location": "query",
            "type": "string"
        }
    },
    "resources": {
        "projects": {
            "resources": {
                "locations": {
                    "methods": {
                        "get": {
                            "description": "Gets information about a location.",
                            "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
                            "httpMethod": "GET",
                            "id": "speech.projects.locations.get",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "name": {
                                    "description": "Resource name for the location.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+/locations/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}",
                            "response": {
                                "$ref": "Location"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        },
                        "list": {
                            "description": "Lists information about the supported locations for this service.",
                            "flatPath": "v2/projects/{projectsId}/locations",
                            "httpMethod": "GET",
                            "id": "speech.projects.locations.list",
                            "parameterOrder": [
                                "name"
                            ],
                            "parameters": {
                                "filter": {
                                    "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                                    "location": "query",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The resource that owns the locations collection, if applicable.",
                                    "location": "path",
                                    "pattern": "^projects/[^/]+$",
                                    "required": true,
                                    "type": "string"
                                },
                                "pageSize": {
                                    "description": "The maximum number of results to return. If not set, the service selects a default.",
                                    "format": "int32",
                                    "location": "query",
                                    "type": "integer"
                                },
                                "pageToken": {
                                    "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "v2/{+name}/locations",
                            "response": {
                                "$ref": "ListLocationsResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                            ]
                        }
                    },
                    "resources": {
                        "config": {
                            "methods": {
                                "get": {
                                    "description": "Returns the requested Config.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/config",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.config.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the config to retrieve. There is exactly one config resource per project per location. The expected format is `projects/{project}/locations/{location}/config`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Config"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "update": {
                                    "description": "Updates the Config.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/config",
                                    "httpMethod": "PATCH",
                                    "id": "speech.projects.locations.config.update",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Output only. Identifier. The name of the config resource. There is exactly one config resource per project per location. The expected format is `projects/{project}/locations/{location}/config`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "The list of fields to be updated.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "Config"
                                    },
                                    "response": {
                                        "$ref": "Config"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "customClasses": {
                            "methods": {
                                "create": {
                                    "description": "Creates a CustomClass.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.customClasses.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "customClassId": {
                                            "description": "The ID to use for the CustomClass, which will become the final component of the CustomClass's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The project and location where this CustomClass will be created. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the CustomClass, but do not actually create it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/customClasses",
                                    "request": {
                                        "$ref": "CustomClass"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the CustomClass.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}",
                                    "httpMethod": "DELETE",
                                    "id": "speech.projects.locations.customClasses.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "allowMissing": {
                                            "description": "If set to true, and the CustomClass is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "etag": {
                                            "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. The name of the CustomClass to delete. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the deleted CustomClass, but do not actually delete it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Returns the requested CustomClass.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.customClasses.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the CustomClass to retrieve. The expected format is `projects/{project}/locations/{location}/customClasses/{custom_class}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "CustomClass"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Lists CustomClasses.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.customClasses.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "Number of results per requests. A valid page_size ranges from 0 to 100 inclusive. If the page_size is zero or unspecified, a page size of 5 will be chosen. If the page size exceeds 100, it will be coerced down to 100. Note that a call might return fewer results than the requested page size.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "A page token, received from a previous ListCustomClasses call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListCustomClasses must match the call that provided the page token.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The project and location of CustomClass resources to list. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "showDeleted": {
                                            "description": "Whether, or not, to show resources that have been deleted.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/customClasses",
                                    "response": {
                                        "$ref": "ListCustomClassesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the CustomClass.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}",
                                    "httpMethod": "PATCH",
                                    "id": "speech.projects.locations.customClasses.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Output only. Identifier. The resource name of the CustomClass. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "The list of fields to be updated. If empty, all fields are considered for update.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the updated CustomClass, but do not actually update it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "CustomClass"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "undelete": {
                                    "description": "Undeletes the CustomClass.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/customClasses/{customClassesId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.customClasses.undelete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the CustomClass to undelete. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/customClasses/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:undelete",
                                    "request": {
                                        "$ref": "UndeleteCustomClassRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "operations": {
                            "methods": {
                                "get": {
                                    "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.operations.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "The name of the operation resource.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.operations.list",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "filter": {
                                            "description": "The standard list filter.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the operation's parent resource.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "pageSize": {
                                            "description": "The standard list page size.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "The standard list page token.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}/operations",
                                    "response": {
                                        "$ref": "ListOperationsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "phraseSets": {
                            "methods": {
                                "create": {
                                    "description": "Creates a PhraseSet.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.phraseSets.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The project and location where this PhraseSet will be created. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "phraseSetId": {
                                            "description": "The ID to use for the PhraseSet, which will become the final component of the PhraseSet's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the PhraseSet, but do not actually create it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/phraseSets",
                                    "request": {
                                        "$ref": "PhraseSet"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the PhraseSet.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                                    "httpMethod": "DELETE",
                                    "id": "speech.projects.locations.phraseSets.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "allowMissing": {
                                            "description": "If set to true, and the PhraseSet is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "etag": {
                                            "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. The name of the PhraseSet to delete. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/phraseSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the deleted PhraseSet, but do not actually delete it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Returns the requested PhraseSet.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.phraseSets.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the PhraseSet to retrieve. The expected format is `projects/{project}/locations/{location}/phraseSets/{phrase_set}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/phraseSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "PhraseSet"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Lists PhraseSets.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.phraseSets.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "The maximum number of PhraseSets to return. The service may return fewer than this value. If unspecified, at most 5 PhraseSets will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "A page token, received from a previous ListPhraseSets call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListPhraseSets must match the call that provided the page token.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The project and location of PhraseSet resources to list. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "showDeleted": {
                                            "description": "Whether, or not, to show resources that have been deleted.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/phraseSets",
                                    "response": {
                                        "$ref": "ListPhraseSetsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the PhraseSet.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}",
                                    "httpMethod": "PATCH",
                                    "id": "speech.projects.locations.phraseSets.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Output only. Identifier. The resource name of the PhraseSet. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/phraseSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "The list of fields to update. If empty, all non-default valued fields are considered for update. Use `*` to update the entire PhraseSet resource.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the updated PhraseSet, but do not actually update it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "PhraseSet"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "undelete": {
                                    "description": "Undeletes the PhraseSet.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/phraseSets/{phraseSetsId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.phraseSets.undelete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the PhraseSet to undelete. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/phraseSets/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:undelete",
                                    "request": {
                                        "$ref": "UndeletePhraseSetRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        },
                        "recognizers": {
                            "methods": {
                                "batchRecognize": {
                                    "description": "Performs batch asynchronous speech recognition: send a request with N audio files and receive a long running operation that can be polled to see when the transcriptions are finished.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}:batchRecognize",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.recognizers.batchRecognize",
                                    "parameterOrder": [
                                        "recognizer"
                                    ],
                                    "parameters": {
                                        "recognizer": {
                                            "description": "Required. The name of the Recognizer to use during recognition. The expected format is `projects/{project}/locations/{location}/recognizers/{recognizer}`. The {recognizer} segment may be set to `_` to use an empty implicit Recognizer.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+recognizer}:batchRecognize",
                                    "request": {
                                        "$ref": "BatchRecognizeRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "create": {
                                    "description": "Creates a Recognizer.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.recognizers.create",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "parent": {
                                            "description": "Required. The project and location where this Recognizer will be created. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "recognizerId": {
                                            "description": "The ID to use for the Recognizer, which will become the final component of the Recognizer's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the Recognizer, but do not actually create it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/recognizers",
                                    "request": {
                                        "$ref": "Recognizer"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes the Recognizer.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}",
                                    "httpMethod": "DELETE",
                                    "id": "speech.projects.locations.recognizers.delete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "allowMissing": {
                                            "description": "If set to true, and the Recognizer is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                                            "location": "query",
                                            "type": "boolean"
                                        },
                                        "etag": {
                                            "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. The name of the Recognizer to delete. Format: `projects/{project}/locations/{location}/recognizers/{recognizer}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the deleted Recognizer, but do not actually delete it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "get": {
                                    "description": "Returns the requested Recognizer. Fails with NOT_FOUND if the requested Recognizer doesn't exist.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.recognizers.get",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the Recognizer to retrieve. The expected format is `projects/{project}/locations/{location}/recognizers/{recognizer}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "response": {
                                        "$ref": "Recognizer"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "list": {
                                    "description": "Lists Recognizers.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers",
                                    "httpMethod": "GET",
                                    "id": "speech.projects.locations.recognizers.list",
                                    "parameterOrder": [
                                        "parent"
                                    ],
                                    "parameters": {
                                        "pageSize": {
                                            "description": "The maximum number of Recognizers to return. The service may return fewer than this value. If unspecified, at most 5 Recognizers will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                                            "format": "int32",
                                            "location": "query",
                                            "type": "integer"
                                        },
                                        "pageToken": {
                                            "description": "A page token, received from a previous ListRecognizers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListRecognizers must match the call that provided the page token.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "parent": {
                                            "description": "Required. The project and location of Recognizers to list. The expected format is `projects/{project}/locations/{location}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "showDeleted": {
                                            "description": "Whether, or not, to show resources that have been deleted.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+parent}/recognizers",
                                    "response": {
                                        "$ref": "ListRecognizersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "patch": {
                                    "description": "Updates the Recognizer.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}",
                                    "httpMethod": "PATCH",
                                    "id": "speech.projects.locations.recognizers.patch",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Output only. Identifier. The resource name of the Recognizer. Format: `projects/{project}/locations/{location}/recognizers/{recognizer}`.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "updateMask": {
                                            "description": "The list of fields to update. If empty, all non-default valued fields are considered for update. Use `*` to update the entire Recognizer resource.",
                                            "format": "google-fieldmask",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "validateOnly": {
                                            "description": "If set, validate the request and preview the updated Recognizer, but do not actually update it.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "v2/{+name}",
                                    "request": {
                                        "$ref": "Recognizer"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "recognize": {
                                    "description": "Performs synchronous Speech recognition: receive results after all audio has been sent and processed.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}:recognize",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.recognizers.recognize",
                                    "parameterOrder": [
                                        "recognizer"
                                    ],
                                    "parameters": {
                                        "recognizer": {
                                            "description": "Required. The name of the Recognizer to use during recognition. The expected format is `projects/{project}/locations/{location}/recognizers/{recognizer}`. The {recognizer} segment may be set to `_` to use an empty implicit Recognizer.",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+recognizer}:recognize",
                                    "request": {
                                        "$ref": "RecognizeRequest"
                                    },
                                    "response": {
                                        "$ref": "RecognizeResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                },
                                "undelete": {
                                    "description": "Undeletes the Recognizer.",
                                    "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/recognizers/{recognizersId}:undelete",
                                    "httpMethod": "POST",
                                    "id": "speech.projects.locations.recognizers.undelete",
                                    "parameterOrder": [
                                        "name"
                                    ],
                                    "parameters": {
                                        "name": {
                                            "description": "Required. The name of the Recognizer to undelete. Format: `projects/{project}/locations/{location}/recognizers/{recognizer}`",
                                            "location": "path",
                                            "pattern": "^projects/[^/]+/locations/[^/]+/recognizers/[^/]+$",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "v2/{+name}:undelete",
                                    "request": {
                                        "$ref": "UndeleteRecognizerRequest"
                                    },
                                    "response": {
                                        "$ref": "Operation"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/cloud-platform"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "schemas": {
        "AccessMetadata": {
            "description": "The access metadata for a particular region. This can be applied if the org policy for the given project disallows a particular region.",
            "id": "AccessMetadata",
            "properties": {
                "constraintType": {
                    "description": "Describes the different types of constraints that are applied.",
                    "enum": [
                        "CONSTRAINT_TYPE_UNSPECIFIED",
                        "RESOURCE_LOCATIONS_ORG_POLICY_CREATE_CONSTRAINT"
                    ],
                    "enumDescriptions": [
                        "Unspecified constraint applied.",
                        "The project's org policy disallows the given region."
                    ],
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AdaptationPhraseSet": {
            "description": "A biasing PhraseSet, which can be either a string referencing the name of an existing PhraseSets resource, or an inline definition of a PhraseSet.",
            "id": "AdaptationPhraseSet",
            "properties": {
                "inlinePhraseSet": {
                    "$ref": "PhraseSet",
                    "description": "An inline defined PhraseSet."
                },
                "phraseSet": {
                    "description": "The name of an existing PhraseSet resource. The user must have read access to the resource and it must not be deleted.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "AutoDetectDecodingConfig": {
            "description": "Automatically detected decoding parameters. Supported for the following encodings: * WAV_LINEAR16: 16-bit signed little-endian PCM samples in a WAV container. * WAV_MULAW: 8-bit companded mulaw samples in a WAV container. * WAV_ALAW: 8-bit companded alaw samples in a WAV container. * RFC4867_5_AMR: AMR frames with an rfc4867.5 header. * RFC4867_5_AMRWB: AMR-WB frames with an rfc4867.5 header. * FLAC: FLAC frames in the \"native FLAC\" container format. * MP3: MPEG audio frames with optional (ignored) ID3 metadata. * OGG_OPUS: Opus audio frames in an Ogg container. * WEBM_OPUS: Opus audio frames in a WebM container. * M4A: M4A audio format.",
            "id": "AutoDetectDecodingConfig",
            "properties": {},
            "type": "object"
        },
        "BatchRecognizeFileMetadata": {
            "description": "Metadata about a single file in a batch for BatchRecognize.",
            "id": "BatchRecognizeFileMetadata",
            "properties": {
                "config": {
                    "$ref": "RecognitionConfig",
                    "description": "Features and audio metadata to use for the Automatic Speech Recognition. This field in combination with the config_mask field can be used to override parts of the default_recognition_config of the Recognizer resource as well as the config at the request level."
                },
                "configMask": {
                    "description": "The list of fields in config that override the values in the default_recognition_config of the recognizer during this recognition request. If no mask is provided, all non-default valued fields in config override the values in the recognizer for this recognition request. If a mask is provided, only the fields listed in the mask override the config in the recognizer for this recognition request. If a wildcard (`*`) is provided, config completely overrides and replaces the config in the recognizer for this recognition request.",
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "uri": {
                    "description": "Cloud Storage URI for the audio file.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchRecognizeFileResult": {
            "description": "Final results for a single file.",
            "id": "BatchRecognizeFileResult",
            "properties": {
                "cloudStorageResult": {
                    "$ref": "CloudStorageResult",
                    "description": "Recognition results written to Cloud Storage. This is populated only when GcsOutputConfig is set in the RecognitionOutputConfig."
                },
                "error": {
                    "$ref": "Status",
                    "description": "Error if one was encountered."
                },
                "inlineResult": {
                    "$ref": "InlineResult",
                    "description": "Recognition results. This is populated only when InlineOutputConfig is set in the RecognitionOutputConfig."
                },
                "metadata": {
                    "$ref": "RecognitionResponseMetadata"
                },
                "transcript": {
                    "$ref": "BatchRecognizeResults",
                    "deprecated": true,
                    "description": "Deprecated. Use `inline_result.transcript` instead."
                },
                "uri": {
                    "deprecated": true,
                    "description": "Deprecated. Use `cloud_storage_result.native_format_uri` instead.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchRecognizeMetadata": {
            "description": "Operation metadata for BatchRecognize.",
            "id": "BatchRecognizeMetadata",
            "properties": {
                "transcriptionMetadata": {
                    "additionalProperties": {
                        "$ref": "BatchRecognizeTranscriptionMetadata"
                    },
                    "description": "Map from provided filename to the transcription metadata for that file.",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "BatchRecognizeRequest": {
            "description": "Request message for the BatchRecognize method.",
            "id": "BatchRecognizeRequest",
            "properties": {
                "config": {
                    "$ref": "RecognitionConfig",
                    "description": "Features and audio metadata to use for the Automatic Speech Recognition. This field in combination with the config_mask field can be used to override parts of the default_recognition_config of the Recognizer resource."
                },
                "configMask": {
                    "description": "The list of fields in config that override the values in the default_recognition_config of the recognizer during this recognition request. If no mask is provided, all given fields in config override the values in the recognizer for this recognition request. If a mask is provided, only the fields listed in the mask override the config in the recognizer for this recognition request. If a wildcard (`*`) is provided, config completely overrides and replaces the config in the recognizer for this recognition request.",
                    "format": "google-fieldmask",
                    "type": "string"
                },
                "files": {
                    "description": "Audio files with file metadata for ASR. The maximum number of files allowed to be specified is 5.",
                    "items": {
                        "$ref": "BatchRecognizeFileMetadata"
                    },
                    "type": "array"
                },
                "processingStrategy": {
                    "description": "Processing strategy to use for this request.",
                    "enum": [
                        "PROCESSING_STRATEGY_UNSPECIFIED",
                        "DYNAMIC_BATCHING"
                    ],
                    "enumDescriptions": [
                        "Default value for the processing strategy. The request is processed as soon as its received.",
                        "If selected, processes the request during lower utilization periods for a price discount. The request is fulfilled within 24 hours."
                    ],
                    "type": "string"
                },
                "recognitionOutputConfig": {
                    "$ref": "RecognitionOutputConfig",
                    "description": "Configuration options for where to output the transcripts of each file."
                },
                "recognizer": {
                    "description": "Required. The name of the Recognizer to use during recognition. The expected format is `projects/{project}/locations/{location}/recognizers/{recognizer}`. The {recognizer} segment may be set to `_` to use an empty implicit Recognizer.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchRecognizeResponse": {
            "description": "Response message for BatchRecognize that is packaged into a longrunning Operation.",
            "id": "BatchRecognizeResponse",
            "properties": {
                "results": {
                    "additionalProperties": {
                        "$ref": "BatchRecognizeFileResult"
                    },
                    "description": "Map from filename to the final result for that file.",
                    "type": "object"
                },
                "totalBilledDuration": {
                    "description": "When available, billed audio seconds for the corresponding request.",
                    "format": "google-duration",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchRecognizeResults": {
            "description": "Output type for Cloud Storage of BatchRecognize transcripts. Though this proto isn't returned in this API anywhere, the Cloud Storage transcripts will be this proto serialized and should be parsed as such.",
            "id": "BatchRecognizeResults",
            "properties": {
                "metadata": {
                    "$ref": "RecognitionResponseMetadata",
                    "description": "Metadata about the recognition."
                },
                "results": {
                    "description": "Sequential list of transcription results corresponding to sequential portions of audio.",
                    "items": {
                        "$ref": "SpeechRecognitionResult"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "BatchRecognizeTranscriptionMetadata": {
            "description": "Metadata about transcription for a single file (for example, progress percent).",
            "id": "BatchRecognizeTranscriptionMetadata",
            "properties": {
                "error": {
                    "$ref": "Status",
                    "description": "Error if one was encountered."
                },
                "progressPercent": {
                    "description": "How much of the file has been transcribed so far.",
                    "format": "int32",
                    "type": "integer"
                },
                "uri": {
                    "description": "The Cloud Storage URI to which recognition results will be written.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ClassItem": {
            "description": "An item of the class.",
            "id": "ClassItem",
            "properties": {
                "value": {
                    "description": "The class item's value.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CloudStorageResult": {
            "description": "Final results written to Cloud Storage.",
            "id": "CloudStorageResult",
            "properties": {
                "srtFormatUri": {
                    "description": "The Cloud Storage URI to which recognition results were written as SRT formatted captions. This is populated only when `SRT` output is requested.",
                    "type": "string"
                },
                "uri": {
                    "description": "The Cloud Storage URI to which recognition results were written.",
                    "type": "string"
                },
                "vttFormatUri": {
                    "description": "The Cloud Storage URI to which recognition results were written as VTT formatted captions. This is populated only when `VTT` output is requested.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Config": {
            "description": "Message representing the config for the Speech-to-Text API. This includes an optional [KMS key](https://cloud.google.com/kms/docs/resource-hierarchy#keys) with which incoming data will be encrypted.",
            "id": "Config",
            "properties": {
                "kmsKeyName": {
                    "description": "Optional. An optional [KMS key name](https://cloud.google.com/kms/docs/resource-hierarchy#keys) that if present, will be used to encrypt Speech-to-Text resources at-rest. Updating this key will not encrypt existing resources using this key; only new resources will be encrypted using this key. The expected format is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
                    "type": "string"
                },
                "name": {
                    "description": "Output only. Identifier. The name of the config resource. There is exactly one config resource per project per location. The expected format is `projects/{project}/locations/{location}/config`.",
                    "readOnly": true,
                    "type": "string"
                },
                "updateTime": {
                    "description": "Output only. The most recent time this resource was modified.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "CreateCustomClassRequest": {
            "description": "Request message for the CreateCustomClass method.",
            "id": "CreateCustomClassRequest",
            "properties": {
                "customClass": {
                    "$ref": "CustomClass",
                    "description": "Required. The CustomClass to create."
                },
                "customClassId": {
                    "description": "The ID to use for the CustomClass, which will become the final component of the CustomClass's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                    "type": "string"
                },
                "parent": {
                    "description": "Required. The project and location where this CustomClass will be created. The expected format is `projects/{project}/locations/{location}`.",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the CustomClass, but do not actually create it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CreatePhraseSetRequest": {
            "description": "Request message for the CreatePhraseSet method.",
            "id": "CreatePhraseSetRequest",
            "properties": {
                "parent": {
                    "description": "Required. The project and location where this PhraseSet will be created. The expected format is `projects/{project}/locations/{location}`.",
                    "type": "string"
                },
                "phraseSet": {
                    "$ref": "PhraseSet",
                    "description": "Required. The PhraseSet to create."
                },
                "phraseSetId": {
                    "description": "The ID to use for the PhraseSet, which will become the final component of the PhraseSet's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the PhraseSet, but do not actually create it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CreateRecognizerRequest": {
            "description": "Request message for the CreateRecognizer method.",
            "id": "CreateRecognizerRequest",
            "properties": {
                "parent": {
                    "description": "Required. The project and location where this Recognizer will be created. The expected format is `projects/{project}/locations/{location}`.",
                    "type": "string"
                },
                "recognizer": {
                    "$ref": "Recognizer",
                    "description": "Required. The Recognizer to create."
                },
                "recognizerId": {
                    "description": "The ID to use for the Recognizer, which will become the final component of the Recognizer's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the Recognizer, but do not actually create it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "CustomClass": {
            "description": "CustomClass for biasing in speech recognition. Used to define a set of words or phrases that represents a common concept or theme likely to appear in your audio, for example a list of passenger ship names.",
            "id": "CustomClass",
            "properties": {
                "annotations": {
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Optional. Allows users to store small amounts of arbitrary data. Both the key and the value must be 63 characters or less each. At most 100 annotations.",
                    "type": "object"
                },
                "createTime": {
                    "description": "Output only. Creation time.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "deleteTime": {
                    "description": "Output only. The time at which this resource was requested for deletion.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "displayName": {
                    "description": "Optional. User-settable, human-readable name for the CustomClass. Must be 63 characters or less.",
                    "type": "string"
                },
                "etag": {
                    "description": "Output only. This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                    "readOnly": true,
                    "type": "string"
                },
                "expireTime": {
                    "description": "Output only. The time at which this resource will be purged.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                },
                "items": {
                    "description": "A collection of class items.",
                    "items": {
                        "$ref": "ClassItem"
                    },
                    "type": "array"
                },
                "kmsKeyName": {
                    "description": "Output only. The [KMS key name](https://cloud.google.com/kms/docs/resource-hierarchy#keys) with which the CustomClass is encrypted. The expected format is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
                    "readOnly": true,
                    "type": "string"
                },
                "kmsKeyVersionName": {
                    "description": "Output only. The [KMS key version name](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions) with which the CustomClass is encrypted. The expected format is `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`.",
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "description": "Output only. Identifier. The resource name of the CustomClass. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`.",
                    "readOnly": true,
                    "type": "string"
                },
                "reconciling": {
                    "description": "Output only. Whether or not this CustomClass is in the process of being updated.",
                    "readOnly": true,
                    "type": "boolean"
                },
                "state": {
                    "description": "Output only. The CustomClass lifecycle state.",
                    "enum": [
                        "STATE_UNSPECIFIED",
                        "ACTIVE",
                        "DELETED"
                    ],
                    "enumDescriptions": [
                        "Unspecified state. This is only used/useful for distinguishing unset values.",
                        "The normal and active state.",
                        "This CustomClass has been deleted."
                    ],
                    "readOnly": true,
                    "type": "string"
                },
                "uid": {
                    "description": "Output only. System-assigned unique identifier for the CustomClass.",
                    "readOnly": true,
                    "type": "string"
                },
                "updateTime": {
                    "description": "Output only. The most recent time this resource was modified.",
                    "format": "google-datetime",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "type": "object"
        },
        "DeleteCustomClassRequest": {
            "description": "Request message for the DeleteCustomClass method.",
            "id": "DeleteCustomClassRequest",
            "properties": {
                "allowMissing": {
                    "description": "If set to true, and the CustomClass is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                    "type": "boolean"
                },
                "etag": {
                    "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                    "type": "string"
                },
                "name": {
                    "description": "Required. The name of the CustomClass to delete. Format: `projects/{project}/locations/{location}/customClasses/{custom_class}`",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the deleted CustomClass, but do not actually delete it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DeletePhraseSetRequest": {
            "description": "Request message for the DeletePhraseSet method.",
            "id": "DeletePhraseSetRequest",
            "properties": {
                "allowMissing": {
                    "description": "If set to true, and the PhraseSet is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                    "type": "boolean"
                },
                "etag": {
                    "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                    "type": "string"
                },
                "name": {
                    "description": "Required. The name of the PhraseSet to delete. Format: `projects/{project}/locations/{location}/phraseSets/{phrase_set}`",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the deleted PhraseSet, but do not actually delete it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "DeleteRecognizerRequest": {
            "description": "Request message for the DeleteRecognizer method.",
            "id": "DeleteRecognizerRequest",
            "properties": {
                "allowMissing": {
                    "description": "If set to true, and the Recognizer is not found, the request will succeed and be a no-op (no Operation is recorded in this case).",
                    "type": "boolean"
                },
                "etag": {
                    "description": "This checksum is computed by the server based on the value of other fields. This may be sent on update, undelete, and delete requests to ensure the client has an up-to-date value before proceeding.",
                    "type": "string"
                },
                "name": {
                    "description": "Required. The name of the Recognizer to delete. Format: `projects/{project}/locations/{location}/recognizers/{recognizer}`",
                    "type": "string"
                },
                "validateOnly": {
                    "description": "If set, validate the request and preview the deleted Recognizer, but do not actually delete it.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "Entry": {
            "description": "A single replacement configuration.",
            "id": "Entry",
            "properties": {
                "caseSensitive": {
                    "description": "Whether the search is case sensitive.",
                    "type": "boolean"
                },
                "replace": {
                    "description": "What to replace with. Max length is 100 characters.",
                    "type": "string"
                },
                "search": {
                    "description": "What to replace. Max length is 100 characters.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ExplicitDecodingConfig": {
            "description": "Explicitly specified decoding parameters.",
            "id": "ExplicitDecodingConfig",
            "properties": {
                "audioChannelCount": {
                    "description": "Number of channels present in the audio data sent for recognition. Supported for the following encodings: * LINEAR16: Headerless 16-bit signed little-endian PCM samples. * MULAW: Headerless 8-bit companded mulaw samples. * ALAW: Headerless 8-bit companded alaw samples. The maximum allowed value is 8.",
                    "format": "int32",
                    "type": "integer"
                },
                "encoding": {
                    "description": "Required. Encoding of the audio data sent for recognition.",
                    "enum": [
                        "AUDIO_ENCODING_UNSPECIFIED",
                        "LINEAR16",
                        "MULAW",
                        "ALAW"
                    ],
                    "enumDescriptions": [
                        "Default value. This value is unused.",
                        "Headerless 16-bit signed little-endian PCM samples.",
                        "Headerless 8-bit companded mulaw samples.",
                        "Headerless 8-bit companded alaw samples."
                    ],
                    "type": "string"
                },
                "sampleRateHertz": {
                    "description": "Sample rate in Hertz of the audio data sent for recognition. Valid values are: 8000-48000. 16000 is optimal. For best results, set the sampling rate of the audio source to 16000 Hz. If that's not possible, use the native sample rate of the audio source (instead of re-sampling). Supported for the following encodings: * LINEAR16: Headerless 16-bit signed little-endian PCM samples. * MULAW: Headerless 8-bit companded mulaw samples. * ALAW: Headerless 8-bit companded alaw samples.",
                    "format": "int32",
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "GcsOutputConfig": {
            "description": "Output configurations for Cloud Storage.",
            "id": "GcsOutputConfig",
            "properties": {
                "uri": {
                    "description": "The Cloud Storage URI prefix with which recognition results will be written.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "InlineOutputConfig": {
            "description": "Output configurations for inline response.",
            "id": "InlineOutputConfig",
            "properties": {},
            "type": "object"
        },
        "InlineResult": {
            "description": "Final results returned inline in the recognition response.",
            "id": "InlineResult",
            "properties": {
                "srtCaptions": {
                    "description": "The transcript for the audio file as SRT formatted captions. This is populated only when `SRT` output is requested.",
                    "type": "string"
                },
                "transcript": {
                    "$ref": "BatchRecognizeResults",
                    "description": "The transcript for the audio file."
                },
                "vttCaptions": {
                    "description": "The transcript for the audio file as VTT formatted captions. This is populated only when `VTT` output is requested.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "LanguageMetadata": {
            "description": "The metadata about locales available in a given region. Currently this is just the models that are available for each locale",
            "id": "LanguageMetadata",
            "properties": {
                "models": {
                    "additionalProperties": {
                        "$ref": "ModelMetadata"
                    },
                    "description": "Map of locale (language code) -> models",
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ListCustomClassesResponse": {
            "description": "Response message for the ListCustomClasses method.",
            "id": "ListCustomClassesResponse",
            "properties": {
                "customClasses": {
                    "description": "The list of requested CustomClasses.",
                    "items": {
                        "$ref": "CustomClass"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages. This token expires after 72 hours.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListLocationsResponse": {
            "description": "The response message for Locations.ListLocations.",
            "id": "ListLocationsResponse",
            "properties": {
                "locations": {
                    "description": "A list of locations that matches the specified filter in the request.",
                    "items": {
                        "$ref": "Location"
                    },
                    "type": "array"
                },
                "nextPageToken": {
                    "description": "The standard List next-page token.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ListOperationsResponse": {
            "description": "The response message for Operations.ListOperations.",
            "id": "ListOperationsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "The standard List next-page token.",
                    "type": "string"
                },
                "operations": {
                    "description": "A list of operations that matches the specified filter in the request.",
                    "items": {
                        "$ref": "Operation"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListPhraseSetsResponse": {
            "description": "Response message for the ListPhraseSets method.",
            "id": "ListPhraseSetsResponse",
            "properties": {
                "nextPageToken": {
                    "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages. This token expires after 72 hours.",
                    "type": "string"
                },
                "phraseSets": {
                    "description": "The list of requested PhraseSets.",
                    "items": {
                        "$ref": "PhraseSet"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "ListRecognizersResponse": {
            "description": "Response message for the ListRecognizers method.",
            "id": "ListRecognizersResponse",
            "properties": {
                "nextPageToken": {
[...]
