{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/tagmanager.delete.containers": {
                    "description": "Delete your Google Tag Manager containers"
                },
                "https://www.googleapis.com/auth/tagmanager.edit.containers": {
                    "description": "Manage your Google Tag Manager containers"
                },
                "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
                    "description": "Manage your Google Tag Manager container versions"
                },
                "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
                    "description": "Manage your Google Tag Manager accounts"
                },
                "https://www.googleapis.com/auth/tagmanager.manage.users": {
                    "description": "Manage user permissions of your Google Tag Manager data"
                },
                "https://www.googleapis.com/auth/tagmanager.publish": {
                    "description": "Publish your Google Tag Manager containers"
                },
                "https://www.googleapis.com/auth/tagmanager.readonly": {
                    "description": "View your Google Tag Manager containers"
                }
            }
        }
    },
    "basePath": "/tagmanager/v1/",
    "baseUrl": "https://www.googleapis.com/tagmanager/v1/",
    "batchPath": "batch",
    "canonicalName": "Tag Manager",
    "description": "API for accessing Tag Manager accounts and containers.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/tag-manager/api/v1/",
    "etag": "\"ye6orv2F-1npMW3u9suM3a7C5Bo/xcGgQKwhk2lzAuNnzm2cQsk-PZM\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/search-16.gif",
        "x32": "http://www.google.com/images/icons/product/search-32.gif"
    },
    "id": "tagmanager:v1",
    "kind": "discovery#restDescription",
    "name": "tagmanager",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "accounts": {
            "methods": {
                "get": {
                    "description": "Gets a GTM Account.",
                    "httpMethod": "GET",
                    "id": "tagmanager.accounts.get",
                    "parameterOrder": [
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The GTM Account ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "accounts/{accountId}",
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ]
                },
                "list": {
                    "description": "Lists all GTM Accounts that a user has access to.",
                    "httpMethod": "GET",
                    "id": "tagmanager.accounts.list",
                    "path": "accounts",
                    "response": {
                        "$ref": "ListAccountsResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                    ]
                },
                "update": {
                    "description": "Updates a GTM Account.",
                    "httpMethod": "PUT",
                    "id": "tagmanager.accounts.update",
                    "parameterOrder": [
                        "accountId"
                    ],
                    "parameters": {
                        "accountId": {
                            "description": "The GTM Account ID.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "fingerprint": {
                            "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "accounts/{accountId}",
                    "request": {
                        "$ref": "Account"
                    },
                    "response": {
                        "$ref": "Account"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.manage.accounts"
                    ]
                }
            },
            "resources": {
                "containers": {
                    "methods": {
                        "create": {
                            "description": "Creates a Container.",
                            "httpMethod": "POST",
                            "id": "tagmanager.accounts.containers.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/containers",
                            "request": {
                                "$ref": "Container"
                            },
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ]
                        },
                        "delete": {
                            "description": "Deletes a Container.",
                            "httpMethod": "DELETE",
                            "id": "tagmanager.accounts.containers.delete",
                            "parameterOrder": [
                                "accountId",
                                "containerId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "containerId": {
                                    "description": "The GTM Container ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.delete.containers"
                            ]
                        },
                        "get": {
                            "description": "Gets a Container.",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.containers.get",
                            "parameterOrder": [
                                "accountId",
                                "containerId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "containerId": {
                                    "description": "The GTM Container ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ]
                        },
                        "list": {
                            "description": "Lists all Containers that belongs to a GTM Account.",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.containers.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/containers",
                            "response": {
                                "$ref": "ListContainersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                "https://www.googleapis.com/auth/tagmanager.readonly"
                            ]
                        },
                        "update": {
                            "description": "Updates a Container.",
                            "httpMethod": "PUT",
                            "id": "tagmanager.accounts.containers.update",
                            "parameterOrder": [
                                "accountId",
                                "containerId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "containerId": {
                                    "description": "The GTM Container ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "fingerprint": {
                                    "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                                    "location": "query",
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/containers/{containerId}",
                            "request": {
                                "$ref": "Container"
                            },
                            "response": {
                                "$ref": "Container"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.edit.containers"
                            ]
                        }
                    },
                    "resources": {
                        "macros": {
                            "methods": {
                                "create": {
                                    "description": "Creates a GTM Macro.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.macros.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/macros",
                                    "request": {
                                        "$ref": "Macro"
                                    },
                                    "response": {
                                        "$ref": "Macro"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a GTM Macro.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.macros.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "macroId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "macroId": {
                                            "description": "The GTM Macro ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/macros/{macroId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a GTM Macro.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.macros.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "macroId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "macroId": {
                                            "description": "The GTM Macro ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/macros/{macroId}",
                                    "response": {
                                        "$ref": "Macro"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all GTM Macros of a Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.macros.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/macros",
                                    "response": {
                                        "$ref": "ListMacrosResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a GTM Macro.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.macros.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "macroId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the macro in storage.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "macroId": {
                                            "description": "The GTM Macro ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/macros/{macroId}",
                                    "request": {
                                        "$ref": "Macro"
                                    },
                                    "response": {
                                        "$ref": "Macro"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "rules": {
                            "methods": {
                                "create": {
                                    "description": "Creates a GTM Rule.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.rules.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/rules",
                                    "request": {
                                        "$ref": "Rule"
                                    },
                                    "response": {
                                        "$ref": "Rule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a GTM Rule.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.rules.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "ruleId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "ruleId": {
                                            "description": "The GTM Rule ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/rules/{ruleId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a GTM Rule.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.rules.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "ruleId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "ruleId": {
                                            "description": "The GTM Rule ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/rules/{ruleId}",
                                    "response": {
                                        "$ref": "Rule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all GTM Rules of a Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.rules.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/rules",
                                    "response": {
                                        "$ref": "ListRulesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a GTM Rule.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.rules.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "ruleId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the rule in storage.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "ruleId": {
                                            "description": "The GTM Rule ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/rules/{ruleId}",
                                    "request": {
                                        "$ref": "Rule"
                                    },
                                    "response": {
                                        "$ref": "Rule"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "tags": {
                            "methods": {
                                "create": {
                                    "description": "Creates a GTM Tag.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.tags.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/tags",
                                    "request": {
                                        "$ref": "Tag"
                                    },
                                    "response": {
                                        "$ref": "Tag"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a GTM Tag.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.tags.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "tagId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "tagId": {
                                            "description": "The GTM Tag ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a GTM Tag.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.tags.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "tagId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "tagId": {
                                            "description": "The GTM Tag ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "response": {
                                        "$ref": "Tag"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all GTM Tags of a Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.tags.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/tags",
                                    "response": {
                                        "$ref": "ListTagsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a GTM Tag.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.tags.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "tagId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "tagId": {
                                            "description": "The GTM Tag ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                                    "request": {
                                        "$ref": "Tag"
                                    },
                                    "response": {
                                        "$ref": "Tag"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "triggers": {
                            "methods": {
                                "create": {
                                    "description": "Creates a GTM Trigger.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.triggers.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers",
                                    "request": {
                                        "$ref": "Trigger"
                                    },
                                    "response": {
                                        "$ref": "Trigger"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a GTM Trigger.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.triggers.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "triggerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "triggerId": {
                                            "description": "The GTM Trigger ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a GTM Trigger.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.triggers.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "triggerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "triggerId": {
                                            "description": "The GTM Trigger ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                                    "response": {
                                        "$ref": "Trigger"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all GTM Triggers of a Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.triggers.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers",
                                    "response": {
                                        "$ref": "ListTriggersResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a GTM Trigger.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.triggers.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "triggerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "triggerId": {
                                            "description": "The GTM Trigger ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                                    "request": {
                                        "$ref": "Trigger"
                                    },
                                    "response": {
                                        "$ref": "Trigger"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "variables": {
                            "methods": {
                                "create": {
                                    "description": "Creates a GTM Variable.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.variables.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/variables",
                                    "request": {
                                        "$ref": "Variable"
                                    },
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a GTM Variable.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.variables.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "variableId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "variableId": {
                                            "description": "The GTM Variable ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a GTM Variable.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.variables.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "variableId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "variableId": {
                                            "description": "The GTM Variable ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all GTM Variables of a Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.variables.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/variables",
                                    "response": {
                                        "$ref": "ListVariablesResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a GTM Variable.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.variables.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "variableId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                                            "location": "query",
                                            "type": "string"
                                        },
                                        "variableId": {
                                            "description": "The GTM Variable ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                                    "request": {
                                        "$ref": "Variable"
                                    },
                                    "response": {
                                        "$ref": "Variable"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                }
                            }
                        },
                        "versions": {
                            "methods": {
                                "create": {
                                    "description": "Creates a Container Version.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.create",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions",
                                    "request": {
                                        "$ref": "CreateContainerVersionRequestVersionOptions"
                                    },
                                    "response": {
                                        "$ref": "CreateContainerVersionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "delete": {
                                    "description": "Deletes a Container Version.",
                                    "httpMethod": "DELETE",
                                    "id": "tagmanager.accounts.containers.versions.delete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "get": {
                                    "description": "Gets a Container Version.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.versions.get",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "list": {
                                    "description": "Lists all Container Versions of a GTM Container.",
                                    "httpMethod": "GET",
                                    "id": "tagmanager.accounts.containers.versions.list",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "headers": {
                                            "default": "false",
                                            "description": "Retrieve headers only when true.",
                                            "location": "query",
                                            "type": "boolean"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions",
                                    "response": {
                                        "$ref": "ListContainerVersionsResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                                        "https://www.googleapis.com/auth/tagmanager.readonly"
                                    ]
                                },
                                "publish": {
                                    "description": "Publishes a Container Version.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.publish",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                                    "response": {
                                        "$ref": "PublishContainerVersionResponse"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.publish"
                                    ]
                                },
                                "restore": {
                                    "description": "Restores a Container Version. This will overwrite the container's current configuration (including its macros, rules and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.restore",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                                    ]
                                },
                                "undelete": {
                                    "description": "Undeletes a Container Version.",
                                    "httpMethod": "POST",
                                    "id": "tagmanager.accounts.containers.versions.undelete",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                },
                                "update": {
                                    "description": "Updates a Container Version.",
                                    "httpMethod": "PUT",
                                    "id": "tagmanager.accounts.containers.versions.update",
                                    "parameterOrder": [
                                        "accountId",
                                        "containerId",
                                        "containerVersionId"
                                    ],
                                    "parameters": {
                                        "accountId": {
                                            "description": "The GTM Account ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerId": {
                                            "description": "The GTM Container ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "containerVersionId": {
                                            "description": "The GTM Container Version ID.",
                                            "location": "path",
                                            "required": true,
                                            "type": "string"
                                        },
                                        "fingerprint": {
                                            "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                                            "location": "query",
                                            "type": "string"
                                        }
                                    },
                                    "path": "accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                                    "request": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "response": {
                                        "$ref": "ContainerVersion"
                                    },
                                    "scopes": [
                                        "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                                    ]
                                }
                            }
                        }
                    }
                },
                "permissions": {
                    "methods": {
                        "create": {
                            "description": "Creates a user's Account & Container Permissions.",
                            "httpMethod": "POST",
                            "id": "tagmanager.accounts.permissions.create",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/permissions",
                            "request": {
                                "$ref": "UserAccess"
                            },
                            "response": {
                                "$ref": "UserAccess"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.manage.users"
                            ]
                        },
                        "delete": {
                            "description": "Removes a user from the account, revoking access to it and all of its containers.",
                            "httpMethod": "DELETE",
                            "id": "tagmanager.accounts.permissions.delete",
                            "parameterOrder": [
                                "accountId",
                                "permissionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "permissionId": {
                                    "description": "The GTM User ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/permissions/{permissionId}",
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.manage.users"
                            ]
                        },
                        "get": {
                            "description": "Gets a user's Account & Container Permissions.",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.permissions.get",
                            "parameterOrder": [
                                "accountId",
                                "permissionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "permissionId": {
                                    "description": "The GTM User ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/permissions/{permissionId}",
                            "response": {
                                "$ref": "UserAccess"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.manage.users"
                            ]
                        },
                        "list": {
                            "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
                            "httpMethod": "GET",
                            "id": "tagmanager.accounts.permissions.list",
                            "parameterOrder": [
                                "accountId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID. @required tagmanager.accounts.permissions.list",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/permissions",
                            "response": {
                                "$ref": "ListAccountUsersResponse"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.manage.users"
                            ]
                        },
                        "update": {
                            "description": "Updates a user's Account & Container Permissions.",
                            "httpMethod": "PUT",
                            "id": "tagmanager.accounts.permissions.update",
                            "parameterOrder": [
                                "accountId",
                                "permissionId"
                            ],
                            "parameters": {
                                "accountId": {
                                    "description": "The GTM Account ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                },
                                "permissionId": {
                                    "description": "The GTM User ID.",
                                    "location": "path",
                                    "required": true,
                                    "type": "string"
                                }
                            },
                            "path": "accounts/{accountId}/permissions/{permissionId}",
                            "request": {
                                "$ref": "UserAccess"
                            },
                            "response": {
                                "$ref": "UserAccess"
                            },
                            "scopes": [
                                "https://www.googleapis.com/auth/tagmanager.manage.users"
                            ]
                        }
                    }
                }
            }
        }
    },
    "revision": "20141112",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "Account": {
            "description": "Represents a Google Tag Manager Account.",
            "id": "Account",
            "properties": {
                "accountId": {
                    "description": "The Account ID uniquely identifies the GTM Account.",
                    "type": "string"
                },
                "fingerprint": {
                    "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.",
                    "type": "string"
                },
                "name": {
                    "description": "Account display name.",
                    "type": "string"
                },
                "shareData": {
                    "description": "Whether the account shares data anonymously with Google and others.",
                    "type": "boolean"
                }
            },
            "type": "object"
        },
        "AccountAccess": {
            "description": "Defines the Google Tag Manager Account access permissions.",
            "id": "AccountAccess",
            "properties": {
                "permission": {
                    "annotations": {
                        "required": [
                            "tagmanager.accounts.permissions.create"
                        ]
                    },
                    "description": "List of Account permissions. Valid account permissions are read and manage.",
                    "items": {
                        "enum": [
                            "delete",
                            "edit",
                            "manage",
                            "publish",
                            "read"
                        ],
                        "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            ""
                        ],
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "Condition": {
            "description": "Represents a predicate.",
            "id": "Condition",
            "properties": {
                "parameter": {
                    "annotations": {
                        "required": [
                            "tagmanager.accounts.containers.rules.create",
                            "tagmanager.accounts.containers.rules.update"
                        ]
                    },
                    "description": "A list of named parameters (key/value), depending on the condition's type. Notes: \n- For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. \n- At this time, the left operand (arg0) must be a reference to a macro. \n- For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. \n- To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.",
                    "items": {
                        "$ref": "Parameter"
                    },
                    "type": "array"
                },
                "type": {
                    "annotations": {
                        "required": [
                            "tagmanager.accounts.containers.rules.create",
                            "tagmanager.accounts.containers.rules.update"
                        ]
                    },
[...]
