{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/webmasters": {
                    "description": "View and modify Webmaster Tools data for your verified sites"
                },
                "https://www.googleapis.com/auth/webmasters.readonly": {
                    "description": "View Webmaster Tools data for your verified sites"
                }
            }
        }
    },
    "basePath": "/webmasters/v3/",
    "baseUrl": "https://www.googleapis.com/webmasters/v3/",
    "batchPath": "batch",
    "description": "Lets you view Google Webmaster Tools data for your verified sites.",
    "discoveryVersion": "v1",
    "documentationLink": "https://developers.google.com/webmaster-tools/v3/welcome",
    "etag": "\"uUWyYHXmEn-ab7WLvo8qNz2S8ws/sCAxuVQJb4ynjZxsnsm28T2muEw\"",
    "icons": {
        "x16": "https://www.google.com/images/icons/product/webmaster_tools-16.png",
        "x32": "https://www.google.com/images/icons/product/webmaster_tools-32.png"
    },
    "id": "webmasters:v3",
    "kind": "discovery#restDescription",
    "name": "webmasters",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "sitemaps": {
            "methods": {
                "delete": {
                    "description": "Deletes a sitemap from this site.",
                    "httpMethod": "DELETE",
                    "id": "webmasters.sitemaps.delete",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "description": "The URL of the actual sitemap (for example http://www.example.com/sitemap.xml).",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "get": {
                    "description": "Retrieves information about a specific sitemap.",
                    "httpMethod": "GET",
                    "id": "webmasters.sitemaps.get",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "description": "The URL of the actual sitemap (for example http://www.example.com/sitemap.xml).",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "response": {
                        "$ref": "WmxSitemap"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "list": {
                    "description": "Lists sitemaps uploaded to the site.",
                    "httpMethod": "GET",
                    "id": "webmasters.sitemaps.list",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "sitemapIndex": {
                            "description": "A URL of a site's sitemap index.",
                            "location": "query",
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps",
                    "response": {
                        "$ref": "SitemapsListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "submit": {
                    "description": "Submits a sitemap for a site.",
                    "httpMethod": "PUT",
                    "id": "webmasters.sitemaps.submit",
                    "parameterOrder": [
                        "siteUrl",
                        "feedpath"
                    ],
                    "parameters": {
                        "feedpath": {
                            "description": "The URL of the sitemap to add.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/sitemaps/{feedpath}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                }
            }
        },
        "sites": {
            "methods": {
                "add": {
                    "description": "Adds a site to the set of the user's sites in Webmaster Tools.",
                    "httpMethod": "PUT",
                    "id": "webmasters.sites.add",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "description": "The URL of the site to add.",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "delete": {
                    "description": "Removes a site from the set of the user's Webmaster Tools sites.",
                    "httpMethod": "DELETE",
                    "id": "webmasters.sites.delete",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                },
                "get": {
                    "description": "Retrieves information about specific site.",
                    "httpMethod": "GET",
                    "id": "webmasters.sites.get",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}",
                    "response": {
                        "$ref": "WmxSite"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "list": {
                    "description": "Lists your Webmaster Tools sites.",
                    "httpMethod": "GET",
                    "id": "webmasters.sites.list",
                    "path": "sites",
                    "response": {
                        "$ref": "SitesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                }
            }
        },
        "urlcrawlerrorscounts": {
            "methods": {
                "query": {
                    "description": "Retrieves a time series of the number of URL crawl errors per error category and platform.",
                    "httpMethod": "GET",
                    "id": "webmasters.urlcrawlerrorscounts.query",
                    "parameterOrder": [
                        "siteUrl"
                    ],
                    "parameters": {
                        "category": {
                            "description": "The crawl error category, for example 'serverError'. If not specified, we return results for all categories.",
                            "enum": [
                                "authPermissions",
                                "manyToOneRedirect",
                                "notFollowed",
                                "notFound",
                                "other",
                                "roboted",
                                "serverError",
                                "soft404"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "latestCountsOnly": {
                            "default": "true",
                            "description": "If true, returns only the latest crawl error counts.",
                            "location": "query",
                            "type": "boolean"
                        },
                        "platform": {
                            "description": "The user agent type (platform) that made the request, for example 'web'. If not specified, we return results for all platforms.",
                            "enum": [
                                "mobile",
                                "smartphoneOnly",
                                "web"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/urlCrawlErrorsCounts/query",
                    "response": {
                        "$ref": "UrlCrawlErrorsCountsQueryResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                }
            }
        },
        "urlcrawlerrorssamples": {
            "methods": {
                "get": {
                    "description": "Retrieves details about crawl errors for a site's sample URL.",
                    "httpMethod": "GET",
                    "id": "webmasters.urlcrawlerrorssamples.get",
                    "parameterOrder": [
                        "siteUrl",
                        "url",
                        "category",
                        "platform"
                    ],
                    "parameters": {
                        "category": {
                            "description": "The crawl error category, for example 'authPermissions'",
                            "enum": [
                                "authPermissions",
                                "manyToOneRedirect",
                                "notFollowed",
                                "notFound",
                                "other",
                                "roboted",
                                "serverError",
                                "soft404"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "platform": {
                            "description": "The user agent type (platform) that made the request, for example 'web'",
                            "enum": [
                                "mobile",
                                "smartphoneOnly",
                                "web"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "url": {
                            "description": "The relative path (without the site) of the sample URL; must be one of the URLs returned by list",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/urlCrawlErrorsSamples/{url}",
                    "response": {
                        "$ref": "UrlCrawlErrorsSample"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "list": {
                    "description": "Lists a site's sample URLs for the specified crawl error category and platform.",
                    "httpMethod": "GET",
                    "id": "webmasters.urlcrawlerrorssamples.list",
                    "parameterOrder": [
                        "siteUrl",
                        "category",
                        "platform"
                    ],
                    "parameters": {
                        "category": {
                            "description": "The crawl error category, for example 'authPermissions'",
                            "enum": [
                                "authPermissions",
                                "manyToOneRedirect",
                                "notFollowed",
                                "notFound",
                                "other",
                                "roboted",
                                "serverError",
                                "soft404"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "platform": {
                            "description": "The user agent type (platform) that made the request, for example 'web'",
                            "enum": [
                                "mobile",
                                "smartphoneOnly",
                                "web"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/urlCrawlErrorsSamples",
                    "response": {
                        "$ref": "UrlCrawlErrorsSamplesListResponse"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters",
                        "https://www.googleapis.com/auth/webmasters.readonly"
                    ]
                },
                "markAsFixed": {
                    "description": "Marks the provided site's sample URL as fixed, and removes it from the samples list.",
                    "httpMethod": "DELETE",
                    "id": "webmasters.urlcrawlerrorssamples.markAsFixed",
                    "parameterOrder": [
                        "siteUrl",
                        "url",
                        "category",
                        "platform"
                    ],
                    "parameters": {
                        "category": {
                            "description": "The crawl error category, for example 'authPermissions'",
                            "enum": [
                                "authPermissions",
                                "manyToOneRedirect",
                                "notFollowed",
                                "notFound",
                                "other",
                                "roboted",
                                "serverError",
                                "soft404"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "platform": {
                            "description": "The user agent type (platform) that made the request, for example 'web'",
                            "enum": [
                                "mobile",
                                "smartphoneOnly",
                                "web"
                            ],
                            "enumDescriptions": [
                                "",
                                "",
                                ""
                            ],
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "siteUrl": {
                            "description": "The site's URL, including protocol, for example 'http://www.example.com/'",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        },
                        "url": {
                            "description": "The relative path (without the site) of the sample URL; must be one of the URLs returned by list",
                            "location": "path",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "sites/{siteUrl}/urlCrawlErrorsSamples/{url}",
                    "scopes": [
                        "https://www.googleapis.com/auth/webmasters"
                    ]
                }
            }
        }
    },
    "revision": "20140908",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "SitemapsListResponse": {
            "description": "List of sitemaps.",
            "id": "SitemapsListResponse",
            "properties": {
                "sitemap": {
                    "description": "Information about a sitemap entry.",
                    "items": {
                        "$ref": "WmxSitemap"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "SitesListResponse": {
            "description": "List of sites with access level information.",
            "id": "SitesListResponse",
            "properties": {
                "siteEntry": {
                    "description": "Access level information for a Webmaster Tools site.",
                    "items": {
                        "$ref": "WmxSite"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UrlCrawlErrorCount": {
            "description": "An entry in a URL crawl errors time series.",
            "id": "UrlCrawlErrorCount",
            "properties": {
                "count": {
                    "description": "The error count at the given timestamp.",
                    "format": "int64",
                    "type": "string"
                },
                "timestamp": {
                    "description": "The time (well, date) when errors were detected, in RFC 3339 format.",
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UrlCrawlErrorCountsPerType": {
            "description": "Number of errors per day for a specific error type (defined by platform and category).",
            "id": "UrlCrawlErrorCountsPerType",
            "properties": {
                "category": {
                    "description": "The crawl error type.",
                    "type": "string"
                },
                "entries": {
                    "description": "The error count entries time series.",
                    "items": {
                        "$ref": "UrlCrawlErrorCount"
                    },
                    "type": "array"
                },
                "platform": {
                    "description": "Corresponding to the user agent that made the request.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "UrlCrawlErrorsCountsQueryResponse": {
            "description": "A time series of the number of URL crawl errors per error category and platform.",
            "id": "UrlCrawlErrorsCountsQueryResponse",
            "properties": {
                "countPerTypes": {
                    "description": "The time series of the number of URL crawl errors for per error category and platform.",
                    "items": {
                        "$ref": "UrlCrawlErrorCountsPerType"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UrlCrawlErrorsSample": {
            "id": "UrlCrawlErrorsSample",
            "properties": {
                "first_detected": {
                    "description": "The time the error was first detected, in RFC 3339 format.",
                    "format": "date-time",
                    "type": "string"
                },
                "last_crawled": {
                    "description": "The time when the URL was last crawled, in RFC 3339 format.",
                    "format": "date-time",
                    "type": "string"
                },
                "pageUrl": {
                    "description": "The URL of an error, relative to the site.",
                    "type": "string"
                },
                "responseCode": {
                    "description": "The HTTP response code, if any.",
                    "format": "int32",
                    "type": "integer"
                },
                "urlDetails": {
                    "$ref": "UrlSampleDetails",
                    "description": "Additional details about the URL, set only when calling get()."
                }
            },
            "type": "object"
        },
        "UrlCrawlErrorsSamplesListResponse": {
            "description": "List of crawl error samples.",
            "id": "UrlCrawlErrorsSamplesListResponse",
            "properties": {
                "urlCrawlErrorSample": {
                    "description": "Information about the sample URL and its crawl error.",
                    "items": {
                        "$ref": "UrlCrawlErrorsSample"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "UrlSampleDetails": {
            "description": "Additional details about the URL, set only when calling get().",
            "id": "UrlSampleDetails",
            "properties": {
                "containingSitemaps": {
                    "description": "List of sitemaps pointing at this URL.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                },
                "linkedFromUrls": {
                    "description": "A sample set of URLs linking to this URL.",
                    "items": {
                        "type": "string"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        },
        "WmxSite": {
            "description": "Access level information for a Webmaster Tools site.",
            "id": "WmxSite",
            "properties": {
                "permissionLevel": {
                    "description": "The user's permission level for the site.",
                    "type": "string"
                },
                "siteUrl": {
                    "description": "The URL of the site.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WmxSitemap": {
            "id": "WmxSitemap",
            "properties": {
                "contents": {
                    "description": "The various content types in the sitemap.",
                    "items": {
                        "$ref": "WmxSitemapContent"
                    },
                    "type": "array"
                },
                "errors": {
                    "description": "Number of errors in the sitemap - issues with the sitemap itself, that needs to be fixed before it can be processed correctly.",
                    "format": "int64",
                    "type": "string"
                },
                "isPending": {
                    "description": "If true, the sitemap has not been processed.",
                    "type": "boolean"
                },
                "isSitemapsIndex": {
                    "description": "If true, the sitemap is a collection of sitemaps.",
                    "type": "boolean"
                },
                "lastDownloaded": {
                    "description": "Date & time in which this sitemap was last downloaded. Date format is in RFC 3339 format (yyyy-mm-dd).",
                    "format": "date-time",
                    "type": "string"
                },
                "lastSubmitted": {
                    "description": "Date & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).",
                    "format": "date-time",
                    "type": "string"
                },
                "path": {
                    "description": "The url of the sitemap.",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the sitemap (for example \"sitemap\").",
                    "type": "string"
                },
                "warnings": {
                    "description": "Number of warnings for the sitemap - issues with URLs in the sitemaps.",
                    "format": "int64",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WmxSitemapContent": {
            "description": "Information about the various content types in the sitemap.",
            "id": "WmxSitemapContent",
            "properties": {
                "indexed": {
                    "description": "The number of URLs from the sitemap that were indexed (of the content type).",
                    "format": "int64",
                    "type": "string"
                },
                "submitted": {
                    "description": "The number of URLs in the sitemap (of the content type).",
                    "format": "int64",
                    "type": "string"
                },
                "type": {
                    "description": "The specific type of content in this sitemap (for example \"web\", \"images\").",
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "webmasters/v3/",
    "title": "Webmaster Tools API",
    "version": "v3"
}