{
    "auth": {
        "oauth2": {
            "scopes": {
                "https://www.googleapis.com/auth/yt-analytics-monetary.readonly": {
                    "description": "View YouTube Analytics monetary reports for your YouTube content"
                },
                "https://www.googleapis.com/auth/yt-analytics.readonly": {
                    "description": "View YouTube Analytics reports for your YouTube content"
                }
            }
        }
    },
    "basePath": "/youtube/analytics/v1/",
    "baseUrl": "https://www.googleapis.com/youtube/analytics/v1/",
    "batchPath": "batch",
    "canonicalName": "YouTube Analytics",
    "description": "Retrieve your YouTube Analytics reports.",
    "discoveryVersion": "v1",
    "documentationLink": "http://developers.google.com/youtube/analytics/",
    "etag": "\"uUWyYHXmEn-ab7WLvo8qNz2S8ws/nlDKGR94Mbaj_YAIBNSZijmIvJQ\"",
    "icons": {
        "x16": "http://www.google.com/images/icons/product/youtube-16.png",
        "x32": "http://www.google.com/images/icons/product/youtube-32.png"
    },
    "id": "youtubeAnalytics:v1",
    "kind": "discovery#restDescription",
    "name": "youtubeAnalytics",
    "ownerDomain": "google.com",
    "ownerName": "Google",
    "parameters": {
        "alt": {
            "default": "json",
            "description": "Data format for the response.",
            "enum": [
                "csv",
                "json"
            ],
            "enumDescriptions": [
                "Responses with Content-Type of text/csv",
                "Responses with Content-Type of application/json"
            ],
            "location": "query",
            "type": "string"
        },
        "fields": {
            "description": "Selector specifying which fields to include in a partial response.",
            "location": "query",
            "type": "string"
        },
        "key": {
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
            "location": "query",
            "type": "string"
        },
        "oauth_token": {
            "description": "OAuth 2.0 token for the current user.",
            "location": "query",
            "type": "string"
        },
        "prettyPrint": {
            "default": "true",
            "description": "Returns response with indentations and line breaks.",
            "location": "query",
            "type": "boolean"
        },
        "quotaUser": {
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
            "location": "query",
            "type": "string"
        },
        "userIp": {
            "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
            "location": "query",
            "type": "string"
        }
    },
    "protocol": "rest",
    "resources": {
        "batchReportDefinitions": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of available batch report definitions.",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.batchReportDefinitions.list",
                    "parameterOrder": [
                        "onBehalfOfContentOwner"
                    ],
                    "parameters": {
                        "onBehalfOfContentOwner": {
                            "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "batchReportDefinitions",
                    "response": {
                        "$ref": "BatchReportDefinitionList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        },
        "batchReports": {
            "methods": {
                "list": {
                    "description": "Retrieves a list of processed batch reports.",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.batchReports.list",
                    "parameterOrder": [
                        "batchReportDefinitionId",
                        "onBehalfOfContentOwner"
                    ],
                    "parameters": {
                        "batchReportDefinitionId": {
                            "description": "The batchReportDefinitionId parameter specifies the ID of the batch reportort definition for which you are retrieving reports.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        },
                        "onBehalfOfContentOwner": {
                            "description": "The onBehalfOfContentOwner parameter identifies the content owner that the user is acting on behalf of.",
                            "location": "query",
                            "required": true,
                            "type": "string"
                        }
                    },
                    "path": "batchReports",
                    "response": {
                        "$ref": "BatchReportList"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        },
        "reports": {
            "methods": {
                "query": {
                    "description": "Retrieve your YouTube Analytics reports.",
                    "httpMethod": "GET",
                    "id": "youtubeAnalytics.reports.query",
                    "parameterOrder": [
                        "ids",
                        "start-date",
                        "end-date",
                        "metrics"
                    ],
                    "parameters": {
                        "dimensions": {
                            "description": "A comma-separated list of YouTube Analytics dimensions, such as views or ageGroup,gender. See the Available Reports document for a list of the reports that you can retrieve and the dimensions used for those reports. Also see the Dimensions document for definitions of those dimensions.",
                            "location": "query",
                            "pattern": "[0-9a-zA-Z,]+",
                            "type": "string"
                        },
                        "end-date": {
                            "description": "The end date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.",
                            "location": "query",
                            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
                            "required": true,
                            "type": "string"
                        },
                        "filters": {
                            "description": "A list of filters that should be applied when retrieving YouTube Analytics data. The Available Reports document identifies the dimensions that can be used to filter each report, and the Dimensions document defines those dimensions. If a request uses multiple filters, join them together with a semicolon (;), and the returned result table will satisfy both filters. For example, a filters parameter value of video==dMH0bHeiRNg;country==IT restricts the result set to include data for the given video in Italy.",
                            "location": "query",
                            "type": "string"
                        },
                        "ids": {
                            "description": "Identifies the YouTube channel or content owner for which you are retrieving YouTube Analytics data.\n- To request data for a YouTube user, set the ids parameter value to channel==CHANNEL_ID, where CHANNEL_ID specifies the unique YouTube channel ID.\n- To request data for a YouTube CMS content owner, set the ids parameter value to contentOwner==OWNER_NAME, where OWNER_NAME is the CMS name of the content owner.",
                            "location": "query",
                            "pattern": "[a-zA-Z]+==[a-zA-Z0-9_+-]+",
                            "required": true,
                            "type": "string"
                        },
                        "max-results": {
                            "description": "The maximum number of rows to include in the response.",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        },
                        "metrics": {
                            "description": "A comma-separated list of YouTube Analytics metrics, such as views or likes,dislikes. See the Available Reports document for a list of the reports that you can retrieve and the metrics available in each report, and see the Metrics document for definitions of those metrics.",
                            "location": "query",
                            "pattern": "[0-9a-zA-Z,]+",
                            "required": true,
                            "type": "string"
                        },
                        "sort": {
                            "description": "A comma-separated list of dimensions or metrics that determine the sort order for YouTube Analytics data. By default the sort order is ascending. The '-' prefix causes descending sort order.",
                            "location": "query",
                            "pattern": "[-0-9a-zA-Z,]+",
                            "type": "string"
                        },
                        "start-date": {
                            "description": "The start date for fetching YouTube Analytics data. The value should be in YYYY-MM-DD format.",
                            "location": "query",
                            "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}",
                            "required": true,
                            "type": "string"
                        },
                        "start-index": {
                            "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter (one-based, inclusive).",
                            "format": "int32",
                            "location": "query",
                            "minimum": "1",
                            "type": "integer"
                        }
                    },
                    "path": "reports",
                    "response": {
                        "$ref": "ResultTable"
                    },
                    "scopes": [
                        "https://www.googleapis.com/auth/yt-analytics-monetary.readonly",
                        "https://www.googleapis.com/auth/yt-analytics.readonly"
                    ]
                }
            }
        }
    },
    "revision": "20140724",
    "rootUrl": "https://www.googleapis.com/",
    "schemas": {
        "BatchReportDefinitionList": {
            "description": "A paginated list of batchReportDefinition resources returned in response to a youtubeAnalytics.batchReportDefinitions.list request.",
            "id": "BatchReportDefinitionList",
            "properties": {
                "items": {
                    "description": "A list of batchReportDefinition resources that match the request criteria.",
                    "items": {
                        "$ref": "BatchReportDefinitionTemplate"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "youtubeAnalytics#batchReportDefinitionList",
                    "description": "This value specifies the type of data included in the API response. For the list method, the kind property value is youtubeAnalytics#batchReportDefinitionList.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchReportDefinitionTemplate": {
            "description": "Contains single batchReportDefinition resource.",
            "id": "BatchReportDefinitionTemplate",
            "properties": {
                "defaultOutput": {
                    "description": "Default report definition's output.",
                    "items": {
                        "properties": {
                            "format": {
                                "description": "Format of the output.",
                                "type": "string"
                            },
                            "type": {
                                "default": "cloudStorageOutput",
                                "description": "Type of the output.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "id": {
                    "description": "The ID that YouTube assigns and uses to uniquely identify the report definition.",
                    "type": "string"
                },
                "name": {
                    "description": "Name of the report definition.",
                    "type": "string"
                },
                "status": {
                    "description": "Status of the report definition.",
                    "type": "string"
                },
                "type": {
                    "description": "Type of the report definition.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchReportList": {
            "description": "A paginated list of batchReport resources returned in response to a youtubeAnalytics.batchReport.list request.",
            "id": "BatchReportList",
            "properties": {
                "items": {
                    "description": "A list of batchReport resources that match the request criteria.",
                    "items": {
                        "$ref": "BatchReportTemplate"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "youtubeAnalytics#batchReportList",
                    "description": "This value specifies the type of data included in the API response. For the list method, the kind property value is youtubeAnalytics#batchReportList.",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "BatchReportTemplate": {
            "description": "Contains single batchReport resource.",
            "id": "BatchReportTemplate",
            "properties": {
                "id": {
                    "description": "The ID that YouTube assigns and uses to uniquely identify the report.",
                    "type": "string"
                },
                "outputs": {
                    "description": "Report outputs.",
                    "items": {
                        "properties": {
                            "downloadUrl": {
                                "description": "Cloud storage URL to download this report. This URL is valid for 30 minutes.",
                                "type": "string"
                            },
                            "format": {
                                "description": "Format of the output.",
                                "type": "string"
                            },
                            "type": {
                                "default": "cloudStorageOutput",
                                "description": "Type of the output.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "report_id": {
                    "description": "The ID of the the report definition.",
                    "type": "string"
                },
                "timeSpan": {
                    "description": "Period included in the report. For reports containing all entities endTime is not set. Both startTime and endTime are inclusive.",
                    "properties": {
                        "endTime": {
                            "description": "End of the period included in the report. Inclusive. For reports containing all entities endTime is not set.",
                            "format": "date-time",
                            "type": "string"
                        },
                        "startTime": {
                            "description": "Start of the period included in the report. Inclusive.",
                            "format": "date-time",
                            "type": "string"
                        }
                    },
                    "type": "object"
                },
                "timeUpdated": {
                    "description": "The time when the report was updated.",
                    "format": "date-time",
                    "type": "string"
                }
            },
            "type": "object"
        },
        "ResultTable": {
            "description": "Contains a single result table. The table is returned as an array of rows that contain the values for the cells of the table. Depending on the metric or dimension, the cell can contain a string (video ID, country code) or a number (number of views or number of likes).",
            "id": "ResultTable",
            "properties": {
                "columnHeaders": {
                    "description": "This value specifies information about the data returned in the rows fields. Each item in the columnHeaders list identifies a field returned in the rows value, which contains a list of comma-delimited data. The columnHeaders list will begin with the dimensions specified in the API request, which will be followed by the metrics specified in the API request. The order of both dimensions and metrics will match the ordering in the API request. For example, if the API request contains the parameters dimensions=ageGroup,gender&metrics=viewerPercentage, the API response will return columns in this order: ageGroup,gender,viewerPercentage.",
                    "items": {
                        "properties": {
                            "columnType": {
                                "description": "The type of the column (DIMENSION or METRIC).",
                                "type": "string"
                            },
                            "dataType": {
                                "description": "The type of the data in the column (STRING, INTEGER, FLOAT, etc.).",
                                "type": "string"
                            },
                            "name": {
                                "description": "The name of the dimension or metric.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "type": "array"
                },
                "kind": {
                    "default": "youtubeAnalytics#resultTable",
                    "description": "This value specifies the type of data included in the API response. For the query method, the kind property value will be youtubeAnalytics#resultTable.",
                    "type": "string"
                },
                "rows": {
                    "description": "The list contains all rows of the result table. Each item in the list is an array that contains comma-delimited data corresponding to a single row of data. The order of the comma-delimited data fields will match the order of the columns listed in the columnHeaders field. If no data is available for the given query, the rows element will be omitted from the response. The response for a query with the day dimension will not contain rows for the most recent days.",
                    "items": {
                        "items": {
                            "type": "any"
                        },
                        "type": "array"
                    },
                    "type": "array"
                }
            },
            "type": "object"
        }
    },
    "servicePath": "youtube/analytics/v1/",
    "title": "YouTube Analytics API",
    "version": "v1"
}