name: Health
on:
  pull_request:
    branches: [ master ]
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  health:
    uses: dart-lang/ecosystem/.github/workflows/health.yaml@main
    with:
      sdk: stable
      checks: 'license,breaking,leaking,unused-dependencies'
      ignore_license: 'generated/**,_test_package/**'
      ignore_unuseddependencies: 'generated/**'
      upload_coverage: false
    permissions:
      pull-requests: write
