name: Verify Examples
on:
  push:
    branches:
    - main
    - master
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  verify_examples:
    runs-on: ubuntu-latest
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:${{ matrix.example_directory }}"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted;dart:dev
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@6a218f2413a3e78e9087f638a238f6b40893203d
      with:
        sdk: dev
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
    - run: |
        pushd discoveryapis_generator
        dart pub upgrade
        popd
    - run: tool/verify_examples_setup.sh
    - name: verify output
      run: |
        export DIFF_OUTPUT="$(git diff)"
        if [[ $DIFF_OUTPUT ]]; then
          echo "::error::Build needs to be re-run!"
          echo "::group::git diff"
          echo "$DIFF_OUTPUT"
          echo "::endgroup::"
          exit 1
        else
          echo "Build output is all good!"
        fi
