name: Verify Examples
on:
  push:
    branches:
    - main
    - master
  pull_request:
  schedule:
  - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  verify_examples:
    runs-on: ubuntu-latest
    steps:
    - name: Cache Pub hosted dependencies
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
      with:
        path: "~/.pub-cache/hosted"
        key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:${{ matrix.example_directory }}"
        restore-keys: |
          os:ubuntu-latest;pub-cache-hosted;dart:dev
          os:ubuntu-latest;pub-cache-hosted
          os:ubuntu-latest
    - uses: dart-lang/setup-dart@fedb1266e91cf51be2fdb382869461a434b920a3
      with:
        sdk: dev
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
    - run: |
        pushd discoveryapis_generator
        dart pub upgrade
        popd
    - run: tool/verify_examples_setup.sh
    - name: verify output
      run: |
        export DIFF_OUTPUT="$(git diff)"
        if [[ $DIFF_OUTPUT ]]; then
          echo "::error::Build needs to be re-run!"
          echo "::group::git diff"
          echo "$DIFF_OUTPUT"
          echo "::endgroup::"
          exit 1
        else
          echo "Build output is all good!"
        fi
